.ee-button,
.ee-button:active,
.ee-button:visited {
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 0 0 1em;
    background-color: var( --ee-color-light-blue, #00B1CA );
    background-image: linear-gradient(
        var( --ee-light-blue-background-gradient-x, #066DB1 ),
        var( --ee-light-blue-background-gradient-y, #00B1CA )
    );
    border: 1px solid var( --ee-color-black-01-transparency, rgba( 0,0,0,0.01 ) );
    border-top: 1px solid var( --ee-color-white-50-transparency, rgba( 255,255,255,0.5 ) );
    border-bottom: 1px solid var( --ee-color-black-25-transparency, rgba( 0, 0, 0, 0.25) );
    font-weight: normal;
    cursor: pointer;
    color: var( --ee-color-light-blue-foreground-contrast, #041525 );
    text-decoration: none;
    text-align: center;
    line-height: 1em;
    border-radius: 0;
    box-shadow: none;
}

.ee-button.with-hover:hover:not(.with-accessible-background,.with-accessible-foreground),
.ee-button.for-registration.with-hover:hover:not(.with-accessible-background,.with-accessible-foreground),
input.ee-button.for-registration.with-hover:hover:not(.with-accessible-background.with-accessible-foreground) {
    opacity: 0.5;
}

.ee-button:active { top:-1px; }

/* REGISTER BUTTON */

.ee-button.for-registration,
.ee-button.for-registration:active,
.ee-button.for-registration:visited {
    margin: 0;
    font-weight: bold;
    text-shadow: 0 -1px 0px var( --ee-color-black-25-transparency, rgba( 0, 0, 0, 0.25 ) );
}
input.ee-button.for-registration {
    float: right;
}


/* BUTTON SIZES */

.small.ee-button, .small.ee-button:visited {
    font-size: calc( var( --ee-font-size-small, 11 ) * 1px );
    padding: 5px 10px 5px;
}
.ee-button, .ee-button:visited,
.medium.ee-button, .medium.ee-button:visited {
    font-size: calc( var( --ee-font-size-medium, 13 ) * 1px );
    padding: 6px 12px 7px;
}
.large.ee-button, .large.ee-button:visited {
    font-size: calc( var( --ee-font-size-large, 14 ) * 1px );
    padding: 8px 16px 9px;
}
.huge.ee-button, .huge.ee-button:visited {
    font-size: calc( var( --ee-font-size-huge, 16 ) * 1px );
    padding: 14px 32px 16px;
}