/** -------------------------------------------------------------------------
 * Event Espresso Tickets List Grid View Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-tickets-list-grid-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: var(--ee-margin-smaller) 0 0;
}

.ee-editor-ticket-main {
    background: var(--ee-background-color);
    color: var(--ee-default-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: calc(var(--ee-font-size-default) * 12.5);
    padding: 0 0 0 calc(var(--ee-icon-button-size) + 8px);
    position: relative;
    overflow: hidden;
}

/* DATE DETAILS */

.ee-editor-ticket-details-wrapper-div {
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: var(--ee-font-size-small);
    justify-content: flex-start;
    min-width: calc(var(--ee-font-size-small) * 25);
    padding: var(--ee-padding-smaller) calc(var(--ee-padding-micro) * 36) var(--ee-padding-extreme) var(--ee-padding-smaller);
    text-align: center;
    width: 100%;
}

.ee-editor-ticket-name-heading,
.ee-editor-ticket-name-heading .ee-inline-edit-text {
    color: var(--ee-default-text-color);
    font-size: var(--ee-font-size-big) !important;
    font-weight: bold !important;
    line-height: var(--ee-font-size-big) !important;
    margin: var(--ee-margin-micro) 0 0 !important;
    min-height: var(--ee-font-size-bigger);
    overflow: hidden;
    padding: 0 0 var(--ee-padding-tiny) !important;
    text-overflow: ellipsis;
    width: 100%;
}
.ee-editor-ticket-name-heading.ee-long-title,
.ee-editor-ticket-name-heading.ee-long-title .ee-inline-edit-text {
    font-size: var(--ee-font-size-default) !important;
    line-height: var(--ee-font-size-default) !important;
}

.ee-editor-ticket-desc-div {
    color: var(--ee-default-text-color-high-contrast);
    font-size: var(--ee-font-size-smaller);
    margin: 0 0 var(--ee-margin-tiny);
    width: 90%;
}

.ee-editor-ticket-desc-div.ee-ticket-desc-excerpt span {
    display: block;
    max-height: var(--ee-font-size-huge);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ee-editor-ticket-desc-div.ee-ticket-desc-excerpt textarea {
    max-height: unset;
}

.ee-ticket-price,
.ee-ticket-price .ee-inline-edit-text {
    color: var(--ee-default-text-color-low-contrast) !important;
    font-size: var(--ee-font-size-big) !important;
    font-weight: bold !important;
    line-height: var(--ee-font-size-big) !important;
    margin: 0 !important;
    padding: 0 0 var(--ee-padding-tiny) !important;
    text-align: center;
}

.ee-editor-ticket-details-sold-rsrvd-qty-div {
    bottom: var(--ee-padding-micro);
    margin-left: calc(var(--ee-margin-tiny)*-1);
    position: absolute;
    z-index: 10;
}

.ee-editor-ticket-details-sold-rsrvd-qty-div .ticket-registrations-label{
    margin-left: calc(var(--ee-margin-micro)*-1);
}


.ee-tickets-list-grid-view .ee-editor-ticket-actions-menu {
    flex-direction: column;
    position: absolute;
    left: calc(var(--ee-padding-micro));
    top: calc(var(--ee-padding-micro));
}




/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
    .ee-tickets-list-grid-view {
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 1024px) {
}

/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
}

/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
}

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and ( max-width: 782px ) {
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
    .ee-editor-ticket-details-wrapper-div {
        font-size: var(--ee-font-size-smaller);
        min-width: calc(var(--ee-font-size-default) * 21.25);
    }

    .ee-editor-ticket-name-heading,
    .ee-editor-ticket-name-heading .ee-inline-edit-text {
        font-size: var(--ee-font-size-default) !important;
        line-height: var(--ee-font-size-default) !important;
    }

    .ee-editor-ticket-name-heading.ee-long-title,
    .ee-editor-ticket-name-heading.ee-long-title .ee-inline-edit-text {
        font-size: var(--ee-font-size-small) !important;
        line-height: var(--ee-font-size-small) !important;
    }

    .ee-editor-ticket-desc-div {
        font-size: var(--ee-font-size-tiny);
    }
}

@media only screen and (max-width: 480px) {
    .ee-editor-ticket-main {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 100%;
    }

    .ee-editor-ticket-details-wrapper-div {
        min-width: unset;
        padding: var(--ee-padding-tiny) var(--ee-padding-tiny) var(--ee-padding-smaller) var(--ee-padding-default);
    }

    .ee-editor-ticket-name-heading {
        max-height: unset;
    }

    .ee-editor-ticket-desc-div {
        margin-top: var(--ee-margin-smaller);
    }

    .ee-editor-ticket-details-sold-rsrvd-qty-div {
        bottom: unset;
        position: relative;
    }
}

@media only screen and (max-width: 360px) {
}
