/**
* Event Espresso dashboard administration styles
*
* Sections:
* 0. General styles - Events
* -0.1 Admin Site wide general
* -0.2 Structure
* -0.3 Donations
* -0.4 Contributors
* 1. Events Admin screens
* -1.1 General Settings screen
* -1.2 Overview screen
* -1.3 Manage events
* -1.4 Staff Manager
* -1.5 Questions
* -1.6 Question Groups
* -1.7 Categories
* -1.8 Disounts
* -1.9 Email manager
* -1.10 Template Settings
* -1.11 Calendar Settings
* -1.12 Payment Settings
* -1.13 Addons
* -1.14 Help/Support
* 2. Tables - gen styles
* -2.1 event management table
* -2.2 Assorted styles  - requires defining better
* 3. Forms
* -3.1 Add_new_events form elements
* -3.2 Manage Categories
* -3.3 form icon buttons
* 4. Messages / Help text / Alert boxes
* 5. Classes - general site wide
* 6. JS 3rd party scripts styles
*/

/* >General Styles
----------------------------------------------------------------------*/
/*___ Admin site wide general ___*/

#icon-options-event {
	background:url(../images/events_icon_32.png) no-repeat;
}
/* improve panels ul list spacing */
#post-body #post-body-content .metabox-holder {
	padding-top: 0;
}
.postbox .padding > ul > li {
	margin-bottom: 15px;
}
#side-info-column .postbox h3, #post-body-content .postbox h3 {
	font-weight: bold;
}
.postarea {
	margin-top: 20px;
}
.metabox-holder h4 {font-size: 1.3em;}
.metabox-holder h5 {font-size: 1.2em;}
.metabox-holder h6 {font-size: 1.1em;}
.metabox-holder h4, .metabox-holder h5, .metabox-holder h6 {margin: 1em 0;}
dt {font-weight: bold; margin: 15px 0 10px ;}

.validation-notice-dv { display:none; padding:0; margin:0; color:red; }
.requires-value { border:1px solid #FE2A00 !important; }

/*___ Structure ___*/

/*** 2 columns event admin area ***/

.col-container {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.col-left {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 39%;
	min-width:315px;
}
.col-right {
	float: right;
	clear: right;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 59%;
}
#copy-action {
	float:left;
}
.padding {
	padding:10px;
}
/*** Main Structure Styles ***/

div.box-mid-head {
	background:transparent url('../images/flo-head.jpg') repeat-x scroll 0 0;
	border:1px solid #DBDBDB;
	cursor:move;
	height:27px;
	text-align:right;
	width:100%;
}
div.box-mid-head h2 {
	color:#21759B;
	float:left;
	font-family:Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	height:24px;
	line-height:20px;
	margin:0;
	padding:3px 0 0 10px;
	text-align:left;
}
div.box-mid-head a:hover {
	border:medium none;
}
div.box-mid-head input {
	border:1px solid #CCCCCC;
}
div.box-mid-body {
	background:#F8F8F8 url('../images/white-pix.jpg') repeat-x center top;
	border:1px solid #dbdbdb;
	border-top: none;
	display:table;
	width:100%;
}
div.box-mid-body h3 {
	display:block;
	font-size:16px;
	font-weight:bold;
	margin:8px 0;
}
div#event_espresso-col-right {
	clear:none;
	float:left;
	margin:40px 0 0;
	position:absolute;
	right:1.3%;
	width:256px;
}
div.box-right {
	float:left;
	margin-bottom:20px;
}
div.box-right-head {
	background:transparent url('../images/flo-head.jpg') repeat-x 0 0;
	border:1px solid #DBDBDB;
	float:left;
	height:27px;
	width:256px;
}
div.box-right-head h3 {
	color:#21759B;
	float:left;
	font-family:Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	height:24px;
	line-height:20px;
	margin:0;
	padding:3px 0 0 10px;
	text-align:left;
}
div.box-right-body {
	background:#F8F8F8 url('../images/white-pix.jpg') repeat-x center top;
	border:1px solid #dbdbdb;
	border-top:0 none;
	float:left;
	width:256px;
}
div.box-right-body h4 {
	display:block;
	font-size:16px;
	font-weight:bold;
	margin:8px 0;
}
div.box-right-body ul {
	list-style-image:none;
	list-style-position:inside;
	list-style-type:none;
	margin:0;
}
div.box-right-body ul li strong {
	color:#454545;
	font-weight:bold;
}
/*___ Donations Section Styles ___*/

.event_espressodonation-box p {
	padding:0;
	margin:-4px 0 15px 0;
	line-height:22px;
}
.event_espressodonation-box label {
	font-weight:bold;
	color:#333;
	font-size:10px;
}
.event_espressodonation-box span {
	font-weight:normal;
}
.event_espressodonation-box .payment {
	border-color:#bbb;
	color:#464646;
	width:160px;
	display:block;
	height:28px;
	margin:45px auto 0;
	padding-bottom:2px;
}
.event_espressodonation-box .payment:hover {
	border-color:#666;
	color:#000;
}
#no-sponsors {
	position:relative;
	top:-70px;
}
/*___ Top Contributors Section ___*/

ul.sexy-contributors {
	counter-reset:cnt;
	list-style-type:none;
	margin:0;
}
ul.sexy-contributors li {
	display:block;
	counter-increment:cnt;
	line-height:10px;
	margin:10px 0 32px 0;
}
ul.sexy-contributors li.last {
	margin-bottom:10px;
}
ul.sexy-contributors li p {
	line-height:10px;
	margin:0;
	text-indent:5px;
}
ul.sexy-contributors li:before {
	color:#D5D5D5;
	content:counter(cnt, decimal-leading-zero);
	font-family:"Courier New", monospace;
	font-size:26px;
	font-weight:bold;
	width:20px;
}
ul.sexy-contributors li:hover:before {
	color:#21759B;
}
ul.sexy-contributors li a {
	color:#57717F;
	display:block;
	margin:-14px 0 0 33px;
	text-decoration:none;
}
ul.sexy-contributors li:hover a {
	color:#21759B;
	font-weight:bold;
}
/* >Events Admin screens
----------------------------------------------------------------------*/

/*___ General Settings screen ___*/
#post-body p.intro { /* explanatory text for meta boxes */
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0;
}
/*p.submit-footer {
	background: #f9f9f9;
	border: 1px solid #e0e0e0;
	padding: 1px 0;
}*/
/*** Organization ***/

/* time settings */
li.time-date .run-in {
	padding-right: 10px;
}
.current-date { color:#d54e21; margin-left:5px; }
.change-date-time { margin: 8px 15px 5px;
}
#post-body #payment-conf-email {/*postbox*/
	margin-bottom: 30px;
}
/***  recaptcha settings ***/

.admin-recaptcha-settings-tr {
	display:none;
}

/*___ Overview screen ___*/

ul.ee_subsubsub {
	clear:both;
}
ul.ee_subsubsub.first{
	clear:both;
	margin-top:0px;
}
ul.ee_subsubsub + ul.ee_subsubsub {
	margin-bottom: 20px;
}
div.tablenav {
	clear: both;
	line-height: 1.4;
	min-height: 30px;
	height: auto;
}

.manage-column.column-id {
	width: 30px;
}

.manage-column.column-status {
	width: 80px;
}


.manage-column.column-attendees {
	width: 100px;
}

.button.add-new-h2 {
	margin-left: 15px;
}

select.wide {
	margin-right: 10px;
}

/*** Add new events / Edit events ***/

#event_editor_major_buttons_wrapper{
    border-top: medium none;
    clear: both;
    padding: 10px 0 8px;	
}
#save-event-floating-btns-spacer {
	height:45px;
}
#event-editor-floating-save-btns {
	position:fixed; top:0px; right:15px;
	padding: 35px 11px 10px 11px;
	background:rgba(255,230,0,.2);
}

/*#event_editor_major_buttons_wrapper input, #event_editor_major_buttons_wrapper a {
	padding: 3px;
	margin: 5px 0;
}*/

#event_editor_major_buttons_wrapper .delete-event {
	/*background-image: url('../images/red-button-grad.png');*/
	background:#D54E21;
	border:1px solid #D54E21;
	color:#fff; text-shadow:none;
}
#event_editor_major_buttons_wrapper .delete-event:hover {
	border-color:#A41200;
}

.remove-item { cursor: pointer; vertical-align: middle; }

.small-screen-table-label { display:none; }
#event-dates-and-times { }
#event-dates-and-times .dtm-picker { width:200px;  }

@media only screen and (max-width: 1425px) { #event-dates-and-times .dtm-picker { width:175px; } }
@media only screen and (max-width: 1325px) { #event-dates-and-times .dtm-picker { width:150px; } }
@media only screen and (max-width: 1225px) { #event-dates-and-times .dtm-picker { width:125px; } }
@media only screen and (max-width: 1125px) {
	/* Force table to not be like tables anymore */
	#event-dates-and-times, 
	#event-dates-and-times thead, 
	#event-dates-and-times tbody, 
	#event-dates-and-times th, 
	#event-dates-and-times td, 
	#event-dates-and-times tr { 
		display: block; 
	}
	
	/* Hide table headers */
	#event-dates-and-times thead tr {  display:none; }
	/* Display replacements for table headers */
	.small-screen-table-label { display:inline-block; float:left; width:30%; padding-right: 15px; text-align:right; }	
	#event-dates-and-times tr { padding-bottom:5px; margin-bottom:5px; border-bottom: 1px solid #eee;  }	
	#event-dates-and-times td { padding-bottom:5px; }
	#event-dates-and-times .dtm-picker { width:175px; }
}
@media only screen and (max-width: 850px) {
	/* Force tables back into tables */
	#event-dates-and-times { display:table; }	
	#event-dates-and-times thead { display:table-header-group; }
	#event-dates-and-times tbody { display:table-row-group; }
	#event-dates-and-times tr { display:table-row; }
	#event-dates-and-times th { display:table-cell; }
	#event-dates-and-times td { display:table-cell; }
	
	/* Display replacements for table headers */
	.small-screen-table-label { display:none; }	
	#event-dates-and-times tr { padding:0; margin:0; border: none;  }	
	#event-dates-and-times td { padding:1px; }
	#event-dates-and-times .dtm-picker { width:150px; }
}
@media only screen and (max-width: 768px) {
	#event-dates-and-times .dtm-picker { width:100%; }
}

#event-dates-and-times .dtm-inp.small-text { width:75px; }


/*#event-date-time .recurring-available {
	bottom: -10px;
	clear: both;
	left: 0;
	position: relative;
}
#event-date-time .recurring-available a:hover {
	color: #C8AE34;
}
#recurring_event_wrapper .ui-corner-all {
	margin-bottom: 5px;
}
.recurring_events_details p span {
	display: block;
	margin: 5px 0;
}*/


/*  TICKET PRICES  */

#no-ticket-prices-msg-dv {
	padding: 0 0.6em; margin: 1em 0; background-color: #FFEBE8; border: 1px solid #CC0000; border-radius: 3px 3px 3px 3px; color: #333;
}
#no-ticket-prices-msg-dv p { padding: 2px; margin: 0.5em 0; }

.event-price-settings-dv {
	padding:5px 60px 10px 15px; margin:10px 0 20px; 
	background:#fcfcfc; border:1px solid #eee; border-radius:5px;
}

.cancel-event-price-btn {
	display:inline-block; float:right; position:relative; top:5px; right:-50px; padding:3px 6px; 
	background:#fff; border:1px solid #dfdfdf; border-radius:3px;
	color:#666; cursor:pointer;
}
.cancel-event-price-btn:hover { border-color:#D54E21; }

.inactice-price { margin-right:1em; color:#CE9B8B; }

.price-date-status-img {
	 position:relative; top:5px; left:4px;
}
.input-disabled { color:#999 !important; }


#ticket-prices-dv .event-price-settings-dv td { padding:10px 5px; vertical-align:middle; }

.event-price-tbl-hdr-type { width:17.5%; padding:0 .5em; }
.event-price-tbl-hdr-order { width:4%; text-align:center; }
.event-price-tbl-hdr-name { width:17.5%; padding:0 .5em; }
.event-price-tbl-hdr-amount { width:100px; text-align:center; }
.event-price-tbl-hdr-actions { width:55px; text-align:center; }
.event-price-tbl-hdr-desc { padding:0 .5em; }

.evt-prc-btn  { display:inline-block; position:relative; width:16px; height:16px; margin-right:10px; cursor:pointer; }
.jst-left { text-align:left; }
.jst-cntr { text-align:center; }
.jst-rght { text-align:right; }

.ticket-price-quick-edit-tbl .type-column { width:17.5%; height:2.5em; }
.ticket-price-quick-edit-tbl .order-column { width:4%; height:2.5em; text-align:center; }
.ticket-price-quick-edit-tbl .name-column { width:17.5%; height:2.5em; }
.ticket-price-quick-edit-tbl .amount-column { width:100px; height:2.5em; text-align:right; }
.ticket-price-quick-edit-tbl .amount-column .cur-sign { display:inline-block; width:20px; margin-top:4px; }
.ticket-price-quick-edit-tbl .amount-column input { width:50px; }
.ticket-price-quick-edit-tbl .amount-column .percent-sign { display:inline-block; width:20px; margin-top:4px; }
.ticket-price-quick-edit-tbl .edit-column { width:55px; height:2.5em; vertical-align:middle; text-align:center; }
.ticket-price-quick-edit-tbl .desc-column { height:2.5em; }
.ticket-price-quick-edit-tbl .desc-column .small-screen-table-label { vertical-align:top; }
.ticket-price-quick-edit-column input { position:top; left:0; top:0; width:100%; min-width:20px; vertical-align:top; }

.edit-ticket-price-input { vertical-align:top; }
.edit-ticket-price-radio-lbl { margin-right:15px; vertical-align:top; }

@media only screen and (max-width: 1125px) {
	/* Force table to not be like tables anymore */
	.ticket-price-quick-edit-tbl, 
	.ticket-price-quick-edit-tbl thead, 
	.ticket-price-quick-edit-tbl tbody, 
	.ticket-price-quick-edit-tbl th, 
	.ticket-price-quick-edit-tbl td, 
	.ticket-price-quick-edit-tbl tr { 
		display: block; 
	}
	
	/* Hide table headers */
	#event_editor_pricing thead tr {  display:none; }
	/* Display replacements for table headers */
	.ticket-price-quick-edit-tbl tr { padding-bottom:5px; margin-bottom:10px; border-bottom: 1px solid #eee;  }	

	.ticket-price-quick-edit-tbl .type-column,
	.ticket-price-quick-edit-tbl .order-column,
	.ticket-price-quick-edit-tbl .name-column,
	.ticket-price-quick-edit-tbl .amount-column,
	.ticket-price-quick-edit-tbl .edit-column,
	.ticket-price-quick-edit-tbl .desc-column { width:100%; padding-bottom:5px; text-align:left; }
	.ticket-price-quick-edit-tbl .amount-column .cur-sign { width:auto; }

	.order-column input { width: 35px !important; position:relative; left:0; top:-4px; }
	.name-column input { width: 175px !important; position:relative; left:-4px; top:-3px; }	
	.description { display:inline-block; width: 65% !important; }	
	.evt-prc-btn { top: 4px; }
	
	.event-price-settings-dv { padding-right:20px; }
	.cancel-event-price-btn { right:0; }
	.event-price-settings-dv th { width:17.5% !important; }	
	
	.event-price-settings-dv .edit-ticket-price-input { /*width:100% !important; */}	
/*	.event-price-settings-dv .edit-ticket-price-input { width: 200px !important; }	*/

}
@media only screen and (max-width: 850px) {

	/* Force tables back into tables */
	.ticket-price-quick-edit-tbl { display:table; }	
	.ticket-price-quick-edit-tbl thead { display:table-header-group; }
	.ticket-price-quick-edit-tbl tbody { display:table-row-group; }
	.ticket-price-quick-edit-tbl tr { display:table-row; }
	.ticket-price-quick-edit-tbl th { display:table-cell; }
	.ticket-price-quick-edit-tbl td { display:table-cell; }
	#event_editor_pricing thead tr {  display:table-header-group !important; }
	
	/* Display replacements for table headers */
	.ticket-price-quick-edit-tbl tr { padding:0; margin:0; border: none;  }	
	.ticket-price-quick-edit-tbl td { padding:1px; }
	
	#event_editor_pricing .ticket-price-quick-edit-tbl .type-column { width:17.5%!important; height:2.5em; padding:0 .5em; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .order-column { width:4%; height:2.5em; text-align:center; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .name-column { width:17.5%; height:2.5em; padding:0 .5em; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .name-column input { width: 125px !important; }	

	#event_editor_pricing .ticket-price-quick-edit-column.amount-column { width:100px!important; height:2.5em; text-align:right; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .amount-column .cur-sign { display:inline-block; width:20px; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .amount-column input { width:50px; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .amount-column .percent-sign { display:inline-block; width:20px; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .edit-column { width:55px; height:2.5em; vertical-align:middle; text-align:center; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .desc-column { width:auto; height:2.5em; padding:0 .5em; }
	
	.order-column input { width: 35px !important; left:0px; top:0px;  }
	.name-column input { width: 175px !important; }	
	.amount-column input { width: 50px !important; }	
	.description { display:inline-block; width:auto !important; }	

}


#event-pricing fieldset ul {
	margin-top: 5px;
	padding-left: 0;
}
#event-pricing td#standard-pricing ul {
	margin-right: 5px;
}
#event-pricing fieldset ul li {
	border: 1px solid #bebebe;
	padding: 4px;
}
#event-location fieldset ul {
	margin-top: 5px;
	padding-left: 0;
}
#event-location fieldset ul li {
	border: 1px solid #bebebe;
	padding: 4px;
}
.use-ven-manager {
	width: 50%;
	vertical-align: top;
}
.manual-venue {
	width: 33.3%;
}
.use-ven-manager table {
	width:99%;
}
.use-ven-manager textarea, .use-ven-manager select, .use-ven-manager input, .use-ven-manager .eebox ul, .use-ven-manager fieldset#venue-manager select, .use-ven-manager fieldset#venue-manager .eebox ul, .manual-venue #url-event, .manual-venue input {
	width: 80%;
}
.use-ven-manager #venue-manager label {
	margin: 5px 0;
}
.use-ven-manager .address-view p span {
	display: inline-block;
	font-weight: bold;
	width: 6em;
}
#confirmation-email .email-conf-opts {
	float: left;
	margin-bottom: -20px;
	width: 50%;
}
#set-featured-image #image-display img {width: 100%;}

/*#ticket-manager-dv {
	position:absolute; top:-500px; width:96%; height:auto; padding:1%; z-index:100;
	background:#fff; border:2px solid #ddd; border-radius: 3px;
	-webkit-box-shadow: 4px 10px 15px -3px rgba(0,0,0,.3), 1px 4px 2px -5px rgba(0,0,0,.9), -1px 1px 5px rgba(0,0,0,.1); 
	-moz-box-shadow:4px 10px 15px -3px rgba(0,0,0,.3), 1px 4px 2px -5px rgba(0,0,0,.9), -1px 1px 5px rgba(0,0,0,.1); 
	box-shadow:4px 10px 15px -3px rgba(0,0,0,.3), 1px 4px 2px -5px rgba(0,0,0,.9), -1px 1px 5px rgba(0,0,0,.1);
}*/









/*___ Venue Manager & Staff ___*/

#add-edit-venue table ul, #add-edit-staff table ul {
	background: #f9f9f9;
	border: 1px solid #e0e0e0;
	padding: 1%;
}
/*___ Questions & question groups___*/
#add-edit-new-group #table-edit-group td {
	}
#add-edit-new-group td ul {
	background: #f9f9f9;
	border: 1px solid #e0e0e0;
	padding: 1%;
	width: 97%;
}
#add-edit-new-group td.b ul {
	float: right;
}
#add-edit-new-group td.b  ul + ul {
	margin-top: 5px;
	}
#add-edit-new-group td li p {
	font-weight: bold;
}
#add-edit-new-group td.b li p:first-child {
	margin-top: 0;
}
#add-edit-new-group td li p span {
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
 display:block;
	}
#add-edit-new-group .hndle span {
	font-style: italic;
	color: #8B9681;
	padding: 0 5px;
}
/*___ Categories___*/

#add-edit-categories .inside p.add-cat-name {
	margin-top: 20px;
}
#add-edit-categories .section-quest {
	font-weight: bold;
	padding-top: 10px;
}
#categorydescriptiondivrich {
	margin-top: 20px;
}
/*** Editor Styles (email settings panel) ***/
#edit-slug-box {
	height: 2.5em;
}
/* toggle tabs & gen editor styles */
.postbox .wp_themeSkin table.mceLayout {
	border: 1px solid #dfdfdf;
}
.postbox .postbox {
	border: none;
}
#post-body .visual-toggle {
	clear: both;
	margin-bottom:0;
}
.postarea .visual-toggle {
	margin-top: -30px;
}
#post-body .visual-toggle p {
	float: right;
	margin: 0;
	padding-right: 15px;
	overflow: visible;
}
#post-body .visual-toggle p a {
	padding-bottom: 0;
}
#post-body .visual-toggle p a {
	background: #eee;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	border: 1px solid #ccc;
	border-bottom: none;
	cursor: pointer;
	display: inline-block;
	height: 18px;
	margin-left: 3px;
	padding: 4px 8px 2px;
}
#post-body .visual-toggle p a.selected {
	background: #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	z-index: 50;
}
#post-body .postbox {
	background: #fff;
	clear: both;
	margin-bottom: 10px;
}
#post-body .postbox.visHTML {
	background: #e8e8e8;
	border-top: 1px solid #ccc;
	-moz-box-shadow: inset 0 0 #ddd;
	-webkit-box-shadow: inset 0 0 #ddd;
	box-shadow: inset 0 0 #ddd;
}
#post-body .postbox.visHTML textarea {
	background: #fff;
	font-family: Georgia, "Bitstream Charter", serif;
	font-size: 16px;
	margin-top: 5px;
	width:99.9%;
}
textarea#event_desc, textarea#conf_mail, #category_desc_new, textarea#description, textarea#email_text, textarea#category_desc{
	width: 100%;
	border-color: #dfdfdf;
}
textarea#conf_mail, .postbox textarea.std-textarea {
	color: #000;
	min-height: 150px;
}
#email-confirmation-form, #payment-confirmation-form, #cat-descr-add-form, #venue-descr-add-form, #staff-descr-add-form, #staff-descr-edit-form, #manage-event-email-form {
	border-width: 0 1px 1px;
	border-style: none solid solid;
	width: 100%;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
	-khtml-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-color: #dfdfdf;
}
#email-confirmation-form td, #payment-confirmation-form td, #cat-descr-add-form td, #staff-descr-add-form td #staff-descr-edit-form td, #manage-event-email-form td {
	font-size: 11px;
}
.autosave-info {
	padding: 6px 2px;
	text-align: left;
}
#editorcontent #email-confirmation-form, #editorcontent #payment-confirmation-form, #editorcontent #cat-descr-add-form {
	border: none;
}
#email-confirmation-form, #payment-confirmation-form, #cat-descr-add-form, #venue-descr-add-form, #staff-descr-add-form, #staff-descr-edit-form, #manage-event-email-form {
	background-color: #ededed;
}
.aer-word-count {
	margin-right: 10px;
}
/*** sidebar add_new & edit_event screens ***/
#side-sortables a.ev_reg-fancylink img {
	margin: 5px 0 0 3px;
}
.event-questions-lists .inside {
	padding-bottom: 15px;
}
.toplevel_page_events #side-sortables p {
	overflow: hidden;
	width: 220px;
}
.toplevel_page_events #side-sortables p label {
	float: left;
	line-height: 2.5;
}
.toplevel_page_events #side-sortables .event-staff-list label {
	line-height: 1.6;
}
.toplevel_page_events #side-sortables p span {
	clear: left;
	float: left;
}
.toplevel_page_events #side-sortables p input, .toplevel_page_events #side-sortables p select {
    float: right;
}
.toplevel_page_events #side-sortables p span.question {
	float: none;
	clear: none;
}
.toplevel_page_events #side-sortables p input {
	float: right;
}
#side-sortables p select#mailchimp-lists {
	width: 220px;
}
.toplevel_page_events #side-sortables p.inputunder {
	width: 250px;
}
.toplevel_page_events #side-sortables p.inputunder select, .toplevel_page_events #side-sortables p.inputunder input {
	float: none;
	width: 220px;
}
.toplevel_page_events #side-sortables p .ev_reg-fancylink {
	height: 20px;
}
#side-sortables #event-discounts p.promo-amnts {
	width: auto;
}
#side-sortables #event-discounts p.promo-amnts label, #side-sortables #event-discounts p.promo-amnts input, #side-sortables #event-discounts p.promo-amnts select, #side-sortables #attendee-pre-approval-options .pre-approve select.toplevel_page_events #side-sortables p, #side-sortables #event-categories label.selectit, #side-sortables #event-discounts label.selectit, #side-sortables .event-staff-list label.selectit {
	float: none;
}
#side-sortables #event-discounts p.promo-amnts span {
	float: none;
	clear: none;
}
#side-sortables #event-categories p, #side-sortables #event-discounts p.event-disc-code {
	width: 150px;
}
#side-sortables #event-categories p input, #side-sortables #event-discounts p input,
#side-sortables #event-questions input {
	margin: 0 5px 0 0;
	verticle-align: top;
}

/*___ Template Settings ___*/

#template-settings-form {}
fieldset.template-settings {}
#template-settings-form fieldset.template-settings legend {
	font-size: 120%;
	margin-bottom: 10px;
}
fieldset.b {}
#template-settings-form fieldset.b input {
	width: 80%;
}
div#gmap-reg-events,
div#gmap-list-events {
	float:left;
	margin-left: 1%;
	width: 46%;
}
div#gmap-reg-events {float: right; }
div#gmap-list-events {border-right: 1px solid #ccc;}
div#gmap-reg-events { padding-left: 3%;}
#template-settings-form .template-gen-settings .submit-buttons {clear: left;}
#template-settings-form .template-gen-settings p.radio-sets input {width: auto;}

/*___ Venue Manager ___*/

/*___ Payment Settings ___*/


#payment-gateways-settings-ul li { margin:0; }
.event-espresso_page_payment_gateways .user-add-images {
	clear: left;
	display: block;
	margin: 3px 0 0 2px ;
	text-decoration: none;
	vertical-align: top;
}
.gateway-checkbox-options { margin-right:2em; vertical-align:middle; }
.gateway-checkbox-options input { position:relative; vertical-align:middle; }

/*___ Help & Support ___*/

.localhost-information,
.support-tokens,
.install-options,
.shortcode-box {
	margin: 10px 0;
}
.support-tokens,
.install-options{
	background: #F7F7F7;
	padding:10px;
}
.shortcode-box {
	width: 86%;
}
.localhost-information {
	padding: 10px;
	width: 600px;
}
.localhost-information dd {

	padding: 5px 0 5px 5px;
}
.support-tokens span.price,
.install-options span.price {
	font-weight:  bold;
}
.support-prices {
	overflow: hidden;
	width: 180px;
}
.support-prices span {line-height: 23px;}
.support-prices img {float:right;}
#post-body .help-support li ul li {
	background: #F7F7F7;
	line-height: 1.4;
	margin: 1em 10px .5em 0 ;
	padding: 3px 0 3px 5px;
}
#post-body .help-support .highlight, .postbox .highlight{
	background: #E9F0FD;
	font-weight: normal;
	padding: 3px 5px;
	margin-left:1px;
}
#post-body #quick-links li {
	background: none;
}
#quick-links li a {
	font-size: 1.2em;
}
ul#quick-links ul{
	padding-left: 20px;
}
.email-settings-img {
	margin: 10px;
}
#post-body .help-support .emails-not-sent {
	margin: 40px 0;
}
#faqs dd {
	border-bottom: 1px solid #bebebe;
}
/* >Tables
----------------------------------------------------------------------*/
/*** Generic site wide ***/
.wp-admin table.widefat table td {
	padding: 4px;
}
.form-table th.middle {vertical-align: middle;}
/** override WP default styles
hidding form controls - permissions screen only **/
#configure_espresso_manager_form .widefat td {
 overflow: visible;
	padding: 6px 2px;
	vertical-align: middle;
}
#configure_espresso_manager_form table.widefat {
	margin: 1% auto;
	width: 98% !important;
}
#table_wrapper {
	font-size:11px;
	overflow: hidden;
	padding-bottom: 20px;
}
table#table,
table.ee-tables {
	margin-top: 10px;
	width: 100%;
}
table {
	font-size: 12px;
	line-height: 1.4em;
}
/*___ Event management main listings ___*/

table.event-list td.column-comments {
	padding-top: 3px;
}
table.event-list td.check-column {
	padding: 5px 8px 9px 7px;
}
table.event-list .re_fr {
	vertical-align: top;
}
/*** Add New Event ***/

#event-date-time td.a {
	position: relative;
}
#event-date-time td.a, #event-date-time td.b {
	width: 50%;
}
#event-pricing td.a ul#dynamicPriceInput {
	width: 50%;
}
#event-pricing .members-active td.a {width: 50%;}
#event-pricing .members-active td.a ul#dynamicPriceInput {
	width: auto;
}
#set-featured-image .event-featured-thumb img,
#set-featured-image .show-selected-image {
	width: 100%;
	height: auto;
}
#set-featured-image .old img {
	opacity: 0.4;
	width: 150px;
	height: auto;
}
#set-featured-image #remove-image {
	background: url(../images/error.png) no-repeat 0 50%;
	padding-left: 20px;
}
/*___ Venue Manager ___*/

#add-edit-venue td.b, #add-edit-venue td.b {width: 50%;}
#add-edit-venue td.a ul {margin-right: 1%;}
/*___ Questions / Question Groups ___*/

#add-edit-new-group td.a, #add-edit-new-group td.b {
	width: 50%;
}
td.checkboxcol {width: 10%;}
/*___  Assorted table styles (requires sorting & defining better)   ___*/

table.event-regis-dboard-summary {
	/*border-collapse: collapse;*/
 border: 1px solid #eeeeee;
	margin: 10px 1px 1px 1px;
}
table.event-regis-dboard-summary td, table.event-regis-dboard-summary th {
	padding: 3px;
	font-weight: normal;
}
table.event-regis-dboard-summary thead tr {
	background: #EBEBEB;
	font-size: 12px;
}
table.event-regis-dboard-summary tbody td {
	text-align: center;
}
p.event-regis_sub {
	color:#777777;
	font-style:italic;
	font-family:Georgia, serif;
	margin:-10px;
	font-size:12px;
}
/** Calendar Settings ***/
#calendar-header {
	background-color: #6699CC;
	margin: auto;
	width: 100%;
	padding-top: 2px;
}
#calendar-header .closeme {
	padding: 0px 3px 2px 0px;
}
#calendar-body {
	padding-bottom: 3px;
	background-color: #6699CC;
	margin: auto;
	width: 100%;
}
#calendar-body .general {
	background-color: #FFFFFF;
}
#calendar-body .othermonth {
	background-color: #EEEEEE;
	color: #AAAAAA;
}
#calendar-body .header {
	background-color: #6699CC;
	color: #FFFFFF;
}
#calendar-body .today {
	background-color: #FFFFCC;
}
#calendar-body .bg {
	background-color: #6699CC;
}
#calendar-body .select {
	background-color: #FFCC99;
}
#calendar-body .othermonth a:link {
	text-decoration : none;
	font-family: tahoma;
	color: #CCFFCC;
}
#calendar-body .othermonth a:visited {
	text-decoration : none;
	font-family: tahoma;
	color: #CCFFCC;
}
#calendar-body .othermonth a:hover {
	text-decoration : underline;
	font-family: tahoma;
	color: #FFFFFF;
}
#calendar-body a:link {
	text-decoration : none;
	font-family: tahoma;
	color: #000000;
}
#calendar-body a:visited {
	text-decoration : none;
	font-family: tahoma;
	color: #000000;
}
#calendar-body a:hover {
	text-decoration : underline;
	font-family: tahoma;
	color: #FF0000;
}
#calendar-body .disabledate {
	color: #669999;
}
#calendar-footer {
	background-color: #CCCCCC;
	border: 0px solid #000000;
	width: 100%;
	margin: auto;
}
#calendar-footer .btn {
	line-height: 21px;
}
#calendar-footer .btn a:link {
	text-decoration : none;
	font-family: tahoma;
	color: #000000;
}
#calendar-footer .btn a:visited {
	text-decoration : none;
	font-family: tahoma;
	color: #000000;
}
#calendar-footer .btn a:hover {
	text-decoration : underline;
	font-family: tahoma;
	color: #FF0000;
}
#calendar-header, #calendar-body, #calendar-footer {
	padding-left: 1px;
	padding-right: 1px;
}
#calendar-container {
	background-color: #6699CC;
}
.tcday, .tcmonth, .tcyear {
	font-size: 11px;
}
.date-tccontainer {
	border: 1px solid #cccccc;
	background-color: #efefef;
	padding: 2px;
}
/*** Table Sorting ***/

#tableheader {
	height:55px
}
.search {
	float:left;
	padding:6px;
	border:1px solid #c6d5e1;
	background:#fff
}
#tableheader select {
	float:left;
	font-size:12px;
	width:125px;
	padding:2px 4px 4px
}
#tableheader input {
	float:left;
	font-size:12px;
	width:225px;
	padding:2px 4px 4px;
	margin-left:4px
}
.details {
	float:right;
	padding-top:12px
}
.details div {
	float:left;
	margin-left:15px;
	font-size:12px
}
.tinytable {
	width:100%;
	border-left:1px solid #c6d5e1;
	border-top:1px solid #c6d5e1;
	border-bottom:none;
	line-height:normal;
	border-collapse:collapse;
}
.tinytable th {
	background:url(images/header-bg.gif);
	text-align:left;
	color:#cfdce7;
	border:1px solid #fff;
	border-right:none
}
.tinytable th h3 {
	font-size:10px;
	padding:6px 8px 8px;
	margin:0;
}
.tinytable td {
	padding:4px 6px 6px;
	border-bottom:1px solid #c6d5e1;
	border-right:1px solid #c6d5e1;
}
.tinytable .head h3 {
	background:url(images/sort.gif) 7px center no-repeat;
	cursor:pointer;
	padding-left:18px;
	margin:0;
}
.tinytable .desc, .sortable .asc {
	background:url(images/header-selected-bg.gif)
}
.tinytable .desc h3 {
	background:url(images/desc.gif) 7px center no-repeat;
	cursor:pointer;
	padding-left:18px;
	margin:0;
}
.tinytable .asc h3 {
	background:url(images/asc.gif) 7px center no-repeat;
	cursor:pointer;
	padding-left:18px;
	margin:0;
}
.tinytable .head:hover, .tinytable .desc:hover, .tinytable .asc:hover {
	color:#fff
}
.tinytable .evenrow td {
	background:#fff
}
.tinytable .oddrow td {
	background:#ecf2f6
}
.tinytable td.evenselected {
	background:#ecf2f6
}
.tinytable td.oddselected {
	background:#dce6ee
}
.tinytable tfoot {
	background:#fff;
	font-weight:bold
}
.tinytable tfoot td {
	padding:6px 8px 8px
}
#tablefooter {
	height:15px;
	margin-top:20px
}
#tablenav {
	float:left
}
#tablenav img {
	cursor:pointer
}
#tablenav div {
	float:left;
	margin-right:15px
}
#tablelocation {
	float:right;
	font-size:12px
}
#tablelocation select {
	margin-right:3px
}
#tablelocation div {
	float:left;
	margin-left:15px
}
.page {
	margin-top:2px;
}
#selectedrow td {
	background: #FFC
}
div .row-actions {
	font-size: 10px !important;
}
#tooltip {
	position: absolute;
	display: none;
	border: 1px solid #333;
	background: #BDCDFF;
	padding: 5px 20px;
	color: #333;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#table tr.even {
	background: #F5F5F5;
}
#table_length, #table_filter {
	float: left;
	margin: 0 20px 10px 0;
}
#table_info {
	float:left;
	margin: 10px 20px 0 0;
}
.dataTables_paginate {
	float: right;
	text-align: right;
	margin-top:5px;
}
/*** Pagination nested ***/

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}
.paginate_disabled_previous {
	background-image: url(images/back_disabled.jpg);
}
.paginate_enabled_previous {
	background-image: url(images/back_enabled.jpg);
}
.paginate_disabled_next {
	background-image: url(images/forward_disabled.jpg);
}
.paginate_enabled_next {
	background-image: url(images/forward_enabled.jpg);
}
.example_alt_pagination div.dataTables_info {
	width: 40%;
}
.paging_full_numbers .paginate_button,  .paging_full_numbers .paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
 *cursor: hand;
}
.paging_full_numbers .paginate_button {
	background-color: #ddd;
}
.paging_full_numbers .paginate_button:hover {
	background-color: #ccc;
}
.paging_full_numbers .paginate_active {
	background-color: #99B3FF;
}
table.display tr.even.row_selected td {
	background-color: #B0BED9;
}
table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}
.ColVis {
	float: right;
	margin-bottom: 1em;
}
.ColVis_Button {
	position: relative;
	float: left;
	margin-right: 3px;
	padding: 3px 5px;
	height: 23px !important;
	background-color: #fff;
	border: 1px solid #d0d0d0;
	cursor: pointer;
 *cursor: hand;
}
button.ColVis_Button::-moz-focus-inner {
 border: none !important;
 padding: 0;
}
.ColVis_text_hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}
div.ColVis_collectionBackground {
	background-color: black;
	z-index: 1100;
}
div.ColVis_collection {
	position: relative;
	width: 160px;
	background-color: #f3f3f3;
	padding: 3px;
	border: 1px solid #ccc;
	z-index: 1102;
}
div.ColVis_collection button.ColVis_Button {
	background-color: white;
	width: 100%;
	float: none;
	margin-bottom: 2px;
}
div.ColVis_catcher {
	position: absolute;
	z-index: 1101;
}
.disabled {
	color: #999;
}
button.ColVis_Button {
	text-align: left;
}
div.ColVis_collection button.ColVis_Button:hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}
span.ColVis_radio {
	display: inline-block;
	width: 20px;
}
.dataTables_paginate {
	margin-top:10px;
}
.sorting_asc .sorting_desc {
}
th.sorting_asc span.sorting-indicator {
	display:block;
	margin-left:3px;
	background-position: 0 0;
}
th.sorting_desc span.sorting-indicator {
	display:block;
	margin-left:3px;
	background-position: -7px 0;
}
#table thead tr th span {
	cursor:pointer;
	float:left;
}
#table thead tr th span:hover {
	color:#D54E21;
}
#table_filter input {
	width:250px;
	background:#fff;
}
.ColVis_MasterButton {
	-moz-border-radius: 11px 11px 11px 11px;
	-moz-box-sizing: content-box;
	border-style: solid;
	height:15px;
	border-width: 1px;
	cursor: pointer;
	font-size: 11px !important;
	line-height: 13px;
	padding: 3px 8px;
	text-decoration: none;
	background: url('../images/white-grad.png') repeat-x scroll left top #F2F2F2;
	text-shadow: 0 1px 0 #FFFFFF;
}
.ColVis_MasterButton:hover {
	border-color:#666;
	color:#000;
}
/* added new  - is this required ? */
.ColVis {
	margin-bottom:10x;
	height:25px;
}
/* >Forms - admin general styles and screens
----------------------------------------------------------------------/*

/*___ General form styles ___*/

#wpwrap .tablenav #form2 .button-secondary {
	display:inline-block !important;
	width: auto !important;
}
legend {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
legend span.question, span.question {
	font-size: 11px !important;
	font-weight: normal !important;
}
body p label {
	color: #555;
	font-weight: bold;
	margin-right: 3px;
}
.section-heading {
	font-size: 13px;
	font-weight: bold;
}
#poststuff .inside label.inline {
	display: inline;
	float: none;
}
#confirmation-email label,
#event-post label {
	display: block;
	margin-bottom: 4px;
}
.inside table ul li input {
	width: 80%;
}
.inside table ul li input[type=checkbox] {
	width: auto;
	margin-right: 5px;
}
form.espresso_form {
	color: #333;
}
form.espresso_form legend {
	/*padding-left: 0;*/
}
textarea {
	resize: vertical;
}
form.espresso_form legend, form.espresso_form label, #new-question-form label, #edit-new-question-form label, #add-edit-new-event-email label {
	/*display:block;
	font-size:11px;
	font-weight:bold;
	text-align: left;
	padding:2px;
	text-align:left;*/
}
form.espresso_form label.inline {
	margin-left:0;
	float:left;
	display: inline-block;
	width: 100px;
	text-align: right;
	vertical-align:middle;
}
form.espresso_form input {
	width:175px;
}

.espresso_form .button-secondary,
.espresso_form .button-primary {
    width:auto !important;
}

form.espresso_form .quicktags-toolbar input {width: auto ;}
.quicktags-toolbar input {width: auto !important;}
form.espresso_form input#payment_subject {
	width: 250px;
}
form.espresso_form input[type=radio],
form.espresso_form input[type=checkbox]
 {
	width:auto;
}

form.espresso_form fieldset {
	border: none;
}
form.espresso_form fieldset fieldset {
	background: none;
}
form.espresso_form fieldset li {
	padding: 0;
}
label.error {
	color: #EB7237;
	clear: left;
	padding-left: .5em;
	vertical-align: top;
	width: 60%;
}
#descriptiondivrich label {
	display: block;
	margin: 8px 0;
}
select.small, td.small select, td.small input {width:25px;}
select.med, td.med select, td.med input {width: 55px}
select.wide, td.wide select, td.wide input {width: 175px;}

/** adjust 'Chosen' form control script controls **/
.postbox .chzn-container {margin-top: 4px;}
#event_overview .tablenav .chzn-container-single {
	padding: 1px 0;
	vertical-align: bottom;
}
#event_overview #side-sortables .chzn-container-single {
	padding: 0;
}
#event_overview #side-sortables .chzn-container {
	display: block;
}
.chzn-container .chzn-results {width: auto;}
/*___ General settings ___*/

/*__ add_new _event form elements __*/

#event-date-time fieldset {
	margin-bottom: 15px;
}
#event-date-time fieldset p {
	overflow: hidden;
}
#event-date-time label,
#event-pricing label {
	display: block;
}
#event-date-time input {
	width: 60%
}
#event-date-time td.b label {
	width: auto;
}
#dynamicTimeInput li input.xtra-time {
	width: auto;
}
#event-date-time input#add-time {
	margin: 6px 0 20px;
	width: auto;
}
#dynamicTimeInput li + li {
	margin-top: 10px;
}
#dynamicTimeInput li + li p:first-child {
	margin-top: 0;
}
#event-location label {
	display: block;
}
#event-pricing ul li input {
	margin: 0 0 8px;
}
#dynamicMetaInput li select, #dynamicMetaInput li input {
	width: 150px;
}
#mailchimp-options select {width: 220px;}
/*___ Questions & Q groups ___*/
#add-edit-new-group table ul li input[type=checkbox] {
	margin-right: 10px;
}
#add-edit-new-group td.a input {
	margin-top: 3px;
}
#general-group-info label {display: block;}
#general-group-info .checkbox-group-name label,
#general-group-info .checkbox-group-desc label {
	display: inline;
}
#add-edit-new-group textarea {
	width: 80%;clear: both;
}
/*___ Venue Manager ___*/
#add-edit-venue .ee-gmap-entry {
 border-top: 1px solid #e0e0e0;
 margin-top: 20px;
}
#add-edit-venue .ee-gmap-entry #enable-ven-gmaps {
 margin-bottom: 10px;
}
#add-edit-venue .ee-gmap-display .map-frame {
 border: 1px solid #8f8f8f;
 padding: 10px;
}
#add-edit-venue .ee-gmap-display .map-frame iframe,
#add-edit-venue .ee-gmap-display .map-frame #map_canvas_ {
 -webkit-box-shadow: 0 0 1px #eee;
 -moz-box-shadow: 0 0 1px #eee;
 box-shadow: 0 0 4px #8f8f8f;
 margin: 0 auto;
 width:100% !important;
}
#enable-ven-gmaps_chzn {margin-bottom: 10px;}
/*___ Manage categories___*/
#add-edit-categories p {
	overflow: hidden;
}
#add-edit-categories p.section-quest {overflow: visible;}
#add-edit-categories p label,
#new-promo-code p label,
#edit-promo-code p label {
	display: block;
	margin-bottom: 3px;
}
#add-edit-categories p.inputunder input {
	clear: left;
	float:left;
}
#add-edit-categories p .ev_reg-fancylink img {
	margin: 3px 0 0 5px;
}
.disp-desc {
	margin-right: 10px;
}

/*___ Template Settings ___*/

/*___ Form Icons / Buttons ___*/

.view_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../images/icons/magnifier.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
.view_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.edit_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../images/icons/calendar_edit.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
/*.edit_btn:hover { background-position: -72px -18px; }*/
.edit_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.resume_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../images/btn_sprite.png) no-repeat -126px 0;
	text-indent: -9000px;
	outline: none;
}
.resume_btn:hover {
	background-position: -126px -18px;
}
.complete_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../images/icons/group.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
/*.complete_btn:hover { background-position: -36px -18px; }*/
.complete_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.delete_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../images/btn_sprite.png) no-repeat -54px 0;
	text-indent: -9000px;
	outline: none;
}
.delete_btn:hover {
	background-position: -54px -18px;
	height: 18px;
}
.options_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../images/icons/cog.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
.options_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.excel_exp_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../images/icons/excel_icon.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
.excel_exp_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.csv_exp_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../images/icons/csv_icon_sm.gif) no-repeat;
	text-indent: -9000px;
	outline: none;
}
.csv_exp_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.newsletter_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../images/icons/email_go.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
.newsletter_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.reports_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../images/icons/chart_bar.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
.shortcode_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../images/icons/tag.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
.shortcode_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
/*fixing this -  what does this mean?*/
.view_btn:hover, .edit_btn:hover, .complete_btn:hover, .shortcode_btn:hover, .excel_exp_btn:hover, .csv_exp_btn:hover, .newsletter_btn:hover {
	height: 18px;
	margin: 2px 3px 0 0;
}
div#button .optionsparent {
	position: relative;
	float: left;
}
div#button .showoptions {
	position: absolute;
	top: 18px;
	display: none;
	float: left;
	background: #fff;
	border: 1px solid #ccc;
	padding: 4px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	z-index: 200;
	white-space: nowrap;
}
div#button .optionsparent a {
	text-decoration: none;
}
/* >Messages / help text / info links / Alert boxes
----------------------------------------------------------------------*/
div.box-right-body ul.infolinks {
	list-style-type:none;
	list-style-position:outside;
}
div.box-right-body ul.infolinks li {
	background:url('images/custom-fugue-sprite.png') no-repeat 0 -2367px;
	text-indent:22px;
	line-height:15px;
	margin-bottom:12px;
	font-size:11px;
}
div.box-right-body ul.infolinks li a {
	text-decoration:none;
}
/* alert boxes jQuery script is currently not being loaded
   thus rulesets are commented out for the moment */

/*** Alert Boxes ***/
/*#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px;
	max-width: 600px;
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #CCC url(images/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}
#popup_content {
	background: 16px 16px no-repeat url(images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}
#popup_content.alert {
	background-image: url(images/info.gif);
}
#popup_content.confirm {
	background-image: url(images/important.gif);
}
#popup_content.prompt {
	background-image: url(images/help.gif);
}
#popup_message {
	padding-left: 48px;
}
#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}
#popup_prompt {
	margin: .5em 0em;
}
*/
/*** Messages ***/
.messages {
	display: block;
	clear: both;
	font-size: 11px;
	font-style: normal;
	margin: 5px 0 15px;
}
.important {
	color: #ff0000;
	font-style: normal;
}
.inform {
	background: #497EB2;
	border: 1px solid #bebebe;
	color: #fff;
	padding: 4px;
	text-decoration: none;
}

.yellow_inform {
	background-color: #ffffe0;
	border: #e6db55 1px solid;
	padding:4px;
}
#wpbody #post-body .attention-block {
	background: #E9D2B7;
	border: 1px solid #000;
	color: #000;
	font-size: 1.2em;
	padding: 6px;
}
.input-info {
	background: #F0F0C7;
	clear: both;
	display: table;
	font-size: 11px;
 margin-top 0;
	padding: 0 4px;
}
form input.error {
	border: 1px solid #E16D35;
	-moz-box-shadow: 0 0 3px #d2d2d2;
	-webkit-box-shadow: 0 0 3px #d2d2d2;
	box-shadow: 0 0  3px #d2d2d2;
}

/* >Classes - general site wide
----------------------------------------------------------------------*/

.run-in, .highlight {
	font-weight: bold;
}

/* shadow boxes */

.boxshadow {
	-moz-box-shadow: 0 0 3px #d2d2d2;
	-webkit-box-shadow: 0 0 3px #d2d2d2;
	box-shadow: 0 0  3px #d2d2d2;
}
/*** Font colors - classes need renaming for what they are not style ***/
.red_text {
	color:#F00;
}
.green_text {
	color: #090;
}
.yellow_text {
	color: #F93;
}
/*** Editor Tools ***/
.my_editor {
	font-family: verdana, arial, sans-serif;
	font-size:13px;
	padding: 5px;
	background: #d5e8f9;
	border: 1px solid #e5ecf9;
}
.my_button {
	margin: 1px;
	padding: 2px;
}
.my_button:hover {
	opacity:.60;
	filter: alpha(opacity=60);
	-moz-opacity: 0.60;
}
.my_ed {
	width: 400px;
	height: 150px;
}
a.thickbox  {
	text-decoration: underline;
	padding: 2px 0 2px 3px;
}
a.thickbox span {
	vertical-align: top;
}
a.thickbox.link  {
	text-decoration: underline;
}
#mailchimp-options a.thickbox img {
	margin-top: 5px;
}
/*** Payment Status Classes ***/
.payment_completed {
	background-color: #77DD77 !important;
}
.payment_pending {
	background-color: #FFFF14 !important;
}
.not_paid {
	background: #D36D6D !important;
	color: #333 !important;
}

.green_alert, .red_alert, .yellow_alert {
	display:inline-block; padding:.5em 1em; text-shadow:0 1px 1px #fff;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	}
.green_alert {
	background-color: #d2f5d2; border: #009900 1px solid;
}
.red_alert {
    background-color: #FFEBE8; border: #CC0000 1px solid;
}
.yellow_alert {
	background-color: #ffffe0; border: #e6db55 1px solid;
}
.yellow_alert:hover {
	background-color: #A4E7A6;
	border: #060 1px solid;
}
.pointer {
	cursor: pointer;
}
/*** clearfix clearing rules ***/
.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
	zoom:1;
}
/* >JS 3rd party scripts styles
----------------------------------------------------------------------*/

/*___ JQuery jPlot ___*/

/*
 * jqPlot
 * Pure JavaScript plotting plugin using jQuery
 *
 * Version: @VERSION
 *
 * Copyright (c) 2009-2011 Chris Leonello
 * jqPlot is currently available for use in all personal or commercial projects
 * under both the MIT (http://www.opensource.org/licenses/mit-license.php) and GPL
 * version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html) licenses. This means that you can
 * choose the license that best suits your project and use it accordingly.
 */

.jqplot-target {
	margin-bottom: 2em;
}
pre {
	background: #D8F4DC;
	border: 1px solid rgb(200, 200, 200);
	padding-top: 1em;
	padding-left: 3em;
	padding-bottom: 1em;
	margin-top: 1em;
	margin-bottom: 4em;
}


/** box shadows **/
#configure_espresso_manager_form table.widefat {
 -moz-box-shadow: #ddd 0 0 2px;
	-webkit-box-shadow: #ddd 0 0 2px;
	-khtml-box-shadow: #ddd 0 0 2px;
	box-shadow: #bbb 0 0 6px 1px;
}


	.ui-slider { position: relative; text-align: left; }
	.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
	.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
	
	.ui-slider-horizontal { height: .8em; }
	.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
	.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
	.ui-slider-horizontal .ui-slider-range-min { left: 0; }
	.ui-slider-horizontal .ui-slider-range-max { right: 0; }
	
	.ui-slider-vertical { width: .8em; height: 100px; }
	.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
	.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
	.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
	.ui-slider-vertical .ui-slider-range-max { top: 0; }
	
	.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
	.ui-timepicker-div dl { text-align: left; }
	.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
	.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
	.ui-timepicker-div td { font-size: 90%; }
	.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


	.reveal-modal-bg { 
		display: none; position: fixed; top: 0; left: 0; height: 100%; width: 100%; z-index: 100;
		background: #000; background: rgba(0,0,0,.8);
	}

	.reveal-modal {
		/*visibility: hidden; position: absolute; top: 100px; left: 50%; width: 520px; padding: 30px 40px 34px; margin-left: -300px; z-index: 101;		
		background: #eee url(modal-gloss.png) no-repeat -200px -80px;
		-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4); -box-shadow: 0 0 10px rgba(0,0,0,.4);*/
		visibility: hidden; position: absolute; top: 100px; left: 0; width: 79.5%; padding:1%; z-index: 101;		
		background:#fff; /*border:2px solid #ddd;*/
		-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
		-webkit-box-shadow: 4px 10px 15px -3px rgba(0,0,0,.3), 1px 4px 2px -5px rgba(0,0,0,.9), -1px 1px 5px rgba(0,0,0,.1); 
		-moz-box-shadow:4px 10px 15px -3px rgba(0,0,0,.3), 1px 4px 2px -5px rgba(0,0,0,.9), -1px 1px 5px rgba(0,0,0,.1); 
		box-shadow:4px 10px 15px -3px rgba(0,0,0,.3), 1px 4px 2px -5px rgba(0,0,0,.9), -1px 1px 5px rgba(0,0,0,.1);
		}

		
		
				
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		position: absolute; top: 8px; right: 11px;		
		font-size: 22px; font-weight: bold; line-height: .5; color: #aaa; text-shadow: 0 -1px 1px rbga(0,0,0,.6);		
		cursor: pointer;
		} 
