/**
* Event Espresso admin menu styles 
*
*/

a[href="admin.php?page=discounts"],  
a[href="admin.php?page=form_builder"],  
a[href="admin.php?page=event_categories"], 
a[href="admin.php?page=event_venues"],
a[href="admin.php?page=event_categories"] {
	border-bottom: 1px solid #ccc; margin-bottom: 5px; padding-bottom: 5px;
}

a[href="admin.php?page=admin_addons"] {
	border-top: 1px solid #ccc; margin-top: 5px; padding-top: 5px;
}

.ee_menu_group {
	display:block;background-color: #ddd; margin: -2px -5px 0px -12px; padding: 2px 0 2px 10px; font-weight: bold;letter-spacing: 1px; cursor:default;
}

#wpadminbar .ab-icon-espresso {
	position: relative;
	float: left;
	width: 18px;
	height: 12px;
	margin-top: 8px;
}

#wpadminbar #wp-admin-bar-espresso-toolbar > .ab-item .ab-icon-espresso {
	background-image: url("../images/icons/ee-cup-menu-icon.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

#wpadminbar #wp-admin-bar-espresso-toolbar:hover > .ab-item .ab-icon-espresso {
	background-image: url("../images/icons/ee-cup-menu-icon-dark.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

#wpadminbar.nojs #wp-admin-bar-new-content:hover > .ab-item .ab-icon, #wpadminbar #wp-admin-bar-new-content.hover > .ab-item .ab-icon-espresso {
	background-position: -2px -203px;
}
div.TB-ee-frame a { border-bottom: none; padding: 0; margin: 0; }