/**
* Event Espresso admin menu styles 
*
*/

.ee_menu_group {
	display:block;background-color: #ddd; margin: -2px -5px 0px -12px; padding: 2px 0 2px 10px; font-weight: bold;letter-spacing: 1px; cursor:default;
}

#wpadminbar .ab-icon-espresso {
	position: relative;
	float: left;
	width: 18px;
	height: 12px;
	margin-top: 8px;
}

#wpadminbar #wp-admin-bar-espresso-toolbar > .ab-item .ab-icon-espresso {
	background-image: url("../images/ee-cup-menu-icon.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

#wpadminbar #wp-admin-bar-espresso-toolbar:hover > .ab-item .ab-icon-espresso {
	background-image: url("../images/ee-cup-menu-icon-dark.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

#wpadminbar.nojs #wp-admin-bar-new-content:hover > .ab-item .ab-icon, #wpadminbar #wp-admin-bar-new-content.hover > .ab-item .ab-icon-espresso {
	background-position: -2px -203px;
}
div.TB-ee-frame a { border-bottom: none; padding: 0; margin: 0; }

.display-ee-error-trace-lnk { cursor: pointer; }
.smaller-text { font-size:.7em; line-height:1em; }
.small-text { font-size:.85em; line-height:1.2em; }
.big-text { font-size:1.2em; line-height:1.6em; }
.bigger-text { font-size:1.5em; line-height:2em; }
