#espresso-venue-details-wrap-dv {
    clear: both;
    margin: 1em auto;
}
#espresso-venue-details-dv {
    margin: 0 auto;
    padding: 0;
    position: relative;
}

#venue-details-h1 {
    -moz-hyphens: none;
    font-size: 2em;
    line-height: 1.1em;
    word-break: keep-all;
    z-index: 10;
}

header.venue-header.has-img h1 {
	margin: 10px 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

header.venue-header.has-img {
	margin-top:-65px;
	text-shadow: 1px 1px 0 #FFFFFF;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
	position: relative;
	padding-left: 10px;
	height: 100%;
}

header.venue-header.has-excerpt {
	margin-top:-120px;
}


header.venue-header.has-img p {
	margin:0;
	padding-bottom: 20px;
}

.about-venue-h3 {
	background: url(images/details-icon.png) no-repeat scroll 10px rgba(232, 232, 232, 0.9);
	text-shadow: 1px 1px 0 #FFFFFF;
	padding: 10px 0 10px 50px;
	
}

.venue-address-h3 {
    background: url("images/location-pin-icon.png") no-repeat scroll 10px center rgba(232, 232, 232, 0.9);
	text-shadow: 1px 1px 0 #FFFFFF;
	padding: 10px 0 10px 50px;
}

.ee-venue-img-dv {
    margin: 0 0 1em;
    overflow: hidden;
    width: 100%;
}

.ee-venue-img {
	height: auto;
	width: 100%;
}