#event-and-ticket-form-content .espresso-help-tab-lnk.help_img {
    margin-top: 20px;
    margin-left: 8px;
}


.event-tickets-datetimes-title {
    display: inline-block;
    font-size: 1.2em;
    padding: 0;
    float: left;
}

.available-tickets-container {
    margin: 2em 0 0.5em;
}

.event-datetimes-container {
    margin-left: 10px;
    margin-top: 10px;
}

/*.event-datetime-row {
    border-bottom: 2px solid #eee;
    /*padding-top: 15px;
    padding-bottom: 11px;*/
}/**/

.datetime-title {
    font-size: 1.1em;
    font-weight: bold;
}

.datetime-summary {
    border-bottom: 1px solid #EEEEEE;
    height: 28px;
    margin: 1em;
    margin-left: -10px;
    padding-bottom: 1em;
}


.datetime-edit-table {
    width: 100%;
    float: left;
}

#add-new-event-datetime-table {
    width: 77%;
}


.datetime-edit-table td:nth-child(3) {
    width: 3%;
}

.datetime-edit-table td:nth-child(4) {
   padding-top: 15px;
   min-width :80px
   
}

.datetime-edit .datetime-edit-table td:last-child {
    padding-top: 20px;
    min-width: 40px;
}

@media all and (max-width: 1363px) {
    #add-new-event-datetime-table {
        width: 100%;
    }
}

@media all and (min-width: 1277px) {

    .table-padding-top  {
        position: relative;
        top: 4px;
    }

}

@media all and (min-width: 900px) {
     .table-padding-top {
        position: relative;
        top: 20px;
    }
}

@media all and (min-width: 896px) and (max-width: 899px) {
    .table-padding-top {
        position: relative;
        top: 3px;
    }
}

@media all and (max-width: 896px) {
    .table-padding-top {
        position: relative;
        top: 20px;
    }
}

.clickable {
    cursor: pointer;
}

.ticket-archived td {
    background-color: #e6e6e6;
}



.ticket-icon, .trash-icon, .clone-icon {
    display: inline-block;
    height: 16px;
    margin-left: 8px;
    padding: 0;
    vertical-align: middle;
    width: 16px;
}

.ticket-table .ticket-row .trash-icon, .ticket-table .ticket-row .clone-icon {
    margin-top: 5px;
}

.ticket-table .ticket-row .ee-lock-icon:before {
    margin-left: 5px;
    margin-top: 5px;
}

.ee-editing-container {
    display: inline-block;
}

.datetime-edit-table td {
    height: 1em;
}

.datetime-edit-table {
    border-spacing: 3px;
}

.ee-edit-editing {
    background-color: #f8f8f8;
    height: 40px;
    padding-right: 3px;
    padding-left: 3px;
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.datetime-edit-table .ee-lock-icon:before {
   margin-left: 9px;
   font-size: 18px;
   vertical-align: middle;
}

.trash-icon {
    background: transparent url(../../../../../templates/global_assets/images/trash-small-16x16.png) 0 0 no-repeat;
}

.ticket-icon {
    background: transparent url(../../../../../templates/global_assets/images/tickets.png) 0 0 no-repeat;
}

.clone-icon {
    background: transparent url(../../../../../templates/global_assets/images/clone-trooper-16x16.png) 0 0 no-repeat;
}

.datetime-tickets-sold {
    font-size: 1em;
}

.datetime-tickets-edit h5 {
    margin-top: 1em;
}

.datetime-tickets-edit {
    background-color: #F8F8F8;
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    padding: 1em 1.5em 2em;
    margin-top: -5px;
}

.datetime-edit .ee-edit-editing {
    height: 35px;
    margin-top: 15px;
    padding-top: -10px;
}

.button-column {
   padding-left: 10px;
}


.ee-text-inp, .ee-small-text-inp {
    width: 100%;
}

.ee-small-text-inp {
    min-width: 50px;
    max-width: 100%;
}

.ee-large-text-inp {
    width: 100%;
}

.ee-full-textarea-inp {
    width: 100%;
    height: 100px;
}

.edit-price-PRC_desc {
    height: 70px;
}


.datetime-tickets-heading, .tickets-heading {
    display: inline-block;
    font-size: 1.1em;
    margin: 2em 0 0.25em
}

.datetime-ticket {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    background-color: #ddd;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
    border-left: solid 4px #ccc;
}

.datetime-ticket.ticket-status-0 {
    background-color: transparent;
    border-left: solid 4px #e6e6e6;
}

.datetime-ticket.ticket-status--1 {
    background-color: transparent;
    border-left: solid 4px #A39D9C;
}

.datetime-ticket.ticket-status-1 {
    background-color: transparent;
    border-left: solid 4px #49afcd;
}

.datetime-ticket.ticket-status-2 {
    background-color: transparent;
    border-left: solid px #62B660;
}

.datetime-ticket .gear-icon {
    margin-left: 3px;
}

.ticket-selected {
    background-color: #9d7;
}

    /**
     * ticket selected background color for various wp3.8+ admin themes
     */
    .admin-color-fresh .ticket-selected { background-color: #333; color: #fff;}
    .admin-color-light .ticket-selected { background-color:  #999; color: #fff;}
    .admin-color-blue .ticket-selected { background-color: #4796b3; color: #fff;}
    .admin-color-coffee .ticket-selected { background-color: #59524c; color: #fff;}
    .admin-color-ectoplasm .ticket-selected { background-color: #523f6d; color: #fff;}
    .admin-color-midnight .ticket-selected { background-color: #363b3f; color: #fff;}
    .admin-color-ocean .ticket-selected { background-color: #738e96; color: #fff;}
    .admin-color-sunrise .ticket-selected { background-color: #cf4944; color: #fff;}

.event-tickets-container {
    width: 100%;
}

.ticket-table {
    border-collapse: collapse;
    width: 100%;
}

.ticket-table thead {
    border-bottom: 2px solid #eee;
    font-weight: bold;
}

.ticket-table tbody td {
   height: 1.7em;
   padding-bottom: .3em;
   padding-right: .4em;
}

.ticket-table tbody .ticket-row td:first-child, .ticket-table tbody .ticket-row td:nth-child(2) {
    padding: 0;
    margin: 0;
    padding-bottom: .3em;
}

.ticket-table tbody tr.ticket-row:first-child td {
    padding-top: .3em;
}

.ticket-table tbody tr.edit-ticket-row td {
    height: auto;
}

/*ticket status strip */
.ticket-table tbody .ticket-row td:nth-child(2) {
    width: 1%;
}

/*Ticket Title */
.ticket-table tbody .ticket-row td:nth-child(3) {
    width: 28%;
}

/*datetime fields */
.ticket-table tbody .ticket-row td:nth-child(4), .ticket-table tbody .ticket-row td:nth-child(5) {
    width: 18%;
}

/* Price */
.ticket-table tbody .ticket-row td:nth-child(6) {
    width: 10%;
}

    .ticket-table tbody .ticket-row td:nth-child(6) input {
        text-align: right;
    }

/* Qty */
.ticket-table tbody .ticket-row td:nth-child(7) {
    width: 5%;
}

/* Sold */
.ticket-table tbody .ticket-row td:nth-child(8) {
    text-align: right;
    padding-right: 1em;
    width: 5%;
}

/* Actions */
.ticket-table tbody .ticket-row td:nth-child(9) {
    width: 15%;
}

.ticket-table .ticket-row .gear-icon:before {
    margin-top: 5px;
}

.ticket-table .ticket-display-row-TKT_sold {
    display:block;
    margin-top: 4px;
}

.ee-tkt-status {
    width: 5px;
    height: 100%;
    display: inline-block;
}

.tkt-status-0 {
   border-left: solid 5px #e6e6e6;
}

.tkt-status--1 {
   border-left: solid 5px #A39D9C;
}

.tkt-status-1 {
    border-left: solid 5px #49afcd;
}

.tkt-status-2 {
    border-left: solid 5px #62B660;
}


.ticket-fieldset {
    background-color: #F8F8F8;
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    padding: 1em 1.5em 2em;
    margin-top: -8px;
    margin-bottom: 15px;
}

.ticket-fieldset legend {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em
}

.total-price-container .currency-code {
    margin-top: 5px;
    display: inline-block;
}

.edit-ticket-TKT_description {
    font-size: 1.25em;
    padding: 0.5em;
}


.total-price-container {
    float:right;
    margin-top: 10px;
    line-height: 10px;
}

.ticket-price-amount {
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    margin-left: 10px;
}

.basic-ticket-info, .price-table {
    width: 100%;
    border-collapse: collapse;
}

.basic-ticket-info thead, .price-table thead {
    font-weight: normal;
    border: none;
}

.basic-ticket-info tbody tr td, .price-table tbody tr td {
    padding: 0;
}

.basic-ticket-info input {
   text-align: right;
}

.basic-ticket-info tbody tr td {
    padding-right: .4em;
    width: 33%;
}


.price-table thead tr td {
    padding-bottom: 5px;
    font-size: 1.1em;
}

.price-table thead tr td:first-child {
    text-align: left;
    width: 20%;
}

.price-table tbody td:first-child, .price-table tfoot td {
    text-align: left;
}

.price-table tbody tr:last-child td {
    padding-bottom: 7px;
}

.price-table tbody tr:last-child {
    border-bottom: 2px solid #ddd;
}

.save-cancel-button-container {
    float: right;
    margin-top: 10px;
}

.save-cancel-button-container .button-secondary {
    margin-left: 5px;
    margin-right: 5px;
}

.save-cancel-button-container input {
    margin-right: 10px;
    margin-left: 6px;
}

.event-datetimes-container .datetime-create-button {
    margin-top: -40px
}

.add-new-ticket-table {
    float: left;
    width: 75%;
}

.th-adjust {
    margin-top: 20px;
}

@media all and (min-width: 960px) and (max-width: 1182px) {
    .add-new-ticket-table, .datetime-edit-table {
        width: 100%;
    }
    
    .save-cancel-button-container {
        margin-top: -10px;
    }
    
    .th-adjust {
        margin-top: 10px;
    }
}

@media all and (max-width: 770px)  {
    .add-new-ticket-table, .datetime-edit-table, #add-new-event-datetime-table {
        width: 100%;
    }
    
    .save-cancel-button-container {
        margin-top: -10px;
    }
    
    .th-adjust, #add-new-event-datetime-table {
        margin-top: 10px;
    }
}

.add-new-ticket-table td:first-child {
    width: 40%;
}

.add-new-ticket-table td:nth-child(2), .add-new-ticket-table td:nth-child(3) {
    width: 20%
}

.add-new-ticket-table td:nth-child(4), .add-new-ticket-table td:nth-child(5) {
    width: 10%;
}

.add-datetime-ticket-container .save-cancel-button-container {
    padding-top: 14px;
}

#add-event-datetime .save-cancel-button-container {
    padding-top: 3px;
}

.add-edit {
    padding-top: 3px;
}

.ticket-price-info-display {
    margin: 0;
    padding: 0;
    text-align: right;
}

.price-table tbody td:nth-child(4) {
    padding: 0;
    margin: 0;
    text-align:right;
}

.price-table tbody td:nth-child(2) input, .price-table tbody:nth-child(3) input {
    width: 90%
}

.price-table tbody td:nth-child(5) input {
    width: 90%;
    text-align: right;
}

.ticket-price-info-display.ticket-price-percentage {
    text-align: left;
    margin-right: 0;
}

.price-table .price-total-row td, .price-table .price-subtotal-row td {
    padding-top: 10px;
}

.edit-ticket-row .edit-price-PRC_amount {
    text-align: right;
    margin: 0;
    margin-left: 4px;
    padding-right: 5px;
    width: 75px;
}

.ee-active-price .ee-create-button {
    margin-left: 4px;
}

.ticket-fieldset .ee-price-create-button {
    margin-top: 10px;
}

.available-tickets-container .ee-create-ticket-button {
    margin-top: 10px;
}