.event-tickets-datetimes-title {
    display: inline-block;
    font-size: 1.2em;
    padding: 0;
    float: left;
}

.available-tickets-container {
    margin: 2em 0 0.5em;
}

.event-datetimes-container {
    margin-left: 10px;
    margin-top: 10px;
}

/*.event-datetime-row {
    border-bottom: 2px solid #eee;
    /*padding-top: 15px;
    padding-bottom: 11px;
}/**/

#espresso_events-create_new-event_date_info, #espresso_events-edit-event_date_info, #espresso_events-edit-event_editor_event_datetimes_help_tab, #espresso_events-create_new-event_editor_event_datetimes_help_tab {
    top: 18px;
    left: 5px;
}

.datetime-title {
    font-size: 1.1em;
    font-weight: bold;
}

.datetime-summary {
    border-bottom: 1px solid #EEEEEE;
    height: 28px;
    margin: 1em;
    margin-left: -10px;
    padding-bottom: 1em;
}


.datetime-edit-table {
    width: 100%;
    float: left;
}

#datetime-editing-dtts-table {
    border-collapse: collapse;
}

#datetime-editing-dtts-table thead {
    border-bottom: 2px solid #eee;
    font-weight: bold;
}

#add-new-event-datetime-table {
    width: 77%;
}



.datetime-edit-table .datetime-editing-dtts-tbody td:first-child {
    width: 30%;
}

.datetime-edit-table .datetime-editing-dtts-tbody td {
    height: 1.7em;
    padding: .25em;
}

.datetime-edit-table .datetime-editing-dtts-tbody tr.advanced-dtt-edit-row td {
    height: auto;
}

.datetime-edit-table .datetime-editing-dtts-tbody td:nth-child(2), .datetime-edit-table .datetime-editing-dtts-tbody td:nth-child(3) {
    width: 20%;
}


.datetime-edit-table .datetime-editing-dtts-tbody td:nth-child(4) {
    width: 5%;
}

.datetime-edit-table .datetime-editing-dtts-tbody td:nth-child(5) {
    width: 5%;
    text-align: right;
}

.datetime-edit .datetime-edit-table .datetime-editing-dtts-tbody td:last-child {
    width: 20%;
}

.datetime-edit .datetime-edit-table label {
    font-weight: bold;
}

@media all and (max-width: 1363px) {
    #add-new-event-datetime-table {
        width: 100%;
    }
}

@media all and (min-width: 1277px) {

    .table-padding-top  {
        position: relative;
        top: 4px;
    }

}

@media all and (min-width: 900px) {
    .table-padding-top {
        position: relative;
        top: 20px;
    }
}

@media all and (min-width: 896px) and (max-width: 899px) {
    .table-padding-top {
        position: relative;
        top: 3px;
    }
}

@media all and (max-width: 896px) {
    .table-padding-top {
        position: relative;
        top: 20px;
    }
}

.clickable {
    cursor: pointer;
}

.ticket-archived td {
    background-color: #e6e6e6;
}


.ticket-table .ticket-row .trash-icon, .ticket-table .ticket-row .clone-icon:before, .datetime-editing-dtts-tbody .trash-icon, .datetime-editing-dtts-tbody .clone-icon:before {
    margin-top: 6px;
}

.ticket-table .ticket-row .gear-icon, .datetime-editing-dtts-tbody .ticket-icon {
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
}

.ticket-table .ticket-row .ee-lock-icon:before {
    margin-left: 5px;
    margin-top: 5px;
}

.ee-editor-footer-container {
    margin-top: 20px;
}

.ee-editing-container {
    display: inline-block;
}

.ee-edit-editing {
    background-color: #f8f8f8;
    height: 40px;
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}


.ee-editor-id-container {
    float: left;
    margin-top: 25px;
}

.ee-editor-id-container .ee-item-id {
    color: #889;
    font-size: 1.3em;
    font-weight: 900;
}

.ticket-icon:before,
.clone-icon:before,
.trash-icon:before,
.gear-icon:before,
.datetime-edit-table .ee-lock-icon:before,
.datetime-edit-table .dashicons-groups:before {
    font-size: 18px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0;
    text-align: center;
	vertical-align: middle;
}

.ee-edit-editing .ticket-icon:before,
.ee-edit-editing .clone-icon:before,
.ee-edit-editing .trash-icon:before,
.ee-edit-editing .gear-icon:before,
.ee-edit-editing .datetime-edit-table .ee-lock-icon:before,
.ee-edit-editing .datetime-edit-table .dashicons-groups:before {
    margin-left: 3px;
    margin-right: 3px;
}

.datetime-edit-table .dashicons-groups:before {
	position: relative;
    top:2px;
}


.datetime-tickets-edit h5 {
    margin-top: 1em;
}

.datetime-tickets-edit {
    background-color: #F8F8F8;
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    padding: 1em 1.5em 2em;
    margin-top: -8px;
    margin-bottom: 15px;
}

.datetime-edit .ee-edit-editing {
    /*height: 35px;
    margin-top: 9px;
    padding-top: 3px;
    padding-left: 0;
    padding-right: 6px;/**/
}

.button-column {
    padding-left: 10px;
}


.ee-text-inp,
.ee-large-text-inp,
.ee-small-text-inp {
    width: 100%;
}

.ee-small-text-inp {
    min-width: 50px;
    max-width: 100%;
}


.ee-full-textarea-inp {
    width: 100%;
    height: 100px;
}

.edit-price-PRC_desc {
    /* height: 70px;*/
}


.datetime-tickets-heading, .tickets-heading {
    display: inline-block;
    font-size: 1.1em;
    margin: 2em 0 0.25em
}

.datetime-ticket {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    background-color: #ddd;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
    border-left: solid 4px #ccc;
}

.datetime-ticket.ticket-status-TKS {
    background-color: transparent;
    border-left: solid 4px #FCB93C;
}
.datetime-ticket.ticket-status-TKO {
    background-color: transparent;
    border-left: solid 4px #70CC50;
}
.datetime-ticket.ticket-status-TKP {
    background-color: transparent;
    border-left: solid 4px #00B1CA;
}
.datetime-ticket.ticket-status-TKA{
    background-color: transparent;
    border-left: solid 4px #8A549A;
}
.datetime-ticket.ticket-status-TKE {
    background-color: transparent;
    border-left: solid 4px #A39D9C;
}




.datetime-ticket .gear-icon {
    margin-left: 3px;
}

.ticket-selected {
    background-color: #9d7;
}

/**
 * ticket selected background color for various wp3.8+ admin themes
 */
.admin-color-fresh .ticket-selected { background-color: #333; color: #fff;}
.admin-color-light .ticket-selected { background-color:  #999; color: #fff;}
.admin-color-blue .ticket-selected { background-color: #4796b3; color: #fff;}
.admin-color-coffee .ticket-selected { background-color: #59524c; color: #fff;}
.admin-color-ectoplasm .ticket-selected { background-color: #523f6d; color: #fff;}
.admin-color-midnight .ticket-selected { background-color: #363b3f; color: #fff;}
.admin-color-ocean .ticket-selected { background-color: #738e96; color: #fff;}
.admin-color-sunrise .ticket-selected { background-color: #cf4944; color: #fff;}

.event-tickets-container {
    width: 100%;
}

.ticket-table {
    border-collapse: collapse;
    width: 100%;
}

.ticket-table thead {
    border-bottom: 2px solid #eee;
    font-weight: bold;
}

.ticket-table tbody td {
    height: 1.7em;
    padding:.25em;
}


.ee-ticket-sortable, .ee-dtt-sortable {
    cursor: move;
}


.ticket-table tbody tr.ticket-row:first-child td {
    /*padding-top: .3em;*/
}

.ticket-table tbody tr.edit-ticket-row td {
    height: auto;
}

/*ticket status strip */
.ticket-table tbody .ticket-row td:first-child {
    position: relative;
    width: 1%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.ticket-table tbody .ticket-row td:first-child span {
    display: block;
    height:2.8em;
    padding:0;
}/**/

/*Ticket Title */
.ticket-table tbody .ticket-row td:nth-child(2) {
    width: 28%;
}

/*datetime fields */
.ticket-table tbody .ticket-row td:nth-child(3), .ticket-table tbody .ticket-row td:nth-child(4) {
    width: 18%;
}

/* Price */
.ticket-table tbody .ticket-row td:nth-child(5) {
    width: 5%;
}

.ticket-table tbody .ticket-row td:nth-child(5) input {
    text-align: right;
}

/* Qty */
.ticket-table tbody .ticket-row td:nth-child(6) {
    width: 5%;
}

/* Sold, REgs */
.ticket-table tbody .ticket-row td:nth-child(7),
.ticket-table tbody .ticket-row td:nth-child(8),
.ticket-table tbody .ticket-row.ee-wp-debug td:nth-child(9) {
    text-align: right;
    padding-right: 1em;
    width: 4%;
}

/* Actions */
.ticket-table tbody .ticket-row td:last-child {
    width: 20%;
    min-width: 120px;
}


.ticket-table .ticket-display-row-TKT_sold,
.ticket-table .ticket-display-row-TKT_reserved,
.ticket-table .ticket-display-row-TKT_registrations,
.datetime-tickets-sold,
.datetime-tickets-reserved {
    display:block;
    margin-top: 4px;
}

.ee-status-strip-td {
    /*padding: 50% 0 150% 0;*/
    /* padding:0;
     height: 1.4em;*/
}

.tkt-status-TKS {
    border-color: #FCB93C; /*soldout*/
}
.tkt-status-TKO {
    border-color: #70CC50; /*onsale*/
}
.tkt-status-TKP {
    border-color: #00B1CA; /*pending*/
}
.tkt-status-TKA{
    border-color: #8A549A; /*archived*/
}
.tkt-status-TKE {
    border-color: #A39D9C; /*expired*/
}



.ee-status-legend-TKS {
    background-color: #FCB93C;
}
.ee-status-legend-TKO {
    background-color: #70CC50;
}
.ee-status-legend-TKP {
    background-color: #00B1CA;
}
.ee-status-legend-TKA{
    background-color: #8A549A;
}
.ee-status-legend-TKE {
    background-color: #A39D9C;
}



.ticket-fieldset {
    background-color: #F8F8F8;
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    padding: 1em 1.5em 2em;
    margin-top: -8px;
    margin-bottom: 15px;
}



.ticket-fieldset legend {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em
}

.total-price-container .currency-code {
    margin-top: 5px;
    display: inline-block;
}

.edit-ticket-TKT_description {
    font-size: 1.25em;
    padding: 0.5em;
}


.total-price-container {
    float:right;
    margin-top: 10px;
    line-height: 10px;
}

.ticket-price-amount {
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    margin-left: 10px;
}

.basic-ticket-info, .price-table {
    width: 100%;
    border-collapse: collapse;
}

.basic-ticket-info thead, .price-table thead {
    font-weight: normal;
    border: none;
}

.basic-ticket-info tbody tr td, .price-table tbody tr td {
    padding: 0;
}

.basic-ticket-info input {
    text-align: right;
}

.basic-ticket-info tbody tr td {
    padding-right: .4em;
    width: 33%;
}


.price-table thead tr td {
    padding-bottom: 5px;
    font-size: 1.1em;
}

.price-table thead tr td:first-child {
    text-align: left;
    width: 20%;
}

.price-table tbody td:first-child {
    text-align: left;
}

.price-table tbody tr:last-child td {
    padding-bottom: 7px;
}

.price-table tbody tr:last-child {
    border-bottom: 2px solid #ddd;
}

.save-cancel-button-container {
    float: right;
}

.save-cancel-button-container .button-secondary {
    margin-left: 5px;
    margin-right: 5px;
}

.ticket-fieldset .save-cancel-button-container {
    margin-top: 20px;
}

.ticket-fieldset .button-secondary {
    margin-top: -5px;
}

.ticket-fieldset .edit-ticket-TKT_is_default_selector {
    margin-top: 1px;
}


.save-cancel-button-container input {
    margin-right: 10px;
    margin-left: 6px;
}

.event-datetimes-container .datetime-create-button {
    margin-top: -40px
}

.add-new-ticket-table {
    width: 100%;
}

.th-adjust {
    margin-top: 20px;
}


@media all and (max-width: 770px)  {
    .datetime-edit-table, #add-new-event-datetime-table {
        width: 100%;
    }

    .save-cancel-button-container {
        margin-top: -10px;
    }

    .th-adjust, #add-new-event-datetime-table {
        margin-top: 10px;
    }
}

.add-new-ticket-table .add-new-ticket-shortcut-row td:first-child {
    width: 30%;
}

.add-new-ticket-table .add-new-ticket-shortcut-row td:nth-child(2), .add-new-ticket-table .add-new-ticket-shortcut-row td:nth-child(3) {
    width: 20%
}

.add-new-ticket-table .add-new-ticket-shortcut-row td:nth-child(4) {
    width: 15%;
}

.add-new-ticket-table .add-new-ticket-shortcut-row td:nth-child(5) {
    width: 5%;
}

.add-new-ticket-table .add-new-ticket-shortcut-row td:nth-child(6) {
    width: 10%;
}

.add-datetime-ticket-container .save-cancel-button-container {
    padding-top: 14px;
}

#add-event-datetime .save-cancel-button-container {
    padding-top: 3px;
}

.add-edit {
    padding-top: 3px;
}

.ticket-price-info-display {
    margin: 0;
    padding: 0;
    text-align: right;
}

.price-table tbody td:nth-child(4) {
    padding: 0;
    margin: 0;
    text-align:right;
}

.price-table tbody td:nth-child(2) input, .price-table tbody:nth-child(3) input {
    width: 90%
}

.price-table tbody td:nth-child(5) input {
    width: 90%;
    text-align: right;
}

.ticket-price-info-display.ticket-price-percentage {
    text-align: left;
    margin-right: 0;
}

.price-table .price-total-row td, .price-table .price-subtotal-row td {
    padding-top: 10px;
}

.edit-ticket-row .edit-price-PRC_amount {
    text-align: right;
    margin: 0;
    margin-left: 4px;
    padding-right: 5px;
    width: 75px;
}

.ee-active-price .ee-create-button {
    margin-left: 4px;
}

.ticket-fieldset .ee-price-create-button {
    margin-top: 10px;
    float:right;
}

.available-tickets-container .ee-create-ticket-button {
    margin-top: -20px;
    float:right;
}

.sortable-drag-handle {
    float: right;
    padding-top: 8px;
    font-size: 14px;
    cursor: move;
}

#event-and-ticket-form-content .dashicons, #event-and-ticket-form-content .ee-icon {
    margin-right: 0;
}

#event-and-ticket-form-content .event-tickets-datetimes-title .ee-icon, #event-and-ticket-form-content .event-tickets-datetimes-title .dashicons {
    margin-right: 8px
}



.ticket-is-required-container {
    margin-top: 10px;
}
