.ee-input-base-hover {
	border-color: var(--ee-color-primary-low-contrast);
	color: var(--ee-color-primary-high-contrast);
	box-shadow: none;
}

.ee-input-base-focus {
	border-color: var(--ee-color-primary);
	box-shadow: none;
	/* Visible in Windows high-contrast themes */
	outline-color: transparent;
	outline-width: 3px;
	outline-style: solid;
}

.ee-base-inputs-styles {
	border-color: var(--ee-border-color);
	border-radius: var(--ee-border-radius-small);
	border-style: solid;
	border-width: 3px;
	box-shadow: none;
	color: var(--ee-default-text-color);
	line-height: inherit;
	min-height: 2.625rem; // 42px
	outline: none;
	padding: var(--ee-padding-micro) var(--ee-padding-tiny);
	transition: all ease 50ms;
}

// this approach is needed in cases when classname cannot be applied directly on input
// and we need to style that input based on it's parent
.ee-input-base-wrapper {
	input[type='text'],
	input[type='password'],
	input[type='date'],
	input[type='datetime'],
	input[type='datetime-local'],
	input[type='email'],
	input[type='month'],
	input[type='number'],
	input[type='search'],
	input[type='tel'],
	input[type='text'],
	input[type='time'],
	input[type='url'],
	input[type='week'] {
		@extend .ee-base-inputs-styles;
	}
}

.ee-input-base.ee-input-base,
.ee-input__wrapper .ee-input-base {
	@extend .ee-base-inputs-styles;

	&.ee-input,
	&.ee-select,
	&.ee-textarea {
		@at-root {
			select#{&},
			input[type='text']#{&},
			input[type='password']#{&},
			input[type='date']#{&},
			input[type='datetime']#{&},
			input[type='datetime-local']#{&},
			input[type='email']#{&},
			input[type='month']#{&},
			input[type='number']#{&},
			input[type='search']#{&},
			input[type='tel']#{&},
			input[type='text']#{&},
			input[type='time']#{&},
			input[type='url']#{&},
			input[type='week']#{&} {
				@extend .ee-base-inputs-styles;

				&:focus {
					@extend .ee-input-base-focus;
				}
				&:hover {
					@extend .ee-input-base-hover;
				}
			}
		}

		&.ee-select {
			padding: var(--ee-padding-micro) var(--ee-padding-default) var(--ee-padding-micro) var(--ee-padding-smaller);

			[dir='rtl'] & {
				padding: var(--ee-padding-micro) var(--ee-padding-smaller) var(--ee-padding-micro)
					var(--ee-padding-default);
			}
		}

		&:focus {
			@extend .ee-input-base-focus;
		}
		&:hover {
			@extend .ee-input-base-hover;
		}
		&:disabled {
			background: var(--ee-color-grey-14);
			border-color: var(--ee-color-grey-11);
			color: var(--ee-default-text-color-low-contrast);
			cursor: not-allowed;
			opacity: 0.8;

			&:hover {
				border-color: var(--ee-color-grey-9);
				color: var(--ee-default-text-color-low-contrast);
			}
		}
	}
}
