.ee-input-base-hover {
	border-color: var(--ee-color-primary-low-contrast);
	color: var(--ee-color-primary-high-contrast);
	box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
}

.ee-input-base-focus {
	border-color: var(--ee-color-primary);
	box-shadow: 0 0 0 1px var(--ee-color-primary);
	/* Visible in Windows high-contrast themes */
	outline-color: transparent;
	outline-width: 2px;
	outline-style: solid;
}

.ee-base-inputs-styles {
	border-color: var(--ee-border-color);
	border-radius: var(--ee-border-radius-small);
	border-style: solid;
	border-width: 2px;
	line-height: inherit;
	min-height: 2.5rem;
	padding: var(--ee-padding-micro) var(--ee-padding-tiny);
}

// this approach is needed in cases when classname cannot be applied directly on input
// and we need to style that input based on it's parent
.ee-input-base-wrapper {
	input[type='text'],
	input[type='password'],
	input[type='date'],
	input[type='datetime'],
	input[type='datetime-local'],
	input[type='email'],
	input[type='month'],
	input[type='number'],
	input[type='search'],
	input[type='tel'],
	input[type='text'],
	input[type='time'],
	input[type='url'],
	input[type='week'] {
		@extend .ee-base-inputs-styles;
	}
}

.ee-input-base.ee-input-base,
.ee-input__wrapper .ee-input-base {
	@extend .ee-base-inputs-styles;

	&.ee-input,
	&.ee-select,
	&.ee-textarea {
		@at-root {
			input[type='text']#{&},
			input[type='password']#{&},
			input[type='date']#{&},
			input[type='datetime']#{&},
			input[type='datetime-local']#{&},
			input[type='email']#{&},
			input[type='month']#{&},
			input[type='number']#{&},
			input[type='search']#{&},
			input[type='tel']#{&},
			input[type='text']#{&},
			input[type='time']#{&},
			input[type='url']#{&},
			input[type='week']#{&} {
				@extend .ee-base-inputs-styles;
			}
		}

		&:focus {
			@extend .ee-input-base-focus;
		}
		&:hover {
			@extend .ee-input-base-hover;
		}
	}
}
