@import 'application/ui/styles/mixins/breakpoints.scss';

.entity-card {
	--ee-sidebar-width: 9rem;
	--ee-menu-width: 4rem;

	align-items: stretch;
	box-sizing: border-box;
	display: flex;
	height: 100%;

	&__sidebar {
		padding: 0;
		width: var(--ee-sidebar-width);

		.ee-biggie-calendar-date__footer {
			font-size: var(--ee-font-size-default);
			font-weight: bolder;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		.ee-edit-calendar-date-range {
			display: flex;
			justify-content: center;
			margin: 0.25rem 0;
			padding: 0 0 var(--ee-padding-nano);
		}
	}

	&__details-wrapper {
		box-sizing: border-box;
		padding: var(--ee-padding-tiny) var(--ee-padding-small);
		width: calc(100% - var(--ee-sidebar-width) - var(--ee-menu-width));
	}

	&__details {
		align-content: space-between;
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-flow: column nowrap;
		font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Trebuchet MS',
			Verdana, 'Verdana Ref', sans-serif;
		height: 100%;
		line-height: calc(var(--ee-line-height-modifier) * 0.875);
		justify-content: space-between;
		text-align: center;
		width: 100%;

		> div {
			width: 100%;
		}

		.entity-card-details {
			&__name {
				color: var(--ee-default-text-color);
				font-size: var(--ee-font-size-bigger);
				font-weight: bold;
				height: 2rem;
				letter-spacing: var(--ee-letter-spacing-font-size-huge);
				line-height: calc(var(--ee-line-height-modifier) * 0.75);
				margin: 0 0 var(--ee-margin-smaller);
				padding: 0;
				text-align: center;
				width: 100%;
				.ee-input-inline {
					margin: calc(var(--ee-margin-tiny) * -1) 0 0;
				}
			}

			&__description {
				font-size: var(--ee-font-size-default);
				margin: 0 0 var(--ee-margin-tiny);
				min-height: 3rem;
				position: relative;
				text-align: center;
				width: 100%;
				z-index: 1;
				textarea {
					background-color: white;
					margin: calc(var(--ee-margin-tiny) * -1) 0 0;
					position: absolute;
					right: 0;
					top: 0;
				}
			}

			&__price {
				align-items: center;
				display: flex;
				justify-content: center;
				margin: 0 0 var(--ee-margin-smaller);
				text-align: center;
				width: 100%;

				span {
					color: var(--ee-default-text-color-super-low-contrast);
					font-size: var(--ee-font-size-bigger);
					font-weight: bolder;

					&.ee-currency-input__before-amount {
						padding-bottom: 2px; // added for vertical alignment
					}
				}
			}
		}
	}

	&__menu {
		align-items: stretch;
		box-sizing: border-box;
		flex: 0 0 var(--ee-menu-width);
		padding: var(--ee-padding-micro);
		text-align: center;
	}

	@include max480px {
		flex-flow: column nowrap;

		&__menu,
		&__sidebar,
		&__details-wrapper {
			padding-bottom: 0;
			width: 100%;
		}

		&__menu {
			align-items: unset;
			flex: unset;
			text-align: center;
		}
	}
}
