/** -------------------------------------------------------------------------
 * Event Espresso withEntityListFilterBar Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-entity-list-filter-bar-wrapper {
    background: var(--ee-white);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--ee-dark-grey);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: .5rem;
    border-bottom-color: var(--ee-grey-white);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 0 0 1rem;
}

.ee-entity-list-filter-bar,
.ee-entity-list-view-bar {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

.ee-entity-list-filter-bar {
    justify-content: flex-start;
}

.ee-entity-list-view-bar {
    max-height: 36px;
    justify-content: flex-end;
    margin: -1px -4px .75rem 0;
}
.ee-entity-list-filter-bar-perPage-select {
    text-align: right;
}

.ee-entity-list-filter-bar .ee-filter-bar-filter {
    margin: 0 1rem .75rem 0;
    max-width: 100%;
    white-space: pre;
}

.ee-entity-list-view-bar .ee-filter-bar-filter {
    display: flex;
    flex-flow: row nowrap;
    height: 36px;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 0 0 1rem;
    max-width: 100%;
}
.ee-entity-list-view-bar .ee-search-filter {
    margin: 0;
}

.ee-entity-list-view-bar .ee-per-page-filter {
    margin-right: 4px;
    max-height: 36px;
}

.ee-entity-list-view-bar .ee-grid-view-filter {
    margin: 0 -4px 0 0;
}

.ee-entity-list-view-bar .ee-grid-view-filter,
.ee-entity-list-view-bar .ee-list-view-filter {
    height: 36px;
    width: 36px;
}

.ee-entity-list-view-bar .components-icon-button {
    color: var(--ee-grey);
}

.ee-entity-list-view-bar .components-icon-button.active-list {
    color: var(--ee-blue);
}

.ee-entity-list-filter-bar-wrapper .components-base-control__label {
    color: var(--ee-dark-grey);
    font-weight: bold;
    margin: .25rem .5rem .1rem 5px;
    white-space: nowrap;
}

.ee-entity-list-filter-bar-wrapper .components-base-control__label,
.ee-entity-list-filter-bar-wrapper .components-text-control__input,
.ee-entity-list-filter-bar-wrapper .components-select-control__input {
    display: inline-block;
    width: auto;
    max-width: 100%;
}

.ee-entity-list-filter-bar-wrapper input,
.ee-entity-list-filter-bar-wrapper select {
    background-color: var(--ee-white);
    background-clip: padding-box;
    border: 1px solid var(--ee-grey-white);
    border-radius: 0.25rem;
    box-shadow: none;
    box-sizing: border-box !important;
    color: var(--ee-dark-grey);
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    height: 36px !important;
    padding: 0.25rem 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
    width: 100%;
}


.ee-entity-list-filter-bar-wrapper select option {
    line-height: 20 !important;
    min-height: 30rem !important;
    padding: 10rem 0.5rem !important;
}


/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {

    .ee-entity-list-filter-bar-wrapper .components-base-control__label,
    .ee-entity-list-filter-bar-wrapper .components-select-control__input {
        display: block;
    }

    .ee-entity-list-filter-bar {
        margin: 0 0 1.5rem;
    }

    .ee-entity-list-view-bar {
        max-height: 118px;
    }
}

@media only screen and (max-width: 1024px) {
}

/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
}

/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
}

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and ( max-width: 782px ) {
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {

    .ee-entity-list-filter-bar-wrapper {
        flex-flow: column nowrap;
        padding-bottom: 1rem;
    }

    .ee-entity-list-filter-bar,
    .ee-entity-list-view-bar {
        width: 100%;
    }

    .ee-entity-list-view-bar {
        flex-flow: row nowrap;
        justify-content: flex-start;
        height: 54px;
        margin: 0;
        text-align: left;
    }

    .ee-entity-list-view-bar .ee-filter-bar-filter {
        height: auto;
        margin: 0 1rem 0 0;
    }
}

@media only screen and (max-width: 480px) {

    .ee-entity-list-filter-bar .ee-filter-bar-filter {
        margin: 0 1rem .75rem 0;
    }

    .ee-entity-list-view-bar {
        flex-flow: row wrap;
        height: auto;
        max-height: unset;
    }

    .ee-entity-list-view-bar .ee-filter-bar-filter {
        height: auto;
        justify-content: flex-start;
        margin: 0 1rem .75rem 0;
        max-height: unset;
    }
}

@media only screen and (max-width: 360px) {
}

