#messages-change-edit-templates-dv {
	position:absolute; top:50px; left:25%; width:75%; height:auto; padding:3em 4em 2em; z-index:9999;
	background:#fff; border:1px solid #ddd; border-radius:5px;
}

.ajax-loader-grey {
	background: transparent url(../../../../../images/ajax-loader-grey.gif) no-repeat top left;
	padding: 31px;
	display: none;
}

#ee-msg-context-switcher-frm {
    display: inline-block;
}

.messages-preview-button {
    display: inline-block;
}