.activate_messages_on_off_toggle_container {
	float:right;
}

.on-off-inactive, .on-off-active {
	background-image: url('off-toggle.png');
	display: block;
	float: right;
	width: 54px;
	height: 24px;
}

.on-off-active {
	background-image: url('on-toggle.png');
}

.active, .inactive, .editing {
	float: right;
	font-size: 12px; 
	padding: 2px;
}

.active {
	background-color: #96e285;
}

.editing {
	background-color: yellow;
}

.ee-msg-switcher-container {
	margin-top: 8px;
}

/** overview table styles **/

.column-messenger {
	width: 66%;
}

.column-event {
	width: 12%;
}

.column-message_type {
	width: 12%;
}

.column-messages_sent {
	width: 10%;
}

#mtp_valid_shortcodes .inside {
	max-height: 400px;
	overflow: scroll;
}

.validate-error, input.validate-error {
	border-color: red;
}