.ee-msg-switcher-container {
	margin-top: 8px;
}

/** overview table styles **/

.column-messenger {
	width: 66%;
}

.column-event {
	width: 12%;
}

.column-message_type {
	width: 12%;
}

.column-messages_sent {
	width: 10%;
}

#mtp_valid_shortcodes .inside {
	max-height: 400px;
	overflow: scroll;
}

#ee-msg-context-switcher-frm {
    display: inline-block;
}
.messages-preview-button {
    display: inline-block;
}

#espresso_espresso_messages_editor_overview #minor-publishing {
    border: none;
}

#minor-publishing ul li {
    text-align: right;
}

.resetbutton {
	margin-right: 5px;
}