.use-ven-manager {
    width: 50%;
    vertical-align: top;
}

.manual-venue {
    width: 33.3%;
}

.use-ven-manager table {
    width: 99%;
}

.manual-venue input,
.manual-venue #url-event,
.use-ven-manager .eebox,
.use-ven-manager .eebox input,
.use-ven-manager .eebox select,
.use-ven-manager .eebox textarea {
    width: 80%;
}

.use-ven-manager #venue-manager label {
    margin: 5px 0;
}

.use-ven-manager .ee-venue-not-selected {
    display: none
}

.use-ven-manager .address-view {
    line-height: 1.5;
    margin: 0;
    margin-block: 1rem;
}

.use-ven-manager .address-view span {
    display: inline-block;
    font-weight: bold;
    width: 6em;
}

.highlight {
    padding-left: 2px;
    margin-left: 0;
}