/** -------------------------------------------------------------------------
 * Event Espresso ColorSwatch Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

.ee {
	&-color-swatch {
		display: inline-block;
		height: 18px;
		width: 18px;
	}
}
