{
	"presets": [
		[
			"env",
			{
				"modules": false
			}
		]
	],
	"plugins": [
		"transform-object-rest-spread",
		"transform-react-jsx"
	],
	"env": {
		"test": {
			"presets" : [["env"]]
		},
		"production": {
			"plugins": [
				[
					"@wordpress/babel-plugin-makepot",
					{
						"output": "languages/ee-js.pot"
					}
				],
				"transform-object-rest-spread",
				"transform-react-jsx"
			]
		}
	}
}