{
	"presets": [
		[
			"env",
			{
				"modules": false
			}
		]
	],
	"plugins": [
		"transform-object-rest-spread",
		"transform-react-jsx",
		"transform-async-generator-functions"
	],
	"env": {
		"test": {
			"presets" : [
				"@wordpress/default"
			]
		},
		"production": {
			"plugins": [
				[
					"@wordpress/babel-plugin-makepot",
					{
						"output": "languages/ee-js.pot"
					}
				],
				"transform-object-rest-spread",
				"transform-react-jsx",
				"transform-async-generator-functions"
			]
		}
	}
}
