admin_pages
acceptance_tests
assets/dist
assets/vendor
assets/ZZZ
babel.config.js
/bin/
caffeinated
/config/*
/core/
coverage
docs
languages
modules
node_modules
payment_methods
phpstorm-webpack.config.js
postcss.config.js
public
shortcodes
tests
ui
widgets
wp-assets
*.css
*.scss