dist: xenial

os: linux

language: php

services: mysql

cache:
  apt: true
  directories:
    - $HOME/.composer/cache

env:
  global:
    - WP_VERSION=latest WP_MULTISITE=0

install:
  - composer install || exit 1
  - if [[ $TRAVIS_PHP_VERSION == nightly ]]; then
        composer require phpunit/phpunit ^9;
      else
        composer require phpunit/phpunit ^6;
      fi
  - phpunit --version
  - vendor/bin/phpunit --version
  - ./vendor/bin/phpunit --version

script:
  - ./vendor/bin/phpunit tests --configuration tests/phpunit.xml

jobs:
  allow_failures:
    - php: nightly

  fast_finish: true

  include:
    - name: "php lint"
      php: 7.3
      if: NOT commit_message =~ js_only AND NOT commit_message =~ dependabot AND NOT sender =~ dependabot
      script:
        - composer config-eventespressocs || exit 1
        - ./vendor/bin/phpcs -n || exit 1

    - name: "php 7.1 test"
      php: 7.1
      if: NOT commit_message =~ js_only AND NOT commit_message =~ dependabot AND NOT sender =~ dependabot

    - name: "php 7.2 test"
      php: 7.2
      if: NOT commit_message =~ js_only AND NOT commit_message =~ dependabot AND NOT sender =~ dependabot

    - name: "php 7.3 test"
      php: 7.3
      if: NOT commit_message =~ js_only AND NOT commit_message =~ dependabot AND NOT sender =~ dependabot

      # multisite
    - name: "php 7.2 multisite test"
      php: 7.2
      if: NOT commit_message =~ js_only AND NOT commit_message =~ dependabot AND NOT sender =~ dependabot
      env: WP_MULTISITE=1

      # allowed to fail
    - name: "php nightly test"
      php: nightly
      if: NOT commit_message =~ js_only AND NOT commit_message =~ dependabot AND NOT sender =~ dependabot

notifications:
  slack:
    rooms:
      secure: e2xmbwOoagh/rZIqUnx15HcTv5hZGxykvg8Tj0ENGi/bLcXgrEYxs2hpW+nzGggmSl22Eh+6wLRo62L0dEIIo1n+yknqDdAbVG7lmnX7Tc45JNgxWtSmAPzC3wAp0e9w1hy8HILPjYLxl0G7eXUvo3mKVRCCyD/Cyz5dDicE8tQ=
    on_success: change
    on_failure: always
    on_start: always
    template:
      - 'Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository}@%{branch} by %{author} %{result} in %{duration}'
      - '%{commit_message}'
