sudo: false
dist: trusty
language: php
services:
  - mysql
cache:
  apt: true
  directories:
    - node_modules
    - vendor
    - $HOME/.composer/cache
env:
  global:
    - WP_VERSION=latest WP_MULTISITE=0
matrix:
  include:
  - php: 5.3
    dist: precise
  - php: 5.4
  - php: 5.5
  - php: 5.6
  - php: 7.0
  - php: 7.1
  - php: 7.2
  - php: 5.6
    env: WP_MULTISITE=1
  - php: 7.0
    env: WP_MULTISITE=1
  - php: 7.1
    env: WP_MULTISITE=1
  - php: 7.2
    env: WP_MULTISITE=1
  - php: 5.6
    env: WP_VERSION=4.2
  - php: 5.6
    env: WP_VERSION=4.2 WP_MULTISITE=1
  - php: nightly
  - php: nightly
    env: WP_MULTISITE=1
  allow_failures:
  - php: nightly
  fast_finish: true
before_install:
   - |
      if [[ "$SKIP_XDEBUG_REMOVE" != "true" ]]; then
        phpenv config-rm xdebug.ini
        echo "xdebug removed";
      fi
before_script:
  - bash tests/bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - |
    # Install the specified version of PHPUnit depending on the PHP version:
    if [[ -n "$TRAVIS_PHP_VERSION" ]]; then
      case "$TRAVIS_PHP_VERSION" in
        7.2|7.1|7.0|nightly)
          echo "Using PHPUnit 6.1"
          composer global require "phpunit/phpunit=6.1.*"
          ;;
        5.6|5.5|5.4|5.3)
          echo "Using PHPUnit 4.8"
          composer global require "phpunit/phpunit=4.8.*"
          ;;
        5.2)
          # Do nothing, use default PHPUnit 3.6.x
          echo "Using default PHPUnit, hopefully 3.6"
          ;;
        *)
          echo "No PHPUnit version handling for PHP version $TRAVIS_PHP_VERSION"
          exit 1
          ;;
      esac
    fi
  - mysql --version
  - phpunit --version
  - phpenv versions
script: cd tests; phpunit;
notifications:
  slack:
    rooms:
      secure: e2xmbwOoagh/rZIqUnx15HcTv5hZGxykvg8Tj0ENGi/bLcXgrEYxs2hpW+nzGggmSl22Eh+6wLRo62L0dEIIo1n+yknqDdAbVG7lmnX7Tc45JNgxWtSmAPzC3wAp0e9w1hy8HILPjYLxl0G7eXUvo3mKVRCCyD/Cyz5dDicE8tQ=
    on_success: change
    on_failure: always
    on_start: always
    template:
      - "Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository}@%{branch} by %{author} %{result} in %{duration}"
      - "%{commit_message}"
