/*
 * FullCalendar v1.4.7 Stylesheet
 *
 * Feel free to edit this file to customize the look of FullCalendar.
 * When upgrading to newer versions, please upgrade this file as well,
 * porting over any customizations afterwards.
 *
 * Date: Mon Jul 5 16:07:40 2010 -0700
 *
 */


.fc,
.fc .fc-header,
.fc .fc-content {
	font-size: 1em !important;
	}
	
.fc {
	direction: ltr !important;
	text-align: left !important;
	}
	
.fc table {
	border-collapse: collapse !important;
	border-spacing: 0 !important;
	}
	
.fc td, .fc th {
	padding: 0 !important;
	vertical-align: top !important;
	}



/* Header
------------------------------------------------------------------------*/
	
table.fc-header {
	width: 100% !important;
	}
	
.fc-header-left {
	width: 25% !important;
	}
	
.fc-header-left table {
	float: left !important;
	}
	
.fc-header-center {
	width: 50% !important;
	text-align: center !important;
	}
	
.fc-header-center table {
	margin: 0 auto !important;
	}
	
.fc-header-right {
	width: 25% !important;
	}
	
.fc-header-right table {
	float: right !important;
	}
	
.fc-header-title {
	margin-top: 0 !important;
	white-space: nowrap !important;
	}
	
.fc-header-space {
	padding-left: 10px !important;
	}
	
/* right-to-left */

.fc-rtl .fc-header-title {
	direction: rtl !important;
	}



/* Buttons
------------------------------------------------------------------------*/

.fc-header .fc-state-default,
.fc-header .ui-state-default {
	margin-bottom: 1em !important;
	cursor: pointer !important;
	}
	
.fc-header .fc-state-default {
	border-width: 1px 0 !important;
	padding: 0 1px !important;
	}
	
.fc-header .fc-state-default,
.fc-header .fc-state-default a {
	border-style: solid !important;
	}
	
.fc-header .fc-state-default a {
	display: block;
	border-width: 0 1px !important;
	margin: 0 -1px !important;
	width: 100% !important;
	text-decoration: none !important;
	}
	
.fc-header .fc-state-default span {
	display: block !important;
	border-style: solid !important;
	border-width: 1px 0 1px 1px !important;
	padding: 3px 5px !important;
	}
	
.fc-header .ui-state-default {
	padding: 4px 6px !important;
	}
	
.fc-header .fc-state-default span,
.fc-header .ui-state-default span {
	white-space: nowrap !important;
	}
	
/* for adjacent buttons */
	
.fc-header .fc-no-right {
	padding-right: 0 !important;
	}
	
.fc-header .fc-no-right a {
	margin-right: 0 !important;
	border-right: 0 !important;
	}
	
.fc-header .ui-no-right {
	border-right: 0 !important;
	}
	
/* for fake rounded corners */
	
.fc-header .fc-corner-left {
	margin-left: 1px !important;
	padding-left: 0 !important;
	}
	
.fc-header .fc-corner-right {
	margin-right: 1px !important;
	padding-right: 0 !important;
	}
	
/* DEFAULT button COLORS */
	
.fc-header .fc-state-default,
.fc-header .fc-state-default a {
	border-color: #777 !important; /* outer border */
	color: #333 !important;
	}

.fc-header .fc-state-default span {
	border-color: #fff #fff #d1d1d1 !important; /* inner border */
	background: #e8e8e8 !important;
	}
	
/* PRESSED button COLORS (down and active) */
	
.fc-header .fc-state-active a {
	color: #fff !important;
	}
	
.fc-header .fc-state-down span,
.fc-header .fc-state-active span {
	background: #888 !important;
	border-color: #808080 #808080 #909090 !important; /* inner border */
	}
	
/* DISABLED button COLORS */
	
.fc-header .fc-state-disabled a {
	color: #999 !important;
	}
	
.fc-header .fc-state-disabled,
.fc-header .fc-state-disabled a {
	border-color: #ccc !important; /* outer border */
	}
	
.fc-header .fc-state-disabled span {
	border-color: #fff #fff #f0f0f0 !important; /* inner border */
	background: #f0f0f0 !important;
	}
	
	
	
/* Content Area & Global Cell Styles
------------------------------------------------------------------------*/
	
.fc-widget-content {
	border: 1px solid #ccc !important; /* outer border color */
	}
	
.fc-content {
	clear: both !important;
	}
	
.fc-content .fc-state-default {
	border-style: solid !important;
	border-color: #ccc !important; /* inner border color */
	}
	
.fc-content .fc-state-highlight { /* today */
	background: #F0F0C7 !important;
	}
	
.fc-content .fc-not-today {
	background: none !important;
	}
	
.fc-cell-overlay { /* semi-transparent rectangle while dragging */
	background: #9cf !important;
	opacity: .2 !important;
	filter: alpha(opacity=20); /* for IE */
	}
	
.fc-view { /* prevents dragging outside of widget */
	width: 100% !important;
	overflow: hidden !important;
	}
	
	
	
/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event,
.fc-agenda .fc-event-time,
.fc-event a {
	border-style: solid !important; 
	border-color: #E6E6BE !important;     /* default BORDER color (probably the same as background-color) */
	background-color: #8B9681 !important; /* default BACKGROUND color */
	color: #fff !important;            /* default TEXT color */
	}
	
	/* Use the 'className' CalEvent property and the following
	 * example CSS to change event color on a per-event basis:
	 *
	 * .myclass,
	 * .fc-agenda .myclass .fc-event-time,
	 * .myclass a {
	 *     background-color: black;
	 *     border-color: black;
	 *     color: red;
	 *     }
	 */
	 
.fc-event {
	text-align: left !important;
	margin-bottom: 10px;
	}
	
.fc-event a {
	overflow: hidden !important;
	font-size: .85em !important;
	text-decoration: none !important;
	cursor: pointer !important;
	}
	
.fc-event-editable {
	cursor: pointer !important;
	}
	
.fc-event-time,
.fc-event-title {
	padding: 0 1px !important;
	}
	
/* for fake rounded corners */

.fc-event a {
	display: block !important;
	position: relative !important;
	width: 100% !important;
	height: 100% !important;
	}
	
/* right-to-left */

.fc-rtl .fc-event a {
	text-align: right !important;
	}
	
/* resizable */
	
.fc .ui-resizable-handle {
	display: block !important;
	position: absolute !important;
	z-index: 99999 !important;
	border: 0 !important; /* important overrides pre jquery ui 1.7 styles */
	background: url(data:image/gif;base64,AAAA); /* hover fix for IE */
	}
	
	
	
/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px;
	}
	
.fc-event-hori a {
	border-width: 0;
	}
	
/* for fake rounded corners */
	
.fc-content .fc-corner-left {
	margin-left: 1px !important;
	}
	
.fc-content .fc-corner-left a {
	margin-left: -1px !important;
	border-left-width: 1px !important;
	}
	
.fc-content .fc-corner-right {
	margin-right: 1px !important;
	}
	
.fc-content .fc-corner-right a {
	margin-right: -1px !important;
	border-right-width: 1px !important;
	}
	
/* resizable */
	
.fc-event-hori .ui-resizable-e {
	top: 0           !important; /* importants override pre jquery ui 1.7 styles */
	right: -3px      !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: e-resize;
	}
	
.fc-event-hori .ui-resizable-w {
	top: 0           !important;
	left: -3px       !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: w-resize;
	}
	
.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px !important; /* IE6 had 0 height */
	}
	
	

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid table {
	width: 100% !important;
	}
	
.fc .fc-grid th {
	border-width: 0 0 0 1px !important;
	text-align: center !important;
	}
	
.fc .fc-grid td {
	border-width: 1px 0 0 1px !important;
	}
	
.fc-grid th.fc-leftmost,
.fc-grid td.fc-leftmost {
	border-left: 0 !important;
	}
	
.fc-grid .fc-day-number {
	float: right !important;
	padding: 0 2px !important;
	}
	
.fc-grid .fc-other-month .fc-day-number {
	opacity: 0.3 !important;
	filter: alpha(opacity=30); /* for IE */
	/* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
	}
	
.fc-grid .fc-day-content {
	clear: both;
	padding: 2px 2px 0; /* distance between events and day edges */
	}
	
/* event styles */
	
.fc-grid .fc-event-time {
	font-weight: bold;
	}
	
/* right-to-left */

.fc-rtl .fc-grid {
	direction: rtl;
	}
	
.fc-rtl .fc-grid .fc-day-number {
	float: left;
	}
	
.fc-rtl .fc-grid .fc-event-time {
	float: right;
	}
	
/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc .fc-agenda th,
.fc .fc-agenda td {
	border-width: 1px 0 0 1px;
	}
	
.fc .fc-agenda .fc-leftmost {
	border-left: 0;
	}
	
.fc-agenda tr.fc-first th,
.fc-agenda tr.fc-first td {
	border-top: 0;
	}
	
.fc-agenda-head tr.fc-last th {
	border-bottom-width: 1px;
	}
	
.fc .fc-agenda-head td,
.fc .fc-agenda-body td {
	background: none;
	}
	
.fc-agenda-head th {
	text-align: center;
	}
	
/* the time axis running down the left side */
	
.fc-agenda .fc-axis {
	width: 50px;
	padding: 0 4px;
	vertical-align: middle;
	white-space: nowrap;
	text-align: right;
	font-weight: normal;
	}
	
/* all-day event cells at top */
	
.fc-agenda-head tr.fc-all-day th {
	height: 35px;
	}
	
.fc-agenda-head td {
	padding-bottom: 10px;
	}
	
.fc .fc-divider div {
	font-size: 1px; /* for IE6/7 */
	height: 2px;
	}
	
.fc .fc-divider .fc-state-default {
	background: #eee; /* color for divider between all-day and time-slot events */
	}

/* body styles */
	
.fc .fc-agenda-body td div {
	height: 20px; /* slot height */
	}
	
.fc .fc-agenda-body tr.fc-minor th,
.fc .fc-agenda-body tr.fc-minor td {
	border-top-style: dotted;
	}
	
.fc-agenda .fc-day-content {
	padding: 2px 2px 0; /* distance between events and day edges */
	}
	


/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
	border-width: 0 1px !important;
	}
	
.fc-event-vert a {
	border-width: 0 !important;
	}
	
/* for fake rounded corners */
	
.fc-content .fc-corner-top {
	margin-top: 1px !important;
	}
	
.fc-content .fc-corner-top a {
	margin-top: -1px !important;
	border-top-width: 1px !important;
	}
	
.fc-content .fc-corner-bottom {
	margin-bottom: 1px !important;
	}
	
.fc-content .fc-corner-bottom a {
	margin-bottom: -1px !important;
	border-bottom-width: 1px !important;
	}
	
/* event content */
	
.fc-event-vert span {
	display: block !important;
	position: relative !important;
	z-index: 2 !important;
	}
	
.fc-event-vert span.fc-event-time {
	white-space: nowrap !important;
	_white-space: normal !important;
	overflow: hidden !important;
	border: 0 !important;
	font-size: 12px !important;
	}
	
.fc-event-vert span.fc-event-title {
	line-height: 13px !important;
	}
	
.fc-event-vert span.fc-event-bg { /* makes the event lighter w/ a semi-transparent overlay  */
	position: absolute !important;
	z-index: 1 !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background: #fff !important;
	opacity: .3 !important;
	filter: alpha(opacity=30); /* for IE */
	}
	
/* resizable */
	
.fc-event-vert .ui-resizable-s {
	bottom: 0        !important; /* importants override pre jquery ui 1.7 styles */
	width: 100%      !important;
	height: 8px      !important;
	line-height: 8px !important;
	font-size: 11px  !important;
	font-family: monospace;
	text-align: center;
	cursor: s-resize;
	}
	
/* Espresso Events custom styles
-------------------------------------------------------------------------*/

/* calendar thumbnail rules */	
/* if thumbnails are set to display for an event 
class name '.event-has-thumb' is added to top level parent event */

#espresso_calendar td {
	padding: 3px 0;
	}
#espresso_calendar .event-has-thumb {

	}
#espresso_calendar .event-has-thumb .fc-event-title {
	display: inline-block;
	margin-left: 6px;
	width: auto;
	}
#espresso_calendar  span.thumb-wrap {
	background: #fff;
	border: 1px solid #777;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: inline-block !important; 
	padding: 6px;
	margin: 6px;
	vertical-align: middle;
	}
#espresso_calendar .ee-event-thumb {
	border: 1px solid #8e8e8e;
	-moz-box-shadow: 0 0  2px 1px #d2d2d2;
	-webkit-box-shadow: 0 0 2px 1px #d2d2d2;
	box-shadow: 0 0 2px 1px #d2d2d2;
	display: inline-block;
	vertical-align: middle;
	}
#espresso_calendar .thumb-wrap img {width: 100%;}
#espresso_calendar .thumb-wrap img.small {height: 50px;}
#espresso_calendar .thumb-wrap img.medium {height: 100px;}
#espresso_calendar .thumb-wrap img.large {height: 150px;}

/* experimental - work in possible progress
#espresso_calendar span.thumb-wrap:focus,
#espresso_calendar span.thumb-wrap:hover {
	height: auto;
	width: auto;
	position: relative;
	z-index: 1000;
	}
#espresso_calendar .event-has-thumb:focus,
#espresso_calendar .event-has-thumb:hover {
	position: absolute !important; 
	width: auto !important;
	}
#espresso_calendar img.ee-event-thumb:focus,
#espresso_calendar img.ee-event-thumb:hover,
.fc-view {
	height: auto;
	width: auto;
	overflow: visible !important;
	}*/
	
/*___ adjust calendar & image dimensions based on view i.e 'day' ___*/

.fc-view-agendaDay .fc-agenda-body   td div {min-height:50px;}
.fc-view-agendaDay .thumb-wrap img {}

#espresso_calendar .fc-view-agendaWeek  .thumb-wrap img {height: 20px;}
 