#icon-options-event {
	background:url(images/events_icon_32.png) no-repeat;
}
/* 2 columns event admin area */

.col-container {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.col-left {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 39%;
	min-width:315px;
}
.col-right {
	float: right;
	clear: right;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 59%;
}
#copy-action {
	float:left;
}
.padding {
	padding:10px;
	overflow:hidden;
}
/*------------------------------------------------------------------------------------------*/
/* Main Structure Styles */

/*div#event_espresso-col-left {
	float:left;
	margin:40px 10px 0 0;
	width:600px;
}
#event_espresso-col-left label {
	margin:0 12px 0 0;
}*/
label{
	font-weight:bold !important;
}
/* Main Structure Styles */

/*ul#event_espresso-sortables li {
	list-style-type:none;
	margin:0 50px 20px 0;
	position:relative;
}
ul#event_espresso-sortables {
	list-style-type:none;
}*/
div.box-mid-head {
	background:transparent url('images/flo-head.jpg') repeat-x scroll 0 0;
	border:1px solid #DBDBDB;
	cursor:move;
	height:27px;
	text-align:right;
	width:100%;
}
div.box-mid-head h2 {
	color:#21759B;
	float:left;
	font-family:Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	height:24px;
	line-height:20px;
	margin:0;
	padding:3px 0 0 10px;
	text-align:left;
}
div.box-mid-head a:hover {
	border:medium none;
}
div.box-mid-head input {
	border:1px solid #CCCCCC;
}
div.box-mid-body {
	background:#F8F8F8 url('images/white-pix.jpg') repeat-x center top;
	border:1px solid #dbdbdb;
	border-top:0 none;
	display:table;
	width:100%;
}
div.box-mid-body h3 {
	display:block;
	font-size:16px;
	font-weight:bold;
	margin:8px 0;
}
div#event_espresso-col-right {
	clear:none;
	float:left;
	margin:40px 0 0;
	position:absolute;
	right:1.3%;
	width:256px;
}
div.box-right {
	float:left;
	margin-bottom:20px;
}
div.box-right-head {
	background:transparent url('images/flo-head.jpg') repeat-x 0 0;
	border:1px solid #DBDBDB;
	float:left;
	height:27px;
	width:256px;
}
div.box-right-head h3 {
	color:#21759B;
	float:left;
	font-family:Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	height:24px;
	line-height:20px;
	margin:0;
	padding:3px 0 0 10px;
	text-align:left;
}
div.box-right-body {
	background:#F8F8F8 url('images/white-pix.jpg') repeat-x center top;
	border:1px solid #dbdbdb;
	border-top:0 none;
	float:left;
	width:256px;
}
div.box-right-body h4 {
	display:block;
	font-size:16px;
	font-weight:bold;
	margin:8px 0;
}
div.box-right-body ul {
	list-style-image:none;
	list-style-position:inside;
	list-style-type:none;
	margin:0;
}
div.box-right-body ul li strong {
	color:#454545;
	font-weight:bold;
}

ul.subsubsub .selected a {
    font-weight: bold;
    font-size: 13px;
}

/* End Main Structure Styles */
/*------------------------------------------------------------------------------------------*/
/* Donations Section Styles */
.event_espressodonation-box p {
	padding:0;
	margin:-4px 0 15px 0;
	line-height:22px;
}
.event_espressodonation-box label {
	font-weight:bold;
	color:#333;
	font-size:10px;
}
.event_espressodonation-box span {
	font-weight:normal;
}
.event_espressodonation-box .payment {
	border-color:#bbb;
	color:#464646;
	width:160px;
	display:block;
	height:28px;
	margin:45px auto 0;
	padding-bottom:2px;
}
.event_espressodonation-box .payment:hover {
	border-color:#666;
	color:#000;
}
#no-sponsors {
	position:relative;
	top:-70px;
}
/* End Donations Section Styles */
/* Top Contributors Section */
ul.sexy-contributors {
	counter-reset:cnt;
	list-style-type:none;
	margin:0;
}
ul.sexy-contributors li {
	display:block;
	counter-increment:cnt;
	line-height:10px;
	margin:10px 0 32px 0;
}
ul.sexy-contributors li.last {
	margin-bottom:10px;
}
ul.sexy-contributors li p {
	line-height:10px;
	margin:0;
	text-indent:5px;
}
ul.sexy-contributors li:before {
	color:#D5D5D5;
	content:counter(cnt, decimal-leading-zero);
	font-family:"Courier New", monospace;
	font-size:26px;
	font-weight:bold;
	width:20px;
}
ul.sexy-contributors li:hover:before {
	color:#21759B;
}
ul.sexy-contributors li a {
	color:#57717F;
	display:block;
	margin:-14px 0 0 33px;
	text-decoration:none;
}
ul.sexy-contributors li:hover a {
	color:#21759B;
	font-weight:bold;
}
/* End Top Contributors Section */
/*------------------------------------------------------------------------------------------*/
/* Useful Links Section */
div.box-right-body ul.infolinks {
	list-style-type:none;
	list-style-position:outside;
}
div.box-right-body ul.infolinks li {
	background:url('images/custom-fugue-sprite.png') no-repeat 0 -2367px;
	text-indent:22px;
	line-height:15px;
	margin-bottom:12px;
	font-size:11px;
}
div.box-right-body ul.infolinks li a {
	text-decoration:none;
}
/* End Useful Links Section */
/*------------------------------------------------------------------------------------------*/
/* Custom Fugue Sprite Styles */
.fugue {
	background: url('images/custom-fugue-sprite.png') no-repeat;
	height:16px;
	padding-left:22px;
}
.fugue.f-info {
	background-position:0 2px;
	margin:2px 10px 0 0;
}
.fugue.f-warn {
	background-position:0 -83px;
	margin:2px 10px 0 0;
}
.fugue.f-success {
	background-position:0 -178px;
	margin:2px 10px 0 0;
}
.fugue.f-question {
	background-position:0 -295px;
	margin:2px 10px 0 0;
	width:16px;
	border:0;
	padding:0;
	display:inline-block;
}
.fugue.f-info-frame {
	background-position:0 -411px;
	height:16px;
	line-height:16px;
	padding:0;
	position:relative;
	top:6px;
	left:10px;
	text-indent:25px;
}
.fugue.f-error {
	background-position:0 -525px;
	margin:2px 10px 0 0;
}
.fugue.f-delete {
	background-position:0 -640px;
}
.fugue.f-globe-plus {
	background-position:0 -755px;
	height:16px;
	line-height:16px;
	padding:0;
	position:relative;
	top:6px;
	left:10px;
	text-indent:25px;
}
.fugue.f-leaf-pencil {
	background-position:0 -871px;
	height:16px;
	line-height:16px;
	padding:0;
	position:relative;
	top:6px;
	left:10px;
	text-indent:25px;
}
.fugue.f-wrench {
	background-position:0 -987px;
	height:16px;
	line-height:16px;
	padding:0;
	position:relative;
	top:6px;
	left:10px;
	text-indent:25px;
}
.fugue.f-money {
	background-position:0 -1102px;
	height:16px;
	line-height:16px;
	padding:0;
	position:relative;
	top:6px;
	left:10px;
	text-indent:25px;
}
.fugue.f-medal {
	background-position:0 -1217px;
	height:16px;
	line-height:16px;
	padding:0;
	position:relative;
	top:6px;
	left:10px;
	text-indent:25px;
}
.fugue.f-pallette {
	background-position:0 -1332px;
	height:16px;
	line-height:16px;
	padding:0;
	position:relative;
	top:6px;
	left:10px;
	text-indent:25px;
}
.fugue.f-plugin {
	background-position:0 -1447px;
	margin:5px 0 20px 0;
	padding-left:22px;
	display:block;
	clear:both;
}
.fugue.f-megaphone {
	background-position:0 -1564px;
	height:16px;
	line-height:16px;
	padding:0;
	position:relative;
	top:6px;
	left:10px;
	text-indent:25px;
}
.fugue.f-flags {
	background-position:0 -1680px;
	height:16px;
	line-height:16px;
	padding:0;
	position:relative;
	top:6px;
	left:10px;
	text-indent:25px;
}
.fugue.f-image {
	background-position:0 -1794px;
	height:16px;
	line-height:16px;
	padding:0;
	position:relative;
	top:6px;
	left:10px;
	text-indent:25px;
}
.fugue.f-footer {
	background-position:0 -1909px;
	height:16px;
	line-height:16px;
	padding:0;
	position:relative;
	top:6px;
	left:10px;
	text-indent:25px;
}
.fugue.f-folder {
	background-position:0 -2020px;
}
.fugue.f-doc-image {
	background-position:0 -2137px;
}
.fugue.f-doc-code {
	background-position:0 -2256px;
	height:20px;
	line-height:16px;
	padding:0;
	position:relative;
	top:6px;
	left:10px;
	text-indent:25px;
}
.fugue.f-link-small {
	background-position:0 -2367px;
}
.fugue.f-globe-small {
	background-position:0 -2475px;
}
.fugue.f-star-small {
	background-position:0 -2585px;
}
.fugue.f-pro-version {
	background: url('images/events_icon_pro_16.png') no-repeat;
	background-position:0 0px;
	height:16px;
	line-height:16px;
	padding:0;
	position:relative;
	top:6px;
	left:10px;
	text-indent:25px;
}
/* End Custom Fugue Sprite Styles */
/*------------------------------------------------------------------------------------------*/

/* Editor Tools */
.my_editor {
	font-family: verdana, arial, sans-serif;
	font-size:13px;
	padding: 5px;
	background: #d5e8f9;
	border: 1px solid #e5ecf9;
}
.my_button {
	margin: 1px;
	padding: 2px;
}
.my_button:hover {
	opacity:.60;
	filter: alpha(opacity=60);
	-moz-opacity: 0.60;
}
.my_ed {
	width: 400px;
	height: 150px;
}
a.ev_reg-fancylink {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}
/* FancyBox */

html, body {
	height: 100%;
}
div#fancy_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: none;
	z-index: 30;
}
* html div#fancy_overlay {
	position: absolute;
 height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
div#fancy_wrap {
	text-align: left;
}
div#fancy_loading {
	position: absolute;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: none;
	overflow: hidden;
	background: transparent;
	z-index: 100;
}
div#fancy_loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background: transparent url('scripts/fancybox/fancy_progress.png') no-repeat;
}
div#fancy_loading_overlay {
	position: absolute;
	background-color: #FFF;
	z-index: 30;
}
div#fancy_loading_icon {
	position: absolute;
	background: url('scripts/fancybox/fancy_loading.gif') no-repeat;
	z-index: 35;
	width: 16px;
	height: 16px;
}
div#fancy_outer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	padding: 28px 28px 43px 28px;
	/* correction for the new corners - original - 18px 18px 33px 18px */
    margin: 0;
	overflow: hidden;
	background: transparent;
	display: none;
}
div#fancy_inner {
	position: relative;
	width: 100%;
	height: 100%;
	/*	border: 1px solid #BBB;*/
    background: #ffffff;/* color of the frame - has to be the same color as your corner graphics*/
}
div#fancy_content {
	margin: 0;
	z-index: 100;
	position: absolute;
}
div#fancy_div {
	background: #e8f4fe;
	color: #333;
	height: 91%;
	width: 95%;
	z-index: 100;
	margin: 0;
	line-height: 17px;
	font-size: .9em;
	padding: 10px;
	border: 2px solid #cceefe;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
div#fancy_div h2 {
	color: #333c42;
	display: block;
	font: bold 20px "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	text-shadow: #fff 1px 1px 0;
	letter-spacing: -1px;
	padding: 10px;
	background-color: #c6e4fe;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-top-left-border-radius: 3px;
	-moz-top-right-border-radius: 3px;
	border-bottom: 1px solid #a9dafe;
	margin: -10px -10px 5px;
	width: auto;
}
img#fancy_img {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
}
div#fancy_close {
	position: absolute;
	top: -21px;
	/* correction for the new corners - original -15px */
    height: 30px;
	width: 30px;
	background: url('scripts/fancybox/fancy_closebox.png') top left no-repeat;
	cursor: pointer;
	z-index: 181;
	display: none;
	opacity: 0.93;
	right: -20px;
}
#fancy_frame {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
}
#fancy_ajax {
	width: 100%;
	height: 100%;
	overflow: auto;
}
a#fancy_left, a#fancy_right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	z-index: 111;
	display: none;
	background-image: url(data:image/gifbase64,AAAA);
	outline: none;
}
a#fancy_left {
	left: 0px;
}
a#fancy_right {
	right: 0px;
}
span.fancy_ico {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	z-index: 112;
	cursor: pointer;
	display: block;
}
span#fancy_left_ico {
	left: -9999px;
	background: transparent url('scripts/fancybox/fancy_left.png') no-repeat;
}
span#fancy_right_ico {
	right: -9999px;
	background: transparent url('scripts/fancybox/fancy_right.png') no-repeat;
}
a#fancy_left:hover {
	visibility: visible;
}
a#fancy_right:hover {
	visibility: visible;
}
a#fancy_left:hover span {
	left: 20px;
}
a#fancy_right:hover span {
	right: 20px;
}
.fancy_bigIframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}
div#fancy_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 70;
	border: 0;
	padding: 0;
	margin: 0;
	background-color: #fff;
}
div.fancy_bg {
	position: absolute;
	display: block;
	z-index: 70;
	border: 0;
	padding: 0;
	margin: 0;
}
div.fancy_bg_n {
	top: -24px;
	width: 100%;
	height: 24px;
	background: transparent url('scripts/fancybox/fancy_shadow_n.png') repeat-x;
}
div.fancy_bg_ne {
	top: -24px;
	right: -24px;
	/* correction for the new corners - original -13px */
    width: 24px;
	/* correction for the new corners - original 13px */
    height: 24px;
	background: transparent url('scripts/fancybox/fancy_shadow_ne.png') no-repeat;
}
div.fancy_bg_e {
	right: -24px;
	/* correction for the new corners - original -13px */
    height: 100%;
	width: 24px;
	/* correction for the new corners - original 13px */
    background: transparent url('scripts/fancybox/fancy_shadow_e.png') repeat-y;
}
div.fancy_bg_se {
	bottom: -24px;
	right: -24px;
	/* correction for the new corners - original -13px */
    width: 24px;
	/* correction for the new corners - original 13px */
    height: 24px;
	background: transparent url('scripts/fancybox/fancy_shadow_se.png') no-repeat;
}
div.fancy_bg_s {
	bottom: -24px;
	width: 100%;
	height: 24px;
	background: transparent url('scripts/fancybox/fancy_shadow_s.png') repeat-x;
}
div.fancy_bg_sw {
	bottom: -24px;
	left: -24px;
	/* correction for the new corners - original -13px */
    width: 24px;
	/* correction for the new corners - original 13px */
    height: 24px;
	background: transparent url('scripts/fancybox/fancy_shadow_sw.png') no-repeat;
}
div.fancy_bg_w {
	left: -24px;
	/* correction for the new corners - original -13px */
    height: 100%;
	width: 24px;
	/* correction for the new corners - original 13px */
    background: transparent url('scripts/fancybox/fancy_shadow_w.png') repeat-y;
}
div.fancy_bg_nw {
	top: -24px;
	left: -24px;
	/* correction for the new corners - original -13px */
    width: 24px;
	/* correction for the new corners - original 13px */
    height: 24px;
	background: transparent url('scripts/fancybox/fancy_shadow_nw.png') no-repeat;
}
div#fancy_title {
	position: absolute;
	bottom: -43px;
	/* correction for the new corners - original -33px */
    left: 0;
	width: 100%;
	z-index: 100;
	display: none;
}
div#fancy_title div {
	color: #FFF;
	font: bold 12px Arial;
	padding-bottom: 3px;
}
div#fancy_title table {
	margin: 0 auto;
}
div#fancy_title table td {
	padding: 0;
	vertical-align: middle;
}
td#fancy_title_left {
	height: 32px;
	width: 15px;
	background: transparent url('scripts/fancybox/fancy_title_left.png') repeat-x;
}
td#fancy_title_main {
	height: 32px;
	background: transparent url('scripts/fancybox/fancy_title_main.png') repeat-x;
}
td#fancy_title_right {
	height: 32px;
	width: 15px;
	background: transparent url('scripts/fancybox/fancy_title_right.png') repeat-x;
}
/* Pluralink */
.pluralink-overlay {
	width: 263px;
}
.pluralink-overlay a {
	display: inline-block;
	margin: 0;
}
.pluralink-overlay a:link, .pluralink-overlay a:visited {
	color: #0071BC !important;
	text-decoration: underline;
	width: 196px;
	padding: 4px 26px 5px;
	background: white;
}
.pluralink-overlay a:hover {
	background: url(images/over.png) repeat-y left top #F2F2F2;
}
.pluralink-overlay #pluralink-top {
	background: url(images/top.png) no-repeat left top;
	width: 263px;
	height: 17px;
}
.pluralink-overlay #pluralink-bottom {
	background: url(images/bottom.png) no-repeat left top;
	width: 263px;
	height: 16px;
}
.pluralink-overlay #pluralink-bg {
	background: url(images/bg.png) repeat-y left top;
	width: 255px;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
}
/* Pluralink IE6 */
* html .pluralink-overlay #pluralink-top {
	background: url(images/top-ie.png) no-repeat left top;
}
* html .pluralink-overlay #pluralink-bottom {
	background: url(images/bottom-ie.png) no-repeat left top;
}
* html .pluralink-overlay #pluralink-bg {
	background: url(images/bg-ie.png) repeat-y left top;
}
/* Font colors */
.red_text {
	color:#F00;
}
.green_text {
	color: #090;
}
.yellow_text {
	color: #F93;
}
/*#event_reg_theme .postbox ul {
	padding:20px 10px 10px 10px;
}*/
/* Admin Dashboard Styles */
table.event-regis-dboard-summary {
	/*border-collapse: collapse;*/
    border: 1px solid #eeeeee;
	margin: 10px 1px 1px 1px;
}
table.event-regis-dboard-summary td, table.event-regis-dboard-summary th {
	padding: 3px;
	font-weight: normal;
}
table.event-regis-dboard-summary thead tr {
	background: #EBEBEB;
	font-size: 12px;
}
table.event-regis-dboard-summary tbody td {
	text-align: center;
}
p.event-regis_sub {
	color:#777777;
	font-style:italic;
	font-family:Georgia, serif;
	margin:-10px;
	font-size:12px;
}
/* Calendar */
#calendar-header {
	background-color: #6699CC;
	margin: auto;
	width: 100%;
	padding-top: 2px;
}
#calendar-header .closeme {
	padding: 0px 3px 2px 0px;
}
#calendar-body {
	padding-bottom: 3px;
	background-color: #6699CC;
	margin: auto;
	width: 100%;
}
#calendar-body .general {
	background-color: #FFFFFF;
}
#calendar-body .othermonth {
	background-color: #EEEEEE;
	color: #AAAAAA;
}
#calendar-body .header {
	background-color: #6699CC;
	color: #FFFFFF;
}
#calendar-body .today {
	background-color: #FFFFCC;
}
#calendar-body .bg {
	background-color: #6699CC;
}
#calendar-body .select {
	background-color: #FFCC99;
}
#calendar-body .othermonth a:link {
	text-decoration : none;
	font-family: tahoma;
	color: #CCFFCC;
}
#calendar-body .othermonth a:visited {
	text-decoration : none;
	font-family: tahoma;
	color: #CCFFCC;
}
#calendar-body .othermonth a:hover {
	text-decoration : underline;
	font-family: tahoma;
	color: #FFFFFF;
}
#calendar-body a:link {
	text-decoration : none;
	font-family: tahoma;
	color: #000000;
}
#calendar-body a:visited {
	text-decoration : none;
	font-family: tahoma;
	color: #000000;
}
#calendar-body a:hover {
	text-decoration : underline;
	font-family: tahoma;
	color: #FF0000;
}
#calendar-body .disabledate {
	color: #669999;
}
#calendar-footer {
	background-color: #CCCCCC;
	border: 0px solid #000000;
	width: 100%;
	margin: auto;
}
#calendar-footer .btn {
	line-height: 21px;
}
#calendar-footer .btn a:link {
	text-decoration : none;
	font-family: tahoma;
	color: #000000;
}
#calendar-footer .btn a:visited {
	text-decoration : none;
	font-family: tahoma;
	color: #000000;
}
#calendar-footer .btn a:hover {
	text-decoration : underline;
	font-family: tahoma;
	color: #FF0000;
}
#calendar-header, #calendar-body, #calendar-footer {
	padding-left: 1px;
	padding-right: 1px;
}
#calendar-container {
	background-color: #6699CC;
}
.tcday, .tcmonth, .tcyear {
	font-size: 11px;
}
.date-tccontainer {
	border: 1px solid #cccccc;
	background-color: #efefef;
	padding: 2px;
}
/* Table Sorting */
/*#tablewrapper {width:980px; margin:0 auto}*/
#tableheader {
	height:55px
}
.search {
	float:left;
	padding:6px;
	border:1px solid #c6d5e1;
	background:#fff
}
#tableheader select {
	float:left;
	font-size:12px;
	width:125px;
	padding:2px 4px 4px
}
#tableheader input {
	float:left;
	font-size:12px;
	width:225px;
	padding:2px 4px 4px;
	margin-left:4px
}
.details {
	float:right;
	padding-top:12px
}
.details div {
	float:left;
	margin-left:15px;
	font-size:12px
}
/*.tinytable {width:100%; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none}*/
.tinytable {
	width:100%;
	border-left:1px solid #c6d5e1;
	border-top:1px solid #c6d5e1;
	border-bottom:none;
	line-height:normal;
	border-collapse:collapse;
}
.tinytable th {
	background:url(images/header-bg.gif);
	text-align:left;
	color:#cfdce7;
	border:1px solid #fff;
	border-right:none
}
.tinytable th h3 {
	font-size:10px;
	padding:6px 8px 8px;
	margin:0;
}
.tinytable td {
	padding:4px 6px 6px;
	border-bottom:1px solid #c6d5e1;
	border-right:1px solid #c6d5e1;
}
.tinytable .head h3 {
	background:url(images/sort.gif) 7px center no-repeat;
	cursor:pointer;
	padding-left:18px;
	margin:0;
}
.tinytable .desc, .sortable .asc {
	background:url(images/header-selected-bg.gif)
}
.tinytable .desc h3 {
	background:url(images/desc.gif) 7px center no-repeat;
	cursor:pointer;
	padding-left:18px;
	margin:0;
}
.tinytable .asc h3 {
	background:url(images/asc.gif) 7px center no-repeat;
	cursor:pointer;
	padding-left:18px;
	margin:0;
}
.tinytable .head:hover, .tinytable .desc:hover, .tinytable .asc:hover {
	color:#fff
}
.tinytable .evenrow td {
	background:#fff
}
.tinytable .oddrow td {
	background:#ecf2f6
}
.tinytable td.evenselected {
	background:#ecf2f6
}
.tinytable td.oddselected {
	background:#dce6ee
}
.tinytable tfoot {
	background:#fff;
	font-weight:bold
}
.tinytable tfoot td {
	padding:6px 8px 8px
}
#tablefooter {
	height:15px;
	margin-top:20px

}
#tablenav {
	float:left
}
#tablenav img {
	cursor:pointer
}
#tablenav div {
	float:left;
	margin-right:15px
}
#tablelocation {
	float:right;
	font-size:12px
}
#tablelocation select {
	margin-right:3px
}
#tablelocation div {
	float:left;
	margin-left:15px
}
.page {
	margin-top:2px;
}
#selectedrow td {
	background: #FFC
}
div .row-actions {
	font-size:10px !important;
}
/* Payment Status Classes */
.payment_completed {
	background-color: #77DD77 !important;
}
.payment_pending {
	background-color: #FFFF14 !important;
}
.not_paid {
	background: #D36D6D !important;
	color: #333 !important;
}

.green_alert {
	background-color: #A4E7A6;
	border: #060 1px solid;
	padding:2px;
}
.red_alert {
	background-color: #FEBCBE;
	border: #F00 1px solid;
	padding:2px;
}
.yellow_alert {
	background-color: #ffffe0;
	border: #e6db55 1px solid;
	padding:2px;
}
.yellow_alert:hover {
	background-color: #A4E7A6;
	border: #060 1px solid;
}
.pointer {
	cursor: pointer;
}
/* 

Copyright 2009 Itamar Arjuan
jsDatePick is distributed under the terms of the GNU General Public License.

*/

.JsDatePickBox {
	position:relative;
	width:212px;
	font-family:Arial;
}
.JsDatePickBox .jsDatePickCloseButton {
	cursor:pointer;
	position:absolute;
	z-index:1;
	top:1px;
	right:10px;
	width:33px;
	height:13px;
	background:url(images/closeButton_normal.gif) left top no-repeat;
}
.JsDatePickBox .jsDatePickCloseButtonOver {
	cursor:pointer;
	position:absolute;
	z-index:1;
	top:1px;
	right:10px;
	width:33px;
	height:13px;
	background:url(images/closeButton_over.gif) left top no-repeat;
}
.JsDatePickBox .jsDatePickCloseButtonDown {
	cursor:pointer;
	position:absolute;
	z-index:1;
	top:1px;
	right:10px;
	width:33px;
	height:13px;
	background:url(images/closeButton_down.gif) left top no-repeat;
}
.JsDatePickBox .boxLeftWall {
	float:left;
	width:7px;
	margin:0;
	padding:0;
}
.JsDatePickBox .boxLeftWall .leftTopCorner {
	margin:0;
	padding:0;
	width:7px;
	height:8px;
	background:url(images/boxTopLeftCorner.png) left top no-repeat;
	overflow:hidden;
}
.JsDatePickBox .boxLeftWall .leftBottomCorner {
	margin:0;
	padding:0;
	width:7px;
	height:8px;
	background:url(images/boxBottomLeftCorner.png) left top no-repeat;
	overflow:hidden;
}
.JsDatePickBox .boxLeftWall .leftWall {
	margin:0;
	padding:0;
	width:7px;
	background:url(images/boxSideWallPx.gif) #ffffff left top repeat-y;
	overflow:hidden;
}
.JsDatePickBox .boxRightWall {
	float:left;
	width:7px;
	margin:0;
	padding:0;
}
.JsDatePickBox .boxRightWall .rightTopCorner {
	margin:0;
	padding:0;
	width:7px;
	height:8px;
	background:url(images/boxTopRightCorner.png) left top no-repeat;
	overflow:hidden;
}
.JsDatePickBox .boxRightWall .rightBottomCorner {
	margin:0;
	padding:0;
	width:7px;
	height:8px;
	background:url(images/boxBottomRightCorner.png) left top no-repeat;
	overflow:hidden;
}
.JsDatePickBox .boxRightWall .rightWall {
	margin:0;
	padding:0;
	width:7px;
	background:url(images/boxSideWallPx.gif) #ffffff right top repeat-y;
	overflow:hidden;
}
.JsDatePickBox .topWall {
	position:absolute;
	overflow:hidden;
	top:0px;
	left:7px;
	width:198px;
	height:4px;
	background:url(images/boxTopPx.gif) #ffffff left top repeat-x;
}
.JsDatePickBox .bottomWall {
	position:absolute;
	overflow:hidden;
	bottom:-1px;
	left:7px;
	width:198px;
	height:4px;
	background:url(images/boxTopPx.gif) #ffffff left top repeat-x;
}
.JsDatePickBox .hiddenBoxLeftWall {
	float:left;
	width:0px;
	overflow:hidden;
	overflow:hidden;
}
.JsDatePickBox .hiddenBoxRightWall {
	float:left;
	width:0px;
	overflow:hidden;
	overflow:hidden;
}
.JsDatePickBox .boxMain {
	float:left;
	background-color:#ffffff;
	margin:0;
	padding:15px 0 5px 0;
}
.JsDatePickBox .boxMainStripped {
	background:#ffffff;
	border:none;
}
.JsDatePickBox .tooltip {
	height:12px;
	line-height:11px;
	overflow:hidden;
	font-size:10px;
	color:#666666;
	text-align:left;
	padding:0px;
	margin:2px 0 2px 0;
}
.JsDatePickBox .weekDaysRow {
	height:12px;
	overflow:hidden;
	line-height:11px;
	font-size:10px;
	color:#666666;
	text-align:center;
	padding:0px;
	margin:2px 0 0 0;
}
.JsDatePickBox .weekDaysRow .weekDay {
	float:left;
	height:14px;
	overflow:hidden;
	width:24px;
	margin:0 5px 0 0;
	padding:0;
}
.JsDatePickBox .boxMainInner {
	background:#ffffff;
	width:198px;
	float:left;
	margin:5px 0 0 0;
	padding:0;
}
.JsDatePickBox .boxMainCellsContainer {
	background-color:#ffffff;
	margin:0;
	padding:0;
}
.JsDatePickBox .boxMainInner .controlsBar {
	overflow:hidden;
	height:20px;
	position:relative;
}
.JsDatePickBox .boxMainInner .controlsBarText {
	overflow:hidden;
	height:20px;
	line-height:20px;
	color:#000000;
	font-size:12px;
	text-align:center;
}
.JsDatePickBox .boxMainInner .monthForwardButton {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	right:22px;
	background:url(images/monthForward_normal.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .monthForwardButtonOver {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	right:22px;
	background:url(images/monthForward_over.gif) left top no-repeat;
}

.JsDatePickBox .boxMainInner .monthForwardButtonDown {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	right:22px;
	background:url(images/monthForward_down.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .monthBackwardButton {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:22px;
	background:url(images/monthBackward_normal.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .monthBackwardButtonOver {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:22px;
	background:url(images/monthBackward_over.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .monthBackwardButtonDown {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:22px;
	background:url(images/monthBackward_down.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .yearForwardButton {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	right:0px;
	background:url(images/yearForward_normal.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .yearForwardButtonOver {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	right:0px;
	background:url(images/yearForward_over.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .yearForwardButtonDown {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	right:0px;
	background:url(images/yearForward_down.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .yearBackwardButton {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	background:url(images/yearBackward_normal.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .yearBackwardButtonOver {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	background:url(images/yearBackward_over.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .yearBackwardButtonDown {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	background:url(images/yearBackward_down.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .skipDay {
	cursor:default;
	overflow:hidden;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
}
.JsDatePickBox .boxMainInner .dayNormal {
	-khtml-user-select: none;
	font-size:12px;
	cursor:pointer;
	overflow:hidden;
	color:#4c4c4c;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height:25px;
	background:url(images/ocean_blue_dayNormal.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .dayNormalToday {
	-khtml-user-select: none;
	font-size:12px;
	cursor:pointer;
	overflow:hidden;
	color:#f40f0f;
	font-weight:bold;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height:25px;
	background:url(images/ocean_blue_dayNormal.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .dayDisabled {
	-khtml-user-select: none;
	cursor:default;
	font-size:12px;
	overflow:hidden;
	color:#999999;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height:25px;
	background:url(images/ocean_blue_dayNormal.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .dayOver {
	-khtml-user-select: none;
	cursor:pointer;
	font-size:12px;
	overflow:hidden;
	color:#4c4c4c;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height:25px;
	background:url(images/ocean_blue_dayOver.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .dayOverToday {
	-khtml-user-select: none;
	cursor:pointer;
	font-size:12px;
	overflow:hidden;
	font-weight:bold;
	color:#f40f0f;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height:25px;
	background:url(images/ocean_blue_dayOver.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .dayDown {
	-khtml-user-select: none;
	cursor:pointer;
	font-size:12px;
	overflow:hidden;
	color:#F9F9F9;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height:25px;
	background:url(images/ocean_blue_dayDown.gif) left top no-repeat;
}
.JsDatePickBox .boxMainInner .dayDownToday {
	-khtml-user-select: none;
	cursor:pointer;
	font-size:12px;
	overflow:hidden;
	color:#f40f0f;
	font-weight:bold;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height:25px;
	background:url(images/ocean_blue_dayDown.gif) left top no-repeat;
}
/*******Editor Styles*****/
textarea#event_desc, textarea#conf_email {
	width:100%!important;
	border-color: #dfdfdf;
}
#email-confirmation-form, #payment-confirmation-form {
	border-width: 0 1px 1px;
	border-style: none solid solid;
	width: 100%;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
	-khtml-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-color: #dfdfdf;
}
#email-confirmation-form td, #payment-confirmation-form td {
	font-size: 11px;
}
.autosave-info {
	padding: 2px 15px 2px 2px;
	text-align: left;
}
#editorcontent #email-confirmation-form, #editorcontent #payment-confirmation-form {
	border: none;
}
#email-confirmation-form, #payment-confirmation-form {
	background-color: #ededed;
}
.aer-word-count {
	margin-right:10px;
}
#conf_mail.theEditor {
	color:#000;
}
/****** Alert Boxes *******/
#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #CCC url(images/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}
#popup_content {
	background: 16px 16px no-repeat url(images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}
#popup_content.alert {
	background-image: url(images/info.gif);
}
#popup_content.confirm {
	background-image: url(images/important.gif);
}
#popup_content.prompt {
	background-image: url(images/help.gif);
}
#popup_message {
	padding-left: 48px;
}
#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}
#popup_prompt {
	margin: .5em 0em;
}
form.espresso_form {
	color: #333;
}
form.espresso_form legend {
	padding-left: 0;
}
form.espresso_form legend, form.espresso_form label {
	display:block;
	font-size:11px;
	font-weight:bold;
	text-align: left;
	padding:2px;
	text-align:left;
}
form.espresso_form label.inline {
	margin-left:0;
	float:left;
	display: inline-block;
	width:100px;
	text-align: right;
	vertical-align:middle;
}
form.espresso_form input {
	width:175px;
}
form.espresso_form input[type=radio] {
	width:auto;
}
form.espresso_form .inline_input {
}
form.espresso_form fieldset {
	border: none;
}
form.espresso_form fieldset fieldset {
	background: none;
}
form.espresso_form fieldset li {
	padding: 0px;
}

label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }

.view_btn { display: block; float: left; width: 18px; height: 18px; margin: 2px 3px 0 0; background: url(images/icons/magnifier.png) no-repeat; text-indent: -9000px; outline: none; }
.view_btn:hover  { margin: 4px 3px 0 0; height: 20px; }

.edit_btn { display: block; float: left; width: 18px; height: 18px; margin: 2px 3px 0 0; background: url(images/icons/calendar_edit.png) no-repeat ; text-indent: -9000px; outline: none; }
/*.edit_btn:hover { background-position: -72px -18px; }*/
.edit_btn:hover { margin: 4px 3px 0 0; height: 20px; }

.resume_btn { display: block; float: left; width: 18px; height: 18px; margin: 2px 3px 0 0; background: url(images/btn_sprite.png) no-repeat -126px 0; text-indent: -9000px; outline: none; }
.resume_btn:hover { background-position: -126px -18px; }

.complete_btn { display: block; float: left; width: 18px; height: 18px; margin: 2px 3px 0 0; background: url(images/icons/group.png) no-repeat; text-indent: -9000px; outline: none; }
/*.complete_btn:hover { background-position: -36px -18px; }*/
.complete_btn:hover { margin: 4px 3px 0 0; height: 20px;}

.delete_btn { display: block; float: left; width: 18px; height: 18px; margin: 2px 3px 0 0; background: url(images/btn_sprite.png) no-repeat -54px 0; text-indent: -9000px; outline: none; }
.delete_btn:hover { background-position: -54px -18px; height: 18px;}

.options_btn { display: block; float: left; width: 18px; height: 18px; margin: 2px 3px 0 0; background: url(images/icons/cog.png) no-repeat; text-indent: -9000px; outline: none; }
.options_btn:hover { margin: 4px 3px 0 0; height: 20px; }

.excel_exp_btn { display: block; float: left; width: 18px; height: 18px; margin: 2px 3px 0 0; background: url(images/icons/excel_icon.png) no-repeat; text-indent: -9000px; outline: none; }
.excel_exp_btn:hover { margin: 4px 3px 0 0; height: 20px; }

.csv_exp_btn { display: block; float: left; width: 18px; height: 18px; margin: 2px 3px 0 0; background: url(images/icons/csv_icon_sm.gif) no-repeat; text-indent: -9000px; outline: none; }
.csv_exp_btn:hover { margin: 4px 3px 0 0; height: 20px; }

.newsletter_btn { display: block; float: left; width: 18px; height: 18px; margin: 2px 3px 0 0; background: url(images/icons/email_go.png) no-repeat; text-indent: -9000px; outline: none; }
.newsletter_btn:hover { margin: 4px 3px 0 0; height: 20px; }

.shortcode_btn { display: block; float: left; width: 18px; height: 18px; margin: 2px 3px 0 0; background: url(images/icons/tag.png) no-repeat; text-indent: -9000px; outline: none; }
.shortcode_btn:hover { margin: 4px 3px 0 0; height: 20px; }


div#button .optionsparent { position: relative; float: left; }
div#button .showoptions { position: absolute; top: 18px; display: none; float: left; background: #fff; border: 1px solid #ccc; padding: 4px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; z-index: 200; white-space: nowrap; }
div#button .optionsparent a { text-decoration: none; }

#tooltip{
	position: absolute;
	display: none;
	border: 1px solid #333;
	background: #BDCDFF;
	padding: 5px 20px;
	color: #333;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#table_wrapper {font-size:11px; }
	#table tr.even {background:#F5F5F5; }
	#table_length, table_filter {float:left; margin: 0 20px 10px 0; }
	#table_info {float:left; margin:10px 20px 0 0;}


.dataTables_paginate {
	float: right;
	text-align: right;
	margin-top:5px;
}


/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url(images/back_disabled.jpg);
}

.paginate_enabled_previous {
	background-image: url(images/back_enabled.jpg);
}

.paginate_disabled_next {
	background-image: url(images/forward_disabled.jpg);
}

.paginate_enabled_next {
	background-image: url(images/forward_enabled.jpg);
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

.ColVis {
	float: right;
	margin-bottom: 1em;
}

.ColVis_Button {
	position: relative;
	float: left;
	margin-right: 3px;
	padding: 3px 5px;
	height: 23px !important;
	background-color: #fff;
	border: 1px solid #d0d0d0;
	cursor: pointer;
	*cursor: hand;
}

button.ColVis_Button::-moz-focus-inner { 
	border: none !important;
	padding: 0;
}

.ColVis_text_hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}

div.ColVis_collectionBackground {
	background-color: black;
	z-index: 1100;
}

div.ColVis_collection {
	position: relative;
	width: 150px;
	background-color: #f3f3f3;
	padding: 3px;
	border: 1px solid #ccc;
	z-index: 1102;
}

div.ColVis_collection button.ColVis_Button {
	background-color: white;
	width: 100%;
	float: none;
	margin-bottom: 2px;
}

div.ColVis_catcher {
	position: absolute;
	z-index: 1101;
}

.disabled {
	color: #999;
}

button.ColVis_Button {
	text-align: left;
}

div.ColVis_collection button.ColVis_Button:hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}

span.ColVis_radio {
	display: inline-block;
	width: 20px;
}

.dataTables_paginate {margin-top:10px;}
		.sorting_asc .sorting_desc {}
		th.sorting_asc span.sorting-indicator {display:block; margin-left:3px; background-position: 0 0;}
		th.sorting_desc span.sorting-indicator {display:block; margin-left:3px; background-position: -7px 0;}
		#table thead tr th span {cursor:pointer; float:left;}
		#table thead tr th span:hover {color:#D54E21;}
		#table_filter input {width:250px; background:#fff;}
		.ColVis_MasterButton {
		  -moz-border-radius: 11px 11px 11px 11px;
		  -moz-box-sizing: content-box;
		  border-style: solid;
		  height:15px;
		  border-width: 1px;
		  cursor: pointer;
		  font-size: 11px !important;
		  line-height: 13px;
		  padding: 3px 8px;
		  text-decoration: none;
		  background: url('images/white-grad.png') repeat-x scroll left top #F2F2F2;
		  text-shadow: 0 1px 0 #FFFFFF;
		}
		.ColVis_MasterButton:hover {
			border-color:#666;
			color:#000;
		}
		
		<!-- added new -->
		.ColVis { margin-bottom:10x; height:25px;}
		
		/*fixing this */
		.view_btn:hover, .edit_btn:hover, .complete_btn:hover, .shortcode_btn:hover, .excel_exp_btn:hover, .csv_exp_btn:hover, .newsletter_btn:hover  {height: 18px; margin: 2px 3px 0 0;}