
.biggie-calendar-date-bg {
    box-sizing: border-box;
    color: var(--ee-color-white);
    height: 100%;
    padding: var(--ee-padding-tiny) var(--ee-padding-micro);
    position: absolute;
    text-align: center;
    width: calc(var(--ee-padding-micro) * 34);
    vertical-align: bottom;
}

.biggie-calendar-date-bg.bcd-pos-left {
    float: left;
    left: 0;
}
.biggie-calendar-date-bg.bcd-pos-right {
    float: right;
    right: 0;
}

.biggie-calendar-date-header {
    font-size: var(--ee-font-size-micro);
    letter-spacing: var(--ee-letter-spacing-font-size-micro);
    line-height: var(--ee-font-size-bigger);
    margin: 0 0 var(--ee-margin-micro);
}

.biggie-calendar-date .weekday {
    font-size: var(--ee-font-size-smaller);
    font-weight: normal;
    line-height: var(--ee-font-size-big);
    letter-spacing: var(--ee-letter-spacing-font-size-tiny);
}

.biggie-calendar-date .month {
    font-size: calc(var(--ee-font-size-tiny) * 2);
    font-weight: bold;
    line-height: calc(var(--ee-font-size-tiny) * 2);
}

.month-day-sep {
    display: none;
}

.biggie-calendar-date .day {
    opacity: .8;
    font-size: calc(var(--ee-font-size-big) * 2);
    font-weight: bold;
    line-height: calc(var(--ee-font-size-big) * 2);
    text-shadow: var(--ee-text-shadow-inset);
}

.biggie-calendar-date .year {
    font-size: var(--ee-font-size-tiny);
    letter-spacing: calc(var(--ee-letter-spacing-font-size-micro)*2);
    line-height: var(--ee-font-size-default);
    left: var(--ee-padding-nano);
    position: relative;
}

.biggie-calendar-date .ee-mcd-time {
    font-size: var(--ee-font-size-smaller);
}

.biggie-calendar-date-footer {
    font-size: var(--ee-font-size-smaller);
    line-height: var(--ee-font-size-bigger);
    margin: var(--ee-margin-tiny) 0 0;
    text-shadow: var(--ee-text-shadow-inset);
    white-space: pre-line;
}

.biggie-calendar-date-footer .ee-status-tag {
    display: block;
    font-weight: bold;
    letter-spacing: var(--ee-letter-spacing-font-size-micro);
    text-transform: uppercase;
}

.biggie-calendar-date-bg .ee-edit-calendar-date-btn {
    color: rgba(255, 255, 255, .5);
    display: inline-block;
}

.biggie-calendar-date-bg .ee-edit-calendar-date-btn:focus:enabled,
.biggie-calendar-date-bg .ee-edit-calendar-date-btn:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover,
.biggie-calendar-date-bg .ee-edit-calendar-date-btn:not(:disabled):not([aria-disabled="true"]):not(.is-default):active {
    background-color: transparent;
    color: var(--ee-color-white);
    box-shadow: none;
}


/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
}

/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
}

/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
}

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and ( max-width: 782px ) {
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {

    .biggie-calendar-date-bg {
        clear: both;
        float: none;
        height: auto;
        padding: var(--ee-padding-micro);
        position: relative;
        right: unset;
        width: 100% !important;
    }

    .biggie-calendar-date-bg.bcd-pos-left {
        float: none;
    }

    .biggie-calendar-date-bg.bcd-pos-right {
        float: none;
    }

    .biggie-calendar-date,
    .biggie-calendar-date-header,
    .biggie-calendar-date-footer,
    .month-day-sep {
        line-height: calc(var(--ee-font-size-big) - 3px);
    }

    .biggie-calendar-date-header,
    .biggie-calendar-date-footer {
        margin: 0;
    }

    .biggie-calendar-date .weekday,
    .biggie-calendar-date .month,
    .biggie-calendar-date .day,
    .biggie-calendar-date .year {
        color: var(--ee-color-white);
        display: inline-block;
        font-size: var(--ee-font-size-default);
        font-weight: normal;
        line-height: calc(var(--ee-font-size-big) - 3px);
        letter-spacing: 0;
        margin: 0 var(--ee-margin-micro);
        text-shadow: none;
    }

    .biggie-calendar-date .year {
        left: unset;
    }
}

@media only screen and (max-width: 360px) {
}
