/** -------------------------------------------------------------------------
 * Event Espresso TicketAssignmentsManager Stylesheet
 * © 2019 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-ticket-assignments-manager {
    border-spacing: 0;
    margin: 0 auto var(--ee-margin-big);
}

/* header */
.ee-ticket-assignments-manager .ee-rspnsv-table-header {
}

.ee-ticket-assignments-manager .ee-tam-dates-header {
    padding: var(--ee-padding-nano) var(--ee-padding-micro);
}

.ee-ticket-assignments-manager .ee-tam-ticket-header-div {
    font-size: var(--ee-font-size-default);
    font-weight: bold;
    height: 100%;
    line-height: var(--ee-font-size-big);
    padding: var(--ee-padding-micro) var(--ee-padding-micro) var(--ee-padding-default);
    position: relative;
    text-align: center;
    vertical-align: bottom;
}

.ee-ticket-assignments-manager .ee-tam-ticket-header-title,
.ee-ticket-assignments-manager .ee-tam-ticket-header-price,
.ee-ticket-assignments-manager .ee-tam-ticket-header-status {
    max-width: 100%;
    width: 100%;
}

.ee-ticket-assignments-manager .ee-tam-ticket-header-title {
    height: calc(var(--ee-font-size-big) * 3);
    overflow: hidden;
    vertical-align: bottom;
}

.ee-ticket-assignments-manager .ee-tam-ticket-header-status {
    bottom: 0;
    right: 0;
    height: var(--ee-font-size-big);
    padding: var(--ee-padding-nano);
    position: absolute;
}

.ee-ticket-assignments-manager .ee-tam-ticket-header-status .ee-tam-ticket-header-date {
    color: var(--ee-color-white);
    font-size: var(--ee-font-size-micro);
    height: var(--ee-font-size-micro);
    letter-spacing: var(--ee-letter-spacing-font-size-micro);
    line-height: var(--ee-font-size-micro);
    position: relative;
    text-transform: uppercase;
    top: -4px;
    vertical-align: middle;
}

.ee-ticket-assignments-manager .ee-tam-ticket-header-price .ee-tam-ticket-header-date {
    display: none;
    visibility: hidden;
}

.ee-ticket-assignments-manager .ee-tam-date-id,
.ee-ticket-assignments-manager .ee-tam-ticket-id {
    color: var(--ee-color-grey-6);
    font-size: var(--ee-font-size-micro);
    font-weight: normal;
}

.ee-ticket-assignments-manager .ee-tam-date-id {
    left: var(--ee-margin-micro);
    line-height: var(--ee-font-size-tiny);
    position: absolute;
    top: calc(var(--ee-margin-nano)*-1);
}

.ee-ticket-assignments-manager .ee-tam-ticket-id {
    letter-spacing: var(--ee-letter-spacing-font-size-tiny);
    max-width: 100%;
    position: relative;
    text-align: center;
    top: -.8rem;
    width: 100%;
}

/* body */

.ee-ticket-assignments-manager .ee-tam-year-row {
    background: none;
    height: var(--ee-font-size-bigger);
}

.ee-ticket-assignments-manager .ee-tam-year-row .ee-tam-date-label {
    color: var(--ee-default-text-color);
    font-weight: bold;
    height: var(--ee-font-size-bigger);
    letter-spacing: var(--ee-letter-spacing-font-size-micro);
    padding: var(--ee-padding-tiny) var(--ee-padding-small) var(--ee-padding-nano) 0;
    text-align: right;
}

.ee-ticket-assignments-manager .ee-tam-date-row .ee-tam-date-label-div {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    max-height: var(--ee-padding-extreme);
    padding: var(--ee-padding-nano) var(--ee-padding-micro) var(--ee-padding-nano) var(--ee-padding-small);
    position: relative;
    text-align: right;
    text-overflow: ellipsis;
    width: 100%;
}

.ee-ticket-assignments-manager .ee-tam-date-row .ee-tam-date-label-inner {
    align-content: flex-start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.ee-ticket-assignments-manager .ee-calendar-page-date-wrapper {
    max-width: var(--ee-padding-huge);
    min-width: var(--ee-padding-huge);
    margin: var(--ee-margin-micro);
    padding: 0;
}

.ee-ticket-assignments-manager .ee-tam-date-label-text {
    font-size: var(--ee-font-size-small);
    line-height: var(--ee-font-size-default);
    margin: var(--ee-margin-nano) 0 0;
}

.ee-ticket-assignments-manager .ee-tam-date-row-ticket {
    max-width: 50%;
    padding: var(--ee-padding-nano);
    text-align: center;
}

/* BUTTON STYLE */
.ee-ticket-assignments-manager .components-icon-button.ee-tam-ticket-relation-button {
    border-radius: 0 !important;
    border: 2px solid var(--ee-color-white);
    box-shadow: none !important;
    height: var(--ee-padding-extreme);
    margin: auto;
    min-width: var(--ee-padding-extreme);
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ee-ticket-assignments-manager .components-icon-button.ee-tam-ticket-relation-button .dashicon {
    flex: auto;
}

.ee-ticket-assignments-manager .ee-tam-assignments-error,
.ee-ticket-assignments-manager .ee-tam-assignments-error:hover,
.ee-ticket-assignments-manager .ee-tam-assignments-error:focus,
.ee-ticket-assignments-manager .ee-tam-assignments-error:active {
    border: 2px solid var(--ee-color-hot-pink) !important;
}

/* NO TICKET RELATION */
.ee-ticket-assignments-manager .components-icon-button.ee-tam-no-ticket-relation {
    background: var(--ee-color-grey-13) !important;
    color: var(--ee-text-on-grey-13);
}

.ee-ticket-assignments-manager .components-icon-button.ee-tam-no-ticket-relation:hover,
.ee-ticket-assignments-manager .components-icon-button.ee-tam-no-ticket-relation:focus,
.ee-ticket-assignments-manager .components-icon-button.ee-tam-no-ticket-relation:active {
    border: 2px solid var(--ee-color-grey-10) !important;
    color: var(--ee-text-on-grey-10) !important;
}

/* HAS TICKET RELATION */
.ee-ticket-assignments-manager .components-icon-button.ee-tam-has-ticket-relation {
    background-color: var(--ee-color-blue) !important;
    border: 2px solid var(--ee-color-white);
    color: var(--ee-text-on-blue) !important;
}

.ee-ticket-assignments-manager .components-icon-button.ee-tam-has-ticket-relation:hover,
.ee-ticket-assignments-manager .components-icon-button.ee-tam-has-ticket-relation:focus,
.ee-ticket-assignments-manager .components-icon-button.ee-tam-has-ticket-relation:active {
    border: 2px solid var(--ee-color-blue);
}

/* ADD TICKET RELATION */
.ee-ticket-assignments-manager .components-icon-button.ee-tam-add-ticket-relation {
    background: var(--ee-color-green) !important;
    border: 2px solid var(--ee-color-white);
    color: var(--ee-text-on-green-high-contrast) !important;
}

.ee-ticket-assignments-manager .components-icon-button.ee-tam-add-ticket-relation:hover,
.ee-ticket-assignments-manager .components-icon-button.ee-tam-add-ticket-relation:focus,
.ee-ticket-assignments-manager .components-icon-button.ee-tam-add-ticket-relation:active {
    border: 2px solid var(--ee-color-green) !important;
}

/* REMOVE TICKET RELATION */
.ee-ticket-assignments-manager .components-icon-button.ee-tam-remove-ticket-relation {
    background: var(--ee-color-hot-pink) !important;
    border: 2px solid var(--ee-color-white);
    color: var(--ee-text-on-hot-pink) !important;
}

.ee-ticket-assignments-manager .components-icon-button.ee-tam-remove-ticket-relation:hover,
.ee-ticket-assignments-manager .components-icon-button.ee-tam-remove-ticket-relation:focus,
.ee-ticket-assignments-manager .components-icon-button.ee-tam-remove-ticket-relation:active {
    border: 2px solid var(--ee-color-hot-pink) !important;
}


.ee-ticket-assignments-manager-filters .ee-entity-pagination {
    margin: calc(var(--ee-margin-small) * -1) 0 var(--ee-margin-big);
}


/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and ( max-width: 782px ) {

    .ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-row:nth-child(even) {
        background: none;
    }

    .ee-rspnsv-table .ee-rspnsv-table-body .ee-tam-date-row {
        margin-bottom: var(--ee-margin-small);
    }

    .ee-rspnsv-table .ee-rspnsv-table-body .ee-tam-date-row .ee-tam-date-label {
        background: var(--ee-color-grey-12);
        margin-bottom: var(--ee-margin-small);
    }

    .ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-row.ee-tam-year-row {
        padding: 0;
    }

    .ee-rspnsv-table .ee-rspnsv-table-body .ee-tam-year-row .ee-rspnsv-table-body-td {
        display: none !important;
        height: 0 !important;
        padding: var(--ee-padding-small) 0 0 !important;
    }

    .ee-ticket-assignments-manager .ee-tam-year-row .ee-tam-date-label {
        text-align: center;
    }

    .ee-ticket-assignments-manager .ee-tam-date-row .ee-tam-date-label-div {
        flex-flow: row-reverse nowrap;
        justify-content: center;
        text-align: left;
    }

    .ee-ticket-assignments-manager .ee-tam-date-row .ee-tam-date-label-inner {
        margin: 0 var(--ee-margin-micro);
    }


    .ee-ticket-assignments-manager .ee-tam-date-label-text {
        font-size: var(--ee-font-size-default);
        line-height: var(--ee-font-size-big);
        width: 50%;
    }

    .ee-rspnsv-table .ee-tam-date-row .ee-tam-date-row-ticket {
        flex: unset;
        max-width: 100%;
        text-align: left;
    }

    .ee-rspnsv-table .ee-tam-date-row .ee-tam-date-row-ticket:nth-child(even) {
        background: var(--ee-color-grey-15);
    }

    .ee-ticket-assignments-manager .ee-rspnsv-table-mobile-only-column-header .ee-tam-ticket-header-div {
        flex-flow: column nowrap;
        justify-content: center;
        font-size: var(--ee-font-size-small);
        line-height: var(--ee-font-size-small);
        padding: var(--ee-padding-nano) var(--ee-padding-small) 0 0;
        text-align: right;
        width: 100%;
    }

    .ee-ticket-assignments-manager .ee-tam-ticket-id {
        text-align: right;
        top: unset;
    }

    .ee-ticket-assignments-manager .ee-tam-ticket-header-title {
        height: unset;
    }

    .ee-ticket-assignments-manager .ee-tam-ticket-header-status {
        bottom: unset;
        height: var(--ee-padding-extreme);
        padding: 0;
        top: 1px;
        width: 5px;
    }

    .ee-ticket-assignments-manager .ee-tam-ticket-header-status .ee-tam-ticket-header-date {
        display: none;
        visibility: hidden;
    }

    .ee-ticket-assignments-manager .ee-rspnsv-table-body .ee-tam-ticket-header-price .ee-tam-ticket-header-date {
        color: inherit;
        display: block;
        font-size: inherit;
        letter-spacing: 0;
        text-transform: capitalize;
        visibility: visible;
    }

    .ee-ticket-assignments-manager .ee-rspnsv-table-mobile-only-column-header {
        padding-left: 15%;
    }

    .ee-ticket-assignments-manager .ee-rspnsv-table-body-td .ee-rspnsv-table-mobile-only-column-value {
        min-width: calc(var(--ee-padding-extreme) * 2);
    }

    .ee-ticket-assignments-manager .components-icon-button.ee-tam-ticket-relation-button {
        margin: auto 0;
        max-width: calc(var(--ee-padding-extreme) * 2);
    }

}


/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
    .ee-ticket-assignments-manager .ee-rspnsv-table-mobile-only-column-header .ee-tam-ticket-header-div {
        font-size: var(--ee-font-size-smaller);
        width: 100%;
    }

    .ee-ticket-assignments-manager .ee-tam-date-label-text {
        width: auto;
    }

    .ee-ticket-assignments-manager .ee-rspnsv-table-mobile-only-column-header {
        padding-left: 10%;
        width: 55%;
    }

    .ee-ticket-assignments-manager .ee-rspnsv-table-body-td .ee-rspnsv-table-mobile-only-column-value {
        min-width: calc(var(--ee-padding-huge) * 3);
        width: 45%;
    }
}

@media only screen and (max-width: 480px) {
    .ee-ticket-assignments-manager .ee-rspnsv-table-mobile-only-column-header .ee-tam-ticket-header-div {
        font-size: var(--ee-font-size-tiny);
        letter-spacing: var(--ee-letter-spacing-font-size-tiny);
        width: 100%;
    }

    .ee-ticket-assignments-manager .ee-tam-date-label-text {
        font-size: var(--ee-font-size-small);
        line-height: var(--ee-font-size-default);
        width: calc(100% - var(--ee-padding-extreme));
    }

    .ee-ticket-assignments-manager .ee-rspnsv-table-body-td .ee-rspnsv-table-mobile-only-column-value {
        min-width: var(--ee-padding-extreme);
        width: 40%;
    }

    .ee-ticket-assignments-manager .ee-rspnsv-table-mobile-only-column-header {
        padding-left: 0;
        width: 60%;
        max-width: calc(100% - var(--ee-padding-extreme));
    }
}

@media only screen and (max-width: 360px) {
}