/** -------------------------------------------------------------------------
 * Event Espresso EditorTicketActionsMenu Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-editor-ticket-actions-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

