/** -------------------------------------------------------------------------
 * Event Espresso EntityList Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-entity-list {
	width: 100%;

	&__header {
		&.ant-typography {
			color: var(--ee-default-text-color-super-low-contrast);
			font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans',
				'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
			font-size: calc(var(--ee-font-size-big) * 2);
			font-weight: bold;
			line-height: calc(var(--ee-line-height-modifier) * 0.875);
			margin: var(--ee-margin-big) 0 var(--ee-margin-smaller);
		}
	}

	&__footer {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		margin: 0 0 var(--ee-margin-big);
		width: 100%;
	}

	&.ee-rspnsv-table {
		width: 100%;
	}

	&__card-view {
		display: grid;
		gap: var(--ee-margin-big);
		grid-template-columns: repeat(auto-fit, minmax(445px, 1fr));
		grid-auto-rows: 275px;
		width: 100%;

		.ee-entity-card-wrapper {
			justify-self: center;
			max-width: 615px;
			min-width: 300px;
		}
	}

	&--no-results {
		background: var(--ee-color-grey-14);
		color: var(--ee-text-on-grey-14);
		font-size: var(--ee-font-size-default);
		font-weight: normal;
		padding: var(--ee-padding-extreme) var(--ee-padding-big);
		text-align: center;
	}
}

@media only screen and (max-width: 480px) {
	.ee-entity-list {
		&__card-view {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			grid-auto-rows: unset;
		}
	}
}
