:root {
    --ee-icon-button-size: 36px;
}

.esprs-button,
.esprs-button:active,
.esprs-button:focus,
.esprs-button:visited {
    border-radius: var(--ee-border-radius-small);
    box-shadow: var(--ee-box-shadow-tiny);
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    cursor: pointer;
    display: inline-block;
    font-size: var(--ee-font-size-default);
    font-weight: normal;
    min-height: var(--ee-font-size-big);
    line-height: var(--ee-font-size-default);
    margin: 0 0 var(--ee-margin-smaller);
    outline: none !important;
    position: relative;
    padding: var(--ee-padding-tiny) var(--ee-padding-small) var(--ee-padding-smaller);
    text-decoration: none;
    text-align: center;
    top: -1px;
    vertical-align: middle;
}

.esprs-button:active { top: 0; }

.esprs-button + .esprs-button {
    margin-left: var(--ee-margin-default);
}

.esprs-button span {
    position: relative;
    top: 0;
    vertical-align: middle;
}


/* BUTTON COLORS */

.esprs-button-default {
    background: var(--ee-color-grey-11);
    border: 1px solid var(--ee-color-grey-11);
    border-bottom: 1px solid var(--ee-color-grey-10);
    color: var(--ee-text-on-grey-10);
}

.esprs-button-default:hover {
    background: var(--ee-color-grey-10);
}

.esprs-button-primary {
    background: var(--ee-color-primary);
    border: 1px solid var(--ee-color-primary);
    border-bottom: 1px solid var(--ee-color-primary-high-contrast);
    color: var(--ee-text-on-primary);
}

.esprs-button-primary:hover {
    background: var(--ee-color-primary-high-contrast);
    color: var(--ee-text-on-primary-high-contrast);
}

.esprs-button-secondary {
    background: var(--ee-color-secondary);
    border: 1px solid var(--ee-color-secondary);
    border-bottom: 1px solid var(--ee-color-secondary-high-contrast);
    color: var(--ee-text-on-secondary);
}

.esprs-button-secondary:hover {
    background: var(--ee-color-secondary-high-contrast);
    color: var(--ee-text-on-secondary-high-contrast);
}

.esprs-button-accent {
    background: var(--ee-color-accent);
    border: 1px solid var(--ee-color-accent);
    border-bottom: 1px solid var(--ee-color-accent-high-contrast);
    color: var(--ee-text-on-accent);
}

.esprs-button-accent:hover {
    background: var(--ee-color-accent-high-contrast);
    color: var(--ee-text-on-accent-high-contrast);
}

/* BUTTON SIZES */

.tiny.esprs-button,
.tiny.esprs-button:active,
.tiny.esprs-button:focus,
.tiny.esprs-button:visited {
    font-size: var(--ee-font-size-tiny);
    min-height: var(--ee-font-size-smaller);
    line-height: var(--ee-font-size-tiny);
    padding: var(--ee-padding-micro) var(--ee-padding-tiny);
}

.small.esprs-button,
.small.esprs-button:active,
.small.esprs-button:focus,
.small.esprs-button:visited {
    font-size: var(--ee-font-size-smaller);
    min-height: var(--ee-font-size-small);
    line-height: var(--ee-font-size-smaller);
    padding: var(--ee-padding-micro) var(--ee-padding-smaller) var(--ee-padding-tiny);
}

.big.esprs-button,
.big.esprs-button:active,
.big.esprs-button:focus,
.big.esprs-button:visited {
    font-size: var(--ee-font-size-big);
    min-height: var(--ee-font-size-bigger);
    line-height: var(--ee-font-size-big);
    padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);
}

.huge.esprs-button,
.huge.esprs-button:active,
.huge.esprs-button:focus,
.huge.esprs-button:visited {
    font-size: var(--ee-font-size-bigger);
    min-height: var(--ee-font-size-huge);
    line-height: var(--ee-font-size-bigger);
    padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);
}
