/**
 * Various colors for the Default template.
 */
    /** Pink **/
.ee-pink-background-color {
    background-color: var(--ee-color-pink, #ff55c0);
}
.ee-pink-background-color.with-accessible-foreground {
    color: var( --ee-color-pink-foreground-contrast, #0a0000 );
}
.ee-pink-background-color.with-accessible-foreground.with-hover:hover,
.ee-pink-background-color.with-linear-gradient.with-accessible-foreground.with-hover:hover,
.ee-pink-background-color.with-linear-gradient.with-hover:hover,
.ee-pink-background-color.with-hover:hover {
    background-image: none;
    background-color: var( --ee-color-pink-hover-contrast, #ffa3dd );
}
.ee-pink-color {
    color: var(--ee-color-pink, #ff55c0);
}
.ee-pink-color.with-accessible-background {
    background-color: var(--ee-color-pink-background-contrast, #0a0000 );
}
.ee-pink-color.with-accessible-background.with-hover:hover {
    background-color: var(--ee-color-pink-hover, #550000);
}
.ee-pink-background-color.with-linear-gradient {
    background-image: linear-gradient(
        var(--ee-pink-background-gradient-x, #f65077),
        var(--ee-pink-background-gradient-y, #ff55c0)
    );
}
.ee-pink-background-color.with-linear-gradient.with-accessible-foreground {
    color: var(--ee-color-pink-background-contrast, #0a0000 );
}
.ee-pink-background-color.with-01-transparency {
    background-color: var(--ee-color-pink-01-transparency, rgb( 255, 85, 192, 0.01));
}
.ee-pink-background-color.with-01-transparency.with-hover:hover {
    background-color: var(--ee-color-pink-25-transparency, rgb( 255, 85, 192, 0.25));
}
.ee-pink-background-color.with-25-transparency {
    background-color: var(--ee-color-pink-25-transparency, rgb( 255, 85, 192, 0.25));
}
.ee-pink-background-color.with-25-transparency.with-hover:hover {
    background-color: var(--ee-color-pink-01-transparency, rgb( 255, 85, 192, 0.01));
}
.ee-pink-background-color.with-50-transparency {
    background-color: var(--ee-color-pink-50-transparency, rgb( 255, 85, 192, 0.50));
}
.ee-pink-background-color.with-50-transparency.with-hover:hover {
    background-color: var(--ee-color-pink-25-transparency, rgb( 255, 85, 192, 0.25));
}
.ee-pink-background-color.with-75-transparency {
    background-color: var(--ee-color-pink-75-transparency, rgb( 255, 85, 192, 0.75));
}
.ee-pink-background-color.with-75-transparency.with-hover:hover {
    background-color: var(--ee-color-pink-50-transparency, rgb( 255, 85, 192, 0.50));
}
    /** Green **/
.ee-green-background-color {
    background-color: var(--ee-color-green, #70cc50);
}
.ee-green-background-color.with-accessible-foreground {
    color: var( --ee-color-green-foreground-contrast, #002a00 );
}
.ee-green-background-color.with-accessible-foreground.with-hover:hover,
.ee-green-background-color.with-linear-gradient.with-accessible-foreground.with-hover:hover,
.ee-green-background-color.with-linear-gradient.with-hover:hover,
.ee-green-background-color.with-hover:hover {
    background-image: none;
    background-color: var( --ee-color-green-hover-contrast, #bee7b1 );
}
.ee-green-color {
    color: var(--ee-color-green, #70cc50);
}
.ee-green-color.with-accessible-background {
    background-color: var(--ee-color-green-background-contrast, #002a00 );
}
.ee-green-color.with-accessible-background.with-hover:hover {
    background-color: var(--ee-color-green-hover, #2a2440);
}
.ee-green-background-color.with-linear-gradient {
    background-image: linear-gradient(
        var(--ee-green-background-gradient-x, #80dd5e),
        var(--ee-green-background-gradient-y, #70cc50)
    );
}
.ee-green-background-color.with-linear-gradient.with-accessible-foreground {
    color: var(--ee-color-green-background-contrast, #002a00 );
}
.ee-green-background-color.with-01-transparency {
    background-color: var(--ee-color-green-01-transparency, rgb( 112, 204, 80, 0.01));
}
.ee-green-background-color.with-01-transparency.with-hover:hover {
    background-color: var(--ee-color-green-25-transparency, rgb( 112, 204, 80, 0.25));
}
.ee-green-background-color.with-25-transparency {
    background-color: var(--ee-color-green-25-transparency, rgb( 112, 204, 80, 0.25));
}
.ee-green-background-color.with-25-transparency.with-hover:hover {
    background-color: var(--ee-color-green-01-transparency, rgb( 112, 204, 80, 0.01));
}
.ee-green-background-color.with-50-transparency {
    background-color: var(--ee-color-green-50-transparency, rgb( 112, 204, 80, 0.50));
}
.ee-green-background-color.with-50-transparency.with-hover:hover {
    background-color: var(--ee-color-green-25-transparency, rgb( 112, 204, 80, 0.25));
}
.ee-green-background-color.with-75-transparency {
    background-color: var(--ee-color-green-75-transparency, rgb( 112, 204, 80, 0.75));
}
.ee-green-background-color.with-75-transparency.with-hover:hover {
    background-color: var(--ee-color-green-50-transparency, rgb( 112, 204, 80, 0.50));
}
    /** Dark Green **/
.ee-dark-green-background-color {
    background-color: var(--ee-color-dark-green, #006600);
}
.ee-dark-green-background-color.with-accessible-foreground {
    color: var( --ee-color-dark-green-foreground-contrast, #fcfcfc );
}
.ee-dark-green-background-color.with-accessible-foreground.with-hover:hover,
.ee-dark-green-background-color.with-linear-gradient.with-accessible-foreground.with-hover:hover,
.ee-dark-green-background-color.with-linear-gradient.with-hover:hover,
.ee-dark-green-background-color.with-hover:hover {
    background-image: none;
    background-color: var( --ee-color-dark-green-hover-contrast, #004200 );
}
.ee-dark-green-color {
    color: var(--ee-color-dark-green, #006600);
}
.ee-dark-green-color.with-accessible-background {
    background-color: var(--ee-color-dark-green-background-contrast, #fcfcfc );
}
.ee-dark-green-color.with-accessible-background.with-hover:hover {
    background-color: var(--ee-color-dark-green-hover, #e3e3e3);
}
.ee-dark-green-background-color.with-linear-gradient {
    background-image: linear-gradient(
        var(--ee-dark-green-background-gradient-x, #80dd5e),
        var(--ee-dark-green-background-gradient-y, #006600)
    );
}
.ee-dark-green-background-color.with-linear-gradient.with-accessible-foreground {
    color: var(--ee-color-dark-green-background-contrast, #fcfcfc );
}
.ee-dark-green-background-color.with-01-transparency {
    background-color: var(--ee-color-dark-green-01-transparency, rgb( 0, 102, 0, 0.01));
}
.ee-dark-green-background-color.with-01-transparency.with-hover:hover {
    background-color: var(--ee-color-dark-green-25-transparency, rgb( 0, 102, 0, 0.25));
}
.ee-dark-green-background-color.with-25-transparency {
    background-color: var(--ee-color-dark-green-25-transparency, rgb( 0, 102, 0, 0.25));
}
.ee-dark-green-background-color.with-25-transparency.with-hover:hover {
    background-color: var(--ee-color-dark-green-01-transparency, rgb( 0, 102, 0, 0.01));
}
.ee-dark-green-background-color.with-50-transparency {
    background-color: var(--ee-color-dark-green-50-transparency, rgb( 0, 102, 0, 0.50));
}
.ee-dark-green-background-color.with-50-transparency.with-hover:hover {
    background-color: var(--ee-color-dark-green-25-transparency, rgb( 0, 102, 0, 0.25));
}
.ee-dark-green-background-color.with-75-transparency {
    background-color: var(--ee-color-dark-green-75-transparency, rgb( 0, 102, 0, 0.75));
}
.ee-dark-green-background-color.with-75-transparency.with-hover:hover {
    background-color: var(--ee-color-dark-green-50-transparency, rgb( 0, 102, 0, 0.50));
}
    /** Red **/
.ee-red-background-color {
    background-color: var(--ee-color-red, #ad103c);
}
.ee-red-background-color.with-accessible-foreground {
    color: var( --ee-color-red-foreground-contrast, #fff );
}
.ee-red-background-color.with-accessible-foreground.with-hover:hover,
.ee-red-background-color.with-linear-gradient.with-accessible-foreground.with-hover:hover,
.ee-red-background-color.with-linear-gradient.with-hover:hover,
.ee-red-background-color.with-hover:hover {
    background-image: none;
    background-color: var( --ee-color-red-hover-contrast, #c8194e );
}
.ee-red-color {
    color: var(--ee-color-red, #ad103c);
}
.ee-red-color.with-accessible-background {
    background-color: var(--ee-color-red-background-contrast, #fff );
}
.ee-red-color.with-accessible-background.with-hover:hover {
    background-color: var(--ee-color-red-hover, #f0f0f0);
}
.ee-red-background-color.with-linear-gradient {
    background-image: linear-gradient(
        var(--ee-red-background-gradient-x, #c8194e),
        var(--ee-red-background-gradient-y, #b4113f)
    );
}
.ee-red-background-color.with-linear-gradient.with-accessible-foreground {
    color: var(--ee-color-red-background-contrast, #fff );
}
.ee-red-background-color.with-01-transparency {
    background-color: var(--ee-color-red-01-transparency, rgb( 173, 16, 60, 0.01));
}
.ee-red-background-color.with-01-transparency.with-hover:hover {
    background-color: var(--ee-color-red-25-transparency, rgb( 173, 16, 60, 0.25));
}
.ee-red-background-color.with-25-transparency {
    background-color: var(--ee-color-red-25-transparency, rgb( 173, 16, 60, 0.25));
}
.ee-red-background-color.with-25-transparency.with-hover:hover {
    background-color: var(--ee-color-red-01-transparency, rgb( 173, 16, 60, 0.01));
}
.ee-red-background-color.with-50-transparency {
    background-color: var(--ee-color-red-50-transparency, rgb( 173, 16, 60, 0.50));
}
.ee-red-background-color.with-50-transparency.with-hover:hover {
    background-color: var(--ee-color-red-25-transparency, rgb( 173, 16, 60, 0.25));
}
.ee-red-background-color.with-75-transparency {
    background-color: var(--ee-color-red-75-transparency, rgb( 173, 16, 60, 0.75));
}
.ee-red-background-color.with-75-transparency.with-hover:hover {
    background-color: var(--ee-color-red-50-transparency, rgb( 173, 16, 60, 0.50));
}
    /** Orange **/
.ee-orange-background-color {
    background-color: var(--ee-color-orange, #ff7e14);
}
.ee-orange-background-color.with-accessible-foreground {
    color: var( --ee-color-orange-foreground-contrast, #171717 );
}
.ee-orange-background-color.with-accessible-foreground.with-hover:hover,
.ee-orange-background-color.with-linear-gradient.with-accessible-foreground.with-hover:hover,
.ee-orange-background-color.with-linear-gradient.with-hover:hover,
.ee-orange-background-color.with-hover:hover {
    background-image: none;
    background-color: var( --ee-color-orange-hover-contrast, #ff9d4d );
}
.ee-orange-color {
    color: var(--ee-color-orange, #ff7e14);
}
.ee-orange-color.with-accessible-background {
    background-color: var(--ee-color-orange-background-contrast, #171717 );
}
.ee-orange-color.with-accessible-background.with-hover:hover {
    background-color: var(--ee-color-orange-hover, #383838);
}
.ee-orange-background-color.with-linear-gradient {
    background-image: linear-gradient(
        var(--ee-orange-background-gradient-x, #fa730b),
        var(--ee-orange-background-gradient-y, #e76700)
    );
}
.ee-orange-background-color.with-linear-gradient.with-accessible-foreground {
    color: var(--ee-color-orange-background-contrast, #171717 );
}
.ee-orange-background-color.with-01-transparency {
    background-color: var(--ee-color-orange-01-transparency, rgb( 173, 16, 60, 0.01));
}
.ee-orange-background-color.with-01-transparency.with-hover:hover {
    background-color: var(--ee-color-orange-25-transparency, rgb( 173, 16, 60, 0.25));
}
.ee-orange-background-color.with-25-transparency {
    background-color: var(--ee-color-orange-25-transparency, rgb( 173, 16, 60, 0.25));
}
.ee-orange-background-color.with-25-transparency.with-hover:hover {
    background-color: var(--ee-color-orange-01-transparency, rgb( 173, 16, 60, 0.01));
}
.ee-orange-background-color.with-50-transparency {
    background-color: var(--ee-color-orange-50-transparency, rgb( 173, 16, 60, 0.50));
}
.ee-orange-background-color.with-50-transparency.with-hover:hover {
    background-color: var(--ee-color-orange-25-transparency, rgb( 173, 16, 60, 0.25));
}
.ee-orange-background-color.with-75-transparency {
    background-color: var(--ee-color-orange-75-transparency, rgb( 173, 16, 60, 0.75));
}
.ee-orange-background-color.with-75-transparency.with-hover:hover {
    background-color: var(--ee-color-orange-50-transparency, rgb( 173, 16, 60, 0.50));
}
    /** Light Blue **/
.ee-light-blue-background-color {
    background-color: var(--ee-color-light-blue, #00b1ca);
}
.ee-light-blue-background-color.with-accessible-foreground {
    color: var( --ee-color-light-blue-foreground-contrast, #041525 );
}
.ee-light-blue-background-color.with-accessible-foreground.with-hover:hover,
.ee-light-blue-background-color.with-linear-gradient.with-accessible-foreground.with-hover:hover,
.ee-light-blue-background-color.with-linear-gradient.with-hover:hover,
.ee-light-blue-background-color.with-hover:hover {
    background-image: none;
    background-color: var( --ee-color-light-blue-hover-contrast, #00e1ff );
}
.ee-light-blue-color {
    color: var(--ee-color-light-blue, #00b1ca);
}
.ee-light-blue-color.with-accessible-background {
    background-color: var(--ee-color-light-blue-background-contrast, #041525 );
}
.ee-light-blue-color.with-accessible-background.with-hover:hover {
    background-color: var(--ee-color-light-blue-hover, #133762);
}
.ee-light-blue-background-color.with-linear-gradient {
    background-image: linear-gradient(
        var(--ee-light-blue-background-gradient-x, #066b1),
        var(--ee-light-blue-background-gradient-y, #00b1ca)
    );
}
.ee-light-blue-background-color.with-linear-gradient.with-accessible-foreground {
    color: var(--ee-color-light-blue-background-contrast, #041525 );
}
.ee-light-blue-background-color.with-01-transparency {
    background-color: var(--ee-color-light-blue-01-transparency, rgb( 0, 177, 202, 0.01));
}
.ee-light-blue-background-color.with-01-transparency.with-hover:hover {
    background-color: var(--ee-color-light-blue-25-transparency, rgb( 0, 177, 202, 0.25));
}
.ee-light-blue-background-color.with-25-transparency {
    background-color: var(--ee-color-light-blue-25-transparency, rgb( 0, 177, 202, 0.25));
}
.ee-light-blue-background-color.with-25-transparency.with-hover:hover {
    background-color: var(--ee-color-light-blue-01-transparency, rgb( 0, 177, 202, 0.01));
}
.ee-light-blue-background-color.with-50-transparency {
    background-color: var(--ee-color-light-blue-50-transparency, rgb( 0, 177, 202, 0.50));
}
.ee-light-blue-background-color.with-50-transparency.with-hover:hover {
    background-color: var(--ee-color-light-blue-25-transparency, rgb( 0, 177, 202, 0.25));
}
.ee-light-blue-background-color.with-75-transparency {
    background-color: var(--ee-color-light-blue-75-transparency, rgb( 0, 177, 202, 0.75));
}
.ee-light-blue-background-color.with-75-transparency.with-hover:hover {
    background-color: var(--ee-color-light-blue-50-transparency, rgb( 0, 177, 202, 0.50));
}
    /** Blue **/
.ee-blue-background-color {
    background-color: var(--ee-color-blue, #005b93);
}
.ee-blue-background-color.with-accessible-foreground {
    color: var( --ee-color-blue-foreground-contrast, #fff );
}
.ee-blue-background-color.with-accessible-foreground.with-hover:hover,
.ee-blue-background-color.with-linear-gradient.with-accessible-foreground.with-hover:hover,
.ee-blue-background-color.with-linear-gradient.with-hover:hover,
.ee-blue-background-color.with-hover:hover {
    background-image: none;
    background-color: var( --ee-color-blue-hover-contrast, #003e6b );
}
.ee-blue-color {
    color: var(--ee-color-blue, #005b93);
}
.ee-blue-color.with-accessible-background {
    background-color: var(--ee-color-blue-background-contrast, #fff );
}
.ee-blue-color.with-accessible-background.with-hover:hover {
    background-color: var(--ee-color-blue-hover, #f0f0f0);
}
.ee-blue-background-color.with-linear-gradient {
    background-image: linear-gradient(
        var(--ee-blue-background-gradient-x, #066db1),
        var(--ee-blue-background-gradient-y, #005b93)
    );
}
.ee-blue-background-color.with-linear-gradient.with-accessible-foreground {
    color: var(--ee-color-blue-background-contrast, #fff );
}
.ee-blue-background-color.with-01-transparency {
    background-color: var(--ee-color-blue-01-transparency, rgb( 0, 91, 147, 0.01));
}
.ee-blue-background-color.with-01-transparency.with-hover:hover {
    background-color: var(--ee-color-blue-25-transparency, rgb( 0, 91, 147, 0.25));
}
.ee-blue-background-color.with-25-transparency {
    background-color: var(--ee-color-blue-25-transparency, rgb( 0, 91, 147, 0.25));
}
.ee-blue-background-color.with-25-transparency.with-hover:hover {
    background-color: var(--ee-color-blue-01-transparency, rgb( 0, 91, 147, 0.01));
}
.ee-blue-background-color.with-50-transparency {
    background-color: var(--ee-color-blue-50-transparency, rgb( 0, 91, 147, 0.50));
}
.ee-blue-background-color.with-50-transparency.with-hover:hover {
    background-color: var(--ee-color-blue-25-transparency, rgb( 0, 91, 147, 0.25));
}
.ee-blue-background-color.with-75-transparency {
    background-color: var(--ee-color-blue-75-transparency, rgb( 0, 91, 147, 0.75));
}
.ee-blue-background-color.with-75-transparency.with-hover:hover {
    background-color: var(--ee-color-blue-50-transparency, rgb( 0, 91, 147, 0.50));
}
    /** Yellow **/
.ee-yellow-background-color {
    background-color: var(--ee-color-yellow, #f8d755);
}
.ee-yellow-background-color.with-accessible-foreground {
    color: var( --ee-color-yellow-foreground-contrast, #1d1905 );
}
.ee-yellow-background-color.with-accessible-foreground.with-hover:hover,
.ee-yellow-background-color.with-linear-gradient.with-accessible-foreground.with-hover:hover,
.ee-yellow-background-color.with-linear-gradient.with-hover:hover,
.ee-yellow-background-color.with-hover:hover {
    background-image: none;
    background-color: var( --ee-color-yellow-hover-contrast, #f9eaaf );
}
.ee-yellow-color {
    color: var(--ee-color-yellow, #f8d755);
}
.ee-yellow-color.with-accessible-background {
    background-color: var(--ee-color-yellow-background-contrast, #1d1905 );
}
.ee-yellow-color.with-accessible-background.with-hover:hover {
    background-color: var(--ee-color-yellow-hover, #48400f);
}
.ee-yellow-background-color.with-linear-gradient {
    background-image: linear-gradient(
        var(--ee-yellow-background-gradient-x, #f3df6c),
        var(--ee-yellow-background-gradient-y, #f8d755)
    );
}
.ee-yellow-background-color.with-linear-gradient.with-accessible-foreground {
    color: var(--ee-color-yellow-background-contrast, #1d1905 );
}
.ee-yellow-background-color.with-01-transparency {
    background-color: var(--ee-color-yellow-01-transparency, rgb( 248, 215, 85, 0.01));
}
.ee-yellow-background-color.with-01-transparency.with-hover:hover {
    background-color: var(--ee-color-yellow-25-transparency, rgb( 248, 215, 85, 0.25));
}
.ee-yellow-background-color.with-25-transparency {
    background-color: var(--ee-color-yellow-25-transparency, rgb( 248, 215, 85, 0.25));
}
.ee-yellow-background-color.with-25-transparency.with-hover:hover {
    background-color: var(--ee-color-yellow-01-transparency, rgb( 248, 215, 85, 0.01));
}
.ee-yellow-background-color.with-50-transparency {
    background-color: var(--ee-color-yellow-50-transparency, rgb( 248, 215, 85, 0.50));
}
.ee-yellow-background-color.with-50-transparency.with-hover:hover {
    background-color: var(--ee-color-yellow-25-transparency, rgb( 248, 215, 85, 0.25));
}
.ee-yellow-background-color.with-75-transparency {
    background-color: var(--ee-color-yellow-75-transparency, rgb( 248, 215, 85, 0.75));
}
.ee-yellow-background-color.with-75-transparency.with-hover:hover {
    background-color: var(--ee-color-yellow-50-transparency, rgb( 248, 215, 85, 0.50));
}
    /** Grey **/
.ee-grey-background-color {
    background-color: var(--ee-color-grey, #ac9d9c);
}
.ee-grey-background-color.with-accessible-foreground {
    color: var( --ee-color-grey-foreground-contrast, #141414 );
}
.ee-grey-background-color.with-accessible-foreground.with-hover:hover,
.ee-grey-background-color.with-linear-gradient.with-accessible-foreground.with-hover:hover,
.ee-grey-background-color.with-linear-gradient.with-hover:hover,
.ee-grey-background-color.with-hover:hover {
    background-image: none;
    background-color: var( --ee-color-grey-hover-contrast, #ebeaea );
}
.ee-grey-color {
    color: var(--ee-color-grey, #ac9d9c);
}
.ee-grey-color.with-accessible-background {
    background-color: var(--ee-color-grey-background-contrast, #141414 );
}
.ee-grey-color.with-accessible-background.with-hover:hover {
    background-color: var(--ee-color-grey-hover, #333);
}
.ee-grey-background-color.with-linear-gradient {
    background-image: linear-gradient(
        var(--ee-grey-background-gradient-x, #59595b),
        var(--ee-grey-background-gradient-y, #ac9d9c)
    );
}
.ee-grey-background-color.with-linear-gradient.with-accessible-foreground {
    color: var(--ee-color-grey-background-contrast, #141414 );
}
.ee-grey-background-color.with-01-transparency {
    background-color: var(--ee-color-grey-01-transparency, rgb( 172, 157, 156, 0.01));
}
.ee-grey-background-color.with-01-transparency.with-hover:hover {
    background-color: var(--ee-color-grey-25-transparency, rgb( 172, 157, 156, 0.25));
}
.ee-grey-background-color.with-25-transparency {
    background-color: var(--ee-color-grey-25-transparency, rgb( 172, 157, 156, 0.25));
}
.ee-grey-background-color.with-25-transparency.with-hover:hover {
    background-color: var(--ee-color-grey-01-transparency, rgb( 172, 157, 156, 0.01));
}
.ee-grey-background-color.with-50-transparency {
    background-color: var(--ee-color-grey-50-transparency, rgb( 172, 157, 156, 0.50));
}
.ee-grey-background-color.with-50-transparency.with-hover:hover {
    background-color: var(--ee-color-grey-25-transparency, rgb( 172, 157, 156, 0.25));
}
.ee-grey-background-color.with-75-transparency {
    background-color: var(--ee-color-grey-75-transparency, rgb( 172, 157, 156, 0.75));
}
.ee-grey-background-color.with-75-transparency.with-hover:hover {
    background-color: var(--ee-color-grey-50-transparency, rgb( 172, 157, 156, 0.50));
}
    /** Dark Grey **/
.ee-dark-grey-background-color {
    background-color: var(--ee-color-dark-grey, #464549);
}
.ee-dark-grey-background-color.with-accessible-foreground {
    color: var( --ee-color-dark-grey-foreground-contrast, #dedede );
}
.ee-dark-grey-background-color.with-accessible-foreground.with-hover:hover,
.ee-dark-grey-background-color.with-linear-gradient.with-accessible-foreground.with-hover:hover,
.ee-dark-grey-background-color.with-linear-gradient.with-hover:hover,
.ee-dark-grey-background-color.with-hover:hover {
    background-image: none;
    background-color: var( --ee-color-dark-grey-hover-contrast, #141415 );
}
.ee-dark-grey-color {
    color: var(--ee-color-dark-grey, #464549);
}
.ee-dark-grey-color.with-accessible-background {
    background-color: var(--ee-color-dark-grey-background-contrast, #dedede );
}
.ee-dark-grey-color.with-accessible-background.with-hover:hover {
    background-color: var(--ee-color-dark-grey-hover, #fafafa);
}
.ee-dark-grey-background-color.with-linear-gradient {
    background-image: linear-gradient(
        var(--ee-dark-grey-background-gradient-x, #59595b),
        var(--ee-dark-grey-background-gradient-y, #464549)
    );
}
.ee-dark-grey-background-color.with-linear-gradient.with-accessible-foreground {
    color: var(--ee-color-dark-grey-background-contrast, #dedede );
}
.ee-dark-grey-background-color.with-01-transparency {
    background-color: var(--ee-color-dark-grey-01-transparency, rgb( 70, 69, 73, 0.01));
}
.ee-dark-grey-background-color.with-01-transparency.with-hover:hover {
    background-color: var(--ee-color-dark-grey-25-transparency, rgb( 70, 69, 73, 0.25));
}
.ee-dark-grey-background-color.with-25-transparency {
    background-color: var(--ee-color-dark-grey-25-transparency, rgb( 70, 69, 73, 0.25));
}
.ee-dark-grey-background-color.with-25-transparency.with-hover:hover {
    background-color: var(--ee-color-dark-grey-01-transparency, rgb( 70, 69, 73, 0.01));
}
.ee-dark-grey-background-color.with-50-transparency {
    background-color: var(--ee-color-dark-grey-50-transparency, rgb( 70, 69, 73, 0.50));
}
.ee-dark-grey-background-color.with-50-transparency.with-hover:hover {
    background-color: var(--ee-color-dark-grey-25-transparency, rgb( 70, 69, 73, 0.25));
}
.ee-dark-grey-background-color.with-75-transparency {
    background-color: var(--ee-color-dark-grey-75-transparency, rgb( 70, 69, 73, 0.75));
}
.ee-dark-grey-background-color.with-75-transparency.with-hover:hover {
    background-color: var(--ee-color-dark-grey-50-transparency, rgb( 70, 69, 73, 0.50));
}
    /** Black **/
.ee-black-background-color {
    background-color: var(--ee-color-black, #2f3334);
}
.ee-black-background-color.with-accessible-foreground {
    color: var( --ee-color-black-foreground-contrast, #eee );
}
.ee-black-background-color.with-accessible-foreground.with-hover:hover,
.ee-black-background-color.with-linear-gradient.with-accessible-foreground.with-hover:hover,
.ee-black-background-color.with-linear-gradient.with-hover:hover,
.ee-black-background-color.with-hover:hover {
    background-image: none;
    background-color: var( --ee-color-black-hover-contrast, #535e5f );
}
.ee-black-color {
    color: var(--ee-color-black, #2f3334);
}
.ee-black-color.with-accessible-background {
    background-color: var(--ee-color-black-background-contrast, #eee );
}
.ee-black-color.with-accessible-background.with-hover:hover {
    background-color: var(--ee-color-black-hover, #fff);
}
.ee-black-background-color.with-linear-gradient {
    background-image: linear-gradient(
        var(--ee-black-background-gradient-x, #424646),
        var(--ee-black-background-gradient-y, #2f3334)
    );
}
.ee-black-background-color.with-linear-gradient.with-accessible-foreground {
    color: var(--ee-color-black-background-contrast, #eee );
}
.ee-black-background-color.with-01-transparency {
    background-color: var(--ee-color-black-01-transparency, rgb( 47, 51, 52, 0.01));
}
.ee-black-background-color.with-01-transparency.with-hover:hover {
    background-color: var(--ee-color-black-25-transparency, rgb( 47, 51, 52, 0.25));
}
.ee-black-background-color.with-25-transparency {
    background-color: var(--ee-color-black-25-transparency, rgb( 47, 51, 52, 0.25));
}
.ee-black-background-color.with-25-transparency.with-hover:hover {
    background-color: var(--ee-color-black-01-transparency, rgb( 47, 51, 52, 0.01));
}
.ee-black-background-color.with-50-transparency {
    background-color: var(--ee-color-black-50-transparency, rgb( 47, 51, 52, 0.50));
}
.ee-black-background-color.with-50-transparency.with-hover:hover {
    background-color: var(--ee-color-black-25-transparency, rgb( 47, 51, 52, 0.25));
}
.ee-black-background-color.with-75-transparency {
    background-color: var(--ee-color-black-75-transparency, rgb( 47, 51, 52, 0.75));
}
.ee-black-background-color.with-75-transparency.with-hover:hover {
    background-color: var(--ee-color-black-50-transparency, rgb( 47, 51, 52, 0.50));
}
    /** White **/
.ee-white-background-color {
    background-color: var(--ee-color-white, #fff);
}
.ee-white-background-color.with-accessible-foreground {
    color: var( --ee-color-white-foreground-contrast, #292929 );
}
.ee-white-background-color.with-accessible-foreground.with-hover:hover,
.ee-white-background-color.with-linear-gradient.with-accessible-foreground.with-hover:hover,
.ee-white-background-color.with-linear-gradient.with-hover:hover,
.ee-white-background-color.with-hover:hover {
    background-image: none;
    background-color: var( --ee-color-white-hover-contrast, #d9d9d9 );
}
.ee-white-color {
    color: var(--ee-color-white, #fff);
}
.ee-white-color.with-accessible-background {
    background-color: var(--ee-color-white-background-contrast, #292929 );
}
.ee-white-color.with-accessible-background.with-hover:hover {
    background-color: var(--ee-color-white-hover, #595959);
}
.ee-white-background-color.with-linear-gradient {
    background-image: linear-gradient(
        var(--ee-white-background-gradient-x, #ffecdb),
        var(--ee-white-background-gradient-y, #fff)
    );
}
.ee-white-background-color.with-linear-gradient.with-accessible-foreground {
    color: var(--ee-color-white-background-contrast, #292929 );
}
.ee-white-background-color.with-01-transparency {
    background-color: var(--ee-color-white-01-transparency, rgb( 255, 255, 255, 0.01));
}
.ee-white-background-color.with-01-transparency.with-hover:hover {
    background-color: var(--ee-color-white-25-transparency, rgb( 255, 255, 255, 0.25));
}
.ee-white-background-color.with-25-transparency {
    background-color: var(--ee-color-white-25-transparency, rgb( 255, 255, 255, 0.25));
}
.ee-white-background-color.with-25-transparency.with-hover:hover {
    background-color: var(--ee-color-white-01-transparency, rgb( 255, 255, 255, 0.01));
}
.ee-white-background-color.with-50-transparency {
    background-color: var(--ee-color-white-50-transparency, rgb( 255, 255, 255, 0.50));
}
.ee-white-background-color.with-50-transparency.with-hover:hover {
    background-color: var(--ee-color-white-25-transparency, rgb( 255, 255, 255, 0.25));
}
.ee-white-background-color.with-75-transparency {
    background-color: var(--ee-color-white-75-transparency, rgb( 255, 255, 255, 0.75));
}
.ee-white-background-color.with-75-transparency.with-hover:hover {
    background-color: var(--ee-color-white-50-transparency, rgb( 255, 255, 255, 0.50));
}
