/**
 * Various size related modifiers
 */

/** Numerical font-size **/
.with-font-size-1 {
    font-size: calc(var(--ee-size-1, 1) * 1px);
}
.with-font-size-2 {
    font-size: calc(var(--ee-size-2, 2) * 1px);
}
.with-font-size-3 {
    font-size: calc(var(--ee-size-3, 3) * 1px);
}
.with-font-size-4 {
    font-size: calc(var(--ee-size-4, 4) * 1px);
}
.with-font-size-5 {
    font-size: calc(var(--ee-size-5, 5) * 1px);
}
.with-font-size-6 {
    font-size: calc(var(--ee-size-6, 6) * 1px);
}
.with-font-size-7 {
    font-size: calc(var(--ee-size-7, 7) * 1px);
}
.with-font-size-8 {
    font-size: calc(var(--ee-size-8, 8) * 1px);
}
.with-font-size-9 {
    font-size: calc(var(--ee-size-9, 9) * 1px);
}
.with-font-size-10 {
    font-size: calc(var(--ee-size-10, 10) * 1px);
}
.with-font-size-11 {
    font-size: calc(var(--ee-size-11, 11) * 1px);
}
.with-font-size-12 {
    font-size: calc(var(--ee-size-12, 12) * 1px);
}
.with-font-size-13 {
    font-size: calc(var(--ee-size-13, 13) * 1px);
}
.with-font-size-14 {
    font-size: calc(var(--ee-size-14, 14) * 1px);
}
.with-font-size-15 {
    font-size: calc(var(--ee-size-15, 15) * 1px);
}
.with-font-size-16 {
    font-size: calc(var(--ee-size-16, 16) * 1px);
}
.with-font-size-17 {
    font-size: calc(var(--ee-size-17, 17) * 1px);
}
.with-font-size-18 {
    font-size: calc(var(--ee-size-18, 18) * 1px);
}
.with-font-size-19 {
    font-size: calc(var(--ee-size-19, 19) * 1px);
}
.with-font-size-20 {
    font-size: calc(var(--ee-size-20, 20) * 1px);
}
.with-font-size-21 {
    font-size: calc(var(--ee-size-21, 21) * 1px);
}
.with-font-size-22 {
    font-size: calc(var(--ee-size-22, 22) * 1px);
}
.with-font-size-23 {
    font-size: calc(var(--ee-size-23, 23) * 1px);
}
.with-font-size-24 {
    font-size: calc(var(--ee-size-24, 24) * 1px);
}

/** Named relative font size **/
.with-font-size-small {
    font-size: calc(var(--ee-font-size-small, 11 ) * 1px);
}
.with-font-size-medium {
    font-size: calc(var(--ee-font-size-medium, 13) * 1px);
}
.with-font-size-large {
    font-size: calc(var(--ee-font-size-large, 14) * 1px);
}
.with-font-size-huge {
    font-size: calc(var(--ee-font-size-huge, 16) * 1px);
}

/** Named relative border-radius **/
.with-border-radius-small {
    border-radius: calc(var(--ee-radius-size-small, 3) * 1px);
}
.with-border-radius-normal {
    border-radius: calc(var(--ee-radius-size-normal, 6) * 1px);
}