
/******************* EVENT LIST FILTERS ****************** */

#espresso-events-list-filters-wrapper-dv {
	position: relative;
	margin: 0 0 1em;
	z-index: 1;
}
#espresso-events-list-filters-h3 {
	color: #A39D9C;
	margin: 0 0 .25em;
}
#espresso-events-list-filters-dv {
	position: relative;
	padding: 1em 1.25em;
	margin: 0;
	background: #EEE;
}
#espresso-events-list-filters-frm {
	padding: 0;
	margin: 0;
}
#espresso-events-list-filters-frm a {
	margin-bottom: 0;
}
#espresso-events-list-filters-dv select,
#espresso-events-list-filters-dv input[type="text"] {
	width: auto;
	height: auto;
	padding: 3px;
	margin: 0;
	border: 1px solid #A39D9C;
	vertical-align: middle;
}
#espresso-events-list-filters-dv label {
	display: inline-block;
	vertical-align: middle;
}
#espresso-events-list-filters-dv span  {
	height: 21px;
	margin: 0 1em 0 0;
	vertical-align: middle;
}

#espresso-events-list-filters-view-dv {
	display: inline-block;
	float: right;
	margin: .1em 0 0;
}
#espresso-events-list-filters-view-dv .events-list-filter-view-lnk {
	display: inline-block;
	margin: 0;
	font-size: 16px;
}
#espresso-events-list-filters-view-dv .events-list-filter-view-lnk img {
	vertical-align: middle;
	box-shadow: none !important;
}

.ee-checkbox {
	vertical-align: middle;
}
.ee-checkbox-lbl:hover {
	cursor: pointer;
}



/******************* GLOBAL STYLES ****************** */

.post-type-archive-espresso_events .site-content,
.post-type-archive-espresso_events .entry-content {

} 
.espresso-events-list-wrap-dv {
	width: auto;
	max-width: 1100px;
	padding: 0 10px 2em;
	margin: 0 auto;}
.espresso-events-list-dv {
	position: relative;
	padding: 0;
	margin: 0 auto;
}
.espresso-events-list-dv .espresso-event-list-event {
	padding: 1em 0 2em;
	height: auto;
}
.espresso-events-list-wrap-dv .event-list-h1 {
	position: relative;
	z-index: 10;
}

.espresso-event-wrapper-dv  .event-content p {
	line-height: 1.5em;
}

.event-meta p {
	margin: 1em 0;
}
.event-meta .tags-links {
	display: block;
	margin:0 0 .5em;
	font-size:12px;
	line-height: 1em;
}
.event-meta .tags-links a {
	color: #777;
}


.espresso-venue-dv {
	position: relative;
	width: auto;
	padding: 1em;
	margin: 1em 0;
	border: 1px solid #eee;
	background: #f8f8f8;
}
.ee-gmap-wrapper {
}

.no-espresso-events-found {
	padding: 2em;
}
.no-espresso-events-found .event-title {
	margin: 0 0 1em; 
}
.no-espresso-events-found #s {
	min-width: 200px;
	width: 25%;
}



/******************* PIN-MASH (GRID-VIEW) TEMPLATE ****************** */


.grid-event-list-dv .espresso-events-list-dv {
}
.grid-event-list-dv .espresso-event-list-event {
	display: inline-block;
	float: left;
	position: relative;
	padding: 0 !important;
	margin: 10px 10px 20px;
	border: none !important;
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;
}
.grid-event-list-dv  .events-list-event-wrap-dv {
	position: relative;
	width: auto;
	height: auto;
	padding: 0 0 10px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.grid-event-list-dv .ee-status {
 	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
}

.grid-event-list-dv  .event-datetimes h4 {
	display: block;
	margin: .25em 0;
	font-size: 16px;
	line-height: 1.5em; 
	white-space:nowrap;
}
.grid-event-list-dv  .event-datetimes h4 + h4 {
	padding-left: 5px;
	background: none;
}

.grid-event-list-dv  .ee-event-img-dv {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 0 0 -2.5em;
}
.grid-event-list-dv  .ee-event-img {
	width: 100%;
	height: auto;
	border-radius: 0 !important;
	box-shadow: none !important;
}
.grid-event-list-dv  .espresso-event-wrapper-dv {
	position: relative;
	margin: 0 1em;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
}
.grid-event-list-dv  .espresso-event-wrapper-dv.no-img.expired,
.grid-event-list-dv  .espresso-event-wrapper-dv.no-img.sold-out {
	padding-top:2em;
}
.grid-event-list-dv  .espresso-event-wrapper-dv.has-img {
}

.grid-event-list-dv  .espresso-event-wrapper-dv .event-header {
	padding: 1em 1em 1em;
	text-shadow: 1px 1px 0px #fff;
}
.grid-event-list-dv  .espresso-event-wrapper-dv  .event-title {
	margin: 0;
	line-height: 1.1em; 
}
.grid-event-list-dv  .espresso-event-wrapper-dv  .event-title a {
	text-decoration: none;
	line-height: 1em;
}
.grid-event-list-dv  .espresso-event-wrapper-dv  .event-header p {
	margin: 0 0 .5em;
	font-size: 1em;
	color: #999;
	text-transform: lowercase;
}
.grid-event-list-dv  .espresso-event-wrapper-dv  .event-content p {
	margin: 0 1em 1em;
	font-size: 1.1em;
	color: #666;
	line-height: 1.5em;
}
.grid-event-list-dv  .espresso-event-wrapper-dv.has-img  .event-content p {
	margin: 0 .5em .5em;
}
.grid-event-list-dv  .espresso-event-wrapper-dv  .event-meta {
	text-align: right;
	margin: 0 0 1em;
}

.grid-event-list-dv .espresso-event-wrapper-dv a.ee-register-button-lnk {
	margin: 1em 0 0;
}

.grid-event-list-dv .tiny-event-list-grid.espresso-event-list-event {
	width: 134px;
}
.grid-event-list-dv .tiny-event-list-grid .event-datetimes h4 {
	background: none;
	font-size: 10px;
	font-weight: normal;
	line-height: 16px;
	padding-left: 0;
}
.grid-event-list-dv .tiny-event-list-grid .espresso-event-wrapper-dv {
	margin: 0 .5em;
}
.grid-event-list-dv .tiny-event-list-grid .ee-event-img-dv {
	margin: 0 0 -1.9em;
}
.grid-event-list-dv .tiny-event-list-grid .espresso-event-wrapper-dv .event-header {
	padding: .5em;
}
.grid-event-list-dv .tiny-event-list-grid .espresso-event-wrapper-dv.has_img .event-header {
	padding: 0em;
}
.grid-event-list-dv .tiny-event-list-grid .espresso-event-wrapper-dv .event-header p {
	font-size: .65em;
}
.grid-event-list-dv .tiny-event-list-grid .espresso-event-wrapper-dv .event-title {
}
.grid-event-list-dv .tiny-event-list-grid .espresso-event-wrapper-dv .event-content p {
	font-size: .8em;
	line-height: 1.2em;
}
.grid-event-list-dv .tiny-event-list-grid a.ee-register-button-lnk {
	padding: 3px 6px 2px;
	font-size: 10px;
}

.grid-event-list-dv .small-event-list-grid.espresso-event-list-event {
	width: 160px;
}
.grid-event-list-dv .small-event-list-grid .event-datetimes h4 {
	background: none;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	padding-left: 0;
}
.grid-event-list-dv .small-event-list-grid .espresso-event-wrapper-dv {
	margin: 0 .7em;
}
.grid-event-list-dv .small-event-list-grid .ee-event-img-dv {
	margin: 0 0 -2.1em;
}
.grid-event-list-dv .small-event-list-grid .espresso-event-wrapper-dv .event-header {
	padding: .7em;
}
.grid-event-list-dv .small-event-list-grid .espresso-event-wrapper-dv.has_img .event-header {
	padding: 0em;
}
.grid-event-list-dv .small-event-list-grid .espresso-event-wrapper-dv .event-header p {
	font-size: .8em;
}
.grid-event-list-dv .small-event-list-grid .espresso-event-wrapper-dv .event-title {
}
.grid-event-list-dv .small-event-list-grid .espresso-event-wrapper-dv .event-content p {
	font-size: .9em;
	line-height: 1.3em;
}
.grid-event-list-dv .small-event-list-grid a.ee-register-button-lnk {
	padding: 4px 8px 3px;
	font-size: 11px;
}

.grid-event-list-dv .medium-event-list-grid.espresso-event-list-event {
	width: 196px;
}
.grid-event-list-dv .medium-event-list-grid .event-datetimes h4 {
	font-size: 14px;
	line-height: 1.2em;
}
.grid-event-list-dv .medium-event-list-grid .espresso-event-wrapper-dv {
	margin: 0 .85em;
}
.grid-event-list-dv .medium-event-list-grid .ee-event-img-dv {
	margin: 0 0 -2.5em;
}
.grid-event-list-dv .medium-event-list-grid .espresso-event-wrapper-dv .event-header {
	padding: .85em;
}
.grid-event-list-dv .medium-event-list-grid .espresso-event-wrapper-dv.has_img .event-header {
	padding: 0em;
}
.grid-event-list-dv .medium-event-list-grid .espresso-event-wrapper-dv .event-header p {
	font-size: .9em;
}
.grid-event-list-dv .medium-event-list-grid .espresso-event-wrapper-dv .event-title {
}
.grid-event-list-dv .medium-event-list-grid .espresso-event-wrapper-dv .event-content p {
	font-size: 1em;
	line-height: 1.4em;
}
.grid-event-list-dv .medium-event-list-grid a.ee-register-button-lnk {
	font-size: 12px;
}

.grid-event-list-dv  .large-event-list-grid {
}
.grid-event-list-dv .large-event-list-grid.espresso-event-list-event {
	width: 250px;
}

.grid-event-list-dv  .huge-event-list-grid {
}
.grid-event-list-dv .huge-event-list-grid.espresso-event-list-event {
	width: 340px;
}

.grid-event-list-dv .ee-gmap-wrapper {
}



/******************* TEXT LIST TEMPLATE ****************** */


.text-event-list-dv .espresso-event-list-event {
	width: 100%;
	clear: both;
}

.text-event-list-dv .espresso-event-wrapper-dv .event-header {
	display: block;
	margin: 3em 0 2em;
	background: #eee;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
	box-shadow: none;
}
.text-event-list-dv  .espresso-event-wrapper-dv  .event-title {
	display: inline-block;
	margin: 0;
	font-size: 1em;
	line-height: 1;
}
.text-event-list-dv  .espresso-event-wrapper-dv  .event-title a,
.text-event-list-dv  .espresso-event-wrapper-dv  .event-title a:visited {
	display: inline-block;
	padding: 0.5em 1.5em 0.6em;
	text-decoration: none;
	color: #444 !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	font-size: 1.5em;
	line-height: 1;
	font-weight: bold;	
}

.text-event-list-dv .ee-status {
 	display: inline-block;
	margin: 0.55em;
	float: right;
}


.text-event-list-dv .event-datetimes h4 {
	clear:none;
	display: inline-block;
	margin-top: 0;
}

.text-event-list-dv .ee-event-img-dv {
	position: relative;
	z-index: 10;
	float: left;
	margin: 0 3em 2em 0;
}
.text-event-list-dv .espresso-venue-dv {
	clear:none;
	display: inline-block;
}

.text-event-list-dv .event-details-dv {
	/*float: left;*/
	/*display: inline; */
}

.text-event-list-dv .event-meta {
	float: right;
	max-width: 25%;
	min-width: 150px;
	margin: 0;
	font-size: .9em;
	color: #A39D9C;
}

.text-event-list-dv .ee-gmap-wrapper {
}



/******************* DATES LIST TEMPLATE ****************** */


.dates-event-list-dv .espresso-event-list-event {
	position: relative;
	padding: 1em 0 2em;
	margin: 1em;
	border: none;
	border-bottom: 1px solid #EEEEE6;
}

.dates-event-list-dv .event-datetimes {
	position: absolute;
	top: 1em;
	left: 0;
}
.dates-event-list-dv .event-date-calendar-page-dv {
	width: 58px;
	height: 58px;
	background: #fff;
	border: 1px solid #007BAE;
	border-radius: 3px;
	text-align: center;
}
.dates-event-list-dv .event-date-calendar-page-month-dv {
	padding: 5px 5px 6px;
	background: #007BAE;
	border-bottom: 1px solid #007BAE;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
}
.dates-event-list-dv .event-date-calendar-page-day-dv {
	padding: 8px 5px 9px;
	color: #007BAE;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;  
}

.dates-event-list-dv .ee-event-img-dv {
	position: absolute;
	top: 1em;
	left: 90px;
}

.dates-event-list-dv .espresso-event-wrapper-dv {
	margin-left: 180px;
}
.dates-event-list-dv .ee-status {
	margin: 0 1em 0 0;
 }
.dates-event-list-dv  .espresso-event-wrapper-dv  .event-title {
	margin-top: 0;
}

.dates-event-list-dv .event-meta {
	float: right;
	max-width: 17%;
	min-width: 150px;
	margin: 0;
	text-align: center;
	color: #A39D9C;
}


.dates-event-list-dv .espresso-venue-address-wrap-dv {
	float: left;
	width: 50%;
}
.dates-event-list-dv .espresso-venue-name-spn {
}
.dates-event-list-dv .ee-gmap-wrapper {
	float: right;
	width: 50%;
}




