
.venue-list-venue-wrap-dv {
	position: relative;
	font-size: 13px;
}
.espresso-venue-wrapper-dv {
	position: relative;
	z-index: 1;
}
.espresso-venue-wrapper-dv a,
.espresso-venue-wrapper-dv a:visited {
	color: #444;
}
h3.venue-title,
h3.venue-title a {
	margin: 1em 0;
	line-height: 1.1em;
	text-decoration: none;
}
.ee-venue-img-dv {
	float: left;
	width: 235px;
	height: 156px;
	overflow: hidden;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}
.ee-venue-img-dv img {
	width: 100%;
	border-radius: 0;
	box-shadow: none;
}
.venue-header {
	float: left;
	width: 205px;
	height: 126px;
	padding: 10px 20px 20px 10px;
	line-height: 1.2em;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}
.venue-header p {
	line-height: 1.2em;
}
.venue-content {
	float: left;
	width: 205px;
	height: 126px;
	padding: 15px;
	background: rgba( 0, 0, 0, .05 );
	color: #444;
	text-shadow: 1px 1px 0px #fff;
	line-height: 1.2em;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}
.venue-content a {

}
.venue-list-gmap {
	float: left;
	width: 235px;
	height: 156px;
	padding: 0;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}
.venue-meta {
	position: relative;
	z-index: 1;
	padding: 20px 0;
}
.espresso-venue-wrapper-dv div.clear {
	height: 0;
	padding: 0;
	margin: 0;
}
.edit-venue-lnk {
}

