#espresso-event-header-dv {
	position: relative;
	margin: 0 0 20px;
}

.espresso-event-details.has-excerpt #espresso-event-header-dv {
	/*min-height: 80px;*/
}


.event-header {
	width: 97%;
}

.event-header.has-img {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1.5%;
	text-shadow: 1px 1px 0 #FFFFFF;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
	
}
.event-header.has-img h1 {
	margin: 0;
}
.event-header.has-img p,
.event-header.has-excerpt p {
	margin:10px 0 0;
}

.ee-event-h3 {
	text-shadow: 1px 1px 0 #FFFFFF;
	padding: 10px;
	background: rgba(232, 232, 232, 0.9);	
}


#espresso-event-details-wrap-dv {
	width:100%;
	margin: 1em auto; 
}
#espresso-event-details-dv {
	position: relative;
	padding: 0;
	margin: 0 auto;
}
#event-details-h1 {
	z-index:10; 
	font-size: 2em;
	line-height:1.1em; 
	word-break: keep-all;
	white-space: wrap;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	hyphens:none;
}

.ee-event-img-dv {
	width:100%;
	overflow: hidden;
	margin:0 0 1em;
}
.ee-event-img {
	width:100%;
	height: 100%;
}
.espresso-event-wrapper-dv {
	position: relative;
}
.espresso-event-wrapper-dv .event-content {
	padding: 0 0 .25em;
}
.espresso-event-wrapper-dv .event-content p { 
}
.espresso-event-wrapper-dv .event-meta {
	text-align: right;
	margin: 0 0 1em;
}
.espresso-event-details .event-datetimes {
	padding: 0 0 1em;
}
.espresso-event-details .event-datetimes-h3 {
}
.espresso-event-details .ee-event-datetimes-ul {
	list-style: none;
}
.espresso-event-details .ee-event-datetimes-li {
}

.espresso-event-details .edit-event-lnk {
	margin:0 1em;
}
.espresso-venue-dv {
	padding: 1em 2em;
	margin:1em 0;
	border:1px solid #eee;
	background: #f8f8f8;
}



