#espresso-venue-details-wrap-dv {
    clear: both;
    margin: 1em auto;
}
#espresso-venue-details-dv {
    margin: 0 auto;
    padding: 0 1em;
    position: relative;
}

#espresso-venue-header-dv {
	position: relative;
}

.venue-header {
	padding: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
}


#venue-details-h1 {
    -moz-hyphens: none;
    font-size: 2em;
    line-height: 1.1em;
    word-break: keep-all;
    z-index: 10;
}

.venue-header.has-img h1 {
	margin:0;
}


.venue-header.has-img {
	/*margin-top:-65px;*/
	text-shadow: 1px 1px 0 #FFFFFF;
	background: none repeat scroll 0 0 rgba(232, 232, 232, 0.9);
}

.venue-header.has-excerpt {
	/*margin-top:-120px;*/
}


.venue-header.has-img p,
.venue-header.has-excerpt p {
	margin:10px 0 0;
}


.ee-venue-h3 {
	background: rgba(232, 232, 232, 0.9);
	text-shadow: 1px 1px 0 #FFFFFF;
	padding: 10px;
}

.ee-venue-img-dv {
    margin: 0 0 1em;
    overflow: hidden;
    width: 100%;
}

.ee-venue-img {
	height: auto;
	width: 100%;
}