header.event-header.has-img {
	margin-top:-120px;
	text-shadow: 1px 1px 0 #FFFFFF;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
	position: relative;
	padding-left: 10px;
	height: 100%;
}
header.event-header.has-excerpt {
	margin-top:-160px;
}
header.event-header.has-img h1 {
	margin: 10px 0;
	padding-top: 20px;
}
header.event-header.has-img p {
	margin:0;
	padding-bottom: 20px;
}
.ee-event-h3 {
	text-shadow: 1px 1px 0 #FFFFFF;
	padding: 10px;
	background: rgba(232, 232, 232, 0.9);	
}


#espresso-event-details-wrap-dv {
	width:100%;
	margin: 1em auto; 
}
#espresso-event-details-dv {
	position: relative;
	padding: 0;
	margin: 0 auto;
}
#event-details-h1 {
	z-index:10; 
	font-size: 2em;
	line-height:1.1em; 
	word-break: keep-all;
	white-space: wrap;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	hyphens:none;
}

.ee-event-img-dv {
	width:100%;
	overflow: hidden;
	margin:0 0 1em;
}
.ee-event-img {
	width:100%;
	height: 100%;
}
.espresso-event-wrapper-dv {
	position: relative;
}
.espresso-event-wrapper-dv .event-content {
	padding: 0 0 .25em;
}
.espresso-event-wrapper-dv .event-content p { 
}
.espresso-event-wrapper-dv .event-meta {
	text-align: right;
	margin: 0 0 1em;
}
.espresso-event-details .event-datetimes {
	padding: 0 0 1em;
}
.espresso-event-details .event-datetimes-h3 {
}
.espresso-event-details .ee-event-datetimes-ul {
	list-style: none;
}
.espresso-event-details .ee-event-datetimes-li {
}

.espresso-event-details .edit-event-lnk {
	margin:0 1em;
}
.espresso-venue-dv {
	padding: 1em 2em;
	margin:1em 0;
	border:1px solid #eee;
	background: #f8f8f8;
}



