.event-tickets-datetimes-title {
    display: inline-block;
    font-size: 1.35em;
    margin: 10px 0 10px 0;
    padding: 0;
}

.event-datetimes-container {
    margin-top: 10px;
}


.event-tickets-container {
    margin-top: 15px;
}

.espresso-help-tab-lnk.help_img {
    top: 0px;
}

.add-new-ticket-table {
    width: 85%;
    float: left;
}

.add-new-ticket-table td:first-child {
    width: 40%;
}

.add-new-ticket-table td:nth-child(2), .add-new-ticket-table td:nth-child(3) {
    width: 20%
}

.add-new-ticket-table td:nth-child(5), .add-new-ticket-table td:nth-child(6) {
    width: 6%;
}

.add-new-ticket-table td:nth-child(4) {
    width: 4%;
    text-align: right;
    padding-top: 4px;
}

.add-new-ticket-table td:nth-child(7) {
    width: 4%;
    text-align: center;
    padding-top: 4px;
}

.ee-text-inp, .ee-small-text-inp {
    width: 100%;
}

.ee-small-text-inp {
    max-width: 100%;
    min-width:  50px;
}

.ee-large-text-inp {
    width: 100%;
}

.ee-full-textarea-inp {
    width: 100%;
    height: 100px;
}

.datetime-tickets-heading, .tickets-heading {
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.datetime-tickets-sold {
    padding-top: 5px;
    padding-left: 15px;
}

.ee-inp-right {
    text-align: right;
}

.save-cancel-button-container {
    float: left;
    margin-top: 27px;
}


@media all and (max-width: 1310px) {
    .save-cancel-button-container {
        margin-top: 10px;
        float: right;
    }
    
    .add-new-ticket-table {
        width: 100%;
        float: left;
    }
}

.gear-icon, .ticket-icon, .trash-icon, .clone-icon, .lock-icon {
    display: inline-block;
    height: 16px;
    margin-top: 3px;
    padding: 0;
    vertical-align: middle;
    width: 16px;
}

.trash-icon {
    background: transparent url(../../../../../images/trash-small-16x16.png) 0 0 no-repeat;
}

.lock-icon {
    background: transparent url(../../../../../images/lock.png) 0 0 no-repeat;
}


/* make sure trash icon doesn't display for first ticket row /**/
.add-new-ticket-table tr:first-child .trash-icon {
    display:none;
}


/**
 * messages metabox
 */
.message-type-text {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    background: #f3f3f3;
    font-weight: bold;
}