:root {
	--reach-dialog: 1;
}

.ant-popover {
	z-index: 99999;
}

.modal {
	&__footer {
		margin-top: var(--ee-margin-smaller);
		text-align: right;
		background: rgba(0, 0, 0, 0); // huh ? transparent black background ?
		border-top: 1px solid var(--ee-border-color);
		border-radius: 0 0 var(--ee-border-radius-small) var(--ee-border-radius-small);
	}
}

[data-reach-dialog-overlay] {
	background: hsla(0, 0%, 0%, 0.33);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
}

[data-reach-dialog-content] {
	width: 80vw;
	background: white;
	outline: none;
	padding: var(--ee-padding-big);
	position: relative;
}
