/** -------------------------------------------------------------------------
 * Event Espresso ItemCount Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

@import 'application/ui/styles/mixins/breakpoints.scss';

.ee-item-count {
	&__wrapper {
		position: relative;
		min-width: 55px;

		@include max782px {
			margin-left: auto;
			margin-right: auto;
			width: var(var(--ee-icon-button-size));
		}
	}

	&.ee-item-count {
		align-items: center;
		background: var(--ee-color-bright-blue);
		border-radius: var(--ee-border-radius-full);
		box-sizing: border-box;
		box-shadow: var(--ee-box-shadow-tiny);
		color: var(--ee-color-white);
		display: flex;
		font-size: var(--ee-font-size-tiny);
		font-weight: normal;
		height: calc(var(--ee-font-size-default) + 1px);
		justify-content: center;
		line-height: var(--ee-font-size-micro);
		min-width: calc(var(--ee-font-size-default) + 1px);
		padding: var(--ee-padding-micro);
		position: absolute;
		right: 0;
		text-align: center;
		text-shadow: var(--ee-text-shadow-inset);
		top: 0;
		vertical-align: top;
		z-index: 1;

		&--no-items {
			background: var(--ee-color-hot-pink);
			color: var(--ee-color-white);
			font-size: var(--ee-font-size-tiny);
			font-weight: bold;
			line-height: 1;
		}
	}
}
