/* 
    Document   : espresso_registration_forms_admin
    Created on : 29-Jan-2013, 10:30:18 AM
    Author     : mnelson4
    Description:
        Purpose of the stylesheet follows.
*/
#question_options .sample{ display:none; }

#the-list { cursor: move; }

.questions .column-id { width:5%; }
.questions .column-order,
.questions .column-required,
.questions .column-admin_only,
.questions .column-ajax_sort_handle { width:5%; text-align: center; }
.questions .column-type { width:7.5%; text-align: center; }
.questions .column-display_text { width:20%; }
.questions .column-admin_label { width:22.5%; }
.questions .column-values { }


.questiongroups .column-id { width:5%; }
.questiongroups .column-order,
.questiongroups .column-show_group_name,
.questiongroups .column-show_group_desc,
.questiongroups .column-ajax_sort_handle { width:5%; text-align: center; }
.questiongroups .column-name { width:20%; }
.questiongroups .column-description  { }

