svg {
	&.ee-svg.ee-svg {
		display: inline-flex;
		margin: 0 var(--ee-margin-micro);

		&.ee-icon {
			height: 1.25rem;
			width: 1.25rem;

			&--bigger {
				height: 1.75rem;
				width: 1.75rem;
			}

			&--big {
				height: 1.5rem;
				width: 1.5rem;
			}

			&--small {
				height: 1rem;
				width: 1rem;
			}

			&--smaller {
				height: 0.8rem;
				width: 0.8rem;
			}

			&--tiny {
				height: 0.6rem;
				width: 0.6rem;
			}

			&--no-margin {
				margin: 0;
			}
		}
	}
}
