/** -------------------------------------------------------------------------
 * Event Espresso EntityList Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-entity-list-no-results {
    background: var(--ee-near-white);
    font-size: 1rem;
    font-weight: normal;
    padding: 4rem 2rem;
    text-align: center;
}
