<phpunit
	bootstrap="bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
    <filter>
        <whitelist>
            <directory>../</directory>
            <exclude>
                <directory>../assets</directory>
                <directory>../bin</directory>
                <directory>../core/third_party_libs</directory>
                <directory>../docs</directory>
                <directory>../languages</directory>
                <directory>../public</directory>
                <directory>../tests</directory>
                <directory>../vendor</directory>
                <directory>../wp-assets</directory>
            </exclude>
        </whitelist>
    </filter>
	<testsuites>
		<testsuite name="default">
			<directory suffix=".php">./testcases/</directory>
            <exclude phpVersion="7.0.0" phpVersionOperator="<">./testcases/core/domain/services/graphql</exclude>
		</testsuite>
	</testsuites>
	<groups>
        <exclude>
            <group>ignore</group>
			<group>live</group>
            <group>big_rest_tests</group>
        </exclude>
    </groups>
	<listeners>
        <listener class="SpeedTrapListener" file="includes/listener-loader.php">
            <arguments>
				<array>
					<element key="slowThreshold">
						<integer>2000</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
	<php>
		<ini name="display_errors" value="1" />
	</php>
</phpunit>
