/** -------------------------------------------------------------------------
 * Event Espresso Ticket Assignments Manager Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

@import 'application/ui/styles/mixins/breakpoints.scss';

.ticket-assignment-manager.ticket-assignment-manager.ee-rspnsv-table__outer_wrapper {
	.ee-rspnsv-table {
		background: var(--ee-background-color);

		&__inner-wrapper {
			background: var(--ee-background-color);
			margin: 0 0 var(--ee-margin-smaller) 300px;
			width: calc(100% - 300px);

			@include max782px {
				margin: 0;
				width: 100%;
			}
		}

		thead {
			th {
				padding: 0;
				text-align: center;

				.header-cell-content {
					padding: var(--ee-padding-nano) var(--ee-padding-tiny);

					&__wrapper {
						align-items: center;
						display: flex;
						flex-flow: column nowrap;
						justify-content: flex-end;
						height: 130px;
					}

					&__after {
						font-size: var(--ee-font-size-small);
						font-weight: bold;
						line-height: var(--ee-line-height-modifier);
						padding: var(--ee-padding-micro);
						text-transform: uppercase;
						width: 100%;
					}

					&__name {
						font-weight: bold;
						line-height: 1.1;
						margin: 0 0 var(--ee-margin-micro);
						max-height: 60px;
						overflow: hidden;
						padding: var(--ee-padding-tiny) 0;
						text-align: center;
						width: calc(130px - (var(--ee-padding-smaller) * 2));
					}
				}

				&:first-child {
					position: absolute !important;
				}
			}
		}

		tbody.ee-rspnsv-table-body.ee-rspnsv-table-body {
			@include max782px {
				padding: 0;
			}

			tr,
			.ee-rspnsv-table-body-td {
				padding: 1rem;
				height: 80px;
			}

			tr {
				background: var(--ee-background-color);
				padding: 0;

				@include max782px {
					width: 100%;
				}

				&:hover {
					background: var(--ee-text-on-dark-blue);

					.ee-rspnsv-table-body-td.date-cell {
						background: var(--ee-color-grey-13);
					}
				}

				&:nth-child(even) {
					background: var(--ee-background-color);

					.ee-rspnsv-table-body-td.date-cell {
						background: var(--ee-color-grey-13);
					}

					&:hover {
						background: var(--ee-text-on-dark-blue);

						.ee-rspnsv-table-body-td.date-cell {
							background: var(--ee-color-grey-12);
						}
					}
				}
			}

			td.ee-rspnsv-table-body-td.ee-rspnsv-table-body-td {
				&.date-cell {
					background: var(--ee-color-grey-14);
					border-right: 5px solid var(--ee-color-white);
					padding: var(--ee-padding-tiny) var(--ee-padding-small) var(--ee-padding-tiny)
						var(--ee-padding-default);
					left: 0;
					position: absolute !important;
					top: auto;
					width: 300px;
					z-index: 999;

					@include max782px {
						border-right: none;
						margin-bottom: var(--ee-padding-tiny);
						position: relative !important;
						width: 100%;
					}

					.date-stripe {
						display: inline-block;
						height: 100%;
						width: var(--ee-padding-small);
						position: absolute;
						top: 0;
						left: 0;
					}

					.date-cell-content {
						&__name {
							font-weight: bold;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							width: calc(300px - (var(--ee-padding-small) * 2));
						}
					}
				}

				&.relation-cell {
					height: 80px;
					padding: var(--ee-padding-micro);
					width: 130px;

					@include max782px {
						height: auto;
						width: 100%;
					}

					.header-cell-content {
						@include max782px {
							padding-left: var(--ee-padding-tiny);
							text-align: left;
							width: 100%;
						}

						&__id {
							@include max782px {
								color: var(--ee-default-text-color-super-low-contrast);
							}
						}

						&__name {
							@include max782px {
								font-weight: bold;
								overflow: hidden;
								text-overflow: ellipsis;
								text-align: left;
								white-space: nowrap;
								max-width: 430px;
							}

							@include max480px {
								max-width: 190px;
							}
						}

						&__price {
							@include max782px {
							}
						}

						&__wrapper {
							@include max782px {
								display: flex;
								flex-direction: row-reverse;
							}
						}

						&__after {
							@include max782px {
								display: table-caption;
								padding: var(--ee-padding-micro);
								width: min-content;
								text-align: center;
							}
						}
					}

					.ee-rspnsv-table-mobile-only-column-header {
						@include max782px {
							// more info: https://github.com/eventespresso/event-espresso-core/pull/2909#discussion_r434561737
							padding-right: 0;
							width: 100%;
						}
					}

					.ee-rspnsv-table-mobile-only-column-value {
						height: 100%;

						@include max782px {
							width: 76px; // more info: https://github.com/eventespresso/event-espresso-core/pull/2909#discussion_r434561737
						}
					}

					button {
						height: 100%;
						width: 100%;
						margin: 0;
						span,
						svg {
							height: var(--ee-icon-button-size);
							padding: 0;
							width: var(--ee-icon-button-size);
						}
					}
				}

				@include max782px {
					height: auto;
					width: 100%;
				}
			}
		}

		.ee-rspnsv-table-body-td,
		th {
			text-align: left;

			&:not(.title-col) {
				width: 100px;
			}

			&.text-center {
				text-align: center;
			}
		}
		.no-assignments {
			button {
				background-color: var(--ee-color-accent);
				border-color: var(--ee-color-accent);

				&:focus {
					border-color: var(--ee-color-accent-high-contrast);
				}
				&:hover {
					border-color: var(--ee-color-accent-low-contrast);
				}
			}
		}
		.new-assignment {
			button {
				background-color: var(--ee-color-secondary);
				border-color: var(--ee-color-secondary);
				svg {
					fill: white !important;
				}
				&:focus {
					border-color: var(--ee-color-secondary-high-contrast);
				}
				&:hover {
					border-color: var(--ee-color-secondary-low-contrast);
				}
			}
		}
		.old-assignment {
			button {
				background-color: var(--ee-color-primary);
				border-color: var(--ee-color-primary);
				svg {
					fill: white !important;
				}
				&:focus {
					border-color: var(--ee-color-primary-high-contrast);
				}
				&:hover {
					border-color: var(--ee-color-primary-low-contrast);
				}
			}
		}
		.removed-assignment {
			button {
				background-color: var(--ee-color-accent);
				border-color: var(--ee-color-accent);
				svg {
					fill: white !important;
				}
				&:focus {
					border-color: var(--ee-color-accent-high-contrast);
				}
				&:hover {
					border-color: var(--ee-color-accent-low-contrast);
				}
			}
		}

		/* WordPress Admin Media Query Breakpoint: Tablet */
		@media screen and (max-width: 782px) {
			&.ee-rspnsv-table {
				tbody {
					tr {
						&.ee-rspnsv-table-body-row {
							height: auto;
						}

						td {
							border-bottom: 1px solid var(--ee-color-grey-14);
							height: auto;
							width: 100%;

							&.relation-cell {
								button {
									margin-bottom: 0;
								}
							}

							&:not(:first-child) {
								display: flex;
								align-items: center;
							}
						}
					}
				}
			}
		}
	}
}
