#ticket-assignment-manager-table {
	table-layout: auto;
	margin: auto;
	thead {
		th {
			padding: 0;
			text-align: center;
			.header-cell-content {
				padding: var(--ee-padding-nano) var(--ee-padding-tiny);
				&__name {
					font-weight: bold;
					line-height: 1.1;
					margin: 0 0 var(--ee-margin-micro);
					max-height: calc(var(--ee-font-size-default) * 8);
					overflow: hidden;
					padding: var(--ee-padding-tiny) 0;
					text-align: center;
					width: calc(100px - (var(--ee-padding-smaller) * 2));
				}
			}
			.header-cell-after-content {
				font-size: var(--ee-font-size-small);
				font-weight: bold;
				line-height: var(--ee-line-height-modifier);
				padding: var(--ee-padding-micro);
				text-transform: uppercase;
				width: 100%;
			}
		}
	}
	tbody {
		tr,
		td {
			padding: 1rem;
			height: 100px;
		}
		tr {
			background: var(--ee-color-grey-14);
			&:hover {
				background: var(--ee-color-grey-13);
			}
			&:nth-child(even) {
				background: var(--ee-color-grey-13);
				&:hover {
					background: var(--ee-color-grey-12);
				}
			}
		}
		td {
			&.date-cell {
				border-right: 5px solid var(--ee-color-white);
				padding: var(--ee-padding-small) var(--ee-padding-small) var(--ee-padding-small)
					var(--ee-padding-default);
				position: relative;
				width: 300px;
				.date-stripe {
					display: inline-block;
					height: 100%;
					width: var(--ee-padding-small);
					position: absolute;
					top: 0;
					left: 0;
				}
				.date-cell-content {
					&__name {
						font-weight: bold;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						width: calc(300px - (var(--ee-padding-small) * 2));
					}
				}
			}
		}
	}
	td,
	th {
		text-align: left;

		&:not(.title-col) {
			width: 100px;
		}

		&.text-center {
			text-align: center;
		}
	}
	.no-assignments {
		background-color: var(--ee-color-accent) !important;
	}
	.new-assignment {
		background-color: var(--ee-color-secondary) !important;
	}
	.old-assignment {
		background-color: var(--ee-color-primary) !important;
	}
	.removed-assignment {
		background-color: var(--ee-color-accent) !important;
	}
}
