/** -------------------------------------------------------------------------
 * Event Espresso Button Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-btn-base {
	&.ee-icon-btn {
		background: none;
		border-color: var(--ee-background-color);
		box-shadow: none;
		color: var(--ee-default-text-color);
		height: calc(var(--ee-icon-button-size));
		margin: 0 0 var(--ee-margin-micro);
		padding: 0 8px;
		top: 0;
		width: calc(var(--ee-icon-button-size));
		&:hover {
			background: none;
		}
		svg {
			display: inline-block;
			flex: 0 0 auto;
			path {
				fill: currentColor;
			}
		}
	}
}
