/** -------------------------------------------------------------------------
 * Event Espresso Button Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

@import 'application/ui/styles/mixins/breakpoints.scss';

:root {
	--ee-icon-button-size-tiny: 30px;
	--ee-icon-button-size-small: 36px;
	--ee-icon-button-size: 42px;
	--ee-icon-button-size-big: 48px;
	--ee-icon-button-size-huge: 54px;
}

.btn-focus {
	border-color: var(--ee-color-primary);
	box-shadow: none !important;
}

.btn-hover {
	border-color: var(--ee-color-primary-low-contrast);
	box-shadow: none !important;
	color: var(--ee-color-primary-high-contrast);
}

.ee-btn-base {
	&.ee-icon-button {
		background: none;
		border-color: var(--ee-border-color);
		border-style: solid;
		border-width: 3px;
		box-shadow: none !important;
		color: var(--ee-default-text-color);
		display: inline-flex;
		height: var(--ee-icon-button-size);
		margin: 0;
		min-height: var(--ee-icon-button-size);
		min-width: var(--ee-icon-button-size);
		padding: var(--ee-padding-micro);
		top: 0;
		width: var(--ee-icon-button-size);

		@include max480px {
			margin-left: auto;
			margin-right: auto;
		}

		svg {
			display: inline-block;
			path {
				transition: fill 0.1s ease 0.1s, color 0.1s ease 0.1s !important;
			}
		}
		path {
			fill: currentColor;
		}

		&--active {
			border-color: var(--ee-color-primary-low-contrast);
			color: var(--ee-color-primary);
		}

		&:focus {
			@extend .btn-focus;
		}

		&:hover {
			@extend .btn-hover;
		}

		&--borderless {
			border-color: transparent;
		}

		&-color {
			&--white {
				svg {
					color: var(--ee-color-white);
				}
				&:active,
				&:focus {
					border-color: var(--ee-color-primary-super-low-contrast);
				}
				&:hover {
					border-color: var(--ee-color-white);
				}
			}
		}

		&.ee-btn--tiny {
			height: var(--ee-icon-button-size-tiny);
			min-height: var(--ee-icon-button-size-tiny);
			min-width: var(--ee-icon-button-size-tiny);
			padding: var(--ee-padding-nano);
			width: var(--ee-icon-button-size-tiny);
		}

		&.ee-btn--small {
			height: var(--ee-icon-button-size-small);
			min-height: var(--ee-icon-button-size-small);
			min-width: var(--ee-icon-button-size-small);
			width: var(--ee-icon-button-size-small);
		}

		&.ee-btn--smaller {
			height: var(--ee-icon-button-size-small);
			min-height: var(--ee-icon-button-size-small);
			min-width: var(--ee-icon-button-size-small);
			width: var(--ee-icon-button-size-small);
		}

		&.ee-btn--big {
			height: var(--ee-icon-button-size-big);
			min-height: var(--ee-icon-button-size-big);
			min-width: var(--ee-icon-button-size-big);
			width: var(--ee-icon-button-size-big);
		}

		&.ee-btn--bigger {
			height: var(--ee-icon-button-size-huge);
			min-height: var(--ee-icon-button-size-huge);
			min-width: var(--ee-icon-button-size-huge);
			padding: var(--ee-padding-smaller);
			width: var(--ee-icon-button-size-huge);
		}
	}
}
