/** -------------------------------------------------------------------------
 * Event Espresso Button Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

.btn-focus {
	border: 2px solid var(--ee-color-primary);
	box-shadow: 0 0 0 1px var(--ee-color-primary);
}

.btn-hover {
	border: 2px solid var(--ee-color-primary-low-contrast);
	color: var(--ee-color-primary-high-contrast);
	box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
}

.ee-btn-base {
	&.ee-icon-button {
		background: none;
		border-color: var(--ee-border-color);
		border-style: solid;
		border-width: 2px;
		box-shadow: none;
		color: var(--ee-default-text-color);
		display: inline-flex;
		height: var(--ee-icon-button-size);
		margin: 0;
		min-height: var(--ee-icon-button-size);
		min-width: var(--ee-icon-button-size);
		padding: var(--ee-padding-micro);
		top: 0;
		width: var(--ee-icon-button-size);
		svg {
			display: inline-block;
			path {
				transition: fill 0.1s ease 0.1s, color 0.1s ease 0.1s !important;
			}
		}
		path {
			fill: currentColor;
		}

		&--active {
			border-color: var(--ee-color-primary-low-contrast);
			color: var(--ee-color-primary);
		}

		&:focus {
			@extend .btn-focus;
		}

		&:hover {
			@extend .btn-hover;
		}

		&--borderless {
			border-color: transparent;
		}

		&-color {
			&--white {
				svg {
					color: white;
				}
				&:active,
				&:focus {
					border-color: var(--ee-color-white);
				}
				&:hover {
					border-color: var(--ee-color-primary-super-low-contrast);
				}
			}
		}
	}
}
