@import 'application/ui/styles/mixins/breakpoints.scss';

.ee-btn-row {
	display: flex;
	justify-content: center;
	margin: var(--ee-margin-big) 0;
	padding: var(--ee-padding-nano);

	.ee-debug-info-btn {
		margin-left: auto;
		margin-right: unset;
	}

	&--left-aligned {
		justify-content: flex-start;

		.ee-debug-info-btn {
			margin-right: unset;
			margin-right: auto;
		}
	}

	&--right-aligned {
		justify-content: flex-end;

		.ee-debug-info-btn {
			margin-left: unset;
			margin-right: auto;
		}
	}

	@include max782px {
		margin: var(--ee-margin-defult) 0;
	}

	@include max600px {
		margin: var(--ee-margin-small) 0;
	}

	@include max480px {
		flex-flow: column;
		margin: var(--ee-margin-smaller) 0;
	}

	@include max360px {
		margin: var(--ee-margin-tiny) 0;
	}
}
