@import 'application/ui/styles/mixins/breakpoints.scss';

.ee-btn-row {
	margin: var(--ee-margin-big) 0;

	.ee-debug-info-btn {
		margin-left: auto;
		margin-right: unset;
	}

	&--right-aligned {
		display: flex;
		justify-content: flex-end;

		.ee-btn.ee-btn {
			@include max782px {
				display: block;
				margin-left: 0;
				width: 100%;
			}
		}

		.ee-debug-info-btn {
			margin-left: unset;
			margin-right: auto;
		}
	}

	@include max782px {
		display: block;
	}
}
