/** -------------------------------------------------------------------------
 * Event Espresso Button Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

@import 'application/ui/styles/variables.scss';

:root {
	--ee-icon-button-size: 40px;
}

.btn-focus {
	border: 2px solid var(--ee-color-grey-9);
	box-shadow: 0 0 0 1px var(--ee-color-grey-9);
}

.btn-hover {
	border: 2px solid var(--ee-color-primary-low-contrast);
	color: var(--ee-text-on-grey-8);
	box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
	background: var(--ee-color-grey-12);
}

.ee-btn-base {
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	display: inline-flex;
	height: calc(var(--ee-icon-button-size));
	margin: var(--ee-margin-nano);

	&:focus {
		@extend .btn-focus;
	}

	&:hover {
		@extend .btn-hover;
	}

	&.ee-btn {
		background: var(--ee-color-grey-11);
		border: 2px solid var(--ee-color-grey-11);
		border-radius: var(--ee-border-radius-small);
		color: var(--ee-text-on-grey-10);
		display: inline-flex;
		font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Trebuchet MS',
			Verdana, 'Verdana Ref', sans-serif;
		font-size: var(--ee-font-size-default);
		line-height: var(--ee-font-size-default);
		outline: none !important;
		padding: var(--ee-padding-tiny) var(--ee-padding-smaller);
		position: relative;
		text-decoration: none;
		text-align: center;
		text-shadow: var(--ee-text-shadow-inset-light);
		transition: border-color 0.1s ease 0.1s, color 0.1s ease 0.1s !important;
		vertical-align: middle;

		svg {
			transition: color 200ms linear, fill 200ms linear;
		}

		span {
			margin: 0 var(--ee-margin-micro) 0 var(--ee-margin-smaller);
			transition: color 200ms linear;
		}

		&:active {
			box-shadow: none;
		}

		&:focus {
			@extend .btn-focus;
		}

		&:hover {
			@extend .btn-hover;
		}

		+ .ee-btn {
			margin-left: var(--ee-margin-default);
		}

		.text-wrap {
			font-weight: bold;
			position: relative;
			top: calc(var(--ee-padding-nano) * -1.5);
			vertical-align: middle;
		}

		&.ee-noIcon .text-wrap {
			position: relative;
			top: var(--ee-padding-nano);
		}

		.img-wrap {
			position: relative;
			margin: 0 0 0 var(--ee-padding-small);
			top: var(--ee-padding-nano);
			vertical-align: middle;
		}

		.img-wrap span {
			line-height: 24px;
		}
	}

	.ee-btn-label + .ee-btn {
		margin-right: var(--ee-margin-small) !important;
	}

	/* MINIMAL */

	&.ee-btn--minimal {
		&:not([disabled]) {
			background: none;
			border: 1px solid var(--ee-default-text-color-low-contrast);
			box-shadow: none;
			color: var(--ee-default-text-color);
		}

		&:hover:not([disabled]) {
			border-color: var(--ee-color-primary);
			color: var(--ee-color-primary);
		}
	}

	/* PRIMARY */

	&.ee-btn--primary {
		&:not([disabled]) {
			background: var(--ee-color-primary);
			border-color: var(--ee-color-primary-low-contrast) var(--ee-color-primary)
				var(--ee-color-primary-high-contrast);
			color: var(--ee-text-on-primary);
		}

		&:hover:not([disabled]) {
			background: var(--ee-color-primary-high-contrast);
		}
	}

	/* SECONDARY */

	&.ee-btn--secondary {
		&:not([disabled]) {
			background: var(--ee-color-secondary);
			border-color: var(--ee-color-secondary-low-contrast) var(--ee-color-secondary)
				var(--ee-color-secondary-high-contrast);
			color: var(--ee-text-on-secondary);
		}
		&:hover:not([disabled]) {
			background: var(--ee-color-secondary-high-contrast);
		}
	}

	/* ACCENT */

	&.ee-btn--accent {
		&:not([disabled]) {
			background: $blue-5;
			border-color: $blue-6;
			color: white;
			text-shadow: none;
		}

		svg {
			fill: white;
		}

		&:hover:not([disabled]) {
			background: $blue-5;
			color: white;
			box-shadow: 0 0 0 1px $blue-5;
		}

		&:focus:not([disabled]) {
			border-color: #0050b3;
		}
	}

	/* ACTIVE */

	&.ee-btn--is-active {
		background: var(--ee-color-blue);
		border-color: var(--ee-color-blue);
		color: white;

		svg {
			fill: white;
			font-size: unset;
		}

		&:active {
			color: white;
		}

		&:hover {
			background: var(--ee-color-blue);
			border-color: white;
			color: white;
		}
	}

	/* DISABLED */

	&.ee-btn {
		&.ee-btn--default:disabled,
		&.ee-btn--primary:disabled,
		&.ee-btn--secondary:disabled,
		&.ee-btn--accent:disabled {
			background: var(--ee-color-grey-11);
			border-color: var(--ee-color-grey-10) var(--ee-color-grey-11) var(--ee-color-grey-12);
			color: var(--ee-text-on-grey-11);
			cursor: unset;
		}
	}

	/* BUTTON SIZES */

	&.ee-btn--tiny {
		font-size: var(--ee-font-size-tiny);
		min-height: var(--ee-font-size-smaller);
		line-height: var(--ee-font-size-tiny);
		padding: var(--ee-padding-nano) var(--ee-padding-tiny) var(--ee-padding-micro);

		&:active,
		&:focus,
		&:visited {
			min-height: var(--ee-font-size-smaller);
			line-height: var(--ee-font-size-tiny);
			padding: var(--ee-padding-nano) var(--ee-padding-tiny) var(--ee-padding-micro);

			span {
				font-size: var(--ee-font-size-tiny);
			}
		}

		.img-wrap span {
			line-height: var(--ee-font-size-tiny);
		}
	}

	&.ee-btn--small {
		min-height: var(--ee-font-size-small);
		line-height: var(--ee-font-size-tiny);
		letter-spacing: 1px;

		span {
			font-size: var(--ee-font-size-small);
		}

		&:active,
		&:focus,
		&:visited {
			min-height: var(--ee-font-size-small);
			line-height: var(--ee-font-size-smaller);

			span {
				font-size: var(--ee-font-size-small);
			}
		}

		&:not(.ee-noIcon) .text-wrap {
			top: -0.1rem;
		}

		.img-wrap {
			top: 0.2rem;

			span {
				line-height: var(--ee-font-size-smaller);
			}
		}
	}

	&.ee-btn--big {
		min-height: var(--ee-font-size-bigger);
		height: auto;
		line-height: var(--ee-font-size-big);
		padding: var(--ee-padding-smaller) var(--ee-padding-default);

		span {
			font-size: var(--ee-font-size-big);
		}

		&:active,
		&:focus,
		&:visited {
			min-height: var(--ee-font-size-bigger);
			line-height: var(--ee-font-size-big);
			padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);

			span {
				font-size: var(--ee-font-size-big);
			}
		}

		.img-wrap span {
			line-height: var(--ee-font-size-big);
		}
	}

	&.ee-btn--huge {
		font-size: var(--ee-font-size-bigger);
		min-height: var(--ee-font-size-huge);
		line-height: var(--ee-font-size-bigger);
		padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);

		&:active,
		&:focus,
		&:visited {
			font-size: var(--ee-font-size-bigger);
			min-height: var(--ee-font-size-huge);
			line-height: var(--ee-font-size-bigger);
			padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);
		}

		.img-wrap span {
			line-height: var(--ee-font-size-bigger);
		}
	}
}

/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
	.ee-btn + .ee-btn {
		&.ee-btn-base {
			margin-left: var(--ee-margin-smaller);
		}
	}
}

@media only screen and (max-width: 480px) {
	.ee-btn + .ee-btn {
		&.ee-btn-base {
			margin-left: var(--ee-margin-micro);
		}
	}
}

@media only screen and (max-width: 360px) {
	.ee-btn {
		+ .ee-btn {
			&.ee-btn-base {
				margin-left: auto;
			}
		}
	}
}
