/** -------------------------------------------------------------------------
 * Event Espresso Button Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

:root {
	--ee-icon-button-size: 36px;
}

.ee-event-editor {
	.ee-button.ee-button {
		border-radius: var(--ee-border-radius-small);
		border-style: solid;
		border-width: 1px;
		border-bottom: none;
		box-shadow: var(--ee-box-shadow-tiny);
		color: var(--ee-text-on-grey-14) !important;
		cursor: pointer;
		display: inline-flex;
		font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Trebuchet MS',
			Verdana, 'Verdana Ref', sans-serif;
		font-size: var(--ee-font-size-default);
		font-weight: bold;
		line-height: var(--ee-font-size-default);
		margin: 0 0 var(--ee-margin-smaller);
		outline: none !important;
		position: relative;
		text-decoration: none;
		text-align: center;
		text-shadow: var(--ee-text-shadow-inset-light);
		top: 0;
		transition: border-color 0.1s ease 0.1s, color 0.1s ease 0.1s !important;
		vertical-align: middle;

		&:active,
		&:not([disabled]):active,
		&:focus,
		&:visited {
			border-radius: var(--ee-border-radius-small);
			border-style: solid;
			border-width: 1px;
			box-shadow: var(--ee-box-shadow-tiny);
			cursor: pointer;
			font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans',
				'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
			font-size: var(--ee-font-size-default);
			font-weight: bold;
			line-height: var(--ee-font-size-default);
			// margin: 0 0 var(--ee-margin-smaller); Setting margins on these states is a bit confusing, needs discussion.
			outline: none !important;
			position: relative;
			text-decoration: none;
			text-align: center;
			text-shadow: var(--ee-text-shadow-inset-light);
			top: 0;
			transition: border-color 0.1s ease 0.1s, color 0.1s ease 0.1s !important;
			vertical-align: middle;
		}

		&:active {
			box-shadow: none;
		}

		&:hover {
			&:not(:disabled):not([aria-disabled='true']):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
				background-color: rgb(255, 255, 255);
				color: rgb(25, 30, 35);
				box-shadow: inset 0 0 0 1px #555d66, inset 0 0 0 2px #fff;
			}
		}

		&:focus {
			box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast), 0 2px 2px rgba(0, 0, 0, 0.6);
			&:not(:disabled) {
				background-color: rgb(255, 255, 255);
				color: rgb(25, 30, 35);
				box-shadow: inset 0 0 0 1px #6c7781, inset 0 0 0 2px #fff;
			}
		}

		&:not(.ant-btn-icon-only),
		&:active:not(.ant-btn-icon-only),
		&:focus:not(.ant-btn-icon-only),
		&:visited:not(.ant-btn-icon-only) {
			// box-sizing: content-box !important; // Need to ask/ investigate this
			// min-height: var(--ee-font-size-big); // Also this is questionable
			// padding: var(--ee-padding-tiny) var(--ee-padding-default) var(--ee-padding-tiny) var(--ee-padding-small); // Also this is questionable
		}

		&.ant-btn-icon-only {
			height: var(--ee-icon-button-size);
			min-height: var(--ee-icon-button-size);
			min-width: var(--ee-icon-button-size);
			width: var(--ee-icon-button-size);

			&:active,
			&:focus,
			&:visited {
				height: var(--ee-icon-button-size);
				min-height: var(--ee-icon-button-size);
				min-width: var(--ee-icon-button-size);
				width: var(--ee-icon-button-size);
			}
		}

		&:hover {
			cursor: pointer;
		}

		+ .ee-button {
			margin-left: var(--ee-margin-default);
		}

		.text-wrap {
			font-weight: bold;
			position: relative;
			top: calc(var(--ee-padding-nano) * -1.5);
			vertical-align: middle;
		}

		&.ee-noIcon .text-wrap {
			position: relative;
			top: var(--ee-padding-nano);
		}

		.img-wrap {
			position: relative;
			margin: 0 0 0 var(--ee-padding-small);
			top: var(--ee-padding-nano);
			vertical-align: middle;
		}

		&.ant-btn {
			.anticon {
				display: inline-flex;
				font-size: 20px;
				margin: 0;
				position: relative;
				vertical-align: middle;
			}

			> {
				.anticon + span,
				span + .anticon {
					margin-left: var(--ee-margin-smaller);
					vertical-align: middle;
				}
			}
		}

		.img-wrap span {
			line-height: 24px;
		}

		&.ant-btn.ant-btn-icon-only:not([disabled]) path {
			transition: fill 0.1s ease 0.1s, color 0.1s ease 0.1s !important;
		}
	}

	.ee-button-label + .ee-button.ant-btn {
		margin-right: var(--ee-margin-small) !important;
	}

	/* BUTTON COLORS */

	/* DEFAULT */

	.ee-btn-default.ant-btn {
		&.ant-btn-icon-only {
			&:not([disabled]) {
				background: var(--ee-color-grey-15);
				border-color: var(--ee-color-grey-14) var(--ee-color-grey-14) var(--ee-color-grey-15);
				color: var(--ee-default-text-color-low-contrast);
			}

			&:hover:not([disabled]) {
				border-color: var(--ee-color-grey-9) var(--ee-color-grey-9) var(--ee-color-grey-10);
				color: var(--ee-color-primary);
			}
		}

		&:not([disabled]):not(.ant-btn-icon-only) {
			background: var(--ee-color-grey-15);
			border-color: var(--ee-color-grey-14) var(--ee-color-grey-14) var(--ee-color-grey-15);
			color: var(--ee-text-on-grey-14);
		}

		&:hover:not([disabled]):not(.ant-btn-icon-only) {
			background: var(--ee-color-grey-14);
		}

		&.ant-btn-icon-only:not([disabled]) path,
		&:not([disabled]):not(.ant-btn-icon-only),
		&:hover:not([disabled]):not(.ant-btn-icon-only) path {
			fill: var(--ee-text-on-grey-14);
		}

		&.ant-btn-icon-only:hover:not([disabled]) path {
			fill: var(--ee-color-primary);
		}
	}

	/* MINIMAL */

	.ee-btn-minimal.ant-btn {
		&.ant-btn-icon-only:not([disabled]),
		&:not([disabled]):not(.ant-btn-icon-only) {
			background: none;
			border: 1px solid var(--ee-default-text-color-low-contrast);
			box-shadow: none;
			color: var(--ee-default-text-color);
		}

		&.ant-btn-icon-only {
			&:focus {
				border-color: var(--ee-color-primary-low-contrast);
				box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
			}

			&:hover:not([disabled]) {
				border-color: var(--ee-color-primary);
				color: var(--ee-color-primary);
			}
		}

		&:hover:not([disabled]):not(.ant-btn-icon-only) {
			border-color: var(--ee-color-primary);
			color: var(--ee-color-primary);
		}

		&.ant-btn-icon-only:not([disabled]) path,
		&:not([disabled]):not(.ant-btn-icon-only),
		&:hover:not([disabled]):not(.ant-btn-icon-only) path {
			fill: var(--ee-default-text-color);
		}

		&.ant-btn-icon-only:hover:not([disabled]) path {
			fill: var(--ee-color-primary);
		}
	}

	/* PRIMARY */

	.ee-btn-primary.ant-btn {
		&:not([disabled]) {
			background: var(--ee-color-primary);
			border-color: var(--ee-color-primary) var(--ee-color-primary) var(--ee-color-primary-low-contrast);
			color: var(--ee-text-on-primary);

			path {
				fill: var(--ee-text-on-primary);
			}
		}

		&:hover:not([disabled]) {
			path {
				fill: var(--ee-text-on-primary);
			}

			background: var(--ee-color-primary-low-contrast);
		}
	}

	/* SECONDARY */

	.ee-btn-secondary.ant-btn:not([disabled]) {
		background: var(--ee-color-secondary);
		border-color: var(--ee-color-secondary) var(--ee-color-secondary) var(--ee-color-secondary-low-contrast);
		color: var(--ee-text-on-secondary);
	}

	.ee-btn-primary.ant-btn {
		&:not([disabled]) path,
		&:hover:not([disabled]) path {
			fill: var(--ee-text-on-secondary);
		}
	}

	.ee-btn-secondary.ant-btn:hover:not([disabled]) {
		background: var(--ee-color-secondary-low-contrast);
	}

	/* ACCENT */

	.ee-btn-accent.ant-btn:not([disabled]) {
		background: var(--ee-color-accent);
		border-color: var(--ee-color-accent) var(--ee-color-accent) var(--ee-color-accent-low-contrast);
		color: var(--ee-text-on-accent);
	}

	.ee-btn-primary.ant-btn {
		&:not([disabled]) path,
		&:hover:not([disabled]) path {
			fill: var(--ee-text-on-accent);
		}
	}

	.ee-btn-accent.ant-btn:hover:not([disabled]) {
		background: var(--ee-color-accent-low-contrast);
	}

	/* DISABLED */

	.ee-button.ant-btn {
		&.ee-btn-default:disabled,
		&.ee-btn-primary:disabled,
		&.ee-btn-secondary:disabled,
		&.ee-btn-accent:disabled {
			background: var(--ee-color-grey-11);
			border-color: var(--ee-color-grey-11) var(--ee-color-grey-11) var(--ee-color-grey-12);
			color: var(--ee-text-on-grey-11);
			cursor: unset;
		}

		&.ee-btn-default:disabled path,
		&.ee-btn-primary:disabled path,
		&.ee-btn-secondary:disabled path,
		&.ee-btn-accent:disabled path {
			fill: var(--ee-text-on-grey-11);
		}
	}

	/* BUTTON SIZES */

	.ee-btn-tiny.ee-button {
		&.ant-btn {
			font-size: var(--ee-font-size-tiny);
			min-height: var(--ee-font-size-smaller);
			line-height: var(--ee-font-size-tiny);
			padding: var(--ee-padding-nano) var(--ee-padding-tiny) var(--ee-padding-micro);

			&:active,
			&:focus,
			&:visited {
				font-size: var(--ee-font-size-tiny);
				min-height: var(--ee-font-size-smaller);
				line-height: var(--ee-font-size-tiny);
				padding: var(--ee-padding-nano) var(--ee-padding-tiny) var(--ee-padding-micro);
			}
		}

		.img-wrap span {
			line-height: var(--ee-font-size-tiny);
		}
	}

	.ee-btn-small.ee-button {
		&.ant-btn {
			font-size: var(--ee-font-size-smaller);
			min-height: var(--ee-font-size-small);
			line-height: var(--ee-font-size-smaller);
			padding: var(--ee-padding-micro) var(--ee-padding-smaller) var(--ee-padding-tiny);

			&:active,
			&:focus,
			&:visited {
				font-size: var(--ee-font-size-smaller);
				min-height: var(--ee-font-size-small);
				line-height: var(--ee-font-size-smaller);
				padding: var(--ee-padding-micro) var(--ee-padding-smaller) var(--ee-padding-tiny);
			}
		}

		&:not(.ee-noIcon) .text-wrap {
			top: -0.1rem;
		}

		.img-wrap {
			top: 0.2rem;

			span {
				line-height: var(--ee-font-size-smaller);
			}
		}
	}

	.ee-btn-big.ee-button {
		&.ant-btn {
			font-size: var(--ee-font-size-big);
			min-height: var(--ee-font-size-bigger);
			line-height: var(--ee-font-size-big);
			padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);

			&:active,
			&:focus,
			&:visited {
				font-size: var(--ee-font-size-big);
				min-height: var(--ee-font-size-bigger);
				line-height: var(--ee-font-size-big);
				padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);
			}
		}

		.img-wrap span {
			line-height: var(--ee-font-size-big);
		}
	}

	.ee-btn-huge.ee-button {
		&.ant-btn {
			font-size: var(--ee-font-size-bigger);
			min-height: var(--ee-font-size-huge);
			line-height: var(--ee-font-size-bigger);
			padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);

			&:active,
			&:focus,
			&:visited {
				font-size: var(--ee-font-size-bigger);
				min-height: var(--ee-font-size-huge);
				line-height: var(--ee-font-size-bigger);
				padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);
			}
		}

		.img-wrap span {
			line-height: var(--ee-font-size-bigger);
		}
	}

	/* ACTION MENU ITEMS */

	.ee-entity-menu {
		.ee-btn-default.ee-button.ant-btn:not([disabled]),
		.ee-btn-primary.ee-button.ant-btn:not([disabled]),
		.ee-btn-secondary.ee-button.ant-btn:not([disabled]),
		.ee-btn-accent.ee-button.ant-btn:not([disabled]) {
			background: none;
			border: none;
			box-shadow: none;
			margin: var(--ee-margin-micro);
		}

		.ee-btn-default.ee-button.ant-btn:hover,
		.ee-btn-primary.ee-button.ant-btn:hover,
		.ee-btn-secondary.ee-button.ant-btn:hover,
		.ee-btn-accent.ee-button.ant-btn:hover {
			border: inherit;
		}

		.ee-btn-default.ee-button.ant-btn:focus,
		.ee-btn-primary.ee-button.ant-btn:focus,
		.ee-btn-secondary.ee-button.ant-btn:focus,
		.ee-btn-accent.ee-button.ant-btn:focus {
			border: 1px solid var(--ee-color-primary-low-contrast);
			box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
		}
	}

	/* SPECIAL FORM STYLES */

	.ant-input-group-addon .ee-button.ant-btn {
		&.ant-btn-icon-only:not([disabled]),
		&:active.ant-btn-icon-only:not([disabled]),
		&:focus.ant-btn-icon-only:not([disabled]),
		&:visited.ant-btn-icon-only:not([disabled]) {
			background: none;
			border: none;
			box-shadow: none;
		}
	}
}

/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
	.ee-button + .ee-button {
		.ee-event-editor & {
			margin-left: var(--ee-margin-smaller);
		}
	}
}

@media only screen and (max-width: 480px) {
	.ee-button + .ee-button {
		.ee-event-editor & {
			margin-left: var(--ee-margin-micro);
		}
	}
}

@media only screen and (max-width: 360px) {
	.ee-button {
		+ .ee-button {
			.ee-event-editor & {
				margin-left: auto;
			}
		}
	}
}
