/** -------------------------------------------------------------------------
 * Event Espresso Button Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

:root {
	--ee-icon-button-size: 36px;
}

.ee-btn-base-hover {
	border-color: var(--ee-color-primary-low-contrast);
	color: var(--ee-color-primary-high-contrast);
	box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
}

.ee-btn-base-focus {
	border-color: var(--ee-color-primary);
	box-shadow: 0 0 0 1px var(--ee-color-primary);
}

.ee-btn-base {
	border-color: var(--ee-border-color);
	border-style: solid;
	border-width: 2px;
	display: inline-flex;
	vertical-align: middle;

	&:focus {
		/* Visible in Windows high-contrast themes */
		outline-color: transparent;
		outline-width: 2px;
		outline-style: solid;
	}

	&.ee-btn {
		@at-root {
			button#{&} {
				&:hover {
					@extend .ee-btn-base-hover;
				}
				&:focus {
					@extend .ee-btn-base-focus;
				}
			}
		}
	}

	&.ee-icon-btn {
		&:hover {
			@extend .ee-btn-base-hover;
		}
		&:focus {
			@extend .ee-btn-base-focus;
		}
	}

	&.ee-btn {
		@at-root {
			button#{&} {
				border-radius: var(--ee-border-radius-small);
				border-style: solid;
				border-width: 1px;
				border-bottom: none;
				box-shadow: var(--ee-box-shadow-tiny);
				color: var(--ee-text-on-grey-14);
				cursor: pointer;
				font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans',
					'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
				font-size: var(--ee-font-size-default);
				font-weight: bold;
				line-height: var(--ee-font-size-default);
				margin: 0 0 var(--ee-margin-smaller);
				outline: none;
				position: relative;
				text-decoration: none;
				text-align: center;
				text-shadow: var(--ee-text-shadow-inset-light);
				top: 0;
				transition: border-color 0.1s ease 0.1s, color 0.1s ease 0.1s !important;

				+ .ee-btn {
					margin-left: var(--ee-margin-default);
				}

				&:active {
					box-shadow: none;
				}

				&:visited {
					border-radius: var(--ee-border-radius-small);
					border-style: solid;
					border-width: 1px;
					box-shadow: var(--ee-box-shadow-tiny);
					cursor: pointer;
					font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans',
						'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
					font-size: var(--ee-font-size-default);
					font-weight: bold;
					line-height: var(--ee-font-size-default);
					// margin: 0 0 var(--ee-margin-smaller); Setting margins on these states is a bit confusing, needs discussion.
					outline: none !important;
					position: relative;
					text-decoration: none;
					text-align: center;
					text-shadow: var(--ee-text-shadow-inset-light);
					top: 0;
					transition: border-color 0.1s ease 0.1s, color 0.1s ease 0.1s !important;
					vertical-align: middle;
				}

				/* BUTTON COLORS */

				&.ee-btn-default {
					&:not([disabled]) {
						background: var(--ee-color-grey-15);
						border-color: var(--ee-color-grey-14) var(--ee-color-grey-14) var(--ee-color-grey-15);
						color: var(--ee-default-text-color-low-contrast);

						&:hover:not([disabled]) {
							color: var(--ee-color-primary);
						}
					}

					&:not([disabled]):not(.ant-btn-icon-only) {
						background: var(--ee-color-grey-15);
						border-color: var(--ee-color-grey-14) var(--ee-color-grey-14) var(--ee-color-grey-15);
						color: var(--ee-text-on-grey-14);
					}

					&:hover:not([disabled]):not(.ant-btn-icon-only) {
						background: var(--ee-color-grey-14);
					}

					&:not([disabled]):not(.ant-btn-icon-only),
					&:hover:not([disabled]):not(.ant-btn-icon-only) path {
						fill: var(--ee-text-on-grey-14);
					}

					&.ant-btn-icon-only:hover:not([disabled]) path {
						fill: var(--ee-color-primary);
					}
				}

				/* MINIMAL */

				&.ee-btn-minimal {
					&.ant-btn-icon-only:not([disabled]),
					&:not([disabled]):not(.ant-btn-icon-only) {
						background: none;
						border: 1px solid var(--ee-default-text-color-low-contrast);
						box-shadow: none;
						color: var(--ee-default-text-color);
					}

					&.ant-btn-icon-only {
						&:focus {
							border-color: var(--ee-color-primary-low-contrast);
							box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
						}

						&:hover:not([disabled]) {
							border-color: var(--ee-color-primary);
							color: var(--ee-color-primary);
						}
					}

					&:hover:not([disabled]):not(.ant-btn-icon-only) {
						border-color: var(--ee-color-primary);
						color: var(--ee-color-primary);
					}

					&.ant-btn-icon-only:not([disabled]) path,
					&:not([disabled]):not(.ant-btn-icon-only),
					&:hover:not([disabled]):not(.ant-btn-icon-only) path {
						fill: var(--ee-default-text-color);
					}

					&.ant-btn-icon-only:hover:not([disabled]) path {
						fill: var(--ee-color-primary);
					}
				}

				/* PRIMARY */

				.ee-btn-primary.ant-btn {
					&:not([disabled]) {
						background: var(--ee-color-primary);
						border-color: var(--ee-color-primary) var(--ee-color-primary)
							var(--ee-color-primary-low-contrast);
						color: var(--ee-text-on-primary);

						path {
							fill: var(--ee-text-on-primary);
						}
					}

					&:hover:not([disabled]) {
						path {
							fill: var(--ee-text-on-primary);
						}

						background: var(--ee-color-primary-low-contrast);
					}
				}

				/* SECONDARY */

				.ee-btn-secondary.ant-btn:not([disabled]) {
					background: var(--ee-color-secondary);
					border-color: var(--ee-color-secondary) var(--ee-color-secondary)
						var(--ee-color-secondary-low-contrast);
					color: var(--ee-text-on-secondary);
				}

				.ee-btn-secondary.ant-btn:hover:not([disabled]) {
					background: var(--ee-color-secondary-low-contrast);
				}

				/* ACCENT */

				.ee-btn-accent.ant-btn:not([disabled]) {
					background: var(--ee-color-accent);
					border-color: var(--ee-color-accent) var(--ee-color-accent) var(--ee-color-accent-low-contrast);
					color: var(--ee-text-on-accent);
				}

				.ee-btn-accent.ant-btn:hover:not([disabled]) {
					background: var(--ee-color-accent-low-contrast);
				}

				/* DISABLED */

				.ee-button {
					&.ee-btn-default:disabled,
					&.ee-btn-primary:disabled,
					&.ee-btn-secondary:disabled,
					&.ee-btn-accent:disabled {
						background: var(--ee-color-grey-11);
						border-color: var(--ee-color-grey-11) var(--ee-color-grey-11) var(--ee-color-grey-12);
						color: var(--ee-text-on-grey-11);
						cursor: unset;
					}

					&.ee-btn-default:disabled path,
					&.ee-btn-primary:disabled path,
					&.ee-btn-secondary:disabled path,
					&.ee-btn-accent:disabled path {
						fill: var(--ee-text-on-grey-11);
					}
				}

				/* BUTTON SIZES */
				.ee-btn-tiny.ee-btn {
					font-size: var(--ee-font-size-tiny);
					min-height: var(--ee-font-size-smaller);
					line-height: var(--ee-font-size-tiny);
					padding: var(--ee-padding-nano) var(--ee-padding-tiny) var(--ee-padding-micro);

					&:active,
					&:focus,
					&:visited {
						font-size: var(--ee-font-size-tiny);
						min-height: var(--ee-font-size-smaller);
						line-height: var(--ee-font-size-tiny);
						padding: var(--ee-padding-nano) var(--ee-padding-tiny) var(--ee-padding-micro);
					}

					.img-wrap span {
						line-height: var(--ee-font-size-tiny);
					}
				}

				.ee-btn-small.ee-button {
					&.ant-btn {
						font-size: var(--ee-font-size-smaller);
						min-height: var(--ee-font-size-small);
						line-height: var(--ee-font-size-smaller);
						padding: var(--ee-padding-micro) var(--ee-padding-smaller) var(--ee-padding-tiny);

						&:active,
						&:focus,
						&:visited {
							font-size: var(--ee-font-size-smaller);
							min-height: var(--ee-font-size-small);
							line-height: var(--ee-font-size-smaller);
							padding: var(--ee-padding-micro) var(--ee-padding-smaller) var(--ee-padding-tiny);
						}
					}

					&:not(.ee-noIcon) .text-wrap {
						top: -0.1rem;
					}

					.img-wrap {
						top: 0.2rem;

						span {
							line-height: var(--ee-font-size-smaller);
						}
					}
				}

				.ee-btn-big.ee-button {
					&.ant-btn {
						font-size: var(--ee-font-size-big);
						min-height: var(--ee-font-size-bigger);
						line-height: var(--ee-font-size-big);
						padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);

						&:active,
						&:focus,
						&:visited {
							font-size: var(--ee-font-size-big);
							min-height: var(--ee-font-size-bigger);
							line-height: var(--ee-font-size-big);
							padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);
						}
					}

					.img-wrap span {
						line-height: var(--ee-font-size-big);
					}
				}

				.ee-btn-huge.ee-button {
					&.ant-btn {
						font-size: var(--ee-font-size-bigger);
						min-height: var(--ee-font-size-huge);
						line-height: var(--ee-font-size-bigger);
						padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);

						&:active,
						&:focus,
						&:visited {
							font-size: var(--ee-font-size-bigger);
							min-height: var(--ee-font-size-huge);
							line-height: var(--ee-font-size-bigger);
							padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);
						}
					}

					.img-wrap span {
						line-height: var(--ee-font-size-bigger);
					}
				}

				/* ACTION MENU ITEMS */

				.ee-entity-menu {
					.ee-btn-default.ee-button.ant-btn:not([disabled]),
					.ee-btn-primary.ee-button.ant-btn:not([disabled]),
					.ee-btn-secondary.ee-button.ant-btn:not([disabled]),
					.ee-btn-accent.ee-button.ant-btn:not([disabled]) {
						background: none;
						border: none;
						box-shadow: none;
						margin: var(--ee-margin-micro);
					}

					.ee-btn-default.ee-button.ant-btn:hover,
					.ee-btn-primary.ee-button.ant-btn:hover,
					.ee-btn-secondary.ee-button.ant-btn:hover,
					.ee-btn-accent.ee-button.ant-btn:hover {
						border: inherit;
					}

					.ee-btn-default.ee-button.ant-btn:focus,
					.ee-btn-primary.ee-button.ant-btn:focus,
					.ee-btn-secondary.ee-button.ant-btn:focus,
					.ee-btn-accent.ee-button.ant-btn:focus {
						border: 1px solid var(--ee-color-primary-low-contrast);
						box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
					}
				}

				&.ee-noIcon .text-wrap {
					position: relative;
					top: var(--ee-padding-nano);
				}

				.img-wrap {
					position: relative;
					margin: 0 0 0 var(--ee-padding-small);
					top: var(--ee-padding-nano);
					vertical-align: middle;
				}

				.img-wrap span {
					line-height: 24px;
				}

				.text-wrap {
					font-weight: bold;
					position: relative;
					top: calc(var(--ee-padding-nano) * -1.5);
					vertical-align: middle;
				}
			}
		}
	}
}

/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
	.ee-btn + .ee-btn {
		.ee-btn-base & {
			margin-left: var(--ee-margin-smaller);
		}
	}
}

@media only screen and (max-width: 480px) {
	.ee-button + .ee-button {
		.ee-btn-base & {
			margin-left: var(--ee-margin-micro);
		}
	}
}

@media only screen and (max-width: 360px) {
	.ee-btn + .ee-btn {
		.ee-btn-base & {
			margin-left: auto;
		}
	}
}
