
.ee-form-data-dump-div {
    margin: 0;
    padding: var(--ee-padding-default);
}

.ee-form-data-dump-div h3 {
    margin: 0;
}

.ee-form-data-dump-div pre {
    border-radius: var(--ee-border-radius-small);
    color: var(--ee-color-light-green);
    background-color: var(--ee-color-indigo);
    line-height: var(--ee-line-height-modifier);
    padding: var(--ee-padding-small) var(--ee-padding-default);
    position: relative;
    top: -1px;
    white-space: pre-wrap;
    word-wrap: break-word;
}


@media only screen and (max-width: 480px) {
    .ee-form-data-dump-div,
    .ee-form-data-dump-div pre {
        padding: var(--ee-padding-smaller);
    }
}

@media only screen and (max-width: 360px) {
    .ee-form-data-dump-div,
    .ee-form-data-dump-div pre {
        padding: var(--ee-padding-tiny);
    }
}
