/** -------------------------------------------------------------------------
 * Event Espresso Colors Default Theme Stylesheet
 * © 2019 Event Espresso
 * ------------------------------------------------------------------------- */

:root {
    --ee-magenta: #962557;
    --ee-red: #b00e13;
    --ee-hot-pink: #de5882;
    --ee-pink: #ed8d99;
    --ee-coral: #ed6d5a;
    --ee-orange: #ee7e04;
    --ee-gold: #f6bd00;
    --ee-yellow: #fad800;
    --ee-yellow-green: #d3d600;
    --ee-green: #91ab30;
    --ee-lite-green: #a9ce47;
    --ee-dark-green: #4d6021;
    --ee-blue-green: #399f94;
    --ee-blue: #297abc;
    --ee-dark-blue: #274369;
    --ee-brite-blue: #5abddb;
    --ee-lite-blue: #9dcdd5;
    --ee-violet: #bfa9d4;
    --ee-purple: #795d9d;
    --ee-indigo: #26203d;
    --ee-black: #18181a;
    --ee-charcoal: #2d2d2f;
    --ee-dark-grey: #4d4c52;
    --ee-grey: #838182;
    --ee-lite-grey: #aaaba6;
    --ee-grey-white: #dcd7d4;
    --ee-off-white: #efece0;
    --ee-near-white: #f9f6f0;
    --ee-not-quite-white: #fcfbfa;
    --ee-white: #fff;
}

/***  BACKGROUND COLORS  ***/

.ee-red-background,
.ee-red-hover-background:hover,
.ee-input-red-background input,
.ee-select-red-background select {
    background-color: var(--ee-red);
}

.ee-hot-pink-background,
.ee-hot-pink-hover-background:hover,
.ee-input-hot-pink-background input,
.ee-select-hot-pink-background select {
    background-color: var(--ee-hot-pink);
}

.ee-pink-background,
.ee-pink-hover-background:hover,
.ee-input-pink-background input,
.ee-select-pink-background select {
    background-color: var(--ee-pink);
}

.ee-coral-background,
.ee-coral-hover-background:hover,
.ee-input-coral-background input,
.ee-select-coral-background select {
    background-color: var(--ee-coral);
}

.ee-orange-background,
.ee-orange-hover-background:hover,
.ee-input-orange-background input,
.ee-select-orange-background select {
    background-color: var(--ee-orange);
}

.ee-gold-background,
.ee-gold-hover-background:hover,
.ee-input-gold-background input,
.ee-select-gold-background select {
    background-color: var(--ee-gold);
}

.ee-yellow-background,
.ee-yellow-hover-background:hover,
.ee-input-yellow-background input,
.ee-select-yellow-background select {
    background-color: var(--ee-yellow);
}

.ee-yellow-green-background,
.ee-yellow-green-hover-background:hover,
.ee-input-yellow-green-background input,
.ee-select-yellow-green-background select {
    background-color: var(--ee-yellow-green);
}

.ee-green-background,
.ee-green-hover-background:hover,
.ee-green-background-after:after,
.ee-green-background-before:before,
.ee-input-green-background input,
.ee-select-green-background select {
    background-color: var(--ee-green);
}

.ee-lite-green-background,
.ee-lite-green-hover-background:hover,
.ee-input-lite-green-background input,
.ee-select-lite-green-background select {
    background-color: var(--ee-lite-green);
}

.ee-dark-green-background,
.ee-dark-green-hover-background:hover,
.ee-input-dark-green-background input,
.ee-select-dark-green-background select {
    background-color: var(--ee-dark-green);
}

.ee-blue-green-background,
.ee-blue-green-hover-background:hover,
.ee-input-blue-green-background input,
.ee-select-blue-green-background select {
    background-color: var(--ee-blue-green);
}

.ee-blue-background,
.ee-blue-hover-background:hover,
.ee-input-blue-background input,
.ee-select-blue-background select {
    background-color: var(--ee-blue);
}

.ee-dark-blue-background,
.ee-dark-blue-hover-background:hover,
.ee-input-dark-blue-background input,
.ee-select-dark-blue-background select {
    background-color: var(--ee-dark-blue);
}

.ee-brite-blue-background,
.ee-brite-blue-hover-background:hover,
.ee-input-brite-blue-background input,
.ee-select-brite-blue-background select {
    background-color: var(--ee-brite-blue);
}

.ee-lite-blue-background,
.ee-lite-blue-hover-background:hover,
.ee-input-lite-blue-background input,
.ee-select-lite-blue-background select {
    background-color: var(--ee-lite-blue);
}

.ee-violet-background,
.ee-violet-hover-background:hover,
.ee-input-violet-background input,
.ee-select-violet-background select {
    background-color: var(--ee-violet);
}

.ee-purple-background,
.ee-purple-hover-background:hover,
.ee-input-purple-background input,
.ee-select-purple-background select {
    background-color: var(--ee-purple);
}

.ee-indigo-background,
.ee-indigo-hover-background:hover,
.ee-input-indigo-background input,
.ee-select-indigo-background select {
    background-color: var(--ee-indigo);
}

.ee-black-background,
.ee-black-hover-background:hover,
.ee-input-black-background input,
.ee-select-black-background select {
    background-color: var(--ee-black);
}

.ee-charcoal-background,
.ee-charcoal-hover-background:hover,
.ee-input-charcoal-background input,
.ee-select-charcoal-background select {
    background-color: var(--ee-charcoal);
}

.ee-dark-grey-background,
.ee-dark-grey-hover-background:hover,
.ee-input-dark-grey-background input,
.ee-select-dark-grey-background select {
    background-color: var(--ee-dark-grey);
}

.ee-grey-background,
.ee-grey-hover-background:hover,
.ee-input-grey-background input,
.ee-select-grey-background select {
    background-color: var(--ee-grey);
}

.ee-lite-grey-background,
.ee-lite-grey-hover-background:hover,
.ee-input-lite-grey-background input,
.ee-select-lite-grey-background select {
    background-color: var(--ee-lite-grey);
}

.ee-grey-white-background,
.ee-grey-white-hover-background:hover,
.ee-input-grey-white-background input,
.ee-select-grey-white-background select {
    background-color: var(--ee-grey-white);
}

.ee-off-white-background,
.ee-off-white-hover-background:hover,
.ee-input-off-white-background input,
.ee-select-off-white-background select {
    background-color: var(--ee-off-white);
}

.ee-white-background,
.ee-white-hover-background:hover,
.ee-white-hover-background:hover,
.ee-input-white-background input,
.ee-select-white-background select {
    background-color: var(--ee-white);
}


/***  BORDER COLORS  ***/

.ee-red-border,
.ee-input-red-border input,
.ee-select-red-border select {
    border-color: var(--ee-red);
}
.ee-red-border-top {
    border-top-color: var(--ee-red);
}
.ee-red-border-right {
    border-right-color: var(--ee-red);
}
.ee-red-border-bottom {
    border-bottom-color: var(--ee-red);
}
.ee-red-border-left-color {
    border-left-color: var(--ee-red);
}

.ee-pink-border,
.ee-input-pink-border input,
.ee-select-pink-border select {
    border-color: var(--ee-pink);
}

.ee-pink-border-top {
    border-top-color: var(--ee-pink);
}

.ee-pink-border-right {
    border-right-color: var(--ee-pink);
}

.ee-pink-border-bottom {
    border-bottom-color: var(--ee-pink);
}

.ee-pink-border-left-color {
    border-left-color: var(--ee-pink);
}

.ee-hot-pink-border,
.ee-input-hot-pink-border input,
.ee-select-hot-pink-border select {
    border-color: var(--ee-hot-pink);
}

.ee-hot-pink-border-top {
    border-top-color: var(--ee-hot-pink);
}

.ee-hot-pink-border-right {
    border-right-color: var(--ee-hot-pink);
}

.ee-hot-pink-border-bottom {
    border-bottom-color: var(--ee-hot-pink);
}

.ee-hot-pink-border-left-color {
    border-left-color: var(--ee-hot-pink);
}

.ee-coral-border,
.ee-input-coral-border input,
.ee-select-coral-border select {
    border-color: var(--ee-coral);
}

.ee-coral-border-top {
    border-top-color: var(--ee-coral);
}

.ee-coral-border-right {
    border-right-color: var(--ee-coral);
}

.ee-coral-border-bottom {
    border-bottom-color: var(--ee-coral);
}

.ee-coral-border-left-color {
    border-left-color: var(--ee-coral);
}

.ee-orange-border,
.ee-input-orange-border input,
.ee-select-orange-border select {
    border-color: var(--ee-orange);
}

.ee-orange-border-top {
    border-top-color: var(--ee-orange);
}

.ee-orange-border-right {
    border-right-color: var(--ee-orange);
}

.ee-orange-border-bottom {
    border-bottom-color: var(--ee-orange);
}

.ee-orange-border-left-color {
    border-left-color: var(--ee-orange);
}

.ee-gold-border,
.ee-input-gold-border input,
.ee-select-gold-border select {
    border-color: var(--ee-gold);
}

.ee-gold-border-top {
    border-top-color: var(--ee-gold);
}

.ee-gold-border-right {
    border-right-color: var(--ee-gold);
}

.ee-gold-border-bottom {
    border-bottom-color: var(--ee-gold);
}

.ee-gold-border-left-color {
    border-left-color: var(--ee-gold);
}

.ee-yellow-border,
.ee-input-yellow-border input,
.ee-select-yellow-border select {
    border-color: var(--ee-yellow);
}

.ee-yellow-border-top {
    border-top-color: var(--ee-yellow);
}

.ee-yellow-border-right {
    border-right-color: var(--ee-yellow);
}

.ee-yellow-border-bottom {
    border-bottom-color: var(--ee-yellow);
}

.ee-yellow-border-left-color {
    border-left-color: var(--ee-yellow);
}

.ee-yellow-green-border,
.ee-input-yellow-green-border input,
.ee-select-yellow-green-border select {
    border-color: var(--ee-yellow-green);
}

.ee-yellow-green-border-top {
    border-top-color: var(--ee-yellow-green);
}

.ee-yellow-green-border-right {
    border-right-color: var(--ee-yellow-green);
}

.ee-yellow-green-border-bottom {
    border-bottom-color: var(--ee-yellow-green);
}

.ee-yellow-green-border-left-color {
    border-left-color: var(--ee-yellow-green);
}

.ee-green-border,
.ee-input-green-border input,
.ee-select-green-border select {
    border-color: var(--ee-green);
}

.ee-green-border-top {
    border-top-color: var(--ee-green);
}

.ee-green-border-right {
    border-right-color: var(--ee-green);
}

.ee-green-border-bottom {
    border-bottom-color: var(--ee-green);
}

.ee-green-border-left-color {
    border-left-color: var(--ee-green);
}

.ee-lite-green-border,
.ee-input-lite-green-border input,
.ee-select-lite-green-border select {
    border-color: var(--ee-lite-green);
}

.ee-lite-green-border-top {
    border-top-color: var(--ee-lite-green);
}

.ee-lite-green-border-right {
    border-right-color: var(--ee-lite-green);
}

.ee-lite-green-border-bottom {
    border-bottom-color: var(--ee-lite-green);
}

.ee-lite-green-border-left-color {
    border-left-color: var(--ee-lite-green);
}

.ee-dark-green-border,
.ee-input-dark-green-border input,
.ee-select-dark-green-border select {
    border-color: var(--ee-dark-green);
}

.ee-dark-green-border-top {
    border-top-color: var(--ee-dark-green);
}

.ee-dark-green-border-right {
    border-right-color: var(--ee-dark-green);
}

.ee-dark-green-border-bottom {
    border-bottom-color: var(--ee-dark-green);
}

.ee-dark-green-border-left-color {
    border-left-color: var(--ee-dark-green);
}

.ee-blue-green-border,
.ee-input-blue-green-border input,
.ee-select-blue-green-border select {
    border-color: var(--ee-blue-green);
}

.ee-blue-green-border-top {
    border-top-color: var(--ee-blue-green);
}

.ee-blue-green-border-right {
    border-right-color: var(--ee-blue-green);
}

.ee-blue-green-border-bottom {
    border-bottom-color: var(--ee-blue-green);
}

.ee-blue-green-border-left-color {
    border-left-color: var(--ee-blue-green);
}

.ee-blue-border,
.ee-input-blue-border input,
.ee-select-blue-border select {
    border-color: var(--ee-blue);
}

.ee-blue-border-top {
    border-top-color: var(--ee-blue);
}

.ee-blue-border-right {
    border-right-color: var(--ee-blue);
}

.ee-blue-border-bottom {
    border-bottom-color: var(--ee-blue);
}

.ee-blue-border-left-color {
    border-left-color: var(--ee-blue);
}

.ee-dark-blue-border,
.ee-input-dark-blue-border input,
.ee-select-dark-blue-border select {
    border-color: var(--ee-dark-blue);
}

.ee-dark-blue-border-top {
    border-top-color: var(--ee-dark-blue);
}

.ee-dark-blue-border-right {
    border-right-color: var(--ee-dark-blue);
}

.ee-dark-blue-border-bottom {
    border-bottom-color: var(--ee-dark-blue);
}

.ee-dark-blue-border-left-color {
    border-left-color: var(--ee-dark-blue);
}

.ee-lite-blue-border,
.ee-input-lite-blue-border input,
.ee-select-lite-blue-border select {
    border-color: var(--ee-lite-blue);
}

.ee-lite-blue-border-top {
    border-top-color: var(--ee-lite-blue);
}

.ee-lite-blue-border-right {
    border-right-color: var(--ee-lite-blue);
}

.ee-lite-blue-border-bottom {
    border-bottom-color: var(--ee-lite-blue);
}

.ee-lite-blue-border-left-color {
    border-left-color: var(--ee-lite-blue);
}

.ee-violet-border,
.ee-input-violet-border input,
.ee-select-violet-border select {
    border-color: var(--ee-violet);
}

.ee-violet-border-top {
    border-top-color: var(--ee-violet);
}

.ee-violet-border-right {
    border-right-color: var(--ee-violet);
}

.ee-violet-border-bottom {
    border-bottom-color: var(--ee-violet);
}

.ee-violet-border-left-color {
    border-left-color: var(--ee-violet);
}

.ee-purple-border,
.ee-input-purple-border input,
.ee-select-purple-border select {
    border-color: var(--ee-purple);
}

.ee-purple-border-top {
    border-top-color: var(--ee-purple);
}

.ee-purple-border-right {
    border-right-color: var(--ee-purple);
}

.ee-purple-border-bottom {
    border-bottom-color: var(--ee-purple);
}

.ee-purple-border-left-color {
    border-left-color: var(--ee-purple);
}

.ee-indigo-border,
.ee-input-indigo-border input,
.ee-select-indigo-border select {
    border-color: var(--ee-indigo);
}

.ee-indigo-border-top {
    border-top-color: var(--ee-indigo);
}

.ee-indigo-border-right {
    border-right-color: var(--ee-indigo);
}

.ee-indigo-border-bottom {
    border-bottom-color: var(--ee-indigo);
}

.ee-indigo-border-left-color {
    border-left-color: var(--ee-indigo);
}

.ee-black-border,
.ee-input-black-border input,
.ee-select-black-border select {
    border-color: var(--ee-black);
}

.ee-black-border-top {
    border-top-color: var(--ee-black);
}

.ee-black-border-right {
    border-right-color: var(--ee-black);
}

.ee-black-border-bottom {
    border-bottom-color: var(--ee-black);
}

.ee-black-border-left-color {
    border-left-color: var(--ee-black);
}

.ee-charcoal-border,
.ee-input-charcoal-border input,
.ee-select-charcoal-border select {
    border-color: var(--ee-charcoal);
}

.ee-charcoal-border-top {
    border-top-color: var(--ee-charcoal);
}

.ee-charcoal-border-right {
    border-right-color: var(--ee-charcoal);
}

.ee-charcoal-border-bottom {
    border-bottom-color: var(--ee-charcoal);
}

.ee-charcoal-border-left-color {
    border-left-color: var(--ee-charcoal);
}

.ee-dark-grey-border,
.ee-input-dark-grey-border input,
.ee-select-dark-grey-border select {
    border-color: var(--ee-dark-grey);
}

.ee-dark-grey-border-top {
    border-top-color: var(--ee-dark-grey);
}

.ee-dark-grey-border-right {
    border-right-color: var(--ee-dark-grey);
}

.ee-dark-grey-border-bottom {
    border-bottom-color: var(--ee-dark-grey);
}

.ee-dark-grey-border-left-color {
    border-left-color: var(--ee-dark-grey);
}

.ee-grey-border,
.ee-input-grey-border input,
.ee-select-grey-border select {
    border-color: var(--ee-grey);
}

.ee-grey-border-top {
    border-top-color: var(--ee-grey);
}

.ee-grey-border-right {
    border-right-color: var(--ee-grey);
}

.ee-grey-border-bottom {
    border-bottom-color: var(--ee-grey);
}

.ee-grey-border-left-color {
    border-left-color: var(--ee-grey);
}

.ee-lite-grey-border,
.ee-input-lite-grey-border input,
.ee-select-lite-grey-border select {
    border-color: var(--ee-lite-grey);
}

.ee-lite-grey-border-top {
    border-top-color: var(--ee-lite-grey);
}

.ee-lite-grey-border-right {
    border-right-color: var(--ee-lite-grey);
}

.ee-lite-grey-border-bottom {
    border-bottom-color: var(--ee-lite-grey);
}

.ee-lite-grey-border-left-color {
    border-left-color: var(--ee-lite-grey);
}

.ee-grey-white-border,
.ee-input-grey-white-border input,
.ee-select-grey-white-border select {
    border-color: var(--ee-grey-white);
}

.ee-grey-white-border-top {
    border-top-color: var(--ee-grey-white);
}

.ee-grey-white-border-right {
    border-right-color: var(--ee-grey-white);
}

.ee-grey-white-border-bottom {
    border-bottom-color: var(--ee-grey-white);
}

.ee-grey-white-border-left-color {
    border-left-color: var(--ee-grey-white);
}

.ee-off-white-border,
.ee-input-off-white-border input,
.ee-select-off-white-border select {
    border-color: var(--ee-off-white);
}

.ee-off-white-border-top {
    border-top-color: var(--ee-off-white);
}

.ee-off-white-border-right {
    border-right-color: var(--ee-off-white);
}

.ee-off-white-border-bottom {
    border-bottom-color: var(--ee-off-white);
}

.ee-off-white-border-left-color {
    border-left-color: var(--ee-off-white);
}

.ee-white-border,
.ee-input-white-border input,
.ee-select-white-border select {
    border-color: var(--ee-white);
}

.ee-white-border-top {
    border-top-color: var(--ee-white);
}

.ee-white-border-right {
    border-right-color: var(--ee-white);
}

.ee-white-border-bottom {
    border-bottom-color: var(--ee-white);
}

.ee-white-border-left-color {
    border-left-color: var(--ee-white);
}


/***  TEXT COLORS  ***/

.ee-red-text,
.ee-red-links a,
.ee-red-hover-text:hover,
.ee-red-hover-links a:hover,
.ee-red-active-links a:active {
    color: var(--ee-red) !important;
}

.ee-hot-pink-text,
.ee-hot-pink-links a,
.ee-hot-pink-hover-text:hover,
.ee-hot-pink-hover-links a:hover,
.ee-hot-pink-active-links a:active {
    color: var(--ee-hot-pink) !important;
}

.ee-pink-text,
.ee-pink-links a,
.ee-pink-hover-text:hover,
.ee-pink-hover-links a:hover,
.ee-pink-active-links a:active {
    color: var(--ee-pink) !important;
}

.ee-coral-text,
.ee-coral-links a,
.ee-coral-hover-text:hover,
.ee-coral-hover-links a:hover,
.ee-coral-active-links a:active {
    color: var(--ee-coral) !important;
}

.ee-orange-text,
.ee-orange-links a,
.ee-orange-hover-text:hover,
.ee-orange-hover-links a:hover,
.ee-orange-active-links a:active {
    color: var(--ee-orange) !important;
}

.ee-gold-text,
.ee-gold-links a,
.ee-gold-hover-text:hover,
.ee-gold-hover-links a:hover,
.ee-gold-active-links a:active {
    color: var(--ee-gold) !important;
}

.ee-yellow-text,
.ee-yellow-links a,
.ee-yellow-hover-text:hover,
.ee-yellow-hover-links a:hover,
.ee-yellow-active-links a:active {
    color: var(--ee-yellow) !important;
}

.ee-yellow-green-text,
.ee-yellow-green-links a,
.ee-yellow-green-hover-text:hover,
.ee-yellow-green-hover-links a:hover,
.ee-yellow-green-active-links a:active {
    color: var(--ee-yellow-green) !important;
}

.ee-green-text,
.ee-green-links a,
.ee-green-hover-text:hover,
.ee-green-hover-links a:hover,
.ee-green-active-links a:active {
    color: var(--ee-green) !important;
}

.ee-lite-green-text,
.ee-lite-green-links a,
.ee-lite-green-hover-text:hover,
.ee-lite-green-hover-links a:hover,
.ee-lite-green-active-links a:active {
    color: var(--ee-lite-green) !important;
}

.ee-dark-green-text,
.ee-dark-green-links a,
.ee-dark-green-hover-text:hover,
.ee-dark-green-hover-links a:hover,
.ee-dark-green-active-links a:active {
    color: var(--ee-dark-green) !important;
}

.ee-blue-green-text,
.ee-blue-green-links a,
.ee-blue-green-hover-text:hover,
.ee-blue-green-hover-links a:hover,
.ee-blue-green-active-links a:active {
    color: var(--ee-blue-green) !important;
}

.ee-blue-text,
.ee-blue-links a,
.ee-blue-hover-text:hover,
.ee-blue-hover-links a:hover,
.ee-blue-active-links a:active {
    color: var(--ee-blue) !important
}

.ee-dark-blue-text,
.ee-dark-blue-links a,
.ee-dark-blue-hover-text:hover,
.ee-dark-blue-hover-links a:hover,
.ee-dark-blue-active-links a:active {
    color: var(--ee-dark-blue) !important;
}

.ee-brite-blue-text,
.ee-brite-blue-links a,
.ee-brite-blue-hover-text:hover,
.ee-brite-blue-hover-links a:hover,
.ee-brite-blue-active-links a:active {
    color: var(--ee-brite-blue) !important;
}

.ee-lite-blue-text,
.ee-lite-blue-links a,
.ee-lite-blue-hover-text:hover,
.ee-lite-blue-hover-links a:hover,
.ee-lite-blue-active-links a:active {
    color: var(--ee-lite-blue) !important;
}

.ee-violet-text,
.ee-violet-links a,
.ee-violet-hover-text:hover,
.ee-violet-hover-links a:hover,
.ee-violet-active-links a:active {
    color: var(--ee-violet) !important;
}

.ee-purple-text,
.ee-purple-links a,
.ee-purple-hover-text:hover,
.ee-purple-hover-links a:hover,
.ee-purple-active-links a:active {
    color: var(--ee-purple) !important;
}

.ee-indigo-text,
.ee-indigo-links a,
.ee-indigo-hover-text:hover,
.ee-indigo-hover-links a:hover,
.ee-indigo-active-links a:active {
    color: var(--ee-indigo) !important;
}

.ee-black-text,
.ee-black-links a,
.ee-black-hover-text:hover,
.ee-black-hover-links a:hover,
.ee-black-active-links a:active {
    color: var(--ee-black) !important;
}

.ee-charcoal-text,
.ee-charcoal-links a,
.ee-charcoal-hover-text:hover,
.ee-charcoal-hover-links a:hover,
.ee-charcoal-active-links a:active {
    color: var(--ee-charcoal) !important;
}

.ee-dark-grey-text,
.ee-dark-grey-links a,
.ee-dark-grey-hover-text:hover,
.ee-dark-grey-hover-links a:hover,
.ee-dark-grey-active-links a:active {
    color: var(--ee-dark-grey) !important;
}

.ee-grey-text,
.ee-grey-links a,
.ee-grey-hover-text:hover,
.ee-grey-hover-links a:hover,
.ee-grey-active-links a:active {
    color: var(--ee-grey) !important;
}

.ee-lite-grey-text,
.ee-lite-grey-links a,
.ee-lite-grey-hover-text:hover,
.ee-lite-grey-hover-links a:hover,
.ee-lite-grey-active-links a:active {
    color: var(--ee-lite-grey) !important;
}

.ee-grey-white-text,
.ee-grey-white-links a,
.ee-grey-white-hover-text:hover,
.ee-grey-white-hover-links a:hover,
.ee-grey-white-active-links a:active {
    color: var(--ee-grey-white) !important;
}

.ee-off-white-text,
.ee-off-white-links a,
.ee-off-white-hover-text:hover,
.ee-off-white-hover-links a:hover,
.ee-off-white-active-links a:active {
    color: var(--ee-off-white) !important;
}

.ee-white-text,
.ee-white-links a,
.ee-white-hover-text:hover,
.ee-white-hover-links a:hover,
.ee-white-active-links a:active {
    color: var(--ee-white) !important;
}
