@import 'application/ui/styles/mixins/breakpoints.scss';

.ee-input-with-label {
	&__left-addon,
	&__right-addon {
		.ee-input-with-label & {
			border-width: 3px;
			border-color: var(--ee-border-color);
			border-radius: 3px;
			height: 2.625rem;
			margin: 0;
			padding: 0;
		}

		.ee-input--disabled & {
			background: var(--ee-color-grey-14);
			border-color: var(--ee-color-grey-11);
			color: var(--ee-default-text-color-low-contrast);
			opacity: 0.8;
		}
	}

	&__left-addon {
		.ee-input-with-label__left-label & {
			border-bottom-right-radius: 0;
			border-right: none;
			border-top-right-radius: 0;
		}
	}

	&__right-addon {
		.ee-input-with-label__right-label & {
			border-bottom-left-radius: 0;
			border-left: none;
			border-top-left-radius: 0;
		}
	}

	&.ee-input-with-label__left-label {
		.ee-input.ee-input {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
	}

	&.ee-input-with-label__right-label {
		.ee-input.ee-input {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
	}
}
