#icon-options-event { background: url("../../../images/events_icon_32.png") no-repeat scroll 0 0 transparent; }
#entries-per-page-dv { display:inline; }

#txn-filters-dv { clear:both; padding:1.5em 0; }
.datepicker { width:125px; }

/* TABLE COLUMNS */

.column-TXN_ID { width:3%; }
.column-TXN_timestamp { width:15%; }

#STS_ID {}
.column-STS_ID { width:6%; /*text-align:center; */}
.status-TOP, .txn-overview-full-payment-spn { color:#090;  }
.status-TPN, .txn-overview-part-payment-spn { color:#F93; font-weight:bold;  }
.txn-overview-no-payment-spn { color:#F00; font-weight:bold; }
.status-TCM { color:#999;  }

#TXN_total, #TXN_paid { text-align:center; }
.column-TXN_total, .column-TXN_paid { width:6.5%; text-align:right; }
.txn-pad-rght { display:block; padding-right:1.5em; }

.column-ATT_fname { width:14%; }
.column-ATT_email { width:14%; }
.column-event_name {  }
.column-actions { width:7.5%; }

.txn-overview-free-event-spn {
	display: block; text-align:center;
}

.txn-overview-actions-ul { list-style:none; margin:0; }
.txn-overview-actions-ul li { display: inline; margin:0; }
.txn-overview-actions-ul li + li { margin-left:.25em; }

.admin-side-mbox-dv { margin:1em 0 2em; }
.admin-side-mbox-dv p { margin:.5em 0; line-height:1.2em; color:#333; text-shadow:0px 1px 0px #fff; }
.admin-side-mbox-label-spn { width:30%; padding-right:.5em; text-align:right; }
.admin-side-mbox-text-dv { padding-left:.5em; margin:0 0 1em 30%; }

.admin-primary-mbox-h4 { margin:2em 0 .25em;  }

.admin-primary-mbox-tbl-wrap {
	padding:3px; margin:0em 0 2em;
	background:#fff; border:1px solid #dfdfdf;
	border-radius:3px; -moz-border-radius:3px;  -webkit-border-radius:3px;
}
.admin-primary-mbox-tbl {
    width:100%; border-spacing: 0; border-collapse:collapse;
}
.admin-primary-mbox-tbl th, .admin-primary-mbox-tbl td {
	padding:6px 12px; margin: 0;
	border:1px solid #dfdfdf; background:#fcfcfc;
	font-family: sans-serif; font-size: 1em; vertical-align:middle;
}.admin-primary-mbox-tbl.borderless th { padding:6px 12px 0; border:none; background:none; }
.admin-primary-mbox-tbl.borderless td { padding:0 12px 6px; border:none; background:none; }
.admin-primary-mbox-tbl tr + tr { border-top:none; }
.admin-primary-mbox-tbl th + th,
.admin-primary-mbox-tbl td + td { border-left:none; }
.admin-primary-mbox-tbl th { font-size:.9em; font-weight:bold; }
.admin-primary-mbox-tbl caption { display:none; }

.form-table.skinny-rows th, .form-table.skinny-rows td { padding:3px 10px; }

.admin-primary-mbox-total-tr { font-size:1.1em; }

.truncate-50 {
	 width:50px; height:1em; overflow:hidden;
}

#txn-admin-gateway-img {
	position:absolute; top:0; right:2em;
}


#txn-admin-payment-options-ul { float:right; list-style:none; margin:0 .5em 1em; }
#txn-admin-payment-options-ul li { display:inline-block; }
#txn-admin-payment-options-ul li + li { margin-left:1em; }
.txn-admin-payment-option-lnk {
	display:block; width:auto; padding:3px 6px;; margin:0;
	background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #DFDFDF; border-radius: 3px 3px 3px 3px;
    color: #666; cursor: pointer; vertical-align:middle;
	
}


.jst-left { text-align:left; }
.jst-cntr { text-align:center; }
.jst-rght { text-align:right; }

.display-the-hidden { float:right; padding-left:16px; background: url("../../../images/icons/additional_info-10x10.png") no-repeat scroll left center transparent; cursor:pointer; }
.hide-the-displayed { float:right; padding-left:16px; background: url("../../../images/icons/close_additional_info-10x10.png") no-repeat scroll left center transparent; cursor:pointer; }
.display-the-hidden.no-icon, .hide-the-displayed.no-icon { padding-left:10px!important;  /*!important*/ background-image:none; }


.lt-grey-txt  { color:#999;  text-shadow:none; }
.float-left { float:left; }

/* Nicolas Gallagher's micro clearfix */
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } 