/*** REG PAGE WRAPPER ***/

#single-page-checkout {
	position: relative;
}
#single-page-checkout label {
	display: block;
}


/*** STEPS DISPLAY HEADER ***/
#spco-steps-big-hdr {
	font-size:1em;
	padding: 0!important;
	margin: .25em 0 !important;
	line-height:1em;
	color:#ccc;
	border: none!important;
}
.spco-steps-big-hdr {
}
#spco-sold-out-events-ul,
#spco-pre-approval-events-ul {
	list-style: none;
}
#spco-steps-display-dv {
	width:99%;
	padding: 5px .5%;
	margin:0 0 1em;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.spco-step-display-dv {
	float:left;
	display:inline-block;
	margin:0;
	text-align:center;
	height: 33px;
}
.steps-1 {
	width:87%;
}
.steps-2 {
	width:43.5%;
}
.steps-3 {
	width:29%;
}
.steps-4 {
	width:21.75%;
}
#single-page-checkout .spco-steps-display-hdr {
	display:inline-block;
	padding:0!important;
	margin:0!important;
	vertical-align:middle;
	font-size:11px!important;
	line-height:12px;
	letter-spacing: 1px;
	color:#ddd;
	text-align:left;
	border: none!important;
}
#single-page-checkout .spco-step-big-nmbr {
	display:inline-block;
	position : relative;
	padding: 0 3px 0 0 !important;
	margin:0!important;
	vertical-align:top;
	font-size:30px;
	font-weight:bold;
	line-height:30px;
	/*color: #00B1CA;*/
}
#single-page-checkout .spco-step-big-nmbr:hover {
	text-decoration:none;
}
#single-page-checkout .spco-step-name {
	display:inline-block;
	padding:9px 0 0;
}
#single-page-checkout .spco-step-arrow-dv {
	float:left;
	display:inline-block;
	width:6%;
	padding: 0!important;
	margin: 0!important;
	vertical-align:middle;
	text-align:center;
	font-size:27px;
	line-height:30px;
	color:#ddd;
}
#single-page-checkout .active-step .spco-steps-display-hdr {
	color:inherit!important;
}
#single-page-checkout .inactive-step .spco-step-big-nmbr {
	color:#ddd;
}



/***** whats-next-buttons *****/
.spco-whats-next-buttons {
	clear:both;
	padding:2em 0 1em;
	margin:0;
	text-align:right;
}
.spco-whats-next-buttons .event-queue-register-btn, .spco-whats-next-buttons .spco-register-btn {
	margin-left: 1em!important;
}
.act-like-link {
	cursor:pointer;
}




/*** REG STEPS ***/

.spco-steps-pg {
	/*margin:0 0 2em;*/
}
.spco-attendee-panel-dv {
	width:100%!important;
}
.ee-reg-form-attendee-dv {
	padding:1em 2.5%;
	margin:1em 0 2em;
	border: 2px solid #eee;
	border-radius: 2px;
}
.ee-reg-form-attendee-dv .ee-reg-qstn-input-dv {
	display: block;
	clear:both;
	margin:0 0 .5em;
}
.ee-reg-form-attendee-dv .ee-reg-qstn-input-dv + .ee-reg-qstn-input-dv {
	padding-top:.5em;
}
.ee-reg-form-qstn-grp-dv {
	padding:.5em 1em 1em;
}
.ee-reg-form-qstn-grp-dv + .ee-reg-form-qstn-grp-dv {
	margin:.5em 0 0;
}
.ee-reg-form-attendee-dv .ee-reg-form-qstn-grp-title {
	margin:.25em 0 1em;
}
.ee-reg-form-attendee-dv .ee-reg-form-qstn-grp-desc-pg {
	padding: 0 1em 1em;
	margin:-1em 0 1em;
}
.spco-attendee-lgnd {
	width: auto;
	padding:0 1em;
	margin:0;
	border: none;
	-moz-border:none;
	letter-spacing:1px;
	font-weight: bold;
}
.event_questions + .spco-attendee-lgnd {
	margin-top:2em;
}

.spco-attendee-info-not-required-pg {
	margin:0 .25em .5em;
}


/*** INPUTS ***/

input:not([type=submit]):not([type=file]) {
	max-width: 100%;
	min-width: 50%;
	width:100%;
}