.ee-form-error-message.ee-form-error-message {
	background: var(--ee-color-accent);
	border-radius: var(--ee-border-radius-small);
	display: inline-flex;
	padding: var(--ee-padding-tiny) var(--ee-padding-default) var(--ee-padding-tiny) var(--ee-padding-small);

	p,
	svg {
		color: var(--ee-color-white);
	}

	p {
		letter-spacing: 2px;
	}
}
