/** -------------------------------------------------------------------------
 * Event Espresso TicketsListFilterBar Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-entity-list-filter-bar-wrapper {
	.ee-filter-bar-filter.ee-show-tickets-filter {
		margin-right: 0.25rem;
	}

	.ee-filter-bar-filter.ee-ticket-dates-chained-filter {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		margin-right: 0.75rem;
		margin-top: 1px;

		.esprs-button.ant-btn {
			margin: 0;

			&.ee-ticket-list-is-chained {
				border-color: var(--ee-color-primary-low-constrast) var(--ee-color-primary)
					var(--ee-color-primary-high-contrast);
				background: var(--ee-color-primary);
				color: var(--ee-text-on-primary);

				.anticon path {
					color: var(--ee-text-on-primary) !important;
					fill: var(--ee-text-on-primary) !important;
				}
			}
		}
	}
}
