@import 'application/ui/styles/mixins/breakpoints.scss';

.ee-btn-group.ee-btn-group {
	border-radius: var(--ee-border-radius-small);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35), -1px -1px 2px rgba(255, 255, 255, 0.95);
	margin: var(--ee-margin-nano);

	@include max782px {
		align-items: stretch;
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-bottom: var(--ee-margin-default);
	}

	.ee-btn.ee-btn {
		box-shadow: none !important;
		margin: 0 !important;

		@include max782px {
			flex-grow: 1;
		}

		&:not(:first-child):not(:last-child) {
			border-radius: 0 !important;
		}

		&:first-child {
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;

			[dir='rtl'] & {
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
			}
		}

		&:last-child {
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
		}
	}

	+ .ee-btn {
		margin-left: var(--ee-margin-default);

		[dir='rtl'] & {
			margin-left: 0;
			margin-right: var(--ee-margin-default);
		}
	}
}
