.ee-btn-group {
	margin-right: var(--ee-margin-default);

	.ee-btn.ee-btn {
		margin: 0;

		&--no-border-radius {
			border-radius: 0;
		}

		&--first {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&--last {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}
