/**
* Event Espresso admin menu styles
*/

/* CONSTANTS */
:root {

    --ee-font-color-hue: 207;
    --ee-font-color-sat: 5;
    --ee-font-color-lit: 30;
    --ee-font-color-alpha: 1;

    --ee-color-white: hsl(207, 0%, 100%);
    --ee-color-almost-white: hsl(207, 0%, 95%);
    --ee-color-off-white: hsl(207, 0%, 90%);
    --ee-status-color-pink: hsl(340, 100%, 85%);
    --ee-status-color-red: hsl(340, 60%, 55%);
    --ee-status-color-orange: hsl(18, 70%, 50%);
    --ee-status-color-gold: hsl(39, 98%, 50%);
    --ee-status-color-yellow: hsl(50, 95%, 45%);
    --ee-status-color-yellow-desat: hsl(50, 95%, 45%);
    --ee-status-color-dark-green: hsl(90, 100%, 15%);
    --ee-status-color-green: hsl(140, 70%, 35%);
    --ee-status-color-green-high-contrast: hsl(140, 90%, 25%);
    --ee-status-color-blue-green: hsl(172, 95%, 25%);
    --ee-status-color-blue: hsl(203, 50%, 50%);
    --ee-status-color-light-blue: hsl(203, 90%, 70%);
    --ee-status-color-pale-blue: hsl(203, 50%, 95%);
    --ee-status-color-violet: hsl(239, 35%, 60%);
    --ee-status-color-purple: hsl(279, 35%, 50%);
    --ee-status-color-pale-grey: hsl(219, 2%, 75%);
    --ee-status-color-light-grey: hsl(219, 2%, 55%);
    --ee-status-color-grey: hsl(225, 2%, 37.5%);
    --ee-status-color-dark-grey: hsl(225, 2%, 25%);
    --ee-status-color-charcoal: hsl(225, 0%, 15%);



    --ee-font-color: hsla(
        var(--ee-font-color-hue),
        calc(var(--ee-font-color-sat) * 1%),
        calc(var(--ee-font-color-lit) * 1%),
        var(--ee-font-color-alpha)
    );
    --ee-font-color-light: hsla(
        var(--ee-font-color-hue),
        calc(var(--ee-font-color-sat) * 1%),
        calc((var(--ee-font-color-lit) + 15) * 1%),
        var(--ee-font-color-alpha)
    );
    --ee-font-color-dark: hsla(
        var(--ee-font-color-hue),
        calc(var(--ee-font-color-sat) * 1%),
        calc((var(--ee-font-color-lit) - 15) * 1%),
        var(--ee-font-color-alpha)
    );

    /* PRIMARY BUTTON COLORS */
    --ee-btn-primary-hue: 207;
    --ee-btn-primary-sat: 65;
    --ee-btn-primary-lit: 45;
    --ee-btn-primary-alpha: 1;

    --ee-btn-primary: hsla(
        var(--ee-btn-primary-hue),
        calc(var(--ee-btn-primary-sat) * 1%),
        calc(var(--ee-btn-primary-lit) * 1%),
        var(--ee-btn-primary-alpha)
    );
    --ee-btn-primary-low-constrast: hsla(
        var(--ee-btn-primary-hue),
        calc((var(--ee-btn-primary-sat) + 5) * 1%),
        calc((var(--ee-btn-primary-lit) + 10) * 1%),
        var(--ee-btn-primary-alpha)
    );
    --ee-btn-primary-high-constrast: hsla(
        var(--ee-btn-primary-hue),
        calc((var(--ee-btn-primary-sat) + 15) * 1%),
        calc((var(--ee-btn-primary-lit) - 10) * 1%),
        var(--ee-btn-primary-alpha)
    );
    --ee-btn-primary-disabled: hsla(
        var(--ee-btn-primary-hue),
        calc((var(--ee-btn-primary-sat) - 30) * 1%),
        calc((var(--ee-btn-primary-lit) + 15) * 1%),
        var(--ee-btn-primary-alpha)
    );
    --ee-btn-primary-hover: var(--ee-btn-primary-low-constrast);
    --ee-btn-primary-focus: var(--ee-btn-primary-high-constrast);


    /* PRIMARY ALT  */

    --ee-btn-primary-alt-hue: 140;
    --ee-btn-primary-alt-sat: 70;
    --ee-btn-primary-alt-lit: 35;
    --ee-btn-primary-alt-alpha: 1;

    --ee-btn-primary-alt: hsla(
        var(--ee-btn-primary-alt-hue),
        calc(var(--ee-btn-primary-alt-sat) * 1%),
        calc(var(--ee-btn-primary-alt-lit) * 1%),
        var(--ee-btn-primary-alt-alpha)
    );
    --ee-btn-primary-alt-low-constrast: hsla(
        var(--ee-btn-primary-alt-hue),
        calc((var(--ee-btn-primary-alt-sat) + 5) * 1%),
        calc((var(--ee-btn-primary-alt-lit) + 2.5) * 1%),
        var(--ee-btn-primary-alt-alpha)
    );
    --ee-btn-primary-alt-high-constrast: hsla(
        var(--ee-btn-primary-alt-hue),
        calc((var(--ee-btn-primary-alt-sat) + 20) * 1%),
        calc((var(--ee-btn-primary-alt-lit) - 10) * 1%),
        var(--ee-btn-primary-alt-alpha)
    );
    --ee-btn-primary-alt-hover: var(--ee-btn-primary-alt-low-constrast);
    --ee-btn-primary-alt-focus: var(--ee-btn-primary-alt-high-constrast);

    /* SECONDARY BUTTON COLORS */
    --ee-btn-secondary-hue: 203;
    --ee-btn-secondary-sat: 2;
    --ee-btn-secondary-lit: 90;
    --ee-btn-secondary-alpha: 1;

    --ee-btn-secondary: hsla(
        var(--ee-btn-secondary-hue),
        calc(var(--ee-btn-secondary-sat) * 1%),
        calc(var(--ee-btn-secondary-lit) * 1%),
        var(--ee-btn-secondary-alpha)
    );
    --ee-btn-secondary-hover: hsla(
        var(--ee-btn-secondary-hue),
        calc(var(--ee-btn-secondary-sat) * 1%),
        calc((var(--ee-btn-secondary-lit) - 20) * 1%),
        var(--ee-btn-secondary-alpha)
    );
    --ee-btn-secondary-focus: hsla(
        var(--ee-btn-secondary-hue),
        calc(var(--ee-btn-secondary-sat) * 1%),
        calc((var(--ee-btn-secondary-lit) - 40) * 1%),
        var(--ee-btn-secondary-alpha)
    );

	/* CAUTION */

    --ee-btn-caution-hue: 340;
    --ee-btn-caution-sat: 55;
    --ee-btn-caution-lit: 50;
    --ee-btn-caution-alpha: 1;

    --ee-btn-caution: hsla(
        var(--ee-btn-caution-hue),
        calc(var(--ee-btn-caution-sat) * 1%),
        calc(var(--ee-btn-caution-lit) * 1%),
        var(--ee-btn-caution-alpha)
    );
    --ee-btn-caution-hover: hsla(
        var(--ee-btn-caution-hue),
        calc((var(--ee-btn-caution-sat) + 45) * 1%),
        calc((var(--ee-btn-caution-lit) + 7.5) * 1%),
        var(--ee-btn-caution-alpha)
    );
    --ee-btn-caution-focus: hsla(
        var(--ee-btn-caution-hue),
        calc(var(--ee-btn-caution-sat) * 1%),
        calc((var(--ee-btn-caution-lit) - 10) * 1%),
        var(--ee-btn-caution-alpha)
    );


    --ee-box-shadow: 0 2px 3px -2px hsla(0, 0%, 0%, .5);
    --ee-box-shadow-big: 0 3px 6px hsla(0, 0%, 0%, .5);
    --ee-button-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.35), 1px 1px 2px hsla(0, 0%, 0%, 0.1), -1px -1px 1px hsla(0, 0%, 100%, 0.75);
    --ee-button-box-shadow-alt: 0 0 2px hsla(0, 0%, 0%, 0.35), -1px -1px 2px hsla(0, 0%, 100%, 0.75);


    --ee-border-color: hsla(var(--ee-btn-secondary-hue), 2%, 70%, 1);
    --ee-border-color-table-row: hsla(var(--ee-btn-secondary-hue), 0%, 90%, 1);
    --ee-table-row-stripe-bg: hsl(207, 0%, 97.5%);

    --ee-admin-sidebar-width: 100%;

    --ee-attention-bg-color: hsl(51, 68%, 76%);
    --ee-attention-color: hsla(46, 24%, 9%, .85);

    --ee-help-attention: hsl(203,50%, 70%);
    --ee-help-attention-hover: hsl(203, 70%, 50%);

    --ee-button-height: 2.625rem;
    --ee-button-height-three-quarter: calc(var(--ee-button-height) * .75);
    --ee-button-height-half: calc(var(--ee-button-height) / 2);
    --ee-button-height-third: calc(var(--ee-button-height) / 3);
    --ee-button-height-forth: calc(var(--ee-button-height) / 4);
    --ee-button-height-sixth: calc(var(--ee-button-height) / 6);
    --ee-button-height-shim: calc(var(--ee-button-height) / 12);


    --ee-checkbox-height: 1.5rem;

}

@media screen and (min-width: 960px) {
    :root {
        --ee-admin-sidebar-width: 320px;
    }
}

@media screen and (min-width: 1920px) {
    :root {
        --ee-admin-sidebar-width: 480px;
    }
}

.ee_menu_group {
	display: block;
	background-color: var(--ee-status-color-light-grey);
	margin: -2px -5px 0px -12px;
	padding: 2px 0 3px 10px;
	font-size:.95em;
	font-weight: bold;
	letter-spacing: 1px;
	color: #333;
	cursor: default;
}
.version-3-8.admin-color-fresh .ee_menu_group {
	padding-left: 8px;
	margin: 3px -12px -3px -12px;
	border-left: 3px solid var(--ee-status-color-blue);
	background-color: var(--ee-status-color-charcoal);
	color: var(--ee-color-white);
	font-weight: normal;
}
.version-3-8.admin-color-blue .ee_menu_group {
	padding-left: 8px;
	margin: 3px -12px -3px -12px;
	border-left: 3px solid var(--ee-status-color-light-blue);
	background-color: var(--ee-status-color-blue);
	color: var(--ee-color-white);
	font-weight: normal;
}
.version-3-8.admin-color-light .ee_menu_group {
	padding-left: 8px;
	margin: 3px -12px -3px -12px;
	border-left: 3px solid var(--ee-status-color-orange);
	background-color: var(--ee-status-color-light-grey);
	color: var(--ee-status-color-orange);
	font-weight: normal;
}
.version-3-8.admin-color-midnight .ee_menu_group {
	padding-left: 8px;
	margin: 3px -12px -3px -12px;
	background-color: var(--ee-status-color-charcoal);
	border-left: 3px solid var(--ee-status-color-orange);
	color: var(--ee-color-white);
	font-weight: normal;
}

div.TB-ee-frame a {
	border-bottom: none;
	padding: 0;
	margin: 0;
}

.display-ee-error-trace-lnk {
	cursor: pointer;
}
.smaller-text {
	font-size: .8em;
	line-height: 1em;
    letter-spacing: 0.75px;
}
.small-text {
	font-size: .85em;
	line-height: 1.2em;
}
.big-text {
	font-size: 1.2em;
	line-height: 1.6em;
}
.bigger-text {
	font-size: 1.5em;
	line-height: 2em;
}

/**** ee about page *****/
.ee-badge {
	background-size: 200px 60px;
	background-color: var(--ee-status-color-charcoal);
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	margin: 5px 0 0;
	height: 160px;
	display: inline-block;
	width: 125px;
	color: #FFF;
	text-rendering: optimizeLegibility;
}

.ee-badge .ee-icon-ee-cup-thick:before {
	font-size: 80px;
	margin-left: 20px;
}

.about-wrap .ee-badge {
	position: absolute;
	top: 0;
	right: 0;
}
@media only screen and (max-width: 500px) {
	.about-wrap .ee-badge {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 1.5em;
	}
}

/**** ee decaf reviews *****/
.review-user-nicename {
    float: right;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width : 1260px) {
	.col-3 {
	    clear: left;
	}
}

/**** ee decaf vs regular *****/
.featured-section.features .row {
    display: inline-block;
    width: 97%;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .06);
}

.featured-section.features .row .dashicons-yes {
    color:  var(--ee-status-color-dark-green);
}

.featured-section.features .row .dashicons-no-alt {
    color:  var(--ee-status-color-red);
}

.featured-section.features .row > div {
    display: inline-block;
    float: left;
    width: 15%;
    text-align: center;
}

.featured-section.features .row > .feature {
    width: 70%;
    text-align: left;
}

.featured-section .decaf-regular-table {
    border-spacing: 0;
    width: 100%;
    margin-top:40px;
}

.featured-section .decaf-regular-table th {
    padding-bottom: 20px;
}

.featured-section .decaf-regular-table td {
    border-top: 1px solid var(--ee-status-color-light-grey);
    padding: 20px 0px 25px 10px;
}

.featured-section .decaf-regular-table h3 {
    margin: 0;
}

.featured-section .decaf-regular-table td p {
    margin: 0;
}

.featured-section .decaf-regular-table .decaf-feature,
.featured-section .decaf-regular-table .regular-feature{
    text-align: center;
    width: 15%;
}

.featured-section .decaf-regular-table .dashicons-yes {
    color: var(--ee-status-color-dark-green);
    font-size: 1.4em;
}

.featured-section .decaf-regular-table .dashicons-no-alt {
    color: var(--ee-status-color-red);
    font-size: 1.4em;
}

.featured-section .decaf-regular-table .dashicons-before:before,
.featured-section .decaf-regular-table .dashicons-before:before {
    font-size: 35px;
    height: 35px;
    width: 35px;
}

.featured-section .button-hero .dashicons{
    font-size: 1rem;
    vertical-align:middle;
}

.featured-section .ti-about-page-text-center {
    text-align: center;
}

.decaf-regular-table .text-right {
    text-align: right;
}

/******************* DASHICONS ****************** */

@font-face {
	font-family: "ee-dashicons";
	src:url("../../templates/global_assets/fonts/ee-dashicons.eot");
	src:url("../../templates/global_assets/fonts/ee-dashicons.eot?#iefix") format("embedded-opentype"),
		url("../../templates/global_assets/fonts/ee-dashicons.ttf") format("truetype"),
		url("../../templates/global_assets/fonts/ee-dashicons.woff") format("woff"),
		url("../../templates/global_assets/fonts/ee-dashicons.svg#ee-dashicons") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* .dashicons, */
.ee-dashicons,
.ee-icon:before,
#wpadminbar .ee-icon:before,
#toplevel_page_espresso_events div.wp-menu-image:before,
#toplevel_page_espresso_maintenance_settings div.wp-menu-image:before {
	position: relative;
	top: -2px;
	font-size: inherit;
	height: auto;
	margin-right: .5em;
	vertical-align: middle;
	width: auto;
}

.ee-icon:before,
.ee-dashicons,
#wpadminbar .ee-icon:before,
#toplevel_page_espresso_events div.wp-menu-image:before,
#toplevel_page_espresso_maintenance_settings div.wp-menu-image:before {
    display: inline-block;
    font-family: "ee-dashicons" !important; /** using important b/c wp has dashicons setup with important for wp-menu-image and I had to override **/
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 782px) {
    #wpadminbar li#wp-admin-bar-espresso-toolbar {
		display: block;
		position: static;
    }

    #wpadminbar li#wp-admin-bar-espresso-toolbar .ee-icon-ee-cup-thick:before {
        font-size: 40px !important;
        color: var(--ee-status-color-grey);
        color: rgba(155, 155, 155, .6);
    }
    #wpadminbar li#wp-admin-bar-espresso-toolbar:hover .ee-icon-ee-cup-thick:before {
        color: var(--ee-status-color-blue);
    }
}

/**
 * used for those times when want to use the default dashicons font but not inherit any styles that may be assigned in in a particular location
 */
.ee-dashicons {
	font-family: "dashicons" !important;
}

#toplevel_page_espresso_events div.wp-menu-image:before,
#toplevel_page_espresso_maintenance_settings div.wp-menu-image:before {
	font-size: 28px;
    top: -5px;
    left: 4px;
}

#wp-admin-bar-espresso-toolbar .ee-icon-ee-cup-thick:before {
    content: "\e60e";
    font-size: 24px !important;
    left: 8px;
    top: -2px;
}

#toplevel_page_espresso_events div.wp-menu-image:before,
#toplevel_page_espresso_maintenance_settings div.wp-menu-image:before {
    /*content: "\e60f";*/
    content: "\e60e";
}

.ee-icon-venue:before {
	/*content: "\e600";*/
	content: "\79";
}
.ee-icon-user-edit:before {
	/*content: "\e601";*/
	content: "\62";
}
.ee-icon-user-delete:before {
	/*content: "\e602";*/
	content: "\64";
}
.ee-icon-user-add-new:before {
	/*content: "\e603";*/
	content: "\65";
}
.ee-icon-tickets:before {
	/*content: "\e604";*/
	content: "\66";
}
.ee-icon-tickets-download:before {
	/*content: "\e605";*/
	content: "\67";
}
.ee-icon-pdf-file-type:before,
.ee-icon-PDF-file-type:before {
	/*content: "\e606";*/
	content: "\68";
}
.ee-icon-payment-reminder:before {
	/*content: "\e607";*/
	content: "\69";
}
.ee-icon-external-link:before {
	/*content: "\e608";*/
	content: "\6a";
}
.ee-icon-event:before {
	/*content: "\e609";*/
	content: "\6b";
}
.ee-icon-event-list-grid:before {
	/*content: "\e60a";*/
	content: "\6c";
}
.ee-icon-event-list-dates:before {
	/*content: "\e60b";*/
	content: "\6d";
}
.ee-icon-email:before {
	/*content: "\e60c";*/
	content: "\6e";
}
.ee-icon-email-send:before {
	/*content: "\e60d";*/
	content: "\63";
}

.ee-icon-ee-cup:before {
    content: "\e60e";
    /*content: "\61";*/
}
.ee-icon-clone:before {
	/*content: "\e610";*/
	content: "\77";
}
.ee-icon-clock:before {
	/*content: "\e611";*/
	content: "\78";
}
.ee-icon-arrow-move:before {
	/*content: "\e612";*/
	content: "\76";
}
.ee-icon-check-out:before {
	/*content: "\e613";*/
	content: "\75";
}
.ee-icon-check-in:before {
	/*content: "\e614";*/
	content: "\74";
}
.checkedin-status-2:before {
	font-family: "dashicons" !important;
	/* ! **using important b / c wp has dashicons setup with important and I had to override **!*/
	content: "\f158";
}
.ee-icon-cash:before {
	/*content: "\e615";*/
	content: "\73";
}
.ee-icon-cash-remove:before {
	/*content: "\e616";*/
	content: "\72";
}
.ee-icon-cash-edit:before {
	/*content: "\e617";*/
	content: "\71";
}
.ee-icon-cash-add:before {
	/*content: "\e618";*/
	content: "\70";
}
.ee-icon-calendar-edit:before {
	/*content: "\e619";*/
    content: "\6f";
}


.pink-icon:before, .pink, .pink a { color: var(--ee-status-color-pink); }
.green-icon:before, .green, .green a { color: var(--ee-status-color-green); }
.drk-green-icon:before, .drk-green, .drk-green a { color: var(--ee-status-color-dark-green); }
.red-icon:before, .red, .red a { color: var(--ee-status-color-red); }
.orange-icon:before, .orange, .orange a { color: var(--ee-status-color-orange); }
.lt-blue-icon:before, .lt-blue, .lt-blue a { color: var(--ee-status-color-light-blue); }
.blue-icon:before, .blue, .blue a { color: var(--ee-status-color-blue); }
.yellow-icon:before, .yellow, .yellow a { color: var(--ee-status-color-yellow); }
.lt-grey-icon:before, .lt-grey, .lt-grey a { color: var(--ee-status-color-light-grey); }
.grey-icon:before, .grey, .grey a { color: var(--ee-status-color-grey); }
.drk-grey-icon:before, .drk-grey, .drk-grey a { color: var(--ee-status-color-dark-grey); }
.black-icon:before, .black, .black a { color: var(--ee-status-color-charcoal); }
.white-icon:before, .white, .white a { color: var(--ee-color-white); }

/** corresponding background colors **/
.pink-bg, .reg-status-bg-RDC, .txn-status-bg-TFL, .pymt-status-bg-PDC { background-color: var(--ee-status-color-pink); }
.green-bg, .reg-status-bg-RAP, .txn-status-bg-TCM, .pymt-status-bg-PAP { background-color: var(--ee-status-color-green); }
.drk-green-bg { background-color: var(--ee-status-color-dark-green); }
.red-bg { background-color: var(--ee-status-color-red); }
.orange-bg, .reg-status-bg-RNA, .txn-status-bg-TOP, .pymt-status-bg-PFL { background-color: var(--ee-status-color-orange); }
.lt-blue-bg, .reg-status-bg-RPP, .txn-status-bg-TIN, .pymt-status-bg-PPN { background-color: var(--ee-status-color-light-blue); }
.blue-bg { background-color: var(--ee-status-color-blue); }
.yellow-bg { background-color: var(--ee-status-color-yellow); }
.lt-grey-bg, .reg-status-bg-RCN, .pymt-status-bg-PCN { background-color: var(--ee-status-color-light-grey); }
.grey-bg { background-color: var(--ee-status-color-grey); }
.drk-grey-bg { background-color: var(--ee-status-color-dark-grey); }
.black-bg { background-color: var(--ee-status-color-charcoal); }



.tags-links a {
	white-space: nowrap;
}
.tags-links a:before {
	content: "\f323";
	display: inline-block;
	font-family: dashicons;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	margin-right: .25em;
}


/** icon adjustments **/
.ee-icon-color-grey:before {
	color: var(--ee-status-color-grey);
}

.ee-icon-color-ee-grey:before {
	color: var(--ee-status-color-grey);
}

.ee-icon-color-ee-orange:before {
	color: var(--ee-status-color-orange);
}

.ee-icon-color-ee-blue:before {
	color: var(--ee-status-color-blue);
}

.ee-icon-color-ee-green:before {
	color: var(--ee-status-color-green);
}

.ee-icon-color-ee-red:before {
	color: var(--ee-status-color-red);
}

.ee-icon-color-ee-purple:before {
    color: var(--ee-status-color-purple);
}

.ee-icon-size-8:before { font-size: 8px !important; }

.ee-icon-size-12:before { font-size: 12px !important; }

.ee-icon-size-14:before { font-size: 14px !important; }

.ee-icon-size-16:before {
	font-size: 16px !important;
	margin-right: -.002em;
}

.ee-icon-size-18:before {
	font-size: 18px !important;
	margin-right:-0.05em;
}

.ee-icon-size-20:before {
        font-size: 20px !important;
	margin-right: -0.1em;
}

.ee-icon-size-22:before {
	font-size: 22px !important;
	margin-right: -0.15em;
}

.ee-icon-size-24:before {
	font-size: 24px !important;
	margin-right: -0.2em;
}

.espresso-help-tab-lnk {
	cursor: pointer;
}

.ee-lock-icon:before, .ee-collapsible:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 "dashicons";
	vertical-align: top;
	margin-top: 3px;
}

.ee-lock-icon:before {
	content: "\f160";
}


.espresso-admin .wp-list-table .ee-lock-icon:before {
	margin-left: 8px;
}


/**
 * Fixes for some weird WP styling issues encountered on ee menu items
 */
#toplevel_page_espresso_events .wp-submenu li.toplevel_page_espresso_events {
	min-height: inherit;
}

#toplevel_page_espresso_events .wp-submenu li.current a.toplevel_page_espresso_events {
	background-color: transparent;
	font-size: 13px;

}


/**
 * fancy toggles
 */
.ee-on-off-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.ee-on-off-toggle+ label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.ee-toggle-round-flat + label {
  width: 3.6rem;
  height: 1.8rem;
  background-color: var(--ee-status-color-light-grey);
  border-radius: 1.9rem;
  transition: background 0.4s;
}
input.ee-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.ee-toggle-round-flat + label:after {
  top: .3rem;
  left: .3rem;
  bottom: .3rem;
  height: 1.2rem;
  width: 1.2rem;
  background-color: #FFF;
  border-radius: .6rem;
  transition: margin 0.4s, background 0.4s;
}
input.ee-toggle-round-flat:checked + label {
  background-color: var(--ee-status-color-blue);
}
input.ee-toggle-round-flat:checked + label:after {
  margin-left: 1.8rem;
}


/** dashboard at a glance icons **/
#dashboard_right_now li a.ee-dashboard-link-events:before {
	content: "\f508"
}

#dashboard_right_now li a.ee-dashboard-link-registrations:before {
	content: "\f307"
}

/** persistent admin (nag) notices **/
.espresso-notices.ee-nag-notice {
    border-left: 4px solid var(--ee-status-color-gold);
}

.dismiss-ee-nag-notice-btn {
    cursor: pointer;
    float: right;
    margin: .25em 0 !important;
}

.dismiss-ee-nag-notice-btn a {
    color: var(--ee-status-color-grey);
    text-decoration: none;
}

.dismiss-ee-nag-notice-btn a .dashicons {
    position: relative;
    top: -1px;
    margin-right: .25em;
}
