#icon-options-event, #icon-espresso_events { background: url("../../../templates/global_assets/images/events_icon_32.png") no-repeat scroll 0 0 transparent; }
.add-new-h2 { margin-left: 15px; }

.tablenav div { margin-right:15px; }
.tablenav select { margin:0 1em 0 0 !important; }


/*** Save buttons ***/
#espresso_major_buttons_wrapper{
    border-top: medium none;
    clear: both;
    padding: 0 0 8px;	
}
#save-event-floating-btns-spacer {
	height:45px;
}
#event-editor-floating-save-btns {
	position:fixed; top:-3px; right:22px;
	padding: 35px 11px 10px 11px;
	background:rgba(255,230,0,.2);
	z-index: 1000;
}

#espresso_major_buttons_wrapper #delete-action { float:none; margin:0 0 1em; }
#espresso_major_buttons_wrapper .button-primary, #event-editor-floating-save-btns .button-primary {
	margin-right: 5px;
	float: right;
}

#poststuff .ee-nav-tabs .nav-tab-wrapper, .ee-nav-tabs .nav-tab-wrapper {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#poststuff .ee-nav-tabs .nav-tab-content, .ee-nav-tabs .nav-tab-content {
	margin: 5px;
	margin-bottom: 15px;
}

#poststuff .ee-nav-tabs-small .nav-tab, .ee-nav-tabs .nav-tab-content {
	font-size: 12px;
	height: 18px;
	line-height: 18px;
}

#poststuff .nav-tab-content {
	height: 100%;
}

#post-body-content li.current a {
	color: black;
	font-weight: 800;
}

.metabox-holder .ee-admin-settings-hdr { margin:4em 0 1em; color: #444; }
.metabox-holder .ee-admin-settings-hdr:first-child { margin:1em 0; }
.metabox-holder .ee-admin-settings-hdr-lnk { font-weight: normal; margin:0 0 0 1em; }

.metabox-holder .ee-admin-settings-hdr + .ee-attention {
	margin-top: 0;
}

.ee-attention {
    padding: 2em 1.5em; margin: 2em 0 1em;
	background-color: #FFFFE0; border: 1px solid #E6DB55; border-radius: 3px;
	text-shadow: 0px 1px #fff;
}

.ee-attention h6 {
	margin: 0 0 1em;
}

.ee-info-box {
	padding: 2em 1.5em; margin: 2em 0 1em;
	background:#F0F8FB; border: 1px solid lightblue; border-radius:3px;
}


table .ee-admin-radio-lbl input,
.inside table .ee-admin-radio-lbl input,
table .ee-admin-radio-long-lbl input,
.inside table .ee-admin-radio-long-lbl input { position: relative; top:-2.5px; width: auto; margin:3px 0.5em 0 0; vertical-align: middle; }

.espresso-radio-btn-options-ul { margin: 0; }
.espresso-radio-btn-options-ul input,
.espresso-form-input-lbl input,
.ee-admin-radio-lbl:hover { cursor: pointer; }

.espresso-radio-btn-options-ul .nano-lbl,
table .espresso-radio-btn-options-ul .nano-lbl,
.inside table .espresso-radio-btn-options-ul .nano-lbl {
    display: inline-block; width: 5.8%; min-width:50px;  max-width:60px;
}

.espresso-radio-btn-options-ul .micro-lbl,
table .espresso-radio-btn-options-ul .micro-lbl,
.inside table .espresso-radio-btn-options-ul .micro-lbl {
    display: inline-block; width: 5.8%; min-width:66px;  max-width:80px;
}

.espresso-radio-btn-options-ul .tiny-lbl,
table .espresso-radio-btn-options-ul .tiny-lbl,
.inside table .espresso-radio-btn-options-ul .tiny-lbl {
    display: inline-block; width: 12%; min-width:100px;  max-width:120px;
}

.espresso-radio-btn-options-ul .small-lbl,
table .espresso-radio-btn-options-ul .small-lbl,
.inside table .espresso-radio-btn-options-ul .small-lbl {
    display: inline-block; width: 24.4%; min-width:200px;  max-width:243px;
}

.espresso-radio-btn-options-ul .medium-lbl,
table .espresso-radio-btn-options-ul .medium-lbl,
.inside table .espresso-radio-btn-options-ul .medium-lbl {
    display: inline-block; width: 49%; min-width:400px;  max-width:486px;
}

.espresso-radio-btn-options-ul .big-lbl,
table .espresso-radio-btn-options-ul .big-lbl,
.inside table .espresso-radio-btn-options-ul .big-lbl {
    display: inline-block; width:99%; min-width:486px;
}


#admin-page-header { clear: both; padding:.25em 0 0; }
.admin-page-header-edit-lnk  { margin:0 0 0 1em; font-size:10px; }
.admin-page-header-go-back-lnk  { margin:0 0 0 1em; font-size:12px; }

#espresso-admin-page-ajax-loading { display:none; position:absolute; top:18px; left:50%; margin-left:-15px; padding:0; z-index:99999; }
#espresso-admin-page-ajax-loading span { display:none; }

#espresso-admin-page-overlay-dv {
	position:absolute; top:0; left:0;
	background: rgba(0, 0, 0, 0.6) !important; z-index:999;
}

.primary-attendee-star-img {
	margin: 0 0 4px .5em;
}

.ee-width-100 { width: 100%; }
.ee-width-75 { width: 75%; }
.ee-width-50 { width: 50%; }
.ee-width-33 { width: 33%; }
.ee-width-25 { width: 25%; }
.ee-width-20 { width: 20%; }

.jst-left { text-align:left; }
.jst-cntr { text-align:center; }
.jst-rght { text-align:right; }

.tiny-text { font-size:.5em; line-height:.8em; letter-spacing:1px; }
.smaller-text { font-size:.7em; line-height:1em; letter-spacing:.75px; }
.small-text { font-size:.85em; line-height:1.2em; letter-spacing:.5px; }
.big-text { font-size:1.2em; line-height:1.6em; letter-spacing:-.5px; }
.bigger-text { font-size:1.5em; line-height:2em; letter-spacing:-.75px; }
.huge-text { font-size:2em; line-height:2.4em; letter-spacing:-1px; }

.float-right { float:right; }
.left { float:left; }
.clear, .clear-float { clear:both; }
.hidden { display:none; }
.cntr { text-align: center; }

.lt-grey-text { color:#a8a8a8; }
.grey-text { color:#888; }
.drk-grey-text { color:#666; }
.important-notice { font-weight:bold; color:#f59200; }
.tiny-link { display:block; text-align:right; font-size:.6em; cursor:pointer; }
.underline-hdr { padding:0 0 .05em; margin:2em 0 1em; border-bottom: 2px solid #eee; }
.overline-hdr { padding:.5em 0 0; margin:2em 0 1em; border-top: 2px solid #eee; }
.no-bold { font-weight: normal; }
.currency-code { font-size:.7em; color:#a8a8a8; vertical-align: text-top; }

/**
 * common icons
 */
.ticket-icon, .trash-icon, .clone-icon, .lock-icon {
    display: inline-block;
    height: 16px;
    padding: 0;
    vertical-align: middle;
    width: 16px;
}

.trash-icon {
    background: transparent url(../../../templates/global_assets/images/trash-small-16x16.png) 0 0 no-repeat;
}

.lock-icon {
    background: transparent url(../../../templates/global_assets/images/lock.png) 0 0 no-repeat;
}

.check-column .lock-icon {
	margin-left: 6px;
}

/** end common icons **/


.espresso-help-tab-lnk.help_img {
	display: inline-block; position: relative; top:3px; width: 16px; height: 16px; margin: 0 0 0 .25em;
	background: transparent url(../../../templates/global_assets/images/help.png) bottom left no-repeat; text-indent:-999em; overflow: hidden;
    padding: 0px;
}
.espresso-help-tab-lnk.help_img:hover { background-position: top left; }
.espresso-help-tab-lnk.help_img.help2 { background-image: url(../../../templates/global_assets/images/help2.png); }
.espresso-help-tab-lnk.help_img.help2 { background-image: url(../../../templates/global_assets/images/help2.png); }



/*.medium-text  { width: 50%; }*/

.display-the-hidden { /*float:right;*/ cursor:pointer; }
.hide-the-displayed { /*float:right;*/ cursor:pointer; }
.display-the-hidden img, .hide-the-displayed img { position:relative; top:1px; left:-4px; }
.display-the-hidden.no-icon, .hide-the-displayed.no-icon { background-image:none; }
.display-the-hidden.hidden { display:none !important; }

.disabled-input input,
.disabled-input label { color:#777 !important;  text-shadow:none; }

.editable-input { border : 1px solid lightblue !important; }
.edited-input { border : 1px solid #d54e21 !important; }
.reminder-spn  { display: inline-block; color : #d54e21; line-height:1em; }

.not-bold { font-weight:normal !important; }
.lt-grey-txt { color:#999 !important;  text-shadow:none; }
.float-left { float:left; }

/* Nicolas Gallagher's micro clearfix */
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } 

#adminmenuwrap { z-index:100; }

/*.ee-pop-help {
	position:absolute; top:50px; left:25%; width:75%; height:auto; padding:3em 4em 2em; z-index:9999;
	background:#fff; border:1px solid #ddd; border-radius:5px;
}

.ee-help-popup-question {
	background: transparent url(../../../templates/global_assets/images/subtle_help.png) top left no-repeat;
	display: inline-block;
	margin-left: 3px;
	width: 26px;
	height: 26px;
}*/

.validate-error,
input.validate-error {
	border-color: red;
}
.validation-notice-dv { display:none; padding:0; margin:0; color:#FE2A00; }

label em, span.required { font-weight: bold; font-size:1.2em; color:#FE2A00; margin-left:.25em; }

input.error,
.requires-value { border:1px solid #FE2A00 !important; }

label.error  { display: block; color: #FE2A00 !important; }



.espresso-button-green {
    background-color: #2f7f0f !important;
    background-image: linear-gradient(to bottom, #3AA012, #2F7F0F) !important;
    border-color: #2F7F0F #2F7F0F #286A0C !important;
	box-shadow: 0 1px 0 rgba(110, 193, 75, 0.5) inset !important;
} 
.espresso-button-green:hover {
    background-color: #399811 !important;
    background-image: linear-gradient(to bottom, #42AF14, #2f7f0f) !important;
    border-color: #225A0A !important;
	box-shadow: 0 1px 0 rgba(110, 193, 75, 0.6) inset !important;
}


.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


.ee-upload-form-dv {
	margin: 2em 0;
}


.button-primary + .button-primary,
.button-primary + .button-secondary,
.button-secondary + .button-primary,
.button-secondary + .button-secondary  {
	margin-left: 2em; margin-right: 2em;
}

.view_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../../../templates/global_assets/images/magnifier.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
.view_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.edit_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../../../templates/global_assets/images/calendar_edit.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
/*.edit_btn:hover { background-position: -72px -18px; }*/
.edit_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.complete_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../../../templates/global_assets/images/group.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
/*.complete_btn:hover { background-position: -36px -18px; }*/
.complete_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.options_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../../../templates/global_assets/images/cog.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
.options_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.excel_exp_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../../../templates/global_assets/images/excel_icon.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
.excel_exp_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.csv_exp_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../../../templates/global_assets/images/csv_icon_sm.gif) no-repeat;
	text-indent: -9000px;
	outline: none;
}
.csv_exp_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.newsletter_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../../../templates/global_assets/images/email_go.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}
.newsletter_btn:hover {
	margin: 4px 3px 0 0;
	height: 20px;
}
.reports_btn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 2px 3px 0 0;
	background: url(../../../templates/global_assets/images/chart_bar.png) no-repeat;
	text-indent: -9000px;
	outline: none;
}

/*fixing this -  what does this mean?*/
.view_btn:hover, .edit_btn:hover, .complete_btn:hover, .excel_exp_btn:hover, .csv_exp_btn:hover, .newsletter_btn:hover {
	height: 18px;
	margin: 2px 3px 0 0;
}

.help-tab-content img {
	border: 2px solid #e7e7e7;
}

.help-tab-content .left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.help-tab-content .right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.help-tab-content .inline-text {
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}

/** LIST-TABLE-LEGEND **/
.ee-list-table-legend {
    margin-top: 0;
    padding: 5px;   
    margin-right: 20px;
}

.ee-list-table-legend dt {
    line-height: 25px;
}

.ee-list-table-legend-container h4 {
    margin-bottom: 5px;
}

.ee-legend-img-container {
   width: 13px;
   height: 13px;
   float: left;
}

.ee-legend-description {
    margin-left: 10px;
}


/** CAFFEINATED PREVIEW CSS **/
.ee-admin-caf-preview-contents {
    padding: 10px;
    background: #e6e6e6;
}

.ee-caf-preview-text {
   float: left;
   width: 90%;
}

.ee-caf-preview-action-box {
    float: left;
    /*border: 2px solid #b2b2b2;*/
    padding: 10px;
    /*background-color: #f8f8f8;*/
}

#ee-admin-caf-preview-container .button-large {
    height: 50px;
    width: 100px;
    font-size: 1.5em;
    padding-top: 10px;
    padding-left: 15px;
}

.ee_dtt_timezone_string {
	font-size: .8em;
	display: block;
}


/**
 * sortable table rows class
 */
.rowsortable {
	cursor: move;
}


.clickable {
	cursor: pointer;
}


/**
 * ee-dialog helper css
 */
.ee-admin-dialog-container {
	position:absolute; top:50px; left:25%; width:75%; height:auto; padding:3em 4em 2em; z-index:9999;
	background:#fff; border:1px solid #ddd; border-radius:5px;
}

.ajax-loader-grey {
	background: transparent url(../../../templates/global_assets/images/ajax-loader-grey.gif) no-repeat top left;
	padding: 31px;
	display: none;
}



/**
 * ee-help-tour stuff
 **/
.ee-abs-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.ee-help-tour-restart-buttons {
	text-align: center;
}

.button-primary.trigger-ee-help-tour {
	margin: 5px;
	height: auto;
	white-space: normal;
}

/** NEW ICONS **/
.gear-icon:before, .ee-email-icon:before, .ee-view-icon:before, .ee-lock-icon:before, .ee-collapsible:before, .ee-capacity-icon:before, .ee-url-icon:before, .ee-phone-icon:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'dashicons';
	vertical-align: top;
	margin-top: 3px;
}

.ee-email-icon:before {
	content: "\f157";
}

.ee-view-icon:before {
	content: "\f177";
	margin-top: 6px;
	margin-right: 3px;
}

.ee-lock-icon:before {
	content: "\f160";
}

.gear-icon:before {
	margin-top: 1px;
	content: "\f111";
}

.ee-capacity-icon:before {
	content: "\f459";
}

.ee-url-icon:before {
	content: "\f103";
}

.ee-phone-icon:before {
	content: "\f336";
}



.espresso-admin .wp-list-table .ee-lock-icon:before {
	margin-left: 8px;
}


.ee-collapsible:before {
	font: normal 22px/1 'dashicons';
	vertical-align: top;
	margin-top: -3px;
}

.ee-collapsible-open:before {
    content: "\f140";
}

.ee-collapsible-closed:before {
	content: "\f139";
}


.ee-numeric {
	text-align: right;
}


/* Admin theme specific colors */
.ee-alternate-color {
	color: #e6e6e6;
}

.admin-color-fresh .ee-alternate-color {
	color: #2ea2cc;
}

.admin-color-light .ee-alternate-color {
	color: #04a4cc;
}

.admin-color-blue .ee-alternate-color {
	color: #74B6CE;
}

.admin-color-coffee .ee-alternate-color {
	color: #9ea476;
}

.admin-color-ectoplasm .ee-alternate-color {
	color: #d46f15;
}

.admin-color-midnight .ee-alternate-color {
	color: #e14d43;
}

.admin-color-ocean .ee-alternate-color {
	color: #aa9d88
}

.admin-color-sunrise .ee-alternate-color {
	color: #ccaf0b;
}

/* Admin Sidebar*/
.espresso-rss-display a.rsswidget {
	font-size: 13px;
	font-weight: normal;
}