
.ee-form-placeholder-div {
    border: 1px dashed var(--ee-color-grey-11);
    margin: var(--ee-margin-default) var(--ee-margin-tiny);
}

.ee-editor-div > .ee-form-placeholder-div {
    border-color: var(--ee-color-grey-11);
    margin: var(--ee-margin-default) 0;
}

.ee-form-placeholder-div::after {
    content: "";
    clear: both;
    display: table;
}

.ee-form-fade-out {
    height: 0;
    margin: 0 !important;
    opacity: 0;
    overflow: hidden;
    transition: height 0ms 250ms, margin 0ms 250ms, opacity 250ms 0ms;
}

.ee-form-fade-out .ee-loading-notice-div {
    line-height: 0;
    height: 0;
    margin: 0;
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {

    .ee-form-placeholder-div {
        margin: var(--ee-margin-smaller) 0;
    }

}
