
.ee-form-info-row {
    margin: var(--ee-margin-small) 0;
}

.ee-form-info-row.is-dismissable {
    max-height: 500px;
    min-height: 0 !important;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}

.ee-form-info-row.is-dismissable.dismissed {
    max-height: 0 !important;
}

.ee-form-info {
    color: var(--ee-default-text-color-low-contrast);
    font-size: var(--ee-font-size-default);
    font-style: italic;
    height: auto;
    line-height: 1.25rem;
    min-height: var(--ee-icon-button-size);
    position: relative;
}

.ee-form-info-text {
    height: 100%;
}

.ee-form-info-row.is-dismissable .ee-form-info {
    padding: 0 var(--ee-padding-small) 0 0;
}

.ee-form-info .ee-form-info-type {
    background: var(--ee-background-color);
    color: var(--ee-color-grey-10);
    left: calc(var(--ee-padding-extreme) * -1);
    position: absolute;
    top: 0;
}

.ee-form-info.ee-form-info-type-warning .ee-form-info-type {
    color: var(--ee-color-hot-pink);
}

.ee-form-info .ee-form-info-text .dashicon {
    margin: 0 var(--ee-margin-micro);
    vertical-align: text-bottom;
}

.ee-form-info .ee-form-info-dismiss {
    background: var(--ee-background-color);
    color: var(--ee-color-grey-10);
    padding: var(--ee-padding-micro);
    position: absolute;
    right: 0;
    top: 0;
}

.ee-form-info .ee-form-info-dismiss:hover,
.ee-form-info .ee-form-info-dismiss:focus,
.ee-form-info .ee-form-info-dismiss:active {
    box-shadow: none !important;
    color: var(--ee-default-text-color-low-contrast) !important;
    outline: none !important;
}

.dismissed .ee-form-info .ee-form-info-dismiss:hover {
    animation: var(--ee-animation-spin-fast);
}


@media screen and (max-width: 600px) {
    .ee-form-info .ee-form-info-type {
        left: var(--ee-padding-tiny);
    }

    .ee-form-info-text {
        display: inline-block;
        padding-left: var(--ee-padding-extreme);
    }

}
