/* ------------------------------------- 
	Attention! This CSS file is used for generating the preview messages.  
------------------------------------- */
/* ------------------------------------- 
		GLOBAL 
------------------------------------- */
#ee-message-preview-container * { 
	margin:0;
	padding:0;
}
#ee-message-preview-container * { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

#ee-message-preview-container img { 
	max-width: 100%; 
}
#ee-message-preview-container .collapse {
	margin:0;
	padding:0;
}
#ee-message-preview-container body {
	-webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:none; 
	width: 100%!important; 
	height: 100%;
}


/* ------------------------------------- 
		ELEMENTS 
------------------------------------- */
#ee-message-preview-container a { color: #2BA6CB;}

#ee-message-preview-container .btn {
	text-decoration:none;
	color: #FFF;
	background-color: #666;
	padding:10px 16px;
	font-weight:bold;
	margin-right:10px;
	text-align:center;
	cursor:pointer;
	display: inline-block;
}

#ee-message-preview-container p.callout {
	padding:15px;
	background-color:#ECF8FF;
	margin-bottom: 15px;
}
#ee-message-preview-container .callout a {
	font-weight:bold;
	color: #2BA6CB;
}

#ee-message-preview-container table.social {
/* 	padding:15px; */
	background-color: #ebebeb;
	
}
#ee-message-preview-container .social .soc-btn {
	padding: 3px 7px;
	font-size:12px;
	margin-bottom:10px;
	text-decoration:none;
	color: #FFF;font-weight:bold;
	display:block;
	text-align:center;
}
#ee-message-preview-container a.fb { background-color: #3B5998!important; }
#ee-message-preview-container a.tw { background-color: #1daced!important; }
#ee-message-preview-container a.gp { background-color: #DB4A39!important; }
#ee-message-preview-container a.ms { background-color: #000!important; }

#ee-message-preview-container .sidebar .soc-btn { 
	display:block;
	width:100%;
}

/* ------------------------------------- 
		HEADER 
------------------------------------- */
#ee-message-preview-container table.head-wrap { width: 100%;}

#ee-message-preview-container .header.container table td.logo { padding: 15px; }
#ee-message-preview-container .header.container table td.label { padding: 15px; padding-left:0px;}


/* ------------------------------------- 
		BODY 
------------------------------------- */
#ee-message-preview-container table.body-wrap { width: 100%;}


/* ------------------------------------- 
		FOOTER 
------------------------------------- */
#ee-message-preview-container table.footer-wrap { width: 100%;	clear:both!important;
}
#ee-message-preview-container .footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
#ee-message-preview-container .footer-wrap .container td.content p {
	font-size:10px;
	font-weight: bold;
	
}


/* ------------------------------------- 
		TYPOGRAPHY 
------------------------------------- */
#ee-message-preview-container h1,#ee-message-preview-container h2,#ee-message-preview-container h3,#ee-message-preview-container h4,#ee-message-preview-container h5,#ee-message-preview-container h6 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; padding-bottom:15px; padding-top:10px; color:#000;
}
#ee-message-preview-container h1 small, #ee-message-preview-container h2 small, #ee-message-preview-container h3 small, #ee-message-preview-container h4 small, #ee-message-preview-container h5 small, #ee-message-preview-container h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

#ee-message-preview-container h1 { font-weight:200; font-size: 36px;}
#ee-message-preview-container h2 { font-weight:200; font-size: 30px;}
#ee-message-preview-container h3 { font-weight:500; font-size: 24px;}
#ee-message-preview-container h4 { font-weight:500; font-size: 19px;}
#ee-message-preview-container h5 { font-weight:900; font-size: 16px;}
#ee-message-preview-container h6 { font-weight:900; font-size: 14px; text-transform: uppercase; color:#444;}
#ee-message-preview-container h4.attendee-name {margin: 10px 0;}
#ee-message-preview-container .collapse { margin:0!important;}

#ee-message-preview-container p, #ee-message-preview-container ul { 
	margin-bottom: 10px; 
	font-weight: normal; 
	font-size:14px; 
	line-height:1.6;
}
#ee-message-preview-container p.lead { font-size:17px; }
#ee-message-preview-container p.last { margin-bottom:0px;}

#ee-message-preview-container ul li {
	margin-left:5px;
	padding-bottom: 5px;
	list-style-position: inside;
	list-style-type: none;
}
#ee-message-preview-container ol.datetime-list li {
	margin-left:10px;
	padding-bottom: 5px;
	list-style-position: inside;
	list-style-type: none;
}
#ee-message-preview-container li.ticket-name em {padding-left: 15px;}
#ee-message-preview-container hr {
	margin: 10px 0;
}

/* ------------------------------------- 
		SIDEBAR 
------------------------------------- */
#ee-message-preview-container ul.sidebar {
	background:#ebebeb;
	display:block;
	list-style-type: none;
}
#ee-message-preview-container ul.sidebar li { display: block; margin:0; padding:10px 16px;}
#ee-message-preview-container ul.sidebar li h5 {
	text-decoration:none;
	color: #000;
	padding:10px 0 20px 0;
	display:block;
	margin:0;
}
#ee-message-preview-container ul.sidebar li a.last { border-bottom-width:0px;}
#ee-message-preview-container ul.sidebar li a h1,#ee-message-preview-container ul.sidebar li a h2,#ee-message-preview-container ul.sidebar li a h3,#ee-message-preview-container ul.sidebar li a h4,#ee-message-preview-container ul.sidebar li a h5,#ee-message-preview-container ul.sidebar li a h6,#ee-message-preview-container ul.sidebar li a p { margin-bottom:0!important;}



/* --------------------------------------------------- 
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure. 
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
#ee-message-preview-container .container {
	display:block!important;
	max-width:600px!important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
#ee-message-preview-container .content {
	padding:15px;
	max-width:600px;
	margin:0 auto;
	display:block; 
}

/* Let's make sure tables in the content area are 100% wide */
#ee-message-preview-container .content table { width: 100%; }


/* Odds and ends */
#ee-message-preview-container .column {
	width: 300px;
	float:left;
}
#ee-message-preview-container .column tr td { padding: 15px; }
#ee-message-preview-container .column-wrap { 
	padding:0!important; 
	margin:0 auto; 
	max-width:600px!important;
}
#ee-message-preview-container .column table { width:100%;}
#ee-message-preview-container .social .column {
	width: 280px;
	min-width: 279px;
	float:left;
}

#ee-message-preview-container .column-large {
	width: 550px;
	margin:0 auto;
	padding-left: 10px;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }


/* ------------------------------------------- 
		PHONE
		For clients that support media queries.
		Nothing fancy. 
-------------------------------------------- */
@media only screen and (max-width: 600px) {
	
	#ee-message-preview-container a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

	#ee-message-preview-container div[class="column"] { width: auto!important; float:none!important;}
	
	#ee-message-preview-container table.social div[class="column"] {
		width:auto!important;
	}

}