/* ------------------------------------- 
		GLOBAL 
------------------------------------- */
.mceContentBody * { 
	margin:0;
	padding:0;
}
.mceContentBody * { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.mceContentBody img { 
	max-width: 100%; 
}
.mceContentBody .collapse {
	margin:0;
	padding:0;
}
.mceContentBody body {
	-webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:none; 
	width: 100%!important; 
	height: 100%;
}


/* ------------------------------------- 
		ELEMENTS 
------------------------------------- */
.mceContentBody a { color: #2BA6CB;}

.mceContentBody .btn {
	text-decoration:none;
	color: #FFF;
	background-color: #666;
	padding:10px 16px;
	font-weight:bold;
	margin-right:10px;
	text-align:center;
	cursor:pointer;
	display: inline-block;
}

.mceContentBody p.callout {
	padding:15px;
	background-color:#ECF8FF;
	margin-bottom: 15px;
}
.mceContentBody .callout a {
	font-weight:bold;
	color: #2BA6CB;
}

.mceContentBody table.social {
/* 	padding:15px; */
	background-color: #ebebeb;
	
}
.mceContentBody .social .soc-btn {
	padding: 3px 7px;
	font-size:12px;
	margin-bottom:10px;
	text-decoration:none;
	color: #FFF;font-weight:bold;
	display:block;
	text-align:center;
}
.mceContentBody a.fb { background-color: #3B5998!important; }
.mceContentBody a.tw { background-color: #1daced!important; }
.mceContentBody a.gp { background-color: #DB4A39!important; }
.mceContentBody a.ms { background-color: #000!important; }

.mceContentBody .sidebar .soc-btn { 
	display:block;
	width:100%;
}

/* ------------------------------------- 
		HEADER 
------------------------------------- */
.mceContentBody table.head-wrap { width: 100%;}

.mceContentBody .header.container table td.logo { padding: 15px; }
.mceContentBody .header.container table td.label { padding: 15px; padding-left:0px;}


/* ------------------------------------- 
		BODY 
------------------------------------- */
.mceContentBody table.body-wrap { width: 100%;}


/* ------------------------------------- 
		FOOTER 
------------------------------------- */
.mceContentBody table.footer-wrap { width: 100%;	clear:both!important;
}
.mceContentBody .footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.mceContentBody .footer-wrap .container td.content p {
	font-size:10px;
	font-weight: bold;
	
}


/* ------------------------------------- 
		TYPOGRAPHY 
------------------------------------- */
.mceContentBody h1,.mceContentBody h2,.mceContentBody h3,.mceContentBody h4,.mceContentBody h5,.mceContentBody h6 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;
}
.mceContentBody h1 small, .mceContentBody h2 small, .mceContentBody h3 small, .mceContentBody h4 small, .mceContentBody h5 small, .mceContentBody h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

.mceContentBody h1 { font-weight:200; font-size: 44px;}
.mceContentBody h2 { font-weight:200; font-size: 37px;}
.mceContentBody h3 { font-weight:500; font-size: 27px;}
.mceContentBody h4 { font-weight:500; font-size: 23px;}
.mceContentBody h5 { font-weight:900; font-size: 17px;}
.mceContentBody h6 { font-weight:900; font-size: 14px; text-transform: uppercase; color:#444;}

.mceContentBody .collapse { margin:0!important;}

.mceContentBody p, .mceContentBody ul { 
	margin-bottom: 10px; 
	font-weight: normal; 
	font-size:14px; 
	line-height:1.6;
}
.mceContentBody p.lead { font-size:17px; }
.mceContentBody p.last { margin-bottom:0px;}

.mceContentBody ul li {
	margin-left:5px;
	list-style-position: inside;
}

/* ------------------------------------- 
		SIDEBAR 
------------------------------------- */
.mceContentBody ul.sidebar {
	background:#ebebeb;
	display:block;
	list-style-type: none;
}
.mceContentBody ul.sidebar li { display: block; margin:0;}
.mceContentBody ul.sidebar li a {
	text-decoration:none;
	color: #666;
	padding:10px 16px;
/* 	font-weight:bold; */
	margin-right:10px;
/* 	text-align:center; */
	cursor:pointer;
	border-bottom: 1px solid #777777;
	border-top: 1px solid #FFFFFF;
	display:block;
	margin:0;
}
.mceContentBody ul.sidebar li a.last { border-bottom-width:0px;}
.mceContentBody ul.sidebar li a h1,.mceContentBody ul.sidebar li a h2,.mceContentBody ul.sidebar li a h3,.mceContentBody ul.sidebar li a h4,.mceContentBody ul.sidebar li a h5,.mceContentBody ul.sidebar li a h6,.mceContentBody ul.sidebar li a p { margin-bottom:0!important;}



/* --------------------------------------------------- 
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure. 
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.mceContentBody .container {
	display:block!important;
	max-width:600px!important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.mceContentBody .content {
	padding:15px;
	max-width:600px;
	margin:0 auto;
	display:block; 
}

/* Let's make sure tables in the content area are 100% wide */
.mceContentBody .content table { width: 100%; }


/* Odds and ends */
.mceContentBody .column {
	width: 300px;
	float:left;
}
.mceContentBody .column tr td { padding: 15px; }
.mceContentBody .column-wrap { 
	padding:0!important; 
	margin:0 auto; 
	max-width:600px!important;
}
.mceContentBody .column table { width:100%;}
.mceContentBody .social .column {
	width: 280px;
	min-width: 279px;
	float:left;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }


/* ------------------------------------------- 
		PHONE
		For clients that support media queries.
		Nothing fancy. 
-------------------------------------------- */
@media only screen and (max-width: 600px) {
	
	.mceContentBody a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

	.mceContentBody div[class="column"] { width: auto!important; float:none!important;}
	
	.mceContentBody table.social div[class="column"] {
		width:auto!important;
	}

}