/**
 * base css overwrite for wpeditor-css
 */
.mceContentBody body { margin: 0!important;padding: 0!important;font:82.5%/1.5 Helvetica, Arial, Verdana, sans-serif; background-color:#eee; }
.mceContentBody ul, .mceContentBody ul li, .mceContentBody p, .mceContentBody div, .mceContentBody ol {margin:0;padding:0;list-style:none;}

.mceContentBody  #invoice { width:740px; min-height:21.5cm; padding:0; margin:0 auto; overflow:hidden; background-color:#fff; }
.mceContentBody #invoice + #invoice { margin-top:5em;}

.mceContentBody .print_button_div{
	margin: 0 12pt;
	width:660px;
	padding: 10px;
	margin:1em auto;
}

.mceContentBody .print_button_div form{
	font-size:14px;
	float:right;
	margin:0 0 0 1em;
}

.mceContentBody input.print_button {
	padding: 8px;
	background-color: white;
}

.mceContentBody table { border-collapse:collapse!important; width:100%!important; }
.mceContentBody td { vertical-align:top!important; }
.mceContentBody .not-really-a-table  { border:none!important; }

.mceContentBody #invoice-hdr { font-size:24pt!important; font-weight:bold!important; opacity:.1; }
.mceContentBody #logo-dv img { max-width:300px!important; border: none; }

.mceContentBody #comments{padding-top:1cm; line-height:1.2em; }

.mceContentBody .aln-left { text-align:left; }
.mceContentBody .aln-cntr { text-align:center; }
.mceContentBody .aln-rght { text-align:right; }

.mceContentBody  .small-text { font-size:.8em; }
.mceContentBody  .small-text.link { font-weight:normal; }
.mceContentBody .plain-text { font-weight:normal; }
.mceContentBody .float-left { float:left; }
.mceContentBody .float-right { float:right; }
.mceContentBody .clear { clear:both; }
.mceContentBody #invoice>div{
	margin-bottom:5em;
	/*border:1px dotted gray;*/
}
.mceContentBody .tickets-per-event>li{
	margin-bottom:3em;
	/*margin-left:1em;
	margin-right:1em;*/
	/*border:1px dotted gray;*/
}
.mceContentBody th.number-column{
	width:5em;
}
.mceContentBody th.name-column{
	width:15em;
}
.mceContentBody td{
	/*text-align:center;*//*Seth*/
}
.mceContentBody .ticket-time-details{
	width:70%;
	display:inline-block;
}
.mceContentBody .ticket-place-details{
	width:29%;
	display:inline-block;
}
.mceContentBody .no-bottom-margin{
	margin-bottom:0px;
}
.mceContentBody .ticket-registrations-list>li{
	margin-top:1em;
	margin-bottom:1em;
}
/* classes from registration and transaction stati */
.mceContentBody .RNA, .mceContentBody .RCN, .mceContentBody .RPP, .mceContentBody .TPN, .mceContentBody .TIN{
	color:red;
}
.mceContentBody .TCM {
	color: green;
}

.mceContentBody .reg-details-for-ticket{
	/*margin-left:4em;*//*Seth*/
}
.mceContentBody .grand-total{
	text-align:right;
}

.mceContentBody h3{
	font-size:12pt;
}
.mceContentBody .subitem{
	padding-left:1.8em;
	text-align:left;
}
.mceContentBody .ticket-note {
	font-style:italic;
}
/*=========================== TABLES =========================*/

.mceContentBody table th {text-align:left;padding: 6px 5px 6px 5px;}
.mceContentBody .ticket-details table th, .mceContentBody .taxes table th, .mceContentBody .invoice-amount th {border-bottom:1px solid #666;}
.mceContentBody td.action{border-bottom:0}
.mceContentBody tr.odd td, .mceContentBody tr.odd th, .mceContentBody tr.header_row{background-color:#F4F4F4}
.mceContentBody .total_tr td{border-bottom:0}
.mceContentBody #vat_tr td{border-bottom:1px solid #000}
.mceContentBody td, .mceContentBody .registration-details tr th {margin: 0;vertical-align: center; border-bottom:1px solid #ddd}
.mceContentBody td {margin: 0;padding: 8px 5px 8px 5px; vertical-align: top; }
.mceContentBody .item_r{text-align: right;}
.mceContentBody .item_c{text-align: center;}
.mceContentBody .item_l{text-align: left;white-space: normal; }
.mceContentBody .total {text-align: right;font-weight: bold; }
.mceContentBody tr.tax-total td {border-top:1px solid #000;}
.mceContentBody .subitem-row {
	color: #666;
}

.mceContentBody img.icon{
	margin-left:1em;
	margin-right:1em;
}


/*
Tranquility Invoice Template
Created by Roan Lavery
18/02/08
*/


/*=========================== TYPOGRAPHY =========================*/

.mceContentBody #invoice {font-family: Georgia, "Times New Roman", Times, serif; color: #6C8597;line-height:1.4}
.mceContentBody #invoice h1 {margin: 0;color: #000;text-transform: uppercase;}
.mceContentBody #invoice h2, .mceContentBody #Main #invoice h3 {font-family: Georgia, "Times New Roman", Times, serif; color:#000; text-transform: none; line-height:1.2;margin-top:9px}
.mceContentBody #invoice h2 {font-size:11pt}
.mceContentBody #company-address, .mceContentBody #client-details, .mceContentBody #payment-details, .mceContentBody #invoice-other, .mceContentBody .invoice-amount td, .mceContentBody th,  .mceContentBody #invoice-info {font-size:10pt}
.mceContentBody .org, .mceContentBody .fn, .mceContentBody #bank_name{text-transform:capitalize;font-variant: small-caps; font-weight:bold; letter-spacing:0.07em; color:#5F7C91}
.mceContentBody #payment-details strong, #invoice-other strong{font-weight:normal; color:#666}
.mceContentBody #payment-details h2, .mceContentBody #invoice-other h2{font-variant: small-caps;letter-spacing:0.07em; color:#6C8597 }
.mceContentBody #client-details{color:#5F7C91}
.mceContentBody #invoice #invoice-info h2 {margin-bottom: 0px; text-transform:capitalize;font-variant: small-caps; font-size:14pt; color:#5F7C91; font-weight:normal;letter-spacing:0.1em}
.mceContentBody #invoice #invoice-info h3 {margin:0 !important;color:#7F99AB;font-weight:normal;font-size:10pt;}
.mceContentBody #invoice #payment-due{color:#999;font-weight:normal; font-size:10pt}
.mceContentBody #invoice #invoice-info, .mceContentBody #invoice #invoice-info p{text-align:right}
.mceContentBody #invoice-info #payment-total{display:none}
.mceContentBody #comments {font-weight:normal; color:#888; font-size:9pt; text-align:center;}
.mceContentBody #bank_name{color:#666}

/*=========================== LAYOUT =========================*/

.mceContentBody #invoice{ padding:1cm; background: #fff url(../images/ripple.jpg) 0px 120px no-repeat;  }
.mceContentBody #invoice-header{padding-top:1cm; }
.mceContentBody #invoice-info { margin:10px 0 20px 0 }
.mceContentBody #invoice-info th{text-align:right}
.mceContentBody #company-address { width:300px; text-align:right; margin-top:10px }

.mceContentBody #bill-to-ship-to, .mceContentBody .invoice-amount { margin:20px 0; }

.mceContentBody .invoice-amount {margin: 1em 0; clear: both; }

.mceContentBody #payment-details{width:250px; float:left;  }
.mceContentBody #invoice-other{width:350px;clear:both; float:right; text-align:right;  }

.mceContentBody #comments{clear:both; padding-top:1cm}
