/**
 * base css overwrite for wpeditor-css
 */
.mceContentBody body { margin: 0!important;padding: 0!important;font:82.5%/1.5 Helvetica, Arial, Verdana, sans-serif; background-color:#eee; }
.mceContentBody ul, .mceContentBody ul li, .mceContentBody p, .mceContentBody div, .mceContentBody ol {margin:0;padding:0;list-style:none;}

.mceContentBody  #invoice { width:740px; min-height:21.5cm; padding:0; margin:0 auto; overflow:hidden; background-color:#fff; }
.mceContentBody #invoice + #invoice { margin-top:5em;}

.mceContentBody .print_button_div{
	margin: 0 12pt;
	width:660px;
	padding: 10px;
	margin:1em auto;
}

.mceContentBody .print_button_div form{
	font-size:14px;
	float:right;
	margin:0 0 0 1em;
}

.mceContentBody input.print_button {
	padding: 8px;
	background-color: white;
}

.mceContentBody table { border-collapse:collapse!important; width:100%!important; }
.mceContentBody td { vertical-align:top!important; }
.mceContentBody .not-really-a-table  { border:none!important; }

.mceContentBody #invoice-hdr { font-size:24pt!important; font-weight:bold!important; opacity:.1; }
.mceContentBody #logo-dv img { max-width:300px!important; border: none; }

.mceContentBody #comments{padding-top:1cm; line-height:1.2em; }

.mceContentBody .aln-left { text-align:left; }
.mceContentBody .aln-cntr { text-align:center; }
.mceContentBody .aln-rght { text-align:right; }

.mceContentBody  .small-text { font-size:.8em; }
.mceContentBody  .small-text.link { font-weight:normal; }
.mceContentBody .plain-text { font-weight:normal; }
.mceContentBody .float-left { float:left; }
.mceContentBody .float-right { float:right; }
.mceContentBody .clear { clear:both; }
.mceContentBody #invoice>div{
	margin-bottom:5em;
	/*border:1px dotted gray;*/
}
.mceContentBody .tickets-per-event>li{
	margin-bottom:3em;
	/*margin-left:1em;
	margin-right:1em;*/
	/*border:1px dotted gray;*/
}
.mceContentBody th.number-column{
	width:5em;
}
.mceContentBody th.name-column{
	width:15em;
}
.mceContentBody td{
	/*text-align:center;*//*Seth*/
}
.mceContentBody .ticket-time-details{
	width:70%;
	display:inline-block;
}
.mceContentBody .ticket-place-details{
	width:29%;
	display:inline-block;
}
.mceContentBody .no-bottom-margin{
	margin-bottom:0px;
}
.mceContentBody .ticket-registrations-list>li{
	margin-top:1em;
	margin-bottom:1em;
}
/* classes from registration and transaction stati */
.mceContentBody .RNA, .mceContentBody .RCN, .mceContentBody .RPP, .mceContentBody .TPN, .mceContentBody .TIN{
	color:red;
}
.mceContentBody .TCM {
	color: green;
}

.mceContentBody .reg-details-for-ticket{
	/*margin-left:4em;*//*Seth*/
}
.mceContentBody .grand-total{
	text-align:right;
}

.mceContentBody h3{
	font-size:12pt;
}
.mceContentBody .subitem{
	padding-left:1.8em;
	text-align:left;
}
.mceContentBody .ticket-note {
	font-style:italic;
}
/*=========================== TABLES =========================*/

.mceContentBody table th {text-align:left;padding: 6px 5px 6px 5px;}
.mceContentBody .ticket-details table th, .mceContentBody .taxes table th, .mceContentBody .invoice-amount th {border-bottom:1px solid #666;}
.mceContentBody td.action{border-bottom:0}
.mceContentBody tr.odd td, .mceContentBody tr.odd th, .mceContentBody tr.header_row{background-color:#F4F4F4}
.mceContentBody .total_tr td{border-bottom:0}
.mceContentBody #vat_tr td{border-bottom:1px solid #000}
.mceContentBody td, .mceContentBody .registration-details tr th {margin: 0;vertical-align: center; border-bottom:1px solid #ddd}
.mceContentBody td {margin: 0;padding: 8px 5px 8px 5px; vertical-align: top; }
.mceContentBody .item_r{text-align: right;}
.mceContentBody .item_c{text-align: center;}
.mceContentBody .item_l{text-align: left;white-space: normal; }
.mceContentBody .total {text-align: right;font-weight: bold; }
.mceContentBody tr.tax-total td {border-top:1px solid #000;}
.mceContentBody .subitem-row {
	color: #666;
}

.mceContentBody img.icon{
	margin-left:1em;
	margin-right:1em;
}

/*
Horizon Invoice Template
Created by Roan Lavery
31/08/08 */

/*=========================== TYPOGRAPHY =========================*/

.mceContentBody #invoice p, .mceContentBody #invoice h2, .mceContentBody #invoice h3{margin:0}
.mceContentBody #invoice {font-family: Verdana, Tahoma,  sans-serif; color: #888;line-height:1.5}
.mceContentBody #invoice h1 {margin: 0;color: #000;text-transform: uppercase;}
.mceContentBody #invoice h2, .mceContentBody #invoice h3 {color:#000; text-transform: none; line-height:1.2;margin-top:10px}

.mceContentBody #invoice-info h2 {margin:0; color:#67A30F; opacity:1; font-size:24pt; font-weight:bold; line-height:30pt; }
.mceContentBody #invoice h2 {font-size:12pt}
.mceContentBody #invoice-info h3 {margin:0; font-size:9pt; font-weight:normal; font-style:italic; color:#888;  line-height:15pt;}

.mceContentBody #company-address, .mceContentBody #client-details, .mceContentBody #payment-details, .mceContentBody #invoice-other, .mceContentBody .invoice-amount td, .mceContentBody th,  .mceContentBody #invoice-info {font-size:9pt}
.mceContentBody #company-address{text-align:right}
.mceContentBody #invoice .fn, .mceContentBody #invoice .org{color:#000}

.mceContentBody #invoice #invoice-terms h2{margin-bottom:3px}
.mceContentBody #invoice #invoice-terms h3{margin-top:0;margin-bottom:5px;font-weight:normal;font-style:italic; color:#666; font-size:9pt}

.mceContentBody #invoice .total{font-size:12pt;}
.mceContentBody #comments {font-style:italic;margin-top:15px;line-height:1.2; color:#646464; font-size:10pt;}

.mceContentBody #invoice-other{text-align:right}
.mceContentBody #payment-details strong, .mceContentBody #invoice-other strong{font-weight:normal}

/*=========================== LAYOUT =========================*/

.mceContentBody #invoice{padding:0 1cm 1cm 1cm;background:#fff url(../images/horizon-greenbar.gif) left top repeat-x}
.mceContentBody #invoice-header{ padding-top:1cm; margin-top:10px; }
.mceContentBody #company-address { padding:40px 20px 20px; }
.mceContentBody #invoice-info { padding:20px; margin:20px; background-color:#F1FAE3; border:1px solid #BECEA5; z-index:10 }
.mceContentBody #invoice-info th{text-align:right}

.mceContentBody #bill-to-ship-to, .mceContentBody .invoice-amount { margin:20px 0; }

.mceContentBody .invoice-amount {margin: 2em 0 2em 0; clear: both;}

.mceContentBody #payment-details{margin-bottom:5mm   }
.mceContentBody #invoice-other{margin-bottom:5mm   }
.mceContentBody #invoice-other h2, .mceContentBody #payment-details h2 {margin-bottom: 1mm;}

.mceContentBody #comments .wrapper{ padding:9px 0.4cm 9px 0.4cm; margin:0; background-color:#F2F2F2; border:1px solid #ccc; vertical-align:bottom; line-height:1.2;zoom:1}
