/* TABLE COLUMNS */

.espresso-admin .wp-list-table.widefat th.check-column input[type="checkbox"].bulk-check-in {
    margin-top: var(--ee-margin-smaller) !important;
}

.espresso-admin .wp-list-table .column-ATT_fname {
    width: max(15%, 20rem);
}

.espresso-admin .wp-list-table .column-ATT_fname .ee-layout-row {
    flex-wrap: wrap;
}

.espresso-admin .wp-list-table .column-ATT_fname .row-title {
    margin-inline-end: .5rem;
}

.espresso-admin .wp-list-table .column-ATT_fname .reg-count-group-size {
    white-space: nowrap;
}


.espresso-admin .wp-list-table .column-event_name,
.espresso-admin .wp-list-table .column-DTT_EVT_start,
.espresso-admin .wp-list-table .column-REG_ticket {
    width: clamp(6rem, 8rem, 20rem);
}

.espresso-admin .wp-list-table .column-_REG_date {
    width: clamp(4rem, 6rem, 16rem);
}

.espresso-admin .wp-list-table .ATT_email,
.espresso-admin .wp-list-table th #ee-responsive-table-cell-ATT_email,
.espresso-admin .wp-list-table td #ee-responsive-table-cell-ATT_email {
    width: clamp(9rem, 12rem, 16rem);
}

.espresso-admin .wp-list-table th.column-primary.column-_REG_att_checked_in,
.espresso-admin .wp-list-table tr:not(.is-expanded) td.column-primary.column-_REG_att_checked_in {
    padding-inline-start: .25rem;
    padding-inline-end: .25rem;
}

.espresso-admin .wp-list-table th.column-primary.column-_REG_att_checked_in .dashicons-yes-alt {
    font-size: var(--ee-font-size-2xl) !important;
}


@media screen and (min-width: 1600px) {
    .espresso-admin .wp-list-table.registrants .column-actions,
    .espresso-admin .wp-list-table.registrations .column-actions {
        width: clamp(7rem, 10.5rem, 14rem);
    }
}

.espresso-admin .wp-list-table.registrants tr:not(.is-expanded) .TXN_total .ee-responsive-table-cell--end > .ee-layout-stack,
.espresso-admin .wp-list-table.registrants tr:not(.is-expanded) ._REG_paid .ee-responsive-table-cell--end > .ee-layout-stack,
.espresso-admin .wp-list-table.registrations tr:not(.is-expanded) .TXN_total .ee-responsive-table-cell--end > .ee-layout-stack,
.espresso-admin .wp-list-table.registrations tr:not(.is-expanded) ._REG_paid .ee-responsive-table-cell--end > .ee-layout-stack {
    align-items: flex-end;
}


@media only screen and (min-width: 1600px) {
    .espresso-admin .wp-list-table .column-event_name {
        width: clamp(16rem, 18rem, 20rem);
    }
    .espresso-admin .wp-list-table .column-DTT_EVT_start {
        width: clamp(12rem, 16rem, 20rem);
    }

    .espresso-admin .wp-list-table .column-_REG_date,
    .espresso-admin .wp-list-table .column-REG_ticket {
        width: 12rem;
    }

    .espresso-admin .wp-list-table .ATT_email,
    .espresso-admin .wp-list-table th #ee-responsive-table-cell-ATT_email,
    .espresso-admin .wp-list-table td #ee-responsive-table-cell-ATT_email {
        width: clamp(12rem, 16rem, 20rem);
    }

    .espresso-admin .wp-list-table th.column-primary.column-_REG_att_checked_in,
    .espresso-admin .wp-list-table tr:not(.is-expanded) td.column-primary.column-_REG_att_checked_in {
        padding-inline-start: .75rem;
        padding-inline-end: .75rem;
        width: 5rem !important;
    }
    .espresso-admin .wp-list-table.registrants .TXN_total .ee-responsive-table-cell--end > .ee-layout-stack,
    .espresso-admin .wp-list-table.registrations .TXN_total .ee-responsive-table-cell--end > .ee-layout-stack {
        width: 9rem;
    }
}


.wp-list-table .column-DTT_reg_limit {
    width: 4.25%;
}

.wp-list-table th.column-PRC_amount,
.wp-list-table th.column-_REG_final_price,
.wp-list-table th.column-_REG_paid,
.wp-list-table th.column-TXN_total,
.wp-list-table th.column-TXN_paid {
    padding-inline-end: 1.5rem;
    text-align: end;
    width: clamp(6rem, 7.5%, 15rem);
}

.wp-list-table td.column-PRC_amount,
.wp-list-table td.column-_REG_final_price,
.wp-list-table td.column-_REG_paid,
.wp-list-table td.column-TXN_total,
.wp-list-table td.column-TXN_paid {
    text-align: end;
    width: clamp(6rem, 7.5%, 15rem);
}

.wp-list-table td.column-PRC_amount .TKT_name {
    margin-inline-end: var(--ee-margin-nano);
}

.espresso-admin .wp-list-table ._REG_paid .dashicons-yes,
.espresso-admin .wp-list-table .TXN_paid .dashicons-yes {
    height: var(--ee-font-size-2xl);
    width: var(--ee-font-size-2xl);
}
.espresso-admin .wp-list-table ._REG_paid .dashicons-yes:before,
.espresso-admin .wp-list-table .TXN_paid .dashicons-yes:before {
    font-size: var(--ee-font-size-2xl);
    position: relative;
    top: -2px;
}

.espresso-admin .wp-list-table .TXN_total .row-actions {
    justify-content: flex-end;
}

.espresso-admin #espresso-default-admin.registrations h2 .ee-event-name {
    color: var(--ee-font-color-dark);
    font-size: var(--ee-font-size-3xl);
    margin-inline-start: 2rem;
}

.espresso-admin #espresso-default-admin.registrations h2 .ee-event-datetime-name {
    align-items: baseline;
    color: var(--ee-font-color);
    display: inline-flex;
    font-size: var(--ee-font-size-bigger);
}

.espresso-admin #espresso-default-admin.registrations h2 .ee-event-datetime-name .dashicons {
    color: var(--ee-font-color-light);
    font-size: var(--ee-font-size-xl);
    inset-block-start: 0.25rem;
    margin-inline-start: 2rem;
    margin-inline-end: 1.5rem;
    position: relative;
}

.espresso-admin #espresso-default-admin.registrations h2 .ee-event-datetime-name .ee-status {
    margin-inline-start: 1rem;
}


/* TABLE NAV FILTERS */

.espresso-admin .tablenav .ee-event-filter__wrapper {
    margin-inline-end: 0;
    max-width: 100%;
}

.espresso-admin .tablenav .ee-event-filter,
.espresso-admin .tablenav .ee-event-filter > span {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-block: var(--ee-margin-small);
    max-width: 100%;
}
.espresso-admin .tablenav .ee-event-filter {
    margin-block: 0;
}

.espresso-admin .tablenav .actions > span.ee-list-table-filter {
    align-items: center;
    display: inline-flex;
    flex-flow: row nowrap;
    flex-grow: .125;
    justify-content: flex-start;
    margin-block: var(--ee-margin-small);
    max-width: 100%;
    width: fit-content;
}

.espresso-admin .tablenav .ee-reg-filter__month .ee-list-table-filter {
    min-width: 11rem;
}

.espresso-admin .tablenav .ee-reg-filter__label {
    margin: 0 !important;
}

.espresso-admin .tablenav .ee-event-filter .ee-event-filter-main-label {
    width: 100%;
}

.espresso-admin .tablenav .ee-event-filter > span {
    flex-wrap: nowrap;
    margin-inline-end: var(--ee-margin-small);
}

.espresso-admin .tablenav .ee-event-filter > span:last-child {
    margin-inline-end: 0;
}

.espresso-admin .tablenav .ee-event-filter-main-label,
.espresso-admin .tablenav .ee-event-filter > span label {
    flex-wrap: nowrap;
    margin: 0 var(--ee-margin-micro) 0 0 !important;
    white-space: nowrap;
}

.espresso-admin .tablenav .ee-event-filter > span .ee-help-btn {
    margin-inline-start: 0;
    margin-inline-end: var(--ee-margin-smaller);
}

.espresso-admin .tablenav .ee-event-filter > span select {
    margin-inline: var(--ee-margin-pico);
    max-width: clamp(24rem, 100%, 20rem);
    width: 100%;
}

.espresso-admin .tablenav .ee-event-filter > span input[type="checkbox"] {
    margin-inline-end: .5rem;
}

.espresso-admin .tablenav .ee-event-filter .ee-hide-expired-events .ee-expired-event {
    display: none;
}

.espresso-admin .tablenav .ee-event-filter .ee-hide-upcoming-events .ee-upcoming-event {
    display: none;
}

@media screen and ( min-width: 782px ) {
    .espresso-admin .tablenav .ee-event-filter {
        flex-wrap: nowrap;
    }
    .espresso-admin .tablenav .ee-event-filter > span select {
        margin-inline: var(--ee-margin-nano);
    }
}

@media screen and ( min-width: 1920px ) {
    .espresso-admin .tablenav .ee-event-filter__wrapper {
        margin-inline-end: 1rem;
    }

    .espresso-admin .tablenav .ee-event-filter > span,
    .espresso-admin .tablenav .ee-reg-filters > span {
        padding-block: 0;
    }
}


.reg-overview-free-event-spn {
    display: block;
    text-align: center;
}

.checkedin-status-0 {
    color: var(--ee-status-color-red);
}

.checkedin-status-1 {
    color: var(--ee-status-color-green);
}

.checkedin-status-2 {
    color: var(--ee-status-color-grey);
}


#reg-admin-reg-details-reg-date-hdr,
#reg-admin-reg-details-reg-status-hdr {
    padding: 0;
    margin: 0 0 .5em !important;
}

#reg-admin-approve-decline-reg-status-dv h2 span {
    font-size: var(--ee-font-size-bigger);
    margin-left: .5em;
}

#reg-admin-approve-decline-reg-status-spn {
    position: relative;
    top: -4px;
    display: block;
}

#reg-admin-approve-decline-reg-status-spn a {
    margin-left: 1em;
    margin-right: 1em;
    vertical-align: baseline;
}


.admin-side-mbox-label-spn {
    width: 30%;
    padding-right: .5em;
    text-align: right;
}

.admin-side-mbox-text-dv {
    padding-left: .5em;
    margin: 0 0 1em 30%;
}

.admin-primary-mbox-h4 {
    margin: 2em 0 .25em;
}


.jqplot-title {
    font-size: var(--ee-font-size-xl);
    text-align: left !important;
    margin: 1em 0 0 1em;
}

.jqplot-point-label {
    padding: 0 .5em;
    background: var(--ee-color-white);
    border: 1px solid var(--ee-border-color);
    border-radius: 3px;
    font-size: var(--ee-font-size-tiny);
    color: #333333;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2), 3px 3px 2px rgba(0, 0, 0, .1);
}


.admin-side-mbox-dv {
    margin: 1em 0 2em;
}

.admin-side-mbox-dv p {
    margin: .5em 0;
    line-height: 1.2em;
}

.admin-side-mbox-label-spn {
    width: 30%;
    padding-right: .5em;
    text-align: right;
}

.admin-side-mbox-text-dv {
    padding-left: .5em;
    margin: 0 0 1em 1em;
}


.reg-admin-edit-question-group-spn {
    position: relative;
    top: -4px;
    padding: 4px;
    vertical-align: middle;
}

.reg-admin-edit-attendee-question-lnk {
    padding: 4px;
    text-decoration: none;
    outline: none;
}

.reg-admin-edit-attendee-question-lnk:focus {
    outline: none;
}


.tkt-slctr-tbl {
    min-width: 530px;
    margin-bottom: 1em;
    border: none;
    border-bottom: 1px solid var(--ee-border-color);
    border-collapse: collapse;
    border-spacing: 0;
}

.tkt-slctr-tbl th {
    padding: .5em 1em .5em 0;
    border: none;
    font-size: var(--ee-font-size-default);
    line-height: 1em;
    text-align: left;
}

.tkt-slctr-tbl td {
    padding: .5em 1em .5em 0;
    border: none;
    border-top: 1px solid var(--ee-border-color);
    font-size: var(--ee-font-size-default);
    line-height: 1em;
}

.tkt-slctr-tbl .tckt-slctr-tbl-td-qty {
    padding-right: 0;
}

@media only screen and (max-width: 600px) {
    .tkt-slctr-tbl {
        min-width: auto;
    }
}


/**
 * attendee edit page stuff
 *
 */

#poststuff #titlewrap {
    display: flex;
}

#poststuff #titlewrap > div {
    width: 49%;
}

#poststuff #titlewrap > div + div {
    margin-inline-start: 2%;
}


#titlediv .smaller-text-field,
#titlediv .main-text-field {
    font-size: var(--ee-font-size-3xl);
    height: 3.25rem;
    line-height: 100%;
    margin: 0;
    width: 100%;
}


.espresso-question-group-wrap table th {
    width: inherit;
    min-width: 200px;
}

#attendee_details_address label.espresso-form-input-lbl {
    display: block;
}

#attendee_details_address input.all-options {
    width: 100%;
}

#attendee_details_address #ATT_zip {
    width: 10%;
    min-width: 150px;
}

/**
 * status strips
 */
.wp-list-table .ee-status-strip.has-checkbox-column ._REG_att_checked_in {
    border-left: none;
}

/** fix for mobile view in new WP > 4.3 list tables **/
@media screen and ( max-width: 782px ) {
    .wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.check-column)._REG_att_checked_in {
        text-align: left;
    }

    .wp-list-table tr.has-checkbox-column ._REG_att_checked_in {
        margin-left: 20px;
        margin-top: 5px;
    }

    p.search-box {
        position: relative;
        top: 0;
        display: inline-block;
    }
}


.widefat td.column-_Reg_Status,
.widefat th.column-_Reg_Status {
    width: 10px;
    padding: 0;
    margin: 0;
    height: 100%;
}

#reg_status_change_form {
    margin-top: 1em;
}

#reg_status_change_form .button--secondary {
    margin-right: 0;
}

#reg_status_change_form .ee-attention {
    position: absolute;
    width: 50%;
    top: -100px;
    right: 0;
    padding: 15px 10px 0 10px;
}

.espresso-admin .wp-list-table .ee-icon-size-22:before {
    font-size: var(--ee-font-size-lg);
}

/**newsletter send css**/

.js-shortcode-selection {
    cursor: pointer;
    display: inline-block;
    padding: calc(.25 * var(--ee-base-ui-scale)) calc(.5 * var(--ee-base-ui-scale));
    transition: all 150ms;
}
.js-shortcode-selection:hover {
    background-color: var(--ee-status-color-pale-blue);
    color: var(--ee-font-color-dark);
}

.ee_shortcode_chooser_container h4 {
    color: var(--ee-border-color);
    font-size: var(--ee-font-size-4xl);
    font-weight: 800;
    line-height: 1;
    margin: 0;
    margin-block-end: calc(1.75 * var(--ee-base-ui-scale));
}

.ee_shortcode_chooser_container h6 {
    color: var(--ee-font-color-light);
    font-size: var(--ee-font-size-small);
    font-weight: 800;
    line-height: 1.25;
    margin: 0;
    margin-block-end: var(--ee-base-ui-scale);
}


/**
 * Fixes for admin side spco (because wp-admin adds some of its own styles to elements)
 */
.reg-page-form-field-wrap-pg select {
    display: block;
    padding: 7px 10px;
    margin: 0 0 1em;
    height: auto;
}


#send-related-messages-dv label {
    position: relative;
    top: 3px;
    left: 1em;
}

#send-related-messages-dv input[type=checkbox] {
    margin: 0 1em;
}

/** line item table styles **/
.ee-line-item-id {
    font-size: var(--ee-font-size-small);
    color: var(--ee-font-color-light);
    font-style: italic;
}

.ee-line-item-name {
    font-size: var(--ee-font-size-big);
    font-weight: 600;
}

#ee-add-reg-back-button-dv {
    background: var(--ee-color-white);
    color: var(--ee-font-color);
    font-size: var(--ee-font-size-bigger);
    line-height: 1.75em;
    padding: 1.5em 1.5em 2em;
    text-align: center;
}

#ee-add-reg-back-button-dv h3 {
    margin: .5em 0 0;
}

#reg-admin-transaction-attendees-table .reg-status-RCN {
    color: var(--ee-font-color-light);
}

/** REGISTRATION LIST TABLE EVENT-DATE COLUMNS **/

.ee-reg-list-dates-list-date,
.ee-registration-event-datetimes-container,
.ee-registration-event-datetimes-container__control,
.espresso-admin .ee-responsive-table-cell__content > .ee-reg-list-dates-list-date,
.espresso-admin .ee-responsive-table-cell__content > .ee-reg-list-dates-list-date > a {
    width: clamp(6rem, 8rem, 16rem);
}


.espresso-admin .ee-responsive-table-cell__content > .ee-reg-list-dates-list-date .row-actions {
    width: unset;
}

.ee-registration-event-datetimes-container-wrap {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    width: 100%;
}


.ee-registration-event-datetimes-container {
    display: none;
}

.ee-reg-list-dates-list-date {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.ee-reg-list-dates-list-date .row-actions {
    padding-block-start: 0 !important;
}
.ee-reg-list-dates-list-date .row-actions .separator {
    padding-block-start: 2px;
}

.espresso-admin.wp-core-ui .wp-list-table .ee-reg-list-dates-list-date > a {
    flex-flow: row wrap;
    flex-grow: 4;
    padding-inline: 0 !important;
    width: 100% !important;
}
.espresso-admin.wp-core-ui .wp-list-table .ee-reg-list-dates-list-date > div,
.espresso-admin.wp-core-ui .wp-list-table .ee-reg-list-dates-list-date > button {
    flex-grow: 0;
    width: fit-content;
}


.espresso-admin.wp-core-ui .button.button--icon-only.ee-more-datetimes-toggle {
    background: none !important;
    border: none !important;
    border-radius: 100%;
    box-shadow: none !important;
    margin: 0 !important;
}

.espresso-admin .wp-list-table .ee-more-datetimes-toggle > .dashicons,
.espresso-admin .wp-list-table .ee-more-datetimes-toggle > .dashicons:before {
    font-size: var(--ee-font-size-4xl);
    height: var(--ee-font-size-4xl);
    width: var(--ee-font-size-4xl);
}

.ee-more-datetimes-toggle > .dashicons-admin-collapse {
    color: var(--ee-font-color-light);
    transition: transform 250ms ease-in-out;
    transform: rotate(-180deg);
}
.ee-more-datetimes-toggle.open > .dashicons-admin-collapse {
    transform: rotate(-90deg);
}

.espresso-admin .ee-event-filter-link .dashicons.dashicons--small:before {
    top: -2px;
}


@media only screen and (min-width: 1600px) {
    .ee-reg-list-dates-list-date,
    .ee-registration-event-datetimes-container,
    .ee-registration-event-datetimes-container__control,
    .espresso-admin .ee-responsive-table-cell__content > .ee-reg-list-dates-list-date,
    .espresso-admin .ee-responsive-table-cell__content > .ee-reg-list-dates-list-date > a {
        width: 16rem;
    }
}

/** Add a bit of style to tickets details table **/

.spco-ticket-details {
    font-size: var(--ee-font-size-default);
    border-top: 1px solid var(--ee-border-color-table-row);
    padding: 30px 0 15px;
    width: 100%;
}

.spco-ticket-details td {
    padding-top: 15px;
}

.ee-new-registration-step-content .ee-attention {
    margin: 2em 0 1em;
    padding: 1.5em 0 0;
}

.event-espresso_page_espresso_registrations #post-body-content > h2 {
    margin-block-start: .5rem;
    margin-block-end: .25rem;
    padding: 1px 0;
}

.event-espresso_page_espresso_registrations #post-body-content > h2 .dashicons.dashicons-calendar {
    margin-inline: 1rem;
}


.event-espresso_page_espresso_registrations .ee-admin-page-header-grid {
    grid-template-columns: 360px 360px 1fr var(--ee-admin-sidebar-width);
}

@media screen and ( max-width: 1280px ) {
    .event-espresso_page_espresso_registrations .ee-admin-page-header-grid {
        grid-template-columns: 1fr 1fr var(--ee-admin-sidebar-width);
    }
}

@media screen and ( max-width: 1024px ) {
    .event-espresso_page_espresso_registrations .ee-admin-page-header-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.event-espresso_page_espresso_registrations #edit-reg-questions-mbox select[multiple] {
    height: fit-content;
    background-image: none;
}
#espresso-default-admin .description.ee-status-outline.ee-status-bg--info {
    white-space: normal;
}

.csv-report-notice__wrapper {
    align-items: center;
    background-color: hsl(207deg 40% 87.5%);
    color: hsl(207deg 5% 25%);
    display: inline-flex;
    font-size: var(--ee-font-size-default);
    margin-inline-end: 1rem !important;
    padding: .25rem 1.5rem .375rem .5rem;
}

.csv-report-notice__wrapper .dashicons-info {
    color: hsl(207deg 65% 50%);
    font-size: var(--ee-font-size-3xl);
    height: var(--ee-font-size-3xl);
    margin-inline-end: .5rem;
    width: var(--ee-font-size-3xl);
}


.ee-reg-list-txn-link {
    align-items: center;
    display: flex;
}
.ee-reg-list-txn-link .dashicons {
    margin-inline-end: .5rem;
}


.espresso-admin .wp-list-table .ee-responsive-table-cell__content.ee-layout-row {
    align-items: center;
}

