
/* TABLE COLUMNS */

.espresso-admin .wp-list-table .column-ATT_fname {
    width: max(15%, 20rem);
}

.espresso-admin .wp-list-table .column-ATT_fname .ee-layout-row {
    flex-wrap: wrap;
}

.espresso-admin .wp-list-table .column-ATT_fname .row-title {
    margin-inline-end: .5rem;
}

.espresso-admin .wp-list-table .column-ATT_fname .reg-count-group-size {
    white-space: nowrap;
}

.espresso-admin .wp-list-table .column-_REG_date,
.espresso-admin .wp-list-table .column-DTT_EVT_start {
    width: clamp(8rem, 12rem, 16rem);
}

.espresso-admin .wp-list-table .column-event_name {
    width: clamp(12rem, 16rem, 20rem);
}

.espresso-admin .wp-list-table #ATT_email,
.espresso-admin .wp-list-table th #ee-responsive-table-cell-ATT_email,
.espresso-admin .wp-list-table td #ee-responsive-table-cell-ATT_email {
    width: clamp(8rem, 12rem, 16rem);
}

.espresso-admin .wp-list-table th.column-primary.column-_REG_att_checked_in,
.espresso-admin .wp-list-table tr:not(.is-expanded) td.column-primary.column-_REG_att_checked_in {
    padding-inline-start: .75rem;
    padding-inline-end: .75rem;
    width: 5rem !important;
}


.wp-list-table .column-DTT_reg_limit {
    width: 4.25%;
}

.wp-list-table th.column-PRC_amount,
.wp-list-table th.column-_REG_final_price,
.wp-list-table th.column-_REG_paid,
.wp-list-table th.column-TXN_total,
.wp-list-table th.column-TXN_paid {
    width: clamp(6rem, 7.5%, 15rem);
    text-align: center;
}

.wp-list-table td.column-PRC_amount,
.wp-list-table td.column-_REG_final_price,
.wp-list-table td.column-_REG_paid,
.wp-list-table td.column-TXN_total,
.wp-list-table td.column-TXN_paid {
    width: clamp(6rem, 7.5%, 15rem);
    text-align: end;
}

.espresso-admin .wp-list-table .TXN_paid .dashicons-yes:before {
    font-size: 2rem;
}

.espresso-admin #espresso-default-admin.registrations h2 .ee-event-name {
    color: var(--ee-font-color-dark);
    font-size: 1.75rem;
    margin-inline-start: 2rem;
}

.espresso-admin #espresso-default-admin.registrations h2 .ee-event-datetime-name {
    align-items: baseline;
    color: var(--ee-font-color);
    display: inline-flex;
    font-size: 1.2rem;
}
.espresso-admin #espresso-default-admin.registrations h2 .ee-event-datetime-name .dashicons  {
    color: var(--ee-font-color-light);
    font-size: 1.5rem;
    inset-block-start: 0.25rem;
    margin-inline-start: 2rem;
    margin-inline-end: 1.5rem;
    position: relative;
}
.espresso-admin #espresso-default-admin.registrations h2 .ee-event-datetime-name .ee-status  {
    margin-inline-start: 1rem;
}

.espresso-admin .tablenav .ee-event-filter {
    border: 1px solid var(--ee-status-color-light-blue);
    border-radius: 0.25rem;
    max-width: 50%;
    padding-block: 0.5rem;
    padding-inline: 1rem;
}

.espresso-admin .tablenav .ee-event-filter,
.espresso-admin .tablenav .ee-event-filter > span {
    align-items: center;
    display: flex;
    justify-content: start;
}
.espresso-admin .tablenav .ee-event-filter > span {
    width: 16rem;
}
.espresso-admin .tablenav .ee-event-filter > span:first-child {
    width: 35rem;
}
.espresso-admin .tablenav .ee-event-filter > span:first-child label:not(.ee-input-label):not(.screen-reader-text) {
    flex-wrap: nowrap;
    width: 9rem;
}
.espresso-admin .tablenav .ee-event-filter > span:first-child select {
    max-width: clamp(24rem, 100%, 20rem);
    width: 100%;
}
.espresso-admin .tablenav .ee-event-filter > span:last-child {
    width: 14rem;
}



.espresso-admin .tablenav .ee-event-filter > span input[type="checkbox"] {
    margin-inline-end: .5rem;
}

.espresso-admin .tablenav .ee-event-filter > span + span {
    margin-inline-start: 1rem;
}
.espresso-admin .tablenav .ee-event-filter .ee-hide-expired-events .ee-expired-event {
    display: none;
}
.espresso-admin .tablenav .ee-event-filter .ee-hide-upcoming-events .ee-upcoming-event {
    display: none;
}

.reg-overview-free-event-spn {
    display: block;
    text-align: center;
}

.checkedin-status-0 {
    color: var(--ee-status-color-red);
}

.checkedin-status-1 {
    color: var(--ee-status-color-green);
}

.checkedin-status-2 {
    color: var(--ee-status-color-grey);
}


#reg-admin-reg-details-reg-date-hdr,
#reg-admin-reg-details-reg-status-hdr {
    padding: 0;
    margin: 0 0 .5em !important;
}

#reg-admin-approve-decline-reg-status-dv h2 span {
    font-size: 1.3em;
    margin-left: .5em;
}

#reg-admin-approve-decline-reg-status-spn {
    position: relative;
    top: -4px;
    display: block;
}

#reg-admin-approve-decline-reg-status-spn a {
    margin-left: 1em;
    margin-right: 1em;
    vertical-align: baseline;
}


.admin-side-mbox-label-spn {
    width: 30%;
    padding-right: .5em;
    text-align: right;
}

.admin-side-mbox-text-dv {
    padding-left: .5em;
    margin: 0 0 1em 30%;
}

.admin-primary-mbox-h4 {
    margin: 2em 0 .25em;
}


.jqplot-title {
    font-size: 24px;
    text-align: left !important;
    margin: 1em 0 0 1em;
}

.jqplot-point-label {
    padding: 0 .5em;
    background: var(--ee-color-white);
    border: 1px solid var(--ee-border-color);
    border-radius: 3px;
    font-size: 12px;
    color: #333;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2), 3px 3px 2px rgba(0, 0, 0, .1);
}


.admin-side-mbox-dv {
    margin: 1em 0 2em;
}

.admin-side-mbox-dv p {
    margin: .5em 0;
    line-height: 1.2em;
}

.admin-side-mbox-label-spn {
    width: 30%;
    padding-right: .5em;
    text-align: right;
}

.admin-side-mbox-text-dv {
    padding-left: .5em;
    margin: 0 0 1em 1em;
}


.reg-admin-edit-question-group-spn {
    position: relative;
    top: -4px;
    padding: 4px;
    vertical-align: middle;
}

.reg-admin-edit-attendee-question-lnk {
    padding: 4px;
    text-decoration: none;
    outline: none;
}

.reg-admin-edit-attendee-question-lnk:focus {
    outline: none;
}


.tkt-slctr-tbl {
    min-width: 530px;
    margin-bottom: 1em;
    border: none;
    border-bottom: 1px solid var(--ee-border-color);
    border-collapse: collapse;
    border-spacing: 0;
}

.tkt-slctr-tbl th {
    padding: .5em 1em .5em 0;
    border: none;
    font-size: 1em;
    line-height: 1em;
    text-align: left;
}

.tkt-slctr-tbl td {
    padding: .5em 1em .5em 0;
    border: none;
    border-top: 1px solid var(--ee-border-color);
    font-size: 1em;
    line-height: 1em;
}

.tkt-slctr-tbl .tckt-slctr-tbl-td-qty {
    padding-right: 0;
}

@media only screen and (max-width: 600px) {
    .tkt-slctr-tbl {
        min-width: auto;
    }
}


/**
 * attendee edit page stuff
 *
 */

#poststuff #titlewrap {
    display: flex;
}

#poststuff #titlewrap > div {
    width: 49%;
}

#poststuff #titlewrap > div + div {
    margin-inline-start: 2%;
}


#titlediv .smaller-text-field,
#titlediv .main-text-field {
    font-size: 1.75rem;
    height: 3.25rem;
    line-height: 100%;
    margin: 0;
    width: 100%;
}


.espresso-question-group-wrap table th {
    width: inherit;
    min-width: 200px;
}

#attendee_details_address label.espresso-form-input-lbl {
    display: block;
}

#attendee_details_address input.all-options {
    width: 100%;
}

#attendee_details_address #ATT_zip {
    width: 10%;
    min-width: 150px;
}

/**
 * status strips
 */
.wp-list-table .ee-status-strip.has-checkbox-column ._REG_att_checked_in {
    border-left: none;
}

/** fix for mobile view in new WP > 4.3 list tables **/
@media screen and ( max-width: 782px ) {
    .wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.check-column)._REG_att_checked_in {
        text-align: left;
    }

    .wp-list-table tr.has-checkbox-column ._REG_att_checked_in {
        margin-left: 20px;
        margin-top: 5px;
    }

    p.search-box {
        position: relative;
        top: 0;
        display: inline-block;
    }
}


.widefat td.column-_Reg_Status,
.widefat th.column-_Reg_Status {
    width: 10px;
    padding: 0;
    margin: 0;
    height: 100%;
}

#reg_status_change_form {
    margin-top: 1em;
}

#reg_status_change_form .button--secondary {
    margin-right: 0;
}

#reg_status_change_form .ee-attention {
    position: absolute;
    width: 50%;
    top: -100px;
    right: 0;
    padding: 15px 10px 0 10px;
}

.espresso-admin .wp-list-table .ee-icon-size-22:before {
    font-size: 22px;
}

/**newsletter send css**/
.ee-batch-message-send-form h3 {
    font-size: 2em;
}

.ee-batch-message-send-form .batch-message-edit-fields {
    background-color: var(--ee-color-off-white);
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
}

.ee-batch-message-send-form .batch-message-input, .ee-batch-message-send-form .batch-message-textarea {
    width: 100%;
}

.ee-batch-message-send-form .batch-message-textarea {
    height: 200px;
}

.ee-batch-message-send-form .shortcodes-info-container {
    padding: 5px 20px 5px 20px;;
    margin-bottom: 10px;
    background-color: var(--ee-color-almost-white);
    border-radius: 4px;
}

.contact-details-buttons a.button--small {
    float: right;
    margin-left: 8px;
}

/**
 * Fixes for admin side spco (because wp-admin adds some of its own styles to elements)
 */
.reg-page-form-field-wrap-pg select {
    display: block;
    padding: 7px 10px;
    margin: 0px 0px 1em;
    height: auto;
}


#send-related-messages-dv label {
    position: relative;
    top: 3px;
    left: 1em;
}

#send-related-messages-dv input[type=checkbox] {
    margin: 0 1em;
}

/** line item table styles **/
.ee-line-item-id {
    font-size: .9em;
    color: var(--ee-font-color-light);
    font-style: italic;
}

.ee-line-item-name {
    font-size: 1.1em;
    font-weight: 600;
}

#ee-add-reg-back-button-dv {
    background: var(--ee-color-white);
    color: var(--ee-font-color);
    font-size: 1.2em;
    line-height: 1.75em;
    padding: 1.5em 1.5em 2em;
    text-align: center;
}

#ee-add-reg-back-button-dv h3 {
    margin: .5em 0 0;
}

#reg-admin-transaction-attendees-table .reg-status-RCN {
    color: var(--ee-font-color-light);
}

/** REGISTRATION LIST TABLE EVENT-DATE COLUMNS **/

.espresso-admin .ee-responsive-table-cell__content > .ee-reg-list-dates-list-date,
.espresso-admin .ee-responsive-table-cell__content > .ee-reg-list-dates-list-date > a {
    width: clamp(8rem, 12rem, 16rem);
}

.espresso-admin .ee-responsive-table-cell__content > .ee-reg-list-dates-list-date .row-actions {
    width: unset;
}

.ee-registration-event-datetimes-container-wrap {
    box-sizing: border-box;
    display: flex;
    padding: 0;
    padding-inline-end: 2rem;
    width: 100%;
}

.ee-registration-event-datetimes-container {
    display: none;
    flex-flow: column nowrap;
}


.ee-reg-list-dates-list-date {
    display: flex;
    flex-flow: row nowrap;
}


.espresso-admin.wp-core-ui .button.button--icon-only.ee-more-datetimes-toggle {
    background: none !important;
    border: none !important;
    border-radius: 100%;
    box-shadow: none !important;
    margin: 0;
    position: absolute;
    inset-block-start: .75rem;
    inset-inline-end: .75rem;
}

.espresso-admin .wp-list-table .ee-more-datetimes-toggle > .dashicons,
.espresso-admin .wp-list-table .ee-more-datetimes-toggle > .dashicons:before {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
}

.ee-more-datetimes-toggle > .dashicons {
    transition: transform 250ms ease-in-out;
}

.ee-more-datetimes-toggle.open > .dashicons {
    transform: rotate(-90deg);
}

.espresso-admin .ee-event-filter-link .dashicons.dashicons--small {
    margin-inline-end: 0.25rem;
}

.espresso-admin .ee-event-filter-link .dashicons.dashicons--small:before {
    top: -2px;
}

/** Add a bit of style to tickets details table **/

.spco-ticket-details {
    font-size: 16px;
    border-top: 1px solid var(--ee-border-color-table-row);
    padding: 30px 0 15px;
    width: 100%;
}

.spco-ticket-details td {
    padding-top: 15px;
}

.ee-new-registration-step-content .ee-attention {
    margin: 2em 0 1em;
    padding: 1.5em 0 0;
}

.event-espresso_page_espresso_registrations #post-body-content > h2 {
    margin-block-start: .5rem;
    margin-block-end: .25rem;
    padding: 1px 0;
}

.event-espresso_page_espresso_registrations #post-body-content > h2 .dashicons.dashicons-calendar {
    margin-inline: 1rem;
}


.event-espresso_page_espresso_registrations .ee-admin-page-header-grid {
    grid-template-columns: 360px 360px 1fr var(--ee-admin-sidebar-width);
}
@media screen and ( max-width: 1280px ) {
    .event-espresso_page_espresso_registrations .ee-admin-page-header-grid {
        grid-template-columns: 1fr 1fr var(--ee-admin-sidebar-width);
    }
}
@media screen and ( max-width: 1024px ) {
    .event-espresso_page_espresso_registrations .ee-admin-page-header-grid {
        grid-template-columns: 1fr 1fr;
    }
}
