/* TABLE COLUMNS */

.wp-list-table #ATT_name .primary-registrant-spn {
    float: none !important;
}

/*.espresso-admin .wp-list-table td.column-ATT_ID { width:50px; text-align:right; }*/
.espresso-admin .wp-list-table td.column-ATT_ID {
    width: 3%;
}

.espresso-admin .wp-list-table td.column-ATT_ID div {
    min-width: 30px;
}

.espresso-admin .wp-list-table td.column-ATT_fname {
    width: 10%;
}

.espresso-admin .wp-list-table td.column-DTT_EVT_start {
    width: 12.5%;
}

.espresso-admin .wp-list-table td.column-ATT_lname {
    width: 12.5%;
}

.espresso-admin .wp-list-table td.column-event_name {
    width: 17.5%;
}

.espresso-admin .wp-list-table td.column-ATT_name {
    width: 17.5%;
}

.espresso-admin .wp-list-table td.column-ATT_email {
}

.espresso-admin .wp-list-table td.column-ATT_address {
    width: 15%;
}

.espresso-admin .wp-list-table td.column-ATT_city {
    width: 10%;
}

.espresso-admin .wp-list-table td.column-STA_ID {
    width: 10%;
}

.espresso-admin .wp-list-table td.column-CNT_ISO {
    width: 7%;
}

.espresso-admin .wp-list-table td.column-_REG_group_size,
.espresso-admin .wp-list-table td.column-_REG_att_checked_in {
    width: 5%;
}

.espresso-admin .wp-list-table td.column-Registration_Count {
    padding-inline-end: 2rem;
}

.espresso-admin .wp-list-table td.column-_REG_date {
    width: 15%;
}

.espresso-admin .wp-list-table td.column-ATT_phone {
    width: 10%;
}

.espresso-admin .wp-list-table td.column-_REG_final_price {
    width: 5%;
}

.espresso-admin .wp-list-table td.column-actions {
    width: 5%;
}

