@import "application/ui/styles/mixins/breakpoints.scss";

.ee-form {
	.form-wrapper {
		max-width: 900px;
		padding: 0;
		margin: 0 auto;

		.ee-debug-info-btn {
			@include max782px {
				display: block;
				margin-left: 0;
				width: 100%;
			}
		}
	}

	.sections-wrapper {
		padding: 0 0 var(--ee-padding-big);

		& > div:first-child {
			padding: 1em 0;
		}
	}

	.section-wrapper {
		padding: 2.5em 0 1rem;
		display: flex;
		flex-wrap: wrap;
	}

	.section-wrapper + .section-wrapper {
		border-top: 3px solid var(--ee-color-grey-14);
	}

	.section-heading {
		position: relative;

		@include max782px {
			flex: 0 100%;
		}

		@include min782px {
			flex: 0 20%;
		}

		h3 {
			color: var(--ee-default-text-color);
			font-size: 1.4rem;
			font-weight: bold;
			color: var(--ee-default-text-color);
			font-size: 1.4rem;
			margin: 0;

			@include max782px {
				margin: 0 0 1.5rem;
			}
		}
	}

	.section-heading-icon {
		color: var(--ee-color-grey-13);
		display: inline-block;
		font-size: var(--ee-font-size-extreme);
		position: absolute;
		top: 2rem;
		left: 0.25rem;

		@include max782px {
			left: unset;
			right: 0.25rem;
			top: -0.75rem;
		}
	}

	.field-group-items {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.repeatable-wrap {
		margin-bottom: 1em;
	}

	.repeatable-item {
		.remove-item {
			float: right;
			margin-left: 0.5em;
		}
	}

	.submit-wrapper {
		display: flex;

		> div {
			padding: 0 0.5em;
		}
	}

	.section-body {
		padding: var(--ee-padding-smaller) 0;

		@include max782px {
			flex: 0 100%;
		}

		@include min782px {
			flex: 0 80%;
			position: relative;
			.field-group-item {
				flex: 0 50%;
				padding: 0 0.5em;
			}
		}

		.ee-form-item {
			padding: var(--ee-padding-smaller) 0;

			@include max782px {
				padding: var(--ee-padding-tiny) 0;
			}

			@include max600px {
				padding: var(--ee-padding-micro) 0;
			}

			@include max480px {
				padding: var(--ee-padding-nano) 0;
			}

			&-switch {
				padding: var(--ee-padding-small) 0;
			}

			&-pair {
				display: inline-flex;
				margin: var(--ee-margin-default) 0;
				padding-right: var(--ee-padding-big);
				width: 50%;

				label:first-child {
					align-items: center;
					display: flex;
					padding: var(--ee-padding-nano) var(--ee-padding-smaller) 0 0;
					min-width: 200px;
				}

				> div {
					width: calc(50% - 200px);
				}

				@include max782px {
					margin: var(--ee-margin-small) 0;
					width: 100%;

					label:first-child {
						justify-content: flex-end;
						min-width: 240px;
					}

					label + label {
						padding: var(--ee-padding-nano) var(--ee-padding-smaller);
					}

					> div {
						width: calc(100% - 240px);
					}
				}

				@include max600px {
					margin: var(--ee-margin-smaller) 0;
				}

				@include max480px {
					margin: var(--ee-margin-smaller) 0;

					label:first-child {
						min-width: 200px;
					}

					> div {
						width: calc(100% - 200px);
					}
				}

				@include max360px {
					margin: var(--ee-margin-tiny) 0;

					&:not(.ee-form-item__switch) {
						display: flex;
						flex-flow: column;
						justify-content: flex-start;
						padding-right: 0;

						label:first-child {
							justify-content: flex-start;
							width: 100%;
						}

						> div {
							width: 100%;
						}
					}
				}
			}

			// to override values set in &__pair
			&__number > div {
				width: 120px;

				@include max360px {
					width: 100%;
				}
			}
		}

		.field-group-item {
			@include max782px {
				flex: 0 100%;
			}

			@include min782px {
				flex: 0 50%;
				padding: 0 0.5em;
			}
		}
	}

	.tooltip {
		margin-left: 0.5em;
	}
}
