@import 'application/ui/styles/mixins/breakpoints.scss';

.ee-form {
	.form-wrapper {
		max-width: 900px;
		padding: 0;
		margin: 0 auto;

		.ee-debug-info-btn {
			@include max782px {
				display: block;
				margin-left: 0;
				width: 100%;
			}
		}
	}

	.sections-wrapper {
		padding: 0 0 var(--ee-padding-big);
		& > div:first-child {
			padding: 1em 0;
		}
	}

	.section-wrapper {
		padding: 2.5em 0 1rem;
		display: flex;
		flex-wrap: wrap;
	}
	.section-wrapper + .section-wrapper {
		border-top: 3px solid var(--ee-color-grey-14);
	}
	.section-heading {
		position: relative;
		h3 {
			color: var(--ee-default-text-color);
			font-size: 1.4rem;
			font-weight: bold;
			color: var(--ee-default-text-color);
			font-size: 1.4rem;
			margin: 0;
		}
	}

	.section-heading-icon {
		color: var(--ee-color-grey-13);
		display: inline-block;
		font-size: var(--ee-font-size-extreme);
		position: absolute;
		top: 2rem;
		left: 0.25rem;
	}
	.field-group-items {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	.repeatable-wrap {
		margin-bottom: 1em;
	}
	.repeatable-item {
		.remove-item {
			float: right;
			margin-left: 0.5em;
		}
	}
	.submit-wrapper {
		display: flex;

		> div {
			padding: 0 0.5em;
		}
	}

	.section-body {
		padding: var(--ee-padding-smaller) 0;

		.ee-form-item {
			padding: var(--ee-padding-smaller) 0;

			&-switch {
				padding: var(--ee-padding-small) 0;
			}

			&-pair {
				width: 50%;
				display: inline-flex;
				padding-right: var(--ee-margin-default);
				margin: var(--ee-margin-default) 0;
				label {
					display: flex;
					align-items: center;
				}
			}

			.ee-icon--info-circle-outlined {
				color: var(--ee-color-primary-low-contrast);
				margin: 0 var(--ee-margin-tiny);
			}
		}
	}

	@media only screen and (max-width: 782px) {
		.section-heading {
			flex: 0 100%;
			h3 {
				margin: 0 0 1.5rem;
			}

			.section-heading-icon {
				left: unset;
				right: 0.25rem;
				top: -0.75rem;
			}
		}
		.section-body {
			flex: 0 100%;

			.ee-form-item-pair {
				width: 100%;
			}
			.field-group-item {
				flex: 0 100%;
			}
		}
	}

	@media only screen and (min-width: 782px) {
		.section-heading {
			flex: 0 20%;
		}
		.section-body {
			flex: 0 80%;
			position: relative;
			.field-group-item {
				flex: 0 50%;
				padding: 0 0.5em;
			}
		}
	}
	.tooltip {
		margin-left: 0.5em;
	}
}
