/**
* A useful tool for building color-safe palettes is http://colorsafe.co/
* Also: https://webaim.org/resources/contrastchecker/
*/

:root {
	/** ----------------------------
    *   Main Theme Color Variables
    * ------------------------------ */

	/** Primary **/
	--ee-color-primary: #297abc;
	--ee-color-primary-super-high-contrast: #003a7c;
	--ee-color-primary-high-contrast: #095a9c;
	--ee-color-primary-low-contrast: #499adc;
	--ee-color-primary-super-low-contrast: #69bafc;
	--ee-text-on-primary: #ffffff;
	--ee-text-on-primary-super-high-contrast: #9bd5ff;
	--ee-text-on-primary-high-contrast: #f7ffff;
	--ee-text-on-primary-low-contrast: #000000;
	--ee-text-on-primary-super-low-contrast: #002365;

	/** Secondary **/
	--ee-color-secondary: #91ab30;
	--ee-color-secondary-super-high-contrast: #516b00;
	--ee-color-secondary-high-contrast: #718b10;
	--ee-color-secondary-low-contrast: #b1cb50;
	--ee-color-secondary-super-low-contrast: #d1eb70;
	--ee-text-on-secondary: #001a00;
	--ee-text-on-secondary-super-high-contrast: #ffffff;
	--ee-text-on-secondary-high-contrast: #ffffff;
	--ee-text-on-secondary-low-contrast: #1f3900;
	--ee-text-on-secondary-super-low-contrast: #344e00;

	/** Accent **/
	--ee-color-accent: #de5882;
	--ee-color-accent-super-high-contrast: #9e1842;
	--ee-color-accent-high-contrast: #be3862;
	--ee-color-accent-low-contrast: #fe78a2;
	--ee-color-accent-super-low-contrast: #ff98c2;
	--ee-text-on-accent: #ffffff;
	--ee-text-on-accent-super-high-contrast: #ffecff;
	--ee-text-on-accent-high-contrast: #ffffff;
	--ee-text-on-accent-low-contrast: #3d0000;
	--ee-text-on-accent-super-low-contrast: #5e0021;

	/** ----------------------
    *   Text Color Variables
    * ------------------------ */

	--ee-default-text-color: #595959;
	--ee-default-text-color-super-high-contrast: #191919;
	--ee-default-text-color-high-contrast: #393939;
	--ee-default-text-color-low-contrast: #797979;
	--ee-default-text-color-super-low-contrast: #999999;

	/** ----------------------------
    *   Additional Color Variables
    * ------------------------------ */

	--ee-background-color: #ffffff;
	--ee-border-color: #c1c1c1;

	--ee-color-grey-1: #161616;
	--ee-text-on-grey-1: #a1a1a1;

	--ee-color-grey-2: #292929;
	--ee-text-on-grey-2: #b4b4b4;

	--ee-color-grey-3: #3c3c3c;
	--ee-text-on-grey-3: #cecece;

	--ee-color-grey-4: #4f4f4f;
	--ee-text-on-grey-4: #eeeeee;

	--ee-color-grey-5: #626262;
	--ee-text-on-grey-5: #ffffff;

	--ee-color-grey-6: #757575;
	--ee-text-on-grey-6: #ffffff;

	--ee-color-grey-7: #888888;
	--ee-text-on-grey-7: #ffffff;

	--ee-color-grey-8: #9b9b9b;
	--ee-text-on-grey-8: #0c0c0c;

	--ee-color-grey-9: #aeaeae;
	--ee-text-on-grey-9: #232323;

	--ee-color-grey-10: #c1c1c1;
	--ee-text-on-grey-10: #333333;

	--ee-color-grey-11: #d4d4d4;
	--ee-text-on-grey-11: #3f3f3f;

	--ee-color-grey-12: #e7e7e7;
	--ee-text-on-grey-12: #4b4b4b;

	--ee-color-grey-13: #ededed;
	--ee-text-on-grey-13: #4e4e4e;

	--ee-color-grey-14: #f3f3f3;
	--ee-text-on-grey-14: #525252;

	--ee-color-grey-15: #f9f9f9;
	--ee-text-on-grey-15: #555555;

	/** ----------------------
    *   Base Color Variables
    * ------------------------ */

	/** Magenta **/
	--ee-color-magenta: #962557;
	--ee-color-magenta-super-high-contrast: #560017;
	--ee-color-magenta-high-contrast: #760537;
	--ee-color-magenta-low-contrast: #b64577;
	--ee-color-magenta-super-low-contrast: #d66597;
	--ee-text-on-magenta: #ffeeff;
	--ee-text-on-magenta-super-high-contrast: #f09ab1;
	--ee-text-on-magenta-high-contrast: #ffb5e7;
	--ee-text-on-magenta-low-contrast: #ffffff;
	--ee-text-on-magenta-super-low-contrast: #000000;

	/** Red **/
	--ee-color-red: #b00e13;
	--ee-color-red-super-high-contrast: #700000;
	--ee-color-red-high-contrast: #900000;
	--ee-color-red-low-contrast: #d02e33;
	--ee-color-red-super-low-contrast: #f04e53;
	--ee-text-on-red: #fffbff;
	--ee-text-on-red-super-high-contrast: #ffadad;
	--ee-text-on-red-high-contrast: #ffd2d2;
	--ee-text-on-red-low-contrast: #ffffff;
	--ee-text-on-red-super-low-contrast: #ffffff;

	/** Hot Pink **/
	--ee-color-hot-pink: #de5882;
	--ee-color-hot-pink-super-high-contrast: #9e1842;
	--ee-color-hot-pink-high-contrast: #be3862;
	--ee-color-hot-pink-low-contrast: #fe78a2;
	--ee-color-hot-pink-super-low-contrast: #ff98c2;
	--ee-text-on-hot-pink: #ffffff;
	--ee-text-on-hot-pink-super-high-contrast: #ffecff;
	--ee-text-on-hot-pink-high-contrast: #ffffff;
	--ee-text-on-hot-pink-low-contrast: #3d0000;
	--ee-text-on-hot-pink-super-low-contrast: #5e0021;

	/** Pink **/
	--ee-color-pink: #ed8d99;
	--ee-color-pink-super-high-contrast: #ad4d59;
	--ee-color-pink-high-contrast: #cd6d79;
	--ee-color-pink-low-contrast: #ffadb9;
	--ee-color-pink-super-low-contrast: #ffcdd9;
	--ee-text-on-pink: #460000;
	--ee-text-on-pink-super-high-contrast: #ffffff;
	--ee-text-on-pink-high-contrast: #000000;
	--ee-text-on-pink-low-contrast: #661420;
	--ee-text-on-pink-super-low-contrast: #663440;

	/** Coral **/
	--ee-color-coral: #ed6d5a;
	--ee-color-coral-super-high-contrast: #ad2d1a;
	--ee-color-coral-high-contrast: #cd4d3a;
	--ee-color-coral-low-contrast: #ff8d7a;
	--ee-color-coral-super-low-contrast: #ffad9a;
	--ee-text-on-coral: #000000;
	--ee-text-on-coral-super-high-contrast: #ffffff;
	--ee-text-on-coral-high-contrast: #ffffff;
	--ee-text-on-coral-low-contrast: #4f0000;
	--ee-text-on-coral-super-low-contrast: #661401;

	/** Orange **/
	--ee-color-orange: #ee7e04;
	--ee-color-orange-super-high-contrast: #ae3e00;
	--ee-color-orange-high-contrast: #ce5e00;
	--ee-color-orange-low-contrast: #ff9e24;
	--ee-color-orange-super-low-contrast: #ffbe44;
	--ee-text-on-orange: #270000;
	--ee-text-on-orange-super-high-contrast: #ffffff;
	--ee-text-on-orange-high-contrast: #ffffff;
	--ee-text-on-orange-low-contrast: #5b0000;
	--ee-text-on-orange-super-low-contrast: #652400;

	/** Gold **/
	--ee-color-gold: #f6bd00;
	--ee-color-gold-super-high-contrast: #b67d00;
	--ee-color-gold-high-contrast: #d69d00;
	--ee-color-gold-low-contrast: #ffdd20;
	--ee-color-gold-super-low-contrast: #fffd40;
	--ee-text-on-gold: #5e2500;
	--ee-text-on-gold-super-high-contrast: #ffffff;
	--ee-text-on-gold-high-contrast: #3f0600;
	--ee-text-on-gold-low-contrast: #613f00;
	--ee-text-on-gold-super-low-contrast: #585600;

	/** Yellow **/
	--ee-color-yellow: #fad800;
	--ee-color-yellow-super-high-contrast: #ba9800;
	--ee-color-yellow-high-contrast: #dab800;
	--ee-color-yellow-low-contrast: #fff820;
	--ee-color-yellow-super-low-contrast: #ffff40;
	--ee-text-on-yellow: #5e3c00;
	--ee-text-on-yellow-super-high-contrast: #230100;
	--ee-text-on-yellow-high-contrast: #472500;
	--ee-text-on-yellow-low-contrast: #595200;
	--ee-text-on-yellow-super-low-contrast: #575700;

	/** Yellow Green **/
	--ee-color-yellow-green: #d3d600;
	--ee-color-yellow-green-super-high-contrast: #939600;
	--ee-color-yellow-green-high-contrast: #b3b600;
	--ee-color-yellow-green-low-contrast: #f3f620;
	--ee-color-yellow-green-super-low-contrast: #ffff40;
	--ee-text-on-yellow-green: #3c3f00;
	--ee-text-on-yellow-green-super-high-contrast: #000000;
	--ee-text-on-yellow-green-high-contrast: #242700;
	--ee-text-on-yellow-green-low-contrast: #4f5200;
	--ee-text-on-yellow-green-super-low-contrast: #575700;

	/** Light Green **/
	--ee-color-light-green: #a9ce47;
	--ee-color-light-green-super-high-contrast: #698e07;
	--ee-color-light-green-high-contrast: #89ae27;
	--ee-color-light-green-low-contrast: #c9ee67;
	--ee-color-light-green-super-low-contrast: #e9ff87;
	--ee-text-on-light-green: #153a00;
	--ee-text-on-light-green-super-high-contrast: #ffffff;
	--ee-text-on-light-green-high-contrast: #001b00;
	--ee-text-on-light-green-low-contrast: #2b5000;
	--ee-text-on-light-green-super-low-contrast: #445a00;

	/** Green **/
	--ee-color-green: #91ab30;
	--ee-color-green-super-high-contrast: #516b00;
	--ee-color-green-high-contrast: #718b10;
	--ee-color-green-low-contrast: #b1cb50;
	--ee-color-green-super-low-contrast: #d1eb70;
	--ee-text-on-green: #001a00;
	--ee-text-on-green-super-high-contrast: #ffffff;
	--ee-text-on-green-high-contrast: #ffffff;
	--ee-text-on-green-low-contrast: #1f3900;
	--ee-text-on-green-super-low-contrast: #344e00;

	/** Bright Green **/
	--ee-color-bright-green: #71b94c;
	--ee-color-bright-green-super-high-contrast: #31790c;
	--ee-color-bright-green-high-contrast: #51992c;
	--ee-color-bright-green-low-contrast: #91d96c;
	--ee-color-bright-green-super-low-contrast: #b1f98c;
	--ee-text-on-bright-green: #002300;
	--ee-text-on-bright-green-super-high-contrast: #ffffff;
	--ee-text-on-bright-green-high-contrast: #ffffff;
	--ee-text-on-bright-green-low-contrast: #004100;
	--ee-text-on-bright-green-super-low-contrast: #0f5700;

	/** Dark Green **/
	--ee-color-dark-green: #4d6021;
	--ee-color-dark-green-super-high-contrast: #0d2000;
	--ee-color-dark-green-high-contrast: #2d4001;
	--ee-color-dark-green-low-contrast: #6d8041;
	--ee-color-dark-green-super-low-contrast: #8da061;
	--ee-text-on-dark-green: #ffffff;
	--ee-text-on-dark-green-super-high-contrast: #99ac8c;
	--ee-text-on-dark-green-high-contrast: #c0d394;
	--ee-text-on-dark-green-low-contrast: #ffffff;
	--ee-text-on-dark-green-super-low-contrast: #000a00;

	/** Blue Green **/
	--ee-color-blue-green: #399f94;
	--ee-color-blue-green-super-high-contrast: #005f54;
	--ee-color-blue-green-high-contrast: #197f74;
	--ee-color-blue-green-low-contrast: #59bfb4;
	--ee-color-blue-green-super-low-contrast: #79dfd4;
	--ee-text-on-blue-green: #000000;
	--ee-text-on-blue-green-super-high-contrast: #ceffff;
	--ee-text-on-blue-green-high-contrast: #ffffff;
	--ee-text-on-blue-green-low-contrast: #002a1f;
	--ee-text-on-blue-green-super-low-contrast: #004439;

	/** Blue **/
	--ee-color-blue: #297abc;
	--ee-color-blue-super-high-contrast: #003a7c;
	--ee-color-blue-high-contrast: #095a9c;
	--ee-color-blue-low-contrast: #499adc;
	--ee-color-blue-super-low-contrast: #69bafc;
	--ee-text-on-blue: #ffffff;
	--ee-text-on-blue-super-high-contrast: #9bd5ff;
	--ee-text-on-blue-high-contrast: #f7ffff;
	--ee-text-on-blue-low-contrast: #000000;
	--ee-text-on-blue-super-low-contrast: #002365;

	/** Dark Blue **/
	--ee-color-dark-blue: #274369;
	--ee-color-dark-blue-super-high-contrast: #000329;
	--ee-color-dark-blue-high-contrast: #072349;
	--ee-color-dark-blue-low-contrast: #476389;
	--ee-color-dark-blue-super-low-contrast: #6783a9;
	--ee-text-on-dark-blue: #bedaff;
	--ee-text-on-dark-blue-super-high-contrast: #9396bc;
	--ee-text-on-dark-blue-high-contrast: #94b0d6;
	--ee-text-on-dark-blue-low-contrast: #ffffff;
	--ee-text-on-dark-blue-super-low-contrast: #ffffff;

	/** Bright Blue **/
	--ee-color-bright-blue: #5abddb;
	--ee-color-bright-blue-super-high-contrast: #1a7d9b;
	--ee-color-bright-blue-high-contrast: #3a9dbb;
	--ee-color-bright-blue-low-contrast: #7addfb;
	--ee-color-bright-blue-super-low-contrast: #9afdff;
	--ee-text-on-bright-blue: #002745;
	--ee-text-on-bright-blue-super-high-contrast: #ffffff;
	--ee-text-on-bright-blue-high-contrast: #000000;
	--ee-text-on-bright-blue-low-contrast: #00415f;
	--ee-text-on-bright-blue-super-low-contrast: #00585a;

	/** Light Blue **/
	--ee-color-light-blue: #9dcdd5;
	--ee-color-light-blue-super-high-contrast: #5d8d95;
	--ee-color-light-blue-high-contrast: #7dadb5;
	--ee-color-light-blue-low-contrast: #bdedf5;
	--ee-color-light-blue-super-low-contrast: #ddffff;
	--ee-text-on-light-blue: #0b3b43;
	--ee-text-on-light-blue-super-high-contrast: #ffffff;
	--ee-text-on-light-blue-high-contrast: #001e26;
	--ee-text-on-light-blue-low-contrast: #205058;
	--ee-text-on-light-blue-super-low-contrast: #395b5b;

	/** Violet **/
	--ee-color-violet: #bfa9d4;
	--ee-color-violet-super-high-contrast: #7f6994;
	--ee-color-violet-high-contrast: #9f89b4;
	--ee-color-violet-low-contrast: #dfc9f4;
	--ee-color-violet-super-low-contrast: #ffe9ff;
	--ee-text-on-violet: #321c47;
	--ee-text-on-violet-super-high-contrast: #ffffff;
	--ee-text-on-violet-high-contrast: #000000;
	--ee-text-on-violet-low-contrast: #4a345f;
	--ee-text-on-violet-super-low-contrast: #5f495f;

	/** Purple **/
	--ee-color-purple: #795d9d;
	--ee-color-purple-super-high-contrast: #391d5d;
	--ee-color-purple-high-contrast: #593d7d;
	--ee-color-purple-low-contrast: #997dbd;
	--ee-color-purple-super-low-contrast: #b99ddd;
	--ee-text-on-purple: #ffffff;
	--ee-text-on-purple-super-high-contrast: #c8acec;
	--ee-text-on-purple-high-contrast: #f9ddff;
	--ee-text-on-purple-low-contrast: #000000;
	--ee-text-on-purple-super-low-contrast: #2a0e4e;

	/** Indigo **/
	--ee-color-indigo: #26203d;
	--ee-color-indigo-super-high-contrast: #000000;
	--ee-color-indigo-high-contrast: #06001d;
	--ee-color-indigo-low-contrast: #46405d;
	--ee-color-indigo-super-low-contrast: #66607d;
	--ee-text-on-indigo: #b1abc8;
	--ee-text-on-indigo-super-high-contrast: #959595;
	--ee-text-on-indigo-high-contrast: #9a94b1;
	--ee-text-on-indigo-low-contrast: #ddd7f4;
	--ee-text-on-indigo-super-low-contrast: #ffffff;

	/** Black **/
	--ee-color-black: #18181a;
	--ee-text-on-black: #a3a3a5;

	/** White **/
	--ee-color-white: #ffffff;
	--ee-text-on-white: #595959;
}
