/** -------------------------------------------------------------------------
 * Event Espresso EntityPagination Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

@import 'application/ui/styles/mixins/breakpoints.scss';

.ee-entity-pagination {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	padding: var(--ee-padding-default);

	@include max782px {
		justify-content: center;
	}
}
