/** -------------------------------------------------------------------------
 * Event Espresso EntityPagination Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-entity-pagination {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;

	.ant-pagination {
		display: inline-block;
		padding-left: 0;
		margin: var(--ee-margin-big) 0;

		> {
			li {
				background: var(--ee-background-color);
				border: 1px solid var(--ee-color-grey-10);
				border-radius: 0;
				box-shadow: none;
				display: inline-block;
				height: calc(var(--ee-font-size-big) + var(--ee-font-size-bigger));
				margin: 0;
				position: relative;
				z-index: 1;

				+ li {
					margin-left: -1px;
				}

				&.ant-pagination-item,
				&.ant-pagination-prev,
				&.ant-pagination-next {
					width: calc(var(--ee-font-size-big) + var(--ee-font-size-bigger));
				}
				&.ant-pagination-jump-prev,
				&.ant-pagination-jump-next {
					min-width: calc(var(--ee-font-size-big) + var(--ee-font-size-bigger));
					width: auto;

					> a,
					> span {
						background: none;
						font-size: var(--ee-font-size-smaller);
						line-height: 2.1;

						.ant-pagination-item-link-icon {
							color: var(--ee-color-primary);
						}
					}
				}

				> a,
				> span {
					border: none !important;
					border-radius: 0;
					box-shadow: none;
					color: var(--ee-color-primary);
					cursor: pointer;
					display: block;
					font-size: var(--ee-font-size-small);
					height: 100%;
					line-height: 1.9;
					padding: var(--ee-padding-tiny);
					text-align: center;
					text-decoration: none;
					transition: all 0.2s;
					width: 100%;
				}

				&.ant-pagination-disabled {
					background: var(--ee-color-grey-14) !important;
					border-color: var(--ee-color-grey-10) !important;
					z-index: 0 !important;

					> a,
					> span {
						color: var(--ee-color-grey-8) !important;
						cursor: default !important;
					}
				}

				&.ant-pagination-item-active {
					background: var(--ee-color-primary);
					border-color: var(--ee-color-primary);
					border-radius: 0;
					z-index: 3;
					> a,
					> span {
						color: var(--ee-text-on-primary);
					}
				}

				&:focus,
				&:hover {
					border-color: var(--ee-color-primary);
					z-index: 2;
				}

				&.ant-pagination-prev {
					border-top-left-radius: var(--ee-border-radius-small) !important;
					border-bottom-left-radius: var(--ee-border-radius-small) !important;
					margin-left: 0;

					> a,
					> span {
						border-top-left-radius: var(--ee-border-radius-small);
						border-bottom-left-radius: var(--ee-border-radius-small);
					}
				}

				&.ant-pagination-next {
					border-top-right-radius: var(--ee-border-radius-small) !important;
					border-bottom-right-radius: var(--ee-border-radius-small) !important;
					margin-right: var(--ee-margin-default);

					> a,
					> span {
						border-top-right-radius: var(--ee-border-radius-small);
						border-bottom-right-radius: var(--ee-border-radius-small);
					}
				}

				&.ant-pagination-options {
					border-radius: var(--ee-border-radius-small);
					.ant-pagination-options-size-changer {
						border: none !important;
						height: calc(var(--ee-font-size-big) + var(--ee-font-size-bigger) - 2px);
						line-height: 1.9;
						margin: 0;
						min-width: 7rem;

						.ant-select-selector {
							border: none !important;
							box-shadow: none !important;
							display: block;
							font-size: var(--ee-font-size-small);
							height: 100%;
							line-height: 1.9;
							padding: var(--ee-padding-tiny) var(--ee-padding-small);
							width: 100%;

							span {
								line-height: 1.9;
								width: 100%;
							}

							.ant-select-selection-search {
								top: 1px;
							}
						}
					}
				}
			}
		}
	}
}
