/** -------------------------------------------------------------------------
 * Event Espresso EntityPagination Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-entity-pagination {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	padding: var(--ee-padding-huge) var(--ee-padding-default);
}
