/** -------------------------------------------------------------------------
 * Event Espresso editorDate Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-editor-metabox {
    margin: 20px 10px 10px 10px;
}

.ee-editor-date-div {
    float: left;
    margin: 0;
    padding: 0;
    height: 170px;
    width: 450px;
}

.ee-editor-date-outer-div {
    color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    width: 430px;
}

.ee-editor-date-inner-div {
    padding: 10px;
}

/* SIDEBAR MENU */

.ee-editor-date-sidebar-menu {
    float: right;
    margin: 0;
    padding: 0 0 0 20px;
    width:20px;
}

.ee-toggle-dropdown-menu-open,
.ee-editor-date-sidebar-menu-item {
    height: 20px;
    margin: 0;
    padding: 0 0 12px;
    text-align: left;
    width: 20px;
}

.ee-editor-date-sidebar-menu-item .ee-menu-item-icon {
    color: rgba(255, 255, 255, .75) !important;
}

.ee-toggle-dropdown-menu-open .ee-menu-item-icon,
.ee-editor-date-sidebar-menu-item .ee-menu-item-icon {
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
}

.ee-editor-date-sidebar-menu-item:hover {
    color: #fff !important;
}

.ee-editor-date-sidebar-menu-item .ee-menu-item-icon {
    margin: 0;
    top: 0 !important;
    vertical-align: top;
}

/* individual items can be modified using the following */
/*.ee-editor-date-sidebar-menu-item-0 { }*/
/*.ee-editor-date-sidebar-menu-item-1 { }*/
.ee-editor-date-sidebar-menu-item-2 { padding-top: 3px; }
/*.ee-editor-date-sidebar-menu-item-3 { }*/
/*.ee-editor-date-sidebar-menu-item-4 { }*/


/* DATE DETAILS */

.ee-editor-date-details-wrapper-div {
    display:inline-block;
    font-size: 16px;
    float: left;
    width: 290px;
}

.ee-editor-date-name-heading {
    margin: 0 0 15px;
    line-height: 20px;
    font-weight: bold;
    min-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: -1px -1px rgba(0, 0, 0, .1);
}

.ee-editor-date-location-div {
    : none;
    font-size: 14px;
    margin: 0 0 15px;
}

.ee-editor-date-location-div .ee-menu-item-icon.dashicons-location {
    margin-bottom: -2px;
}

.ee-editor-date-details-sold-rsrvd-cap-div {
    font-size: 21px;
    line-height: 21px;
    height: 42px;
    text-align: center;
}

.ee-editor-date-details-div {
    display: inline-block;
}

.ee-editor-date-details-value-div {
    font-weight: bold;
    text-shadow: -1px -1px rgba(0, 0, 0, .1);
}

.ee-editor-date-details-label-div {
    color: rgba(255, 255, 255, .75);
    font-size: 10px;
    letter-spacing: 1px;
}

.ee-editor-date-details-sep {
    border: 0 solid rgba(255, 255, 255, 0);
    border-left: 1px solid rgba(255, 255, 255, .25);
    display: inline-block;
    height: 40px;
    margin: 0 10px;
}

.ee-infinity-sign {
    font-size: 24px;
}

.ee-editor-date-details-reg-url-link {
    color: #fff;
    font-size: 24px;
    line-height: 21px;
    text-decoration: none !important;
    outline-style: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.ee-editor-date-details-reg-url-link .ee-menu-item-icon {
    top: 0 !important;
}

.ee-editor-date-details-reg-url-link:hover,
.ee-editor-date-details-reg-url-link:active {
    color: #fff;
}

.ee-editor-date-details-reg-url-link:focus {
    color: rgba(255, 255, 255, .75);
}

.ee-green-background {
    background-color: #93b343;
}

.ee-lt-grey-background {
    background-color: #a0a5a5;
}

.ee-orange-background {
    background-color: #f8ae00;
}

.ee-blue-background {
    background-color: #3297c3;
}

.ee-grow,
.ee-grow-big {
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1);
    transition: all 100ms ease-in;
    transform: scale(1);
}

.ee-grow:hover {
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.15);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.15);
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.15);
    transition: all 100ms ease-in;
    transform: scale(1.15);
}


.ee-grow-big:hover {
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.25);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.25);
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.25);
    transition: all 100ms ease-in;
    transform: scale(1.25);
}

/* Media Query for screens smaller then 768px (iPad portrait)
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1024px) {

    .ee-editor-metabox {
        margin: 5px 0 0;
    }

    .ee-editor-date-div {
        height: 152px;
        margin: 0 0 10px;
        width: 360px;
    }

    .ee-editor-date-outer-div {
        width: 350px;
    }

    .ee-calendar-page-date-wrapper {
        padding: 0 20px 0 0;
        width: auto;
    }

    .ee-editor-date-details-wrapper-div {
        width: 246px;
    }

    .ee-editor-date-sidebar-menu {
        padding: 0 0 0 10px;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

@media only screen and (max-width: 767px) {

    .ee-editor-date-div {
        height: 225px;
        width: 300px;
    }

    .ee-editor-date-outer-div {
        width: 290px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 481px) {
}

@media only screen and (max-width: 540px) and (min-width: 480px) {
}

@media only screen and (max-width: 480px) {

    .ee-editor-date-div {
        float: none;
        height: auto;
        margin: 0 0 10px;
        width: 366px;
    }

    .ee-editor-date-outer-div {
        width: 366px;
    }

    .ee-calendar-page-date-wrapper {
        padding: 0 20px 0 0;
        width: auto;
    }

    .ee-editor-date-details-wrapper-div {
        width: 246px;
    }

    .ee-editor-date-sidebar-menu {
        padding: 0 0 0 10px;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}



@media only screen and (max-width: 320px) {

    .ee-editor-metabox {
        margin: 5px 0 0;
    }

    .ee-editor-date-div {
        float: none;
        height: auto;
        margin: 0 0 10px;
        width: 272px;
    }

    .ee-editor-date-outer-div {
        width: 272px;
    }

    .ee-calendar-page-date-wrapper {
        padding: 0 20px 0 0;
        width: auto;
    }

    .ee-editor-date-details-wrapper-div {
        width: 242px;
    }

    .ee-editor-date-name-heading {
        width: 230px;
    }

    .ee-editor-date-sidebar-menu {
        padding: 0 0 0 10px;
    }
}



