.ee-calendar-date-range-wrapper {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	justify-content: space-between;
	min-height: calc(var(--ee-padding-micro) * 45);
	min-width: calc(var(--ee-padding-micro) * 34);
	padding: var(--ee-padding-tiny) var(--ee-padding-micro);
	text-align: center;
	vertical-align: bottom;
	width: 100%;

	.ee-calendar-date-range {
		align-content: space-between;
		display: flex;
		flex-flow: column nowrap;
		height: 100%;
		justify-content: space-evenly;
		&__footer {
			font-weight: 700;
			letter-spacing: var(--ee-letter-spacing-font-size-micro);
			text-transform: uppercase;
		}
	}

	@media only screen and (max-width: 480px) {
		min-height: auto;
		.ee-calendar-date-range {
			align-items: center;
			flex-flow: row nowrap;
			justify-content: center;

			&__divider {
				padding: 0 var(--ee-padding-big);
			}
		}
	}
}
