/** -------------------------------------------------------------------------
 * Event Espresso EntityListLegend Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

.ee {
	&-row {
		width: 100%;
	}
	&-list-table-legend {
		dt {
			display: flex;
			align-items: center;
		}
	}
	&-legend-description,
	&-status-legend {
		line-height: 25px;
	}
	&-status-legend {
		height: 18px;
		width: 18px;
	}
	&-legend-description {
		margin-left: 10px;
	}
}
