#espresso-toast-container .ee-toaster-notice {
	align-items: center;
	background-color: var(--ee-background-color);
	border-radius: var(--ee-border-radius-small);
	box-shadow: var(--ee-box-shadow-default);
	display: flex;
	flex-flow: row nowrap;
	font-size: 1rem;
	line-height: 1;
	justify-content: space-around;
	margin: var(--ee-margin-small) 0;
	max-width: 40rem;
	min-width: 20rem;
	overflow: hidden;
	padding: var(--ee-padding-small);
	position: relative;

	&__icon {
		// align-self: flex-start;
		height: 24px;
		justify-self: flex-start;
		position: relative;
		top: 0.125rem;
		width: 24px;
	}

	&--loading {
		.ee-toaster-notice__icon {
			animation: var(--ee-animation-spin);
		}
	}

	&__body {
		flex: 1;
		padding: 0 var(--ee-padding-default) 0 var(--ee-padding-small);
	}

	&__close-btn {
		color: #99a29d;
		justify-self: flex-end;
		height: var(--ee-icon-button-size);
		width: var(--ee-icon-button-size);
	}

	&--error {
		background-color: #f60d59;
		color: #fff;
		font-size: 1.1rem;
		.ee-toaster-notice__icon {
			color: #fff;
			text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
		}
		.ee-toaster-notice__close-btn {
			color: #fff;
			text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
		}
	}

	&--success {
		background-color: #fff;
		color: var(--ee-default-text-color);
		font-size: 1.1rem;
		.ee-toaster-notice__icon {
			color: green;
			text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
		}
		.ee-toaster-notice__close-btn {
			color: grey;
			text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
		}
	}

	&--warning {
		background-color: #ffe932;
		color: #3b413e;
		font-size: 1.1rem;
		.ee-toaster-notice__icon {
			color: #3b413e;
			text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2);
		}
		.ee-toaster-notice__close-btn {
			color: #3b413e;
			text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2);
		}
	}
}
