.ee-toaster-notice {
	--ee-toast-icon-size: 24px;
	--ee-toast-btn-size: 12px;

	&__container {
		.ee-toaster-notice {
			&__toast {
				align-items: center;
				background-color: var(--ee-background-color);
				border-radius: var(--ee-border-radius-small);
				box-shadow: var(--ee-box-shadow-default);
				color: var(--ee-default-text-color);
				display: flex;
				flex-flow: row nowrap;
				font-size: 1.1rem;
				line-height: 1.2rem;
				justify-content: space-around;
				margin-bottom: var(--ee-margin-smaller);
				max-width: 40rem;
				min-width: 20rem;
				overflow: hidden;
				padding: var(--ee-padding-small);
				position: relative;
			}

			&__toast-body {
				display: flex;
				align-items: center;

				svg {
					display: inline-flex;
					margin: 0 var(--ee-margin-smaller) 0 0;
					&.ee-loading-spinner {
						animation: loadingCircle 1s infinite linear;
					}
				}
			}
		}

		.Toastify__close-button {
			color: var(--ee-default-text-color);
		}
	}

	.ee-toaster-notice {
		&__icon {
			height: var(--ee-toast-icon-size);
			left: 0.125rem;
			justify-self: flex-start;
			position: relative;
			width: var(--ee-toast-icon-size);
		}

		&__body {
			flex: 1;
			padding: var(--ee-padding-nano) var(--ee-padding-default) var(--ee-padding-micro);
		}

		&__close-btn {
			background-color: transparent;
			color: #99a29d;
			justify-self: flex-end;
			height: var(--ee-toast-icon-size);
			min-width: var(--ee-toast-icon-size);
			width: var(--ee-toast-icon-size);

			svg {
				height: var(--ee-toast-btn-size);
				min-width: var(--ee-toast-btn-size);
				width: var(--ee-toast-btn-size);
			}
		}

		&--error {
			background-color: #f60d59;
			color: #fff;
			font-size: 1.2rem;
			line-height: 1.3rem;
			.ee-toaster-notice__icon,
			.ee-toaster-notice__close-btn {
				color: #fff;
			}
		}

		&--loading {
			.ee-toaster-notice__icon {
				animation: var(--ee-animation-spin);
			}
		}

		&--warning {
			background-color: #ffe932;
			color: #1a1919;
			font-size: 1.2rem;
			line-height: 1.3rem;

			.ee-toaster-notice__icon,
			.ee-toaster-notice__close-btn {
				color: #3b413e;
			}
		}
	}
}

@keyframes loadingCircle {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
