/** -------------------------------------------------------------------------
 * Event Espresso Tickets List List View Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

/* table (ul) */
.ee-tickets-list-list-view {
    font-size: 1rem;
    font-weight: normal;
    margin: .5rem 0 1rem;
}

/* table rows (div) */
.ee-editor-ticket-list-view-div {
    margin: 0 0 1px;
    border: 1px solid var(--ee-white);
}

/* headers row */
.ee-tickets-list-list-view > div:nth-of-type(1) {
    background: none !important;
    border: none !important;
}

/* zebra striping */
.ee-tickets-list-list-view > div:nth-of-type(even) {
    background: var(--ee-not-quite-white);
    border: 1px solid var(--ee-not-quite-white);
}

/* row highlighting */
.ee-tickets-list-list-view > div:hover {
    background: var(--ee-near-white);
    border: 1px solid var(--ee-near-white);
}

/* table rows (inner) */
.ee-editor-ticket-list-items {
    display: flex;
    flex-flow: row nowrap;
}

/* table cells */
.ee-ticket-list-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 36px;
    height: 56px;
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* headers */
.ee-tickets-list-list-view > div:nth-of-type(1) .ee-ticket-list-item {
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    height: auto;
    padding-bottom: 5px;
}

/* status bar */
.ee-editor-ticket-list-items > div:nth-of-type(1) {
    padding: 0;
    width: 5px;
}

/* ID */
.ee-editor-ticket-list-items > div:nth-of-type(2) {
    min-width: 20px;
    text-align: right;
    width: 5%;
}

/* Name */
.ee-editor-ticket-list-items > div:nth-of-type(3) {
    width: 25%;
}

/* Start Date & End Date */
.ee-editor-ticket-list-items > div:nth-of-type(4),
.ee-editor-ticket-list-items > div:nth-of-type(5) {
    width: 15%;
}

/* Sold, Reserved, & Capacity */
.ee-editor-ticket-list-items > div:nth-of-type(6),
.ee-editor-ticket-list-items > div:nth-of-type(7),
.ee-editor-ticket-list-items > div:nth-of-type(8) {
    text-align: right;
    width: 6%;
}

/* Registrants */
.ee-editor-ticket-list-items > div:nth-of-type(9) {
    text-align: center;
    width: 7.5%;
}

/* Actions */
.ee-editor-ticket-list-items > div:nth-of-type(10) {
    position: relative;
    overflow: visible;
    text-align: center;
    width: 14%;
}

.ee-ticket-list-item .ee-infinity-sign {
    font-size: 16px;
    margin-top: -4px;
}

.ee-ticket-list-item .dashicons {
    margin:0;
}

/* row level labels */
.ee-ticket-list-item-label {
    display: none;
}

/* status bar value */
.ee-editor-ticket-list-items > div:nth-of-type(1) .ee-ticket-list-item-value {
    display: none;
}


/* Media Queries for smaller screens
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1280px) {

    .ee-tickets-list-list-view {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .ee-editor-ticket-list-view-div {
        margin: 0 0 1.5rem;
        min-width: 260px;
        width: 47.5%;
    }

    /* headers row */
    .ee-tickets-list-list-view > div:nth-of-type(1) {
        display: none !important;
    }

    /* table rows */
    .ee-tickets-list-list-view > div,
    .ee-tickets-list-list-view > div:hover {
        background: none !important;
        border: none;
    }

    /* table rows (inner) */
    .ee-editor-ticket-list-items {
        flex-flow: column nowrap;
        border: 1px solid var(--ee-grey-white);
    }

    /* table cells */
    .ee-ticket-list-item {
        line-height: 18px;
        height: auto;
        overflow: visible;
        padding: 10px;
        text-align: left !important;
        text-overflow: unset;
        white-space: normal;
        width: auto !important;
        word-break: break-word;
    }

    /* row level labels */
    .ee-ticket-list-item-label {
        color: var(--ee-grey);
        display: inline-block;
        font-size: 13px;
        padding: 0 10px 0 0;
        text-align: right;
        width: 33%;
    }

    .ee-ticket-list-item-value {
        display: inline-block;
    }

    /* Date Name in status bar value */
    .ee-editor-ticket-list-items > div:nth-of-type(1) .ee-ticket-list-item-value {
        display: block;
    }

    /* status bar */
    .ee-editor-ticket-list-items > div:nth-of-type(1) {
        color: var(--ee-white) !important;
        padding: 10px;
        width: auto;
    }

    /* Name */
    .ee-editor-ticket-list-items > div:nth-of-type(3),
        /* status bar */
    .ee-editor-ticket-list-items > div:nth-of-type(1) .ee-ticket-list-item-label {
        display: none;
    }

    /* Actions  menu */
    .ee-tickets-list-list-view .ee-editor-ticket-actions-menu {
        left: 33%;
        padding-left: 10px;
        right: unset;
        top: 2px;
    }

    .ee-tickets-list-list-view .ee-dropdown-menu-div {
        left: 12%;
        right: unset;
    }

}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) and (min-width: 481px) {
}

@media only screen and (max-width: 540px) and (min-width: 481px) {
}

@media only screen and (max-width: 480px) {

    .ee-editor-ticket-list-view-div {
        min-width: 240px;
        width: 100%;
    }

    .ee-tickets-list-list-view {
        justify-content: center;
    }
}

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
}


/* WordPress Media Query breakpoints
 * -------------------------------------------------------------------------*/

/* Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
}

/* one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
}

/* Tablet */
@media screen and ( max-width: 782px ) {
}

/* Smartphone */
@media screen and (max-width: 600px) {
}
