/** -------------------------------------------------------------------------
 * Event Espresso Tickets List List View Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and ( max-width: 782px ) {
    .ee-editor-ticket-actions-menu {
        justify-content: start;
    }
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
    .ee-rspnsv-table .ee-ticket-list-col-actions.ee-rspnsv-table-body-td .ee-rspnsv-table-mobile-only-column-value {
        clear: both;
        width: 100%;
    }

    .ee-editor-ticket-actions-menu {
        justify-content: center;
    }
}
