.messages-custom-template-switcher {
    width: 100%;
}

.messages-custom-template-switcher td:first {
    width: 25%;
}

.messages-custom-template-switcher td:nth-child(2) {
    width: 25%;
    padding-right: 10px;
}

.messages-custom-template-switcher td:last-child {
    width: 50%;
}

.messages-custom-template-switcher thead {
    font-weight: bold;
    font-size: 1.2em;
}

.messages-custom-template-switcher select {
    width: 100%;
}

.messages-custom-template-switcher .button-small {
    margin-right: 20px;
}
