:root {
    /* Base Buttons */
    --ee-button-base-color: #fff;
    --ee-button-base-background-color: #00B1CA;
    --ee-button-base-color-gradient-x: #4EBFDE;
    --ee-button-base-color-gradient-y: #00B1CA;
    --ee-button-base-border-color: rgba(0,0,0,0.01);
    --ee-button-base-border-top-color: rgba(255,255,255,0.5);
    --ee-button-base-border-bottom-color: rgba(0,0,0,0.25);
    --ee-button-base-hover-color: #fff;
    --ee-button-base-hover-background-color: #00c7e3;
}