:root {

    /** font sizes **/
    --ee-font-size-micro: 11;
    --ee-font-size-tiny: 12;
    --ee-font-size-smaller: 14;
    --ee-font-size-small: 16;
    --ee-font-size-default: 18;
    --ee-font-size-big: 24;
    --ee-font-size-bigger: 32;
    --ee-font-size-huge: 45;
    --ee-font-size-extreme: 60;
    --ee-line-height-modifier: 1.5;

    /** padding sizes **/
    --ee-padding-micro: 0.25;
    --ee-padding-tiny: 0.5;
    --ee-padding-smaller: 1;
    --ee-padding-small: 1.5;
    --ee-padding-default: 2;
    --ee-padding-big: 2.5;
    --ee-padding-bigger: 3;
    --ee-padding-huge: 3.5;
    --ee-padding-extreme: 4;

    /** margin sizes **/
    --ee-margin-micro: 0.25;
    --ee-margin-tiny: 0.5;
    --ee-margin-smaller: 1;
    --ee-margin-small: 1.5;
    --ee-margin-default: 2;
    --ee-margin-big: 2.5;
    --ee-margin-bigger: 3;
    --ee-margin-huge: 3.5;
    --ee-margin-extreme: 4;

    /** border radius sizes **/
    --ee-border-radius-small: 4;
    --ee-border-radius-default: 5;
    --ee-border-radius-big: 8;
    --ee-border-radius-bigger: 16;
    --ee-border-radius-huge: 32;

}
