:root {
    --ee-size-1: 1;
    --ee-size-2: 2;
    --ee-size-3: 3;
    --ee-size-4: 4;
    --ee-size-5: 5;
    --ee-size-6: 6;
    --ee-size-7: 7;
    --ee-size-8: 8;
    --ee-size-9: 9;
    --ee-size-10: 10;
    --ee-size-11: 11;
    --ee-size-12: 12;
    --ee-size-13: 13;
    --ee-size-14: 14;
    --ee-size-16: 16;
    --ee-size-18: 18;
    --ee-size-20: 20;
    --ee-size-22: 22;
    --ee-size-24: 24;


    /** font size names **/
    --ee-font-size-small: 11;
    --ee-font-size-medium: 13;
    --ee-font-size-large: 14;
    --ee-font-size-huge: 16;

    /** radius size names **/
    --ee-radius-size-small: 3;
    --ee-radius-size-normal: 6;
}