.espresso-admin .wp-list-table th.column-primary.column-to.sorted > a,
.espresso-admin .wp-list-table th.column-primary.column-to.sortable > a {
    justify-content: flex-start;
}

.ee-msg-admin-header {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 2fr 1.5fr 1.5rem var(--ee-admin-sidebar-width);
    grid-template-areas:
    "msg-header-1 msg-header-2 postbox-1";
    margin-block-start: 2.25rem;
}

.espresso-admin #ee-msg-edit-frm  #post-body.columns-2 #postbox-container-1 {
    margin-block-start: -5.5rem;
}

#mtp_valid_shortcodes .shortcode-field-table {
    margin-top: 12px;
}

#mtp_valid_shortcodes .ee-shortcode-table-scroll {
    max-height: 400px;
    overflow: auto;
}

#ee-msg-context-switcher-frm {
    display: inline-block;
}
.messages-preview-button {
    display: inline-block;
}

#espresso_espresso_messages_editor_overview #minor-publishing {
    border: none;
}

#minor-publishing ul li {
    text-align: right;
}

.resetbutton {
    margin-right: 5px;
}

.mtp-inactive {
    color: var(--ee-status-color-grey);
}

/** editor styles **/
#ee-msg-non-global-fields-MTP_description {
    height: 150px;
}

.non-global-mtp-fields {
    padding-block: 1rem;
}

.ee-msg-switcher-container {
    background: white;
    grid-area: msg-header-2;
    margin: 0;
    padding: 1rem 1rem 1rem 0;
}

#mtp_valid_shortcodes .shortcode-field-table {
    margin-top: 12px;
}

#mtp_valid_shortcodes .ee-shortcode-table-scroll {
    max-height: 400px;
    overflow: auto;
}

#ee-msg-context-switcher-frm {
    display: inline-block;
}
.messages-preview-button {
    display: inline-block;
}

#espresso_espresso_messages_editor_overview #minor-publishing {
    border: none;
}

#minor-publishing ul li {
    text-align: right;
}

.resetbutton {
    margin-right: 5px;
}

.mtp-inactive {
    color: var(--ee-status-color-grey);
}


#ee-msg-non-global-fields-MTP_description {
    height: 150px;
}


#ee-msg-edit-frm h4,
#ee-msg-edit-frm .admin-primary-mbox-dv label {
    display: block;
    font-size: 1.25em;
    font-weight: 600;
    margin: 0;
    margin-block-end: .5rem;
}
#ee-msg-edit-frm h4 {
    margin-block-start: 1.5rem;
}
#ee-msg-edit-frm .admin-primary-mbox-dv label > span {
    color: var(--ee-status-color-red);
    font-size: 1.5rem;
    font-weight: 700;
}

#ee-msg-edit-frm .admin-primary-mbox-dv label.ee-msg-small-label {
    font-size: 1.1em;
    font-weight: 400;
    margin-block-end: .375rem;
}



/** overview table styles **/
.espresso-admin .wp-list-table.messages  th.column-primary.column-to,
.espresso-admin .wp-list-table.messages  td.column-primary.column-to,
.espresso-admin .wp-list-table.messagetemplate  th.column-primary.column-to,
.espresso-admin .wp-list-table.messagetemplate  td.column-primary.column-to {
  max-width: unset;
  min-width: unset;
  padding-inline: 1rem;
  width: 15%;
}

.espresso-admin .wp-list-table.messages .column-name,
.espresso-admin .wp-list-table.messagetemplate .column-name {
    width: 15%;
}

.espresso-admin .wp-list-table.messages .column-messenger,
.espresso-admin .wp-list-table.messagetemplate .column-messenger {
    width: 7.5%;
}

.espresso-admin .wp-list-table.messages .column-message_type,
.espresso-admin .wp-list-table.messagetemplate .column-message_type {
    width: 15%;
}

.espresso-admin .wp-list-table.messages .column-recipients,
.espresso-admin .wp-list-table.messagetemplate .column-recipients {
    width: 12rem;
}

.espresso-admin .wp-list-table.messages .column-description,
.espresso-admin .wp-list-table.messagetemplate .column-description {
    width: 40%;
}

.espresso-admin .wp-list-table.messages .column-description,
.espresso-admin .wp-list-table.messagetemplate .column-description {
    width: 35%;
}

.espresso-admin .wp-list-table.messages .column-events,
.espresso-admin .wp-list-table.messagetemplate .column-events {
    width: 10%;
    text-align: center;
}



/** status incomplete (queued for generation) **/
.msg-status-MIC,
.msg-status-MIC .check-column {
    border-left-color: var(--ee-status-color-grey);  /* prev: #A39D9C */
}
.ee-status-legend-MIC {
    background-color: var(--ee-status-color-grey);  /* prev: #A39D9C */
}


/** status idle (queued for sending) **/
.msg-status-MID,
.msg-status-MID .check-column {
    border-left-color: var(--ee-status-color-light-blue); /* prev: #00B1CA */
}
.ee-status-legend-MID {
    background-color: var(--ee-status-color-light-blue); /* prev: #00B1CA */
}


/** status resend (queued for resending) **/
.msg-status-MRS,
.msg-status-MRS .check-column {
    border-left-color: var(--ee-status-color-blue); /* prev: #FCB93C */
}
.ee-status-legend-MRS {
    background-color: var(--ee-status-color-blue); /* prev: #FCB93C */
}


/** status executing **/
.msg-status-MEX,
.msg-status-MEX .check-column {
    border-left-color: var(--ee-status-color-green);  /* prev: #ff6faa */
}
.ee-status-legend-MEX {
    background-color: var(--ee-status-color-green);  /* prev: #ff6faa */
}


/** status sent **/
.msg-status-MSN,
.msg-status-MSN .check-column {
    border-left-color: var(--ee-status-color-dark-green);  /* prev: #70CC50 */
}
.ee-status-legend-MSN {
    background-color: var(--ee-status-color-dark-green);  /* prev: #70CC50 */
}


/** status failed **/
.msg-status-MFL,
.msg-status-MFL .check-column {
    border-left-color: var(--ee-status-color-pink);  /* prev: #E44064 */
}
.ee-status-legend-MFL {
    background-color: var(--ee-status-color-pink);  /* prev: #E44064 */
}


/** status debug ? **/
.msg-status-MDO,
.msg-status-MDO .check-column {
    border-left-color: var(--ee-status-color-red);  /* prev: #D2D405 */;
}
.ee-status-legend-MDO {
    background-color: var(--ee-status-color-red);  /* prev: #D2D405 */;
}


/** status retry (failed sending but can be retried) **/
.msg-status-MRT,
.msg-status-MRT .check-column {
    border-left-color: var(--ee-status-color-orange); /* prev: #E76700 */
}
.ee-status-legend-MRT {
    background-color: var(--ee-status-color-orange); /* prev: #E76700 */
}


#ee-msg-edit-frm .admin-primary-mbox-dv > ul,
#ee-msg-edit-frm .admin-primary-mbox-dv >ul > li {
    margin: 0;
    padding: 0;
    padding-block: 1px;
}
#ee-msg-edit-frm .admin-primary-mbox-dv >ul {
    margin-block-start: 1rem;
}
#ee-msg-edit-frm .admin-primary-mbox-dv >ul > li {
    margin-block-end: 3rem;
}


.ee-messages-shortcodes-chooser-wrap {
    float: right;
    padding: 0.125rem;
    position: relative;
}

.ee-messages-shortcodes-chooser {
    margin-top: 0;
    font-size: 1.4em;
    cursor: pointer;
}

.wp-core-ui .button.ee-messages-shortcodes-chooser {
    align-items: center;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    padding: 0;
    width: 30px;
}
.wp-core-ui .button.ee-messages-shortcodes-chooser .dashicons {
    margin: 0;
    top: unset;
}

.ee-messages-shortcodes-close-btn {
    border: none !important;
    background: none !important;
    color: hsla(207, 5%, 10%, .5);
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    inset-block-start: 0.25rem;
    inset-inline-end: 0;
    transition: all 150ms;
}
.ee-messages-shortcodes-close-btn:hover {
    color: hsla(207, 5%, 10%, 1);
}


h4 + .ee-messages-shortcodes-chooser-wrap {
    top: 8px;
}

.ee-shortcode-chooser-open {
    position:absolute;
    left: -250px;
}

.ee_shortcode_chooser_container {
    background-color: var(--ee-color-white);
    border: 2px solid var(--ee-status-color-blue);
    border-radius: .25rem;
    box-shadow: 0 3px 6px -1px hsla(0, 0%, 0%, .75), 0 0 20px -2px hsla(0, 0%, 0%, .15);
    font-size: .9rem;
    font-weight: 600;
    height: auto;
    margin: 0;
    max-height: 300px;
    min-height: 150px;
    min-width: 300px;
    overflow: scroll;
    padding: 1rem !important;
    text-align: left;
    width: fit-content;
    white-space: nowrap;
    z-index: 4000;
}

#ee-msg-edit-frm #titlediv {
    margin-block-end: 1rem;
}

#ee-msg-edit-frm .admin-primary-mbox-dv .ee_shortcode_chooser_container h6 {
    color: var(--ee-font-color-light);
    font-size: .9rem;
    font-weight: 800;
    line-height: 1.25;
    margin: 0;
    margin-block-end: 1rem;
}

#ee-msg-edit-frm .admin-primary-mbox-dv .ee_shortcode_chooser_container h4 {
    color: var(--ee-border-color);
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
    margin: 0;
    margin-block-end: 1.75rem;
}





#ee-msg-edit-frm .admin-primary-mbox-dv .ee_shortcode_chooser_container ul,
#ee-msg-edit-frm .admin-primary-mbox-dv .ee_shortcode_chooser_container li {
    margin: 0;
    padding: 0;
    padding-block: 1px;
}
#ee-msg-edit-frm .admin-primary-mbox-dv .ee_shortcode_chooser_container li {
    margin-block-end: .5rem;
}

#ee-msg-edit-frm .admin-primary-mbox-dv .ee_shortcode_chooser_container .js-shortcode-selection {
    cursor: pointer;
    display: inline-block;
    padding: .25rem .5rem;
    transition: all 150ms;
}

#ee-msg-edit-frm .admin-primary-mbox-dv .ee_shortcode_chooser_container .js-shortcode-selection:not(.ee-shortcode-selected):hover {
    background-color: var(--ee-status-color-pale-blue);
    color: var(--ee-font-color-dark);
}
#ee-msg-edit-frm .admin-primary-mbox-dv .ee_shortcode_chooser_container .js-shortcode-selection.ee-shortcode-selected {
    color: var(--ee-border-color);
    cursor: not-allowed;
}

#ee-msg-edit-frm .admin-primary-mbox-dv .ee_shortcode_chooser_container li:last-of-type {
    margin-bottom: 0;
}


#ee-msg-edit-frm .admin-primary-mbox-dv input.large-text,
#ee-msg-edit-frm .admin-primary-mbox-dv textarea.large-text {
    margin-inline: 0;
    width: 100%;
    max-width: 100%;
}

#ee-msg-edit-frm .admin-primary-mbox-dv li .wp-editor-wrap,
#ee-msg-edit-frm .admin-primary-mbox-dv li input.large-text,
#ee-msg-edit-frm .admin-primary-mbox-dv li textarea.large-text {
    margin-inline: 0;
    max-width: 100%;
    width: calc(100% - 2rem - var(--ee-button-height));
}
#ee-msg-edit-frm .admin-primary-mbox-dv li .wp-editor-wrap {
    background: var(--ee-color-almost-white);
    border-radius: .5rem;
    margin-block-start: .5rem;
    padding: 1rem;
    width: calc(100% - (5rem - 4px) - var(--ee-button-height));
}

/** context toggle **/
 .context-active-control-container {
    align-items: center;
    background: white;
    display: flex;
    grid-area: msg-header-1;
    padding: 1rem 0 1rem 1rem;
    --ee-switch-size: 1.5rem;
    --ee-switch-size-btn: calc(var(--ee-switch-size) * .75);
    --ee-switch-size-width: calc(var(--ee-switch-size) * 2);
}
 .context-active-control-container .spinner {
     margin: 0;
     margin-inline: 1rem;
}
.activate_context_on_off_toggle_container {
    display: flex;
}
.activate_context_on_off_toggle_container .ee-on-off-toggle-label {
    /* width: 24rem; */
    margin-inline-end: 1rem;
}
.activate_context_on_off_toggle_container #ee-on-off-toggle-primary_attendee {
    display: none;
}
