/* 
    Document   : espresso_registration_forms_admin
    Created on : 29-Jan-2013, 10:30:18 AM
    Author     : mnelson4
    Description:
        Purpose of the stylesheet follows.
*/
#question_options .sample{
	display:none;
}

