.components-dropdown {
	display: inline-block;
}

.components-dropdown-menu__indicator:after {
	content: '';
	pointer-events: none;
	display: block;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 5px solid;
	margin-left: 4px;
	margin-right: 2px;
}

.components-dropdown-menu__popover .components-popover__content {
	width: 200px;
}

.components-dropdown-menu__menu {
	width: 100%;
	padding: 7px 0;
	font-size: 13px;
	line-height: 1.4;

	.components-dropdown-menu__menu-item,
	.components-menu-item {
		background-color: transparent !important;
		border: none !important;
		box-shadow: unset !important;
		cursor: pointer;
		margin: 0 !important; // important was needed because it is conflicting with EspressoButton styles
		outline: none;
		padding: 0 !important;
		width: 100% !important; // important was needed because it is conflicting with EspressoButton styles
	}

	.components-dropdown-menu__menu-item.has-separator,
	.components-menu-item.has-separator {
		margin-top: 6px;
		position: relative;
		overflow: visible;
	}

	.components-dropdown-menu__menu-item.has-separator:before,
	.components-menu-item.has-separator:before {
		display: block;
		content: '';
		box-sizing: content-box;
		background-color: #e2e4e7;
		position: absolute;
		top: -3px;
		left: 0;
		right: 0;
		height: 1px;
	}

	.components-dropdown-menu__menu-item:focus:not(:disabled):not([aria-disabled='true']):not(.is-secondary),
	.components-menu-item:focus:not(:disabled):not([aria-disabled='true']):not(.is-secondary) {
		color: #191e23;
		border: none;
		box-shadow: none;
		outline-offset: -2px;
		outline: 1px dotted #555d66 !important;
	}

	.components-dropdown-menu__menu-item {
		&:hover,
		&:not(:disabled):not([aria-disabled='true']):not(.is-secondary):not(.is-tertiary):not(.is-primary):hover {
			color: #191e23;
			border: none;
			background: #f3f4f5 !important;
			box-shadow: none;
		}
	}

	.components-menu-item {
		&:hover,
		&:not(:disabled):not([aria-disabled='true']):not(.is-secondary):not(.is-tertiary):not(.is-primary):hover {
			color: #191e23;
			border: none;
			background: #f3f4f5 !important;
			box-shadow: none;
		}
	}

	.components-dropdown-menu__menu-item > svg,
	.components-menu-item > svg {
		border-radius: 4px;
		padding: 2px;
		width: 24px;
		height: 24px;
		margin: -1px 8px -1px 0;
	}

	.components-dropdown-menu__menu-item:not(:disabled):not([aria-disabled='true']):not(.is-secondary).is-active > svg,
	.components-menu-item:not(:disabled):not([aria-disabled='true']):not(.is-secondary).is-active > svg {
		outline: none;
		color: #fff;
		box-shadow: none;
		background: #555d66;
	}

	.components-menu-group:not(:last-child) {
		border-bottom: 1px solid #e2e4e7;
	}

	.components-menu-item__button {
		height: auto;
		padding-left: 2rem;

		&.components-button {
			height: auto;
			padding-left: 2rem;

			&.has-icon {
				padding-left: 0.5rem;
			}
		}

		&.has-icon {
			padding-left: 0.5rem;
		}

		&.components-button .dashicon,
		.dashicon {
			margin-right: 4px;
		}
	}

	.components-dropdown-menu__menu-item:focus:not(:disabled):not([aria-disabled='true']):not(.is-secondary),
	.components-menu-item:focus:not(:disabled):not([aria-disabled='true']):not(.is-secondary) {
		color: #191e23;
		border: none;
		box-shadow: none;
		outline-offset: -2px;
		outline: 1px dotted #555d66;
	}

	.components-dropdown-menu__menu-item {
		&:hover,
		&:not(:disabled):not([aria-disabled='true']):not(.is-secondary):not(.is-tertiary):not(.is-primary):hover {
			color: #191e23;
			border: none;
			background: #f3f4f5;
			box-shadow: none;
		}
	}

	.components-menu-item {
		&:hover,
		&:not(:disabled):not([aria-disabled='true']):not(.is-secondary):not(.is-tertiary):not(.is-primary):hover {
			color: #191e23;
			border: none;
			background: #f3f4f5;
			box-shadow: none;
		}
	}

	.components-dropdown-menu__menu-item > svg,
	.components-menu-item > svg {
		border-radius: 4px;
		padding: 2px;
		width: 24px;
		height: 24px;
		margin: -1px 8px -1px 0;
	}

	.components-dropdown-menu__menu-item:not(:disabled):not([aria-disabled='true']):not(.is-secondary).is-active > svg,
	.components-menu-item:not(:disabled):not([aria-disabled='true']):not(.is-secondary).is-active > svg {
		outline: none;
		color: #fff;
		box-shadow: none;
		background: #555d66;
	}

	.components-menu-group:not(:last-child) {
		border-bottom: 1px solid #e2e4e7;
	}

	.components-menu-item__button {
		height: auto;
		padding-left: 2rem;

		&.components-button {
			height: auto;
			padding-left: 2rem;
		}
	}
}

.components-popover {
	position: fixed;
	z-index: 1000000;
	top: 0;
	left: 0;
	opacity: 0;

	&.is-expanded,
	&[data-x-axis][data-y-axis] {
		opacity: 1;
	}

	&.is-expanded {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1000000 !important;
	}

	&:not(.is-without-arrow) {
		margin-left: 2px;

		&:before {
			border: 8px solid #e2e4e7;
		}

		&:after {
			border: 8px solid #fff;
			content: '';
			position: absolute;
			height: 0;
			width: 0;
			line-height: 0;
		}

		&:before {
			content: '';
			position: absolute;
			height: 0;
			width: 0;
			line-height: 0;
		}

		&[data-y-axis='top'] {
			margin-top: -8px;

			&:before {
				bottom: -8px;
			}

			&:after {
				bottom: -6px;
				border-bottom: none;
				border-left-color: transparent;
				border-right-color: transparent;
				border-top-style: solid;
				margin-left: -10px;
			}

			&:before {
				border-bottom: none;
				border-left-color: transparent;
				border-right-color: transparent;
				border-top-style: solid;
				margin-left: -10px;
			}
		}

		&[data-y-axis='bottom'] {
			margin-top: 8px;

			&:before {
				top: -8px;
			}

			&:after {
				top: -6px;
				border-bottom-style: solid;
				border-left-color: transparent;
				border-right-color: transparent;
				border-top: none;
				margin-left: -10px;
			}

			&:before {
				border-bottom-style: solid;
				border-left-color: transparent;
				border-right-color: transparent;
				border-top: none;
				margin-left: -10px;
			}
		}

		&[data-y-axis='middle'] {
			&[data-x-axis='left'] {
				margin-left: -8px;

				&:before {
					right: -8px;
				}

				&:after {
					right: -6px;
					border-bottom-color: transparent;
					border-left-style: solid;
					border-right: none;
					border-top-color: transparent;
				}

				&:before {
					border-bottom-color: transparent;
					border-left-style: solid;
					border-right: none;
					border-top-color: transparent;
				}
			}

			&[data-x-axis='right'] {
				margin-left: 8px;

				&:before {
					left: -8px;
				}

				&:after {
					left: -6px;
					border-bottom-color: transparent;
					border-left: none;
					border-right-style: solid;
					border-top-color: transparent;
				}

				&:before {
					border-bottom-color: transparent;
					border-left: none;
					border-right-style: solid;
					border-top-color: transparent;
				}
			}
		}
	}

	&[data-y-axis='top'] {
		bottom: 100%;
	}

	&[data-y-axis='bottom'] {
		top: 100%;
	}

	&[data-y-axis='middle'] {
		align-items: center;
		display: flex;
	}
}

.components-popover__content {
	box-shadow: 0 3px 30px rgba(25, 30, 35, 0.1);
	border: 1px solid #e2e4e7;
	background: #fff;
	height: 100%;
}

.components-popover {
	.components-popover__content {
		position: absolute;
		height: auto;
		overflow-y: auto;
		min-width: 260px;
	}

	&.is-expanded .components-popover__content {
		position: static;
		height: calc(100% - 50px);
		overflow-y: visible;
		min-width: auto;
		border: none;
		border-top: 1px solid #e2e4e7;
	}

	&[data-y-axis='top'] .components-popover__content {
		bottom: 100%;
	}

	&[data-x-axis='center'] .components-popover__content {
		left: 50%;
		transform: translateX(-50%);
	}

	&[data-x-axis='right'] .components-popover__content {
		position: absolute;
		left: 100%;
	}

	&:not([data-y-axis='middle'])[data-x-axis='right'] .components-popover__content {
		margin-left: -24px;
	}

	&[data-x-axis='left'] .components-popover__content {
		position: absolute;
		right: 100%;
	}

	&:not([data-y-axis='middle'])[data-x-axis='left'] .components-popover__content {
		margin-right: -24px;
	}
}

.components-popover__content > div {
	height: 100%;
}

.components-animate__appear {
	animation: components-animate__appear-animation 0.1s cubic-bezier(0, 0, 0.2, 1) 0s;
	animation-fill-mode: forwards;

	&.is-from-top {
		transform-origin: top left;

		&.is-from-left {
			transform-origin: top left;
		}

		&.is-from-right {
			transform-origin: top right;
		}
	}

	&.is-from-bottom {
		transform-origin: bottom left;

		&.is-from-left {
			transform-origin: bottom left;
		}

		&.is-from-right {
			transform-origin: bottom right;
		}
	}
}

@media (prefers-reduced-motion: reduce) {
	.components-animate__appear {
		animation-duration: 1ms;
	}
}

@keyframes components-animate__appear-animation {
	0% {
		transform: translateY(-2em) scaleY(0) scaleX(0);
	}

	to {
		transform: translateY(0) scaleY(1) scaleX(1);
	}
}

.components-animate__slide-in {
	animation: components-animate__slide-in-animation 0.1s cubic-bezier(0, 0, 0.2, 1);
	animation-fill-mode: forwards;

	&.is-from-left {
		transform: translateX(100%);
	}
}

@media (prefers-reduced-motion: reduce) {
	.components-animate__slide-in {
		animation-duration: 1ms;
	}
}

@keyframes components-animate__slide-in-animation {
	to {
		transform: translateX(0);
	}
}

.components-animate__loading {
	animation: components-animate__loading 1.6s ease-in-out infinite;
}

@keyframes components-animate__loading {
	0% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0.5;
	}
}
