div,
body,
header,
#navigation,
footer {
    box-sizing: border-box !important;
}

body {
    background-color: var(--ee-background-color);
    color: var(--ee-default-text-color);
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: calc(var(--ee-font-size-default) * 1px);
    line-height: var(--ee-line-height-modifier);
    padding: calc(74px + var(--ee-padding-default) * 1rem) 0 0;
    margin: 0;
    width: 100%;
    word-wrap: break-word;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 calc(var(--ee-padding-small) * 1rem);
    position: relative;
}

header {
    background-color: #302B30;
    border-bottom: 4px solid var(--ee-color-accent);
    color: var(--ee-color-white);
    height: auto;
    line-height: 1.2;
    min-height: 74px;
    padding: calc(var(--ee-padding-smaller) * 1rem) 0;
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

header h4 {
    margin: calc(var(--ee-padding-tiny) * 1.5rem) calc(var(--ee-padding-smaller) * 1rem) 0;
    position: relative;
    white-space: nowrap;
    z-index: 5;
}

.logo,
.title {
    position: relative;
    z-index: 1;
}
.espresso-icon {
    border: 2px solid var(--ee-color-white);
    border-radius: calc(var(--ee-border-radius-bigger) * 1px);
    float: left;
    margin: 0;
    padding: 3px;
    position: relative;
    z-index: 5;
}

footer {
    background-color: #302B30;
    color: var(--ee-color-white);
    padding: calc(var(--ee-padding-smaller) * 1rem) 0;
    margin: calc(var(--ee-padding-default) * 1rem) 0 0;
    width: 100%;
}
footer span {
    color: var(--ee-color-white);
}

header .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header .wrapper::after {
    content: "";
    clear: both;
    display: table;
}

footer .wrapper,
.demo-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}



a { color: var(--ee-color-primary); font-weight: bold; text-decoration: none; }
a:hover { color: var(--ee-color-secondary); }

#menu a,
footer a { color: var(--ee-color-blue-low-contrast); }

#menu a:hover,
footer a:hover{ color: var(--ee-color-green-low-contrast); }


#navigation {
    display: block;
    height: auto;
    margin: 0;
    min-width: 48px;
    order: 3;
    width: auto;
    z-index: 10;
}

#menu {
    background-color: #302b30;
    color: var(--ee-color-white);
    display: none;
    height: auto;
    list-style: none;
    margin: 0;
    padding: calc(var(--ee-padding-default) * 1rem) calc(var(--ee-padding-bigger) * 1rem);
}

.isActive #menu {
    display: block;
    height: auto;
    left: 50%;
    margin-left: -160px;
    min-width: 320px;
    position: absolute;
    top: 100px;
    z-index: 10;
}

#close-menu,
#toggle-menu {
    border: none;
    cursor: pointer;
    font: inherit;
    outline: inherit;
    padding: 0;
}
#close-menu {
    background: none;
    border: 2px solid var(--ee-color-grey-7);
    border-radius: calc(var(--ee-border-radius-bigger) * 10px);
    color: var(--ee-color-white);
    font-size: var(--ee-font-size-bigger);
    font-weight: bold;
    line-height: 1rem;
    padding: .5rem;
    position: absolute;
    right: .75rem;
    text-align: center;
    top: .75rem;
}

#close-menu:hover {
    background: var(--ee-color-accent);
    border-color: var(--ee-color-accent);
    color: var(--ee-text-on-accent-high-contrast);
}

#toggle-menu {
    background: url('menu-icon-48.png');
    color: var(--ee-text-on-grey-4);
    height: 48px;
    position: relative;
    width: 48px;
    z-index: 15;
}

#toggle-menu span {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

h1 {
    margin: calc(var(--ee-margin-bigger) * 1rem) 0 calc(var(--ee-margin-small) * 1rem);
}

h2 {
    margin: calc(var(--ee-margin-big) * 1rem) 0 calc(var(--ee-margin-small) * 1rem);
}

h3 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
    margin: calc(var(--ee-margin-default) * 1rem) 0 calc(var(--ee-margin-micro) * 1rem);
}

h4 {
    margin: calc(var(--ee-margin-small) * 1rem) 0 calc(var(--ee-margin-smaller) * 1rem);
}

h5 {
    margin: calc(var(--ee-margin-smaller) * 1rem) 0 calc(var(--ee-margin-smaller) * 1rem);
}

h6 {
    margin: calc(var(--ee-margin-tiny) * 1rem) 0 calc(var(--ee-margin-tiny) * 1rem);
}

ul {
    list-style: none;
    padding-inline-start: 0;
}


li {
    margin: 0 0 calc(var(--ee-padding-smaller) * 1rem);
}

.intro {
    color: var(--ee-default-text-color-low-contrast);
}

.ee-container-title {
    text-align: center;
}

code {
    background-color: var(--ee-color-grey-9);
    border-radius: calc(var(--ee-border-radius-small) * 1px);
    text-shadow: none !important;
    color: var(--ee-default-text-color-super-high-contrast);
    display: inline-block;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: calc(var(--ee-font-size-smaller) * 1px);
    padding: calc(var(--ee-padding-micro) * .5rem) calc(var(--ee-padding-tiny) * 1rem);
    margin: calc(var(--ee-padding-micro) * .5rem) calc(var(--ee-padding-micro) * 1rem);
    white-space: nowrap;
}

h4 code {
    padding: calc(var(--ee-padding-micro) * .5rem) calc(var(--ee-padding-smaller) * 1rem);
}

.demo-section {
    padding: 0;
}

.demo-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.one-column .demo-item {
    width: 100%;
}


.two-columns .demo-item {
    width: 45%;
}

.three-columns .demo-item {
    width: 30%;
}

.four-columns .demo-item {
    width: 22.5%;
}

.demo-item {
    margin-bottom: calc(var(--ee-margin-default) * 1rem);
}

.demo-swatch {
    margin: calc(var(--ee-margin-smaller) * 1rem) 0;
}

.demo-box h2 {
    margin: calc(var(--ee-margin-default) * 1rem);
}

.demo-section.hidden {
    display: none;
}

.demo-square-wrapper {
    /*background: var(--ee-color-grey-9);*/
    display: flex;
    flex-flow: row wrap;
}
.demo-square {
    background: var(--ee-color-primary);
    min-height: 60px;
    min-width: 60px;
}
.border-radius-demo .demo-square {
    background: none;
}
.padding-demo .demo-square {
    width: 100%;
}


.clear-float {
    clear: both;
}

.theme-color,
.entity-status-heading {
    font-weight: bold;
}

.ee-container h4 {
    margin-top: 0;
}


.ee-container p + p {
    margin: calc(var(--ee-margin-default) * 1rem) 0 0;
}

.ee-with-primary-color {
    color: var(--ee-color-primary);
}

.ee-with-secondary-color {
    color: var(--ee-color-secondary);
}

.ee-with-accent-color {
    color: var(--ee-color-accent);
}



.with-default-border {
    border: 1px solid var(--ee-border-color);
}

.with-default-border h4 {
    margin: 0;
}

.with-default-padding {
    padding: calc(var(--ee-padding-smaller) * 1rem) calc(var(--ee-padding-default) * 1rem);
}
.with-default-margin {
    margin: calc(var(--ee-padding-default) * 1rem);
}


.with-border-radius-small {
    border-radius: calc(var(--ee-border-radius-small) * 1px);
}
.with-border-radius-default {
    border-radius: calc(var(--ee-border-radius-default) * 1px);
}
.with-border-radius-big {
    border-radius: calc(var(--ee-border-radius-big) * 1px);
}
.with-border-radius-bigger {
    border-radius: calc(var(--ee-border-radius-bigger) * 1px);
}
.with-border-radius-huge {
    border-radius: calc(var(--ee-border-radius-huge) * 1px);
}




/** margin sizes **/

.with-margin-size-micro {
    margin: calc(var(--ee-margin-micro) * 1rem);
}
.with-margin-size-tiny {
    margin: calc(var(--ee-margin-tiny) * 1rem);
}
.with-margin-size-smaller {
    margin: calc(var(--ee-margin-smaller) * 1rem);
}
.with-margin-size-small {
    margin: calc(var(--ee-margin-small) * 1rem);
}
.with-margin-size-default {
    margin: calc(var(--ee-margin-default) * 1rem);
}
.with-margin-size-big {
    margin: calc(var(--ee-margin-big) * 1rem);
}
.with-margin-size-bigger {
    margin: calc(var(--ee-margin-bigger) * 1rem);
}
.with-margin-size-huge {
    margin: calc(var(--ee-margin-huge) * 1rem);
}
.with-margin-size-extreme {
    margin: calc(var(--ee-margin-extreme) * 1rem);
}


/** padding sizes **/

.with-padding-size-micro {
    padding: calc(var(--ee-padding-micro) * 1rem);
}
.with-padding-size-tiny {
    padding: calc(var(--ee-padding-tiny) * 1rem);
}
.with-padding-size-smaller {
    padding: calc(var(--ee-padding-smaller) * 1rem);
}
.with-padding-size-small {
    padding: calc(var(--ee-padding-small) * 1rem);
}
.with-padding-size-default {
    padding: calc(var(--ee-padding-default) * 1rem);
}
.with-padding-size-big {
    padding: calc(var(--ee-padding-big) * 1rem);
}
.with-padding-size-bigger {
    padding: calc(var(--ee-padding-bigger) * 1rem);
}
.with-padding-size-huge {
    padding: calc(var(--ee-padding-huge) * 1rem);
}
.with-padding-size-extreme {
    padding: calc(var(--ee-padding-extreme) * 1rem);
}



.with-box-shadow-tiny {
    box-shadow: var(--ee-box-shadow-tiny);
}
.with-box-shadow-small {
    box-shadow: var(--ee-box-shadow-small);
}
.with-box-shadow-default {
    box-shadow: var(--ee-box-shadow-default);
}
.with-box-shadow-big {
    box-shadow: var(--ee-box-shadow-big);
}


.with-text-shadow-small {
    text-shadow: var(--ee-text-shadow-small);
}
.with-text-shadow-default {
    text-shadow: var(--ee-text-shadow-default);
}
.with-text-shadow-big {
    text-shadow: var(--ee-text-shadow-big);
}


/* Base Colors */
.ee-with-color-magenta { background: var(--ee-color-magenta); color: var(--ee-text-on-magenta); }
.ee-with-color-magenta-high-contrast { background: var(--ee-color-magenta-high-contrast); color: var(--ee-text-on-magenta-high-contrast); }
.ee-with-color-magenta-low-contrast { background: var(--ee-color-magenta-low-contrast); color: var(--ee-text-on-magenta-low-contrast); }

.ee-with-color-red { background: var(--ee-color-red); color: var(--ee-text-on-red); }
.ee-with-color-red-high-contrast { background: var(--ee-color-red-high-contrast); color: var(--ee-text-on-red-high-contrast); }
.ee-with-color-red-low-contrast { background: var(--ee-color-red-low-contrast); color: var(--ee-text-on-red-low-contrast); }

.ee-with-color-hot-pink { background: var(--ee-color-hot-pink); color: var(--ee-text-on-hot-pink); }
.ee-with-color-hot-pink-high-contrast { background: var(--ee-color-hot-pink-high-contrast); color: var(--ee-text-on-hot-pink-high-contrast); }
.ee-with-color-hot-pink-low-contrast { background: var(--ee-color-hot-pink-low-contrast); color: var(--ee-text-on-hot-pink-low-contrast); }

.ee-with-color-pink { background: var(--ee-color-pink); color: var(--ee-text-on-pink); }
.ee-with-color-pink-high-contrast { background: var(--ee-color-pink-high-contrast); color: var(--ee-text-on-pink-high-contrast); }
.ee-with-color-pink-low-contrast { background: var(--ee-color-pink-low-contrast); color: var(--ee-text-on-pink-low-contrast); }

.ee-with-color-coral { background: var(--ee-color-coral); color: var(--ee-text-on-coral); }
.ee-with-color-coral-high-contrast { background: var(--ee-color-coral-high-contrast); color: var(--ee-text-on-coral-high-contrast); }
.ee-with-color-coral-low-contrast { background: var(--ee-color-coral-low-contrast); color: var(--ee-text-on-coral-low-contrast); }

.ee-with-color-orange { background: var(--ee-color-orange); color: var(--ee-text-on-orange); }
.ee-with-color-orange-high-contrast { background: var(--ee-color-orange-high-contrast); color: var(--ee-text-on-orange-high-contrast); }
.ee-with-color-orange-low-contrast { background: var(--ee-color-orange-low-contrast); color: var(--ee-text-on-orange-low-contrast); }

.ee-with-color-gold { background: var(--ee-color-gold); color: var(--ee-text-on-gold); }
.ee-with-color-gold-high-contrast { background: var(--ee-color-gold-high-contrast); color: var(--ee-text-on-gold-high-contrast); }
.ee-with-color-gold-low-contrast { background: var(--ee-color-gold-low-contrast); color: var(--ee-text-on-gold-low-contrast); }

.ee-with-color-yellow { background: var(--ee-color-yellow); color: var(--ee-text-on-yellow); }
.ee-with-color-yellow-high-contrast { background: var(--ee-color-yellow-high-contrast); color: var(--ee-text-on-yellow-high-contrast); }
.ee-with-color-yellow-low-contrast { background: var(--ee-color-yellow-low-contrast); color: var(--ee-text-on-yellow-low-contrast); }

.ee-with-color-yellow-green { background: var(--ee-color-yellow-green); color: var(--ee-text-on-yellow-green); }
.ee-with-color-yellow-green-high-contrast { background: var(--ee-color-yellow-green-high-contrast); color: var(--ee-text-on-yellow-green-high-contrast); }
.ee-with-color-yellow-green-low-contrast { background: var(--ee-color-yellow-green-low-contrast); color: var(--ee-text-on-yellow-green-low-contrast); }

.ee-with-color-light-green { background: var(--ee-color-light-green); color: var(--ee-text-on-light-green); }
.ee-with-color-light-green-high-contrast { background: var(--ee-color-light-green-high-contrast); color: var(--ee-text-on-light-green-high-contrast); }
.ee-with-color-light-green-low-contrast { background: var(--ee-color-light-green-low-contrast); color: var(--ee-text-on-light-green-low-contrast); }

.ee-with-color-green { background: var(--ee-color-green); color: var(--ee-text-on-green); }
.ee-with-color-green-high-contrast { background: var(--ee-color-green-high-contrast); color: var(--ee-text-on-green-high-contrast); }
.ee-with-color-green-low-contrast { background: var(--ee-color-green-low-contrast); color: var(--ee-text-on-green-low-contrast); }

.ee-with-color-bright-green { background: var(--ee-color-bright-green); color: var(--ee-text-on-bright-green); }
.ee-with-color-bright-green-high-contrast { background: var(--ee-color-bright-green-high-contrast); color: var(--ee-text-on-bright-green-high-contrast); }
.ee-with-color-bright-green-low-contrast { background: var(--ee-color-bright-green-low-contrast); color: var(--ee-text-on-bright-green-low-contrast); }

.ee-with-color-dark-green { background: var(--ee-color-dark-green); color: var(--ee-text-on-dark-green); }
.ee-with-color-dark-green-high-contrast { background: var(--ee-color-dark-green-high-contrast); color: var(--ee-text-on-dark-green-high-contrast); }
.ee-with-color-dark-green-low-contrast { background: var(--ee-color-dark-green-low-contrast); color: var(--ee-text-on-dark-green-low-contrast); }

.ee-with-color-blue-green { background: var(--ee-color-blue-green); color: var(--ee-text-on-blue-green); }
.ee-with-color-blue-green-high-contrast { background: var(--ee-color-blue-green-high-contrast); color: var(--ee-text-on-blue-green-high-contrast); }
.ee-with-color-blue-green-low-contrast { background: var(--ee-color-blue-green-low-contrast); color: var(--ee-text-on-blue-green-low-contrast); }

.ee-with-color-blue { background: var(--ee-color-blue); color: var(--ee-text-on-blue); }
.ee-with-color-blue-high-contrast { background: var(--ee-color-blue-high-contrast); color: var(--ee-text-on-blue-high-contrast); }
.ee-with-color-blue-low-contrast { background: var(--ee-color-blue-low-contrast); color: var(--ee-text-on-blue-low-contrast); }

.ee-with-color-dark-blue { background: var(--ee-color-dark-blue); color: var(--ee-text-on-dark-blue); }
.ee-with-color-dark-blue-high-contrast { background: var(--ee-color-dark-blue-high-contrast); color: var(--ee-text-on-dark-blue-high-contrast); }
.ee-with-color-dark-blue-low-contrast { background: var(--ee-color-dark-blue-low-contrast); color: var(--ee-text-on-dark-blue-low-contrast); }

.ee-with-color-bright-blue { background: var(--ee-color-bright-blue); color: var(--ee-text-on-bright-blue); }
.ee-with-color-bright-blue-high-contrast { background: var(--ee-color-bright-blue-high-contrast); color: var(--ee-text-on-bright-blue-high-contrast); }
.ee-with-color-bright-blue-low-contrast { background: var(--ee-color-bright-blue-low-contrast); color: var(--ee-text-on-bright-blue-low-contrast); }

.ee-with-color-light-blue { background: var(--ee-color-light-blue); color: var(--ee-text-on-light-blue); }
.ee-with-color-light-blue-high-contrast { background: var(--ee-color-light-blue-high-contrast); color: var(--ee-text-on-light-blue-high-contrast); }
.ee-with-color-light-blue-low-contrast { background: var(--ee-color-light-blue-low-contrast); color: var(--ee-text-on-light-blue-low-contrast); }

.ee-with-color-violet { background: var(--ee-color-violet); color: var(--ee-text-on-violet); }
.ee-with-color-violet-high-contrast { background: var(--ee-color-violet-high-contrast); color: var(--ee-text-on-violet-high-contrast); }
.ee-with-color-violet-low-contrast { background: var(--ee-color-violet-low-contrast); color: var(--ee-text-on-violet-low-contrast); }

.ee-with-color-purple { background: var(--ee-color-purple); color: var(--ee-text-on-purple); }
.ee-with-color-purple-high-contrast { background: var(--ee-color-purple-high-contrast); color: var(--ee-text-on-purple-high-contrast); }
.ee-with-color-purple-low-contrast { background: var(--ee-color-purple-low-contrast); color: var(--ee-text-on-purple-low-contrast); }

.ee-with-color-indigo { background: var(--ee-color-indigo); color: var(--ee-text-on-indigo); }
.ee-with-color-indigo-high-contrast { background: var(--ee-color-indigo-high-contrast); color: var(--ee-text-on-indigo-high-contrast); }
.ee-with-color-indigo-low-contrast { background: var(--ee-color-indigo-low-contrast); color: var(--ee-text-on-indigo-low-contrast); }

.ee-with-color-black { background: var(--ee-color-black); color: var(--ee-text-on-black); }
.ee-with-color-black-high-contrast { background: var(--ee-color-black-high-contrast); color: var(--ee-text-on-black-high-contrast); }
.ee-with-color-black-low-contrast { background: var(--ee-color-black-low-contrast); color: var(--ee-text-on-black-low-contrast); }

.ee-with-color-white { background: var(--ee-color-white); color: var(--ee-text-on-white); }
.ee-with-color-white-high-contrast { background: var(--ee-color-white-high-contrast); color: var(--ee-text-on-white-high-contrast); }
.ee-with-color-white-low-contrast { background: var(--ee-color-white-low-contrast); color: var(--ee-text-on-white-low-contrast); }

.ee-with-color-grey-0 { background: var(--ee-color-grey-0); color: var(--ee-text-on-grey-0); }
.ee-with-color-grey-1 { background: var(--ee-color-grey-1); color: var(--ee-text-on-grey-1); }
.ee-with-color-grey-2 { background: var(--ee-color-grey-2); color: var(--ee-text-on-grey-2); }
.ee-with-color-grey-3 { background: var(--ee-color-grey-3); color: var(--ee-text-on-grey-3); }
.ee-with-color-grey-4 { background: var(--ee-color-grey-4); color: var(--ee-text-on-grey-4); }
.ee-with-color-grey-5 { background: var(--ee-color-grey-5); color: var(--ee-text-on-grey-5); }
.ee-with-color-grey-6 { background: var(--ee-color-grey-6); color: var(--ee-text-on-grey-6); }
.ee-with-color-grey-7 { background: var(--ee-color-grey-7); color: var(--ee-text-on-grey-7); }
.ee-with-color-grey-8 { background: var(--ee-color-grey-8); color: var(--ee-text-on-grey-8); }
.ee-with-color-grey-9 { background: var(--ee-color-grey-9); color: var(--ee-text-on-grey-9); }
.ee-with-color-grey-10 { background: var(--ee-color-grey-10); color: var(--ee-text-on-grey-10); }
.ee-with-color-grey-11 { background: var(--ee-color-grey-11); color: var(--ee-text-on-grey-11); }


/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
}

/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
}

/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
}

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and ( max-width: 782px ) {

    .two-columns .demo-item,
    .three-columns .demo-item {
        width: 100%;
    }

    .four-columns .demo-item {
        width: 48%;
    }
}

/* tall Smartphone in portrait mode */
@media screen and ( min-width: 600px ) and ( max-height: 600px ) {

    .isActive #menu {
        box-shadow: unset;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        height: 100vh;
        left: 0;
        margin: 0;
        top: 0;
        width: 100%;
    }

    #close-menu {
        display: none;
    }
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {

    body {
        font-size: calc(var(--ee-font-size-smaller) * 1px);
    }

    .wrapper {
        max-width: 100%;
        padding: 0 calc(var(--ee-padding-small) * 1rem);
    }

    header.isActive .wrapper {
        height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        width: 100%
    }

    header h4 {
        text-align: center;
        white-space: normal;
    }

    h1 {
        font-size: var(--ee-font-size-huge);
        margin: calc(var(--ee-padding-big) * 1rem) 0 calc(var(--ee-padding-small) * 1rem);
    }

    h2 {
        font-size: var(--ee-font-size-bigger);
        margin: calc(var(--ee-padding-default) * 1rem) 0 calc(var(--ee-padding-micro) * 1rem);
    }

    h3 {
        font-size: var(--ee-font-size-big);
        margin: calc(var(--ee-padding-small) * 1rem) 0 calc(var(--ee-padding-smaller) * 1rem);
    }

    h4 {
        font-size: var(--ee-font-size-default);
        margin: calc(var(--ee-padding-smaller) * 1rem) 0 calc(var(--ee-padding-smaller) * 1rem);
    }

    .isActive #navigation {
        height: 100vh;
        left: 0;
        min-width: 320px;
        order: 1;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        position: absolute;
        top: calc(var(--ee-padding-smaller) * -1rem);
        width: 100%
    }

    .isActive #menu {
        box-shadow: unset;
        height: 100vh;
        left: unset;
        margin: 0;
        min-width: 320px;
        position: relative;
        top: unset;
        width: 100%
    }

    .isActive #toggle-menu {
        right: 1rem;
        position: absolute;
        top: 1rem;
    }

    #close-menu {
        display: none;
    }

    code {
        white-space: normal;
    }
    .demo-items {
        flex-flow: column nowrap;
    }
    .two-columns .demo-item,
    .three-columns .demo-item,
    .four-columns .demo-item {
        width: 100%;
    }

}

@media only screen and (max-width: 480px) {

    body {
        font-size: calc(var(--ee-font-size-small) * 1px);
    }

    .wrapper {
        padding: 0 calc(var(--ee-padding-smaller) * 1rem);
    }

}

@media only screen and (max-width: 360px) {
}

