button.ee-dropdown-menu__toggle {
	box-sizing: border-box;
	display: inline-flex;
	height: calc(var(--ee-icon-button-size) + 2px);
	margin: 0;
	padding: var(--ee-padding-tiny);
	width: calc(var(--ee-icon-button-size) + 2px);
	svg {
		display: inline-block;
	}
}
