/* Event Espresso boxes  */
/**
* Stylesheet sections
*
* 1. General styles events site wide
* 2. Pages - event_list_display, event_registration_display etc
* 3. Forms
* 4. Tables
* 5. Classes  - general - messages etc
*/

/* >General events styles site wide
------------------------------------------------------------------------------*/
/** font-families **/

/* headings/titles */
#content .event_title,
#content .section-title,
#content .section-heading,
#content .span_event_time_label,
#content .event-data-display h3,
#content .event-data-display .event_price_label
{font-family: Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif}

/* body text */
#content .event_data, #content .espresso_event
{font-family: 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida,  'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;}

/** box shadows **/

.espresso_event,
.event_description,
#event-reg-form-groups,
div#event-meta ul,
#cart-reg-details,
#event-reg-form-groups .event_questions,
#content .event-display-boxes,
#content .event-messages,
#content table.event-display-tables,
.event_espresso_attention,
.event-desc {
	-moz-box-shadow: 0 0 3px #d2d2d2;
	-webkit-box-shadow: 0 0 3px #d2d2d2;
	box-shadow: 0 0  3px #d2d2d2;
}
.btn_event_form_submit,
.event_staff,
table.price_list {
	-moz-box-shadow: 0 2px 5px #d2d2d2;
	-webkit-box-shadow: 0 2px 5px #d2d2d2;
	box-shadow: 0 2px  5px #d2d2d2;
}
#ee-event-list-thumb img,
.tb-ee-event-thumb {
	-moz-box-shadow: 2px 2px 5px #d2d2d2;
	-webkit-box-shadow: 2px 2px 5px #d2d2d2;
	box-shadow: 2px 2px  5px #888;
}
.event_title,
.section-heading {/* title bottom edge */
	-moz-box-shadow: 0 2px 3px #eaeaea;
	-webkit-box-shadow: 0 2px 3px #eaeaea;
	box-shadow: 0 2px  3px #eaeaea;
}
#content #espresso_confirmation_display {/* inset shadow subtle */
	-moz-box-shadow:  inset 0 0 5px #ddd;
	-webkit-box-shadow: inset 0 0 5px #ddd;
	box-shadow: inset 0 0  5px #ddd;
}
.TB-ee-frame {/* inset shadow pronounced */
	-moz-box-shadow:  inset 0 0 9px 3px #ddd;
	-webkit-box-shadow: inset 0 0 9px 3px #ddd;
	box-shadow: inset 0 0  9px 3px #ddd;
}
.event-messages {/* rounded corners */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
/*___ General site wide styles for event-data / espresso_events ___*/

/*#content .event-data-display p,
#content .espresso_event p */
#content .event-display-boxes p {
	margin: .8em 0 ;
}
#content .event-data-display p.section-title,
#content .espresso_event p.section-title {
	margin-bottom: 8px;
}
#content .espresso_event,
#content .event-display-boxes { /* event list boxes */
	border: 1px solid #bebebe;
	margin-bottom: 1em;
	padding: 10px;
}
#content .event_title,
#content .section-heading {
	background: #FAF9EF;
	border: 1px solid #ccc;
	border-bottom: 1px solid #bfbfbf;
	font-size: 1.3em;
	margin-bottom: 10px;
	padding-left: 10px;
}
#content .reg-quest-title {
	font-weight: bold;
}
#content .section-heading {
	font-size: 1.2em;
	text-align: center;
}
#content .event-display-boxes  .event-display-boxes .section-heading {
	font-size: 1.1em;
	text-align: left;
}
#content .event_title a {
	text-decoration: none;
}
#content .event_title a:link,
#content .event_title a:visited {
	color: #555;
}
#content .event_description {
	background: #f3f3f3;
	border: 1px solid #bfbfbf;
	padding: 0 .4em 20px;
}
#content  .section-title,
#content .span_event_time_label,
#content .event_price_label {
	font-weight: bold;
}
#additional_header a,
#event_espresso_refresh_total,
.inline-link  { /* floating links */
	border-bottom: 1px solid #ccc;
	color: #868C68;
	font-weight: bold;
	padding-bottom: 3px;
	text-decoration: none;
}
.inline-link:focus,
.inline-link:hover {
	color: #CD7950;
}
#content .event-display-boxes .address-block {
	border: 1px solid #bfbfbf;
	background: #FAF9EF;
	display: block;
	margin-top: 0;
	padding: 10px;
}
#content .event-display-boxes .register-link-footer	{
	border-top: 1px solid #bfbfbf;
	background: #BCBEB2;
	clear: both;
	margin: 10px -10px -10px;
	padding-left: 10px;
}
#content  .register-link-footer a,
#content .register-link-footer a:visited {
	color: #F0EFE6;
	font-weight: bold;
	font-size: 90%;
 text-decoration: none;
}	
/* >Pages
------------------------------------------------------------------------------*/
/*___ page event list ___*/

.event-list-display,
div.event-entry-meta {
	overflow: hidden;
}
.event-list-display .event-desc {
	background: #FAF9EF;
	border: 1px solid #bebebe;
	float: right;
	margin: 0 0 20px 5px;
	padding: 0 1%;
	width: 60%;
}
div.event-meta {
	float: left;
}
#content div.event-meta p.event_price {margin-top: 0;}
#content .event-list-display .event_address {
	clear: left;
	overflow: hidden;
	width: 30%;
}
.event-data-display .event_staff {
	background: #f3f3f3;
	display: block;
	margin: 10px;
	padding: 5px 10px;
	width: auto;
}
.spaces-available { clear: left;}
div.event-entry-meta ul {
	border: 1px solid #dfdfdf;
	border-bottom: none;
	border-right: none;
	float: left;
	list-style: none;
	overflow: hidden;
}
div.event-entry-meta ul li {
	border: 1px solid #dfdfdf;
	border-top: none;
	border-left: none;
	float: left;
}
span.google-map-link {
	clear: left;
	display: inline-block;
	width: 100%;
}
span.google-map-link a {
	border-bottom: 1px solid #ccc;
	color: #868C68;
	font-size: 87.50%;
	font-weight: bold;
	padding-bottom: 3px;
	text-decoration: none;
}
span.google-map-link a:focus,
span.google-map-link a:hover {
	color: #CD7950;
}
a.post-edit-link {padding-left: 10px;}
#ee-event-list-thumb {
	display: block;
	overflow: hidden;
}
#ee-event-list-thumb span {
	border: 1px solid #bfbfbf;
 float: left;
	padding: 18px;
}
/** Thickbox event list styling **/
#TB_overlay {
 background-color: #777;
 opacity: 0.55;
}
.tb-ee-event-thumb {
	float: right;
	width: 50px;
	height: auto;
	margin: -8px -6px 10px 0;
}
.TB-ee-frame {
	background: #F0F0E3;
	border: 1px solid #8f8f8f;
	margin-top: 1em;
	overflow: hidden;
	padding: 1em 10px 5em;
	position: relative;
}
#TB_title {
	background: #d5cea6;
	background: -moz-linear-gradient(top, #d5cea6 0%, #c9c190 40%, #b7ad70 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5cea6), color-stop(40%,#c9c190), color-stop(100%,#b7ad70));
	background: -webkit-linear-gradient(top, #d5cea6 0%,#c9c190 40%,#b7ad70 100%);
	background: -o-linear-gradient(top, #d5cea6 0%,#c9c190 40%,#b7ad70 100%);
	background: -ms-linear-gradient(top, #d5cea6 0%,#c9c190 40%,#b7ad70 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#b7ad70',GradientType=0 );
	background: linear-gradient(top, #d5cea6 0%,#c9c190 40%,#b7ad70 100%);
}
.tb-ee-event-title {
	float: left;
 font-size: 150%;
	margin-bottom: 20px;
}
.tb-ee-event-title span.event-status span.espresso_closed { color: #E16D35;}
.TB-ee-frame .section-title {
	font-weight: bold;
}
.tb-ee-event-desc {
	overflow: hidden;
	clear: both;
}
.event-address-block p {margin-bottom: .5em;}
.TB-ee-frame .social-media-buttons {
	position:absolute;
	margin-bottom: 0;
	padding: 0;
	width: 140px;
	bottom: -3px;
	right: -5px;
	text-align: right;
}
.TB-ee-frame .social-media-buttons iframe {
	display: inline-block;
	width: 60px !important;
}
.TB-ee-frame .register-link-footer {
	position: absolute;
	margin-bottom: 0;
	width: 50%;
	bottom: 0;
	left: 10px;
}
/*___ page register ___*/

.event_description .event_staff {
	background: #FAF9EF;
	border: 1px solid #bfbfbf;
	float: left;
	margin: 20px 1%;
	padding: 0 1% 10px;
	width: 45%;
}
#content .event_staff  p.event_person:first-child {
	margin-top: 5px;
	text-align: center
}
#content .event_description .event_staff img {
	display: block;
	margin: 8px auto;
	width: 60%;
}
#event-reg-form-groups .event_questions {
	background: #f3f3f3;
	border: 1px solid #bfbfbf;
	margin-bottom: 10px;
	padding: 0 0 .5em;
}
#event-reg-form-groups .event_questions .reg-quest-title {
	background: #f9f9f9;
	border-bottom: 1px solid #ebebeb;
	font-weight: bold;
	margin-top: 0;
	padding-left: 5px;
}
#content .event_questions  .quest-group-descript {
	background: #E9E9E9;
	font-size: 81.25%;
	margin: -20px 0 20px ;
	padding-left: 5px;
	
}
.espresso_add_attendee a.add {
	margin-left: 85px;
}

/*___ Cart & Multi Registration page styles ___*/


.multi_reg_cart_block {
	background: #fafafa;
}
.event_total_price {
	color: #333;
	font-size: 140%;
	float: right;
	text-align: right;
	padding: 5px;
	width: 130px;
}
#event_total_price {width: auto;}
#event_espresso_coupon_wrapper {
	text-align: right;
}
#event_espresso_total_wrapper {
	overflow: hidden;
}
#event_espresso_registration_form {
	margin: 10px 3px;
}
span.remove-cart-item {
	float: right;
	margin-right: 3px;
}
#event_espresso_refresh_total  {
	line-height: 2.2;
}
.multi-reg-page .event_title span.price-type,
.multi-reg-page .event_title span.attendee-qnt {
	font-size: 87.50%;
}
/*___ Payment options page ___*/

#sandbox-panel {
	border: 1px solid #bebebe; 
	background: #eee;
	padding: 10px;
}
ul#espresso_payment_buttons {
	margin: 0;
	text-align: center;
}
ul#espresso_payment_buttons li {
	display: inline;	
	list-style: none;
	padding: 0 8px;
	vertical-align: top;
}
ul#espresso_payment_buttons li form {
	display: inline;
}
/*___ payment overview - thank you page ___*/

.event-list-payment-overview {
	border-bottom: 1px solid #eee;
	padding: 20px 0 0 ;
}
.event-list-payment-overview dl {
	background: #F0F0E3;
	border: 1px solid #bbb;
	margin-bottom: 0;
	padding:10px;
}
#content .event-list-payment-overview dl dt {margin-bottom: 20px;}
#content .event-list-payment-overview dl dd {margin-bottom: 10px}
#content .espresso_payment_overview  h4.section-title {
	border-top: 1px solid #bebebe;
	margin-top: 20px;
	padding-top: 10px;
}
#content .espresso_payment_overview h4.list-events {
	border-top: none;
}	 
#content dl.reg-gen-details {
	background: #f4f4f4;
	border: 1px solid #bbb;
	padding: 10px;
}
/* >Forms
------------------------------------------------------------------------------*/
/* override WP styles */
.entry-content input { margin: 0 0 .5em;}
#content .event_form_submit input {
	font-size: 100%;
	line-height: 1;
	margin: 20px 0 0;
	height: auto;
	padding: 4px 10px;
	letter-spacing: 1px;
	}
#event_espresso_shopping_cart label {
	font-weight: bold;
	font-size: 87.50%;
}
#content .event-display-boxes form.ee-forms select {
	margin-bottom: 0;
}
/*
* from http://vesess.com/sandbox/form_template.html#
*/

.event_espresso_form_wrapper form p { 
	margin: 3px;
	position: relative;
}
.event_espresso_form_wrapper form p.note { 
	margin-left: 170px; 
	font-size: 90%; 
	color: #333; 
}
.event_espresso_form_wrapper form fieldset { 	
	border: #bfbfbf 1px solid; 
	margin: 10px 0; 
	padding: 10px; 
}
.event_espresso_form_wrapper form legend { 
	font-weight: bold; 
	color: #666; 
}
.event_espresso_form_wrapper form fieldset div { padding: 0.25em 0; }
.event_espresso_form_wrapper label,
.event_espresso_form_wrapper span.label {
	float: left;
	margin-right: 10px;
	padding-right: 10px; 
	position: relative;
	width: 150px;
	text-align: right;
}
.event_prices label, .event_time label {
	display: block;
	float: none;
	font-size: 100%;
	font-weight: bold;
	color: #333;
	text-align: left;
}
.event_prices select {
	width: 200px;
}
.copy_dropdown_wrapper label {
	margin-right: 0;
}
.event_espresso_form_wrapper p.coupon_code {text-align: left;}
.event_espresso_form_wrapper p.coupon_code label,
.event_espresso_form_wrapper p#groupon_code- label {
	display: block;
	font-size: 84.60%;
	float: none;
 width: auto;
	text-align: left;
}
.event_espresso_form_wrapper p.coupon_code input,
.event_espresso_form_wrapper p#groupon_code- input {
	width: 200px;
	background: #F9F9F9;
	border: 1px solid #ccc;
}
.event_espresso_form_wrapper label.error,
.event_espresso_form_wrapper span.error { 
	position: absolute;
	top: -20px;
	left: 170px;
	color: #C00; 
	width: auto;
}
.event_espresso_form_wrapper label em,
.event_espresso_form_wrapper span.label em { 
	position: absolute; 
	right: 0; 
	font-size: 120%; 
	font-style: normal; 
	color: #C00; 
}
.event_espresso_form_wrapper input.error { 
	border-color: #C00; 
	background-color: #FEF;
}
.event_espresso_form_wrapper input:focus,
.event_espresso_form_wrapper input.error:focus,
.event_espresso_form_wrapper textarea:focus {	
	background-color: #FFC; 
	border-color: #FC6; 
}
.event_espresso_form_wrapper div.controlset label,
.event_espresso_form_wrapper div.controlset input { 
	display: inline; 
	float: none; 
}
.event_espresso_form_wrapper div.controlset div { margin-left: 170px; }
.event_espresso_form_wrapper div.buttonrow { margin-left: 180px; }
.submit {
	margin:5px;
	padding: 0.3em;
}
.event_form_field {
	clear: both;
}
.btn_event_form_submit {
	background: #FAF9EF;
	border: 1px solid #bfbfbf;
	width: auto;
	height: 40px;
}
a.btn_event_form_submit {
	display: inline-block;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight: normal;
	height: auto;
	padding: 7px 4px;
}
.payment-submit {
	height: 30px;
}	
#ideal-mollie-form .payment-submit {
	height: auto;
	margin-bottom: 0;
}
.btn_event_form_submit:hover {
	background: #D7DCBD;
	color: #000 !important;
	cursor: pointer;
}
.event_espresso_form_wrapper ul {
	margin-left: 125px;
}
.event_espresso_form_wrapper ul li {
	list-style: none;
	margin-left: 40px;
}
.event_espresso_form_wrapper .copy_dropdown_wrapper {
	padding: 10px;
	color: #979da2;
}
.copy_dropdown_wrapper select {
	width: 300px;
}
.recaptchatable #recaptcha_response_field {left:0 !important;}

/*___ Question groups ___*/

#content .event_questions fieldset {
	border: none;
}
#content .event_questions fieldset legend {
	background: none;
	font-size: 87.50%;
	font-weight: normal;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	padding-left: 10px;
}
#content .event_questions fieldset ul {
	margin: 0;
	overflow: hidden;
}
#content .event_questions fieldset.single-radio li,
#content .event_questions fieldset.multi-checkbox li {
	float: left;
	margin-left: 10px;
}
#content .event_questions fieldset.single-radio li label,
#content .event_questions fieldset.multi-checkbox li label {
	float: none;
	line-height: 1;
	width: auto;
}
#content .event_questions fieldset.multi-checkbox li label {
	display: block;
	min-width: 100px;
	text-align: left;
}
	
/* Tables
------------------------------------------------------------------------------*/

#content table.event-display-tables {
	background: #fff;
	border: 1px solid #bebebe;
	margin: 0 auto;
	text-align: left;	
	width: 96%;
}
.event-display-tables th,
.event-display-tables td {
	padding-left: 5px;
}
#content .event-display-tables td input {
	line-height: 1;
}
#content .grid tr td,
#content .grid tr th.header {
	border-top: 1px solid #bebebe;
	vertical-align: middle;
}
.grid tr th.header {
	border-right: 1px solid #dcdcdc;
}
#content table.event-display-tables th.header {
	font-weight: bold;
	font-size: 90%;
	color: #000;	
}
#content #event_espresso_shopping_cart table th  {
	font-size: 100%;
	text-align: left;
}
#event_espresso_attendee_verify th,
#event_espresso_attendee_verify_questions th {
	text-align: left;
	width: 35%;
}
#event_espresso_attendee_verify td,
#event_espresso_attendee_verify_questions td {
	text-align: left;
	width: 70%;
}
#cart-reg-details th,
#cart-reg-details td {
	padding: 5px;
}
#event_espresso_shopping_cart table.price_list {
	border: 1px solid #bfbfbf;
	border-bottom: none;
	font-size: 100%;
	font-weight: bold;
	margin: 10px auto;
	width: 98%;
}
table.price_list td {
	border-bottom: 1px solid #bfbfbf;
	border-top: none;
}
table.price_list td.price_type {
	width: 150px;
}
table.price_list td.price {
	width: 150px;
}
table.price_list td.selection {
	width: 20px;
}
table.price_list td.reg-allowed-limit {
	font-size: 84.60%;
	text-align: center;
}
pre {
	height: 200px;
	overflow: auto;
	border: 2px solid orange;
}
.pending_event{
	border: 2px solid yellow; 
	padding: 5px;
}
.expired_event{
	color: #F00;
}

/* >Classes - Messages etc
------------------------------------------------------------------------------*/
.highlight { 
	background: #FAF9EF;
	padding: 2px 4px; 
}
.instruct {
	font-weight: bold;
}
#content .event-messages {
	background: #EBD8CF;
	border: 1px solid #bebebe;
	margin: 10px 0;
	padding: .4em;
}
#content .event-messages p {
	margin: .5em 0;
}
.event_espresso_error { 
	margin: 0 0 10px 0; 
	padding: 5px 10px; 
	border: #ff6666 1px solid; 
	background-color:  #ffcccc; 
	color: #000;
}
.event_espresso_error p { 
	margin: 0; 
	color: #333; 
}
.event_espresso_error p em,
.event_espresso_attention p em { 
	color: #C00; 
	font-style: normal; 
	font-weight: bold; 
	display: block;
}
.event_espresso_attention { 
	margin:  10px 0; 
	padding: 5px 10px; 
	border: #FC6 1px solid; 
	background-color: #FFC; 
}
.event_espresso_attention p { margin: 0; }
.attention-icon {
 background:  url(../../images/important.gif) no-repeat 0 50% ;
	padding-left: 50px;
}
/*** clearfix clearing rules ***/	
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
