/* 
* Event Espresso boxes suits fixed or fluid layouts 
*
* Event list displayed as a grid layout suitable for 
* events lists with light detail - i.e no event description
*/


#content .event-list-display { /* event list display - event-display-boxes */
	display: inline-block;
	margin-right: 15px;
	min-height: 250px;
	padding-bottom: 50px;
	position: relative;
	width: 250px;
	vertical-align: top;
}

#content .event-display-boxes .address-block {
	display: inline-block;
	margin-top: 0;
	padding: 10px;
}

#content .event-list-display .register-link-footer {
	font-size:14px;
}
