.ee-event-editor {
	position: relative;
	z-index: 2;
}

.post-type-espresso_events {
	overflow-y: overlay !important;

	#adminmenuwrap {
		z-index: 2;
	}
}

.ee-alert-dialog[role='alertdialog'] {
	box-shadow: var(--ee-box-shadow-big);
	line-height: var(--ee-line-height-modifier);
	margin-top: 10%;

	.ee-alert-dialog {
		&__header {
			color: var(--ee-default-text-color-super-low-contrast);
			font-size: var(--ee-font-size-huge);
			font-weight: 800;
			padding: var(--ee-padding-default) var(--ee-padding-default) var(--ee-padding-tiny);
			position: relative;
			text-transform: unset;
		}

		&__body {
			color: var(--ee-default-text-color);
			font-size: var(--ee-font-size-default);
		}
	}
}
