.ee-modal-form {
	max-width: 75rem !important;
	.confirm-close {
		display: inline-flex;
		position: absolute;
		top: 8px;
		right: 12px;
		min-width: auto;
		width: 2rem;
		height: 2rem;
		svg {
			margin: 0;
		}
	}
}
