<h1><?php 
	$job_step_response = EED_Batch::instance()->job_step_response();
	$filename = null;
	if( $job_step_response instanceof \EventEspressoBatchRequest\Helpers\JobStepResponse ) {
		$filename = EEH_File::get_filename_from_filepath( $job_step_response->job_parameters()->extra_datum( 'filepath' ) );
	} 
	if( ! $filename) {
		$filename = __( 'Unknown', 'event_espresso' );
	}
	printf( __( 'Generating file %1$s...', 'event_espresso' ), $filename );?></h1>
<div id="batch-progress" class="progress-responsive"></div>
<br/>
<div id='message-area'><?php _e( 'The file will download automatically when done, and then you will be redirected.', 'event_espresso');?></div>
<div id='progress-area'></div>
