.ee-medium-calendar-date {
	&__wrapper {
		align-items: center;
		box-sizing: border-box;
		color: var(--ee-color-white);
		display: flex;
		flex-flow: column nowrap;
		font-weight: normal;
		line-height: var(--ee-font-size-default);
		height: 100%;
		min-height: calc(var(--ee-padding-micro) * 45);
		min-width: calc(var(--ee-padding-micro) * 34);
		padding: var(--ee-padding-tiny) var(--ee-padding-micro);
		text-align: center;
		vertical-align: bottom;
		width: 100%;
	}

	&__header {
		color: rgba(255, 255, 255, 0.9);
		font-size: var(--ee-font-size-tiny);
		letter-spacing: var(--ee-letter-spacing-font-size-micro);
		margin: 0 0 var(--ee-margin-micro);
	}

	.ee-mcd {
		&__weekday {
			font-size: var(--ee-font-size-smaller);
			line-height: var(--ee-font-size-big);
			letter-spacing: var(--ee-letter-spacing-font-size-tiny);
		}

		&__month-day {
			font-size: var(--ee-font-size-bigger);
			font-weight: bold;
			line-height: var(--ee-font-size-bigger);
		}

		&__day {
			margin: 0 0 0 var(--ee-margin-smaller);
		}

		&__year {
			font-size: var(--ee-font-size-small);
			letter-spacing: var(--ee-letter-spacing-font-size-micro);
			line-height: var(--ee-font-size-smaller);
			left: var(--ee-padding-nano);
			margin: 0 var(--ee-margin-nano) var(--ee-margin-tiny);
			position: relative;
			top: var(--ee-padding-micro);
		}

		&__time {
			font-size: var(--ee-font-size-tiny);
			line-height: var(--ee-font-size-default);
			margin: var(--ee-margin-nano);
		}
	}

	&__footer {
		display: flex;
		flex-flow: column nowrap;
		font-size: var(--ee-font-size-smaller);
		line-height: var(--ee-font-size-bigger);
		margin: var(--ee-margin-nano) 0 0;
		padding: var(--ee-padding-micro) 0;

		.ee-status-tag {
			display: block;
			font-weight: bold;
			letter-spacing: var(--ee-letter-spacing-font-size-micro);
			text-transform: uppercase;
		}

		&__header {
			margin: 0;
		}
	}
}
/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 480px) {
	.ee-medium-calendar-date-wrapper {
		align-items: center;
		flex-flow: row nowrap;
		justify-content: space-evenly;

		.ee-medium-calendar-date-footer {
			align-items: center;
			flex-flow: row nowrap;
		}
	}
}
