.ee-medium-calendar-date-wrapper {
	box-sizing: border-box;
	color: var(--ee-color-white);
	font-weight: normal;
	line-height: var(--ee-font-size-default);
	height: 100%;
	padding: var(--ee-padding-tiny) var(--ee-padding-micro);
	position: absolute;
	text-align: center;
	width: calc(var(--ee-padding-micro) * 34);
}

.ee-medium-calendar-date-wrapper.ee-mcd-pos-left {
	float: left;
	left: 0;
}

.ee-medium-calendar-date-wrapper.ee-mcd-pos-right {
	float: right;
	right: 0;
}

.ee-medium-calendar-date-header {
	color: rgba(255, 255, 255, 0.9);
	font-size: var(--ee-font-size-tiny);
	letter-spacing: var(--ee-letter-spacing-font-size-micro);
	margin: 0 0 var(--ee-margin-micro);
}

.ee-medium-calendar-date .ee-mcd-weekday {
	font-size: var(--ee-font-size-smaller);
	line-height: var(--ee-font-size-big);
	letter-spacing: var(--ee-letter-spacing-font-size-tiny);
}

.ee-medium-calendar-date .ee-mcd-month-day {
	font-size: var(--ee-font-size-bigger);
	font-weight: bold;
	line-height: var(--ee-font-size-bigger);
}

.ee-medium-calendar-date .ee-mcd-day {
	margin: 0 0 0 var(--ee-margin-smaller);
}
.ee-medium-calendar-date .ee-mcd-year {
	font-size: var(--ee-font-size-tiny);
	letter-spacing: var(--ee-letter-spacing-font-size-micro);
	line-height: var(--ee-font-size-default);
	left: var(--ee-padding-nano);
	margin: var(--ee-margin-nano) 0 0;
	position: relative;
	top: var(--ee-padding-micro);
}

.ee-medium-calendar-date .ee-mcd-time {
	font-size: var(--ee-font-size-tiny);
	line-height: var(--ee-font-size-default);
}

.ee-medium-calendar-date-footer {
	font-size: var(--ee-font-size-smaller);
	line-height: var(--ee-font-size-bigger);
	margin: var(--ee-margin-nano) 0 0;
	padding: var(--ee-padding-micro) 0;
}

.ee-medium-calendar-date-footer .ee-status-tag {
	display: block;
	font-weight: bold;
	letter-spacing: var(--ee-letter-spacing-font-size-micro);
	text-transform: uppercase;
}

.ee-medium-calendar-date-footer .ee-medium-calendar-date-header {
	margin: 0;
}
