
.checkbox-dropdown-selector-btn {
    cursor: pointer;
    display: inline-block;
    margin:0 0 1em;
    min-width: 250px;
    width: auto;
}

.checkbox-dropdown-selector {
    border: 1px solid #eee;
    box-sizing: border-box;
    box-shadow: 0 13px 5px -5px rgba(0, 0, 0, .5), 0 2px 13px 2px rgba(0, 0, 0, .05);
    display: none;
    list-style: none;
    padding: 1em;
    position: absolute;
    top: 0;
    min-width: 250px;
    width: auto;
    z-index: 999;
}

.checkbox-dropdown-selector ul {
    margin: 0 !important;
    padding: 0 !important;
}

.checkbox-dropdown-selector li {
    list-style: none !important;
    margin: 0 !important;
    white-space: nowrap;
    word-break: keep-all;
}

.checkbox-dropdown-selector li,
.checkbox-dropdown-selector label {
    cursor: pointer;
}

.checkbox-dropdown-selector li + li {
    margin-top: 1em;
}

.datetime-selector-option  {
    display: inline-block !important;
    margin: 0 .75em 0 0;
    width: auto !important;
}

