.updated.data-collect-optin {
    flex-direction: row;
    justify-content: flex-start;
}

.data-collect-optin > div,
.data-collect-optin .data-optin-text {
    align-items: center;
    display: flex;
    width: 100%;
}

.data-collect-optin ul {
    list-style: disc;
    margin-left: 1.5rem;
}

.wp-core-ui .data-collect-optin button.button.button--secondary.data-optin-button {
    float: right;
    margin-inline-start: auto;
}

.data-collect-optin .dashicons-admin-site {
    color: var(--ee-status-color-grey);
    font-size: 1.6rem;
    margin-inline-end: 1rem;
}
