.ee-exception-stack-trace-display {
    background: hsl(0deg 0% 100%);
    max-width: 90% !important;
    margin: 2em 5%;
    padding: 2rem 2rem 1rem;
}
.ee-error-dev-msg-pg,
.ee-exception-stack-trace-display .ee-error-dev-msg-pg {
    background: hsl(0deg 0% 100%);
    border-radius: 3px;
    border: 0.25rem solid hsl(340, 100%, 60%);
    color: hsl(340, 10%, 45%);
    font-size: var(--ee-font-size-tiny);
    line-height: 1.5em;
    margin: 0 0 1em;
    padding: 1.5rem 2rem;
}
.ee-exception-stack-trace-display .ee-error-dev-msg-pg  strong{
    font-size: var(--ee-font-size-xl);
    font-weight: 800;
}
.ee-exception-stack-trace-display .ee-error-dev-msg-pg  .big-text {
    display: block;
    font-size: var(--ee-font-size-bigger);
    padding: .5rem 0;
}
#ee-trace-details {
    margin:0 0 1em;
}
#ee-trace-details table {
    background:#fff;
    width: 100%;
}
#ee-trace-details table th {
    background:#e6e6e6;
    padding: .75rem 1.5rem;
}
#ee-trace-details table td {
    padding: .75rem 1.5rem;
}
#ee-trace-details table .ee-align-left {
    text-align: start;
}
#ee-trace-details table .ee-align-right {
    text-align: end;
}
#ee-trace-details tr:nth-child(odd) {
    background: hsl(207, 0%, 97%);
}
.display-ee-error-trace-lnk {
    color: hsl(203, 60%, 50%);
    cursor:pointer;
    font-weight: bold;
}
.display-ee-error-trace-lnk:hover {
    text-decoration:underline;
}
.ee-error-trace-dv--hidden, .hidden {
    display:none;
}
.lt-grey-text {
    color: hsl(220deg 5% 60%);
}
