/** -------------------------------------------------------------------------
 * Event Espresso TicketsListFilterBar Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-entity-list-filter-bar .ee-filter-bar-filter.ee-show-tickets-filter {
    margin-right: .25rem;
}

.ee-entity-list-filter-bar .ee-ticket-dates-chained-filter {
    margin-right: .75rem;
    margin-top: 1px;
}
