
.ee-ticket-price-calculator {
    color: var(--ee-color-grey-2);
    font-size: 1rem;
    line-height: 1.1;
    margin: 0 .5rem .25rem;
}

.ee-ticket-price-calculator .col-0 {
    min-width: 80px;
    width: 7.5%;
}
.ee-ticket-price-calculator .col-1 {
    width: 17.5%;
}
.ee-ticket-price-calculator .col-2,
.ee-ticket-price-calculator .col-3 {
    width: 25%;
}
.ee-ticket-price-calculator .col-4 {
    width: 20%;
}
.ee-ticket-price-calculator .col-5 {
    min-width: 150px;
    width: 5%;
}

.ee-ticket-price-calculator .ee-rTable-body-td.ee-ticket-price-calculator-price-actions .components-icon-button {
    display: inline flex;
}

.ee-ticket-price-calculator tr {
    padding: 0 0 0.375rem;
}

.ee-ticket-price-calculator thead th {
    line-height: 1.1;
    padding: 0.25rem 0.75rem 0;
}
.ee-ticket-price-calculator td,
.ee-ticket-price-calculator tfoot th {
    line-height: 1.1;
    padding: 0.25rem 0.375rem;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    height: 38px;
    min-height: 38px;
}

.ee-ticket-price-calculator .ee-ticket-price-calculator-amount.ee-sign-before {
   padding-right: 2.25rem;
}
.ee-ticket-price-calculator .ee-ticket-price-calculator-amount.ee-sign-after {
   padding-right: 3.75rem;
}

.ee-ticket-price-calculator .ee-ticket-price-calculator-total-label .col-form-label {
    color: var(--ee-color-grey-7);
    display: block;
    font-size: 1.5rem;
    padding: 0;
    text-align: right;
}

.ee-ticket-price-calculator button {
    margin: 0.375rem .5rem 0.375rem 0;
}

.ee-ticket-price-calculator tbody:after {
    content: '';
    display: block;
    height: 0.5rem;
    width: 100%;
}

.ee-ticket-price-calculator .ee-rTable-footer .ee-ticket-price-calculator-total-row .ee-ticket-price-calculator-total-label {
    padding: 0.2rem 0.375rem 0;
}

.ee-ticket-price-calculator .ee-rTable-footer .ee-ticket-price-calculator-total-row .ee-ticket-price-calculator-total {
    padding: 0.25rem 0.375rem 0;
}
.ee-ticket-price-calculator .ee-rTable-footer .ee-ticket-price-calculator-total-row .ee-ticket-price-calculator-total .ee-currency-sign {
    font-weight: normal;
}


/* accommodate $ or % after input (needs max 3rem space for currency sign) */
.ee-ticket-price-calculator input.ee-money-field.ee-sign-after,
.ee-ticket-price-calculator input.ee-percent-field.ee-sign-after {
    width: calc(100% - 1.5rem) !important;
}
.ee-ticket-price-calculator input.ee-money-field.ee-sign-after.ee-curSign-2,
.ee-ticket-price-calculator input.ee-percent-field.ee-sign-after.ee-curSign-2 {
    width: calc(100% - 2.2rem) !important;
}
.ee-ticket-price-calculator input.ee-money-field.ee-sign-after.ee-curSign-3,
.ee-ticket-price-calculator input.ee-percent-field.ee-sign-after.ee-curSign-3 {
    width: calc(100% - 2.8rem) !important;
}
.ee-ticket-price-calculator input.ee-money-field.ee-sign-after.ee-curSign-4,
.ee-ticket-price-calculator input.ee-percent-field.ee-sign-after.ee-curSign-4 {
    width: calc(100% - 3.2rem) !important;
}
/* accommodate $ before and % after input (needs max 3rem space for currency sign + 1.5rem for %) */
.ee-ticket-price-calculator input.ee-money-field.ee-sign-before,
.ee-ticket-price-calculator input.ee-percent-field.ee-sign-before {
    width: calc(100% - 3rem) !important;
}
.ee-ticket-price-calculator input.ee-money-field.ee-sign-before.ee-curSign-2,
.ee-ticket-price-calculator input.ee-percent-field.ee-sign-before.ee-curSign-2 {
    width: calc(100% - 3.7rem) !important;
}
.ee-ticket-price-calculator input.ee-money-field.ee-sign-before.ee-curSign-3,
.ee-ticket-price-calculator input.ee-percent-field.ee-sign-before.ee-curSign-3 {
    width: calc(100% - 4.3rem) !important;
}
.ee-ticket-price-calculator input.ee-money-field.ee-sign-before.ee-curSign-4,
.ee-ticket-price-calculator input.ee-percent-field.ee-sign-before.ee-curSign-4 {
    width: calc(100% - 4.7rem) !important;
}

.ee-ticket-price-calculator input.ee-money-field.ee-sign-after {
    margin-left: 0;
    margin-right: 0;
}
.ee-ticket-price-calculator input.ee-money-field.ee-sign-before {
    margin-left: 0;
    margin-right: 1.5rem; /* to line up with % fields */
}
.ee-ticket-price-calculator input.ee-percent-field.ee-sign-after {
    margin-left: 0;
}
.ee-ticket-price-calculator input.ee-percent-field.ee-sign-before {
    margin-left: 1.5rem; /* to line up with $ fields */
}
.ee-ticket-price-calculator input.ee-percent-field.ee-sign-before.ee-curSign-2 {
    margin-left: 2.2rem; /* to line up with $ fields */
}
.ee-ticket-price-calculator input.ee-percent-field.ee-sign-before.ee-curSign-3 {
    margin-left: 2.8rem; /* to line up with $ fields */
}
.ee-ticket-price-calculator input.ee-percent-field.ee-sign-before.ee-curSign-4 {
    margin-left: 3.2rem; /* to line up with $ fields */
}
.ee-ticket-price-calculator .ee-percent-sign.ee-sign-after {
    float: right;
}
.ee-ticket-price-calculator .ee-percent-sign.ee-sign-after.ee-curSign-2 {
    margin-right: 0.75rem;
}
.ee-ticket-price-calculator .ee-percent-sign.ee-sign-after.ee-curSign-3 {
    margin-right: 1.5rem;
}
.ee-ticket-price-calculator .ee-percent-sign.ee-sign-after.ee-curSign-4 {
    margin-right: 2.25rem;
}
.ee-ticket-price-calculator .ee-percent-sign.ee-sign-before {
    float: right;
}

.ee-add-price-modifier-btn {
    transition: background-color 0.25s ease;
    transition: box-shadow 0.25s ease;
}

.ee-tpc-new-modifier-update {
    background-color: var(--ee-color-white);
    box-shadow: inset 0 0 0 2px var(--ee-color-bright-blue) !important;
    -webkit-animation: shake .25s ease infinite;
    -moz-animation: shake .25s ease infinite;
    animation: shake .25s ease infinite;
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-3px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(3px, 0, 0);
    }
}



/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
}

/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
}

/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
}

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and ( max-width: 782px ) {

    .ee-ticket-price-calculator {
        margin: 0 .5rem .25rem .25rem;
    }

    .ee-ticket-price-calculator .col-0,
    .ee-ticket-price-calculator .col-1,
    .ee-ticket-price-calculator .col-2,
    .ee-ticket-price-calculator .col-3,
    .ee-ticket-price-calculator .col-4,
    .ee-ticket-price-calculator .col-5 {
        width: 100%;
    }

    .ee-rTable .ee-rTable-body .ee-ticket-price-calculator-price-row {
        padding-bottom: 1.5rem;
    }

    .ee-rTable .ee-rTable-body .ee-ticket-price-calculator-price-row + .ee-ticket-price-calculator-price-row {
        border-top: 2px solid var(--ee-color-grey-10);
        padding-top: 1.5rem;
    }

    .ee-ticket-price-calculator .ee-rTable-mobile-only-column-header {
        font-weight: bold;
        padding-top: 0.5rem;
        width: 25%;
    }

    .ee-ticket-price-calculator .ee-rTable-body-td .ee-rTable-mobile-only-column-value {
        width: 75%;
    }

    .ee-ticket-price-calculator .ee-rTable-body-td.col-0 .ee-rTable-mobile-only-column-value {
        width: 25%;
    }

    .ee-ticket-price-calculator .ee-rTable-body-td.col-2 .ee-rTable-mobile-only-column-value {
        width: 50%;
    }

    .ee-ticket-price-calculator .ee-rTable-body-td.col-4 .ee-rTable-mobile-only-column-value {
        width: 33%;
    }

    .ee-rTable .ee-rTable-body .ee-rTable-body-td.ee-number-column,
    .ee-ticket-price-calculator .ee-ticket-price-calculator-add-price-id {
        text-align: left !important;
    }

    .ee-ticket-price-calculator .ee-ticket-price-calculator-add-price-id .ee-rTable-mobile-only-column-header {
        display: none;
    }
    .ee-ticket-price-calculator .ee-ticket-price-calculator-add-price-id .ee-rTable-mobile-only-column-value {
        font-weight: bold;
        margin-left: 25%;
        text-transform: capitalize;
    }

    .ee-ticket-price-calculator .ee-ticket-price-calculator-price-actions .components-icon-button,
    .ee-ticket-price-calculator .ee-ticket-price-calculator-add-price-actions .components-icon-button {
        top: .375rem;
    }

    .ee-ticket-price-calculator .ee-ticket-price-calculator-add-price-row.ee-rTable-body-row {
        padding-top: 1rem;
    }

    .ee-ticket-price-calculator .ee-ticket-price-calculator-price-actions.ee-rTable-body-td .ee-rTable-mobile-only-column-header,
    .ee-ticket-price-calculator .ee-ticket-price-calculator-add-price-actions.ee-rTable-body-td .ee-rTable-mobile-only-column-header {
        padding-top: 1.25rem;
    }

    .ee-ticket-price-calculator .ee-rTable-body .ee-ticket-price-calculator-add-price-id {
        background: var(--ee-color-grey-11);
        margin: 0 0 0.5rem;
        padding: 0.5rem;
    }

    .ee-ticket-price-calculator .ee-rTable-footer .ee-rTable-footer-row {
        display: flex;
        flex-flow: row nowrap;
        padding: 0.5rem 0 0;
    }
    .ee-ticket-price-calculator tfoot .col-0,
    .ee-ticket-price-calculator tfoot .col-1,
    .ee-ticket-price-calculator tfoot .col-2  {
        display: none;
        height: 0;
        padding: 0;
        width: 0;
    }

    .ee-ticket-price-calculator .ee-ticket-price-calculator-total-label {
        display: inline-block;
        width: 25%;
    }

    .ee-ticket-price-calculator .ee-rTable-footer .ee-ticket-price-calculator-total-row .ee-ticket-price-calculator-total {
        display: inline-block;
        float: left;
        padding: 0.25rem 0.5rem 0;
        width: calc(66% - 40px - 0.5rem);
    }

    .ee-ticket-price-calculator .ee-rTable-footer .ee-ticket-price-calculator-total-row .ee-ticket-price-calculator-total-actions {
        display: inline-block;
        min-width: 40px;
        width: 40px;
    }

    .ee-ticket-price-calculator tbody:after {
        display: none;
        height: 0;
    }

    textarea {
        height: 76px;
        min-height: 76px;
    }

    /* accommodate $ or % after input (needs max 3rem space for currency sign) */
    .ee-ticket-price-calculator input.ee-money-field.ee-sign-after,
    .ee-ticket-price-calculator input.ee-percent-field.ee-sign-after {
        width: calc(100% - 1.5rem) !important;
    }

    .ee-ticket-price-calculator input.ee-money-field.ee-sign-after.ee-curSign-2,
    .ee-ticket-price-calculator input.ee-percent-field.ee-sign-after.ee-curSign-2 {
        width: calc(100% - 2.25rem) !important;
    }

    .ee-ticket-price-calculator input.ee-money-field.ee-sign-after.ee-curSign-3,
    .ee-ticket-price-calculator input.ee-percent-field.ee-sign-after.ee-curSign-3 {
        width: calc(100% - 3rem) !important;
    }

    .ee-ticket-price-calculator input.ee-money-field.ee-sign-after.ee-curSign-4,
    .ee-ticket-price-calculator input.ee-percent-field.ee-sign-after.ee-curSign-4 {
        width: calc(100% - 3.75rem) !important;
    }

    /* accommodate $ before and % after input (needs max 3rem space for currency sign + 1.5rem for %) */
    .ee-ticket-price-calculator input.ee-percent-field.ee-sign-before,
    .ee-ticket-price-calculator input.ee-percent-field.ee-sign-before.ee-curSign-2 {
        width: 100% !important;
    }

    .ee-ticket-price-calculator input.ee-percent-field.ee-sign-before.ee-curSign-3 {
        width: calc(100% - 0.75rem) !important;
    }

    .ee-ticket-price-calculator input.ee-percent-field.ee-sign-before.ee-curSign-4 {
        width: calc(100% - 1.5rem) !important;
    }

    /* accommodate $ before and % after input (needs max 3rem space for currency sign + 1.5rem for %) */
    .ee-ticket-price-calculator input.ee-money-field.ee-sign-before {
        width: calc(100% - 1.5rem) !important;
    }

    .ee-ticket-price-calculator input.ee-money-field.ee-sign-before.ee-curSign-2 {
        width: calc(100% - 2.25rem) !important;
    }

    .ee-ticket-price-calculator input.ee-money-field.ee-sign-before.ee-curSign-3 {
        width: calc(100% - 3rem) !important;
    }

    .ee-ticket-price-calculator input.ee-money-field.ee-sign-before.ee-curSign-4 {
        width: calc(100% - 3.75rem) !important;
    }


    .ee-ticket-price-calculator input.ee-money-field.ee-sign-after,
    .ee-ticket-price-calculator input.ee-money-field.ee-sign-before,
    .ee-ticket-price-calculator input.ee-percent-field.ee-sign-after,
    .ee-ticket-price-calculator input.ee-percent-field.ee-sign-before,
    .ee-ticket-price-calculator input.ee-percent-field.ee-sign-before.ee-curSign-2,
    .ee-ticket-price-calculator input.ee-percent-field.ee-sign-before.ee-curSign-3,
    .ee-ticket-price-calculator input.ee-percent-field.ee-sign-before.ee-curSign-4,
    .ee-ticket-price-calculator .ee-percent-sign.ee-sign-after.ee-curSign-2,
    .ee-ticket-price-calculator .ee-percent-sign.ee-sign-after.ee-curSign-3,
    .ee-ticket-price-calculator .ee-percent-sign.ee-sign-after.ee-curSign-4 {
        margin-left: 0;
        margin-right: 0;
    }
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {


    .ee-ticket-price-calculator .ee-rTable-body-td.col-0 .ee-rTable-mobile-only-column-value {
        width: 25%;
    }

    .ee-ticket-price-calculator .ee-rTable-body-td.col-2 .ee-rTable-mobile-only-column-value {
        width: 75%;
    }

    .ee-ticket-price-calculator .ee-rTable-body-td.col-4 .ee-rTable-mobile-only-column-value {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {

    .ee-ticket-price-calculator {
        margin: 0;
    }

    .ee-ticket-price-calculator .ee-rTable-mobile-only-column-header {
        font-size: .9rem;
    }

    .ee-ticket-price-calculator th,
    .ee-ticket-price-calculator td {
        padding: 0.375rem 0.25rem;
    }

    .ee-ticket-price-calculator .ee-ticket-price-calculator-total-label,
    .ee-ticket-price-calculator .ee-rTable-body-td .ee-rTable-mobile-only-column-header,
    .ee-ticket-price-calculator .ee-rTable-body-td .ee-rTable-mobile-only-column-header {
        margin: 0;
        padding: 0.25rem 0 0.25rem 0.375rem;
        text-align: left;
        width: 100%;
    }

    .ee-ticket-price-calculator .ee-rTable-body-td,
    .ee-ticket-price-calculator .ee-ticket-price-calculator-total,
    .ee-ticket-price-calculator .ee-rTable-body-td .ee-rTable-mobile-only-column-value,
    .ee-ticket-price-calculator .ee-rTable-body-td.col-0 .ee-rTable-mobile-only-column-value,
    .ee-ticket-price-calculator .ee-rTable-body-td.col-4 .ee-rTable-mobile-only-column-value,
    .ee-ticket-price-calculator .ee-rTable-body-td.col-2 .ee-rTable-mobile-only-column-value {
        margin: 0;
        width: 100%;
    }

    .ee-ticket-price-calculator .ee-rTable-body-td.col-0 .ee-rTable-mobile-only-column-value {
        width: 37.5%;
    }

    .ee-ticket-price-calculator .ee-ticket-price-calculator-price-actions.ee-rTable-body-td .ee-rTable-mobile-only-column-header,
    .ee-ticket-price-calculator .ee-ticket-price-calculator-add-price-actions.ee-rTable-body-td .ee-rTable-mobile-only-column-header {
        width: 25% !important;
    }

    .ee-ticket-price-calculator .ee-rTable-body-td.ee-ticket-price-calculator-price-actions .ee-rTable-mobile-only-column-value,
    .ee-ticket-price-calculator .ee-rTable-body-td.ee-ticket-price-calculator-add-price-actions .ee-rTable-mobile-only-column-value {
        width: 75% !important;
    }

    .ee-ticket-price-calculator .ee-rTable-footer .ee-rTable-footer-row {
        flex-flow: row wrap;
    }

    .ee-ticket-price-calculator .ee-rTable-footer .ee-ticket-price-calculator-total-row .ee-ticket-price-calculator-total-label {
        padding: 0.75rem 0.5rem 0;
    }

    .ee-ticket-price-calculator .ee-ticket-price-calculator-total-label .col-form-label {
        text-align: left;
    }


    .ee-ticket-price-calculator .ee-rTable-footer .ee-ticket-price-calculator-total-row .ee-ticket-price-calculator-total {
        width: calc(100% - 40px - 0.5rem);
    }


}

@media only screen and (max-width: 360px) {


}
