.ee-date-time-input-text-field-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
}

.ee-date-time-input-text-field-wrapper .ee-date-time-input-text-field {
    margin-right: var(--ee-margin-smaller);
}

.ee-date-time-input-dialog {
    margin-left: -25% !important;
}

.ee-date-time-input-picker-wrapper {
    padding: 1rem 2rem 2rem;
}

.ee-date-time-input-buttons-wrapper {
    padding: 2rem 0 0;
    text-align: right;
}


/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
    .ee-date-time-input-dialog {
        margin-left: -25% !important;
        /*margin-top: -11% !important;*/
    }
}

@media only screen and (max-width: 1366px) {
    .ee-date-time-input-dialog {
        margin-left: -25% !important;
        /*margin-top: -12% !important;*/
    }
}

@media only screen and (max-width: 1280px) {
    .ee-date-time-input-dialog {
        margin-left: -16% !important;
        /*margin-top: -5% !important;*/
    }
}

@media only screen and (max-width: 1024px) {
    .ee-date-time-input-dialog {
        margin-left: -16% !important;
        /*margin-top: -5% !important;*/
    }
}

/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
    .ee-date-time-input-dialog {
        margin-left: -15% !important;
        /*margin-top: -5.5% !important;*/
    }
}

/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
    .ee-date-time-input-dialog {
        margin-left: -12.5% !important;
        /*margin-top: -6.5% !important;*/
    }
}

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and ( max-width: 782px ) {
    .ee-date-time-input-dialog {
        margin-left: -10% !important;
        /*margin-top: -7.5% !important;*/
    }
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 360px) {
}
