
.ee-rspnsv-table {
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    display: table;
    margin: 0 auto var(--ee-margin-smaller);
    table-layout: fixed;
    text-align: left;
}

.ee-rspnsv-table .ee-rspnsv-table-header {
    visibility: visible;
}

.ee-rspnsv-table .ee-rspnsv-table-header .ee-rspnsv-table-header-row,
.ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-row,
.ee-rspnsv-table .ee-rspnsv-table-footer .ee-rspnsv-table-footer-row {
    box-sizing: border-box;
}

.ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-row:nth-child(even) {
    background: var(--ee-color-grey-15);
}

.ee-rspnsv-table .ee-rspnsv-table-header .ee-rspnsv-table-header-th,
.ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-td,
.ee-rspnsv-table .ee-rspnsv-table-footer .ee-rspnsv-table-footer-th,
.ee-rspnsv-table .ee-rspnsv-table-footer .ee-rspnsv-table-footer-td {
    box-sizing: border-box;
    text-align: left;
}

.ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-th,
.ee-rspnsv-table-has-row-headers .ee-rspnsv-table-header .ee-rspnsv-table-header-th:first-child,
.ee-rspnsv-table-has-row-headers .ee-rspnsv-table-footer .ee-rspnsv-table-footer-th:first-child {
    box-sizing: border-box;
    text-align: left;
}

.ee-rspnsv-table .ee-rspnsv-table-body-th,
.ee-rspnsv-table .ee-rspnsv-table-body-td {
    display: table-cell;
}

.ee-rspnsv-table .ee-rspnsv-table-body-td .ee-rspnsv-table-mobile-only-column-value {
    display: block;
    width: 100%;
}

.ee-rspnsv-table .ee-rspnsv-table-mobile-only-column-header {
    display:none;
    visibility: hidden;
    width: 0;
}

.ee-rspnsv-table .ee-rspnsv-table-header .ee-rspnsv-table-header-th.ee-number-column,
.ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-td.ee-number-column,
.ee-rspnsv-table .ee-rspnsv-table-footer .ee-rspnsv-table-footer-th.ee-number-column,
.ee-rspnsv-table .ee-rspnsv-table-header .ee-rspnsv-table-header-th.ee-number-column input[type="text"],
.ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-th.ee-number-column input[type="text"],
.ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-td.ee-number-column input[type="text"],
.ee-rspnsv-table .ee-rspnsv-table-footer .ee-rspnsv-table-footer-th.ee-number-column input[type="text"],
.ee-rspnsv-table .ee-rspnsv-table-footer .ee-rspnsv-table-footer-td.ee-number-column input[type="text"],
.ee-rspnsv-table .ee-rspnsv-table-header .ee-rspnsv-table-header-th.ee-number-column input[type="number"],
.ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-th.ee-number-column input[type="number"],
.ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-td.ee-number-column input[type="number"],
.ee-rspnsv-table .ee-rspnsv-table-footer .ee-rspnsv-table-footer-th.ee-number-column input[type="number"],
.ee-rspnsv-table .ee-rspnsv-table-footer .ee-rspnsv-table-footer-td.ee-number-column input[type="number"],
.ee-rspnsv-table .ee-rspnsv-table-header .ee-rspnsv-table-header-th.ee-number-column select,
.ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-th.ee-number-column select,
.ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-td.ee-number-column select,
.ee-rspnsv-table .ee-rspnsv-table-footer .ee-rspnsv-table-footer-th.ee-number-column select,
.ee-rspnsv-table .ee-rspnsv-table-footer .ee-rspnsv-table-footer-td.ee-number-column select {
    text-align: right;
}





/* COLUMN SIZES */

.ee-rspnsv-table .ee-rspnsv-table-header-th, .ee-rspnsv-table .ee-rspnsv-table-body-td, .ee-rspnsv-table .ee-rspnsv-table-footer-th {
    width: 1.0000%
}

.ee-rspnsv-table .ee-rspnsv-table-body-th {
    width: 2.0000%
}

.ee-rspnsv-table-column-count-1 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-1 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-1 .ee-rspnsv-table-footer-th,
.ee-rspnsv-table-column-count-2 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-2 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-2 .ee-rspnsv-table-footer-th,
.ee-rspnsv-table-column-count-3 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-3 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-3 .ee-rspnsv-table-footer-th {
    width: 25.0000%
}

.ee-rspnsv-table-column-count-1 .ee-rspnsv-table-body-th,
.ee-rspnsv-table-column-count-2 .ee-rspnsv-table-body-th,
.ee-rspnsv-table-column-count-3 .ee-rspnsv-table-body-th {
    width: 50.0000%
}

.ee-rspnsv-table-column-count-4 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-4 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-4 .ee-rspnsv-table-footer-th {
    width: 20.0000%
}

.ee-rspnsv-table-column-count-4 .ee-rspnsv-table-body-th {
    width: 40.0000%
}

.ee-rspnsv-table-column-count-5 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-5 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-5 .ee-rspnsv-table-footer-th {
    width: 16.6700%
}

.ee-rspnsv-table-column-count-5 .ee-rspnsv-table-body-th {
    width: 33.3300%
}

.ee-rspnsv-table-column-count-6 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-6 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-6 .ee-rspnsv-table-footer-th {
    width: 14.2900%
}

.ee-rspnsv-table-column-count-6 .ee-rspnsv-table-body-th {
    width: 28.5700%
}

.ee-rspnsv-table-column-count-7 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-7 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-7 .ee-rspnsv-table-footer-th {
    width: 12.5000%
}

.ee-rspnsv-table-column-count-7 .ee-rspnsv-table-body-th {
    width: 25.0000%
}

.ee-rspnsv-table-column-count-8 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-8 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-8 .ee-rspnsv-table-footer-th {
    width: 11.1100%
}

.ee-rspnsv-table-column-count-8 .ee-rspnsv-table-body-th {
    width: 22.2200%
}

.ee-rspnsv-table-column-count-9 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-9 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-9 .ee-rspnsv-table-footer-th {
    width: 10.0000%
}

.ee-rspnsv-table-column-count-9 .ee-rspnsv-table-body-th {
    width: 20.0000%
}

.ee-rspnsv-table-column-count-10 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-10 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-10 .ee-rspnsv-table-footer-th {
    width: 9.0900%
}

.ee-rspnsv-table-column-count-10 .ee-rspnsv-table-body-th {
    width: 18.1800%
}

.ee-rspnsv-table-column-count-11 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-11 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-11 .ee-rspnsv-table-footer-th {
    width: 8.3300%
}

.ee-rspnsv-table-column-count-11 .ee-rspnsv-table-body-th {
    width: 16.6700%
}

.ee-rspnsv-table-column-count-12 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-12 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-12 .ee-rspnsv-table-footer-th {
    width: 7.6900%
}

.ee-rspnsv-table-column-count-12 .ee-rspnsv-table-body-th {
    width: 15.3800%
}

.ee-rspnsv-table-column-count-13 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-13 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-13 .ee-rspnsv-table-footer-th {
    width: 7.1400%
}

.ee-rspnsv-table-column-count-13 .ee-rspnsv-table-body-th {
    width: 14.2900%
}

.ee-rspnsv-table-column-count-14 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-14 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-14 .ee-rspnsv-table-footer-th {
    width: 6.6700%
}

.ee-rspnsv-table-column-count-14 .ee-rspnsv-table-body-th {
    width: 13.3300%
}

.ee-rspnsv-table-column-count-15 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-15 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-15 .ee-rspnsv-table-footer-th {
    width: 6.2500%
}

.ee-rspnsv-table-column-count-15 .ee-rspnsv-table-body-th {
    width: 12.5000%
}

.ee-rspnsv-table-column-count-16 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-16 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-16 .ee-rspnsv-table-footer-th {
    width: 5.8800%
}

.ee-rspnsv-table-column-count-16 .ee-rspnsv-table-body-th {
    width: 11.7600%
}

.ee-rspnsv-table-column-count-17 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-17 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-17 .ee-rspnsv-table-footer-th {
    width: 5.5600%
}

.ee-rspnsv-table-column-count-17 .ee-rspnsv-table-body-th {
    width: 11.1100%
}

.ee-rspnsv-table-column-count-18 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-18 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-18 .ee-rspnsv-table-footer-th {
    width: 5.2600%
}

.ee-rspnsv-table-column-count-18 .ee-rspnsv-table-body-th {
    width: 10.5300%
}

.ee-rspnsv-table-column-count-19 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-19 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-19 .ee-rspnsv-table-footer-th {
    width: 5.0000%
}

.ee-rspnsv-table-column-count-19 .ee-rspnsv-table-body-th {
    width: 10.0000%
}

.ee-rspnsv-table-column-count-20 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-20 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-20 .ee-rspnsv-table-footer-th {
    width: 4.7600%
}

.ee-rspnsv-table-column-count-20 .ee-rspnsv-table-body-th {
    width: 9.5200%
}

.ee-rspnsv-table-column-count-21 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-21 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-21 .ee-rspnsv-table-footer-th {
    width: 4.5500%
}

.ee-rspnsv-table-column-count-21 .ee-rspnsv-table-body-th {
    width: 9.0900%
}

.ee-rspnsv-table-column-count-22 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-22 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-22 .ee-rspnsv-table-footer-th {
    width: 4.3500%
}

.ee-rspnsv-table-column-count-22 .ee-rspnsv-table-body-th {
    width: 8.7000%
}

.ee-rspnsv-table-column-count-23 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-23 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-23 .ee-rspnsv-table-footer-th {
    width: 4.1700%
}

.ee-rspnsv-table-column-count-23 .ee-rspnsv-table-body-th {
    width: 8.3300%
}

.ee-rspnsv-table-column-count-24 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-24 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-24 .ee-rspnsv-table-footer-th {
    width: 4.0000%
}

.ee-rspnsv-table-column-count-24 .ee-rspnsv-table-body-th {
    width: 8.0000%
}

.ee-rspnsv-table-column-count-25 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-25 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-25 .ee-rspnsv-table-footer-th {
    width: 3.8500%
}

.ee-rspnsv-table-column-count-25 .ee-rspnsv-table-body-th {
    width: 7.6900%
}

.ee-rspnsv-table-column-count-26 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-26 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-26 .ee-rspnsv-table-footer-th {
    width: 3.7000%
}

.ee-rspnsv-table-column-count-26 .ee-rspnsv-table-body-th {
    width: 7.4100%
}

.ee-rspnsv-table-column-count-27 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-27 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-27 .ee-rspnsv-table-footer-th {
    width: 3.5700%
}

.ee-rspnsv-table-column-count-27 .ee-rspnsv-table-body-th {
    width: 7.1400%
}

.ee-rspnsv-table-column-count-28 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-28 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-28 .ee-rspnsv-table-footer-th {
    width: 3.4500%
}

.ee-rspnsv-table-column-count-28 .ee-rspnsv-table-body-th {
    width: 6.9000%
}

.ee-rspnsv-table-column-count-29 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-29 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-29 .ee-rspnsv-table-footer-th {
    width: 3.3300%
}

.ee-rspnsv-table-column-count-29 .ee-rspnsv-table-body-th {
    width: 6.6700%
}

.ee-rspnsv-table-column-count-30 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-30 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-30 .ee-rspnsv-table-footer-th {
    width: 3.2300%
}

.ee-rspnsv-table-column-count-30 .ee-rspnsv-table-body-th {
    width: 6.4500%
}

.ee-rspnsv-table-column-count-31 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-31 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-31 .ee-rspnsv-table-footer-th {
    width: 3.1300%
}

.ee-rspnsv-table-column-count-31 .ee-rspnsv-table-body-th {
    width: 6.2500%
}

.ee-rspnsv-table-column-count-32 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-32 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-32 .ee-rspnsv-table-footer-th {
    width: 3.0300%
}

.ee-rspnsv-table-column-count-32 .ee-rspnsv-table-body-th {
    width: 6.0600%
}

.ee-rspnsv-table-column-count-33 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-33 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-33 .ee-rspnsv-table-footer-th {
    width: 2.9400%
}

.ee-rspnsv-table-column-count-33 .ee-rspnsv-table-body-th {
    width: 5.8800%
}

.ee-rspnsv-table-column-count-34 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-34 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-34 .ee-rspnsv-table-footer-th {
    width: 2.8600%
}

.ee-rspnsv-table-column-count-34 .ee-rspnsv-table-body-th {
    width: 5.7100%
}

.ee-rspnsv-table-column-count-35 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-35 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-35 .ee-rspnsv-table-footer-th {
    width: 2.7800%
}

.ee-rspnsv-table-column-count-35 .ee-rspnsv-table-body-th {
    width: 5.5600%
}

.ee-rspnsv-table-column-count-36 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-36 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-36 .ee-rspnsv-table-footer-th {
    width: 2.7000%
}

.ee-rspnsv-table-column-count-36 .ee-rspnsv-table-body-th {
    width: 5.4100%
}

.ee-rspnsv-table-column-count-37 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-37 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-37 .ee-rspnsv-table-footer-th {
    width: 2.6300%
}

.ee-rspnsv-table-column-count-37 .ee-rspnsv-table-body-th {
    width: 5.2600%
}

.ee-rspnsv-table-column-count-38 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-38 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-38 .ee-rspnsv-table-footer-th {
    width: 2.5600%
}

.ee-rspnsv-table-column-count-38 .ee-rspnsv-table-body-th {
    width: 5.1300%
}

.ee-rspnsv-table-column-count-39 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-39 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-39 .ee-rspnsv-table-footer-th {
    width: 2.5000%
}

.ee-rspnsv-table-column-count-39 .ee-rspnsv-table-body-th {
    width: 5.0000%
}

.ee-rspnsv-table-column-count-40 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-40 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-40 .ee-rspnsv-table-footer-th {
    width: 2.4400%
}

.ee-rspnsv-table-column-count-40 .ee-rspnsv-table-body-th {
    width: 4.8800%
}

.ee-rspnsv-table-column-count-41 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-41 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-41 .ee-rspnsv-table-footer-th {
    width: 2.3800%
}

.ee-rspnsv-table-column-count-41 .ee-rspnsv-table-body-th {
    width: 4.7600%
}

.ee-rspnsv-table-column-count-42 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-42 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-42 .ee-rspnsv-table-footer-th {
    width: 2.3300%
}

.ee-rspnsv-table-column-count-42 .ee-rspnsv-table-body-th {
    width: 4.6500%
}

.ee-rspnsv-table-column-count-43 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-43 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-43 .ee-rspnsv-table-footer-th {
    width: 2.2700%
}

.ee-rspnsv-table-column-count-43 .ee-rspnsv-table-body-th {
    width: 4.5500%
}

.ee-rspnsv-table-column-count-44 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-44 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-44 .ee-rspnsv-table-footer-th {
    width: 2.2200%
}

.ee-rspnsv-table-column-count-44 .ee-rspnsv-table-body-th {
    width: 4.4400%
}

.ee-rspnsv-table-column-count-45 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-45 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-45 .ee-rspnsv-table-footer-th {
    width: 2.1700%
}

.ee-rspnsv-table-column-count-45 .ee-rspnsv-table-body-th {
    width: 4.3500%
}

.ee-rspnsv-table-column-count-46 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-46 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-46 .ee-rspnsv-table-footer-th {
    width: 2.1300%
}

.ee-rspnsv-table-column-count-46 .ee-rspnsv-table-body-th {
    width: 4.2600%
}

.ee-rspnsv-table-column-count-47 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-47 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-47 .ee-rspnsv-table-footer-th {
    width: 2.0800%
}

.ee-rspnsv-table-column-count-47 .ee-rspnsv-table-body-th {
    width: 4.1700%
}

.ee-rspnsv-table-column-count-48 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-48 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-48 .ee-rspnsv-table-footer-th {
    width: 2.0400%
}

.ee-rspnsv-table-column-count-48 .ee-rspnsv-table-body-th {
    width: 4.0800%
}

.ee-rspnsv-table-column-count-49 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-49 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-49 .ee-rspnsv-table-footer-th {
    width: 2.0000%
}

.ee-rspnsv-table-column-count-49 .ee-rspnsv-table-body-th {
    width: 4.0000%
}

.ee-rspnsv-table-column-count-50 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-50 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-50 .ee-rspnsv-table-footer-th {
    width: 1.9600%
}

.ee-rspnsv-table-column-count-50 .ee-rspnsv-table-body-th {
    width: 3.9200%
}

.ee-rspnsv-table-column-count-51 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-51 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-51 .ee-rspnsv-table-footer-th {
    width: 1.9200%
}

.ee-rspnsv-table-column-count-51 .ee-rspnsv-table-body-th {
    width: 3.8500%
}

.ee-rspnsv-table-column-count-52 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-52 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-52 .ee-rspnsv-table-footer-th {
    width: 1.8900%
}

.ee-rspnsv-table-column-count-52 .ee-rspnsv-table-body-th {
    width: 3.7700%
}

.ee-rspnsv-table-column-count-53 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-53 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-53 .ee-rspnsv-table-footer-th {
    width: 1.8500%
}

.ee-rspnsv-table-column-count-53 .ee-rspnsv-table-body-th {
    width: 3.7000%
}

.ee-rspnsv-table-column-count-54 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-54 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-54 .ee-rspnsv-table-footer-th {
    width: 1.8200%
}

.ee-rspnsv-table-column-count-54 .ee-rspnsv-table-body-th {
    width: 3.6400%
}

.ee-rspnsv-table-column-count-55 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-55 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-55 .ee-rspnsv-table-footer-th {
    width: 1.7900%
}

.ee-rspnsv-table-column-count-55 .ee-rspnsv-table-body-th {
    width: 3.5700%
}

.ee-rspnsv-table-column-count-56 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-56 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-56 .ee-rspnsv-table-footer-th {
    width: 1.7500%
}

.ee-rspnsv-table-column-count-56 .ee-rspnsv-table-body-th {
    width: 3.5100%
}

.ee-rspnsv-table-column-count-57 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-57 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-57 .ee-rspnsv-table-footer-th {
    width: 1.7200%
}

.ee-rspnsv-table-column-count-57 .ee-rspnsv-table-body-th {
    width: 3.4500%
}

.ee-rspnsv-table-column-count-58 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-58 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-58 .ee-rspnsv-table-footer-th {
    width: 1.6900%
}

.ee-rspnsv-table-column-count-58 .ee-rspnsv-table-body-th {
    width: 3.3900%
}

.ee-rspnsv-table-column-count-59 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-59 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-59 .ee-rspnsv-table-footer-th {
    width: 1.6700%
}

.ee-rspnsv-table-column-count-59 .ee-rspnsv-table-body-th {
    width: 3.3300%
}

.ee-rspnsv-table-column-count-60 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-60 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-60 .ee-rspnsv-table-footer-th {
    width: 1.6400%
}

.ee-rspnsv-table-column-count-60 .ee-rspnsv-table-body-th {
    width: 3.2800%
}

.ee-rspnsv-table-column-count-61 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-61 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-61 .ee-rspnsv-table-footer-th {
    width: 1.6100%
}

.ee-rspnsv-table-column-count-61 .ee-rspnsv-table-body-th {
    width: 3.2300%
}

.ee-rspnsv-table-column-count-62 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-62 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-62 .ee-rspnsv-table-footer-th {
    width: 1.5900%
}

.ee-rspnsv-table-column-count-62 .ee-rspnsv-table-body-th {
    width: 3.1700%
}

.ee-rspnsv-table-column-count-63 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-63 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-63 .ee-rspnsv-table-footer-th {
    width: 1.5600%
}

.ee-rspnsv-table-column-count-63 .ee-rspnsv-table-body-th {
    width: 3.1300%
}

.ee-rspnsv-table-column-count-64 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-64 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-64 .ee-rspnsv-table-footer-th {
    width: 1.5400%
}

.ee-rspnsv-table-column-count-64 .ee-rspnsv-table-body-th {
    width: 3.0800%
}

.ee-rspnsv-table-column-count-65 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-65 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-65 .ee-rspnsv-table-footer-th {
    width: 1.5200%
}

.ee-rspnsv-table-column-count-65 .ee-rspnsv-table-body-th {
    width: 3.0300%
}

.ee-rspnsv-table-column-count-66 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-66 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-66 .ee-rspnsv-table-footer-th {
    width: 1.4900%
}

.ee-rspnsv-table-column-count-66 .ee-rspnsv-table-body-th {
    width: 2.9900%
}

.ee-rspnsv-table-column-count-67 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-67 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-67 .ee-rspnsv-table-footer-th {
    width: 1.4700%
}

.ee-rspnsv-table-column-count-67 .ee-rspnsv-table-body-th {
    width: 2.9400%
}

.ee-rspnsv-table-column-count-68 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-68 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-68 .ee-rspnsv-table-footer-th {
    width: 1.4500%
}

.ee-rspnsv-table-column-count-68 .ee-rspnsv-table-body-th {
    width: 2.9000%
}

.ee-rspnsv-table-column-count-69 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-69 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-69 .ee-rspnsv-table-footer-th {
    width: 1.4300%
}

.ee-rspnsv-table-column-count-69 .ee-rspnsv-table-body-th {
    width: 2.8600%
}

.ee-rspnsv-table-column-count-70 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-70 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-70 .ee-rspnsv-table-footer-th {
    width: 1.4100%
}

.ee-rspnsv-table-column-count-70 .ee-rspnsv-table-body-th {
    width: 2.8200%
}

.ee-rspnsv-table-column-count-71 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-71 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-71 .ee-rspnsv-table-footer-th {
    width: 1.3900%
}

.ee-rspnsv-table-column-count-71 .ee-rspnsv-table-body-th {
    width: 2.7800%
}

.ee-rspnsv-table-column-count-72 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-72 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-72 .ee-rspnsv-table-footer-th {
    width: 1.3700%
}

.ee-rspnsv-table-column-count-72 .ee-rspnsv-table-body-th {
    width: 2.7400%
}

.ee-rspnsv-table-column-count-73 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-73 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-73 .ee-rspnsv-table-footer-th {
    width: 1.3500%
}

.ee-rspnsv-table-column-count-73 .ee-rspnsv-table-body-th {
    width: 2.7000%
}

.ee-rspnsv-table-column-count-74 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-74 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-74 .ee-rspnsv-table-footer-th {
    width: 1.3300%
}

.ee-rspnsv-table-column-count-74 .ee-rspnsv-table-body-th {
    width: 2.6700%
}

.ee-rspnsv-table-column-count-75 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-75 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-75 .ee-rspnsv-table-footer-th {
    width: 1.3200%
}

.ee-rspnsv-table-column-count-75 .ee-rspnsv-table-body-th {
    width: 2.6300%
}

.ee-rspnsv-table-column-count-76 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-76 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-76 .ee-rspnsv-table-footer-th {
    width: 1.3000%
}

.ee-rspnsv-table-column-count-76 .ee-rspnsv-table-body-th {
    width: 2.6000%
}

.ee-rspnsv-table-column-count-77 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-77 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-77 .ee-rspnsv-table-footer-th {
    width: 1.2800%
}

.ee-rspnsv-table-column-count-77 .ee-rspnsv-table-body-th {
    width: 2.5600%
}

.ee-rspnsv-table-column-count-78 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-78 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-78 .ee-rspnsv-table-footer-th {
    width: 1.2700%
}

.ee-rspnsv-table-column-count-78 .ee-rspnsv-table-body-th {
    width: 2.5300%
}

.ee-rspnsv-table-column-count-79 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-79 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-79 .ee-rspnsv-table-footer-th {
    width: 1.2500%
}

.ee-rspnsv-table-column-count-79 .ee-rspnsv-table-body-th {
    width: 2.5000%
}

.ee-rspnsv-table-column-count-80 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-80 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-80 .ee-rspnsv-table-footer-th {
    width: 1.2300%
}

.ee-rspnsv-table-column-count-80 .ee-rspnsv-table-body-th {
    width: 2.4700%
}

.ee-rspnsv-table-column-count-81 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-81 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-81 .ee-rspnsv-table-footer-th {
    width: 1.2200%
}

.ee-rspnsv-table-column-count-81 .ee-rspnsv-table-body-th {
    width: 2.4400%
}

.ee-rspnsv-table-column-count-82 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-82 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-82 .ee-rspnsv-table-footer-th {
    width: 1.2000%
}

.ee-rspnsv-table-column-count-82 .ee-rspnsv-table-body-th {
    width: 2.4100%
}

.ee-rspnsv-table-column-count-83 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-83 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-83 .ee-rspnsv-table-footer-th {
    width: 1.1900%
}

.ee-rspnsv-table-column-count-83 .ee-rspnsv-table-body-th {
    width: 2.3800%
}

.ee-rspnsv-table-column-count-84 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-84 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-84 .ee-rspnsv-table-footer-th {
    width: 1.1800%
}

.ee-rspnsv-table-column-count-84 .ee-rspnsv-table-body-th {
    width: 2.3500%
}

.ee-rspnsv-table-column-count-85 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-85 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-85 .ee-rspnsv-table-footer-th {
    width: 1.1600%
}

.ee-rspnsv-table-column-count-85 .ee-rspnsv-table-body-th {
    width: 2.3300%
}

.ee-rspnsv-table-column-count-86 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-86 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-86 .ee-rspnsv-table-footer-th {
    width: 1.1500%
}

.ee-rspnsv-table-column-count-86 .ee-rspnsv-table-body-th {
    width: 2.3000%
}

.ee-rspnsv-table-column-count-87 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-87 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-87 .ee-rspnsv-table-footer-th {
    width: 1.1400%
}

.ee-rspnsv-table-column-count-87 .ee-rspnsv-table-body-th {
    width: 2.2700%
}

.ee-rspnsv-table-column-count-88 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-88 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-88 .ee-rspnsv-table-footer-th {
    width: 1.1200%
}

.ee-rspnsv-table-column-count-88 .ee-rspnsv-table-body-th {
    width: 2.2500%
}

.ee-rspnsv-table-column-count-89 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-89 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-89 .ee-rspnsv-table-footer-th {
    width: 1.1100%
}

.ee-rspnsv-table-column-count-89 .ee-rspnsv-table-body-th {
    width: 2.2200%
}

.ee-rspnsv-table-column-count-90 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-90 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-90 .ee-rspnsv-table-footer-th {
    width: 1.1000%
}

.ee-rspnsv-table-column-count-90 .ee-rspnsv-table-body-th {
    width: 2.2000%
}

.ee-rspnsv-table-column-count-91 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-91 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-91 .ee-rspnsv-table-footer-th {
    width: 1.0900%
}

.ee-rspnsv-table-column-count-91 .ee-rspnsv-table-body-th {
    width: 2.1700%
}

.ee-rspnsv-table-column-count-92 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-92 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-92 .ee-rspnsv-table-footer-th {
    width: 1.0800%
}

.ee-rspnsv-table-column-count-92 .ee-rspnsv-table-body-th {
    width: 2.1500%
}

.ee-rspnsv-table-column-count-93 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-93 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-93 .ee-rspnsv-table-footer-th {
    width: 1.0600%
}

.ee-rspnsv-table-column-count-93 .ee-rspnsv-table-body-th {
    width: 2.1300%
}

.ee-rspnsv-table-column-count-94 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-94 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-94 .ee-rspnsv-table-footer-th {
    width: 1.0500%
}

.ee-rspnsv-table-column-count-94 .ee-rspnsv-table-body-th {
    width: 2.1100%
}

.ee-rspnsv-table-column-count-95 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-95 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-95 .ee-rspnsv-table-footer-th {
    width: 1.0400%
}

.ee-rspnsv-table-column-count-95 .ee-rspnsv-table-body-th {
    width: 2.0800%
}

.ee-rspnsv-table-column-count-96 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-96 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-96 .ee-rspnsv-table-footer-th {
    width: 1.0300%
}

.ee-rspnsv-table-column-count-96 .ee-rspnsv-table-body-th {
    width: 2.0600%
}

.ee-rspnsv-table-column-count-97 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-97 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-97 .ee-rspnsv-table-footer-th {
    width: 1.0200%
}

.ee-rspnsv-table-column-count-97 .ee-rspnsv-table-body-th {
    width: 2.0400%
}

.ee-rspnsv-table-column-count-98 .ee-rspnsv-table-header-th, .ee-rspnsv-table-column-count-98 .ee-rspnsv-table-body-td, .ee-rspnsv-table-column-count-98 .ee-rspnsv-table-footer-th {
    width: 1.0100%
}

.ee-rspnsv-table-column-count-98 .ee-rspnsv-table-body-th {
    width: 2.0200%
}





/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
}

/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
}

/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
}

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and ( max-width: 782px ) {

    .ee-rspnsv-table {
        width: 600px;
    }

    .ee-rspnsv-table .ee-rspnsv-table-header {
        height: 0 !important;
        visibility: hidden !important;
        width: 0 !important;
    }

    .ee-rspnsv-table .ee-rspnsv-table-header .ee-rspnsv-table-header-row,
    .ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-row,
    .ee-rspnsv-table .ee-rspnsv-table-footer .ee-rspnsv-table-footer-row {
        display: flex;
        flex-flow: column nowrap;
        padding: var(--ee-padding-tiny) 0;
    }

    .ee-rspnsv-table .ee-rspnsv-table-header .ee-rspnsv-table-header-th,
    .ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-th,
    .ee-rspnsv-table .ee-rspnsv-table-body .ee-rspnsv-table-body-td,
    .ee-rspnsv-table .ee-rspnsv-table-footer .ee-rspnsv-table-footer-th,
    .ee-rspnsv-table .ee-rspnsv-table-footer .ee-rspnsv-table-footer-td {
        padding: var(--ee-padding-micro);
    }

    .ee-rspnsv-table,
    .ee-rspnsv-table .ee-rspnsv-table-header,
    .ee-rspnsv-table .ee-rspnsv-table-header-th,
    .ee-rspnsv-table .ee-rspnsv-table-body,
    .ee-rspnsv-table .ee-rspnsv-table-body-th,
    .ee-rspnsv-table .ee-rspnsv-table-footer,
    .ee-rspnsv-table .ee-rspnsv-table-footer-th {
        display: block;
        width: 100%;
    }

    .ee-rspnsv-table .ee-rspnsv-table-body-td {
        display: block;
        text-align: left;
        width: 100%;
    }

    .ee-rspnsv-table .ee-rspnsv-table-mobile-only-column-header {
        box-sizing: border-box;
        display: inline-block;
        float: left;
        margin: auto 0;
        padding-right: var(--ee-padding-tiny);
        text-align: right;
        vertical-align: middle;
        visibility: visible;
        width: 50%;
    }

    .ee-rspnsv-table .ee-rspnsv-table-body-td .ee-rspnsv-table-mobile-only-column-value {
        box-sizing: border-box;
        display: inline-block;
        width: 50%;
    }

}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 360px) {
}
