/** -------------------------------------------------------------------------
 * Event Espresso FancyButton Stylesheet
 * © 2019 Event Espresso
 * ------------------------------------------------------------------------- */


/***************************
 * TWO TONE BUTTON STYLE
 ***************************/


.ee-button-twotone {
    background: var(--ee-blue);
    border: none;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .75), 0 0 3px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    color: rgba(255, 255, 255, .9);
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    line-height: 33px;
    padding: 10px 70px 10px 20px;
    position: relative;
    text-align: center;
}

.ee-button-twotone:hover {
    text-shadow: -1px -1px rgba(0, 0, 0, .2);
}

.ee-button-twotone .text-wrap {
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: bold;
}

.ee-button-twotone .img-wrap {
    box-sizing: border-box;
    background: var(--ee-dark-grey);
    height: 50px;
    margin: 0;
    padding: 12px 10px 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}

.ee-button-twotone:hover .img-wrap {
    background: var(--ee-white);
}

.ee-button-twotone .espresso-icon {
    color: var(--ee-white);
}

.ee-button-twotone:hover .espresso-icon {
    color: var(--ee-blue);
}


/***************************
 * WOOSH BUTTON STYLE
 ***************************/

.ee-button-woosh {
    background-color: var(--ee-charcoal);
    border: none;
    border-bottom: 3px solid var(--ee-green);
    box-shadow: 0 2px 1px rgba(0, 0, 0, .75), 0 0 3px rgba(0, 0, 0, .1);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: var(--ee-white);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}

.ee-button-woosh.ee-tiny-button {
    font-size: .8rem;
    height: .8rem;
    line-height: .7rem;
    padding: .6rem 2.4rem .55rem 1rem;
}

.ee-button-woosh.ee-small-button {
    font-size: .9rem;
    height: .85rem;
    line-height: .75rem;
    padding: .7rem 2.8rem .65rem 1.2rem;
}

.ee-button-woosh.ee-medium-button {
    font-size: 1rem;
    height: 1rem;
    line-height: .85rem;
    padding: .8rem 3rem .75rem 1.5rem;
}

.ee-button-woosh.ee-big-button {
    font-size: 1.2rem;
    height: 1.2rem;
    line-height: 1rem;
    padding: .9rem 3.3rem .85rem 1.8rem;
}

.ee-button-woosh.ee-huge-button {
    font-size: 1.4rem;
    height: 1.4rem;
    line-height: 1.25rem;
    padding: 1rem 3.6rem .9rem 2.2rem;
}

.ee-button-woosh .text-wrap {
    font-family: "Arial Black", Gadget, sans-serif;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}
.ee-button-woosh:hover .text-wrap {
    text-shadow: -1px -1px rgba(0, 0, 0, .2);
}

.ee-button-woosh .img-wrap {
    position: absolute;
    right: 6%;
    top: 23%;
    vertical-align: middle;
    z-index: 1;
}

.ee-button-woosh:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 300px;
    width: 300px;
    background: var(--ee-green);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateX(-325px) translateY(-40%) rotate(45deg);
    transform: translateX(-325px) translateY(-40%) rotate(45deg);
}

.ee-button-woosh:hover:after,
.ee-button-woosh:active:after {
    -webkit-transform: translateX(0) translateY(-40%) rotate(45deg);
    transform: translateX(0) translateY(-40%) rotate(45deg);
}



/***************************
 * WP BUTTON STYLE
 ***************************/

.ee-button-wp {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    vertical-align: middle;
}

.ee-button-wp .text-wrap {
    font-weight: bold;
    vertical-align: middle;
}

.ee-button-wp .img-wrap {
    position: relative;
    /*right: -1rem;*/
    margin: 0 0 0 1rem;
    top: -.3rem;
    vertical-align: middle;
}

.ee-button-wp.ee-tiny-button {
    font-size: .8rem;
    height: .8rem;
    line-height: .8rem;
    padding: .6rem 1.2rem;
}

.ee-button-wp.ee-small-button {
    font-size: .9rem;
    height: .85rem;
    line-height: .9rem;
    padding: .7rem 1.4rem;
}

.ee-button-wp.ee-medium-button {
    font-size: 1rem;
    height: 1rem;
    line-height: 1rem;
    padding: .8rem 1.6rem;
}

.ee-button-wp.ee-big-button {
    font-size: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    padding: .9rem 1.8rem;
}

.ee-button-wp.ee-huge-button {
    font-size: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    padding: 1rem 2rem;
}