/** -------------------------------------------------------------------------
 * Event Espresso FancyButton Stylesheet
 * © 2019 Event Espresso
 * ------------------------------------------------------------------------- */

/*
color map
blue    3297c3
slate   2d323e
gray    58575c
green   759427
orange  eb4f21
pink    f06291
*/


/***************************
 * TWO TONE BUTTON STYLE
 ***************************/


.ee-button-twotone {
    background: #3297c3;
    border: none;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .75), 0 0 3px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    color: rgba(255, 255, 255, .9);
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    line-height: 33px;
    padding: 10px 70px 10px 20px;
    position: relative;
    text-align: center;
    text-shadow: -1px -1px rgba(0, 0, 0, .2);
}

.ee-button-twotone:hover {
    color: #fff;
}

.ee-button-twotone .text-wrap {
    font-family: "Arial Black", Gadget, sans-serif;
}

.ee-button-twotone .img-wrap {
    box-sizing: border-box;
    background: #58575c;
    height: 50px;
    margin: 0;
    padding: 12px 10px 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}

.ee-button-twotone:hover .img-wrap {
    background: #fff;
}

.ee-button-twotone .espresso-icon {
    color: #fff;
}

.ee-button-twotone:hover .espresso-icon {
    color: #3297c3;
}


/***************************
 * WOOSH BUTTON STYLE
 ***************************/

.ee-button-woosh {
    background-color: #2d323e;
    border: none;
    border-bottom: 3px solid #759427;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .75), 0 0 3px rgba(0, 0, 0, .1);
    /*box-shadow: none;*/
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}

.ee-button-woosh.ee-tiny-button {
    font-size: .8rem;
    height: .8rem;
    line-height: .7rem;
    /*padding: 2px 40px 2px 20px;*/
    padding: .6rem 2.5rem .55rem 1.8rem;
}

.ee-button-woosh.ee-small-button {
    font-size: .9rem;
    height: .85rem;
    line-height: .75rem;
    /*padding: 4px 46px 4px 23px;*/
    padding: .7rem 3rem .65rem 2rem;
}

.ee-button-woosh.ee-medium-button {
    font-size: 1rem;
    height: 1rem;
    line-height: .85rem;
    /*padding: 6px 54px 6px 27px;*/
    padding: .8rem 3.2rem .75rem 2.4rem;
}

.ee-button-woosh.ee-big-button {
    font-size: 1.2rem;
    height: 1.2rem;
    line-height: 1rem;
    /*padding: 8px 50px 8px 30px;*/
    padding: .9rem 3.6rem .85rem 2.7rem;
}

.ee-button-woosh.ee-huge-button {
    font-size: 1.4rem;
    height: 1.4rem;
    line-height: 1.25rem;
    /*padding: 10px 80px 10px 40px;*/
    padding: 1rem 4rem .9rem 2.4rem;
}

.ee-button-woosh .text-wrap {
    font-family: "Arial Black", Gadget, sans-serif;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}
.ee-button-woosh:hover .text-wrap {
    text-shadow: -1px -1px rgba(0, 0, 0, .2);
}

.ee-button-woosh .img-wrap {
    position: absolute;
    right: 6%;
    top: 23%;
    vertical-align: middle;
    z-index: 1;
}

.ee-button-woosh:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 300px;
    width: 300px;
    background: #759427;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateX(-325px) translateY(-40%) rotate(45deg);
    transform: translateX(-325px) translateY(-40%) rotate(45deg);
}

.ee-button-woosh:hover:after,
.ee-button-woosh:active:after {
    -webkit-transform: translateX(0) translateY(-40%) rotate(45deg);
    transform: translateX(0) translateY(-40%) rotate(45deg);
}



/***************************
 * WP BUTTON STYLE
 ***************************/

.ee-button-wp {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    vertical-align: middle;
}

.ee-button-wp .text-wrap {
    font-weight: bold;
    vertical-align: middle;
}

.ee-button-wp .img-wrap {
    position: relative;
    right: -1rem;
    top: -.375rem;
    vertical-align: middle;
}

.ee-button-wp.ee-tiny-button {
    font-size: .8rem;
    height: .8rem;
    line-height: .8rem;
    padding: .6rem 1.8rem .5rem 1.2rem;
}

.ee-button-wp.ee-small-button {
    font-size: .9rem;
    height: .85rem;
    line-height: .9rem;
    padding: .7rem 2.1rem .6rem 1.4rem;
}

.ee-button-wp.ee-medium-button {
    font-size: 1rem;
    height: 1rem;
    line-height: 1rem;
    padding: .8rem 2.4rem .7rem 1.6rem;
}

.ee-button-wp.ee-big-button {
    font-size: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    padding: .9rem 2.7rem .8rem 1.8rem;
}

.ee-button-wp.ee-huge-button {
    font-size: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    padding: 1rem 3rem .9rem 2rem;
}