/** -------------------------------------------------------------------------
 * Event Espresso Time Picker Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-input-base-wrapper.ee-time-picker {
	.ee-timezone-info {
		margin: 0;
		button {
			margin: 0;
			background: var(--ee-button-background);
			border-color: var(--ee-button-background);

			&:active {
				border-color: var(--ee-color-primary);
			}

			&:focus {
				border-color: var(--ee-color-primary);
				/* Visible in Windows high-contrast themes */
				outline-color: transparent;
				outline-width: 3px;
				outline-style: solid;

				&:active {
					border-color: var(--ee-color-primary-high-contrast);
				}
			}

			&:hover {
				border-color: var(--ee-color-primary-low-contrast);

				&:active {
					border-color: var(--ee-color-primary-high-contrast);
				}
			}

			svg {
				margin: 0;
				path {
					fill: currentColor;
				}
			}
		}
	}
}
