#ee-available-payment-method-inputs-paypal_smart_buttons-lbl{
    display:none !important;
}
#paypal-button-container{
    display:inline-block;
    float:left;
    width: 12.4%;
    min-width:200px;
    max-width: 100%;
    padding: .25em 0 .2em 20px;
}