/** -------------------------------------------------------------------------
 * Event Espresso EntityPaperFrame Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-entity-paper-frame-wrapper {
	box-sizing: border-box;
	padding: var(--ee-font-size-default) 0 0;
	position: relative;
}

.ee-entity-paper-frame {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.ee-entity-paper-frame:before,
.ee-entity-paper-frame:after {
	position: absolute;
	content: '';
	bottom: 14px;
	left: 10px;
	width: 50%;
	top: 70%;
	max-width: 300px;
	background: var(--ee-color-black);
	-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.6);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.6);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
	z-index: -1;
}

.ee-entity-paper-frame:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}

.ee-entity-inner-wrapper {
	background: var(--ee-background-color);
	box-shadow: var(--ee-box-shadow-big-diffuse);
	box-sizing: border-box;
	height: 100%;
	position: relative;
	width: 100%;
	vertical-align: bottom;
}
