.espresso-admin .form-table th { max-width: 30%!important; min-width: 20%!important; }
.espresso-admin .form-table td { max-width: 79%!important; min-width: 69%!important; }
.espresso-admin .regular-text { width: 98%!important; }
#entries-per-page-dv { display:inline; }

.wrap .nav-tab-wrapper { margin-bottom:1em; }
.wrap .subsubsub { margin:0; }

#txn-filters-dv { clear:both; padding:1em 0; }
.datepicker { width:125px; }

/* green text */
.status-TCM { color:#70CC50; font-size:.85em; font-weight:bold; }
.txn-overview-full-payment-spn { color:#70CC50;  }
/* blue text */
.status-TIN { color:#00B1CA; font-size:.85em; font-weight:bold; }
.txn-overview-part-payment-spn { color:#00B1CA; font-weight:bold;  }
/* orange text */
.status-TOP { color:#E76700; font-size:.85em; font-weight:bold; }
.txn-overview-no-payment-spn { color:#E76700; font-weight:bold; }
/* red text */
.status-TFL { color:#E44064; font-size:.85em; }
/* yellow text */
.status-TAB { color:#FCB93C; font-size:.85em; }

/**
 * status strips
 */

.wp-list-table .ee-status-strip td:first-child {
    border-left-style: solid;
    border-left-width: 4px;
}

/*txn complete, pymt approved*/
.reg-status-RAP,
.txn-status-TCM,
.pymt-status-PAP,
.txn-status-TCM td:first-child {
    border-left-color: #70CC50;
}

.reg-status-RIC,
.txn-status-TAB,
.txn-status-TAB td:first-child  {
    border-left-color: #FCB93C;
}
/*txn incomplete, pymt declined*/
.reg-status-RDC,
.txn-status-TFL,
.pymt-status-PDC,
.txn-status-TFL td:first-child {
    border-left-color: #E44064;
}

/*txn open, pymt pending*/
.reg-status-RPP,
.txn-status-TIN,
.pymt-status-PPN,
.txn-status-TIN td:first-child {
    border-left-color: #00B1CA;
}

/*txn overpaid, pymt fail*/
.reg-status-RNA,
.txn-status-TOP,
.pymt-status-PFL,
.txn-status-TOP td:first-child {
    border-left-color: #E76700;
}

/*pymt cancelled*/
.reg-status-RCN,
.pymt-status-PCN {
    border-left-color: #A39D9C;
}


/*.ee-status-strip-td {*/
/*padding: 0;*/
/*min-height: 50px;*/
/*height: 100%;*/
/*display: inline-block;*/
/*margin: 0 0 -5px;*/
/*}*/

.widefat td.column-STS_ID,
.widefat th.column-STS_ID {
    width: 2%;
    padding: 0;
    margin: 0;
}

/** txn & payment status legend **/
.ee-status-legend-TCM,
.ee-status-legend-PAP {
    background-color: #70CC50;
}

.ee-status-legend-TAB  {
    background-color: #FCB93C;
}

.ee-status-legend-TFL,
.ee-status-legend-PDC {
    background-color: #E44064;
}

.ee-status-legend-TIN,
.ee-status-legend-PPN {
    background-color: #00B1CA;
}

.ee-status-legend-TOP,
.ee-status-legend-PFL {
    background-color: #E76700;
}

.ee-status-legend-PCN {
    background-color: #A39D9C;
}


/* TABLE COLUMNS */

.column-TXN_ID { width:3%; }
td.column-TXN_ID { padding: 4px 7px  29px; }
.column-TXN_timestamp { width:10%; }


/* #TXN_total, #TXN_paid { text-align:center; } */

.column-TXN_total, .column-TXN_paid { width:6%; text-align:right; }
.txn-pad-rght { display:block; padding-right:1em; }

.column-ATT_fname { width:20%; }
.column-event_name { width: 15% }
.column-actions { width:15%; }

.txn-overview-free-event-spn {
    display: block; text-align:center;
}

.txn-overview-actions-ul { list-style:none; margin:0; }
.txn-overview-actions-ul li { display: inline-block; float: left; margin:0; }
.txn-overview-actions-ul li + li { margin-left:6px; }/**/
.button-secondary.no-icon {
    vertical-align: baseline;
}

#txn-admin-payments-tbl .txn-overview-actions-ul { width:32px; }
#txn-admin-payments-tbl th:first-child, #txn-admin-payments-tbl td:first-child {
    margin: 0;
    padding: 0;
    width: 0;
}

.txn-admin-payment-action-edit-lnk,
.txn-admin-payment-action-delete-lnk { cursor:pointer; }
.payment-date-dv { width: 100px; }

.admin-side-mbox-dv { margin:1em 0 2em; }
.admin-side-mbox-dv p { margin:.5em 0; line-height:1.2em; color:#333; text-shadow:0 1px 0 #fff; }
.admin-side-mbox-label-spn { width:30%; padding-right:.5em; text-align:right; }
.admin-side-mbox-text-dv { padding-left:.5em; margin:0 0 1em 30%; }

.ee-admin-dialog-container .admin-modal-dialog-h2 { font-size:2em; margin:.25em 0;  }
.admin-primary-mbox-h4 { margin:2em 0 .25em; font-size:1.3em;  }

.admin-modal-dialog-wrap,
.admin-primary-mbox-tbl-wrap,
.admin-primary-mbox-tbl-wrap-inner {
    padding:3px; margin:0 0 2em;
    background:#fff; border:1px solid #dfdfdf;
    border-radius:3px;
}
.admin-primary-mbox-tbl {
    width:100%; border-spacing: 0; border-collapse:collapse;
}
.admin-primary-mbox-tbl th, .admin-primary-mbox-tbl td {
    padding:6px 12px; margin: 0;
    border:1px solid #dfdfdf; background:#fcfcfc;
    font-family: sans-serif; font-size: 1em; vertical-align:middle;
}.admin-primary-mbox-tbl.borderless th { padding:6px 6px 0; border:none; background:none; }
.admin-primary-mbox-tbl.borderless td { padding:0 6px 6px; border:none; background:none; }
.admin-primary-mbox-tbl tr + tr { border-top:none; }
.admin-primary-mbox-tbl th + th,
.admin-primary-mbox-tbl td + td { border-left:none; }
.admin-primary-mbox-tbl th,
.admin-primary-mbox-tbl-wrap-inner label { font-size:.9em; font-weight:bold; line-height:1em; }
.admin-primary-mbox-tbl caption { display:none; }

.form-table.skinny-rows th, .form-table.skinny-rows td { padding:3px 10px; }

.admin-primary-mbox-taxes-tr { font-size:1.1em; }
.admin-primary-mbox-total-tr { font-size:1.4em; }
.admin-primary-mbox-total-tr td .important-notice { display: block; padding: 1em; font-size:.75em; }


.ee-line-item-id {
    font-size: .9em;
    color: #bbb;
    font-style: italic;
}

.ee-line-item-name {
    font-size: 1.1em;
    font-weight: 600;
}


.truncate-50 { width:50px; height:1em; overflow:hidden; }

#txn-admin-gateway-img {
    position:absolute; top:0; right:2em;
}


.hdr-has-icon { padding:4px 0; }
.hdr-has-icon img { position:relative; top:1px; margin-right:.5em; }
#cash-single { position:relative; top:2px; }

#admin-modal-dialog-options-ul,
#txn-admin-payment-options-ul, #del-admin-modal-dialog-options-ul { float:right; list-style:none; margin:0 .5em 1em; }

#admin-modal-dialog-options-ul li,
#txn-admin-payment-options-ul li, #del-admin-modal-dialog-options-ul li { display:inline-block; }

#admin-modal-dialog-options-ul li + li,
#txn-admin-payment-options-ul li + li, #del-admin-modal-dialog-options-ul li + li { margin-left:1em; }

#admin-modal-dialog-options-ul .hidden, #del-admin-modal-dialog-options-ul .hidden { display:none !important; }
/*.txn-admin-payment-option-lnk {
    display:block; width:auto; padding:3px 6px;; margin:0;
    background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #DFDFDF; border-radius: 3px 3px 3px 3px;
    color: #666; cursor: pointer; vertical-align:middle;

}*/


#txn-admin-apply-payment-dv, #txn-admin-delete-payment-dv {
    position:absolute; top:50px; left:25%; width:75%; height:auto; padding:3em 4em 2em; z-index:9999;
    background:#fff; border:1px solid #ddd; border-radius:5px;
}
#txn-admin-apply-payment-frm { }

#txn-admin-apply-payment-tbl { width:auto; }
#txn-admin-apply-payment-tbl label { padding-left:3px; }

.admin-modal-dialog-inner {
    padding:2em 2em 1em; margin: 0;
    border:1px solid #dfdfdf; background:#fcfcfc;
    /*font-family: sans-serif; font-size: 1em; vertical-align:middle;*/
}
.admin-modal-dialog-row { clear:both; margin:0 0 2em; }
.admin-modal-dialog-inner label { display:inline-block; float:left; width:250px; padding-top:.4em; margin:0 1em .5em 0; vertical-align:top; font-weight: bold; }
.admin-modal-dialog-inner .txn-admin-payment-reg-to-apply-lbl { width:auto; font-weight: normal; }
.admin-modal-dialog-inner .left-250 { display:inline-block; padding-left:250px; margin-left:1em; }
.admin-modal-dialog-inner .description { vertical-align:top; color: #787878; }
.admin-modal-dialog-inner input,
.admin-modal-dialog-inner select { vertical-align:top; }
.validation-notice-dv { display:none; padding:0 0 0 250px; margin-left:1em; color:red; }

.requires-value { border:1px solid #FE2A00 !important; }

/*.admin-modal-dialog-inner label.last { margin-bottom:8em; }*/

.ee-attention input[type=checkbox] {
    margin-top: -10px;
    padding: 0;
}


.admin-modal-dialog-inner input[type=text],
.admin-modal-dialog-inner select { width:100%; min-width:150px; max-width:250px; }
.admin-modal-dialog-inner input[type=checkbox] {
    margin: 6px 1em .5em 0
}

.admin-modal-dialog-inner .admin-primary-mbox-tbl input[type=checkbox],
.admin-modal-dialog-inner .admin-primary-mbox-tbl input[type=checkbox]:checked {
    /*margin: 2px 1em .5em 0*/
    margin: 0
}

.txn-admin-apply-payment-to-registrations-lbl input {
    margin: 2px 1em 0 0;
}

.txn-navigation-strip {

}

.txn-date-h2, .txn-status-h2, .txn-amount-due-h2, .txn-selected-method-of-payment-h3 {
    padding:0;
    margin:0 0 1em;
}


.jqplot-title {
    font-size:24px; text-align:left !important; margin: 1em 0 0 1em;
}
.jqplot-point-label {
    padding:0 .5em;
    background:#fff; border:1px solid #ddd;
    border-radius:3px;
    font-size:12px; color:#333;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2), 3px 3px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2), 3px 3px 2px rgba(0,0,0,.1);
    box-shadow: 1px 1px 1px rgba(0,0,0,.2), 3px 3px 2px rgba(0,0,0,.1);
}

#txn-admin-transaction-attendees-table .reg-status-RCN {
	color: #999;
}