.espresso-admin .form-table th { max-width: 30%!important; min-width: 20%!important; }
.espresso-admin .form-table td { max-width: 79%!important; min-width: 69%!important; }
.espresso-admin .regular-text { width: 98%!important; }
#entries-per-page-dv { display:inline; }

.wrap .nav-tab-wrapper { margin-bottom:1em; }
.wrap .subsubsub { margin:0; }

#txn-filters-dv { clear:both; padding:1em 0; }

/* green text */
.status-TCM { color:var(--ee-status-color-green);   font-size:.85em; font-weight: 600; }
.txn-overview-full-payment-spn { color:var(--ee-status-color-green); font-weight: 600;   }
/* blue text */
.status-TIN { color:var(--ee-status-color-blue);  font-size:.85em; font-weight:600; }
.txn-overview-part-payment-spn { color:var(--ee-status-color-blue);  font-weight:600;  }
/* orange text */
.status-TOP { color:var(--ee-status-color-orange);   font-size:.85em; font-weight:600; }
.txn-overview-no-payment-spn { color:var(--ee-status-color-orange);  font-weight:600; }
/* red text */
.status-TFL { color:var(--ee-status-color-pink);   font-size:.85em; }
/* yellow text */
.status-TAB { color:var(--ee-status-color-yellow); font-size:.85em; }

/**
 * status strips
 */

/*.wp-list-table .ee-status-strip td:first-child {*/
/*    border-left-style: solid;*/
/*    border-left-width: 4px;*/
/*}*/

/*txn complete, pymt approved*/
.reg-status-RAP,
.txn-status-TCM,
.pymt-status-PAP,
.txn-status-TCM td:first-child {
    border-left-color: var(--ee-status-color-green); /* prev: #70CC50 */
}

.reg-status-RIC,
.txn-status-TAB,
.txn-status-TAB td:first-child  {
    border-left-color: var(--ee-status-color-yellow);  /* prev: #FCB93C */
}
/*txn incomplete, pymt declined*/
.reg-status-RDC,
.txn-status-TFL,
.pymt-status-PDC,
.txn-status-TFL td:first-child {
    border-left-color: var(--ee-status-color-pink);  /* prev: #E44064 */
}

/*txn open, pymt pending*/
.reg-status-RPP,
.txn-status-TIN,
.pymt-status-PPN,
.txn-status-TIN td:first-child {
    border-left-color: var(--ee-status-color-blue); /* prev: #00B1CA */
}

/*txn overpaid, pymt fail*/
.reg-status-RNA,
.txn-status-TOP,
.pymt-status-PFL,
.txn-status-TOP td:first-child {
    border-left-color: var(--ee-status-color-orange); /* prev: #E76700 */
}

/*pymt cancelled*/
.reg-status-RCN,
.pymt-status-PCN {
    border-left-color: var(--ee-status-color-grey);  /* prev: #A39D9C */
}



/*.ee-status-strip-td {*/
/*padding: 0;*/
/*min-height: 50px;*/
/*height: 100%;*/
/*display: inline-block;*/
/*margin: 0 0 -5px;*/
/*}*/

/*.transactions.wp-list-table .column-STS_ID {*/
/*    width: 2%;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/** txn & payment status legend **/
.ee-status-legend-TCM,
.ee-status-legend-PAP {
    background-color: var(--ee-status-color-green); /* prev: #70CC50 */
}

.ee-status-legend-TAB  {
    background-color: var(--ee-status-color-yellow);  /* prev: #FCB93C */
}

.ee-status-legend-TFL,
.ee-status-legend-PDC {
    background-color: var(--ee-status-color-pink);  /* prev: #E44064 */
}

.ee-status-legend-TIN,
.ee-status-legend-PPN {
    background-color: var(--ee-status-color-blue); /* prev: #00B1CA */
}

.ee-status-legend-TOP,
.ee-status-legend-PFL {
    background-color: var(--ee-status-color-orange); /* prev: #E76700 */
}

.ee-status-legend-PCN {
    background-color: var(--ee-status-color-grey);  /* prev: #A39D9C */
}


/* TABLE COLUMNS */

.transactions.wp-list-table .column-TXN_ID {
    text-align: end;
    width: 2rem;
    /*padding: 4px 7px 29px;*/
}

/* #TXN_total, #TXN_paid { text-align:center; } */
.transactions.wp-list-table .column-TXN_timestamp {
    min-width: 12rem;
}
.transactions.wp-list-table .column-TXN_total,
.transactions.wp-list-table .column-TXN_paid {
    min-width: 10rem;
    padding-inline-end: 1.5rem;
    text-align: end;
}
.transactions.wp-list-table th.column-TXN_total,
.transactions.wp-list-table th.column-TXN_paid {
    padding-inline-end: 4rem;
}
.transactions.wp-list-table .column-TXN_total > div,
.transactions.wp-list-table .column-TXN_paid > div {
    align-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*.txn-pad-rght {*/
/*    display: block;*/
/*    padding-right: 1em;*/
/*}*/

.transactions.wp-list-table .column-ATT_fname {
    /*width: 20%;*/
}

.transactions.wp-list-table .column-event_name {
    /*width: 15%*/
}

.txn-overview-free-event-spn {
    display: block; text-align:center;
}




.admin-side-mbox-dv { margin:1em 0 2em; }
.admin-side-mbox-dv p { margin:.5em 0; line-height:1.2em; }
.admin-side-mbox-label-spn { width:30%; padding-right:.5em; text-align:right; }
.admin-side-mbox-text-dv { padding-left:.5em; margin:0 0 1em 1em; }
.admin-side-mbox-dv .ee-admin-attendee-avatar { margin:0 0 1em .5em; }

#admin-side-mbox-primary-registrant-dv,
.admin-side-mbox-text-dv .ee-admin-contact-details-with-dashicon {
    display: flex;
}
.admin-side-mbox-text-dv .ee-admin-contact-details-with-dashicon .dashicons {
    color: var(--ee-status-color-light-grey);
    margin-block-start: .35rem;
}

.admin-side-mbox-text-dv .ee-admin-attendee-name {
    font-size: 1.2rem;
}
.admin-side-mbox-text-dv .ee-admin-attendee-email,
.admin-side-mbox-text-dv .ee-admin-attendee-phone,
.admin-side-mbox-text-dv .ee-admin-attendee-address {
    margin-block-start: .5rem;
}

.ee-admin-dialog-container .admin-modal-dialog-h2 { font-size:2em; margin:.25em 0;  }
.admin-primary-mbox-h4 { margin:2em 0 .25em; font-size:1.3em;  }

.admin-primary-mbox-tbl {
    width:100%; border-spacing: 0; border-collapse:collapse;
}

.admin-primary-mbox-tbl.borderless th { padding:6px 6px 0; border:none; background:none; }
.admin-primary-mbox-tbl.borderless td { padding:0 6px 6px; border:none; background:none; }
.admin-primary-mbox-tbl tr + tr { border-top:none; }
.admin-primary-mbox-tbl th + th,
.admin-primary-mbox-tbl td + td { border-left:none; }
.admin-primary-mbox-tbl th,
.admin-primary-mbox-tbl-wrap-inner label { font-size:.9em; font-weight:bold; line-height:1em; }
.admin-primary-mbox-tbl caption { display:none; }

.form-table.skinny-rows th, .form-table.skinny-rows td { padding:3px 10px; }

.admin-primary-mbox-taxes-tr { font-size:1.1em; }
.admin-primary-mbox-total-tr { font-size:1.4em; }
.admin-primary-mbox-total-tr td .important-notice { display: block; padding: 1em; font-size: 1rem; }


.ee-line-item-id {
    font-size: .9em;
    color: #bbb;
    font-style: italic;
}

.ee-line-item-name-td {
    display: flex;
    align-items: baseline;
}

.ee-line-item-name {
    font-size: 1.1em;
    font-weight: 600;
    margin-inline-end: 1rem;
}


.truncate-50 { width:50px; height:1em; overflow:hidden; }

#txn-admin-gateway-img {
    position:absolute; top:0; right:2em;
}


.hdr-has-icon { padding:4px 0; }
.hdr-has-icon img { position:relative; top:1px; margin-right:.5em; }
#cash-single { position:relative; top:2px; }

#admin-modal-dialog-options-ul,
#txn-admin-payment-options-ul, #del-admin-modal-dialog-options-ul { float:right; list-style:none; margin:0 .5em 1em; }

#admin-modal-dialog-options-ul li,
#txn-admin-payment-options-ul li, #del-admin-modal-dialog-options-ul li { display:inline-block; }

#admin-modal-dialog-options-ul li + li,
#txn-admin-payment-options-ul li + li, #del-admin-modal-dialog-options-ul li + li { margin-left:1em; }

#admin-modal-dialog-options-ul .hidden, #del-admin-modal-dialog-options-ul .hidden { display:none !important; }


#txn-admin-apply-payment-dv, #txn-admin-delete-payment-dv {
    position:absolute; top:50px; left:25%; width:75%; height:auto; padding:3em 4em 2em; z-index:9999;
    background:#fff; border:1px solid #ddd; border-radius:5px;
}

#txn-admin-apply-payment-tbl { width:auto; }
#txn-admin-apply-payment-tbl label { padding-left:3px; }

.admin-modal-dialog-inner {
    padding:2em 2em 1em; margin: 0;
    border:1px solid #dfdfdf; background:#fcfcfc;
    /*font-family: sans-serif; font-size: 1em; vertical-align:middle;*/
}
.admin-modal-dialog-row { clear:both; margin:0 0 2em; }

.admin-modal-dialog-inner label {
    display: inline-block;
    float: left;
    width: clamp(16rem, 25%, 32rem);
    padding-top: .4em;
    margin: 0 1em .5em 0;
    vertical-align: top;
    font-weight: bold;
}

.admin-modal-dialog-inner .txn-admin-payment-reg-to-apply-lbl { width:auto; font-weight: normal; }
.admin-modal-dialog-inner .left-250 { display:inline-block; padding-left:250px; margin-left:1em; }
.admin-modal-dialog-inner .description { vertical-align:top; color: var(--ee-status-color-grey); }
.admin-modal-dialog-inner input,
.admin-modal-dialog-inner select { vertical-align:top; }
.validation-notice-dv { display:none; padding:0 0 0 250px; margin-left:1em; color: var(--ee-status-color-red); }

.requires-value { border:1px solid var(--ee-status-color-red) !important; }

/*.admin-modal-dialog-inner label.last { margin-bottom:8em; }*/

.ee-attention input[type=checkbox] {
    margin-top: -10px;
    padding: 0;
}


.admin-modal-dialog-inner input[type=text],
.admin-modal-dialog-inner select { width:100%; min-width:150px; max-width:250px; }
.admin-modal-dialog-inner input[type=checkbox] {
    margin: 6px 1em .5em 0
}

.admin-modal-dialog-inner .admin-primary-mbox-tbl input[type=checkbox],
.admin-modal-dialog-inner .admin-primary-mbox-tbl input[type=checkbox]:checked {
    /*margin: 2px 1em .5em 0*/
    margin: 0
}

.txn-admin-apply-payment-to-registrations-lbl input {
    margin: 2px 1em 0 0;
}

.txn-date-h2, .txn-status-h2, .txn-amount-due-h2, .txn-selected-method-of-payment-h3 {
    padding:0;
    margin:0 0 1em;
}


.jqplot-title {
    font-size:24px; text-align:left !important; margin: 1em 0 0 1em;
}
.jqplot-point-label {
    padding:0 .5em;
    background:#fff; border:1px solid #ddd;
    border-radius:3px;
    font-size:12px; color:#333;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2), 3px 3px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2), 3px 3px 2px rgba(0,0,0,.1);
    box-shadow: 1px 1px 1px rgba(0,0,0,.2), 3px 3px 2px rgba(0,0,0,.1);
}

#txn-admin-transaction-attendees-table .reg-status-RCN {
	color: var(--ee-status-color-grey);
}

#additional-transaction-actions-dv ul li {
    display:inline-block;
    margin-right: 10px;
}

.payment-txn-id-chq-nmbr {
    max-width: 52px;
    max-width: 3rem;
    word-wrap: break-word;
}


#edit-txn-details-mbox.ee-admin-container .ee-admin-button-row a.display-the-hidden:not(.hidden),
#edit-txn-details-mbox.ee-admin-container .ee-admin-button-row a.hide-the-displayed:not(.hidden) {
    align-items: center;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
#edit-txn-details-mbox.ee-admin-container .ee-admin-button-row a.display-the-hidden:not(.hidden) > .dashicons,
#edit-txn-details-mbox.ee-admin-container .ee-admin-button-row a.hide-the-displayed:not(.hidden) > .dashicons {
    margin-inline-end: .5rem;
}
#edit-txn-details-mbox.ee-admin-container .ee-admin-button-row a.display-the-hidden > .dashicons-plus-alt:before {
    position: relative;
    top: 1px;
}
#edit-txn-details-mbox.ee-admin-container .ee-admin-button-row a.hide-the-displayed > .dashicons-dismiss:before {
    position: relative;
    top: -3px;
}
