/** -------------------------------------------------------------------------
 * Event Espresso DatesList List View Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

/* table (ul) */
.ee-dates-list-list-view {
    font-size: var(--ee-font-size-default);
    font-weight: normal;
    margin: var(--ee-margin-tiny) 0 var(--ee-margin-small);
    max-width: 100%;
}

/* table rows (div) */
.ee-editor-date-list-items,
.ee-editor-date-list-view-div {
    margin: 0 0 1px;
    border: 1px solid var(--ee-color-grey-14);
}

/* headers row */
.ee-dates-list-list-view > div:nth-of-type(1) {
    background: none !important;
    border: none !important;
}

/* zebra striping */
.ee-dates-list-list-view > div:nth-of-type(even) {
    background: var(--ee-color-grey-15);
    border: 1px solid var(--ee-color-grey-15);
}

/* row highlighting */
.ee-dates-list-list-view > div:hover {
    background: var(--ee-color-grey-14);
    border: 1px solid var(--ee-color-grey-14);
}

/* table rows (inner) */
.ee-editor-date-list-items {
    display: flex;
    flex-flow: row nowrap;
}

/* table cells */
.ee-date-list-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: var(--ee-font-size-small);
    line-height: var(--ee-font-size-bigger);
    height: var(--ee-font-size-extreme);
    padding: var(--ee-padding-tiny);
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* headers */
.ee-dates-list-list-view > div:nth-of-type(1) .ee-date-list-item {
    font-size: var(--ee-font-size-smaller);
    font-weight: bold;
    line-height: var(--ee-font-size-big);
    height: auto;
    padding-bottom: var(--ee-padding-micro);
}

/* status bar */
.ee-editor-date-list-items > div:nth-of-type(1) {
    padding: 0;
    width: var(--ee-padding-micro);
}

/* ID */
.ee-editor-date-list-items > div:nth-of-type(2) {
    min-width: 20px;
    text-align: right;
    width: 5%;
}

/* Name */
.ee-editor-date-list-items > div:nth-of-type(3) {
    width: 25%;
}

/* Start Date & End Date */
.ee-editor-date-list-items > div:nth-of-type(4),
.ee-editor-date-list-items > div:nth-of-type(5) {
    width: 15%;
}

/* Sold, Reserved, & Capacity */
.ee-editor-date-list-items > div:nth-of-type(6),
.ee-editor-date-list-items > div:nth-of-type(7),
.ee-editor-date-list-items > div:nth-of-type(8) {
    text-align: right;
    width: 6%;
}

/* Registrants */
.ee-editor-date-list-items > div:nth-of-type(9) {
    text-align: center;
    width: 7.5%;
}

/* Actions */
.ee-editor-date-list-items > div:nth-of-type(10) {
    position: relative;
    overflow: visible;
    text-align: center;
    width: 14%;
}

.ee-date-list-item .ee-infinity-sign {
    font-size: var(--ee-font-size-default);
    margin-top: calc(var(--ee-margin-micro) * -1);
}

.ee-date-list-item .dashicons {
    margin:0;
}

/* row level labels */
.ee-date-list-item-label {
    display: none;
}

/* status bar value */
.ee-editor-date-list-items > div:nth-of-type(1) .ee-date-list-item-value {
    display: none;
}


/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) and (min-width: 481px) {

    .ee-editor-date-list-view-div {
        margin: 0 0 var(--ee-margin-smaller);
    }

    .ee-editor-date-list-items {
        flex-flow: row wrap;
    }

    /* headers row */
    .ee-dates-list-list-view > div:nth-of-type(1) {
        display: none !important;
    }

    .ee-date-list-item {
        height: calc(var(--ee-font-size-bigger) * 3);
        padding: 0;
    }
    .ee-date-list-item span {
        box-sizing: border-box;
        padding: var(--ee-padding-micro);
        width: 100%;
    }

    /* row level labels */
    .ee-date-list-item-label {
        display: block;
        font-size: var(--ee-font-size-smaller);
        font-weight: bold;
        height: var(--ee-font-size-big);
        left: 0;
        line-height: var(--ee-font-size-big);
        position: absolute;
        text-align: left;
        top: 0;
        vertical-align: top;
    }

    .ee-date-list-item-value {
        bottom: var(--ee-padding-micro);
        display: block;
        height: var(--ee-font-size-huge);
        left: 0;
        position: absolute;
        vertical-align: bottom;
    }
    .ee-editor-date-list-items .ee-editor-date-actions-menu {
        bottom: var(--ee-padding-tiny);
        left: var(--ee-padding-tiny);
        position: absolute;
        vertical-align: top;
    }

    /*.ee-date-list-item,*/
    .ee-editor-date-list-items > div:nth-of-type(1) {
        height: calc(var(--ee-font-size-bigger) * 6);
        position: absolute;
    }

    /* ID */
    .ee-editor-date-list-items > div:nth-of-type(2) {
        border-bottom: 1px solid var(--ee-color-grey-14);
        width: 10%;
    }

    /* Name */
    .ee-editor-date-list-items > div:nth-of-type(3) {
        border-bottom: 1px solid var(--ee-color-grey-14);
        width: 40%;
    }

    /* Start Date & End Date */
    .ee-editor-date-list-items > div:nth-of-type(4),
    .ee-editor-date-list-items > div:nth-of-type(5) {
        border-bottom: 1px solid var(--ee-color-grey-14);
        width: 25%;
    }

    /* Sold, Reserved, & Capacity */
    .ee-editor-date-list-items > div:nth-of-type(6),
    .ee-editor-date-list-items > div:nth-of-type(7),
    .ee-editor-date-list-items > div:nth-of-type(8),
    /* Registrants */
    .ee-editor-date-list-items > div:nth-of-type(9) {
        width: 15%;
    }
    /* Sold, Reserved, & Capacity */
    .ee-editor-date-list-items > div:nth-of-type(2) span:first-of-type,
    .ee-editor-date-list-items > div:nth-of-type(6) span,
    .ee-editor-date-list-items > div:nth-of-type(7) span,
    .ee-editor-date-list-items > div:nth-of-type(8) span,
    .ee-editor-date-list-items > div:nth-of-type(9) span {
        text-align: center !important;
    }

    /* Actions */
    .ee-editor-date-list-items > div:nth-of-type(10) {
        width: 40%;
    }
    .ee-editor-date-list-items > div:nth-of-type(10) .ee-editor-date-actions-menu {
        bottom: var(--ee-padding-micro);
        justify-content: flex-end;
        right: 0;
        position: absolute;
    }

}

@media only screen and (max-width: 1024px) {
}

/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
}

/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
}

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and ( max-width: 782px ) {
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {

    .ee-dates-list-list-view > div:nth-of-type(1) {
        display: none !important;
    }

    .ee-dates-list-list-view {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .ee-editor-date-list-view-div {
        margin: 0 0 var(--ee-margin-default);
        min-width: calc(var(--ee-font-size-default) * 12.5);
        width: 47.5%;
    }

    /* table rows */
    .ee-dates-list-list-view > div,
    .ee-dates-list-list-view > div:hover,
    .ee-dates-list-list-view > div:nth-of-type(even) {
        background: none !important;
        border: none;
    }

    /* table rows (inner) */
    .ee-editor-date-list-items {
        flex-flow: column nowrap;
        border: 1px solid var(--ee-border-color);
    }

    /* table cells */
    .ee-date-list-item {
        line-height: var(--ee-font-size-big);
        height: auto;
        overflow: visible;
        padding: var(--ee-padding-tiny);
        text-align: left !important;
        text-overflow: unset;
        white-space: normal;
        width: auto !important;
        word-break: break-word;
    }

    /* row level labels */
    .ee-date-list-item-label {
        color: var(--ee-default-text-color);
        display: inline-block;
        font-size: var(--ee-font-size-smaller);
        padding: 0 var(--ee-padding-tiny) 0 0;
        text-align: right;
        width: 50%;
    }

    .ee-date-list-item-value {
        display: inline-block;
    }

    .ee-date-list-item-value .ee-editor-date-details-reg-url-link {
        left: var(--ee-padding-tiny);
        position: relative;
        top: var(--ee-padding-tiny);
    }

    /* Date Name in status bar value */
    .ee-editor-date-list-items > div:nth-of-type(1) .ee-date-list-item-value {
        display: block;
    }

    /* status bar */
    .ee-editor-date-list-items > div:nth-of-type(1) {
        color: var(--ee-color-white) !important;
        padding: var(--ee-padding-tiny);
        width: auto;
    }

    /* Name */
    .ee-editor-date-list-items > div:nth-of-type(3),
    /* status bar */
    .ee-editor-date-list-items > div:nth-of-type(1) .ee-date-list-item-label {
        display: none;
    }

    .ee-dates-list-list-view .ee-dropdown-menu-div {
        left: 12%;
        right: unset;
    }
}

@media only screen and (max-width: 360px) {

    .ee-editor-date-list-view-div {
        min-width: calc(var(--ee-font-size-default) * 15);
        width: 100%;
    }

    .ee-dates-list-list-view {
        justify-content: center;
    }
}
