
/* General Styles
 * -------------------------------------------------------------------------*/

.espresso-editor-legend-div {
    padding-top: var(--ee-padding-tiny);
}

.espresso-editor-legend-ul li {
    clear: both;
    margin-bottom: var(--ee-margin-tiny);
}

.espresso-editor-legend-ul li p {
    color: var(--ee-color-grey-2);
    font-style: italic;
}


.espresso-editor .ee-form-row > div {
    width: 100%;
}

.espresso-editor.components-panel__body {
    border-top: none;
}

.ee-editor-event-dates-and-tickets .ee-metabox-heading {
    color: var(--ee-color-grey-2);
    font-weight: bold;
    text-shadow: 0 1px var(--ee-color-white);
}
.ee-metabox-heading .dashicon {
    margin : 0 var(--ee-margin-tiny) 0 var(--ee-margin-micro);
}

/* Modal Styles
* -------------------------------------------------------------------------*/

.espresso-editor.components-modal__frame {
    height: 80%;
    max-width: 100%;
    transform: translate(-50%, -10%);
    top: 15%;
    width: 60%;
}

.espresso-editor.components-modal__content {
    padding: 0;
}

.espresso-editor.components-modal__header-heading {
    font-size: 1.5rem;
}

.espresso-editor.components-panel__body > .components-panel__body-title {
    font-size: 1rem;
}



/* Calendar Styles
* -------------------------------------------------------------------------*/

.espresso-editor .rdtOpen .rdtPicker {
    display: block;
}

.espresso-editor .rdtPicker {
    display: none;
    position: absolute;
    width: 250px;
    padding: var(--ee-padding-micro);
    margin-top: 1px;
    z-index: 99999 !important;
    background: var(--ee-color-white);
    border: 1px solid var(--ee-color-grey-10);
    box-shadow: var(--ee-box-shadow-small);
}

.espresso-editor table {
    border-collapse: collapse;
}

.espresso-editor th {
    text-align: inherit;
}

.espresso-editor .rdtPicker table {
    width: 100%;
    margin: 0;
}

.espresso-editor .rdtPicker td,
.espresso-editor .rdtPicker th {
    text-align: center;
    height: 28px;
}

.espresso-editor .rdtPicker th {
    border-bottom: 1px solid var(--ee-color-grey-10);
}

.espresso-editor .rdtPicker td {
    cursor: pointer;
}

.espresso-editor .rdtPicker thead tr:first-child th {
    cursor: pointer;
}

.espresso-editor .rdtPicker th.rdtNext,
.espresso-editor .rdtPicker th.rdtPrev {
    font-size: 21px;
    vertical-align: top;
}

.espresso-editor .rdtPrev span,
.espresso-editor .rdtNext span {
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.espresso-editor .rdtPicker thead tr:first-child th {
    cursor: pointer;
}

.espresso-editor .rdtPicker th.rdtSwitch {
    width: 100px;
}

.espresso-editor .rdtPicker .dow {
    width: 14.2857%;
    border-bottom: none;
}

.espresso-editor .rdtPicker td.rdtOld,
.espresso-editor .rdtPicker td.rdtNew {
    color: var(--ee-color-grey-7);
}

.espresso-editor .rdtPicker td.rdtActive.rdtToday::before {
    border-bottom-color: var(--ee-color-white);
}

.espresso-editor .rdtPicker td.rdtToday::before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid var(--ee-color-blue);
    border-top-color: var(--ee-color-grey-7);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.espresso-editor .rdtPicker td.rdtActive, .rdtPicker td.rdtActive:hover {
    background-color: var(--ee-color-blue);
    color: var(--ee-color-white);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.espresso-editor .rdtPicker td.rdtToday {
    position: relative;
}

/* TIME PICKER
 * -------------------------------------------------------------------------*/

.espresso-editor .time_picker_container .modal_container {
    top: -38px;
    min-width: 300px;
}


/* Media Queries for smaller screens
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1280px) {
    .espresso-editor.components-modal__frame {
        height: 90%;
        max-width: 100%;
        transform: translate(-50%, -5%);
        top: 10%;
        width: 80%;
    }

    .espresso-editor .pl-3,
    .espresso-editor .px-3 {
        padding-left: 0 !important;
    }

    .espresso-editor .pr-3,
    .espresso-editor .px-3 {
        padding-right: 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    .espresso-editor.components-modal__frame {
        height: 90%;
        max-width: 100%;
        transform: translate(-50%, -5%);
        top: 10%;
        width: 90%;
    }
}

@media only screen and (max-width: 600px) and (min-width: 481px) {
    .espresso-editor.components-modal__frame {
        height: 95%;
        max-width: 95%;
        transform: translate(-50%, -2.5%);
        top: 2.5%;
        width: 95%;
    }
}

@media only screen and (max-width: 540px) and (min-width: 480px) {
    .espresso-editor.components-modal__frame {
        height: 100%;
        max-width: 100%;
        transform: none;
        top: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .espresso-editor.components-modal__frame {
        height: 100%;
        max-width: 100%;
        transform: none;
        top: 0;
        width: 100%;
    }
}

