/** -------------------------------------------------------------------------
 * Event Espresso Button Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

:root {
	--ee-icon-button-size: 36px;
}

.ee-button.ant-btn,
.ee-button.ant-btn:active,
.ee-button.ant-btn:not([disabled]):active,
.ee-button.ant-btn:focus,
.ee-button.ant-btn:visited {
	border-radius: var(--ee-border-radius-small);
	border-style: solid;
	border-width: 1px;
	box-shadow: var(--ee-box-shadow-tiny);
	cursor: pointer;
	display: inline-block;
	font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Trebuchet MS',
		Verdana, 'Verdana Ref', sans-serif;
	font-size: var(--ee-font-size-default);
	font-weight: bold;
	line-height: var(--ee-font-size-default);
	margin: 0 0 var(--ee-margin-smaller);
	outline: none !important;
	position: relative;
	text-decoration: none;
	text-align: center;
	text-shadow: var(--ee-text-shadow-inset-light);
	top: 0;
	transition: border-color 0.1s ease 0.1s, color 0.1s ease 0.1s !important;
	vertical-align: middle;
}

.ee-button.ant-btn:focus {
	box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast), 0 2px 2px rgba(0, 0, 0, 0.6);
}

.ee-button.ant-btn:not(.ant-btn-icon-only),
.ee-button.ant-btn:active:not(.ant-btn-icon-only),
.ee-button.ant-btn:focus:not(.ant-btn-icon-only),
.ee-button.ant-btn:visited:not(.ant-btn-icon-only) {
	box-sizing: content-box !important;
	min-height: var(--ee-font-size-big);
	padding: var(--ee-padding-tiny) var(--ee-padding-default) var(--ee-padding-tiny) var(--ee-padding-small);
}

.ee-button.ant-btn.ant-btn-icon-only,
.ee-button.ant-btn.ant-btn-icon-only:active,
.ee-button.ant-btn.ant-btn-icon-only:focus,
.ee-button.ant-btn.ant-btn-icon-only:visited {
	height: var(--ee-icon-button-size);
	min-height: var(--ee-icon-button-size);
	min-width: var(--ee-icon-button-size);
	width: var(--ee-icon-button-size);
}

.ee-button.ant-btn:active:not([disabled]) {
	top: 1px;
}

.ee-button.ant-btn:hover {
	cursor: pointer;
}

.ee-button.ant-btn + .ee-button.ant-btn {
	margin-left: var(--ee-margin-default);
}

.ee-button-label + .ee-button.ant-btn {
	margin-right: var(--ee-margin-small) !important;
}

.ee-button .text-wrap {
	font-weight: bold;
	position: relative;
	top: calc(var(--ee-padding-nano) * -1.5);
	vertical-align: middle;
}

.ee-button.ee-noIcon .text-wrap {
	position: relative;
	top: var(--ee-padding-nano);
}

.ee-button .img-wrap {
	position: relative;
	margin: 0 0 0 var(--ee-padding-small);
	top: var(--ee-padding-nano);
	vertical-align: middle;
}

.ee-button.ant-btn .anticon {
	display: inline-flex;
	font-size: 20px;
	margin: 0;
	position: relative;
	vertical-align: middle;
}

.ee-button.ant-btn > .anticon + span,
.ee-button.ant-btn > span + .anticon {
	margin-left: var(--ee-margin-smaller);
	vertical-align: middle;
}

.ee-button .img-wrap span {
	line-height: 24px;
}

.ee-button.ant-btn.ant-btn-icon-only:not([disabled]) path {
	transition: fill 0.1s ease 0.1s, color 0.1s ease 0.1s !important;
}

/* BUTTON COLORS */

/* DEFAULT */
.ee-btn-default.ant-btn.ant-btn-icon-only:not([disabled]) {
	background: var(--ee-color-grey-15);
	border-color: var(--ee-color-grey-14) var(--ee-color-grey-14) var(--ee-color-grey-15);
	color: var(--ee-default-text-color-low-contrast);
}

.ee-btn-default.ant-btn.ant-btn-icon-only:hover:not([disabled]) {
	border-color: var(--ee-color-grey-9) var(--ee-color-grey-9) var(--ee-color-grey-10);
	color: var(--ee-color-primary);
}

.ee-btn-default.ant-btn:not([disabled]):not(.ant-btn-icon-only) {
	background: var(--ee-color-grey-15);
	border-color: var(--ee-color-grey-14) var(--ee-color-grey-14) var(--ee-color-grey-15);
	color: var(--ee-text-on-grey-14);
}
.ee-btn-default.ant-btn:hover:not([disabled]):not(.ant-btn-icon-only) {
	background: var(--ee-color-grey-14);
}

.ee-btn-default.ant-btn.ant-btn-icon-only:not([disabled]) path,
.ee-btn-default.ant-btn:not([disabled]):not(.ant-btn-icon-only),
.ee-btn-default.ant-btn:hover:not([disabled]):not(.ant-btn-icon-only) path {
	fill: var(--ee-text-on-grey-14);
}
.ee-btn-default.ant-btn.ant-btn-icon-only:hover:not([disabled]) path {
	fill: var(--ee-color-primary);
}

/* MINIMAL */
.ee-btn-minimal.ant-btn.ant-btn-icon-only:not([disabled]),
.ee-btn-minimal.ant-btn:not([disabled]):not(.ant-btn-icon-only) {
	background: none;
	border: 1px solid var(--ee-default-text-color-low-contrast);
	box-shadow: none;
	color: var(--ee-default-text-color);
}

.ee-btn-minimal.ant-btn.ant-btn-icon-only:focus {
	border-color: var(--ee-color-primary-low-contrast);
	box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
}

.ee-btn-minimal.ant-btn.ant-btn-icon-only:hover:not([disabled]),
.ee-btn-minimal.ant-btn:hover:not([disabled]):not(.ant-btn-icon-only) {
	border-color: var(--ee-color-primary);
	color: var(--ee-color-primary);
}

.ee-btn-minimal.ant-btn.ant-btn-icon-only:not([disabled]) path,
.ee-btn-minimal.ant-btn:not([disabled]):not(.ant-btn-icon-only),
.ee-btn-minimal.ant-btn:hover:not([disabled]):not(.ant-btn-icon-only) path {
	fill: var(--ee-default-text-color);
}
.ee-btn-minimal.ant-btn.ant-btn-icon-only:hover:not([disabled]) path {
	fill: var(--ee-color-primary);
}

/* PRIMARY */
.ee-btn-primary.ant-btn:not([disabled]) {
	background: var(--ee-color-primary);
	border-color: var(--ee-color-primary) var(--ee-color-primary) var(--ee-color-primary-low-contrast);
	color: var(--ee-text-on-primary);
}
.ee-btn-primary.ant-btn:not([disabled]) path,
.ee-btn-primary.ant-btn:hover:not([disabled]) path {
	fill: var(--ee-text-on-primary);
}

.ee-btn-primary.ant-btn:hover:not([disabled]) {
	background: var(--ee-color-primary-low-contrast);
}

/* SECONDARY */
.ee-btn-secondary.ant-btn:not([disabled]) {
	background: var(--ee-color-secondary);
	border-color: var(--ee-color-secondary) var(--ee-color-secondary) var(--ee-color-secondary-low-contrast);
	color: var(--ee-text-on-secondary);
}
.ee-btn-primary.ant-btn:not([disabled]) path,
.ee-btn-primary.ant-btn:hover:not([disabled]) path {
	fill: var(--ee-text-on-secondary);
}

.ee-btn-secondary.ant-btn:hover:not([disabled]) {
	background: var(--ee-color-secondary-low-contrast);
}

/* ACCENT */
.ee-btn-accent.ant-btn:not([disabled]) {
	background: var(--ee-color-accent);
	border-color: var(--ee-color-accent) var(--ee-color-accent) var(--ee-color-accent-low-contrast);
	color: var(--ee-text-on-accent);
}
.ee-btn-primary.ant-btn:not([disabled]) path,
.ee-btn-primary.ant-btn:hover:not([disabled]) path {
	fill: var(--ee-text-on-accent);
}

.ee-btn-accent.ant-btn:hover:not([disabled]) {
	background: var(--ee-color-accent-low-contrast);
}

/* DISABLED */

.ee-button.ant-btn.ee-btn-default:disabled,
.ee-button.ant-btn.ee-btn-primary:disabled,
.ee-button.ant-btn.ee-btn-secondary:disabled,
.ee-button.ant-btn.ee-btn-accent:disabled {
	background: var(--ee-color-grey-11);
	border-color: var(--ee-color-grey-11) var(--ee-color-grey-11) var(--ee-color-grey-12);
	color: var(--ee-text-on-grey-11);
	cursor: unset;
}
.ee-button.ant-btn.ee-btn-default:disabled path,
.ee-button.ant-btn.ee-btn-primary:disabled path,
.ee-button.ant-btn.ee-btn-secondary:disabled path,
.ee-button.ant-btn.ee-btn-accent:disabled path {
	fill: var(--ee-text-on-grey-11);
}

/* BUTTON SIZES */

.ee-btn-tiny.ee-button.ant-btn,
.ee-btn-tiny.ee-button.ant-btn:active,
.ee-btn-tiny.ee-button.ant-btn:focus,
.ee-btn-tiny.ee-button.ant-btn:visited {
	font-size: var(--ee-font-size-tiny);
	min-height: var(--ee-font-size-smaller);
	line-height: var(--ee-font-size-tiny);
	padding: var(--ee-padding-nano) var(--ee-padding-tiny) var(--ee-padding-micro);
}

.ee-btn-tiny.ee-button .img-wrap span {
	line-height: var(--ee-font-size-tiny);
}

.ee-btn-small.ee-button.ant-btn,
.ee-btn-small.ee-button.ant-btn:active,
.ee-btn-small.ee-button.ant-btn:focus,
.ee-btn-small.ee-button.ant-btn:visited {
	font-size: var(--ee-font-size-smaller);
	min-height: var(--ee-font-size-small);
	line-height: var(--ee-font-size-smaller);
	padding: var(--ee-padding-micro) var(--ee-padding-smaller) var(--ee-padding-tiny);
}

.ee-btn-small.ee-button:not(.ee-noIcon) .text-wrap {
	top: -0.1rem;
}

.ee-btn-small.ee-button .img-wrap {
	top: 0.2rem;
}

.ee-btn-small.ee-button .img-wrap span {
	line-height: var(--ee-font-size-smaller);
}

.ee-btn-big.ee-button.ant-btn,
.ee-btn-big.ee-button.ant-btn:active,
.ee-btn-big.ee-button.ant-btn:focus,
.ee-btn-big.ee-button.ant-btn:visited {
	font-size: var(--ee-font-size-big);
	min-height: var(--ee-font-size-bigger);
	line-height: var(--ee-font-size-big);
	padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);
}

.ee-btn-big.ee-button .img-wrap span {
	line-height: var(--ee-font-size-big);
}

.ee-btn-huge.ee-button.ant-btn,
.ee-btn-huge.ee-button.ant-btn:active,
.ee-btn-huge.ee-button.ant-btn:focus,
.ee-btn-huge.ee-button.ant-btn:visited {
	font-size: var(--ee-font-size-bigger);
	min-height: var(--ee-font-size-huge);
	line-height: var(--ee-font-size-bigger);
	padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);
}

.ee-btn-huge.ee-button .img-wrap span {
	line-height: var(--ee-font-size-bigger);
}

/* ACTION MENU ITEMS */
.ee-entity-menu .ee-btn-default.ee-button.ant-btn:not([disabled]),
.ee-entity-menu .ee-btn-primary.ee-button.ant-btn:not([disabled]),
.ee-entity-menu .ee-btn-secondary.ee-button.ant-btn:not([disabled]),
.ee-entity-menu .ee-btn-accent.ee-button.ant-btn:not([disabled]) {
	background: none;
	border: none;
	box-shadow: none;
	margin: var(--ee-margin-micro);
}

.ee-entity-menu .ee-btn-default.ee-button.ant-btn:hover,
.ee-entity-menu .ee-btn-primary.ee-button.ant-btn:hover,
.ee-entity-menu .ee-btn-secondary.ee-button.ant-btn:hover,
.ee-entity-menu .ee-btn-accent.ee-button.ant-btn:hover {
	border: inherit;
}

.ee-entity-menu .ee-btn-default.ee-button.ant-btn:focus,
.ee-entity-menu .ee-btn-primary.ee-button.ant-btn:focus,
.ee-entity-menu .ee-btn-secondary.ee-button.ant-btn:focus,
.ee-entity-menu .ee-btn-accent.ee-button.ant-btn:focus {
	border: 1px solid var(--ee-color-primary-low-contrast);
	box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
}

/* SPECIAL FORM STYLES */

.ant-input-group-addon .ee-button.ant-btn.ant-btn-icon-only:not([disabled]),
.ant-input-group-addon .ee-button.ant-btn:active.ant-btn-icon-only:not([disabled]),
.ant-input-group-addon .ee-button.ant-btn:focus.ant-btn-icon-only:not([disabled]),
.ant-input-group-addon .ee-button.ant-btn:visited.ant-btn-icon-only:not([disabled]) {
	background: none;
	border: none;
	box-shadow: none;
}

/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
	.ee-button + .ee-button {
		margin-left: var(--ee-margin-smaller);
	}
}

@media only screen and (max-width: 480px) {
	.ee-button + .ee-button {
		margin-left: var(--ee-margin-micro);
	}
}

@media only screen and (max-width: 360px) {
	.ee-button.ant-btn {
		box-sizing: border-box !important;
		margin: var(--ee-margin-tiny) auto;
		width: 100%;
	}

	.ee-button + .ee-button {
		margin-left: auto;
	}
}
