:root {
	--ee-animation-spin: ee-animation-spin 1s linear infinite;
	--ee-animation-spin-cc: ee-animation-spin-cc 1s linear infinite;
	--ee-animation-spin-fast: ee-animation-spin 0.25s ease-in infinite;
}

@keyframes ee-animation-spin {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes ee-animation-spin-cc {
	100% {
		transform: rotate(-360deg);
	}
}

.ee-fade-in {
	opacity: 1;
	animation: ee-fade-in-opacity 0.25s ease-in-out 1;
}

@keyframes ee-fade-in-opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.ee-fade-out {
	opacity: 0;
	animation: ee-fade-out-opacity 0.25s ease-in-out 1;
}

@keyframes ee-fade-out-opacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
