/********************************/
/****** Transaction Statuses ******/
/********************************/

/** transaction open **/
.ee-status-color-TOP {
	color: var(--ee-color-orange);
}

.ee-status-background-color-TOP {
	background-color: var(--ee-color-orange);
	color: var(--ee-text-on-orange);
}

/** transaction completed **/
.ee-status-color-TCM {
	color: var(--ee-color-green);
}

.ee-status-background-color-TCM {
	background-color: var(--ee-color-green);
	color: var(--ee-text-on-green);
}

/** transaction incomplete **/
.ee-status-color-TIN {
	color: var(--ee-color-blue);
}

.ee-status-background-color-TIN {
	background-color: var(--ee-color-blue);
	color: var(--ee-text-on-blue);
}

/** transaction abandoned **/
.ee-status-color-TAB {
	color: var(--ee-color-gold);
}

.ee-status-background-color-TAB {
	background-color: var(--ee-color-gold);
	color: var(--ee-text-on-gold);
}

/** transaction failed **/
.ee-status-color-TFL {
	color: var(--ee-color-hot-pink);
}

.ee-status-background-color-TFL {
	background-color: var(--ee-color-hot-pink);
	color: var(--ee-text-on-hot-pink);
}

/********************************/
/****** Payment Statuses ******/
/********************************/

/** payment approved **/
.ee-status-color-PAP {
	color: var(--ee-color-green);
}

.ee-status-background-color-PAP {
	background-color: var(--ee-color-green);
	color: var(--ee-text-on-green);
}

/** payment pending **/
.ee-status-color-PPN {
	color: var(--ee-color-blue);
}

.ee-status-background-color-PPN {
	background-color: var(--ee-color-blue);
	color: var(--ee-text-on-blue);
}

/** payment failed **/
.ee-status-color-PFL {
	color: var(--ee-color-gold);
}

.ee-status-background-color-PFL {
	background-color: var(--ee-color-gold);
	color: var(--ee-text-on-gold);
}

/** payment declined **/
.ee-status-color-PDC {
	color: var(--ee-color-hot-pink);
}

.ee-status-background-color-PDC {
	background-color: var(--ee-color-hot-pink);
	color: var(--ee-text-on-hot-pink);
}

/** payment cancelled **/
.ee-status-color-PCN {
	color: var(--ee-color-grey-7);
}

.ee-status-background-color-PCN {
	background-color: var(--ee-color-grey-7);
	color: var(--ee-text-on-grey-7);
}

/********************************/
/** Registration Statuses **/
/********************************/

/** registration approved **/
.ee-status-color-RAP {
	color: var(--ee-color-green);
}

.ee-status-background-color-RAP {
	background-color: var(--ee-color-green);
	color: var(--ee-text-on-green);
}

/** registration pending **/
.ee-status-color-RPP {
	color: var(--ee-color-blue);
}

.ee-status-background-color-RPP {
	background-color: var(--ee-color-blue);
	color: var(--ee-text-on-blue);
}

/** registration wait list **/
.ee-status-color-RWL {
	color: var(--ee-color-purple);
}

.ee-status-background-color-RWL {
	background-color: var(--ee-color-purple);
	color: var(--ee-text-on-purple);
}

/** registration incomplete **/
.ee-status-color-RIC {
	color: var(--ee-color-gold);
}

.ee-status-background-color-RIC {
	background-color: var(--ee-color-gold);
	color: var(--ee-text-on-gold);
}

/** registration not approved **/
.ee-status-color-RNA {
	color: var(--ee-color-orange);
}

.ee-status-background-color-RNA {
	background-color: var(--ee-color-orange);
	color: var(--ee-text-on-orange);
}

/** registration declined **/
.ee-status-color-RDC {
	color: var(--ee-color-hot-pink);
}

.ee-status-background-color-RDC {
	background-color: var(--ee-color-hot-pink);
	color: var(--ee-text-on-hot-pink);
}

/** registration cancelled **/
.ee-status-color-RCN {
	color: var(--ee-color-grey-7);
}

.ee-status-background-color-RCN {
	background-color: var(--ee-color-grey-7);
	color: var(--ee-text-on-grey-7);
}

/********************************/
/****** Datetime Statuses ******/
/********************************/

/** datetime sold out **/
.ee-status-color-DTS {
	color: var(--ee-color-purple);
}

.ee-status-background-color-DTS {
	background-color: var(--ee-color-purple);
	color: var(--ee-text-on-purple);
}

/** datetime active **/
.ee-status-color-DTA {
	color: var(--ee-color-green);
}

.ee-status-background-color-DTA {
	background-color: var(--ee-color-green);
	color: var(--ee-color-white);
}

/** datetime upcoming **/
.ee-status-color-DTU {
	color: var(--ee-color-blue);
}

.ee-status-background-color-DTU {
	background-color: var(--ee-color-blue);
	color: var(--ee-text-on-blue);
}

/** datetime postponed **/
.ee-status-color-DTP {
	color: var(--ee-color-gold);
}

.ee-status-background-color-DTP {
	background-color: var(--ee-color-gold);
	color: var(--ee-text-on-gold);
}

/** datetime cancelled **/
.ee-status-color-DTC {
	color: var(--ee-color-hot-pink);
}

.ee-status-background-color-DTC {
	background-color: var(--ee-color-hot-pink);
	color: var(--ee-text-on-hot-pink);
}

/** datetime inactive **/
.ee-status-color-DTI {
	color: var(--ee-color-blue-green);
}

.ee-status-background-color-DTI {
	background-color: var(--ee-color-blue-green);
	color: var(--ee-text-on-blue-green);
}

/** datetime expired **/
.ee-status-color-DTE {
	color: var(--ee-color-grey-7);
}

.ee-status-background-color-DTE {
	background-color: var(--ee-color-grey-7);
	color: var(--ee-text-on-grey-7);
}

/** datetime trashed **/
.ee-status-color-DTT {
	color: var(--ee-color-grey-3);
}

.ee-status-background-color-DTT {
	background-color: var(--ee-color-grey-3);
	color: var(--ee-text-on-grey-3);
}

/********************************/
/****** Ticket Statuses ******/
/********************************/

/** ticket sold-out **/
.ee-status-color-TKS {
	color: var(--ee-color-purple);
}
.ee-status-background-color-TKS {
	background-color: var(--ee-color-purple);
	color: var(--ee-text-on-purple);
}

/** ticket onsale **/
.ee-status-color-TKO {
	color: var(--ee-color-green);
}

.ee-status-background-color-TKO {
	background-color: var(--ee-color-green);
	color: var(--ee-color-white);
}

/** ticket pending **/
.ee-status-color-TKP {
	color: var(--ee-color-blue);
}

.ee-status-background-color-TKP {
	background-color: var(--ee-color-blue);
	color: var(--ee-text-on-blue);
}

/** ticket expired **/
.ee-status-color-TKE {
	color: var(--ee-color-grey-7);
}
.ee-status-background-color-TKE {
	background-color: var(--ee-color-grey-7);
	color: var(--ee-text-on-grey-7);
}

/** ticket archived **/
.ee-status-color-TKA {
	color: var(--ee-color-grey-3);
}
.ee-status-background-color-TKA {
	background-color: var(--ee-color-grey-3);
	color: var(--ee-text-on-grey-3);
}
