:root {
	/* letter-spacing */
	--ee-letter-spacing-font-size-micro: 2px;
	--ee-letter-spacing-font-size-tiny: 1px;
	--ee-letter-spacing-font-size-huge: -1px;
	--ee-letter-spacing-font-size-extreme: -2px;
	/* word-spacing */
	--ee-word-spacing-font-size-micro: 4px;
	--ee-word-spacing-font-size-tiny: 2px;
	--ee-word-spacing-font-size-smaller: 1px;
}

.ee-focus-priority-1 {
	color: var(--ee-default-text-color-super-low-contrast);
	font-size: var(--ee-font-size-extreme);
	font-weight: bolder;
	letter-spacing: var(--ee-letter-spacing-font-size-extreme);
	line-height: calc(var(--ee-line-height-modifier) * 0.75);
}

.ee-focus-priority-2 {
	color: var(--ee-default-text-color-low-contrast);
	font-size: var(--ee-font-size-huge);
	font-weight: bold;
	letter-spacing: var(--ee-letter-spacing-font-size-huge);
	line-height: calc(var(--ee-line-height-modifier) * 0.875);
}

.ee-focus-priority-3 {
	font-size: var(--ee-font-size-bigger);
	line-height: var(--ee-line-height-modifier);
}

.ee-focus-priority-4 {
	font-size: var(--ee-font-size-big);
	line-height: var(--ee-line-height-modifier);
}

.ee-focus-priority-5 {
	font-size: var(--ee-font-size-default);
	line-height: var(--ee-line-height-modifier);
}

.ee-focus-priority-6 {
	color: var(--ee-default-text-color-high-contrast);
	font-size: var(--ee-font-size-small);
	line-height: var(--ee-line-height-modifier);
}

.ee-focus-priority-7 {
	color: var(--ee-default-text-color-high-contrast);
	font-size: var(--ee-font-size-smaller);
	line-height: var(--ee-line-height-modifier);
	word-spacing: var(--ee-word-spacing-font-size-smaller);
}

.ee-focus-priority-8 {
	color: var(--ee-default-text-color-super-high-contrast);
	font-size: var(--ee-font-size-tiny);
	letter-spacing: var(--ee-letter-spacing-font-size-tiny);
	line-height: calc(var(--ee-line-height-modifier) * 1.125);
	word-spacing: var(--ee-word-spacing-font-size-tiny);
}

.ee-focus-priority-9 {
	color: var(--ee-default-text-color-super-high-contrast);
	font-size: var(--ee-font-size-micro);
	letter-spacing: var(--ee-letter-spacing-font-size-micro);
	line-height: calc(var(--ee-line-height-modifier) * 1.25);
	word-spacing: var(--ee-word-spacing-font-size-micro);
}

/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
}

/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
}

/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
}

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and (max-width: 782px) {
	.ee-focus-priority-1 {
		font-size: var(--ee-font-size-huge);
	}

	.ee-focus-priority-2 {
		font-size: var(--ee-font-size-bigger);
	}

	.ee-focus-priority-3 {
		font-size: var(--ee-font-size-big);
	}

	.ee-focus-priority-4 {
		font-size: var(--ee-font-size-default);
	}

	.ee-focus-priority-5 {
		font-size: var(--ee-font-size-small);
	}

	.ee-focus-priority-6 {
		font-size: var(--ee-font-size-smaller);
	}

	.ee-focus-priority-7 {
		font-size: var(--ee-font-size-tiny);
	}

	.ee-focus-priority-8 {
		font-size: var(--ee-font-size-tiny);
	}
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
	.ee-focus-priority-1 {
		font-size: var(--ee-font-size-bigger);
	}

	.ee-focus-priority-2 {
		font-size: var(--ee-font-size-big);
	}

	.ee-focus-priority-3 {
		font-size: var(--ee-font-size-default);
	}

	.ee-focus-priority-4 {
		font-size: var(--ee-font-size-small);
	}

	.ee-focus-priority-5 {
		font-size: var(--ee-font-size-smaller);
	}

	.ee-focus-priority-6 {
		font-size: var(--ee-font-size-tiny);
	}

	.ee-focus-priority-7 {
		font-size: var(--ee-font-size-tiny);
	}

	.ee-focus-priority-8 {
		font-size: var(--ee-font-size-tiny);
	}
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 360px) {
}
