:root {
	--ee-box-shadow-tiny: 0 1px 2px rgba(0, 0, 0, 0.6);
	--ee-box-shadow-tiny-diffuse: 0 0 1px rgba(0, 0, 0, 0.3);
	--ee-box-shadow-tiny-inset-diffuse: inset 0 0 1px rgba(0, 0, 0, 0.3);
	--ee-box-shadow-small: 0 2px 4px rgba(0, 0, 0, 0.6), 0 4px 8px 4px rgba(0, 0, 0, 0.1);
	--ee-box-shadow-small-diffuse: 0 1px 2px rgba(0, 0, 0, 0.3);
	--ee-box-shadow-default: 0 3px 6px rgba(0, 0, 0, 0.6), 0 8px 16px 8px rgba(0, 0, 0, 0.05);
	--ee-box-shadow-default-diffuse: 0 1px 3px rgba(0, 0, 0, 0.3);
	--ee-box-shadow-big: 0 5px 10px rgba(0, 0, 0, 0.6), 0 0 24px 16px rgba(0, 0, 0, 0.05);
	--ee-box-shadow-big-diffuse: 0 2px 5px rgba(0, 0, 0, 0.3);
	--ee-box-shadow-wp-icon-btn-hover: inset 0 0 0 1px var(--ee-color-grey-10), inset 0 0 0 2px var(--ee-color-white),
		0 1px 1px rgba(25, 30, 35, 0.2);
	--ee-box-shadow-wp-icon-btn-focus: inset 0 0 0 1px var(--ee-color-grey-5), inset 0 0 0 2px var(--ee-color-white);

	--ee-text-shadow-inset: -1px -1px 0 rgba(0, 0, 0, 0.15);
	--ee-text-shadow-inset-light: -1px -1px 0 rgba(255, 255, 255, 0.15);
	--ee-text-shadow-small: 0 1px 2px rgba(0, 0, 0, 0.5);
	--ee-text-shadow-default: 0 2px 4px rgba(0, 0, 0, 0.375);
	--ee-text-shadow-big: 0 3px 6px rgba(0, 0, 0, 0.25);
}
