/**
 * base css overwrite for wpeditor-css
 */
.mceContentBody body { margin: 0!important;padding: 0!important;font:82.5%/1.5 Helvetica, Arial, Verdana, sans-serif; background-color:#eee; }
.mceContentBody ul, .mceContentBody ul li, .mceContentBody p, .mceContentBody div, .mceContentBody ol {margin:0;padding:0;list-style:none;}

.mceContentBody  #invoice { width:740px; min-height:21.5cm; padding:0; margin:0 auto; overflow:hidden; background-color:#fff; }
.mceContentBody #invoice + #invoice { margin-top:5em;}

.mceContentBody table { border-collapse:collapse!important; width:100%!important; }
.mceContentBody td { vertical-align:top!important; }
.not-really-a-table  { border:none!important; }

#invoice-hdr { font-size:24pt!important; font-weight:bold!important; opacity:.1; }
#logo-dv img { max-width:200px!important; border: none; }

#comments{padding-top:1cm; line-height:1.2em; }

.aln-left { text-align:left; }
.aln-cntr { text-align:center; }
.aln-rght { text-align:right; }

.mceContentBody  .small-text { font-size:.8em; }
.mceContentBody  .small-text.link { font-weight:normal; }
.mceContentBody .plain-text { font-weight:normal; }
.mceContentBody .float-left { float:left; }
.mceContentBody .float-right { float:right; }
.mceContentBody .clear { clear:both; }
#invoice>div{
	margin-bottom:5em;
	/*border:1px dotted gray;*/
}
.tickets-per-event>li{
	margin-bottom:3em;
	/*margin-left:1em;
	margin-right:1em;*/
	/*border:1px dotted gray;*/
}
th.number-column{
	width:5em;
}
th.name-column{
	width:15em;
}
td{
	/*text-align:center;*//*Seth*/
}
.ticket-time-details{
	width:70%;
	display:inline-block;
}
.ticket-place-details{
	width:29%;
	display:inline-block;
}
.no-bottom-margin{
	margin-bottom:0px;
}
.ticket-registrations-list>li{
	margin-top:1em;
	margin-bottom:1em;
}
/* classes from registration and transaction stati */
.mceContentBody .RNA, .mceContentBody .RCN, .mceContentBody .RPP, .mceContentBody .TPN, .mceContentBody .TIN{
	color:red;
}
.mceContentBody .TCM {
	color: green;
}

.reg-details-for-ticket{
	/*margin-left:4em;*//*Seth*/
}
.grand-total{
	text-align:right;
}

.mceContentBody h3{
	font-size:12pt;
}
.subitem{
	padding-left:1.8em;
	text-align:left;
}
.ticket-note {
	font-style:italic;
}
/*=========================== TABLES =========================*/

.mceContentBody table th {text-align:left;padding: 6px 5px 6px 5px;}
.ticket-details table th, .taxes table th, #invoice-amount th {border-bottom:1px solid #666;}
td.action{border-bottom:0}
tr.odd td, tr.odd th, tr.header_row{background-color:#F4F4F4}
.total_tr td{border-bottom:0}
#vat_tr td{border-bottom:1px solid #000}
.mceContentBody td, .registration-details tr th {margin: 0;vertical-align: center; border-bottom:1px solid #ddd}
.mceContentBody td {margin: 0;padding: 8px 5px 8px 5px; vertical-align: top; }
.item_r{text-align: right;}
.item_c{text-align: center;}
.item_l{text-align: left;white-space: normal; }
.total {text-align: right;font-weight: bold; }
tr.tax-total td {border-top:1px solid #000;}
.subitem-row {
	color: #666;
}

.mceContentBody img.icon{
	margin-left:1em;
	margin-right:1em;
}
