.pue-sl-verified {
	padding-left: 20px;
	background: transparent url(images/accept.png) no-repeat left;
}
#country-details-settings-dv, #country-states-settings-dv {
	float:left;
	width:50%;
	min-width: 350px;
}

#general-setting-country-details-tbl, #general-setting-country-states-tbl { width:100%;}
#general-setting-country-details-tbl input, #general-setting-country-states-tbl input {width: 100%;}/**/

#general-setting-country-states-tbl td input { padding: 0; margin: 0; width: 100%; }/**/
#general-setting-country-states-tbl td ul { width: 100%; }
#general-setting-country-states-tbl td ul li { min-width: 30px;}
#general-setting-country-states-tbl td { margin:0; }/**/
#general-setting-country-states-tbl tbody td:first-child { width: 10%; }/**/
#general-setting-country-states-tbl tbody td:nth-child(2) { width: 75%; }
#general-setting-country-states-tbl tbody td:nth-child(3) { width: 10%; }
#general-setting-country-states-tbl tbody td:nth-child(4) { width: 5%; }