.ee {
	&-description-list-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-auto-flow: column;
		grid-gap: var(--ee-margin-small);
		grid-template-rows: repeat(4, 20px);
		margin-top: var(--ee-margin-small);
		width: 100%;
		> div {
			align-items: center;
			display: flex;
		}
	}
}
