.ee-description-list {
	&-grid {
		display: grid;
		grid-template-columns: max-content;
		grid-auto-flow: column;
		justify-content: start;
		line-height: var(--ee-font-size-default);
		place-items: center start;
		width: 100%;

		/* Media Queries for specific screen sizes
 			* -------------------------------------------------------------------------*/
		@media only screen and (max-width: 1920px) {
		}
		@media only screen and (max-width: 1766px) {
		}
		@media only screen and (max-width: 1440px) {
			grid-template-rows: repeat(3, var(--ee-font-size-huge));
		}
		@media only screen and (max-width: 1366px) {
		}
		@media only screen and (max-width: 1280px) {
			grid-template-rows: repeat(4, var(--ee-font-size-huge));
		}
		@media only screen and (max-width: 1024px) {
			grid-template-rows: repeat(5, var(--ee-font-size-huge));
		}
		/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
		@media only screen and (max-width: 960px) {
		}
		/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
		@media only screen and (max-width: 850px) {
			grid-template-rows: repeat(3, var(--ee-font-size-huge));
		}
		/* WordPress Admin Media Query Breakpoint: Tablet */
		@media screen and (max-width: 782px) {
			// grid-template-rows: repeat(4, var(--ee-font-size-huge));
		}
		/* WordPress Admin Media Query Breakpoint: Smartphone */
		@media screen and (max-width: 600px) {
			grid-template-rows: repeat(5, var(--ee-font-size-huge));
		}
		@media only screen and (max-width: 480px) {
			grid-template-rows: repeat(6, var(--ee-font-size-huge));
		}
		@media only screen and (max-width: 360px) {
			grid-auto-flow: unset;
			grid-template-rows: auto;
		}
	}

	&-item {
		align-items: center;
		display: flex;
		padding: var(--ee-padding-tiny) var(--ee-padding-default) var(--ee-padding-tiny) 0;

		dt {
			background: var(--ee-background-color);
			border-radius: var(--ee-border-radius-default);
			display: flex;
			margin: 0 var(--ee-margin-smaller) 0 0;
			padding: 0.5rem;
			vertical-align: middle;

			svg {
				margin: 0;
			}
		}

		dd {
			margin: 0;
			vertical-align: middle;
		}
	}
}
