/** -------------------------------------------------------------------------
 * Event Espresso IconMenuItem Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-editor-date-sidebar-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10;
}