/********************************************/
/****			-==ATTENTION==-			****/
/**** 	MOVE THIS FILE BEFORE EDITING 	***/

/*** Please move this file to: 'wp-content/uploads/espresso/templates directory before editing ****/

/**
    Multi registration form style
*/

#event_espresso_checkout_form {
    margin: 5px 0;
    padding: 5px;
}

.event_total_price{
    font-size: 25px;
    float: right;
    text-align: right;
    padding:5px;
}

.multi_reg_cart_block{
    margin:5px;
    padding:5px;
}


#event_espresso_coupon_wrapper {
    margin:5px;
    padding:5px;
}
#event_espresso_total_wrapper {
    margin:5px;
    padding:5px;
}

#event_espresso_shopping_cart table{
    text-align: left;
}

#event_espresso_registration_form {
    margin: 10px 3px;
}
/**
* End Multi registration form style
*/


/**
    Errors and notices
*/
.event_espresso_error { margin: 0 0 10px 0; padding: 5px 10px; border: #ff6666 1px solid; background-color:  #ffcccc; color: #000;}
.event_espresso_error p { margin: 0; color: #333; }
.event_espresso_error p em { color: #C00; font-style: normal; font-weight: bold; display: block;}

.event_espresso_attention { margin: 0 0 10px 0; padding: 5px 10px; border: #FC6 1px solid; background-color: #FFC; }
.event_espresso_attention p { margin: 0; }
.event_espresso_attention p em { color: #C00; font-style: normal; font-weight: bold;display: block; }

.event_espresso_form_wrapper label.error,
.event_espresso_form_wrapper span.error { color: #C00; width: auto;}
.event_espresso_form_wrapper label em,
.event_espresso_form_wrapper span.label em { font-style: normal; color: #C00; padding-left: 3px;}
.event_espresso_form_wrapper input.error { border-color: #C00; background-color: #FEF; }
/**
    End errors and notices
*/

/**
    Form styles
*/
.event_espresso_form_wrapper form legend { font-weight: bold; background: #ffffff; padding: 0 5px; }
.event_espresso_form_wrapper form fieldset div { padding: 0.25em 0; }
.event_espresso_form_wrapper label,
.event_espresso_form_wrapper span.label {
    display: block;
	margin-right: 10px;
	padding-right: 10px;
	position: relative;
}


.event_espresso_form_wrapper div.buttonrow { margin-left: 180px; }
.submit {
    margin:5px;
    padding: 0.3em;

}
.event_form_field{
	 clear: both;
}
.btn_event_form_submit {
	width: auto;
}
.btn_event_form_submit:hover {
}

.espresso_confirm_registration #confirm, .espresso_confirm_registration #confirm2{
	width: auto;
}

.espresso_confirm_registration #confirm:hover, .espresso_confirm_registration #confirm2:hover{
}

.event_espresso_form_wrapper ul{
    margin-left:125px;
}
.event_espresso_form_wrapper ul li{
    list-style: none;
}

.event_espresso_form_wrapper h1{
    padding: 5px;
}
.event_espresso_form_wrapper h2{
    padding: 5px;
}

.event_espresso_form_wrapper h3{
    padding: 5px;
}

.event_espresso_form_wrapper .copy_dropdown_wrapper{
    padding: 10px;
}

.recaptchatable #recaptcha_response_field {left:0 !important;}

/**
    Confirmation page display
*/
table#event_espresso_attendee_verify th,
table#event_espresso_attendee_verify_questions th { text-align: right; width: 40%; }
table#event_espresso_attendee_verify tr,
table#event_espresso_attendee_verify_questions tr { text-align: left; width: 60%; }


table.price_list{
    margin: 10px auto;
    border: 1px;
}

table.price_list td{
    padding: 5px;
}

/*
    Colors and other defiations from what's inherited from the theme's form styles
    added in 3.1.18.P by Chris Reynolds
    Uncomment these lines if you want to use these styles
*/
/*
#event_espresso_checkout_form { border: 2px solid #e8e8e8; }
.multi_reg_cart_block { border: 2px solid #d1d1d1; }
#event_espresso_coupon_wrapper { border: 2px solid #d1d1d1; }
#event_espresso_total_wrapper { border: 2px solid #d1d1d1; }
#event_espresso_registration_form { background-color:  #f4f3f2; }
table.price_list tr{ background-color: #c7e9c8; }
.pending_event{ border:2px solid yellow; padding:5px; }
.expired_event{ color:#F00; }
.event_espresso_form_wrapper input:focus,
.event_espresso_form_wrapper input.error:focus,
.event_espresso_form_wrapper textarea:focus {   background-color: #FFC; border-color: #FC6; }
*/


/********************************************/
/****			-==ATTENTION==-			****/
/**** 	MOVE THIS FILE BEFORE EDITING 	***/

/*** Please move this file to: 'wp-content/uploads/espresso/templates directory before editing ****/
