/*
    Document   : espresso_registration_forms_admin
    Created on : 29-Jan-2013, 10:30:18 AM
    Author     : mnelson4
    Description:
        Purpose of the stylesheet follows.
*/
#question_options .sample{ display:none; }

.question-groups #the-list { cursor: move; }

.questions .column-id { width:5%; }
.questions .column-order,
.questions .column-required,
.questions .column-admin_only,
.questions .column-ajax_sort_handle { width:5%; text-align: center; }
.questions .column-type { width:7.5%; text-align: center; }
.questions .column-display_text { width:20%; }
.questions .column-admin_label { width:22.5%; }


.questiongroups .column-id { width:5%; }
.questiongroups .column-order,
.questiongroups .column-ajax_sort_handle { width:5%; text-align: center; }
.questiongroups .column-name { width:20%; }
.questiongroups .column-show_group_name,
.questiongroups .column-show_group_desc {
	width: 15%;
}

.question-group-questions-container { display:inline-block; width: 30%; }
.ee-question-sortable { cursor: move;}
.ee-question-sortable label { cursor: inherit;}

.question-group-questions .description {
    color: #777;
    font-style: normal;
}
.question-group-questions .question-list-sortable {
    padding-left: 0;
}
.ee-question-sortable {
    align-items: center;
    border: 1px solid hsl(0, 0%, 90%);
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-block-end: 1rem;
    padding: 0;
    padding-block: .5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 0.5rem;
    position: relative;
}
.ee-question-sortable:hover {
    border-color: #444;
}
.ee-question-sortable .question-text h1,
.ee-question-sortable .question-text h2,
.ee-question-sortable .question-text h3,
.ee-question-sortable .question-text h4,
.ee-question-sortable .question-text h5,
.ee-question-sortable .question-text p {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.ee-question-sortable label {
    display: flex;
}
.ee-question-sortable input[type="checkbox"] {
    margin-inline-start: 0;
    margin-inline-end: 1rem;
}
.ee-question-sortable a {
    margin-inline-start: auto;
}

#insert_question_group_event_form .questions-group-wrap,
#update_question_group_event_form .questions-group-wrap {
    align-items: flex-start;
    flex-flow: row wrap;
}

#insert_question_group_event_form .edit-group,
#update_question_group_event_form .edit-group {
    width: clamp(400px, 800px, 100%)
}

#insert_question_group_event_form .edit-group + .edit-group,
#update_question_group_event_form .edit-group + .edit-group {
    margin-block-start: 2rem;
    margin-inline-start: unset;
}
#update_question_group_event_form .edit-group > h2,
#insert_question_group_event_form .edit-group > h2 {
    margin-block-start: unset;
}


table.question-options-table td, table.question-options-table th {
	padding:1em 10px 0 3px; line-height: 1em;
}

table.question-options-table{
	width: 100%;
}

table.question-options-table .regular-text {
	width: 100%;
}

table.question-options-table td:first-child, table.question-options-table td:nth-child(2) {
	width: 45%;
}

table.question-options-table td:last-child {
	width: 10%;
}

@media screen and (max-width:782px) {
    .ee-question-sortable {
        padding-left: 40px;
    }
}
@media screen and (min-width:1920px) {
    #post-body-content > div {
        max-width: 100% !important;
        width: 100% !important;
        clear: both !important;
        float: none !important;
    }

    #insert_question_group_event_form .edit-group + .edit-group,
    #update_question_group_event_form .edit-group + .edit-group {
        margin-block-start: unset;
        margin-inline-start: 4rem;
    }
}
