/*
    Document   : espresso_registration_forms_admin
    Created on : 29-Jan-2013, 10:30:18 AM
    Author     : mnelson4
    Description:
        Purpose of the stylesheet follows.
*/
#question_options .sample{ display:none; }

.question-groups #the-list { cursor: move; }

.questions .column-id { width:5%; }
.questions .column-order,
.questions .column-required,
.questions .column-admin_only,
.questions .column-ajax_sort_handle { width:5%; text-align: center; }
.questions .column-type { width:7.5%; text-align: center; }
.questions .column-display_text { width:20%; }
.questions .column-admin_label { width:22.5%; }


.questiongroups .column-id { width:5%; }
.questiongroups .column-order,
.questiongroups .column-ajax_sort_handle { width:5%; text-align: center; }
.questiongroups .column-name { width:20%; }
.questiongroups .column-show_group_name,
.questiongroups .column-show_group_desc {
	width: 15%;
}

.question-group-questions-container { display:inline-block; width: 30%; }
.ee-question-sortable { cursor: move;}
.ee-question-sortable label { cursor: inherit;}

.question-group-questions .description {
    color: #777;
    font-style: normal;
}
.question-group-questions .question-list-sortable {
    padding-left: 0;
}
.ee-question-sortable {
    align-items: center;
    border: 1px solid hsl(0, 0%, 90%);
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-block-end: 1rem;
    padding: 0;
    padding-block: .5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 0.5rem;
    position: relative;
}
.ee-question-sortable:hover {
    border-color: #444;
}
.ee-question-sortable .question-text h1,
.ee-question-sortable .question-text h2,
.ee-question-sortable .question-text h3,
.ee-question-sortable .question-text h4,
.ee-question-sortable .question-text h5,
.ee-question-sortable .question-text p {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.ee-question-sortable label {
    display: flex;
}
.ee-question-sortable input[type="checkbox"] {
    margin-inline-start: 0;
    margin-inline-end: 1rem;
}
.ee-question-sortable a {
    margin-inline-start: auto;
}

#insert_question_group_event_form .questions-group-wrap,
#update_question_group_event_form .questions-group-wrap {
    align-items: flex-start;
    flex-flow: row wrap;
}

#insert_question_group_event_form .edit-group,
#update_question_group_event_form .edit-group {
    width: clamp(400px, 800px, 100%)
}

#insert_question_group_event_form .edit-group + .edit-group,
#update_question_group_event_form .edit-group + .edit-group {
    margin-block-start: 2rem;
    margin-inline-start: unset;
}
#update_question_group_event_form .edit-group > h2,
#insert_question_group_event_form .edit-group > h2 {
    margin-block-start: unset;
}

.espresso-admin .form-table #question_options td {
    padding: 0;
}
.espresso-admin .form-table #question_options table.question-options-table {
	width: 100%;
}

.espresso-admin .form-table #question_options table.question-options-table th,
.espresso-admin .form-table #question_options table.question-options-table td {
    display: flex;
    padding: 0;
	width: 100%;
}
.espresso-admin .form-table #question_options table.question-options-table th:last-child,
.espresso-admin .form-table #question_options table.question-options-table td:last-child {
    min-width: unset;
    justify-content: flex-end;
	width: 100%;
}
.espresso-admin .form-table #question_options table.question-options-table td input:not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="checkbox"]) {
    margin-inline-start: .25rem;
    min-width: unset;
}

.espresso-admin #new-question-option {
    margin-block-start: 1rem;
}


@media screen and (min-width:600px) {
    .espresso-admin .form-table #question_options table.question-options-table th,
    .espresso-admin .form-table #question_options table.question-options-table td {
        display: inline-flex;
        padding-inline-end: .5rem;
        width: calc(((100% - 6.5rem) / 2) - .5rem);
    }

    .espresso-admin .form-table #question_options table.question-options-table th:last-child,
    .espresso-admin .form-table #question_options table.question-options-table td:last-child {
        padding-inline-end: 0;
        width: 6.5rem;
    }
}
@media screen and (min-width:1920px) {
    #insert_question_group_event_form .edit-group + .edit-group,
    #update_question_group_event_form .edit-group + .edit-group {
        margin-block-start: unset;
        margin-inline-start: 4rem;
    }
}


@media screen and ( max-width: 1366px ) {
    .event-espresso_page_espresso_registration_form.espresso-admin #post-body {
        display: flex;
        flex-direction: column;
    }
    .event-espresso_page_espresso_registration_form.espresso-admin #post-body.columns-2 #postbox-container-1 {
        float: unset;
        margin: 0;
        margin-block-start: 1rem;
        width: 100%;
    }

    .event-espresso_page_espresso_registration_form.espresso-admin #post-body.columns-2 #post-body-content,
    .event-espresso_page_espresso_registration_form.espresso-admin #post-body.columns-2 #postbox-container-1 > div {
        width: 100%;
    }
}
