
.ee-entity-lock-button {
    background: none !important;
    border: none;
    color: var(--ee-color-white) !important;
    box-shadow: none !important;
    border-radius: var(--ee-border-radius-small);
    opacity: .9;
    outline: none !important;
    padding: calc(var(--ee-padding-micro) / 2) !important;
    position: absolute;
    text-shadow: var(--ee-text-shadow-inset);
}

.ee-entity-lock-button.ee-is-locked {
    background: var(--ee-color-yellow) !important;
    border: 1px solid var(--ee-text-on-yellow-low-contrast);
    color: var(--ee-color-black) !important;
    opacity: 1;
}

.ee-entity-lock-button:not(.ee-updating-lock):hover {
    background: var(--ee-background-color) !important;
    border: 1px solid var(--ee-text-on-primary-low-contrast);
    color: var(--ee-color-primary) !important;
    opacity: 1;
}

.ee-entity-lock-button.ee-updating-lock {
    -webkit-animation: var(--ee-animation-spin);
    -moz-animation: var(--ee-animation-spin);
    animation: var(--ee-animation-spin);
    opacity: 1;
}

.ee-entity-lock-button {
    --ee-entity-lock-margin-offset: calc(var(--ee-padding-micro) * -3);
}

.ee-position-top-left {
    left: var(--ee-padding-micro);
    top: var(--ee-padding-micro);
}

.ee-position-top-center {
    left: 50%;
    margin-left: var(--ee-entity-lock-margin-offset);
    top: var(--ee-padding-micro);
}

.ee-position-top-right {
    right: var(--ee-padding-micro);
    top: var(--ee-padding-micro);
}

.ee-position-middle-right {
    right: var(--ee-padding-micro);
    margin-top: var(--ee-entity-lock-margin-offset);
    top: 50%;
}

.ee-position-bottom-left {
    left: var(--ee-padding-micro);
    bottom: var(--ee-padding-micro);
}

.ee-position-bottom-center {
    left: 50%;
    margin-left: var(--ee-entity-lock-margin-offset);
    bottom: var(--ee-padding-micro);
}

.ee-position-bottom-right {
    right: var(--ee-padding-micro);
    bottom: var(--ee-padding-micro);
}

.ee-position-middle-left {
    left: var(--ee-padding-micro);
    margin-top: var(--ee-entity-lock-margin-offset);
    top: 50%;
}
