.ee-text-links  {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	padding-block-start: 2rem;
	padding-block-end: 1rem;
}

.ee-text-links .ee-text-link,
.ee-text-links .ee-text-link-sep {
	margin-inline-end: 1rem;
}

.ee-text-links .ee-text-link {
	align-items: center;
	background-color: var(--ee-btn-secondary);
	border-radius: 0.25rem;
	border: 2px solid var(--ee-btn-secondary);
	color: var(--ee-font-color);
	display: inline-flex;
	font-size: 1.25rem;
	height: 2.5rem;
	justify-content: center;
	line-height: 1;
	outline: none !important;
	padding-inline-end: 1.5rem;
	padding-inline-start: 0.75rem;
	text-decoration: none;
    transition: all 200ms ease-in-out;
}

.ee-text-links .ee-text-link .dashicons {
	top: unset;
    transition: all 0ms ease-in-out;
}

.ee-text-links .ee-text-link:hover {
	background-color: var(--ee-btn-primary);
	border-color: var(--ee-btn-primary-hover);
    color:  var(--ee-color-white);
}
.ee-text-links .ee-text-link:focus {
	border-color: var(--ee-btn-primary-focus);
}
