
.components-modal__screen-overlay.ee-editor-modal-overlay {
    background: #000d;
}

.components-modal__frame.ee-editor-modal {
    background: var(--ee-background-color);
    color: var(--ee-default-text-color);
    height: 85%;
    max-height: 85%;
    max-width: 80%;
    opacity: 1;
    width: 65%;
}

.components-modal__frame.ee-editor-modal-tiny {
    height: auto !important;
    max-width: 480px !important;
}

.components-modal__frame.ee-editor-modal-small {
    height: auto !important;
    max-width: 600px !important;
}

.components-modal__frame.ee-editor-modal .components-modal__header {
    background: var(--ee-color-primary);
}

.components-modal__frame.ee-editor-modal .components-modal__header h1,
.components-modal__frame.ee-editor-modal .components-modal__header .components-icon-button {
    color: var(--ee-text-on-primary);
}

.components-modal__frame.ee-editor-modal .components-modal__header .components-icon-button:hover,
.components-modal__frame.ee-editor-modal .components-modal__header .components-icon-button:active {
    background: var(--ee-text-on-primary);
    box-shadow: none;
    color: var(--ee-color-primary);
}

.components-modal__frame.ee-editor-modal .components-modal__header .components-icon-button:focus {
    background: var(--ee-color-primary);
    border: 1px dotted var(--ee-text-on-primary);
    box-shadow: none;
    color: var(--ee-text-on-primary);
}

.components-modal__frame.ee-editor-modal .components-panel__body > .components-panel__body-title {
    color: var(--ee-default-text-color-high-contrast);
}
.components-modal__frame.ee-editor-modal .components-button:focus:enabled,
.components-modal__frame.ee-editor-modal .components-panel__body > .components-panel__body-title:hover {
    background: var(--ee-background-color);
    color: var(--ee-default-text-color-super-high-contrast);
}

.ee-editor-modal .components-modal__content {
    padding: 0;
}

.ee-editor-modal .components-modal__header {
    margin: 0 0 -1px;
    padding: 0 var(--ee-padding-tiny);
}

.ee-editor-modal .components-modal__header-heading {
    font-size: var(--ee-font-size-big);
    margin-left: var(--ee-margin-smaller);
}


/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
    .components-modal__frame.ee-editor-modal {
        height: 87.5%;
        max-height: 87.5%;
        max-width: 75%;
        width: 75%;
    }
}

@media only screen and (max-width: 1366px) {
    .components-modal__frame.ee-editor-modal {
        height: 90%;
        max-height: 90%;
        max-width: 80%;
        width: 80%;
    }
}

@media only screen and (max-width: 1280px) {
    .components-modal__frame.ee-editor-modal {
        height: 95%;
        max-height: 95%;
        max-width: 90%;
        width: 90%;
    }
}

@media only screen and (max-width: 1024px) {
    .components-modal__frame.ee-editor-modal {
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
    }
}

/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
}

/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
}

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and ( max-width: 782px ) {
    .ee-editor-modal .components-modal__header-heading {
        font-size: var(--ee-font-size-default);
        font-weight: bold;
    }
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
    .ee-editor-modal .components-modal__header-heading {
        font-size: var(--ee-font-size-small);
        font-weight: bold;
    }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 360px) {
}

