.ee-step-bubble-menu-container {
    display: inline-block;
    margin: 2rem auto;
    position: relative;
}

.ee-step-bubble-menu-container .step-bubbles-container {
    display: inline-block;
    position:relative;
    margin: auto;
}

.step-bubbles-container .progress-step-line {
    background: #ddd;
    border: 2px solid #ddd;
    height: 0px;
    left: -2%;
    position: absolute;
    top: 30%;
    width: 104%;
    z-index: -1;
}

.step-bubbles-container .ee-step-bubble-item {
    background-color: transparent;
    border: none;
    display: inline-block;
    margin-right: 30px;
    min-width: 160px;
    text-align: center;
}

.step-bubbles-container .ee-step-bubble-item:focus {
    outline: unset;
}

.step-bubbles-container .ee-step-bubble {
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 999em;
    color: #999;
    height: 50px;
    margin: auto;
    text-align: center;
    width: 50px;
}

.step-bubbles-container .ee-clickable .ee-step-bubble {
    background-color: #fff;
    color: #297abc;
    cursor: pointer;
}
.step-bubbles-container .ee-clickable .ee-step-bubble:hover {
    border-color: #297abc;
}

.step-bubbles-container .ee-clickable.ee-step-bubble-active .ee-step-bubble {
    color: #fff;
    background-color: #297abc;
    border-color: #297abc;
}

.step-bubbles-container .ee-step-bubble p {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.4;
    margin: 0;
    padding: 3px 0 0;
    text-align: center;
}

.step-bubbles-container .ee-step-bubble-step-text {
    color: #666;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 1rem;
}