.ee-step-bubble-menu-container {
    width: 100%;
    position: relative;
    margin: auto;
}

.ee-step-bubble-menu-container .step-bubbles-container {
    display: inline-block;
    position:relative;
    margin: auto;
}

.step-bubbles-container .progress-step-line {
    background: #ddd;
    border: 1px solid #ddd;
    height: 0px;
    position: absolute;
    top: 30%;
    left: -2%;
    width: 104%;
    z-index: -1;
}

.step-bubbles-container .ee-step-bubble-item {
    display: inline-block;
    margin-right: 30px;
    text-align: center;
    border: none;
    background-color: transparent;
}

.step-bubbles-container .ee-step-bubble-item:focus {
    outline: unset;
    border: none;
}

.step-bubbles-container .ee-clickable {
    cursor: pointer;
}

.step-bubbles-container .ee-step-bubble {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50px;
    background-color: #ddd;
    color: #000;
    text-align: center;
}

.step-bubbles-container .ee-step-bubble-active .ee-step-bubble {
    color: #fff;
    background-color: #666;
    width: 55px;
    height: 55px;
    margin: auto;
    border-radius: 55px;
}

.step-bubbles-container .ee-step-bubble p {
    font-size: 32px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    padding-top: 3px;
}

.step-bubbles-container .ee-step-bubble-step-text {
    display: block;
    margin-top: 15px;
    font-size: 1.3em;
}