/* Base CSS styles DO NOT CHANGE OR REMOVE */

body {margin: 0;padding: 0;font:62.5%/1.5 Helvetica, Arial, Verdana, sans-serif;background: #eee;}
ul, ul li, p, div, ol {margin:0;padding:0;list-style:none;}

#invoice { margin: 0 12pt; width:660px;padding: 10px 20px; margin: 1em auto;border-top: 1px solid #CCC;border-left: solid 1px #CCC;border-bottom: solid 2px #888;border-right: solid 2px #888;clear:both;position:relative;overflow:hidden; background:#fff }

#invoice img { border: none; }

.print_button_div{
	margin: 0 12pt; 
	width:660px;
	padding: 10px 20px; 
	margin: 0 auto 2em auto;
}

.print_button_div .print_button{
	font-size:14px;
	float:right;
}