:root {
    font-family: 'Helvetica';
    font-size: 1em;
}
code {
    font-size: 1em;
    display: inline-block;
    background-color: #dedcee;
    color: var( --ee-color-grey-background-contrast );
    padding: 5px;
    margin: 2px;
}
code.alternate {
    background-color: #f2f6f5;
}
body {
    padding: 20px;
}
.demo-section {
    background-color: #dedcee;
    padding: 20px;
}
.demo-items {
    display: flex;
    flex-flow: row wrap;
}
.demo-item {
    flex: 1 1 30%;
    background-color: #f2f6f5;
    padding: 10px;
    margin: 10px;
    max-width: calc( 33% - 40px );
}
.demo-swatch {
    margin-bottom: 10px;
    border: 1px dotted;
    padding: 5px;
}
.demo-box {
    width: 75px;
    height: 50px;
    margin-top: 5px;
}
.demo-box.with-text {
    height: auto;
    width: auto;
    padding: 10px;
}
.demo-section.hidden {
    display: none;
}