#icon-options-event { background: url("../../../../../images/events_icon_32.png") no-repeat scroll 0 0 transparent; }
#entries-per-page-dv { display:inline; }

.wrap .nav-tab-wrapper { margin-bottom:1em; }
.wrap .subsubsub { margin:0; }

#reg-filters-dv { clear:both; padding:1.5em 0; }
.datepicker { width:125px; }

/* TABLE COLUMNS */

.column-REG_ID { width:3%; }
.column-REG_date { width:12.5%; }

.column-Reg_status { width:7%; }

.status-TCM,
.status-RAP, 
.reg-overview-full-payment-spn { color:#090;  }

.status-TPN,
.status-RPN, 
.reg-overview-part-payment-spn { color:#F93;  }

.status-TFL, .status-TIN, .status-TOP,
.status-RCN, .status-RFL, .status-RNA, 
.reg-overview-no-payment-spn { color:#F00;  }

.wp-list-table .column-event_name { }
.wp-list-table .column-REG_date,
.wp-list-table .column-DTT_EVT_start { width:12.5%; }
/*.wp-list-table .column-ATT_fname { width:11%; }*/
.wp-list-table .column-REG_count { width:3%; text-align:center;  }
.wp-list-table .column-ATT_email { width:10.5%; }
.wp-list-table .column-REG_code { width:10.5%; }
.wp-list-table .column-Reg_status { width:6.5%; text-align:center; }

.wp-list-table .column-REG_att_checked_in { width:5%; text-align:center; }
.wp-list-table .column-DTT_reg_limit { width:4.25%; text-align:center; }

.wp-list-table #PRC_amount,
.wp-list-table #REG_final_price,
.wp-list-table #TXN_total,
.wp-list-table #TXN_paid { text-align:center; }

.wp-list-table .column-PRC_amount,
.wp-list-table .column-REG_final_price,
.wp-list-table .column-TXN_total,
.wp-list-table .column-TXN_paid { width:5%; text-align:right; }

.reg-pad-rght { display:block; padding-right:1em; }

.wp-list-table .column-actions { width:8.5%;  }

.reg-overview-free-event-spn { display: block; text-align:center; }

.reg-overview-actions-ul { list-style:none; margin:0; }
.reg-overview-actions-ul li { display: inline; margin:0; }
.reg-overview-actions-ul li + li { margin-left:.25em; }

#reg-admin-reg-details-reg-nmbr-hdr { padding:0; margin:-.5em 0 1em; }
#reg-admin-reg-details-reg-date-hdr,
#reg-admin-reg-details-reg-status-hdr { padding:0; margin:0 0 1em; }

#reg-admin-approve-decline-reg-status-spn { position: relative; top:-4px; }
#reg-admin-approve-decline-reg-status-spn a { margin-left:1em; vertical-align: baseline; }

.admin-side-mbox-dv { margin:1em 0 2em; }
.admin-side-mbox-dv p { margin:.5em 0; line-height:1.2em; color:#333; text-shadow:0px 1px 0px #fff; }
.admin-side-mbox-label-spn { width:30%; padding-right:.5em; text-align:right; }
.admin-side-mbox-text-dv { padding-left:.5em; margin:0 0 1em 30%; }

.admin-primary-mbox-h4 { margin:2em 0 .25em;  }

.admin-primary-mbox-tbl-wrap {
	padding:3px; margin:0em 0 2em;
	background:#fff; border:1px solid #dfdfdf;
	border-radius:3px; -moz-border-radius:3px;  -webkit-border-radius:3px;
}
.admin-primary-mbox-tbl {
    width:100%; border-spacing: 0; border-collapse:collapse;
}
.admin-primary-mbox-tbl th, .admin-primary-mbox-tbl td {
	padding:6px 12px; margin: 0;
	border:1px solid #dfdfdf; background:#fcfcfc;
	font-family: sans-serif; font-size: 1em; vertical-align:middle;
}
.admin-primary-mbox-tbl tr + tr { border-top:none; }
.admin-primary-mbox-tbl th + th,
.admin-primary-mbox-tbl td + td { border-left:none; }
.admin-primary-mbox-tbl th { font-size:.9em; font-weight:bold; }
.admin-primary-mbox-tbl caption { display:none; }

.form-table.skinny-rows th, .form-table.skinny-rows td { padding:3px 10px; }

.admin-primary-mbox-total-tr { font-size:1.1em; }


.jqplot-title {
	 font-size:24px; text-align:left !important; margin: 1em 0 0 1em;
}
.jqplot-point-label {
	padding:0 .5em;
	background:#fff; border:1px solid #ddd; 
	border-radius:3px; -moz-border-radius:3px;  -webkit-border-radius:3px;
	font-size:12px; color:#333;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2), 3px 3px 2px rgba(0,0,0,.1); 
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2), 3px 3px 2px rgba(0,0,0,.1); 
	box-shadow: 1px 1px 1px rgba(0,0,0,.2), 3px 3px 2px rgba(0,0,0,.1); 
}

.reg-admin-edit-question-group-spn { position: relative; top:-4px; padding: 4px; vertical-align: middle; }
.reg-admin-edit-attendee-question-lnk { padding: 4px; text-decoration: none; outline:none; }
.reg-admin-edit-attendee-question-lnk:focus { outline:none; }
.reg-admin-edit-attendee-question-lnk img { }



.display-the-hidden { float:right; padding-left:16px; cursor:pointer; }
.hide-the-displayed { float:right; padding-left:16px; cursor:pointer; }

