.ee-inline-edit {
	&:focus,
	&.ee-infinity-sign:focus {
		color: var(--ee-color-primary-low-contrast) !important;
		outline: none;
	}

	&:hover {
		outline: none;
	}

	&.ee-infinity-sign {
		color: var(--ee-default-text-color);
		font-size: var(--ee-font-size-bigger);
		line-height: 0.9;
		vertical-align: middle;
	}
}

.ee-inline-edit-infinity {
	position: relative;
	button {
		background-color: white;
		bottom: 0;
		font-size: var(--ee-font-size-big);
		font-weight: bold;
		height: 20px;
		left: 0;
		line-height: 1;
		position: absolute;
		width: 100%;
	}
	&__input {
		font-size: var(--ee-font-size-big);
		font-weight: bold;
	}
}
