.ee-inline-edit .ant-typography-edit {
	/* margin-left: -1rem; */
	opacity: 0.001;
	transform: scale(0.001);
	transition: all 0.1s ease;
	transition-delay: 0.3s;
}
.ee-inline-edit:hover .ant-typography-edit {
	margin-left: 0.5rem;
	opacity: 1;
	transform: scale(1);
}
