.ee-inline-edit {
	&__infinity {
		&:focus,
		&.ee-infinity-sign:focus {
			color: var(--ee-color-primary-low-contrast) !important;
			outline: none;
		}

		&.ee-infinity-sign {
			color: var(--ee-default-text-color);
			font-size: calc(var(--ee-font-size-default) * 1.75);
			height: 2.625rem; // 42px
			width: 2.625rem; // 42px

			.ee-infinity-sign__inner {
				font-weight: 600;
				position: relative;
				top: -3px;
			}

			.ee-rspnsv-table & {
				padding-bottom: 0;
				padding-top: 0;
			}

			&:hover {
				svg {
					path {
						fill: var(--ee-color-primary);
					}
				}
			}

			svg {
				margin: 0;

				.ee-rspnsv-table & {
					max-width: 20px;
				}
			}
		}
	}
}
