.ee-inline-edit {
	&__infinity {
		margin-bottom: -10px; // temp hack, to be fixed by rethinking entire entity details flow and positioning

		&:focus,
		&.ee-infinity-sign:focus {
			color: var(--ee-color-primary-low-contrast) !important;
			outline: none;
		}

		&.ee-infinity-sign {
			color: var(--ee-default-text-color);
			font-size: var(--ee-font-size-bigger);
			line-height: 0.9;
			padding: var(--ee-padding-micro);

			height: 2.625rem; // 42px
			width: 2.625rem; // 42px

			.ee-rspnsv-table & {
				height: auto;
				width: auto;
				padding-bottom: 0;
				padding-top: 0;
			}

			&:hover {
				svg {
					path {
						fill: var(--ee-color-primary);
					}
				}
			}

			svg {
				margin: 0;

				.ee-rspnsv-table & {
					max-width: 20px;
				}
			}
		}
	}
}

.ee-tabbable-text {
	border-radius: var(--ee-border-radius-small);
	border-width: 3px;
	cursor: pointer;
	display: inline-flex;
	padding: var(--ee-padding-micro);

	&:hover {
		border-color: var(--ee-color-primary-low-contrast);
		box-shadow: none !important;
		color: var(--ee-color-primary-high-contrast);
	}

	&:active,
	&:focus {
		border-width: 3px;
		border-color: var(--ee-color-primary);
	}
}
