/*
Document   : ee_migration_page
Created on : 10-Sep-2013, 10:25:45 AM
Author     : mnelson4
Description:
Styling the progress bar and migration page
*/

/* GENERAL DISPLAY STUFF */
.espresso-header {
	padding:1.5em 1.5em .5em;
	background: #fff;
	color: #444;
}

/*#main-message,
#migration-start-border,*/
#migration-confirm-backed-up {
	text-align: center;
}

#start-migration {
	display: inline-block;
	float: left;
	margin-left: 1em;
}

/* PROGRESS BAR STUFF */

.progress-responsive {
	width: 70%;
	float: left;
	/* margin-right:auto;
	margin-left:auto;*/
}
/* Progress bar containers */
figure {
	position: relative;
	/*width: 100%;*/
	height: 25px;
	border: 2px solid #A39D9C;
	border-radius: 3px;
	background: #fff;
	margin: 0 0 1em;
}
/* Progress bar shape */
figure div:first-child {
	width: 0;
	height: 25px;
	border-radius: 2px;
}

/* Green bar */
.progress-responsive .progress-responsive__bar {
	background: #2EA2CC;
}
/* Percent text */
figure div:last-child {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 15px;
	line-height: 15px;
	font-weight: normal;
	font-family: sans-serif;
	color: #59595B;
}

table.widefat tbody>tr>td:first-child{
	width: 20%;
}

textarea.system_status_info{
	width: 80%;
	height: 100px;
	overflow-y: scroll;
}