
.espresso-editor .ee-inline-edit-text:hover {
    color: var(--ee-color-bright-green-high-contrast) !important;
}

.espresso-editor .ee-inline-edit-input.form-control {
    box-shadow: none;
    display: inline-block;
    font-size: var(--ee-font-size-smaller);
    font-weight: normal;
    height: var(--ee-icon-button-size);
    padding: var(--ee-padding-micro);
    width: 95%;
}

.espresso-editor .ee-inline-edit-input-number {
    text-align: right;
}

.espresso-editor .ee-inline-edit-label {
    color: var(--ee-default-text-color-high-contrast);
    font-size: var(--ee-font-size-smaller);
    font-weight: normal;
    line-height: var(--ee-font-size-small) !important;
    margin: 0;
    width: 95%;
}

.espresso-editor .ee-inline-edit-text .components-tooltip {
    font-size: var(--ee-font-size-smaller);
    font-weight: normal;
    line-height: var(--ee-font-size-smaller);
}

.espresso-editor .ee-inline-edit-placeholder {
    color: var(--ee-default-text-color-super-low-contrast);
    font-size: var(--ee-font-size-small);
    text-transform: lowercase;
}