/** -------------------------------------------------------------------------
 * Event Espresso ItemCount Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-item-count {
	&--has-items {
		.ant-badge-count {
			background: var(--ee-color-bright-blue);
		}
	}

	&--no-items {
		.ant-badge-count {
			background: var(--ee-color-hot-pink);
			font-size: 1rem;
			font-weight: bolder;
			line-height: 1.1rem;
		}
		path {
			fill: var(--ee-color-hot-pink);
		}
	}
}
