.espresso-admin .form-table th { max-width:!important 30%; min-width:!important 20%; }
.espresso-admin .form-table td { max-width:!important 79%; min-width:!important 69%; }
.espresso-admin .regular-text { width:!important 98%; }
#icon-options-event { background: url("../../../../../images/events_icon_32.png") no-repeat scroll 0 0 transparent; }
#entries-per-page-dv { display:inline; }

.wrap .nav-tab-wrapper { margin-bottom:1em; }
.wrap .subsubsub { margin:0; }

#txn-filters-dv { clear:both; padding:1em 0; }
.datepicker { width:125px; }

/* TABLE COLUMNS */

.column-TXN_ID { width:3%; }
.column-TXN_timestamp { width:15%; }

#STS_ID {}
.column-STS_ID { width:6%; /*text-align:center; */}
/* green text */
.status-TCM, .txn-overview-full-payment-spn,
.txn-admin-payment-status-PAP { color:#090;  }
/* orange text */
.status-TPN, .txn-overview-part-payment-spn,
.txn-admin-payment-status-PFL { color:#F93; font-weight:bold;  }
/* red text */
.status-TOP,
.txn-overview-no-payment-spn,
.txn-admin-payment-status-PDC { color:#F00; font-weight:bold; }
/* grey text */
.txn-admin-payment-status-PCN { color:#999;  }

#TXN_total, #TXN_paid { text-align:center; }
.column-TXN_total, .column-TXN_paid { width:6.5%; text-align:right; }
.txn-pad-rght { display:block; padding-right:1.5em; }

.column-ATT_fname { width:14%; }
.column-ATT_email { width:14%; }
.column-event_name {  }
.column-actions { width:7.5%; }

.txn-overview-free-event-spn {
	display: block; text-align:center;
}

.txn-overview-actions-ul { list-style:none; margin:0; }
.txn-overview-actions-ul li { display: inline; margin:0; }
.txn-overview-actions-ul li + li { margin-left:.25em; }
.txn-admin-payment-action-edit-lnk,
.txn-admin-payment-action-delete-lnk { cursor:pointer; }

.admin-side-mbox-dv { margin:1em 0 2em; }
.admin-side-mbox-dv p { margin:.5em 0; line-height:1.2em; color:#333; text-shadow:0px 1px 0px #fff; }
.admin-side-mbox-label-spn { width:30%; padding-right:.5em; text-align:right; }
.admin-side-mbox-text-dv { padding-left:.5em; margin:0 0 1em 30%; }

#poststuff .admin-modal-dialog-h2 { font-size:2em; margin:.25em 0;  }
.admin-primary-mbox-h4 { margin:2em 0 .25em; font-size:1.3em;  }

.admin-modal-dialog-wrap,
.admin-primary-mbox-tbl-wrap,
.admin-primary-mbox-tbl-wrap-inner {
	padding:3px; margin:0em 0 2em;
	background:#fff; border:1px solid #dfdfdf;
	border-radius:3px; -moz-border-radius:3px;  -webkit-border-radius:3px;
}
.admin-primary-mbox-tbl {
    width:100%; border-spacing: 0; border-collapse:collapse;
}
.admin-primary-mbox-tbl th, .admin-primary-mbox-tbl td {
	padding:6px 12px; margin: 0;
	border:1px solid #dfdfdf; background:#fcfcfc;
	font-family: sans-serif; font-size: 1em; vertical-align:middle;
}.admin-primary-mbox-tbl.borderless th { padding:6px 6px 0; border:none; background:none; }
.admin-primary-mbox-tbl.borderless td { padding:0 6px 6px; border:none; background:none; }
.admin-primary-mbox-tbl tr + tr { border-top:none; }
.admin-primary-mbox-tbl th + th,
.admin-primary-mbox-tbl td + td { border-left:none; }
.admin-primary-mbox-tbl th,
.admin-primary-mbox-tbl-wrap-inner label { font-size:.9em; font-weight:bold; line-height:1em; }
.admin-primary-mbox-tbl caption { display:none; }

.form-table.skinny-rows th, .form-table.skinny-rows td { padding:3px 10px; }

.admin-primary-mbox-taxes-tr { font-size:1.1em; }
.admin-primary-mbox-total-tr { font-size:1.4em; }
.admin-primary-mbox-tbl .txn-no-payments { float:right; color:red !important; font-weight:bold; }
.red-text { color:red !important; }



.truncate-50 { width:50px; height:1em; overflow:hidden; }

#txn-admin-gateway-img {
	position:absolute; top:0; right:2em;
}


.hdr-has-icon { padding:4px 0; }
.hdr-has-icon img { position:relative; top:1px; margin-right:.5em; }
#cash-single { position:relative; top:2px; }

#admin-modal-dialog-options-ul,
#txn-admin-payment-options-ul { float:right; list-style:none; margin:0 .5em 1em; }

#admin-modal-dialog-options-ul li,
#txn-admin-payment-options-ul li { display:inline-block; }

#admin-modal-dialog-options-ul li + li,
#txn-admin-payment-options-ul li + li { margin-left:1em; }

/*.txn-admin-payment-option-lnk {
	display:block; width:auto; padding:3px 6px;; margin:0;
	background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #DFDFDF; border-radius: 3px 3px 3px 3px;
    color: #666; cursor: pointer; vertical-align:middle;
	
}*/


#txn-admin-apply-payment-dv {
	position:absolute; top:50px; left:25%; width:75%; height:auto; padding:3em 4em 2em; z-index:9999;
	background:#fff; border:1px solid #ddd; border-radius:5px;
}
#txn-admin-apply-payment-frm { }

#txn-admin-apply-payment-tbl { width:auto; }
#txn-admin-apply-payment-tbl label { padding-left:3px; }

.admin-modal-dialog-inner {
	padding:2em 2em 1em; margin: 0;
	border:1px solid #dfdfdf; background:#fcfcfc;
	/*font-family: sans-serif; font-size: 1em; vertical-align:middle;*/
}
.admin-modal-dialog-row { clear:both; margin:0 0 1em; }
.admin-modal-dialog-inner label { display:inline-block; float:left; width:150px; padding-top:.4em; margin:0 1em .5em 0; vertical-align:top; }
.admin-modal-dialog-inner .description { vertical-align:top; }
.admin-modal-dialog-inner input,
.admin-modal-dialog-inner select { vertical-align:top; }
.validation-notice-dv { display:none; padding:0 0 0 150px; margin-left:1em; color:red; }

.requires-value { border:1px solid #FE2A00 !important; }

/*.admin-modal-dialog-inner label.last { margin-bottom:8em; }*/


.admin-modal-dialog-inner input,
.admin-modal-dialog-inner select { width:100%; min-width:150px; max-width:250px; }
/*#txn-admin-payment-amount-inp { max-width:150px; }*/

/*.admin-primary-mbox-tbl-wrap-inner { padding:12px; margin:0; background:#fcfcfc; }
.admin-primary-mbox-tbl-wrap-inner .float-left { }*/
/*.txn-admin-apply-payment-date { width:225px; }
.txn-admin-apply-payment-amount { width:175px; }
.txn-admin-apply-payment-method { width:175px; }
.txn-admin-apply-payment-gateway { width:175px; }
.txn-admin-apply-payment-response { width:175px; }
.txn-admin-apply-payment-gw-txn-id { width:175px; }*/
/*#txn-admin-payment-date-inp { width:150px; }
#txn-admin-payment-amount-inp { width:60px; }
#txn-admin-payment-method-slct { width:125px; }*/


.jqplot-title {
	 font-size:24px; text-align:left !important; margin: 1em 0 0 1em;
}
.jqplot-point-label {
	padding:0 .5em;
	background:#fff; border:1px solid #ddd; 
	border-radius:3px; -moz-border-radius:3px;  -webkit-border-radius:3px;
	font-size:12px; color:#333;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2), 3px 3px 2px rgba(0,0,0,.1); 
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2), 3px 3px 2px rgba(0,0,0,.1); 
	box-shadow: 1px 1px 1px rgba(0,0,0,.2), 3px 3px 2px rgba(0,0,0,.1); 
}


#espresso-admin-page-overlay-dv {
	position:absolute; top:0; left:0;
	background: rgba(0, 0, 0, 0.6) !important; z-index:999;
}


.jst-left { text-align:left; }
.jst-cntr { text-align:center; }
.jst-rght { text-align:right; }

.display-the-hidden { float:right; cursor:pointer; }
.hide-the-displayed { float:right; cursor:pointer; }
.display-the-hidden img, .hide-the-displayed img { position:relative; top:1px; left:-4px; }
.display-the-hidden.no-icon, .hide-the-displayed.no-icon { background-image:none; }


.lt-grey-txt  { color:#999;  text-shadow:none; }
.float-left { float:left; }

/* Nicolas Gallagher's micro clearfix */
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } 

#adminmenuwrap { z-index:100; }
#espresso-admin-page-ajax-loading { display:none; position:absolute; top:18px; left:50%; margin-left:-15px; padding:0; z-index:99999; }
#espresso-admin-page-ajax-loading span { display:none; }