/*** REG PAGE WRAPPER ***/

#ee-single-page-checkout-dv {
	position: relative;
}

/*** STEPS DISPLAY HEADER ***/
#spco-steps-big-hdr {
	font-size:1em;
	padding: 0!important;
	margin: .25em 0 !important;
	line-height:1em;
	color:#ccc;
	border: none!important;
}
.spco-steps-big-hdr {
}
#spco-sold-out-events-ul,
#spco-pre-approval-events-ul {
	list-style: none;
}
#spco-steps-display-dv {
	width:99%;
	padding: 5px .5%;
	margin:0 0 1em;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.spco-step-display-dv {
	float:left;
	display:inline-block;
	margin:0;
	text-align:center;
	height: 33px;
}
.steps-1 {
	width:87%;
}
.steps-2 {
	width:43.5%;
}
.steps-3 {
	width:29%;
}
.steps-4 {
	width:21.75%;
}
#ee-single-page-checkout-dv .spco-steps-display-hdr {
	display:inline-block;
	padding:0!important;
	margin:0!important;
	vertical-align:middle;
	font-size:11px!important;
	line-height:12px;
	letter-spacing: 1px;
	color:#ddd;
	text-align:left;
	border: none!important;
}
#ee-single-page-checkout-dv .spco-step-big-nmbr {
	display:inline-block;
	position : relative;
	padding: 0 3px 0 0 !important;
	margin:0!important;
	vertical-align:top;
	font-size:30px;
	font-weight:bold;
	line-height:30px;
	/*color: #00B1CA;*/
}
#ee-single-page-checkout-dv .spco-step-big-nmbr:hover {
	text-decoration:none;
}
#ee-single-page-checkout-dv .spco-step-name {
	display:inline-block;
	padding:9px 0 0;
}
#ee-single-page-checkout-dv .spco-step-arrow-dv {
	float:left;
	display:inline-block;
	width:6%;
	padding: 0!important;
	margin: 0!important;
	vertical-align:middle;
	text-align:center;
	font-size:27px;
	line-height:30px;
	color:#ddd;
}
#ee-single-page-checkout-dv .active-step .spco-steps-display-hdr {
	color:inherit!important;
}
#ee-single-page-checkout-dv .inactive-step .spco-step-big-nmbr {
	color:#ddd;
}



/***** whats-next-buttons *****/
.spco-whats-next-buttons {
	clear:both;
	padding:2em 0 1em;
	margin:0;
	text-align:right;
}
.spco-whats-next-buttons .event-queue-register-btn, .spco-whats-next-buttons .spco-register-btn {
	margin-left: 1em!important;
}
.act-like-link {
	cursor:pointer;
}




/*** REG STEPS ***/

.spco-steps-pg {
	/*margin:0 0 2em;*/
}
.spco-attendee-panel-dv {
	width:100%!important;
}
.ee-reg-form-attendee-dv {
	padding:1em 2.5%;
	margin:1em 0 2em;
	border: 2px solid #eee;
	border-radius: 2px;
}
.ee-reg-form-attendee-dv .ee-reg-qstn-input-dv {
	display: block;
	clear:both;
	margin:0 0 .5em;
}
.ee-reg-form-attendee-dv .ee-reg-qstn-input-dv + .ee-reg-qstn-input-dv {
	padding-top:.5em;
}
.ee-reg-form-qstn-grp-dv {
	padding:.5em 1em 1em;
}
.ee-reg-form-qstn-grp-dv + .ee-reg-form-qstn-grp-dv {
	margin:.5em 0 0;
}
.ee-reg-form-attendee-dv .ee-reg-form-qstn-grp-title {
	margin:.25em 0 1em;
}
.ee-reg-form-attendee-dv .ee-reg-form-qstn-grp-desc-pg {
	padding: 0 1em 1em;
	margin:-1em 0 1em;
}
.spco-attendee-lgnd {
	width: auto;
	padding:0 1em;
	margin:0;
	border: none;
	letter-spacing:1px;
	font-weight: bold;
}
.event_questions + .spco-attendee-lgnd {
	margin-top:2em;
}

.spco-attendee-info-not-required-pg {
	margin:0 .25em .5em;
}


/*  COPY ATTENDEE INFO  */

#spco-copy-attendee-dv {
	position:relative;
	padding:1.5em;
	margin:1em 0 0;
	background:rgba( 128, 128, 128, .05 );
	border-radius: 2px;
	line-height:1.1em;
}
#spco-copy-attendee-dv .spco-copy-attendee-pg {
	margin:0 0 1em;
	font-size:.8em;
	letter-spacing:1px;
}
#spco-copy-attendee-dv .spco-copy-all-attendee-pg {
	margin:0 0 .75em;
}
#spco-copy-attendee-dv .spco-copy-attendee-pg span {
	margin:0 0 1em;
	font-size:.9em;
	letter-spacing:1px;
	color:#777;
	line-height:.9em;
}
#display-more-attendee-copy-options .dashicons,
#hide-more-attendee-copy-options .dashicons {
	text-decoration: none;
}
#spco-copy-attendee-dv .spco-copy-attendee-event-hdr {
	clear:both;
	margin:1.5em 0 .5em;
	font-size:.8em;
	font-weight:bold;
	color:#444;
}
.spco-copy-attendee-chk-input-dv {
	display:inline-block;
	width: 32.5%;
	min-width:193px;
}
.spco-copy-attendee-chk-pg {
	display:inline-block;
	float:left;
	clear:none!important;
	width:32%;
	margin: 0!important;
}
.spco-copy-attendee-hr {
	clear:both;
	margin:1em 0 0;
	background:none;
	border:none;
	border-top:1px solid rgba( 0, 0, 0, .05);
	border-bottom:1px solid rgba( 255, 255, 255, .9);
}
#more-attendee-copy-options-dv {
	position:relative;
	display:none;
	padding:0;
	margin:3em 0 0;
	clear : both;
}

/*** INPUTS ***/


#ee-single-page-checkout-dv  .new-state-abbrv {
	display:inline-block!important;
	width:auto!important;
}
.ee-reg-qstn-input-dv,
.ee-billing-qstn-input-dv {
	margin:0 0 1em;
}
#ee-single-page-checkout-dv .important-notice {
	margin:2em 0;
}
#ee-single-page-checkout-dv label {
	display: block;
}
#ee-single-page-checkout-dv input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=file]) {
	max-width: 100%;
	min-width: 50%;
	width:100%;
}
#ee-single-page-checkout-dv input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=file]):focus {
	/*border-color: rgba(0, 177, 202,.8);*/
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 177, 202, .8);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 177, 202, .8);
	box-shadow: 0 0 3px 0 rgba(0, 177, 202, .8);

}

#ee-single-page-checkout-dv input[type=radio],
#ee-single-page-checkout-dv input[type=checkbox] {
	position: relative;
	top: -1px;
	width: 13px;
	height: 13px;
	padding: 0;
	margin:0 .5em;
	vertical-align: middle;
	*overflow: hidden;
}
.ee-radio-label-before,
.ee-checkbox-label-before {
	display: inline-block !important;
	cursor: pointer;
	font-size: .9em;
	line-height: 1em;
}
.ee-radio-label-after,
.ee-checkbox-label-after {
	display: inline-block !important;
	padding: .25em 1em .2em 20px;
	text-indent: -20px;
	cursor: pointer;
	font-size: .9em;
	line-height: 1em;
}
.ee-checkbox-label-wide {
	width:auto !important;
}

#ee-single-page-checkout-dv .nano-lbl {
	width: 3.1%; min-width:60px; max-width:100%;
}
#ee-single-page-checkout-dv .micro-lbl {
	width: 6.2%; min-width:120px; max-width:100%;
}
#ee-single-page-checkout-dv .tiny-lbl {
	width: 12.4%; min-width:180px; max-width:100%;
}
#ee-single-page-checkout-dv .small-lbl {
	width: 24.4%; min-width:240px; max-width:100%;
}
#ee-single-page-checkout-dv .medium-lbl {
	width: 49%; min-width:360px; max-width:100%;
}
#ee-single-page-checkout-dv .big-lbl {
	width:99%; min-width:360px; max-width:100%;
}

.ee-question-desc,
.ee-question-option-desc {
	margin:0 0 0 .25em;
	font-size:.9em;
	letter-spacing:1px;
	color:#999;
}

/***  VALIDATION  ***/
#ee-single-page-checkout-dv .ee-asterisk,
#ee-single-page-checkout-dv .ee-input-error,
#ee-single-page-checkout-dv .ee-required-text {
	font-weight:bold;
	color:#E34064 !important;
}
#ee-single-page-checkout-dv .ee-asterisk {
	margin: 0 .5em;
}
#ee-single-page-checkout-dv .ee-requires-value {
	border : 2px solid #E34064 !important;
}
#ee-single-page-checkout-dv .ee-needs-value {
	-webkit-box-shadow: 0 0 3px 0 rgba(227, 64, 100, .8);
	-moz-box-shadow: 0 0 3px 0 rgba(227, 64, 100, .8);
	box-shadow: 0 0 3px 0 rgba(227, 64, 100, .8);
}
/*.ee-has-value {*/
	/*-webkit-box-shadow: 0px 0px 3px 0 rgba(0, 177, 202, .8);*/
	/*-moz-box-shadow: 0px 0px 3px 0 rgba(0, 177, 202, .8);*/
	/*box-shadow: 0px 0px 3px 0 rgba(0, 177, 202, .8);*/
/*}*/
#ee-single-page-checkout-dv .ee-has-value,
#ee-single-page-checkout-dv .ee-has-value:focus {
	border-color: rgba(112, 204, 80, 1) !important;
	-webkit-box-shadow: 0 0 3px 0 rgba(112, 204, 80, .8) !important;
	-moz-box-shadow: 0 0 3px 0 rgba(112, 204, 80, .8) !important;
	box-shadow: 0 0 3px 0 rgba(112, 204, 80, .8) !important;
}



/***  PAYMENT METHOD OPTIONS  ***/

.spco-step-dv {
	margin: 0 0 3em;
}

.spco-grand-total td {
	font-weight: bold;
}

#method-of-payment-hdr {
	margin:1.5em 0 .5em;
}
#ee-available-payment-method-inputs-method-of-payment-inputs-lbl {
	display: none;
}
#ee-single-page-checkout-dv  .spco-payment-method-input-dv label {
	display:inline;
	float: left;
    margin:0 38px 0 0;
	min-height: 90px;
}
#ee-single-page-checkout-dv  .spco-payment-method-input-dv label + label {
	/*margin-left: 38px;*/
}

.spco-payment-method-dv {
	display: inline-block;
	position: relative;
	max-width:180px;
	padding:20px;
	margin:0 1em 1em 0;
	border:1px solid #ddd;
	border-radius: 2px;
	background:#fff;
	text-align: center;
	line-height:1em;
	vertical-align: middle;
	cursor:pointer;
}

.spco-payment-method-btn-img {
	vertical-align:middle;
	max-width:100px !important;
	padding:0;
	margin:auto;
	box-shadow: none !important;
	border-radius: 0 !important;
	cursor:pointer;
}

.spco-payment-method-dv img {
	vertical-align:middle;
	max-width:140px !important;
	padding:0;
	margin:auto;
	box-shadow: none !important;
	border-radius: 0 !important;
}
.spco-payment-method-dv:hover {
	top:-1px;
	border-color:#d5d5d5;
	text-decoration:none;
	-webkit-box-shadow: 4px 10px 15px -3px rgba(0, 0, 0, .05), 1px 2px 4px -1px rgba(0, 0, 0, .1), -2px -1px 5px rgba(0, 0, 0, .025);
	-moz-box-shadow:4px 10px 15px -3px rgba(0, 0, 0, .05), 1px 2px 4px -1px rgba(0, 0, 0, .1), -2px -1px 5px rgba(0, 0, 0, .025);
	box-shadow:4px 10px 15px -3px rgba(0, 0, 0, .05), 1px 2px 4px -1px rgba(0, 0, 0, .1), -2px -1px 5px rgba(0, 0, 0, .025);
}
.spco-payment-method-dv .vrt-cell {
	display: table-cell !important;
	vertical-align: middle;
}

/***  payment method info  ***/
.spco-payment-method-info-dv {
	clear: both;
	position: relative;
	padding:1.5em 2em 2em;
	margin:1em 0 2em;
	border:1px solid #eee;
	border-radius: 2px;
}
.spco-payment-method-hdr {
	/*float:right;*/
	clear: none;
	margin:0;
	/*text-align:right;*/
	color:#ccc;
}
.spco-payment-method-img {
	float:left;
	margin: 0 1em 0 0;
}
.spco-payment-method-desc {
	margin:1em 0;
}

.g-recaptcha {
	float: right;
}
.spco-disabled-submit-btn,
.spco-disabled-submit-btn:hover {
	border:1px solid #ccc !important;
	background:#ccc !important;
	box-shadow:none !important;
}

.sub-item-row {
	font-size:.9em;
}



/*** SMALL SCREENS ***/
/*** INPUTS ***/
@media screen and (max-width: 500px) {
	#ee-single-page-checkout-dv .medium-lbl {
		min-width: 100%;
	}
	#ee-single-page-checkout-dv .big-lbl {
		min-width: 100%;
	}
}
