/*** REG PAGE WRAPPER ***/
:root {

    --ee-spco-white: rgba(247, 247, 247, .75); /* #f7f7f7;*/
    --ee-spco-off-white: rgba(237, 237, 240, .75); /*#ededf0;*/
    --ee-spco-grey-super-low-constrast: rgba(220, 221, 224, 0.75); /*#dcdde0;*/
    --ee-spco-grey-low-constrast: rgba(182, 182, 184, 0.75); /*#b6b6b8;*/
    --ee-spco-grey: rgba(147, 148, 150, 0.75); /*#939496;*/
    --ee-spco-grey-high-constrast: rgba(111, 112, 115, 0.75); /*#6f7073;*/
    --ee-spco-grey-super-high-constrast: rgba(91, 92, 95, 0.75); /*#5b5c5f;*/
}

#ee-single-page-checkout-dv {
    position: relative;
}

/*** STEPS DISPLAY HEADER ***/
#ee-single-page-checkout-dv h2.spco-steps-big-hdr {
    font-size: 1.25rem;
    padding: 0 !important;
    margin: .25em 0 !important;
    color: var(--ee-spco-grey-high-constrast);
    border: none !important;
}

#spco-sold-out-events-ul,
#spco-pre-approval-events-ul {
    list-style: none;
}

#spco-steps-display-dv {
    align-content: center;
    align-items: center;
    border-block: 1px solid var(--ee-spco-off-white);
    display: flex;
    flex-wrap: wrap;
    line-height: 2.5rem;
    justify-content: space-around;
    margin-block-end: 2em;
    padding-block: .5rem;
    width: 100%;
}

#ee-single-page-checkout-dv .spco-step-display-dv,
#ee-single-page-checkout-dv .spco-step-arrow-dv {
    display: inline-flex;
    margin: 0;
    min-height: 2rem;
    padding: 1px;
}

#ee-single-page-checkout-dv .spco-steps-display-hdr {
    align-content: center;
    align-items: center;
    border: none !important;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.25rem;
    justify-content: flex-start;
    letter-spacing: 1px;
    margin: 0 !important;
    text-align: left;
}

#ee-single-page-checkout-dv .spco-step-big-nmbr {
    font-size: 2rem;
    font-weight: bold;
    padding-inline-end: 1rem;
}

#ee-single-page-checkout-dv .spco-step-big-nmbr:hover {
    text-decoration: none;
}

#ee-single-page-checkout-dv .spco-step-arrow-dv {
    color: var(--ee-spco-grey-low-constrast);
    font-size: 2rem;
    justify-content: center;
    line-height: 1.5rem;
    margin-inline: .5rem;
    text-align: center;
    width: fit-content;
}

#ee-single-page-checkout-dv .spco-step-display-dv.inactive-step .spco-step-name,
#ee-single-page-checkout-dv .spco-step-display-dv.inactive-step .spco-step-big-nmbr {
    color: var(--ee-spco-grey);
}

#ee-single-page-checkout-dv .active-step .spco-step-name,
#ee-single-page-checkout-dv .active-step .spco-step-big-nmbr {
    color: inherit;
}

#ee-single-page-checkout-dv .inactive-step .spco-step-big-nmbr {
    color: var(--ee-spco-grey);
}

/*** SMALL SCREENS ***/
/*** INPUTS ***/
@media screen and (max-width: 768px) {

    #spco-steps-display-dv {
        align-items: flex-start;
        flex-direction: column;
        line-height: 1.5rem;
    }

    #ee-single-page-checkout-dv .spco-step-arrow-dv {
        display: none;
    }

    #spco-steps-big-hdr,
    #ee-single-page-checkout-dv .spco-steps-display-hdr {
        font-size: 1rem;
        letter-spacing: 0;
    }

    #ee-single-page-checkout-dv .spco-step-big-nmbr {
        font-size: 1.6rem;
    }


}

/***** whats-next-buttons *****/
.spco-whats-next-buttons {
    clear: both;
    padding: 2em 0 1em;
    margin: 0;
    text-align: right;
}

.spco-whats-next-buttons .event-queue-register-btn, .spco-whats-next-buttons .spco-register-btn {
    margin-left: 1em !important;
}

.act-like-link {
    cursor: pointer;
}


/*** REG STEPS ***/

#spco-attendee_information-pg {
    margin:0 0 2em;
}

.spco-attendee-panel-dv {
    width: 100% !important;
}

.spco-attendee-panel-dv .spco-ticket-info-dv {
    border-block-start: 2px solid rgba(128, 128, 128, .25);
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: 0;
    margin: 0;
    margin-block-start: 3rem;
    padding: 0;
    padding-block-start: 4rem;
}

.spco-attendee-panel-dv:first-of-type .spco-ticket-info-dv {
    border: none;
    margin-block-start: 0;
}

.ee-reg-form-attendee-dv {
    padding: 0;
    margin: 0;
    margin-block-start: 4rem;
    margin-block-end: 1rem;
    border: none;
}

div.ee-billing-qstn-input-dv,
.ee-reg-form-attendee-dv div.ee-reg-qstn,
.ee-reg-form-attendee-dv div.ee-reg-qstn-input-dv {
    display: block;
    clear: both;
    margin: 0;
    margin-block-end: clamp(.25rem, 100%, .5rem);
}

.ee-reg-form-attendee-dv .ee-reg-qstn + .ee-reg-qstn,
.ee-reg-form-attendee-dv .ee-reg-qstn-input-dv + .ee-reg-qstn-input-dv {
    padding-top: .5em;
}

.ee-reg-form-qstn-grp-dv {
    padding: .5em 0 1em;
}

.ee-reg-form-qstn-grp-dv + .ee-reg-form-qstn-grp-dv {
    margin: .5em 0 0;
}

.ee-reg-form-attendee-dv .ee-reg-form-qstn-grp-title {
    margin: .25em 0 1em;
}

.ee-reg-form-attendee-dv .ee-reg-form-qstn-grp-desc-pg {
    padding: 0 1em 1em;
    margin: -1em 0 1em;
}

.spco-attendee-lgnd {
    border: none;
    color: var(--ee-spco-grey);
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding:0;
    width: auto;
}

.event_questions + .spco-attendee-lgnd {
    margin-top: 2em;
}

.spco-attendee-info-not-required-pg {
    margin: 0 .25em .5em;
}


/*  COPY ATTENDEE INFO  */

#spco-copy-attendee-dv {
    position: relative;
    padding: 1.5em;
    margin: 1em 0 0;
    background: rgba(128, 128, 128, .05);
    border-radius: 2px;
    line-height: 1.1em;
}

#spco-copy-attendee-dv .spco-copy-attendee-pg {
    margin: 0 0 1em;
    font-size: .8em;
    letter-spacing: 1px;
}

#spco-copy-attendee-dv .spco-copy-all-attendee-pg {
    margin: 0 0 .75em;
}

#spco-copy-attendee-dv .spco-copy-attendee-pg span {
    margin: 0 0 1em;
    font-size: .9em;
    letter-spacing: 1px;
    color: var(--ee-spco-grey-high-constrast);
    line-height: .9em;
}

#display-more-attendee-copy-options .dashicons,
#hide-more-attendee-copy-options .dashicons {
    text-decoration: none;
}

#spco-copy-attendee-dv .spco-copy-attendee-event-hdr {
    clear: both;
    margin: 1.5em 0 .5em;
    font-size: .8em;
    font-weight: bold;
    color: var(--ee-spco-grey-super-high-constrast);
}

.spco-copy-attendee-chk-input-dv {
    display: inline-block;
    width: 32.5%;
    min-width: 193px;
}

.spco-copy-attendee-chk-pg {
    display: inline-block;
    float: left;
    clear: none !important;
    width: 32%;
    margin: 0 !important;
}

.spco-copy-attendee-hr {
    clear: both;
    margin: 1em 0 0;
    background: none;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(255, 255, 255, .9);
}

#more-attendee-copy-options-dv {
    position: relative;
    display: none;
    padding: 0;
    margin: 3em 0 0;
    clear: both;
}

/*** INPUTS ***/


#ee-single-page-checkout-dv .new-state-abbrv {
    display: inline-block !important;
    width: auto !important;
}

#ee-single-page-checkout-dv .important-notice {
    margin: 2em 0;
}

#ee-single-page-checkout-dv label {
    display: block;
}

#ee-single-page-checkout-dv select,
#ee-single-page-checkout-dv input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=file]) {
    font-size: clamp(1rem, 100%, 2rem);
    max-width: 100%;
    min-height: 2rem;
    min-width: 50%;
    padding-block: clamp(.25rem, 100%, .5rem);
    padding-inline: clamp(.375rem, 100%, .75rem);
    width: 100%;
}

#ee-single-page-checkout-dv select {
    width: fit-content;
}

#ee-single-page-checkout-dv input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=file]):focus {
    /*border-color: rgba(0, 177, 202,.8);*/
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 177, 202, .8);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 177, 202, .8);
    box-shadow: 0 0 3px 0 rgba(0, 177, 202, .8);

}

.ee-select-input-dv {
    display: table;
}

#ee-single-page-checkout-dv input[type=radio],
#ee-single-page-checkout-dv input[type=checkbox] {
    position: relative;
    top: -1px;
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0 .5em;
    vertical-align: middle;
    overflow: hidden;
}

.ee-radio-label-before,
.ee-checkbox-label-before {
    display: inline-block !important;
    cursor: pointer;
    font-size: .9em;
    line-height: 1em;
}

.ee-radio-label-after,
.ee-checkbox-label-after {
    display: inline-block !important;
    padding: .25em 0 .2em 20px;
    text-indent: -20px;
    cursor: pointer;
    font-size: .9em;
    line-height: 1em;
}

.ee-checkbox-label-wide {
    width: auto !important;
}

#ee-single-page-checkout-dv .nano-lbl {
    width: 3.1%;
    min-width: 67px;
    max-width: 100%;
}

#ee-single-page-checkout-dv .micro-lbl {
    width: 6.2%;
    min-width: 133px;
    max-width: 100%;
}

#ee-single-page-checkout-dv .tiny-lbl {
    width: 12.4%;
    min-width: 200px;
    max-width: 100%;
}

#ee-single-page-checkout-dv .small-lbl {
    width: 24.4%;
    min-width: 267px;
    max-width: 100%;
}

#ee-single-page-checkout-dv .medium-lbl {
    width: 49%;
    min-width: 400px;
    max-width: 100%;
}

#ee-single-page-checkout-dv .big-lbl {
    width: 99%;
    min-width: 400px;
    max-width: 100%;
}

.ee-question-desc,
.ee-question-option-desc {
    margin: 0 0 0 .25em;
    font-size: .9em;
    letter-spacing: 1px;
    color: var(--ee-spco-grey);
}

/***  VALIDATION  ***/
#ee-single-page-checkout-dv .ee-asterisk,
#ee-single-page-checkout-dv .ee-input-error,
#ee-single-page-checkout-dv .ee-required-text {
    font-weight: bold;
    color: #E34064 !important;
}

#ee-single-page-checkout-dv .ee-asterisk {
    margin: 0 .5em;
}

#ee-single-page-checkout-dv .ee-requires-value {
    border: 2px solid #E34064 !important;
}

#ee-single-page-checkout-dv .ee-needs-value {
    -webkit-box-shadow: 0 0 3px 0 rgba(227, 64, 100, .8);
    -moz-box-shadow: 0 0 3px 0 rgba(227, 64, 100, .8);
    box-shadow: 0 0 3px 0 rgba(227, 64, 100, .8);
}

/*.ee-has-value {*/
/*-webkit-box-shadow: 0px 0px 3px 0 rgba(0, 177, 202, .8);*/
/*-moz-box-shadow: 0px 0px 3px 0 rgba(0, 177, 202, .8);*/
/*box-shadow: 0px 0px 3px 0 rgba(0, 177, 202, .8);*/
/*}*/
#ee-single-page-checkout-dv .ee-has-value,
#ee-single-page-checkout-dv .ee-has-value:focus {
    border-color: rgba(112, 204, 80, 1) !important;
    -webkit-box-shadow: 0 0 3px 0 rgba(112, 204, 80, .8) !important;
    -moz-box-shadow: 0 0 3px 0 rgba(112, 204, 80, .8) !important;
    box-shadow: 0 0 3px 0 rgba(112, 204, 80, .8) !important;
}


/***  PAYMENT METHOD OPTIONS  ***/

.spco-step-dv {
    margin: 0 0 3em;
}

.spco-grand-total td {
    font-weight: bold;
}

#method-of-payment-hdr {
    margin: 1.5em 0 .5em;
}

#ee-available-payment-method-inputs-method-of-payment-inputs-lbl {
    display: none;
}

#ee-single-page-checkout-dv .spco-payment-method-input-dv label {
    display: inline;
    float: left;
    margin: 0 30px 0 0;
    min-height: 90px;
}

#ee-single-page-checkout-dv .spco-payment-method-input-dv label + label {
    /*margin-left: 38px;*/
}

.spco-payment-method-dv {
    display: inline-block;
    position: relative;
    max-width: 180px;
    padding: 20px;
    margin: 0 1em 1em 0;
    border: 1px solid var(--ee-spco-grey-low-constrast);
    border-radius: 2px;
    background: var(--ee-spco-white);
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.spco-payment-method-btn-img {
    vertical-align: middle;
    max-width: 160px !important;
    padding: 0;
    margin: auto;
    box-shadow: none !important;
    border-radius: 0 !important;
    cursor: pointer;
}

.spco-payment-method-dv img {
    vertical-align: middle;
    max-width: 160px !important;
    padding: 0;
    margin: auto;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.spco-payment-method-dv:hover {
    top: -1px;
    border-color: var(--ee-spco-grey-low-constrast);
    text-decoration: none;
    -webkit-box-shadow: 4px 10px 15px -3px rgba(0, 0, 0, .05), 1px 2px 4px -1px rgba(0, 0, 0, .1), -2px -1px 5px rgba(0, 0, 0, .025);
    -moz-box-shadow: 4px 10px 15px -3px rgba(0, 0, 0, .05), 1px 2px 4px -1px rgba(0, 0, 0, .1), -2px -1px 5px rgba(0, 0, 0, .025);
    box-shadow: 4px 10px 15px -3px rgba(0, 0, 0, .05), 1px 2px 4px -1px rgba(0, 0, 0, .1), -2px -1px 5px rgba(0, 0, 0, .025);
}

.spco-payment-method-dv .vrt-cell {
    display: table-cell !important;
    vertical-align: middle;
}

/***  payment method info  ***/
.spco-payment-method-info-dv {
    clear: both;
    position: relative;
    padding: 1.5em 2em 2em;
    margin: 1em 0 2em;
    border: 1px solid var(--ee-spco-off-white);
    border-radius: 2px;
}

.spco-payment-method-hdr {
    /*float:right;*/
    clear: none;
    margin: 0;
    /*text-align:right;*/
    color: var(--ee-spco-grey);
}

.spco-payment-method-img {
    float: left;
    margin: 0 1em 0 0;
}

.spco-payment-method-desc {
    margin: 1em 0;
}

.g-recaptcha {
    float: right;
}

.spco-disabled-submit-btn,
.spco-disabled-submit-btn:hover {
    border: 1px solid var(--ee-spco-grey-low-constrast) !important;
    background: var(--ee-spco-grey-low-constrast) !important;
    box-shadow: none !important;
}

.sub-item-row {
    font-size: .9em;
}


/*** SMALL SCREENS ***/
/*** INPUTS ***/
@media screen and (max-width: 500px) {
    #ee-single-page-checkout-dv .medium-lbl {
        min-width: 100%;
    }

    #ee-single-page-checkout-dv .big-lbl {
        min-width: 100%;
    }
}

.ee-privacy-consent-assertion {
    text-align: center;
    max-width: 600px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.spco-nowrap,
#spco-payment-info-table .spco-table-qty,
#spco-payment-info-table th:not(:first-child),
table.spco-ticket-details th:not(:first-child) {
    padding-inline: 1rem;
    white-space: nowrap;
}