@import 'application/ui/styles/mixins/breakpoints.scss';

.ee-timezone-info {
	&__button.ee-btn-base {
		border: none;
		margin: var(--ee-margin-micro);
		padding: var(--ee-padding-micro);
	}

	.ee-popover__content {
		border-color: var(--ee-color-primary-super-low-contrast);
		left: -130px;
		width: 260px;

		[x-arrow] {
			display: none;
		}
	}

	@include max600px {
		display: none;
	}
}
