.ee-timezone-info {
	display: block;
	margin: 0 auto;
	position: relative;
	[role='dialog'] {
		position: absolute;
		min-width: 260px;
		left: 0;
		[x-arrow] {
			display: none;
		}
	}
	&--inline {
		display: inline-block;
	}
}
