/** -------------------------------------------------------------------------
 * Event Espresso EntityDetailsPanel Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

@import 'application/ui/styles/mixins/breakpoints.scss';

.ee-entity-details-panel {
	align-self: flex-start;
	color: var(--ee-default-text-color);
	display: flex;
	flex-flow: row nowrap;
	font-size: var(--ee-font-size-big);
	height: var(--ee-font-size-extreme);
	justify-content: center; /* space-between */
	line-height: var(--ee-font-size-big);
	margin: 0;
	min-width: calc(var(--ee-font-size-tiny) * 21);
	text-align: center;
	vertical-align: bottom;
	width: 100%;

	@include max600px {
		font-size: var(--ee-font-size-default);
		width: calc(var(--ee-font-size-default) * 10);
	}

	@include max480px {
		flex-direction: column;
		height: auto;
		padding: 0;
		text-align: center;
		width: 100%;
	}

	.ee-inline-edit-text {
		font-size: var(--ee-font-size-big);
		line-height: var(--ee-font-size-big);
	}

	.ee-entity-details {
		display: flex;
		flex-direction: column-reverse;
		max-width: calc(var(--ee-font-size-tiny) * 7);
		width: 100%;

		.ee-inline-edit-input {
			max-width: var(--ee-font-size-extreme);
			margin: 0 0 calc(var(--ee-margin-micro) * -1);
		}

		@include max480px {
			flex-direction: row;
			line-height: var(--ee-font-size-bigger);
			max-width: unset;
			text-align: center;
			width: 100%;
		}

		&__label {
			color: var(--ee-default-text-color-super-high-contrast);
			font-size: var(--ee-font-size-tiny);
			letter-spacing: 1px;

			@include max480px {
				color: var(--ee-default-text-color-high-contrast);
				font-size: var(--ee-font-size-smaller);
				letter-spacing: 0;
				text-align: right;
				vertical-align: middle;
				width: 50%;
			}
		}

		&__value {
			font-weight: bold;
			margin-bottom: 0;

			.ee-entity-list__card-view & {
				margin-bottom: -0.4rem;
			}

			.dashicon {
				margin: 0;
				position: relative;
			}

			@include max480px {
				padding-left: var(--ee-padding-tiny);
				text-align: center;
				vertical-align: middle;
				width: 25%;
			}

			.entity-sold {
				align-items: center;
				display: inline-flex;
				justify-content: center;
			}
		}

		&__separator {
			border: 0 solid rgba(0, 0, 0, 0);
			border-left: 1px solid rgba(0, 0, 0, 0.25);
			height: calc(var(--ee-font-size-big) + var(--ee-font-size-bigger));

			@include max480px {
				display: none;
			}
		}
	}

	.entity-card--reverse-layout & {
		align-self: flex-end;
	}
}
