/** -------------------------------------------------------------------------
 * Event Espresso EntityDetailsPanel Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-entity-details-panel-div {
	align-self: flex-start;
	color: var(--ee-default-text-color);
	display: flex;
	flex-flow: row nowrap;
	font-size: var(--ee-font-size-big);
	height: var(--ee-font-size-extreme);
	justify-content: center; /* space-between */
	line-height: var(--ee-font-size-big);
	margin: 0;
	min-width: calc(var(--ee-font-size-tiny) * 21);
	text-align: center;
	vertical-align: bottom;
	width: 100%;

	.ee-inline-edit-text {
		font-size: var(--ee-font-size-big);
		line-height: var(--ee-font-size-big);

		&.ee-infinity-sign {
			color: var(--ee-default-text-color);
			font-size: var(--ee-font-size-bigger);
			line-height: 0.9;
			vertical-align: middle;
		}
	}

	.ee-entity-details-div {
		display: flex;
		flex-direction: column-reverse;
		max-width: calc(var(--ee-font-size-tiny) * 7);
		width: 100%;

		.ee-inline-edit-input {
			max-width: var(--ee-font-size-extreme);
			margin: 0 0 calc(var(--ee-margin-micro) * -1);
		}
	}

	.ee-entity-details-label-div {
		color: var(--ee-default-text-color-super-high-contrast);
		font-size: var(--ee-font-size-tiny);
		letter-spacing: 1px;
	}

	.ee-entity-details-value-div {
		font-weight: bold;
		margin-bottom: var(--ee-border-radius-default);

		.dashicon {
			margin: 0;
			position: relative;
		}
	}

	.ee-entity-details-separator {
		border: 0 solid rgba(0, 0, 0, 0);
		border-left: 1px solid rgba(0, 0, 0, 0.25);
		height: calc(var(--ee-font-size-big) + var(--ee-font-size-bigger));
	}

	.entity-card--reverse-layout & {
		align-self: flex-end;
	}
}

/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
}

/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
}

/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
}

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and (max-width: 782px) {
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
	.ee-entity-details-panel-div {
		font-size: var(--ee-font-size-default);
		width: calc(var(--ee-font-size-default) * 10);
	}
}

@media only screen and (max-width: 480px) {
	.ee-entity-details-panel-div {
		flex-direction: column;
		height: auto;
		padding: var(--ee-padding-smaller) 0;
		text-align: center;
		width: 100%;

		.ee-entity-details-div {
			flex-direction: row;
			line-height: calc(var(--ee-font-size-default) * 2);
			max-width: unset;
			text-align: center;
			width: 100%;
		}

		.ee-entity-details-value-div {
			padding-left: var(--ee-padding-tiny);
			text-align: center;
			vertical-align: middle;
			width: 25%;
		}

		.ee-entity-details-label-div {
			color: var(--ee-default-text-color-high-contrast);
			font-size: var(--ee-font-size-smaller);
			letter-spacing: 0;
			text-align: right;
			vertical-align: middle;
			width: 50%;
		}

		.ee-entity-details-separator {
			display: none;
		}
	}
}

@media only screen and (max-width: 360px) {
}
