
.ee-calendar-date-range-wrapper {
    box-sizing: border-box;
    color: var(--ee-color-white);
    font-size: var(--ee-font-size-micro);
    font-weight: normal;
    line-height: var(--ee-font-size-default);
    height: 100%;
    padding: var(--ee-padding-smaller) var(--ee-padding-tiny) var(--ee-padding-tiny);
    position: absolute;
    text-align: center;
    width: calc(var(--ee-padding-micro) * 34);
}

.ee-calendar-date-range-wrapper.cdr-pos-left {
    background-position: right;
    float: left;
    left: 0;
}

.ee-calendar-date-range-wrapper.cdr-pos-right {
    background-position: left;
    float: right;
    right: 0;
}

.ee-calendar-date-range-wrapper .ee-calendar-page-date-wrapper > div {
    margin: var(--ee-margin-nano) auto 0;
}

.ee-cdr-weekday {
    display: inline-block;
    font-size: var(--ee-font-size-smaller);
    letter-spacing: var(--ee-letter-spacing-font-size-tiny);
    text-align: center;
}

.ee-cdr-month-and-day {
    font-size: var(--ee-font-size-bigger);
    font-weight: bold;
    line-height: var(--ee-font-size-bigger);
}

.ee-cdr-month {
}

.ee-cdr-day {
    margin: 0 0 0 var(--ee-margin-smaller);
}

.ee-cdr-year {
    letter-spacing: calc(var(--ee-letter-spacing-font-size-micro) * 2);
    left: var(--ee-padding-nano);
    position: relative;
}

.ee-calendar-date-range-separator {
    box-sizing: border-box;
    clear: both;
    color: rgba(255, 255, 255, .7);
    letter-spacing: var(--ee-letter-spacing-font-size-micro);
    padding: var(--ee-padding-tiny) 0;
    width: 100%;
}

.ee-cdr-time {
    font-size: var(--ee-font-size-smaller);
    /*letter-spacing: var(--ee-letter-spacing-font-size-tiny);*/
    /*padding: var(--ee-padding-tiny) 0 0;*/
}

.ee-calendar-time-separator {
    color: rgba(255, 255, 255, .7);
    letter-spacing: var(--ee-letter-spacing-font-size-micro);
    margin: 0 var(--ee-margin-nano);
}

.ee-calendar-date-range-header,
.ee-calendar-date-range-footer {
    font-weight: bold;
    letter-spacing: var(--ee-letter-spacing-font-size-micro);
}