#country-settings-dv {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

#country-details-settings-dv, #country-states-settings-dv {
    width: 100%;
}

#country-settings-dv th,
#country-settings-dv td {
    max-width: 100%;
    width: unset;
}

#country-settings-dv .espresso-radio-btn-options-ul {
    margin-block-start: .75rem;
}

#general-setting-country-details-tbl.form-table th {
    padding-block-end: 0;
}
#general-setting-country-details-tbl.form-table td {
    padding-block-start: 0;
}

#general-setting-country-states-tbl thead {
    display: none;
}



#general-setting-country-states-tbl td input {
    margin-inline: 0;
    width: 100%
}
#general-setting-country-states-tbl td.delete-state-td {
    text-align: end;
}




@media all and (max-width: 782px) {
    .espresso-admin #general-setting-country-details-tbl.form-table tr {
        border-block-end: none;
    }

    #country-settings-dv th:first-child,
    #country-settings-dv td:first-child {
        padding-block-start: 3rem;
    }

    #general-setting-country-states-tbl th:last-child,
    #general-setting-country-states-tbl td:last-child {
        padding-block-end: 1.5rem;
    }
}


@media all and (min-width: 782px) {
    #country-details-settings-dv, #country-states-settings-dv {
        padding: 1rem;
    }


    .add-new-state-tbl td:first-child,
    #general-setting-country-states-tbl thead th:nth-child(1),
    #general-setting-country-states-tbl tbody tr.country-state-columns td:nth-child(1) {
        width: 6rem;
    }

    #general-setting-country-states-tbl tbody tr.country-state-columns td:nth-child(2) input {
        width: clamp(10rem, 15rem, 20rem)
    }

    #general-setting-country-states-tbl .STA_active-ul {
        width: 13rem;
    }

    #general-setting-country-states-tbl tbody tr.country-state-columns td:nth-child(4) {
        width: 50px;
    }
}

@media all and (min-width: 1920px) {
    #country-settings-dv {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
    }

    #country-details-settings-dv, #country-states-settings-dv {
        width: 45%;
    }

    #general-setting-country-states-tbl thead {
        display: table-header-group;
    }

    #general-setting-country-states-tbl tbody tr.country-state-columns td:nth-child(2) input {
        width: clamp(20rem, 30rem, 40rem)
    }
}

#site_license_key {
    margin-right: 10px;
}
#site_license_key + .dashicons.dashicons-admin-network {
    font-size: 2rem;
    margin: .25rem
}
