#country-details-settings-dv, #country-states-settings-dv {
	float:left;
	width:47%;
	min-width: 350px;
	padding: 10px;
}

.form-table { width:100%;}
.general-settings-country-input-td input[type="text"],
.general-settings-country-state-input-td input[type="text"] { font-size: 14px !important; line-height: 1.3 !important; padding: 3px 5px !important; }

#general-setting-country-states-tbl td text { padding: 0; margin: 0; width: 100%; }/**/
#general-setting-country-states-tbl td .STA_active-ul { width: 100% }
#general-setting-country-states-tbl td .STA_active-ul li { float: left; min-width:60px; max-width:89px; }
#general-setting-country-states-tbl td { margin:0; }/**/
#general-setting-country-states-tbl tbody tr.country-state-columns td:nth-child(1) { width: 10%; padding-left: 0; }
#general-setting-country-states-tbl tbody tr.country-state-columns td:nth-child(2) { padding-left: 0; }
#general-setting-country-states-tbl tbody tr.country-state-columns td:nth-child(3) { width: 6%; min-width:120px; }
#general-setting-country-states-tbl tbody tr.country-state-columns td:nth-child(4) { width: 5%; }
#general-setting-country-states-tbl .medium-text { width: 100%; }

.add-new-state-tbl td:first-child { width: 10%;}

@media all and (min-width: 850px) and (max-width: 1231px) {
	#country-details-settings-dv, #country-states-settings-dv {
		width: 100%;
	}
}

@media all and (max-width: 817px) {
	#country-details-settings-dv, #country-states-settings-dv {
		width: 100%;
	}
}

#site_license_key {
	width: 90%;
	margin-right: 10px;
}