/** -------------------------------------------------------------------------
 * Event Espresso EntityListFilterBar Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

@import 'application/ui/styles/mixins/breakpoints.scss';

$filter-btn: '.ee-filter-bar__btn';

.ee-filter-bar {
	box-sizing: border-box;
	color: var(--ee-default-text-color);
	margin: 0 0 var(--ee-margin-default);
	padding: var(--ee-padding-tiny) 0;

	&__main {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
	}

	&__collapsible {
		display: flex;
		flex-flow: row wrap;
		padding: var(--ee-padding-small) var(--ee-padding-small) 0;

		@include max782px {
			padding: 0 0 var(--ee-padding-small);
		}
	}

	&__filter {
		align-items: flex-start;
		display: flex;
		flex-flow: column nowrap;
		height: auto;
		justify-content: flex-end;
		margin: 0 var(--ee-margin-small) var(--ee-margin-smaller) 0;
		max-width: 100%;
		min-width: calc(var(--ee-font-size-default) * 12);
		white-space: pre;
		width: auto;

		@include max850px {
			min-width: calc(49.5% - var(--ee-margin-small));
		}

		@include max600px {
			width: 100%;

			.ee-input-label__wrapper {
				align-items: flex-start;
				flex-flow: column nowrap;
			}
		}

		> div,
		&--full-width {
			width: 100%;
		}

		&--auto {
			width: auto;
		}

		&--nano {
			min-width: calc(var(--ee-font-size-default) * 2);
		}

		&--micro {
			min-width: calc(var(--ee-font-size-default) * 3);
		}

		&--tiny {
			min-width: calc(var(--ee-font-size-default) * 4);
		}

		&--smaller {
			min-width: calc(var(--ee-font-size-default) * 6);
		}

		&--small {
			min-width: calc(var(--ee-font-size-default) * 9);
		}

		&--big {
			min-width: calc(var(--ee-font-size-default) * 15);
		}

		&--bigger {
			min-width: calc(var(--ee-font-size-default) * 21);
		}

		&--huge {
			min-width: calc(var(--ee-font-size-default) * 32);
		}

		&--extreme {
			min-width: calc(var(--ee-font-size-default) * 48);
		}
	}

	&__btn {
		&.ee-btn-base.ee-btn {
			margin-top: var(--ee-margin-nano);

			svg {
				margin: 0;
			}

			@include max782px {
				display: flex;
				margin-left: 0;
				width: 100%;
			}
		}

		&--active.ee-btn-base.ee-icon-button {
			background: var(--ee-color-primary);
			border-color: var(--ee-color-primary);
			box-shadow: var(--ee-button-box-shadow);
			color: var(--ee-text-on-primary);
			text-shadow: var(--ee-text-shadow-inset);

			&:hover {
				border-color: var(--ee-color-primary-low-contrast);
			}
			&:focus {
				border-color: var(--ee-color-primary-high-contrast);
			}
		}
	}

	&__btn-wrap {
		& + .ee-filter-bar__btn-wrap {
			margin-left: var(--ee-margin-default);
		}

		&--active {
			&#{$filter-btn} {
				border-color: var(--ee-color-primary-low-contrast) !important;
				// box-shadow: none;
				color: var(--ee-color-primary);
				path {
					fill: var(--ee-color-primary);
				}
			}
		}

		@include max480px {
			width: 25%;
		}
		@include max360px {
			width: 33%;
		}
	}

	&__chain {
		min-height: 40px;

		@include max850px {
			width: calc(49.5% - var(--ee-margin-small));
		}

		@include max600px {
			width: 100%;
		}
	}

	@media only screen and (max-width: 1280px) {
		margin: 0 0 var(--ee-margin-default);
	}

	/* WordPress Admin Media Query Breakpoint: Smartphone */
	@media screen and (max-width: 600px) {
		flex-flow: column nowrap;
		padding-bottom: var(--ee-padding-small);
	}

	@media only screen and (max-width: 480px) {
		.ee-filter-bar__filter {
			margin: 0 0 var(--ee-margin-smaller);
		}
	}
}
