/** -------------------------------------------------------------------------
 * Event Espresso EntityListFilterBar Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

@import '../../../styles/mixins/breakpoints.scss';

$filter-btn: '.esprs-button.ant-btn.ee-filter-bar__btn';

.ee-filter-bar {
	background: var(--ee-background-color);
	border-bottom-color: var(--ee-color-grey-12);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: var(--ee-default-text-color);
	margin: 0 0 var(--ee-margin-small);
	padding: 0 0 var(--ee-padding-tiny);

	&__main {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		margin-left: calc(var(--ee-padding-tiny) * -1);
	}

	&__collapsible {
		display: flex;
		flex-flow: row wrap;
		padding: 0 var(--ee-padding-small) var(--ee-padding-small);

		@include max782px {
			padding: 0 0 var(--ee-padding-small);
		}

		#{$filter-btn} {
			&--active {
				background: var(--ee-color-primary);
				color: var(--ee-text-on-primary);
				path {
					fill: var(--ee-text-on-primary);
				}
			}
		}
	}

	&__filter {
		align-items: flex-start;
		display: flex;
		flex-flow: column nowrap;
		height: auto;
		justify-content: flex-end;
		margin: 0 var(--ee-margin-small) var(--ee-margin-smaller) 0;
		max-width: 100%;
		min-width: calc(var(--ee-font-size-default) * 12);
		white-space: pre;
		width: auto;

		.ant-input,
		.ant-select .ant-select-selector,
		.ant-select:not(.ant-select-disabled) .ant-select-selector,
		.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
			background-color: var(--ee-background-color);
			background-clip: padding-box;
			border: 2px solid var(--ee-color-grey-10);
			border-radius: var(--ee-border-radius-small);
			box-shadow: none;
			box-sizing: border-box !important;
			color: var(--ee-default-text-color);
			display: inline-block;
			font-size: var(--ee-font-size-default);
			line-height: var(--ee-font-size-bigger);
			height: var(--ee-icon-button-size) !important;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			vertical-align: middle;
			width: 100%;
		}

		.ant-input {
			padding: var(--ee-padding-micro) var(--ee-padding-tiny);

			&:hover,
			&:focus {
				border-color: unset;
				border-right-width: 2px !important;
				border: 2px solid var(--ee-color-primary-low-contrast);
				box-shadow: none;
				outline: none;
			}
		}

		.ant-select,
		.ant-select:not(.ant-select-disabled),
		.ant-select-single:not(.ant-select-customize-input) {
			.ant-select-selector {
				padding: 0 var(--ee-padding-default) 0 var(--ee-padding-tiny);
			}

			&:hover,
			&:focus,
			&.ant-select-focused {
				.ant-select-selector,
				.ant-select-selector:focus,
				.ant-select-selector:hover,
				&:hover .ant-select-selector,
				&:focus .ant-select-selector {
					border-color: unset;
					border-right-width: 2px !important;
					border: 2px solid var(--ee-color-primary-low-contrast);
					box-shadow: none;
					outline: none;
				}
			}
		}

		@include max850px {
			min-width: calc(49.5% - var(--ee-margin-small));
		}

		@include max600px {
			width: 100%;

			.ee-input-label__wrapper {
				align-items: flex-start;
				flex-flow: column nowrap;
			}
		}

		> div,
		.ant-select,
		&--full-width {
			width: 100%;
		}

		&--auto {
			width: auto;
		}
		&--nano {
			min-width: calc(var(--ee-font-size-default) * 2);
		}

		&--micro {
			min-width: calc(var(--ee-font-size-default) * 3);
		}

		&--tiny {
			min-width: calc(var(--ee-font-size-default) * 4);
		}

		&--smaller {
			min-width: calc(var(--ee-font-size-default) * 6);
		}

		&--small {
			min-width: calc(var(--ee-font-size-default) * 9);
		}

		&--big {
			min-width: calc(var(--ee-font-size-default) * 15);
		}

		&--bigger {
			min-width: calc(var(--ee-font-size-default) * 21);
		}

		&--huge {
			min-width: calc(var(--ee-font-size-default) * 32);
		}

		&--extreme {
			min-width: calc(var(--ee-font-size-default) * 48);
		}
	}

	&__btn {
		&#{$filter-btn} {
			border: 2px solid var(--ee-color-grey-10);
			box-shadow: none;
			margin: 0;
			&:focus,
			&:hover {
				border: 2px solid var(--ee-color-primary-low-contrast);
				box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
			}
			&--active {
				&#{$filter-btn} {
					border-color: var(--ee-color-primary-low-contrast);
				}
			}
		}
	}

	&__btn-wrap {
		width: 100px;
		#{$filter-btn} {
			&--active {
				&#{$filter-btn} {
					border-color: var(--ee-color-primary-low-contrast);
					box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
					color: var(--ee-color-primary);
					path {
						fill: var(--ee-color-primary);
					}
				}
			}
		}

		@include max480px {
			width: 25%;
		}
		@include max360px {
			width: 33%;
		}
	}

	&__chain {
		&--active {
			&#{$filter-btn} {
				&:hover {
					svg {
						path {
							fill: var(--ee-color-white);
						}
					}
				}
			}
		}
		@include max850px {
			width: calc(49.5% - var(--ee-margin-small));
		}
		@include max600px {
			width: 100%;
		}
	}

	/* Media Queries for specific screen sizes
 	* -------------------------------------------------------------------------*/

	@media only screen and (max-width: 1920px) {
	}

	@media only screen and (max-width: 1600px) {
	}

	@media only screen and (max-width: 1366px) {
	}

	@media only screen and (max-width: 1280px) {
		margin: 0 0 var(--ee-margin-default);
	}

	@media only screen and (max-width: 1024px) {
	}

	/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
	@media only screen and (max-width: 960px) {
	}

	/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
	@media only screen and (max-width: 850px) {
	}

	/* WordPress Admin Media Query Breakpoint: Tablet */
	@media screen and (max-width: 782px) {
	}

	/* WordPress Admin Media Query Breakpoint: Smartphone */
	@media screen and (max-width: 600px) {
		flex-flow: column nowrap;
		padding-bottom: var(--ee-padding-small);
	}

	@media only screen and (max-width: 480px) {
		.ee-filter-bar__filter {
			margin: 0 0 var(--ee-margin-smaller);
		}
	}

	@media only screen and (max-width: 360px) {
	}
}
