/** -------------------------------------------------------------------------
 * Event Espresso EntityListFilterBar Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

$filter-btn: '.esprs-button.ant-btn.ee-entity-list-filter-bar__btn';

.ee-entity-list-filter-bar {
	background: var(--ee-background-color);
	border-bottom-color: var(--ee-color-grey-12);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: var(--ee-default-text-color);
	margin: 0 0 var(--ee-margin-small);
	padding: 0 0 var(--ee-padding-tiny);

	&__main {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		margin-left: calc(var(--ee-padding-tiny) * -1);
	}

	&__collapsible {
		display: flex;
		flex-flow: row wrap;
		padding: 0 var(--ee-padding-small) var(--ee-padding-small);
		#{$filter-btn} {
			&.ee-active-filters {
				// border: 2px solid var(--ee-color-primary);
				background: var(--ee-color-primary);
				color: var(--ee-text-on-primary);
				path {
					fill: var(--ee-text-on-primary);
				}
			}
		}
	}

	&__btn {
		&.esprs-button.ant-btn {
			&#{$filter-btn} {
				border: 2px solid var(--ee-color-grey-10);
				box-shadow: none;
				margin: 0;
				&:focus,
				&:hover {
					border: 1px solid var(--ee-color-primary-low-contrast);
					box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
				}
			}
		}
		&__wrap {
			align-items: center;
			display: flex;
			flex-flow: column nowrap;
			padding: var(--ee-padding-tiny);
			width: 90px;
			#{$filter-btn} {
				&#{$filter-btn} {
					&.ee-active-filters {
						border: 1px solid var(--ee-color-primary-low-contrast);
						box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
						color: var(--ee-color-primary);
						path {
							fill: var(--ee-color-primary);
						}
					}
				}
			}
		}
	}

	.ee-filter-bar-filter {
		align-items: flex-start;
		display: flex;
		flex-flow: column nowrap;
		height: auto;
		justify-content: flex-end;
		margin: 0 var(--ee-margin-small) var(--ee-margin-smaller) 0;
		max-width: 100%;
		min-width: calc(var(--ee-font-size-default) * 12);
		white-space: pre;
		width: auto;

		> div,
		.ant-select,
		&--full-width {
			width: 100%;
		}

		&--auto {
			width: auto;
		}
		&--nano {
			min-width: calc(var(--ee-font-size-default) * 2);
		}

		&--micro {
			min-width: calc(var(--ee-font-size-default) * 3);
		}

		&--tiny {
			min-width: calc(var(--ee-font-size-default) * 4);
		}

		&--smaller {
			min-width: calc(var(--ee-font-size-default) * 6);
		}

		&--small {
			min-width: calc(var(--ee-font-size-default) * 9);
		}

		&--big {
			min-width: calc(var(--ee-font-size-default) * 15);
		}

		&--bigger {
			min-width: calc(var(--ee-font-size-default) * 21);
		}

		&--huge {
			min-width: calc(var(--ee-font-size-default) * 32);
		}

		&--extreme {
			min-width: calc(var(--ee-font-size-default) * 48);
		}
	}

	/* Media Queries for specific screen sizes
 	* -------------------------------------------------------------------------*/

	@media only screen and (max-width: 1920px) {
	}

	@media only screen and (max-width: 1600px) {
	}

	@media only screen and (max-width: 1366px) {
	}

	@media only screen and (max-width: 1280px) {
		margin: 0 0 var(--ee-margin-default);
	}

	@media only screen and (max-width: 1024px) {
	}

	/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
	@media only screen and (max-width: 960px) {
	}

	/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
	@media only screen and (max-width: 850px) {
	}

	/* WordPress Admin Media Query Breakpoint: Tablet */
	@media screen and (max-width: 782px) {
	}

	/* WordPress Admin Media Query Breakpoint: Smartphone */
	@media screen and (max-width: 600px) {
		flex-flow: column nowrap;
		padding-bottom: var(--ee-padding-small);
	}

	@media only screen and (max-width: 480px) {
		.ee-filter-bar-filter {
			margin: 0 var(--ee-margin-small) var(--ee-margin-smaller) 0;
		}
	}

	@media only screen and (max-width: 360px) {
	}
}
