/*
Lola Invoice Template
Created by Olly Headey
18/02/08
*/


/*=========================== INVOICE LOLA =========================*/
#invoice a.add {color: #fff;}

#invoice img { border: none; }

/*=========================== TYPOGRAPHY =========================*/

#Main #invoice h1 {margin: 0;color: #699; font-size: 24px;text-transform: uppercase;}
#invoice {font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, Verdana, sans-serif; color:#000; text-transform: none; color: #699}
#invoice h2 {margin: 10px 0;font-size: 14pt; }
#invoice-amount td, th {font-size: 11pt;}
#invoice-header #company-address {clear: right; text-align: right; font-size: 11pt; line-height: 14pt; padding-top: 2em;}
#invoice-header #company-address div.org {font-size: 13pt}
#invoice #client-details, #invoice-info  p, #invoice #invoice-other, #invoice #payment-details {font-size: 11pt; line-height: 14pt;}
#invoice-info h2, #invoice-info h3 {margin: 0; font-weight: normal; }
#invoice-info h3 em { font-style: normal; font-size: 16pt; font-weight: normal; color: #699}
#invoice-info h2 {font-weight: normal; font-size:24pt; text-transform: lowercase; color: #699}
#invoice-info h3 {font-size:15pt;}
#invoice-info #payment-total{display:none}
#invoice #invoice-info p {text-align:right;margin-top:0; color: #B8B885}
#invoice-info p#payment-terms {display:none}
#payment-details h2, #invoice-other h2 {color: #699; font-weight: bold}
#payment-details #bank_name {color: #699}
#payment-details .sort-code, #payment-details .account-number, #payment-details .payment-reference {color: #699; clear: left;}
#payment-details strong {font-weight: normal; float: left; width: 10em;}
#invoice-other #company-reg-number, #invoice-other #vat-reg-number, #invoice-other #contract-number {color: #699;}
#invoice-other strong {font-weight: normal; float: left; width: 15em; }
#comments {clear: both;  font-weight: bold; font-size:10pt}
#invoice-other #contract-number{margin-bottom:3em}

/*=========================== LAYOUT =========================*/

#invoice{padding:0 1cm 1cm 1cm; }
#invoice-header .logo {float:right;}
#invoice-header{margin:1em 0 0 0; padding-bottom:10px}
#invoice-blank-header {margin-top: 1.6cm;}
#invoice-info{margin: 0em 0 20px 0; width: 48%; float:right; text-align:right; }
#client-details {margin: 1em 0 20px 2.5cm;float:left;width: 35%; }
#invoice-other {text-align: right;clear:both; float: right;width:50%; }
#invoice #payment-details{float:left; width:45%; margin-top:0;}
#invoice-amount {margin: 2em 0; clear: both; }
#company-address {margin: 0; padding: 0;}

#comments{clear:both; padding-top:0.1cm}

/*=========================== TABLES =========================*/

#invoice table#invoice-amount { border-collapse:collapse; clear:both;  width:100%;}
#invoice-amount th {color: #fff; text-align: left;white-space: nowrap;padding: 3px 5px 3px 5px; font-weight: normal;background: #B8B885; }
#invoice-amount tr#discount_tr, #invoice-amount tr#net_total_tr, #invoice-amount tr#vat_tr {color: #699}
#invoice-amount tr#total_tr {background: #B8B885; color: #fff; }
#invoice-amount tr.item td {padding-top: 7px; padding-bottom: 7px;border-bottom: 1px solid #B8B885; }
#invoice-amount td {margin: 0; padding:2px 5px; vertical-align: top; }
#invoice-amount td.item_r{text-align: right;}
#invoice-amount td.item_l{text-align: left;white-space: normal; padding-bottom: 14px;}
#invoice-amount td.total{text-align: right;font-weight: bold; padding: 3px 5px 3px 5px; }
#invoice-amount span.currency {display: none}

#invoice-amount .details_th{width:54%}
#invoice-amount .details_notax_th{width:62%}
#invoice-amount .quantity_th{width:13%}
#invoice-amount .subtotal_th{width:15%; text-align:right}
#invoice-amount .unitprice_th{width:10%; text-align:right}
#invoice-amount .salestax_th{width:8%; text-align:center} 
