.event-tickets-datetimes-title {
    display: inline-block;
    font-size: 1.35em;
    margin: 10px 0 10px 0;
    padding: 0;
}

.event-datetimes-container {
    margin-top: 10px;
}


.event-tickets-container {
    margin-top: 15px;
}

.add-new-ticket-table {
    width: 85%;
    float: left;
}

.ee-tkt-status {}

.tkt-archived td, .tkt-archived input {
    color: #b2b2b2;
}

.tkt-status-0 {
    background-color: #e6e6e6;
}

.tkt-status--1 {
   background-color: #A39D9C;
}

.tkt-status-1 {
    background-color: #49afcd;
}

.tkt-status-2 {
    background-color: #62B660;
}

.add-new-ticket-table td:first-child {
    width: 5px;
}

.add-new-ticket-table td:nth-child(2) {
    width: 36%;
}

.add-new-ticket-table td:nth-child(3), .add-new-ticket-table td:nth-child(4) {
    width: 24%
}

.add-new-ticket-table td:nth-child(6), .add-new-ticket-table td:nth-child(7) {
    width: 5%;
}

.add-new-ticket-table td:nth-child(5) {
    width: 4%;
    text-align: right;
    padding-top: 4px;
}

.add-new-ticket-table td:nth-child(8) {
    width: 4%;
    text-align: center;
    padding-top: 4px;
}

.ee-text-inp, .ee-small-text-inp {
    width: 100%;
}

.ee-small-text-inp {
    max-width: 100%;
    min-width:  50px;
}

.ee-large-text-inp {
    width: 100%;
}

.ee-full-textarea-inp {
    width: 100%;
    height: 100px;
}

.datetime-tickets-heading, .tickets-heading {
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.datetime-tickets-sold {
    padding-top: 5px;
    padding-left: 15px;
}

.ee-inp-right {
    text-align: right;
}

.save-cancel-button-container {
    float: left;
    margin-top: 27px;
}


@media all and (max-width: 1310px) {
    .save-cancel-button-container {
        margin-top: 10px;
        float: right;
    }
    
    .add-new-ticket-table {
        width: 100%;
        float: left;
    }
}


/* make sure trash icon doesn't display for first ticket row /**/
.add-new-ticket-table tr:first-child .trash-icon {
    display:none;
}


/**
 * messages metabox
 */
.message-type-text {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    background: #f3f3f3;
    font-weight: bold;
}