#toplevel_page_espresso_events-table-frm .check-column { width: 4%; max-width: 30px; }
#toplevel_page_espresso_events-table-frm .column-id { width:5%; max-width: 40px; }
#toplevel_page_espresso_events-table-frm .column-name { width: 20%;  }
#toplevel_page_espresso_events-table-frm .column-venue  { width:15%; }
#toplevel_page_espresso_events-table-frm .column-start_date_time { width:15%; }
#toplevel_page_espresso_events-table-frm .column-reg_begins { width:15%; }
#toplevel_page_espresso_events-table-frm .column-status  { width:9%; max-width:84px; }
#toplevel_page_espresso_events-table-frm .ee-att-icon:before {
	content: "\f307";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'dashicons';
	vertical-align: top;
 }
#toplevel_page_espresso_events-table-frm .column-attendees { width: 5%; max-width: 40px;}
#toplevel_page_espresso_events-table-frm .column-actions { width: 10%; }


.remove-item { cursor: pointer; vertical-align: middle; }

.small-screen-table-label { display:none; }
#event-dates-and-times { }
#event-dates-and-times .dtm-inp { width:200px; margin-right:1em; }

#timezones-datetimes-dv {
	margin: 2em 0 1em;
}

#change-date-time-lnk{
	margin-left: 2em;
}

.manual-venue { width: 33%; }
.manual-venue input,
.manual-venue textarea { width: 90%; }
.form-table td.manual-venue { vertical-align: top }

@media only screen and (max-width: 1425px) { #event-dates-and-times .dtm-inp { width:175px; } }
@media only screen and (max-width: 1325px) { #event-dates-and-times .dtm-inp { width:150px; } }
@media only screen and (max-width: 1225px) { #event-dates-and-times .dtm-inp { width:125px; } }
@media only screen and (max-width: 1125px) {
	/* Force table to not be like tables anymore */
	#event-dates-and-times, 
	#event-dates-and-times thead, 
	#event-dates-and-times tbody, 
	#event-dates-and-times th, 
	#event-dates-and-times td, 
	#event-dates-and-times tr { 
		display: block; 
	}
	
	/* Hide table headers */
	#event-dates-and-times thead tr {  display:none; }
	/* Display replacements for table headers */
	.small-screen-table-label { display:inline-block; float:left; width:30%; padding-right: 15px; text-align:right; }	
	#event-dates-and-times tr { padding-bottom:5px; margin-bottom:5px; border-bottom: 1px solid #eee;  }	
	#event-dates-and-times td { padding-bottom:5px; }
	#event-dates-and-times .dtm-inp { width:175px; }
}
@media only screen and (max-width: 850px) {
	/* Force tables back into tables */
	#event-dates-and-times { display:table; }	
	#event-dates-and-times thead { display:table-header-group; }
	#event-dates-and-times thead tr {  display: table-row; }
	#event-dates-and-times tbody { display:table-row-group; }
	#event-dates-and-times tr { display:table-row; }
	#event-dates-and-times th { display:table-cell; }
	#event-dates-and-times td { display:table-cell; }
	
	/* Display replacements for table headers */
	.small-screen-table-label { display:none; }	
	#event-dates-and-times tr { padding:0; margin:0; border: none;  }	
	#event-dates-and-times td { padding:1px; }
	#event-dates-and-times .dtm-inp { width:150px; }
}
@media only screen and (max-width: 768px) {
	#event-dates-and-times .dtm-inp { width:100%; }
}

#event-dates-and-times .dtm-inp.small-text { width:75px; }



/*  TICKET PRICES  */

#no-ticket-prices-msg-dv {
	padding: 0 0.6em; margin: 1em 0; background-color: #FFEBE8; border: 1px solid #CC0000; border-radius: 3px 3px 3px 3px; color: #333;
}
#no-ticket-prices-msg-dv p { padding: 2px; margin: 0.5em 0; }

#add-new-ticket-price-dv,
.event-price-settings-dv {
	padding:5px 60px 10px 15px; margin:10px 0 20px; 
	background:#fcfcfc; border:1px solid #C8E1EC; border-radius:5px;
}

.cancel-event-price-btn {
	/*display:inline-block; float:right; position:relative; top:5px; right:-50px; padding:3px 6px; 
	background:#fff; border:1px solid #C8E1EC; border-radius:3px;
	color:#666; cursor:pointer;*/
}
.cancel-event-price-btn:hover { border-color:#D54E21; }

.inactice-price { margin-right:1em; color:#CE9B8B; }

.price-date-status-img {
	 position:relative; top:5px; left:4px;
}
.input-disabled { color:#999 !important; }


#espresso_event_editor_event_options .inside {
    text-align: left;
}


.ee-status {
	display: block;
   	padding: 2.5px 5px;
   	-webkit-border-radius: 3px;
   	-moz-border-radius: 3px;
   	border-radius: 3px;
   	color: white;
   	font-size: 10px;
	width: 52px;
   	text-decoration: none;
   	font-weight: 500;
   	text-align: center;
   }

.ee-status.sold-out, .ee-status.cancelled, .ee-status.inactive{ background-color: #E44064; }
.ee-status.expired { background-color: #A39D9C; }
.ee-status.upcoming, .ee-status.postponed { background-color: #00B1CA; }
.ee-status.active { background-color: #70CC50; }


.inside .ee-status {
	float: right;
}

#espresso_event_editor_event_options label {
	width: 73%;
	display: inline-block;
	vertical-align: top;
}