.event-tickets-datetimes-title {
    font-size: var(--ee-font-size-bigger);
    margin: 0;
    padding: 0;
}

.event-tickets-datetimes-title,
.event-tickets-datetimes-title span {
    align-items: center;
    display: flex;
}

.add-new-ticket-table {
    width: 85%;
    float: left;
}

.ee-tkt-status {}

.tkt-archived td,
.tkt-archived input {
    color: var(--ee-status-color-grey);
}

.tkt-status-TKA {
    background-color: var(--ee-status-color-charcoal);
}

.tkt-status-TKE {
    background-color: var(--ee-status-color-grey);
}

.tkt-status-TKP {
    background-color: var(--ee-status-color-blue);
}

.tkt-status-TKO {
    background-color: var(--ee-status-color-green);
}

.tkt-status-TKS {
    border-color: var(--ee-status-color-purple);
}

.datetime-tickets-heading,
.tickets-heading {
    font-size: var(--ee-font-size-big);
    margin-block-start: var(--ee-margin-default);
    margin-block-end: var(--ee-margin-tiny);
}

.save-cancel-button-container {
    float: left;
    margin-top: 27px;
}


@media all and (max-width: 1310px) {
    .save-cancel-button-container {
        margin-top: 10px;
        float: right;
    }

    .add-new-ticket-table {
        width: 100%;
        float: left;
    }
}


/* make sure trash icon doesn't display for first ticket row /**/
.add-new-ticket-table tr:first-child .trash-entity {
    display: none;
}


/**
 * messages metabox
 */
.message-type-text {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f3f3f3;
    font-weight: bold;
}

.espresso-admin .ee-ticket-price-calculator__price-order input.ee-text-input.ee-input-base.ee-input {
    min-width: auto !important;
}

.ee-ticket-price-calculator.ee-rspnsv-table .ee-table-cell:not(.ee-entity-list-status-stripe):not(.ee-rspnsv-table-hide-on-mobile) {
    padding: var(--ee-padding-micro) !important;
}


.espresso-legacy-editor.espresso-admin #event-and-ticket-form-content select,
.espresso-legacy-editor.espresso-admin #event-and-ticket-form-content textarea:not(.wp-editor-area):not(.iframe-embed-content),
.espresso-legacy-editor.espresso-admin #event-and-ticket-form-content input:not(.ee-input-base):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="checkbox"]):not(.chosen-search-input) {
    margin-inline: 0;
    margin-block: 0;
    max-width: 100%;
    padding-inline-end: var(--ee-padding-nano);
    padding-inline-start: var(--ee-padding-nano);
    width: 100%;
}

.espresso-legacy-editor.espresso-admin #event-and-ticket-form-content textarea:not(.wp-editor-area):not(.iframe-embed-content) {
    margin-block-end: var(--ee-margin-default);
}

.espresso-legacy-editor.espresso-admin #espresso_event_editor_event_options p {
    display: flex;
    flex-direction: column;
}


.espresso-legacy-editor.espresso-admin #espresso_event_editor_event_options p select {
    width: 100%;
    max-width: unset;
}
