/*
* Scheme: 'Forest Green'
* This file adds color schemes to EE built in stylesheets
*/

/*___ Event site wide styles ___*/

#content .event_title,
#content .section-heading,
#content .btn_event_form_submit {
background: #c9de96;
	background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235));
	background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
	background: -o-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
	background: -ms-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );
	background: linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
	color: #fff;
}
#content .event-display-boxes .event_title a {
	color: #fff;
}
#content .entry-content .register-link-footer {
	background: #5ebb59;
	background: -moz-linear-gradient(left, #5ebb59 0%, #accb95 56%, #d7e7b3 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5ebb59), color-stop(56%,#accb95), color-stop(100%,#d7e7b3));
	background: -webkit-linear-gradient(left, #5ebb59 0%,#accb95 56%,#d7e7b3 100%);
	background: -o-linear-gradient(left, #5ebb59 0%,#accb95 56%,#d7e7b3 100%);
	background: -ms-linear-gradient(left, #5ebb59 0%,#accb95 56%,#d7e7b3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ebb59', endColorstr='#d7e7b3',GradientType=1 );
	background: linear-gradient(left, #5ebb59 0%,#accb95 56%,#d7e7b3 100%);
	color: #fff;
}
#content #espresso_confirmation_display {/* inset shadow */
	-moz-box-shadow:  inset 0 0 5px #C4E3A7;
	-webkit-box-shadow: inset 0 0 5px #C4E3A7;
	box-shadow: inset 0 0  5px #C4E3A7;
}
	
/*___Event pages ___*/

/** Registeration event **/