/*
* Scheme: 'Smooth Red'
* This file adds color schemes to EE built in stylesheets
*/

/*___ Event site wide styles ___*/

#content .event_title,
#content .section-heading,
#content .btn_event_form_submit {
	background: #d00433;
	background: -moz-linear-gradient(top, #d00433 0%, #bb032e 44%, #9e0025 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d00433), color-stop(44%,#bb032e), color-stop(100%,#9e0025));
	background: -webkit-linear-gradient(top, #d00433 0%,#bb032e 44%,#9e0025 100%);
	background: -o-linear-gradient(top, #d00433 0%,#bb032e 44%,#9e0025 100%);
	background: -ms-linear-gradient(top, #d00433 0%,#bb032e 44%,#9e0025 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d00433', endColorstr='#9e0025',GradientType=0 );
	background: linear-gradient(top, #d00433 0%,#bb032e 44%,#9e0025 100%);
	color: #fff;
}
#content .event-display-boxes .event_title a {
	color: #fff;
}
#content .entry-content .register-link-footer {
	background: #a90329;
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
	background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	color: #fff;
}
#content #espresso_confirmation_display {/* inset shadow */
	-moz-box-shadow:  inset 0 0 5px #C39DA6;
	-webkit-box-shadow: inset 0 0 5px #C39DA6;
	box-shadow: inset 0 0  5px #C39DA6;
}
	
/*___Event pages ___*/

/** Registeration event **/


	 