.ee-rspnsv-table.ee-rspnsv-table .ee-rspnsv-table-body.ee-rspnsv-table-body td {
	&.ee-date-list-col-capacity,
	&.ee-ticket-list-col-quantity {
		align-items: center;
		display: flex;
		min-height: 44px;
	}
}
