/*** Save buttons ***/
#event_editor_major_buttons_wrapper{
    border-top: medium none;
    clear: both;
    padding: 10px 0 8px;	
}
#save-event-floating-btns-spacer {
	height:45px;
}
#event-editor-floating-save-btns {
	position:fixed; top:0px; right:15px;
	padding: 35px 11px 10px 11px;
	background:rgba(255,230,0,.2);
	z-index: 1000;
}

#event_editor_major_buttons_wrapper .button-primary, #event-editor-floating-save-btns .button-primary {
	margin-right: 5px;
	float: right;
}

#poststuff .ee-nav-tabs .nav-tab-wrapper, .ee-nav-tabs .nav-tab-wrapper {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#poststuff .ee-nav-tabs .nav-tab-content, .ee-nav-tabs .nav-tab-content {
	margin: 5px;
	margin-bottom: 15px;
}

#poststuff .ee-nav-tabs-small .nav-tab, .ee-nav-tabs .nav-tab-content {
	font-size: 12px;
	height: 18px;
	line-height: 18px;
}

.message-type-text {
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	background: #f3f3f3;
	font-weight: bold;
}