#icon-options-event { background:url(../../../../images/events_icon_32.png) no-repeat; }
.button.add-new-h2 { margin-left: 15px; }

.tablenav div { margin-right:15px; }
.tablenav select { margin:0 1em 0 0 !important; }


/*** Save buttons ***/
#event_editor_major_buttons_wrapper{
    border-top: medium none;
    clear: both;
    padding: 10px 0 8px;	
}
#save-event-floating-btns-spacer {
	height:45px;
}
#event-editor-floating-save-btns {
	position:fixed; top:-1px; right:17px;
	padding: 35px 11px 10px 11px;
	background:rgba(255,230,0,.2);
	z-index: 1000;
}

#event_editor_major_buttons_wrapper .button-primary, #event-editor-floating-save-btns .button-primary {
	margin-right: 5px;
	float: right;
}

#poststuff .ee-nav-tabs .nav-tab-wrapper, .ee-nav-tabs .nav-tab-wrapper {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#poststuff .ee-nav-tabs .nav-tab-content, .ee-nav-tabs .nav-tab-content {
	margin: 5px;
	margin-bottom: 15px;
}

#poststuff .ee-nav-tabs-small .nav-tab, .ee-nav-tabs .nav-tab-content {
	font-size: 12px;
	height: 18px;
	line-height: 18px;
}

#poststuff .nav-tab-content {
	height: 100%;
}

.message-type-text {
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	background: #f3f3f3;
	font-weight: bold;
}

#post-body .postbox { background: #fff; }
#post-body-content li.current a {
	color: black;
	font-weight: 800;
}

.metabox-holder .ee-admin-settings-hdr {
	margin:4em 0 1em; color: #444;
}
.metabox-holder .ee-admin-settings-hdr:first-child {
	margin:1em 0;
}

.metabox-holder .ee-admin-settings-hdr + .ee-attention {
	margin-top: 0;
}

.ee-attention {
    padding: 2em 1.5em; margin: 2em 0 1em;
	background-color: #FFFFE0; border: 1px solid #E6DB55; border-radius: 3px;
	text-shadow: 0px 1px #fff;
}

.ee-attention h6 {
	margin: 0 0 1em;
}

.ee-info-box {
	padding: 2em 1.5em; margin: 2em 0 1em;
	background:#F0F8FB; border: 1px solid lightblue; border-radius:3px;
}

table .ee-admin-radio-lbl,
.inside table .ee-admin-radio-lbl,
table .ee-admin-radio-long-lbl,
.inside table .ee-admin-radio-long-lbl {
	display: inline-block; min-width:100px; margin: 0 4em 0 0; vertical-align: middle;
}
table .ee-admin-radio-long-lbl,
.inside table .ee-admin-radio-long-lbl { margin:0 4em 1.5em 0 !important;  }

table .ee-admin-radio-lbl input,
.inside table .ee-admin-radio-lbl input,
table .ee-admin-radio-long-lbl input,
.inside table .ee-admin-radio-long-lbl input { position: relative; top:-2.5px; width: auto; margin:3px 0.5em 0 0; vertical-align: middle; }

table .espresso-radio-btn-options-ul .small-lbl,
.inside table .espresso-radio-btn-options-ul .small-lbl {
    display: inline-block; width: 49.5%;
}

#admin-page-header { clear: both; padding:.25em 0 0; }
.admin-page-header-edit-lnk  { margin:0 0 0 1em; font-size:10px; }

#espresso-admin-page-ajax-loading { display:none; position:absolute; top:18px; left:50%; margin-left:-15px; padding:0; z-index:99999; }
#espresso-admin-page-ajax-loading span { display:none; }

#espresso-admin-page-overlay-dv {
	position:absolute; top:0; left:0;
	background: rgba(0, 0, 0, 0.6) !important; z-index:999;
}

.primary-attendee-star-img {
	margin: 0 0 4px .5em;
}

.ee-width-50 { width: 50%; }
.ee-width-33 { width: 33%; }
.ee-width-25 { width: 25%; }
.ee-width-20 { width: 20%; }

.jst-left { text-align:left; }
.jst-cntr { text-align:center; }
.jst-rght { text-align:right; }

.tiny-text { font-size:.5em; line-height:.8em; }
.smaller-text { font-size:.7em; line-height:1em; }
.small-text { font-size:.85em; line-height:1.2em; }
.big-text { font-size:1.2em; line-height:1.6em; }
.bigger-text { font-size:1.5em; line-height:2em; }
.huge-text { font-size:2em; line-height:2.4em; }


.display-the-hidden { float:right; cursor:pointer; }
.hide-the-displayed { float:right; cursor:pointer; }
.display-the-hidden img, .hide-the-displayed img { position:relative; top:1px; left:-4px; }
.display-the-hidden.no-icon, .hide-the-displayed.no-icon { background-image:none; }
.display-the-hidden.hidden { display:none !important; }

.disabled-input input,
.disabled-input label { color:#777 !important;  text-shadow:none; }

.editable-input { border : 1px solid lightblue !important; }
.edited-input { border : 1px solid #d54e21 !important; }
.reminder-spn  { display: inline-block; color : #d54e21; line-height:1em; }

.not-bold { font-weight:normal !important; }
.lt-grey-txt { color:#999 !important;  text-shadow:none; }
.float-left { float:left; }

/* Nicolas Gallagher's micro clearfix */
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } 

#adminmenuwrap { z-index:100; }

.ee-pop-help {
	position:absolute; top:50px; left:25%; width:75%; height:auto; padding:3em 4em 2em; z-index:9999;
	background:#fff; border:1px solid #ddd; border-radius:5px;
}

.ee-help-popup-question {
	background: transparent url(../../../../images/subtle_help.png) top left no-repeat;
	display: inline-block;
	margin-left: 3px;
	width: 26px;
	height: 26px;
}

.validate-error, input.validate-error {
	border-color: red;
}
.validation-notice-dv { display:none; padding:0; margin:0; color:red; }
.requires-value { border:1px solid #FE2A00 !important; }




.espresso-button-red {
    background-color: #A32615 !important;
    background-image: linear-gradient(to bottom, #D22C1A, #A32615) !important;
    border-color: #A32615 #A32615 #8E2112 !important;
	box-shadow: 0 1px 0 rgba(230, 116, 103, 0.5) inset !important;
}
.espresso-button-red:hover {
    background-color: #B82818 !important;
    background-image: linear-gradient(to bottom, #DB2E1B, #A32615) !important;
    border-color: #7E1D10 !important;
	box-shadow: 0 1px 0 rgba(230, 116, 103, 0.6) inset !important;
}


.espresso-button-green {
    background-color: #2f7f0f !important;
    background-image: linear-gradient(to bottom, #3AA012, #2F7F0F) !important;
    border-color: #2F7F0F #2F7F0F #286A0C !important;
	box-shadow: 0 1px 0 rgba(110, 193, 75, 0.5) inset !important;
} 
.espresso-button-green:hover {
    background-color: #399811 !important;
    background-image: linear-gradient(to bottom, #42AF14, #2f7f0f) !important;
    border-color: #225A0A !important;
	box-shadow: 0 1px 0 rgba(110, 193, 75, 0.6) inset !important;
}




.remove-item { cursor: pointer; vertical-align: middle; }

.small-screen-table-label { display:none; }
#event-dates-and-times { }
#event-dates-and-times .dtm-picker { width:200px;  }

@media only screen and (max-width: 1425px) { #event-dates-and-times .dtm-picker { width:175px; } }
@media only screen and (max-width: 1325px) { #event-dates-and-times .dtm-picker { width:150px; } }
@media only screen and (max-width: 1225px) { #event-dates-and-times .dtm-picker { width:125px; } }
@media only screen and (max-width: 1125px) {
	/* Force table to not be like tables anymore */
	#event-dates-and-times, 
	#event-dates-and-times thead, 
	#event-dates-and-times tbody, 
	#event-dates-and-times th, 
	#event-dates-and-times td, 
	#event-dates-and-times tr { 
		display: block; 
	}
	
	/* Hide table headers */
	#event-dates-and-times thead tr {  display:none; }
	/* Display replacements for table headers */
	.small-screen-table-label { display:inline-block; float:left; width:30%; padding-right: 15px; text-align:right; }	
	#event-dates-and-times tr { padding-bottom:5px; margin-bottom:5px; border-bottom: 1px solid #eee;  }	
	#event-dates-and-times td { padding-bottom:5px; }
	#event-dates-and-times .dtm-picker { width:175px; }
}
@media only screen and (max-width: 850px) {
	/* Force tables back into tables */
	#event-dates-and-times { display:table; }	
	#event-dates-and-times thead { display:table-header-group; }
	#event-dates-and-times tbody { display:table-row-group; }
	#event-dates-and-times tr { display:table-row; }
	#event-dates-and-times th { display:table-cell; }
	#event-dates-and-times td { display:table-cell; }
	
	/* Display replacements for table headers */
	.small-screen-table-label { display:none; }	
	#event-dates-and-times tr { padding:0; margin:0; border: none;  }	
	#event-dates-and-times td { padding:1px; }
	#event-dates-and-times .dtm-picker { width:150px; }
}
@media only screen and (max-width: 768px) {
	#event-dates-and-times .dtm-picker { width:100%; }
}

#event-dates-and-times .dtm-inp.small-text { width:75px; }



/*  TICKET PRICES  */

#no-ticket-prices-msg-dv {
	padding: 0 0.6em; margin: 1em 0; background-color: #FFEBE8; border: 1px solid #CC0000; border-radius: 3px 3px 3px 3px; color: #333;
}
#no-ticket-prices-msg-dv p { padding: 2px; margin: 0.5em 0; }

.event-price-settings-dv {
	padding:5px 60px 10px 15px; margin:10px 0 20px; 
	background:#fcfcfc; border:1px solid #C8E1EC; border-radius:5px;
}

.cancel-event-price-btn {
	/*display:inline-block; float:right; position:relative; top:5px; right:-50px; padding:3px 6px; 
	background:#fff; border:1px solid #C8E1EC; border-radius:3px;
	color:#666; cursor:pointer;*/
}
.cancel-event-price-btn:hover { border-color:#D54E21; }

.inactice-price { margin-right:1em; color:#CE9B8B; }

.price-date-status-img {
	 position:relative; top:5px; left:4px;
}
.input-disabled { color:#999 !important; }


#ticket-prices-dv .event-price-settings-dv td { padding:10px 5px; vertical-align:middle; }

.event-price-tbl-hdr-type { width:17.5%; padding:0 .5em; }
.event-price-tbl-hdr-order { width:4%; text-align:center; }
.event-price-tbl-hdr-name { width:17.5%; padding:0 .5em; }
.event-price-tbl-hdr-amount { width:100px; text-align:center; }
.event-price-tbl-hdr-actions { width:55px; text-align:center; }
.event-price-tbl-hdr-desc { padding:0 .5em; }

.evt-prc-btn  { display:inline-block; position:relative; width:16px; height:16px; margin-right:10px; cursor:pointer; }
.jst-left { text-align:left; }
.jst-cntr { text-align:center; }
.jst-rght { text-align:right; }

.ticket-price-quick-edit-tbl .type-column { width:17.5%; height:2.5em; }
.ticket-price-quick-edit-tbl .order-column { width:4%; height:2.5em; text-align:center; }
.ticket-price-quick-edit-tbl .name-column { width:17.5%; height:2.5em; }
.ticket-price-quick-edit-tbl .amount-column { width:100px; height:2.5em; text-align:right; }
.ticket-price-quick-edit-tbl .amount-column .cur-sign { display:inline-block; width:20px; margin-top:4px; }
.ticket-price-quick-edit-tbl .amount-column input { width:50px; }
.ticket-price-quick-edit-tbl .amount-column .percent-sign { display:inline-block; width:20px; margin-top:4px; }
.ticket-price-quick-edit-tbl .edit-column { width:55px; height:2.5em; vertical-align:middle; text-align:center; }
.ticket-price-quick-edit-tbl .desc-column { height:2.5em; }
.ticket-price-quick-edit-tbl .desc-column .small-screen-table-label { vertical-align:top; }
.ticket-price-quick-edit-column input { position:top; left:0; top:0; width:100%; min-width:20px; vertical-align:top; }

.edit-ticket-price-input { vertical-align:top; }
.edit-ticket-price-radio-lbl { margin-right:15px; vertical-align:top; }

@media only screen and (max-width: 1125px) {
	/* Force table to not be like tables anymore */
	.ticket-price-quick-edit-tbl, 
	.ticket-price-quick-edit-tbl thead, 
	.ticket-price-quick-edit-tbl tbody, 
	.ticket-price-quick-edit-tbl th, 
	.ticket-price-quick-edit-tbl td, 
	.ticket-price-quick-edit-tbl tr { 
		display: block; 
	}
	
	/* Hide table headers */
	#event_editor_pricing thead tr {  display:none; }
	/* Display replacements for table headers */
	.ticket-price-quick-edit-tbl tr { padding-bottom:5px; margin-bottom:10px; border-bottom: 1px solid #eee;  }	

	.ticket-price-quick-edit-tbl .type-column,
	.ticket-price-quick-edit-tbl .order-column,
	.ticket-price-quick-edit-tbl .name-column,
	.ticket-price-quick-edit-tbl .amount-column,
	.ticket-price-quick-edit-tbl .edit-column,
	.ticket-price-quick-edit-tbl .desc-column { width:100%; padding-bottom:5px; text-align:left; }
	.ticket-price-quick-edit-tbl .amount-column .cur-sign { width:auto; }

	.order-column input { width: 35px !important; position:relative; left:0; top:-4px; }
	.name-column input { width: 175px !important; position:relative; left:-4px; top:-3px; }	
	.description { display:inline-block; width: 65% !important; }	
	.evt-prc-btn { top: 4px; }
	
	.event-price-settings-dv { padding-right:20px; }
	.cancel-event-price-btn { right:0; }
	.event-price-settings-dv th { width:17.5% !important; }	
	
	.event-price-settings-dv .edit-ticket-price-input { /*width:100% !important; */}	
/*	.event-price-settings-dv .edit-ticket-price-input { width: 200px !important; }	*/

}
@media only screen and (max-width: 850px) {

	/* Force tables back into tables */
	.ticket-price-quick-edit-tbl { display:table; }	
	.ticket-price-quick-edit-tbl thead { display:table-header-group; }
	.ticket-price-quick-edit-tbl tbody { display:table-row-group; }
	.ticket-price-quick-edit-tbl tr { display:table-row; }
	.ticket-price-quick-edit-tbl th { display:table-cell; }
	.ticket-price-quick-edit-tbl td { display:table-cell; }
	#event_editor_pricing thead tr {  display:table-header-group !important; }
	
	/* Display replacements for table headers */
	.ticket-price-quick-edit-tbl tr { padding:0; margin:0; border: none;  }	
	.ticket-price-quick-edit-tbl td { padding:1px; }
	
	#event_editor_pricing .ticket-price-quick-edit-tbl .type-column { width:17.5%!important; height:2.5em; padding:0 .5em; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .order-column { width:4%; height:2.5em; text-align:center; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .name-column { width:17.5%; height:2.5em; padding:0 .5em; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .name-column input { width: 125px !important; }	

	#event_editor_pricing .ticket-price-quick-edit-column.amount-column { width:100px!important; height:2.5em; text-align:right; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .amount-column .cur-sign { display:inline-block; width:20px; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .amount-column input { width:50px; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .amount-column .percent-sign { display:inline-block; width:20px; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .edit-column { width:55px; height:2.5em; vertical-align:middle; text-align:center; }
	#event_editor_pricing .ticket-price-quick-edit-tbl .desc-column { width:auto; height:2.5em; padding:0 .5em; }
	
	.order-column input { width: 35px !important; left:0px; top:0px;  }
	.name-column input { width: 175px !important; }	
	.amount-column input { width: 50px !important; }	
	.description { display:inline-block; width:auto !important; }	

}



.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
	
	
	