$border-style: 2px solid var(--ee-color-grey-10);
$border-radius: var(--ee-border-radius-default);

.ee-pagination {
	display: flex;
	flex-direction: row;
	padding: 1em;

	&__item {
		align-items: center;
		background: var(--ee-background-color);
		border: $border-style;
		border-left: 0;
		color: var(--ee-text-on-grey-14);
		display: flex;
		font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Trebuchet MS',
			Verdana, 'Verdana Ref', sans-serif;
		font-size: var(--ee-font-size-default);
		height: 3rem;
		justify-content: center;
		width: 3rem;

		.rc-pagination-item-active & {
			a {
				color: var(--ee-text-on-grey-14);
				font-weight: bold;
				&:hover {
					border-color: var(--ee-color-grey-10);
					outline: 1px solid var(--ee-color-primary-low-contrast);
				}
			}
		}
	}

	ul {
		li {
			// prev
			&:first-child {
				.ee-pagination__item {
					background-color: red;
					border-left: $border-style;
					border-top-left-radius: $border-radius;
					border-bottom-left-radius: $border-radius;
				}
			}

			// next
			&:last-child {
				.ee-pagination__item {
					background-color: green;
					border-left: 0;
					border-right: $border-style;
					border-top-right-radius: $border-radius;
					border-bottom-right-radius: $border-radius;
				}
			}
		}
	}

	.rc-pagination-item,
	.rc-pagination-prev,
	.rc-pagination-next {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		height: auto;
		margin: 0;
	}
}
