/** -------------------------------------------------------------------------
 * Event Espresso DatesList Grid View Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-dates-list-grid-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: var(--ee-margin-smaller) 0 0;
}

.ee-editor-date-main {
    background: var(--ee-background-color);
    color: var(--ee-default-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: calc(var(--ee-font-size-default) * 12.5);
    padding: 0 calc(var(--ee-icon-button-size) + 8px) 0 0;
    position: relative;
    overflow: hidden;
}

/* DATE DETAILS */

.ee-editor-date-details-wrapper-div {
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: var(--ee-font-size-small);
    justify-content: flex-start;
    min-width: calc(var(--ee-font-size-small) * 25);
    padding: var(--ee-padding-smaller) var(--ee-padding-smaller) var(--ee-padding-extreme) calc(var(--ee-padding-micro)*36);
    text-align: center;
    width: 100%;
}

.ee-editor-date-name-heading,
.ee-editor-date-name-heading .ee-inline-edit-text {
    color: var(--ee-default-text-color);
    font-size: var(--ee-font-size-big) !important;
    font-weight: bold !important;
    line-height: var(--ee-font-size-big) !important;
    margin: var(--ee-margin-micro) 0 0 !important;
    min-height: var(--ee-font-size-bigger);
    overflow: hidden;
    padding: 0 0 var(--ee-padding-tiny) !important;
    text-overflow: ellipsis;
    width: 100%;
}
.ee-editor-date-name-heading.ee-long-title,
.ee-editor-date-name-heading.ee-long-title .ee-inline-edit-text {
    font-size: var(--ee-font-size-default) !important;
    line-height: var(--ee-font-size-default) !important;
}

.ee-editor-date-desc-div {
    color: var(--ee-default-text-color);
    font-size: var(--ee-font-size-smaller);
    line-height: calc(var(--ee-font-size-extreme)/3) !important;
    margin: var(--ee-margin-micro) 0;
    width: 95%;
}

.ee-editor-date-desc-div.ee-date-desc-excerpt > span {
    display: block;
    max-height: var(--ee-font-size-extreme);
    overflow: hidden;
}

.ee-editor-date-desc-div.ee-date-desc-excerpt > textarea {
    max-height: unset;
}

.ee-editor-date-location-div {
    font-size: var(--ee-font-size-small) !important;
    margin: var(--ee-margin-tiny) 0 !important;
    vertical-align: middle;
    width: 100%;
}

.ee-editor-date-edit-venue-link {
    color: var(--ee-default-text-color);
    font-weight: normal !important;
    text-decoration: none;
}
.ee-editor-date-edit-venue-link:hover {
    color: var(--ee-color-primary);
}

.ee-editor-date-venue-name-span {
    font-size: var(--ee-font-size-small);
    margin: 0 var(--ee-margin-tiny) 0 var(--ee-margin-micro);
}

.ee-editor-date-location-div .dashicon {
    position: relative;
    top: 2px;
}

.ee-editor-date-location-div .ee-menu-item-icon.dashicons-location {
    margin-bottom: -2px;
}

.ee-editor-date-details-sold-rsrvd-cap-div {
    bottom: var(--ee-margin-micro);
    margin-left: var(--ee-margin-nano);
    position: absolute;
    z-index: 10;
}


.ee-dates-list-grid-view .ee-editor-date-actions-menu {
    flex-direction: column;
    position: absolute;
    right: var(--ee-padding-micro);
    top: var(--ee-padding-micro);
}



/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
    .ee-dates-list-grid-view {
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 1024px) {
}

/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
}

/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
}

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and ( max-width: 782px ) {
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
    .ee-editor-date-details-wrapper-div {
        font-size: var(--ee-font-size-smaller);
        min-width: 380px;
    }
    .ee-editor-date-name-heading,
    .ee-editor-date-name-heading .ee-inline-edit-text {
        font-size: var(--ee-font-size-default) !important;
        line-height: var(--ee-font-size-default) !important;
    }

    .ee-editor-date-name-heading.ee-long-title,
    .ee-editor-date-name-heading.ee-long-title .ee-inline-edit-text {
        font-size: var(--ee-font-size-small) !important;
        line-height: var(--ee-font-size-small) !important;
    }

    .ee-editor-date-desc-div {
        font-size: var(--ee-font-size-smaller);
    }
}

@media only screen and (max-width: 480px) {
    .ee-editor-date-main {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 100%;
    }

    .ee-editor-date-details-wrapper-div {
        min-width: unset;
        padding: var(--ee-padding-tiny) var(--ee-padding-huge) var(--ee-padding-smaller) var(--ee-padding-tiny);
    }

    .ee-dates-list-grid-view .ee-editor-date-actions-menu {
        top: 94px;
    }

    .ee-editor-date-name-heading {
        max-height: unset;
    }

    .ee-editor-date-desc-div {
        margin-top: var(--ee-margin-smaller);
    }

    .ee-editor-date-details-sold-rsrvd-cap-div {
        bottom: unset;
        position: relative;
    }
}

@media only screen and (max-width: 360px) {
}
