/** -------------------------------------------------------------------------
 * Event Espresso DatesList Grid View Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-dates-list-grid-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 0 0;
}

.ee-editor-date-main {
    background: #fff;
    color: #58575c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 180px;
    padding: 0 35px 0 0;
    position: relative;
    overflow: hidden;
}

/* DATE DETAILS */

.ee-editor-date-details-wrapper-div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px 5px 60px 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.ee-editor-date-name-heading {
    color: #58575c;
    font-size: 24px !important;
    font-weight: bold !important;
    line-height: 24px !important;
    margin: 0 0 10px !important;
    min-height: 30px;
    overflow: hidden;
    padding: 0 !important;
    text-overflow: ellipsis;
    width: 100%;
}
.ee-editor-date-name-heading.ee-long-title {
    font-size: 18px !important;
    line-height: 18px !important;
}

.ee-editor-date-location-div {
    font-size: 14px !important;
    margin: 0 0 10px !important;
    vertical-align: middle;
    width: 100%;
}

.ee-editor-date-edit-venue-link {
    color: #706e73;
    /*font-size: 12px !important;*/
    font-weight: normal !important;
    /*margin-left: 1em;*/
    text-decoration: none;
}

.ee-editor-date-venue-name-span {
    margin: 0 .5rem 0 .25rem;
}

.ee-editor-date-location-div .dashicon {
    position: relative;
    top: 2px;
}

.ee-editor-date-desc-div {
    color: #706e73;
    font-size: 14px;
    margin: 0 0 10px;
    width: 90%;
}

.ee-editor-date-desc-div.ee-date-desc-excerpt span {
    display: block;
    max-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ee-editor-date-desc-div.ee-date-desc-excerpt textarea {
    max-height: unset;
}

.ee-editor-date-location-div .ee-menu-item-icon.dashicons-location {
    margin-bottom: -2px;
}

.ee-editor-date-details-sold-rsrvd-cap-div {
    bottom: 5px;
    position: absolute;
}


.ee-dates-list-grid-view .ee-editor-date-sidebar-menu {
    flex-direction: column;
    position: absolute;
    right: 2px;
    top: 2px;
}

.ee-primary-event-date {
    color: #fff;
    left: -2px;
    position: absolute;
    top: -2px;
}


.ee-primary-event-date:active,
.ee-primary-event-date:focus,
.ee-primary-event-date:hover {
    background: none !important;
    color: #fff !important;
    box-shadow: none !important;
}






/* Media Queries for specific screen sizes
 * -------------------------------------------------------------------------*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
    .ee-dates-list-grid-view {
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 1024px) {
}

/* WordPress Admin Media Query Breakpoint: Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
}

/* WordPress Admin Media Query Breakpoint: one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
}

/* WordPress Admin Media Query Breakpoint: Tablet */
@media screen and ( max-width: 782px ) {
}

/* WordPress Admin Media Query Breakpoint: Smartphone */
@media screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {
    .ee-editor-date-main {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 100%;
    }

    .ee-editor-date-details-wrapper-div {
        padding: 10px 42px 15px 10px;
    }

    .ee-dates-list-grid-view .ee-editor-date-sidebar-menu {
        top: 100px;
    }

    .ee-editor-date-name-heading {
        max-height: unset;
    }

    .ee-editor-date-desc-div {
        margin-top: 1rem;
    }

    .ee-editor-date-details-sold-rsrvd-cap-div {
        bottom: unset;
        position: relative;
    }
}

@media only screen and (max-width: 360px) {
}
