/** -------------------------------------------------------------------------
 * Event Espresso withLabel Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-input-label {
	color: var(--ee-default-text-color);
	font-weight: bold;
	white-space: nowrap;

	&__wrapper {
		align-items: flex-start;
		display: flex;
		flex-wrap: nowrap;
		padding: var(--ee-padding-tiny);

		&--bottom-left,
		&--bottom-center,
		&--bottom-right {
			flex-direction: column-reverse;
			label {
				margin: var(--ee-margin-micro) var(--ee-margin-micro) 0;
			}
		}

		&--left-top,
		&--left-middle,
		&--left-bottom {
			flex-direction: row;
			label {
				margin: 0 0 0 var(--ee-margin-micro);
			}
		}

		&--right-top,
		&--right-middle,
		&--right-bottom {
			flex-direction: row-reverse;
			label {
				margin: 0 var(--ee-margin-micro) 0 0;
			}
		}

		&--top-left,
		&--top-center,
		&--top-right {
			flex-direction: column;
			label {
				margin: 0 var(--ee-margin-micro) var(--ee-margin-micro);
			}
		}

		&--top-center,
		&--bottom-center,
		&--left-middle,
		&--right-middle {
			align-items: center;
		}
	}
}

.ee-base-input + .ee-base-input {
	margin-bottom: var(--ee-margin-micro);
}
