/** -------------------------------------------------------------------------
 * Event Espresso EntityList Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-editor-entity-list:not(.ee-rspnsv-table) {
    width: 101.3%;
}

.ee-editor-entity-list.ee-rspnsv-table {
    width: 100%;
}

.ee-entity-list-no-results {
    background: var(--ee-color-grey-14);
    color: var(--ee-text-on-grey-14);
    font-size: 1rem;
    font-weight: normal;
    padding: 4rem 2rem;
    text-align: center;
}
