/* accommodate $ or % after input (needs max 3rem space for currency sign) */

.ee-ticket-price-calculator input {
	&.ee-money-field.ee-sign-after,
	&.ee-percent-field.ee-sign-after {
		width: calc(100% - 1.5rem) !important;
	}

	&.ee-money-field.ee-sign-after.ee-curSign-2,
	&.ee-percent-field.ee-sign-after.ee-curSign-2 {
		width: calc(100% - 2.2rem) !important;
	}

	&.ee-money-field.ee-sign-after.ee-curSign-3,
	&.ee-percent-field.ee-sign-after.ee-curSign-3 {
		width: calc(100% - 2.8rem) !important;
	}

	&.ee-money-field.ee-sign-after.ee-curSign-4,
	&.ee-percent-field.ee-sign-after.ee-curSign-4 {
		width: calc(100% - 3.2rem) !important;
	}

	&.ee-money-field.ee-sign-before,
	&.ee-percent-field.ee-sign-before {
		width: calc(100% - 3rem) !important;
	}

	&.ee-money-field.ee-sign-before.ee-curSign-2,
	&.ee-percent-field.ee-sign-before.ee-curSign-2 {
		width: calc(100% - 3.7rem) !important;
	}

	&.ee-money-field.ee-sign-before.ee-curSign-3,
	&.ee-percent-field.ee-sign-before.ee-curSign-3 {
		width: calc(100% - 4.3rem) !important;
	}

	&.ee-money-field.ee-sign-before.ee-curSign-4,
	&.ee-percent-field.ee-sign-before.ee-curSign-4 {
		width: calc(100% - 4.7rem) !important;
	}
}

/* accommodate $ before and % after input (needs max 3rem space for currency sign + 1.5rem for %) */

/* accommodate $ or % after input (needs max 3rem space for currency sign) */

.ee-ticket-price-calculator {
	input {
		&.ee-money-field.ee-sign-after,
		&.ee-percent-field.ee-sign-after {
			width: calc(100% - 1.5rem) !important;
		}

		&.ee-money-field.ee-sign-after.ee-curSign-2,
		&.ee-percent-field.ee-sign-after.ee-curSign-2 {
			width: calc(100% - 2.25rem) !important;
		}

		&.ee-money-field.ee-sign-after.ee-curSign-3,
		&.ee-percent-field.ee-sign-after.ee-curSign-3 {
			width: calc(100% - 3rem) !important;
		}

		&.ee-money-field.ee-sign-after.ee-curSign-4 {
			width: calc(100% - 3.75rem) !important;
		}

		&.ee-percent-field {
			&.ee-sign-after.ee-curSign-4 {
				width: calc(100% - 3.75rem) !important;
			}

			&.ee-sign-before {
				width: 100% !important;

				&.ee-curSign-2 {
					width: 100% !important;
				}

				&.ee-curSign-3 {
					width: calc(100% - 0.75rem) !important;
				}

				&.ee-curSign-4 {
					width: calc(100% - 1.5rem) !important;
				}
			}
		}

		&.ee-money-field {
			&.ee-sign-before {
				width: calc(100% - 1.5rem) !important;

				&.ee-curSign-2 {
					width: calc(100% - 2.25rem) !important;
				}

				&.ee-curSign-3 {
					width: calc(100% - 3rem) !important;
				}

				&.ee-curSign-4 {
					width: calc(100% - 3.75rem) !important;
				}
			}

			&.ee-sign-after,
			&.ee-sign-before {
				margin-left: 0;
				margin-right: 0;
			}
		}

		&.ee-percent-field {
			&.ee-sign-after {
				margin-left: 0;
				margin-right: 0;
			}

			&.ee-sign-before {
				margin-left: 0;
				margin-right: 0;

				&.ee-curSign-2,
				&.ee-curSign-3,
				&.ee-curSign-4 {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}

	.ee-percent-sign.ee-sign-after {
		&.ee-curSign-2,
		&.ee-curSign-3,
		&.ee-curSign-4 {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

/* accommodate $ before and % after input (needs max 3rem space for currency sign + 1.5rem for %) */

/* accommodate $ before and % after input (needs max 3rem space for currency sign + 1.5rem for %) */

/* accommodate $ or % after input (needs max 3rem space for currency sign) */

.ee-ticket-price-calculator {
	input {
		&.ee-money-field.ee-sign-after,
		&.ee-percent-field.ee-sign-after {
			width: calc(100% - 1.5rem) !important;
		}

		&.ee-money-field.ee-sign-after.ee-curSign-2,
		&.ee-percent-field.ee-sign-after.ee-curSign-2 {
			width: calc(100% - 2.2rem) !important;
		}

		&.ee-money-field.ee-sign-after.ee-curSign-3,
		&.ee-percent-field.ee-sign-after.ee-curSign-3 {
			width: calc(100% - 2.8rem) !important;
		}

		&.ee-money-field.ee-sign-after.ee-curSign-4,
		&.ee-percent-field.ee-sign-after.ee-curSign-4 {
			width: calc(100% - 3.2rem) !important;
		}

		&.ee-money-field.ee-sign-before,
		&.ee-percent-field.ee-sign-before {
			width: calc(100% - 3rem) !important;
		}

		&.ee-money-field.ee-sign-before.ee-curSign-2,
		&.ee-percent-field.ee-sign-before.ee-curSign-2 {
			width: calc(100% - 3.7rem) !important;
		}

		&.ee-money-field.ee-sign-before.ee-curSign-3,
		&.ee-percent-field.ee-sign-before.ee-curSign-3 {
			width: calc(100% - 4.3rem) !important;
		}

		&.ee-money-field.ee-sign-before.ee-curSign-4,
		&.ee-percent-field.ee-sign-before.ee-curSign-4 {
			width: calc(100% - 4.7rem) !important;
		}

		&.ee-money-field {
			&.ee-sign-after {
				margin-left: 0;
				margin-right: 0;
			}

			&.ee-sign-before {
				margin-left: 0;
				margin-right: 1.5rem;

				/* to line up with % fields */
			}
		}

		&.ee-percent-field {
			&.ee-sign-after {
				margin-left: 0;
			}

			&.ee-sign-before {
				margin-left: 1.5rem;

				/* to line up with $ fields */

				&.ee-curSign-2 {
					margin-left: 2.2rem;

					/* to line up with $ fields */
				}

				&.ee-curSign-3 {
					margin-left: 2.8rem;

					/* to line up with $ fields */
				}

				&.ee-curSign-4 {
					margin-left: 3.2rem;

					/* to line up with $ fields */
				}
			}
		}
	}

	.ee-percent-sign.ee-sign-after {
		float: right;

		&.ee-curSign-2 {
			margin-right: 0.75rem;
		}

		&.ee-curSign-3 {
			margin-right: 1.5rem;
		}

		&.ee-curSign-4 {
			margin-right: 2.25rem;
		}
	}
}
/* accommodate $ before and % after input (needs max 3rem space for currency sign + 1.5rem for %) */

.ee-two-column-admin {
	input {
		&.ee-money-field {
			&.ee-sign-after,
			&.ee-sign-before {
				text-align: right;
				width: calc(100% - (var(--ee-font-size-default) * 1.5));
			}

			&.ee-curSign-2 {
				width: calc(100% - (var(--ee-font-size-default) * 2.25));
			}
		}

		&.ee-money-field-2 {
			&.ee-curSign-3 {
				width: calc(100% - (var(--ee-font-size-default) * 3));
			}

			&.ee-curSign-4 {
				width: calc(100% - (var(--ee-font-size-default) * 3.75));
			}
		}
	}

	input {
		&.ee-money-field.ee-curSign-2 {
			width: calc(100% - (var(--ee-font-size-default) * 2.25));
		}

		&.ee-money-field-2 {
			&.ee-curSign-3 {
				width: calc(100% - (var(--ee-font-size-default) * 3));
			}

			&.ee-curSign-4 {
				width: calc(100% - (var(--ee-font-size-default) * 3.75));
			}
		}
	}

	.ee-currency-sign,
	.ee-percent-sign {
		padding: var(--ee-input-padding-top) var(--ee-padding-micro);
		font-size: calc(var(--ee-font-size-default) * 1.25);
		line-height: calc(var(--ee-font-size-default) * 1.25);
		vertical-align: middle;
	}

	.ee-currency-sign {
		width: calc(var(--ee-font-size-default) * 1.5);

		&.ee-curSign-2 {
			font-size: calc(var(--ee-font-size-default) * 1.125);
			line-height: calc(var(--ee-font-size-default) * 1.125);
			width: calc(var(--ee-font-size-default) * 2.2);
		}

		&.ee-curSign-3 {
			font-size: calc(var(--ee-font-size-default) * 1.05);
			line-height: calc(var(--ee-font-size-default) * 1.05);
			width: calc(var(--ee-font-size-default) * 2.8);
		}

		&.ee-curSign-4 {
			font-size: var(--ee-font-size-default);
			line-height: var(--ee-font-size-default);
			width: calc(var(--ee-font-size-default) * 3.2);
		}
	}

	.ee-percent-sign {
		text-align: left;
		width: calc(var(--ee-font-size-default) * 1.5);
	}

	.ee-currency-sign {
		&.ee-sign-before {
			float: left;
			text-align: right;
		}

		&.ee-sign-after {
			float: right;
			text-align: left;
		}
	}
}
