/** just some styles **/
.hello {
    background: #fff;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
}
@media (min-resolution: 3dppx) {
    .image {
        background-color: white;
    }
    .something {}
}