.ee-text-links .item_display {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #b2b2b2;
	padding: 5px;
	margin-right: 10px;
}

.ee-text-links .gateway-active a {
	padding-left: 20px;
	background: transparent url(images/sprocket_green.png) no-repeat left;
}

.ee-text-links .item_display a {
	color: white;
	text-decoration: none;
}


.ee-text-links a {
	padding-left: 20px;
	background: transparent url(images/sprocket_s_light.png) no-repeat left;
}

img.ee_media_image{
	max-width:140px;
	max-height:95px;
}

.form-table {
	width: 100%;
}

.form-table th {
	width: 10%;
	
}

.form-table textarea  {
	width: 100%;
}

.form-table input {
	/*width: 100%;*/
}