/** -------------------------------------------------------------------------
 * Event Espresso EditorTicketActionsMenu Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-editor-ticket-actions-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ee-editor-ticket-actions-menu .components-dropdown-menu {
    padding: 0;
}

.ee-editor-ticket-actions-menu .components-dropdown-menu__menu {
    background: var(--ee-background-color);
    box-sizing: border-box;
    padding: var(--ee-padding-smaller) var(--ee-padding-smaller) var(--ee-padding-small);
}

.ee-editor-ticket-actions-menu .components-dropdown-menu__menu .components-dropdown-menu__menu-item {
    color: var(--ee-default-text-color);
    padding: var(--ee-padding-tiny) var(--ee-padding-default) var(--ee-padding-tiny) var(--ee-padding-smaller);
    white-space: nowrap;
}

.ee-editor-ticket-actions-menu .components-dropdown-menu__popover .components-popover__content {
    box-shadow: var(--ee-box-shadow-small);
    width: auto;
}

.ee-editor-ticket-actions-menu .components-popover:not(.is-mobile) .components-popover__content {
    min-width: unset;
}

.ee-editor-ticket-actions-menu .components-dropdown-menu .components-dropdown-menu__toggle {
    border: none;
    color: var(--ee-default-text-color);
    padding: var(--ee-padding-tiny) var(--ee-padding-micro);
}
.ee-editor-ticket-actions-menu .components-dropdown-menu .components-dropdown-menu__toggle:hover,
.ee-editor-ticket-actions-menu .components-dropdown-menu .components-dropdown-menu__toggle:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
    border: none;
    box-shadow: var(--ee-box-shadow-wp-icon-btn-hover);
}
.ee-editor-ticket-actions-menu .components-dropdown-menu .components-dropdown-menu__toggle:hover,
.ee-editor-ticket-actions-menu .components-dropdown-menu .components-dropdown-menu__toggle:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
    color: var(--ee-color-primary) !important;
}
.ee-editor-ticket-actions-menu .components-dropdown-menu .components-dropdown-menu__toggle:focus {
    color: var(--ee-color-black);
    box-shadow: var(--ee-box-shadow-wp-icon-btn-focus);
    outline: 2px solid transparent;
    outline-offset: -2px;
}
