# This workflow comments on and closes issues labeled as support requests.

name: 'Support Requests'

on:
  issues:
    types: [labeled, unlabeled, reopened]

jobs:
  action:
    runs-on: ubuntu-latest
    steps:
      - uses: dessant/support-requests@v2
        with:
          github-token: ${{ secrets.GH_ACTIONS_ACCESS_TOKEN }}
          # Label used to mark issues as support requests
          support-label: 'category:support'
          # Comment to post on issues marked as support requests. Add a link
          # to a support page
          issue-comment: >
            Hello @{issue-author}! We use the issue tracker exclusively for bug reports and feature requests.
            However, this issue appears to be a support request. Please use our [support forums](https://eventespresso/support/forums) to get help with the project.
          # Whether to close issues marked as support requests
          close-issue: true
          lock-issue: false
