$input-number: 'input[type=' number ']';

.ee-input.ee-input {
	&__price-field {
		&--has-error {
			// this was used to increase specificity, more info: https://sass-lang.com/documentation/at-rules/at-root
			@at-root #{$input-number}#{&} {
				background-color: var(--ee-text-on-red-low-contrast);
				border-color: var(--ee-color-red-low-contrast);
			}
		}
	}
}
